<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

	#{user.goMarketing}

    <t:saveState value="#{affilatesForm}" />

    <h:panelGroup>

		<h:form id="affilatesForm">

    	<h:panelGrid border="0" columns="12" >

	   		<t:outputText for="locationName" value="#{msgs['affilate.name']}"/>
	        <t:inputText id="affName" size="10" value="#{affilatesForm.affName}" ></t:inputText>
	        <t:message id="affNameError" for="affName" replaceIdWithLabel="true" styleClass="error"/>

	        <h:panelGrid width="5px" />
	        
  	   		<t:outputText for="locationKey" value="#{msgs['affilate.key']}"/>
	        <t:inputText id="affKey" size="10" value="#{affilatesForm.affKey}" ></t:inputText>
	        <t:message id="affKeyError" for="affKey" replaceIdWithLabel="true" styleClass="error"/>

	        <h:panelGrid width="5px" />
			<t:outputLabel value="#{msgs['affiliate.manager']}" />
	     	<t:selectOneMenu id="mediaBuyer" value="#{affilatesForm.affManagerId}" >
	     		<f:selectItem  itemLabel="#{msgs['general.all']}" itemValue="0" />
				<f:selectItems value="#{writer.mediaBuyersSI}"/>
	        </t:selectOneMenu>
			<h:panelGrid width="5px" />
	         <t:commandLink action="#{affilatesForm.updateList}">
		          <h:outputText value="#{msgs['button.search']}" />
			 </t:commandLink>

		</h:panelGrid>

		<br/>
    	<h:outputText styleClass="general_message" rendered="#{affilatesForm.listSize==0}" value="#{msgs['affilates.emptylist']}"/>

	   	<t:dataTable id="data"
	        styleClass="scrollerTable"
	        headerClass="standardTable_Header"
	        footerClass="standardTable_Header"
	        rowClasses="standardTable_Row1,standardTable_Row2"
	        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
	        var="v"
	        preserveDataModel="false"
	        rows="#{user.rowsByMenu}"
	        renderedIfEmpty="false"
	        cellpadding="0"
	        cellspacing="1"
	        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
			rowOnMouseOut="this.style.backgroundColor=old"
	        value="#{affilatesForm.list}" >

			<t:column>
		       <f:facet name="header">
		           <h:outputText value="#{msgs['affilate.id']}"/>
		       </f:facet>
		        <t:commandLink action="#{affilatesForm.navEdit}" immediate="true">
		            <h:outputText value="#{v.id}" />
		            <f:setPropertyActionListener target="#{affilatesForm.affilate}" value="#{v}" />
				</t:commandLink>
			</t:column>

		   <t:column>
		       <f:facet name="header">
		           <h:outputText value="#{msgs['affilate.name']}"/>
		       </f:facet>
	            <h:outputText value="#{v.name}" />
		   </t:column>

		   <t:column>
		       <f:facet name="header">
		           <h:outputText value="#{msgs['affilate.key']}"/>
		       </f:facet>
	            <h:outputText value="#{v.key}" />
		   </t:column>

			<t:column>
		       <f:facet name="header">
		           <h:outputText value="#{msgs['affilate.code']}"/>
		       </f:facet>
	            <h:outputText value="#{v.specialCode}" />
		   </t:column>
			
		   <h:column>
				<f:facet name="header">
		           <h:outputText value="#{msgs['affilate.priority']}"/>
		       </f:facet>
		       <h:outputText value="#{v.affiliatesPriorityText}"/>
		   </h:column>
		   
		   <h:column>
				<f:facet name="header">
		           <h:outputText value="#{msgs['affilate.active']}"/>
		       </f:facet>
		       <h:outputText value="#{v.activeAffiliate}"/>
		   </h:column>
		   
		   <h:column>
				<f:facet name="header">
		           <h:outputText value="#{msgs['affiliate.manager']}"/>
		       </f:facet>
		       <h:outputText value="#{v.affiliateManagerName}"/>
		   </h:column>

		</t:dataTable>

		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center;" columns="1" border="0" width="100%" >
	    	<t:dataScroller id="scroll_1"
	            for="data"
	            fastStep="10"
	            pageCountVar="pageCount"
	            pageIndexVar="pageIndex"
	            paginator="true"
	            paginatorMaxPages="9"
	            styleClass="scroller"
	            paginatorActiveColumnClass="paginator_active"
	            paginatorColumnClass="paginator"
	            paginatorTableClass="paginator"
	            immediate="true"
	            rendered="#{affilatesForm.listSize>user.rowsByMenu}">
	            <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
			</t:dataScroller>

	    </h:panelGrid>

	     <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
	     	<t:commandLink action="#{affilatesForm.navNew}">
	            <h:outputText value="#{msgs['affilate.add']}" />
			</t:commandLink>
	 	 </h:panelGrid>

	  </h:form>

    </h:panelGroup>

	</ui:define>
</ui:composition>

</html>

