<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

 <SCRIPT LANGUAGE="JavaScript" >
	function confirmit() {
			if (!confirm('#{msgs['combination.remove.pixel.confirm']}')) {
				return false;
			}
			return true;
 	}
	</SCRIPT>

    <h:panelGroup>

        <h:form id="affilatesForm">

			<t:saveState id="affilatesFormSave" value="#{affilatesForm.affilate}" />
			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{affilatesForm.affilate.id>0}" value="#{msgs['affilate.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{affilatesForm.affilate.id>0}" value="#{affilatesForm.affilate.id}"></h:outputText>

				<t:outputLabel  for="name" value="#{msgs['affilate.name']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="name" size="15" maxlength="30" value="#{affilatesForm.affilate.name}" required="true"></t:inputText>
   	              	<t:message id="nameError" for="name" replaceIdWithLabel="true" styleClass="error"/>
    			</h:panelGrid>

				<t:outputLabel  for="key" value="#{msgs['affilate.key']}" />
				<h:panelGrid border="0" columns="2" rendered="#{affilatesForm.affilate.id == 0}">
	                <t:inputText id="key" size="15" maxlength="30" value="#{affilatesForm.affilate.key}" required="true">
		                <f:validateLongRange minimum="0" />
		            </t:inputText>
   	                <t:message id="keyError" for="key" replaceIdWithLabel="true" styleClass="error"/>
    			</h:panelGrid>
    			<h:outputText styleClass="data_display" rendered="#{affilatesForm.affilate.id>0}" value="#{affilatesForm.affilate.key}"></h:outputText>

    			<t:outputLabel  for="specialCode" value="#{msgs['affilate.code']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="specialCode" size="15" maxlength="30" value="#{affilatesForm.affilate.specialCode}" required="false" immediate="true"></t:inputText>
   	                <t:message id="specialCodeError" for="specialCode" replaceIdWithLabel="true" styleClass="error"/>
    			</h:panelGrid>               

    			<h:outputLabel  for="priorityId" value="#{msgs['issues.priority']}"/>
				<h:panelGrid  border="0" columns="2">
		       		<h:selectOneMenu id="priorityId" value="#{affilatesForm.affilate.priorityId}" required="true" >
           				<f:selectItems value="#{writer.issuePrioritiesSI}" />
    	       	   </h:selectOneMenu>
        		   <t:message id="priorityIdError" for="priorityId" replaceIdWithLabel="true" styleClass="error"/>
        		</h:panelGrid>

    			<t:outputLabel for="existsPixelId" value="#{msgs['combination.pixels']}" />
				<h:panelGrid border="0" columns="1" width="300px" align="left">
				  	<t:dataTable id="data"
				        styleClass="scrollerTable"
				        headerClass="standardTable_Header"
				        footerClass="standardTable_Header"
				        rowClasses="standardTable_Row1,standardTable_Row2"
				        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
				        var="v"
				        preserveDataModel="false"
				        rows=""
				        renderedIfEmpty="false"
				        cellpadding="0"
				        cellspacing="1"
				        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
				        value="#{affilatesForm.affilate.pixelsSi}" >

					   <h:column>
					       <f:facet name="header">
					           <h:outputText value="#{msgs['pixel.id']}"/>
					       </f:facet>
				            <h:outputText value="#{v.value}" />
					   </h:column>

					   <t:column>
					       <f:facet name="header">
					           <h:outputText value="#{msgs['pixel.name']}"/>
					       </f:facet>
				            <h:outputText value="#{v.label}" />
					   </t:column>

					   <t:column>
						<f:facet name="header" >
							<t:outputText value="#{msgs['action']}"/>
						</f:facet>
							<t:commandLink
								onclick="if(!confirmit()) return false;"
			               		action="#{affilatesForm.deletePixel}" immediate="true">
			               		<h:outputText value="#{msgs['combination.remove.pixel']}" />
			                    <f:setPropertyActionListener target="#{affilatesForm.pixel}" value="#{v}" />
							</t:commandLink>
						</t:column>

					</t:dataTable>
				</h:panelGrid>

    			<t:outputLabel for="pixelId" value="#{msgs['combination.add.pixel']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="pixelId" value="#{affilatesForm.affilate.pixelId}" required="true" >
			    		<f:selectItems value="#{writer.marketingPixelsAllSI}" />
				    </t:selectOneMenu>
				    <t:message id="pixelIdError" for="pixelId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel for="writer" value="#{msgs['affilate.writer']}" />
				<h:outputText styleClass="data_display" id="writer" value="#{affilatesForm.affilate.writerName}"></h:outputText>
				
				<t:outputLabel value="#{msgs['affiliate.manager']}" />
		     	<t:selectOneMenu id="mediaBuyer" value="#{affilatesForm.affilate.affiliateManagerId}" >
					<f:selectItems value="#{writer.mediaBuyersSI}"/>
		        </t:selectOneMenu>
				
				<t:outputLabel for="active" value="#{msgs['affilate.active']}" />
			     	<t:selectOneMenu id="active" value="#{affilatesForm.affilate.active}">
			    		<f:selectItem itemLabel="#{msgs['affilate.active']}" itemValue="true" />
			    		<f:selectItem itemLabel="#{msgs['affilate.inactive']}" itemValue="false" />
				    </t:selectOneMenu>
				    
				
				<t:outputLabel  for="siteLink" value="#{msgs['affilate.site.link']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="siteLink" size="40" maxlength="40" value="#{affilatesForm.affilate.siteLink}" required="false" immediate="true"></t:inputText>
    			</h:panelGrid>  

            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

	            <t:commandLink action="#{affilatesForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>
			 </h:panelGrid>

			 </h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>