<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

	#{user.goMarketing}

    <t:saveState value="#{campaignsForm}" />

    <h:panelGroup>

		<h:form id="campaignsForm">

    	<h:panelGrid border="0" columns="17" >

    	<h:outputLabel for="from" value="#{msgs['campaigns.from']}"/>
		<h:inputText styleClass="input_text" id="from" value="#{campaignsForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['campaignsForm'].elements['campaignsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
			<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
	    </h:inputText>
	    <A HREF="#" onClick="cal.select(document.forms['campaignsForm'].elements['campaignsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
        </A>
		<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>

        <h:outputLabel for="to" value="#{msgs['campaigns.to']}" rendered="#{!campaignsForm.disToDate}" />
		<h:panelGrid border="0" columns="3" rendered="#{!campaignsForm.disToDate}">
			<h:inputText styleClass="input_text" id="to" value="#{campaignsForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['campaignsForm'].elements['campaignsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
		    </h:inputText>
		    <A HREF="#" onClick="cal.select(document.forms['campaignsForm'].elements['campaignsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
	       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        </A>
			<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
		</h:panelGrid>

		<h:outputText value="#{msgs['campaign.disable.to']}"/>
	    <h:selectBooleanCheckbox value="#{campaignsForm.disToDate}" onclick="this.form.submit();"
	    	valueChangeListener="#{campaignsForm.updateChange}" />

   		<t:outputText for="campaignName" value="#{msgs['campaigns.campaign.name']}"/>
        <t:inputText id="campaignName" size="10" value="#{campaignsForm.campaignName}" ></t:inputText>
        <t:message id="campaignNameError" for="campaignName" replaceIdWithLabel="true" styleClass="error"/>

   		<t:outputText for="campaignId" value="#{msgs['campaigns.camid']}"/>
   		<h:panelGrid border="0" columns="2">
	        <t:inputText id="campaignId" size="5" value="#{campaignsForm.campaignId}" >
	        	<f:validateDoubleRange />
	        </t:inputText>
	        <t:message id="campaignIdError" for="campaignId" replaceIdWithLabel="true" styleClass="error"/>
	    </h:panelGrid>

		<t:outputLabel  for="paymentRecId" value="#{msgs['campaigns.payment.recipient']}" />
     	<t:selectOneMenu id="paymentRecId" value="#{campaignsForm.paymentRecipient}" >
			<f:selectItems value="#{user.partnerMarketingSelected ? writer.marketingPaymentRecipientsAllWriterSkinId : writer.marketingPaymentRecipientsAllSI}" />
        </t:selectOneMenu>
        
        <t:outputLabel  for="marketingChanId" value="#{msgs['campaigns.marketing.channels']}" />
     	<t:selectOneMenu id="marketingChanId" value="#{campaignsForm.marketingChannel}" >
			<f:selectItems value="#{writer.marketingChannelsTypesSIAll}" />
        </t:selectOneMenu>
        
        <t:outputLabel  for="manager" value="#{msgs['marketing.report.campaign.manager']}" />
		<t:selectOneMenu id="manager" value="#{campaignsForm.marketingCampaignManager}" >
		    <f:selectItems value="#{writer.allMarketingCampaignManagers}" />
		</t:selectOneMenu>

	</h:panelGrid>

	<h:panelGrid border="0" columns="4">
		<t:outputLabel  for="paymentTypeId" value="#{msgs['campaigns.payment.types']}" />
     	<t:selectOneMenu id="paymentTypeId" value="#{campaignsForm.paymentType}" >
			<f:selectItems value="#{writer.marketingPaymentTypesSIAll}" />
        </t:selectOneMenu>

        <h:panelGrid width="5px" />

         <t:commandLink action="#{campaignsForm.updateList}">
	                <h:outputText value="#{msgs['button.search']}" />
		 </t:commandLink>

	</h:panelGrid>


    <h:outputText styleClass="general_message" rendered="#{campaignsForm.listSize==0}"	value="#{msgs['campaigns.emptylist']}"/>

	<br/>

   	<t:dataTable id="data"
        styleClass="scrollerTable"
        headerClass="standardTable_Header"
        footerClass="standardTable_Header"
        rowClasses="standardTable_Row1,standardTable_Row2"
        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered"
        var="v"
        preserveDataModel="false"
        rows="#{user.rowsByMenu}"
        renderedIfEmpty="false"
        cellpadding="0"
        cellspacing="1"
        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
		rowOnMouseOut="this.style.backgroundColor=old"
        value="#{campaignsForm.list}" >

	   <h:column>
	       <f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.id']}"/>
	       </f:facet>
	        <t:commandLink action="#{campaignsForm.navEdit}" immediate="true">
	            <h:outputText value="#{v.id}" />
	            <f:setPropertyActionListener target="#{campaignsForm.campaign}" value="#{v}" />
			</t:commandLink>
	   </h:column>

	   <t:column>
	       <f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.campaign.name']}"/>
	       </f:facet>
            <h:outputText value="#{v.name}" />
	   </t:column>

	   <t:column>
	       <f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.payment.type']}"/>
	       </f:facet>
            <h:outputText value="#{v.paymentTypeDescription}" />
	   </t:column>

	   <t:column>
	       <f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.payment.recipient']}"/>
	       </f:facet>
            <h:outputText value="#{v.paymentRecipientAgent}" />
	   </t:column>

	   <h:column>
			<f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.campaign.start.date']}"/>
	       </f:facet>
	       <h:outputText escape="false" value="#{v.startDateTxt}" />
	   </h:column>

	   <h:column>
			<f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.campaign.end.date']}"/>
	       </f:facet>
	       <h:outputText escape="false" value="#{v.endDateTxt}" />
	   </h:column>

	   <h:column>
			<f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.amount']}"/>
	       </f:facet>
	       <h:outputText escape="false" value="#{v.paymentAmountTxt}" />
	   </h:column>

	   <h:column>
			<f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.comments']}"/>
	       </f:facet>
	       <h:outputText escape="false" value="#{v.comments}" />
	   </h:column>

	   <h:column>
			<f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.writer']}"/>
	       </f:facet>
	       <h:outputText escape="false" value="#{v.createdByWriter}" />
	   </h:column>

	   <h:column>
			<f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.campaign.manager']}"/>
	       </f:facet>
	       <h:outputText escape="false" value="#{v.campaignManagerTxt}" />
	   </h:column>
	   
	   <h:column>
			<f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.campaign.marketing.channel.priority']}"/>
	       </f:facet>
	       <h:outputText escape="false" value="#{v.marketingChannelTxt}" />
	   </h:column>
	    <h:column>
			<f:facet name="header">
	           <h:outputText value="#{msgs['campaigns.campaign.unitprice']}"/>
	       </f:facet>
	       <h:outputText escape="false" value="#{v.unitPriceTxt}" />
	        <t:outputLabel value="$" />
	   </h:column>
	  
	</t:dataTable>

	<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center;" columns="1" border="0" width="100%" >
    	<t:dataScroller id="scroll_1"
            for="data"
            fastStep="10"
            pageCountVar="pageCount"
            pageIndexVar="pageIndex"
            paginator="true"
            paginatorMaxPages="9"
            styleClass="scroller"
            paginatorActiveColumnClass="paginator_active"
            paginatorColumnClass="paginator"
            paginatorTableClass="paginator"
            immediate="true"
            rendered="#{campaignsForm.listSize>user.rowsByMenu}"
            >
            <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

		</t:dataScroller>

    </h:panelGrid>

     <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
     	<t:commandLink action="#{campaignsForm.navNew}">
            <h:outputText value="#{msgs['campaigns.add']}" />
		</t:commandLink>
 	  </h:panelGrid>

    </h:form>

    </h:panelGroup>

	</ui:define>
</ui:composition>

</html>

