<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

    <h:panelGroup>

        <h:form id="campaignsForm">

			<t:saveState id="campaignFormSave" value="#{campaignsForm.campaign}" />
			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{campaignsForm.campaign.id>0}" value="#{msgs['campaigns.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{campaignsForm.campaign.id>0}" value="#{campaignsForm.campaign.id}"></h:outputText>

				<t:outputLabel  for="name" rendered="#{campaignsForm.campaign.id>0}" value="#{msgs['campaigns.campaign.name']}" />
                <t:inputText id="name" rendered="#{campaignsForm.campaign.id>0}" size="15" maxlength="30" value="#{campaignsForm.campaign.name}" readonly="true"></t:inputText>

				<t:outputLabel for="paymentTypeId" value="#{msgs['campaigns.payment.type']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="paymentTypeId" value="#{campaignsForm.campaign.paymentTypeId}" required="true">
				     	<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems value="#{writer.marketingPaymentTypesSI}" />
			        </t:selectOneMenu>
			        <t:message id="paymentTypeIdError" for="paymentTypeId" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

				<t:outputLabel for="paymentRecipientId" value="#{msgs['campaigns.payment.recipient']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="paymentRecipientId" value="#{campaignsForm.campaign.paymentRecipientId}" required="true">
			     		<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems value="#{user.partnerMarketingSelected ? writer.marketingPaymentRecipientsAllWriterSkinId : writer.marketingPaymentRecipientsAllSI}" />
			        </t:selectOneMenu>
			        <t:message id="paymentRecipientIdError" for="paymentRecipientId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel  for="territoryId" value="#{msgs['campaigns.territories']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="territoryId" value="#{campaignsForm.campaign.territoryId}" required="true">
				     	<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems value="#{user.partnerMarketingSelected ? writer.marketingTerritoriesSIAllWriterSkinId : writer.marketingTerritoriesSI}" />
			        </t:selectOneMenu>
			        <t:message id="territoryIdError" for="territoryId" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

				<t:outputLabel for="sourceId" value="#{msgs['campaigns.sourcse']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="sourceId" value="#{campaignsForm.campaign.sourceId}" required="true" >
				     	<f:selectItem itemLabel="" itemValue="" />
			    		<f:selectItems value="#{writer.marketingSourcesLongSI}" />
				    </t:selectOneMenu>
				    <t:message id="sourceIdError" for="sourceId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				
				<t:outputLabel for="channelId" value="#{msgs['campaigns.marketing.channels']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="channelId" value="#{campaignsForm.campaign.marketingChannelId}" required="true" >
				     	<f:selectItem itemLabel="" itemValue="" />
			    		<f:selectItems value="#{writer.marketingChannelsTypesSI}" />
				    </t:selectOneMenu>
				    <t:message id="channelIdError" for="channelId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

		    	<h:outputLabel for="from" value="#{msgs['campaigns.campaign.start.date']}"/>
		    	<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="from" value="#{campaignsForm.campaign.startDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['campaignsForm'].elements['campaignsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
				    <A HREF="#" onClick="cal.select(document.forms['campaignsForm'].elements['campaignsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

		        <h:outputLabel for="to" value="#{msgs['campaigns.campaign.end.date.est']}" rendered="#{!campaignsForm.campaign.disToDate}" />
				<h:panelGrid border="0" columns="5" rendered="#{!campaignsForm.campaign.disToDate}" >
					<h:inputText styleClass="input_text" id="to" value="#{campaignsForm.campaign.endDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['campaignsForm'].elements['campaignsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
				    <A HREF="#" onClick="cal.select(document.forms['campaignsForm'].elements['campaignsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
			       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
					<h:outputText value="#{msgs['campaign.disable.to']}"/>
				    <h:selectBooleanCheckbox value="#{campaignsForm.campaign.disToDate}" onclick="this.form.submit();"
				    	valueChangeListener="#{campaignsForm.campaign.updateChangeCamp}" />
				</h:panelGrid>

				<h:outputText value="#{msgs['campaign.disable.to']}" rendered="#{campaignsForm.campaign.disToDate}"/>
			    <h:selectBooleanCheckbox value="#{campaignsForm.campaign.disToDate}" onclick="this.form.submit();" rendered="#{campaignsForm.campaign.disToDate}"
			    	valueChangeListener="#{campaignsForm.campaign.updateChangeCamp}" />

				<t:outputLabel for="amount" value="#{msgs['campaigns.amount.comments']}" />
				<h:panelGrid border="0" columns="2" >
	                <t:inputText id="amount" size="8" value="#{campaignsForm.campaign.paymentAmount}" >
						<f:validateDoubleRange />
	                </t:inputText>
	            	<h:panelGrid border="0" columns="2">
		          		<h:inputTextarea escape="false" cols="50" rows="5" id="comments" value="#{campaignsForm.campaign.comments}"  >
	   			           	<f:validateLength maximum="2000"/>
	        	   		</h:inputTextarea>
	            		<t:message id="commentsError" for="comments" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGrid>
				</h:panelGrid>

				<t:outputLabel for="desc" value="#{msgs['campaigns.description']}" />
				<h:panelGrid border="0" columns="2" >
	            	<h:panelGrid border="0" columns="2">
		          		<h:inputTextarea escape="false" cols="50" rows="5" id="desc" value="#{campaignsForm.campaign.description}"  >
	   			           	<f:validateLength maximum="4000"/>
	        	   		</h:inputTextarea>
	            		<t:message id="descError" for="desc" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGrid>
				</h:panelGrid>

				<t:outputLabel for="priority" value="#{msgs['campaigns.priority']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="priority" value="#{campaignsForm.campaign.priority}" required="true">
						<f:selectItems value="#{applicationData.prioritySI}" />
			        </t:selectOneMenu>
			        <t:message id="priorityError" for="priority" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

				<t:outputLabel  for="writer" value="#{msgs['campaigns.writer']}" />
				<h:outputText styleClass="data_display" value="#{campaignsForm.campaign.createdByWriter}"></h:outputText>

				<t:outputLabel value="#{msgs['campaigns.campaign.manager']}" />
		     	<t:selectOneMenu id="mediaBuyer" value="#{campaignsForm.campaign.campaignManagerId}" >
					<f:selectItems value="#{writer.mediaBuyersSI}"/>
		        </t:selectOneMenu>

            </h:panelGrid>
            <h:panelGrid border="0" columns="4">
				<t:outputLabel value="#{msgs['campaigns.campaign.unitprice']}" />
				  <t:inputText id="UnitPrice" size="15" maxlength="30" value="#{campaignsForm.campaign.unitPriceTxt}" validator="#{campaignsForm.validateUnitPrice}">
				 </t:inputText>
				 <t:outputLabel value="$" />
				<t:message id="msgError" for="UnitPrice" replaceIdWithLabel="true" styleClass="error"/>
	          </h:panelGrid>
			 <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

	            <t:commandLink action="#{campaignsForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>
			 </h:panelGrid>
				
			 </h:panelGrid>

        </h:form>

    </h:panelGroup>



</ui:define>
</ui:composition>

</html>