<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js">
    </script>

	#{user.goMarketing}

    <t:saveState value="#{combinationsForm}" />

    <h:panelGroup>

		<h:form id="combinationsFormSeries">

		<h:panelGrid columns="12" >
			
	        <h:panelGrid width="5px" />	       
		</h:panelGrid>
	<br/>

   	<t:dataTable id="data"
        styleClass="scrollerTable"
        headerClass="standardTable_Header"
        footerClass="standardTable_Header"
        rowClasses="standardTable_Row1,standardTable_Row2"
        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
        var="v"
        preserveDataModel="false"
        rows="#{user.rowsByMenu}"
        renderedIfEmpty="false"
        cellpadding="0"
        cellspacing="1"
        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
		rowOnMouseOut="this.style.backgroundColor=old"
		varDetailToggler="detailToggler"
		binding="#{dataTableSeries}"
        value="#{combinationsForm.seriesList}" >
	 
	   <h:column >
	       <f:facet name="header"  >
	           <h:outputText value="#{msgs['combination.series.num']}"/>
	       </f:facet>
				<h:outputText value="#{v.seriesNum}"/>
	   </h:column>	   
	   
	   <t:column > 
	       <f:facet name="header" >
	           <h:outputText value="#{msgs['campaigns.campaign.name']}" />
	       </f:facet>
				<t:selectOneMenu  value="#{v.campaignId}" disabled="true">
			    		<f:selectItems value="#{user.partnerMarketingSelected ? writer.marketingCampaignsLongSIByWriterID : writer.marketingCampaignsLongSI}" />			    			   		  						    	
				    </t:selectOneMenu>
	   </t:column>
	   
		<t:column > 
	       <f:facet name="header" >
	           <h:outputText value="#{msgs['medium.name']}" />
	       </f:facet>
				<t:selectOneMenu  value="#{v.mediumId}"    >
			    		<f:selectItems value="#{writer.marketingMediumsNoAllSI}" />			    			   		  						    	
				    </t:selectOneMenu>
	   </t:column>
	   
		<t:column > 
	       <f:facet name="header" >
	           <h:outputText value="#{msgs['content.name']}"/>
	       </f:facet>
				<t:selectOneMenu  value="#{v.contentId}"    >
			    		<f:selectItems value="#{writer.marketingContentsNoAllSI}" />			    			   		  						    	
				    </t:selectOneMenu>
	   </t:column>
	   
		<t:column > 
	       <f:facet name="header" > 
	           <h:outputText value="#{msgs['combination.size']}" />
	       </f:facet>
				<t:selectOneMenu  value="#{v.sizeId}">
			    		<f:selectItems value="#{writer.marketingSizesLongSI}" />			    			   		  						    	
				    </t:selectOneMenu>
	   </t:column>
	   
		<t:column > 
	       <f:facet name="header" >
	           <h:outputText value="#{msgs['type.name']}"/>
	       </f:facet>
				<t:selectOneMenu  value="#{v.typeId}"    >
			    		<f:selectItems value="#{writer.marketingTypesLongSI}" />			    			   		  						    	
				    </t:selectOneMenu>
	   </t:column>
	   
	   <t:column > 
	       <f:facet name="header" >
	           <h:outputText value="#{msgs['location']}"/>
	       </f:facet>
				<t:selectOneMenu  value="#{v.locationId}"    >
			    		<f:selectItems value="#{writer.marketingLocationsLongSI}" />			    			   		  						    	
				    </t:selectOneMenu>
	   </t:column>
	   
		<t:column > 
	       <f:facet name="header" >
	           <h:outputText value="#{msgs['combination.add.pixel']}"/>
	       </f:facet>
				<h:selectManyListbox id="pixelId" value="#{v.seriesPx}"  style="height:50px">
	        		<f:selectItems value="#{writer.marketingPixelsAllSI}" />
	    	    </h:selectManyListbox>
	   </t:column>
	   
		<h:column >
	       <f:facet name="header">
	           <h:outputText value="#{msgs['combination.skin']}"/>
	       </f:facet>
				<t:selectOneMenu  value="#{v.skinId}" >
		    		<f:ajax render="domainlist"/>
		    		<f:selectItems value="#{writer.skinsLongSI}" />			    			   		  						    	
			    </t:selectOneMenu>
	   </h:column>
	   
		<t:column > 
	       <f:facet name="header" >
	           <h:outputText value="#{msgs['landing.name']}"/>
	       </f:facet>
				<t:selectOneMenu  value="#{v.landingPageId}"    >
					<f:ajax render="domainlist"/>
		    		<f:selectItems value="#{combinationsForm.listLandingPageNames}" />			    			   		  						    	
			    </t:selectOneMenu>
	   </t:column>
	   
		<t:column > 
	       <f:facet name="header"  >
	           <h:outputText value="#{msgs['combination.series.dp.pattern']}"/>
	       </f:facet>
	        		<h:inputText  value="#{v.dynamicParam}" />
	   </t:column>	   	  	   
	   
		<t:column > 
		   <f:facet name="header" >
	           <h:outputText value="#{msgs['combination.series.def.source.type']}" />
	       </f:facet>
				<t:selectOneMenu  value="#{v.urlSourceTypeId}"    >
					<f:ajax render="domainlist"/>
		    		<f:selectItems value="#{writer.marketingUrlSourceSI}" />			    			   		  						    	
			    </t:selectOneMenu>
	   </t:column>
		<t:column > 
			<f:facet name="header" >
	    		<h:outputText value="#{msgs['marketing.series.domain']}" />
	       	</f:facet>
			<t:selectOneMenu  id="domainlist" value="#{v.marketingDomain.id}" >
				<f:selectItems value="#{combinationsForm.marketingDomainsSeriesSI(v)}" />			    			   		  						    	
			</t:selectOneMenu>
	   	</t:column>
	   <h:column >
	       <f:facet name="header" >
	           <h:outputText value="" />
	       </f:facet>
	        <t:commandLink action="#{combinationsForm.deleteSeriesRow}" immediate="true">
	            <h:outputText value="#{msgs['delete.select']}" />
	            <f:setPropertyActionListener target="#{combinationsForm.combination}" value="#{v}" />
			</t:commandLink>
	   </h:column>
	
	</t:dataTable>

	<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center;" columns="1" border="0" width="100%" >
    	<t:dataScroller id="scroll_1"
            for="data"
            fastStep="10"
            pageCountVar="pageCount"
            pageIndexVar="pageIndex"
            paginator="true"
            paginatorMaxPages="9"
            styleClass="scroller"
            paginatorActiveColumnClass="paginator_active"
            paginatorColumnClass="paginator"
            paginatorTableClass="paginator"
            immediate="true"
            rendered="#{combinationsForm.seriesListSize > user.rowsByMenu}"
            >
            <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

		</t:dataScroller>

    </h:panelGrid>

 	  
						<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
					  		 <t:commandButton
				         			id="btnImage"
					         		image="/images/Insert_the_series_btn.png"
					         		onmouseover="Changepic('combinationsFormSeries:btnImage','#{facesContext.externalContext.requestContextPath}/images/Insert_the_series_btn.png')"
					         		onmouseout="Changepic('combinationsFormSeries:btnImage','#{facesContext.externalContext.requestContextPath}/images/Insert_the_series_btn_over.png')"
					         		onclick="gowait('combinationsFormSeries:btnImage','combinationsFormSeries:hiddenInserSeries','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
					         				 return myfaces.oam.submitForm('combinationsFormSeries','combinationsFormSeries:hiddenInserSeries');" >
				         	 </t:commandButton>

				         	 <h:commandLink
					         	    id="hiddenInserSeries"
								    action="#{combinationsForm.insertSeries}"
								    style="display:none">
						     </h:commandLink>

				        </h:panelGrid> 	  

    </h:form>

    </h:panelGroup>

	<script>
		function ClipBoard(url) {
	    	if (window.clipboardData &amp;&amp; clipboardData.setData) {
	        	clipboardData.setData('text', url);
	   		 }
		}
	</script>

	</ui:define>
</ui:composition>

</html>

