<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
     xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/jsp/templates/prime_template.xhtml">	


<ui:define name="content">

 <SCRIPT LANGUAGE="JavaScript" >
	function confirmit() {
			if (!confirm('#{msgs['combination.remove.pixel.confirm']}')) {
				return false;
			}
			return true;
 	}
 	
 	window.onload=brws
	function brws(){
		var trident = !!navigator.userAgent.match(/Trident\/7.0/);
		var rv = !!navigator.userAgent.indexOf("rv:11");
		var IE11 = trident &amp;&amp; rv;
		var IEold = ( navigator.userAgent.match(/MSIE/i) ? true : false );		
		if( IE11 || IEold){
			try {
				document.getElementById("d_clip_button").style.display="none";
				document.getElementById("d_clip_buttonCDN").style.display="none";
  			}
			catch(err){
			}
		} else {
			try {
				document.getElementById("copyClipboar").style.display="none";
				document.getElementById("copyClipboarCDN").style.display="none";
  			}
			catch(err) {
			}		
		}
			
	}
	</SCRIPT>
	
 <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/ZeroClipboard.js"></script>
    <h:panelGroup>

        <h:form id="combinationsForm">

			<t:saveState id="combinationFormSave" value="#{combinationsForm.combination}" />

			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{combinationsForm.combination.id>0}" value="#{msgs['combination.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{combinationsForm.combination.id>0}" value="#{combinationsForm.combination.id}"></h:outputText>

				<t:outputLabel for="skinId" value="#{msgs['combination.skin']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="skinId" value="#{combinationsForm.combination.skinId}" required="true" >
			     		<f:ajax render="marketingDomains"/>
				     	<f:selectItem itemLabel="" itemValue="" />
			    		<f:selectItems value="#{combinationsForm.urlSkins}" />
				    </t:selectOneMenu>
				    <t:message id="skinIdError" for="skinId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel for="campaignId" value="#{msgs['campaigns.campaign.name']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="campaignId" value="#{combinationsForm.combination.campaignId}" required="true" >
				     	<f:selectItem itemLabel="" itemValue="" />
			    		<f:selectItems value="#{user.partnerMarketingSelected ? writer.marketingCampaignsLongSIByWriterID : writer.marketingCampaignsLongSI}" />
				    </t:selectOneMenu>
				    <t:message id="campaignIdError" for="campaignId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel for="mediumId" value="#{msgs['medium.name']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="mediumId" value="#{combinationsForm.combination.mediumId}" required="true" >
				     	<f:selectItem itemLabel="" itemValue="" />
			    		<f:selectItems value="#{writer.marketingMediumsNoAllSI}" />
				    </t:selectOneMenu>
				    <t:message id="mediumIdError" for="mediumId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel for="contentId" value="#{msgs['content.name']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="contentId" value="#{combinationsForm.combination.contentId}" required="true" >
				     	<f:selectItem itemLabel="" itemValue="" />
			    		<f:selectItems value="#{writer.marketingContentsNoAllSI}" />
				    </t:selectOneMenu>
				    <t:message id="contentIdError" for="contentId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel for="sizeId" value="#{msgs['combination.size']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="sizeId" value="#{combinationsForm.combination.sizeId}" required="true" >
			    		<f:selectItems value="#{writer.marketingSizesLongSI}" />
				    </t:selectOneMenu>
				    <t:message id="sizeIdError" for="sizeId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel for="typeId" value="#{msgs['type.name']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="typeId" value="#{combinationsForm.combination.typeId}" required="true" >
			    		<f:selectItems value="#{writer.marketingTypesLongSI}" />
				    </t:selectOneMenu>
				    <t:message id="typeIdError" for="typeId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel for="locationId" value="#{msgs['location']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="locationId" value="#{combinationsForm.combination.locationId}" required="true" >
			    		<f:selectItems value="#{writer.marketingLocationsLongSI}" />
				    </t:selectOneMenu>
				    <t:message id="locationIdError" for="locationId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				
				<t:outputLabel value="#{msgs['landing.page.type']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu value="#{combinationsForm.combination.landingPageType}" required="true" >
			     		<f:ajax render="landingPageId pathGroup"/>
		                <f:selectItem itemLabel="Static" itemValue="1" />  
		                <f:selectItem itemLabel="Dynamic" itemValue="2" /> 
				    </t:selectOneMenu>
				</h:panelGrid>
				
				<h:outputLabel styleClass="text_gray_12_bold" value="#{msgs['static.cdn']}"/>
				<h:panelGrid id="pathGroup" border="0" columns="2">
		            <h:selectOneMenu id="landingPagePath" value="#{combinationsForm.combination.pathId}" required="true" disabled="#{combinationsForm.landingPageTypeDynamic}">
		            	<f:ajax render="landingPageId"/>
		            	<f:selectItem itemLabel="" itemValue="" />
		            	<f:selectItems value="#{writer.staticLandingPagePathSI}" />
			        </h:selectOneMenu>
			    </h:panelGrid>

				<t:outputLabel for="landingPageId" value="#{msgs['landing.name']}" />
				<h:panelGrid border="0" columns="2">
					<p:selectOneMenu id="landingPageId" required="true"
						value="#{combinationsForm.combination.landingPageId}"
						panelStyle="width:180px" effect="fade" style="width:250px"
						filter="true" filterMatchMode="contains">
						<f:ajax render="marketingDomains"/>
						<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems value="#{combinationsForm.marketingLpNamesSI}"
							var="lp" />
							<p:column style="width:10%">
								<h:outputText value="#{lp.value}" />
							</p:column>
					</p:selectOneMenu>
					<t:message id="landingPageIdError" for="landingPageId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
														
				<t:outputLabel for="existsPixelId" value="#{msgs['combination.pixels']}" />
				<h:panelGrid border="0" columns="1" width="300px" align="left">
				  	<t:dataTable id="data"
				        styleClass="scrollerTable"
				        headerClass="standardTable_Header"
				        footerClass="standardTable_Header"
				        rowClasses="standardTable_Row1,standardTable_Row2"
				        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
				        var="v"
				        preserveDataModel="false"
				        rows=""
				        renderedIfEmpty="false"
				        cellpadding="0"
				        cellspacing="1"
				        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
				        value="#{combinationsForm.combination.pixelsSi}" >

					   <h:column>
					       <f:facet name="header">
					           <h:outputText value="#{msgs['pixel.id']}"/>
					       </f:facet>
				            <h:outputText value="#{v.value}" />
					   </h:column>

					   <t:column>
					       <f:facet name="header">
					           <h:outputText value="#{msgs['pixel.name']}"/>
					       </f:facet>
				            <h:outputText value="#{v.label}" />
					   </t:column>

					   <t:column>
						<f:facet name="header" >
							<t:outputText value="#{msgs['action']}"/>
						</f:facet>
							<t:commandLink
								onclick="if(!confirmit()) return false;"
			               		action="#{combinationsForm.deletePixel}" immediate="true">
			               		<h:outputText value="#{msgs['combination.remove.pixel']}" />
			                    <f:setPropertyActionListener target="#{combinationsForm.pixel}" value="#{v}" />
							</t:commandLink>
						</t:column>

					</t:dataTable>
				</h:panelGrid>

				<t:outputLabel for="pixelId" value="#{msgs['combination.add.pixel']}" />
		     	<h:selectManyListbox id="pixelId" value="#{combinationsForm.pixelsList}"  style="height:150px">
	        		<f:selectItems value="#{writer.marketingPixelsAllSI}" />
	    	    </h:selectManyListbox>

				<t:outputLabel  for="writer" value="#{msgs['campaigns.writer']}" />
				<h:outputText styleClass="data_display" id="writer" value="#{combinationsForm.combination.writerTxt}"></h:outputText>

				<t:outputLabel value="#{msgs['combination.dp.url']}" rendered="#{combinationsForm.combination.id>0}"/>
				<h:panelGrid border="0" columns="2" rendered="#{combinationsForm.combination.id>0}">
					<h:inputText id="holdtextDP" size="100" value="#{combinationsForm.combination.dynamicParam}"></h:inputText>
					<!-- <a href="javascript:;" onclick="AddDp('combinationsForm:holdtext');">#{msgs['combination.dp.add']}</a> -->					
				</h:panelGrid>
								
				<t:outputLabel value="#{msgs['combination.url']}" rendered="#{combinationsForm.combination.id>0}"/>
				<h:panelGrid border="0" columns="4" rendered="#{combinationsForm.combination.id>0}">
					<h:inputTextarea cols="110" id="holdtext" size="150" value="#{combinationsForm.combination.url}" ></h:inputTextarea>
					<a href="javascript:;" id="copyClipboar" onclick="ClipBoard('combinationsForm:holdtext');">#{msgs['combination.copy.clipboard']}</a>
					<button id="d_clip_button" style="cursor:pointer; padding:3px; "  data-clipboard-text="Copy me!">#{msgs['combination.copy.clipboard']}</button>
					<button id="d_clip_button_FBAO" style="cursor:pointer; padding:3px;" data-clipboard-text="#{combinationsForm.combination.getFacebookCFUrl(1)}">#{msgs['combination.copy.facebook.anyoption.clipboard']}</button>
					<button id="d_clip_button_FBCO" style="cursor:pointer; padding:3px;" data-clipboard-text="#{combinationsForm.combination.getFacebookCFUrl(2)}">#{msgs['combination.copy.facebook.copyop.clipboard']}</button>
				</h:panelGrid>
				
				<t:outputLabel value="#{msgs['combination.dp.static.url']}" rendered="false"/>
				<h:panelGrid border="0" columns="2" rendered="false">
					<h:inputText id="holdtextCDNDP" size="100" ></h:inputText>
					 <a href="javascript:;" onclick="AddDp('combinationsForm:holdtextCDN');">#{msgs['combination.dp.add']}</a>
				</h:panelGrid>
				
				<t:outputLabel value="#{msgs['combination.series.num.of']}" rendered="#{!(combinationsForm.combination.id > 0)}"/>
				 <h:panelGrid border="0" columns="2" rendered="#{!(combinationsForm.combination.id > 0)}">
					<h:inputText  size="5" maxlength="10" dir="ltr" id="numSeriesId" value="#{combinationsForm.numSeries}"></h:inputText>
					<t:message id="numSeriesIdError" for="numSeriesId" replaceIdWithLabel="true" styleClass="error"/>					
				</h:panelGrid>			
				
			   <t:outputLabel value="#{msgs['combination.series.dp.pattern']}" rendered="#{!(combinationsForm.combination.id > 0)}"/>
				 <h:panelGrid border="0" columns="2" rendered="#{!(combinationsForm.combination.id > 0)}">
					<h:inputText  size="100" value="#{combinationsForm.combination.dynamicParam}"></h:inputText>					
				</h:panelGrid>
				
			  <t:outputLabel for="urlSource" value="#{msgs['combination.series.def.source.type']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="urlSource" value="#{combinationsForm.combination.urlSourceTypeId}" required="true" >
			    		<f:ajax render="marketingDomains"/>
			    		<f:selectItems value="#{writer.marketingUrlSourceSI}" />
				    </t:selectOneMenu>
				    <t:message id="urlSourceError" for="urlSource" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				<t:outputLabel for="marketingDomains" value="#{msgs['marketing.add.domain']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="marketingDomains" value="#{combinationsForm.combination.marketingDomain.id}" required="#{!(combinationsForm.combination.id > 0)}" >
			    		<c:if test="#{!(combinationsForm.combination.id > 0)}">
			    			<f:selectItem itemLabel="" itemValue="" />
			    		</c:if>
						<c:if test="#{(combinationsForm.combination.id > 0)}">
			    			<f:selectItem itemLabel="" itemValue="0" />
			    		</c:if>
			    		<f:selectItems value="#{combinationsForm.marketingDomainsSI}" />
				    </t:selectOneMenu>
				    <t:message id="marketingDomainsError" for="marketingDomains" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="3" border="0" width="40%" >

	            <t:commandLink action="#{combinationsForm.updateInsert}" rendered="#{!combinationsForm.showUrl}" >
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>

	            <t:commandLink action="#{combinationsForm.createUrl}">
	                <h:outputText value="#{msgs['combination.create.url']}" rendered="#{!combinationsForm.showUrl}" />
			    </t:commandLink>
			    
				<t:commandLink action="#{combinationsForm.createSeries}">
	                <h:outputText value="#{msgs['combination.series.create']}" rendered="#{!(combinationsForm.combination.id > 0)}" />
			    </t:commandLink>
				
				<h:panelGrid style="text-align:left" columns="1" rendered="false"  border="0" width="40%" >		    
			    	<a href="javascript:;" onclick="showEtsUrl();">Show ETS Url</a>
				</h:panelGrid>
			 
			 </h:panelGrid>

			 <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >
	            <t:commandLink action="#{combinationsForm.navBack}">
	                <h:outputText value="#{msgs['combination.back']}" rendered="#{combinationsForm.showUrl}" />
			    </t:commandLink>
			 </h:panelGrid>

			 </h:panelGrid>
			 
			  <h:panelGrid  id="etsUrls" style="display:none"  columns="1" border="2" width="80%" >
			  
			  <h:panelGrid border="0" columns="1" rendered="#{combinationsForm.combination.id>0}">
				<t:outputLabel value="ETS URL" rendered="#{combinationsForm.combination.id>0}"/>				
					<h:inputText id="ETSholdtext" size="250" value="#{combinationsForm.combination.etsUrl}" ></h:inputText>
				</h:panelGrid>
			  
			  <h:panelGrid border="0" columns="1" rendered="#{combinationsForm.combination.landingPageType == 1}">
			 	<t:outputLabel value="Static ETS URL" rendered="#{combinationsForm.combination.landingPageType == 1}"/>
					<h:inputText id="ETSholdtextCDN" size="250" value="#{combinationsForm.combination.etsCdnUrl}" ></h:inputText>
				</h:panelGrid>
			 </h:panelGrid>
			 
	<script type="text/javascript">
    	var hold = document.getElementById("combinationsForm:holdtext");
		var client = new ZeroClipboard( document.getElementById('d_clip_button') );
		client.on( 'datarequested', function(client) {
			client.setText(hold.value);
        });
        
		var holdCDN = document.getElementById("combinationsForm:holdtextCDN");
		var clientCDN = new ZeroClipboard( document.getElementById('d_clip_buttonCDN') );
		clientCDN.on( 'datarequested', function(clientCDN) {
			clientCDN.setText(holdCDN.value);
        });
		
		var clientFBAO = new ZeroClipboard( document.getElementById('d_clip_button_FBAO') );
		var clientFBAO = new ZeroClipboard( document.getElementById('d_clip_button_FBCO') );
		
    </script>

        </h:form>

    </h:panelGroup>

	<script>
		function ClipBoard(url) {
		 	var hold = document.getElementById(url);
			var copied = hold.createTextRange();
			copied.execCommand("Copy");
		}

		function AddDp(url) {
			var DP = document.getElementById(url + "DP");
			var DPValue = DP.value.replace(/\s+/g, '');
			var urlF;
			var msg;
			if (url.indexOf("CDN") > 0 ) {
				urlF = '#{combinationsForm.combination.cdnUrl}'
				msg = " #{msgs['combination.dp.static.url']}" + ' added!';
			} else {
				urlF = '#{combinationsForm.combination.url}'
				msg = " #{msgs['combination.dp.url']}" + ' added!';
			}
			if (DPValue.length > 0) {			
				var urlElement = document.getElementById(url);
				urlElement.value = urlF + DPValue;
				DPValue = "&amp;dp=" + DPValue;
				AddEtsDp(url);
				alert(msg);
			}
		}

		function showEtsUrl(){			
			document.getElementById("combinationsForm:etsUrls").style.display = 'block';
			window.scrollTo(0, document.body.scrollHeight);
		}
		
		function AddEtsDp(url) {
			try{
			
				var DP = document.getElementById(url + "DP");
				var DPValue = DP.value.replace(/\s+/g, '');
				var urlF;
				var msg;
				if (url.indexOf("CDN") > 0 ) {
					urlF = '#{combinationsForm.combination.etsCdnUrl}'				
				} else {
					urlF = '#{combinationsForm.combination.etsUrl}'
				}
				if (DPValue.length > 0) {
					var ids = url.split(":");
					url = ids[0] + ":ETS" + ids[1]; 		
					var urlElement = document.getElementById(url);
					DPValue = "&amp;dp=" + DPValue;
					urlElement.value = urlF + DPValue;
				}
			}
			catch(err)
			{}
		}							
	</script>


</ui:define>
</ui:composition>

</html>