<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
	  xmlns:p="http://primefaces.org/ui">
	  
<ui:composition template="/jsp/templates/prime_template.xhtml">

<ui:define name="content">

	#{user.goMarketing}

    <t:saveState value="#{combinationsForm}" />

    <h:panelGroup>

		<h:form id="combinationsForm">

    	<h:panelGrid border="0" columns="12" >

			<t:outputLabel  for="skinId" value="#{msgs['combination.skin']}" />
	     	<t:selectOneMenu id="skinId" value="#{combinationsForm.skinId}"  >
	    		<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
		    </t:selectOneMenu>

	   		<t:outputText for="campaignName" value="#{msgs['campaigns.campaign.name']}"/>
	        <t:inputText id="campaignName" size="10" value="#{combinationsForm.campaign}" ></t:inputText>

	   		<t:outputText for="sourceName" value="#{msgs['source.name']}"/>
	        <t:inputText id="sourceName" size="10" value="#{combinationsForm.source}" ></t:inputText>

	   		<t:outputText for="mediumName" value="#{msgs['medium.name']}"/>
	 		<t:selectOneMenu id="mediumName" value="#{combinationsForm.medium}" >
				<f:selectItems value="#{writer.marketingMediumsLongSI}" />
	        </t:selectOneMenu>

	   		<t:outputText for="contentName" value="#{msgs['content.name']}"/>
	 		<t:selectOneMenu id="contentName" value="#{combinationsForm.content}" >
				<f:selectItems value="#{writer.marketingContentsLongSI}" />
	        </t:selectOneMenu>

	   		<t:outputText for="verticalSize" value="#{msgs['size.vertical']}"/>
	        <t:inputText id="verticalSize" size="10" value="#{combinationsForm.verticalSize}" ></t:inputText>

		</h:panelGrid>

		<h:panelGrid columns="12" >

	   		<t:outputText for="horizontalSize" value="#{msgs['size.horizontal']}"/>
	        <t:inputText id="horizontalSize" size="10" value="#{combinationsForm.horizontalSize}" ></t:inputText>

	   		<t:outputText for="typeName" value="#{msgs['type.name']}"/>
	        <t:inputText id="typeName" size="10" value="#{combinationsForm.type}" ></t:inputText>

	  		<t:outputText for="locationName" value="#{msgs['location']}"/>
	        <t:inputText id="locationName" size="10" value="#{combinationsForm.location}" ></t:inputText>
		    
   	  		<t:outputText for="landingName" value="#{msgs['landing.name']}"/>
			<p:selectOneMenu id="landingName" value="#{combinationsForm.landingPage}" panelStyle="width:180px" effect="fade" style="width:250px"
					filter="true" filterMatchMode="contains">				
				<f:selectItems value="#{writer.marketingLandingPagesLongSI}" var="lp" />
					<p:column style="width:10%">
						<h:outputText value="#{lp.value}" />
					</p:column>
			</p:selectOneMenu>		    
		    
		    <t:outputText for="combId" value="#{msgs['combination.id']}"/>
	        <t:inputText id="combId" size="10" value="#{combinationsForm.combId}"></t:inputText>
	       
	        <t:outputLabel  for="fetchCount" value="#{msgs['fetch.count']}" />
				<t:selectOneMenu id="fetchCount" value="#{combinationsForm.fetchCount}" >
					<f:selectItems value="#{writer.fetchRowNumCountSI}" />
			    </t:selectOneMenu>			    				  			   
			
			<t:commandLink action="#{combinationsForm.updateList}">
				<h:outputText value="#{msgs['button.search']}" />
			</t:commandLink>
			
	        <h:panelGrid width="5px" />	       
		</h:panelGrid>
 	<h:outputText styleClass="general_message" rendered="#{combinationsForm.listSize==1000}" value="#{msgs['fetch.count.exceed']}"/>
    <h:outputText styleClass="general_message" rendered="#{combinationsForm.listSize==0}"  value="#{msgs['combination.emptylist']}"/>
	<br/>

   	<t:dataTable id="data"
        styleClass="scrollerTable"
        headerClass="standardTable_Header"
        footerClass="standardTable_Header"
        rowClasses="standardTable_Row1,standardTable_Row2"
        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
        var="v"
        preserveDataModel="false"
        rows="#{user.rowsByMenu}"
        renderedIfEmpty="false"
        cellpadding="0"
        cellspacing="1"
        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
		rowOnMouseOut="this.style.backgroundColor=old"
        value="#{combinationsForm.list}" >

	   <h:column>
	       <f:facet name="header">
	           <h:outputText value="#{msgs['combination.id']}"/>
	       </f:facet>
	        <t:commandLink action="#{combinationsForm.navEdit}" immediate="true">
	            <h:outputText value="#{v.id}" />
	            <f:setPropertyActionListener target="#{combinationsForm.combination}" value="#{v}" />
			</t:commandLink>
	   </h:column>

	   <t:column>
	       <f:facet name="header">
	           <h:outputText value="#{msgs['combination.url']}"/>
	       </f:facet>            
			<h:outputText value="#{v.url}"/>
	   </t:column>

	   <h:column>
	       <f:facet name="header">
	           <h:outputText value="#{msgs['combination.duplicate']}"/>
	       </f:facet>
	        <t:commandLink action="#{combinationsForm.navDup}" immediate="true">
	            <h:outputText value="#{msgs['combination.duplicate.one']}" />
	            <f:setPropertyActionListener target="#{combinationsForm.combination}" value="#{v}" />
			</t:commandLink>
	   </h:column>


	</t:dataTable>

	<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center;" columns="1" border="0" width="100%" >
    	<t:dataScroller id="scroll_1"
            for="data"
            fastStep="10"
            pageCountVar="pageCount"
            pageIndexVar="pageIndex"
            paginator="true"
            paginatorMaxPages="9"
            styleClass="scroller"
            paginatorActiveColumnClass="paginator_active"
            paginatorColumnClass="paginator"
            paginatorTableClass="paginator"
            immediate="true"
            rendered="#{combinationsForm.listSize>user.rowsByMenu}"
            >
            <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

		</t:dataScroller>

    </h:panelGrid>

     <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
     	<t:commandLink action="#{combinationsForm.navNew}">
            <h:outputText value="#{msgs['combination.add']}" />
		</t:commandLink>
 	  </h:panelGrid>

    </h:form>

    </h:panelGroup>

	<script>
		function ClipBoard(url) {
	    	if (window.clipboardData &amp;&amp; clipboardData.setData) {
	        	clipboardData.setData('text', url);
	   		 }
		}
	</script>

	</ui:define>
</ui:composition>

</html>

