<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

	#{user.goMarketing}

    <t:saveState value="#{contentsForm}" />

    <h:panelGroup>

		<h:form id="contentsForm">

    	<h:panelGrid border="0" columns="5" >

	   		<t:outputText for="contentName" value="#{msgs['content.name']}"/>
     		<t:selectOneMenu id="contentName" value="#{contentsForm.contentName}" >
				<f:selectItems value="#{writer.marketingContentsSI}" />
	        </t:selectOneMenu>


	        <h:panelGrid width="5px" />

	         <t:commandLink action="#{contentsForm.updateList}">
		          <h:outputText value="#{msgs['button.search']}" />
			 </t:commandLink>

		</h:panelGrid>

		<br/>
    	<h:outputText styleClass="general_message" rendered="#{contentsForm.listSize==0}" value="#{msgs['contents.emptylist']}"/>

	   	<t:dataTable id="data"
	        styleClass="scrollerTable"
	        headerClass="standardTable_Header"
	        footerClass="standardTable_Header"
	        rowClasses="standardTable_Row1,standardTable_Row2"
	        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
	        var="v"
	        preserveDataModel="false"
	        rows="#{user.rowsByMenu}"
	        renderedIfEmpty="false"
	        cellpadding="0"
	        cellspacing="1"
	        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
			rowOnMouseOut="this.style.backgroundColor=old"
	        value="#{contentsForm.list}" >

		   <h:column>
		       <f:facet name="header">
		           <h:outputText value="#{msgs['content.id']}"/>
		       </f:facet>
		        <t:commandLink action="#{contentsForm.navEdit}" immediate="true">
		            <h:outputText value="#{v.id}" />
		            <f:setPropertyActionListener target="#{contentsForm.content}" value="#{v}" />
				</t:commandLink>
		   </h:column>

		   <t:column>
		       <f:facet name="header">
		           <h:outputText value="#{msgs['content.name']}"/>
		       </f:facet>
	            <h:outputText value="#{v.name}" />
		   </t:column>

		   <t:column>
		       <f:facet name="header">
		           <h:outputText value="#{msgs['contents.comments']}"/>
		       </f:facet>
	            <h:outputText value="#{v.comments}" />
		   </t:column>

		   <h:column>
				<f:facet name="header">
		           <h:outputText value="#{msgs['campaigns.writer']}"/>
		       </f:facet>
		       <h:outputText escape="false" value="#{v.writerTxt}" />
		   </h:column>

		   <h:column>
				<f:facet name="header">
		           <h:outputText value="#{msgs['content.time.created']}"/>
		       </f:facet>
		       <h:outputText escape="false" value="#{v.timeCreatedTxt}" />
		   </h:column>


		</t:dataTable>

		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center;" columns="1" border="0" width="100%" >
	    	<t:dataScroller id="scroll_1"
	            for="data"
	            fastStep="10"
	            pageCountVar="pageCount"
	            pageIndexVar="pageIndex"
	            paginator="true"
	            paginatorMaxPages="9"
	            styleClass="scroller"
	            paginatorActiveColumnClass="paginator_active"
	            paginatorColumnClass="paginator"
	            paginatorTableClass="paginator"
	            immediate="true"
	            rendered="#{contentsForm.listSize>user.rowsByMenu}"
	            >
	            <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

			</t:dataScroller>

	    </h:panelGrid>

	     <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
	     	<t:commandLink action="#{contentsForm.navNew}">
	            <h:outputText value="#{msgs['contents.add']}" />
			</t:commandLink>
	 	 </h:panelGrid>

	  </h:form>

    </h:panelGroup>

	</ui:define>
</ui:composition>

</html>

