<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<ui:composition template="/jsp/templates/template_general.xhtml">
		<ui:define name="content">
		    <h:panelGroup>
		    	<h:form id="encodeURLForm">
		        	<t:saveState id="encodeURL" value="#{encodeURLForm}" />
		   			<h:panelGrid border="0" columns="3">
		   				<!-- URL -->		   				
		                <h:outputText value="#{msgs['landing.url']}"/>
		            	<h:panelGrid border="0" columns="2">
			          		<h:inputTextarea escape="false" cols="50" rows="5" id="url" value="#{encodeURLForm.url}"  />		   			           	
		            		<t:message id="urlError" for="url" replaceIdWithLabel="true" styleClass="error"/>
		            	</h:panelGrid>		                
						<!-- HEADER -->		                	
						<h:outputText value="#{msgs['marketing.encode.header']}"/>
						<t:inputText id="header" size="81" maxlength="30" styleClass="data_display"  value="#{encodeURLForm.header}"></t:inputText>
						<!-- FOOTER -->
						<h:outputText value="#{msgs['marketing.encode.footer']}"/>
						<t:inputText id="footer" size="81" maxlength="30" styleClass="data_display"  value="#{encodeURLForm.footer}"></t:inputText>
						<!-- ENCODED URL -->
						<h:outputText id="encodedURLTxt" value="#{msgs['marketing.encode.encoded.url']}"  />
		          		<h:inputTextarea escape="false" cols="50" rows="5" id="encodedURLValue" value="#{encodeURLForm.encodedURL}" readonly="true"  />												
		        	</h:panelGrid>
   		            <t:commandLink action="#{encodeURLForm.encodeURL}">
	                	<h:outputText value="#{msgs['marketing.encode.convert']}" />
			   		 </t:commandLink>
		        </h:form>		        
		    </h:panelGroup>	    
		</ui:define>
	</ui:composition>
</html>