<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<ui:composition template="/jsp/templates/template_general.xhtml">
		<ui:define name="content">
			<SCRIPT LANGUAGE="JavaScript" >
				function gettext() {

					out1='#{msgs['import.leads.insert.approve.text']}';

					return out1;
				}

				function confirmit() {

					if (!confirm(gettext())) {
						return false;
					}
					return true;

				}
			</SCRIPT>
		    <h:panelGroup>
		    	<h:form id="importLeadsForm" enctype="multipart/form-data">
		        	<t:saveState id="file1" value="#{importLeadsForm.file}" />
		        	<t:saveState id="autoissueformstate" value="#{importLeadsForm}" />
		   			<h:panelGrid border="0" columns="2">
			           	<h:outputLabel for="file" value="File"/>
						<h:panelGrid border="0" columns="5">
						        <t:inputFileUpload id="file" required="false" value="#{importLeadsForm.file.file}" storage="file"  />
								<t:message id="fileError" for="file" replaceIdWithLabel="true" styleClass="error"/>
				                <h:outputText rendered="#{importLeadsForm.file.id>0}" value="#{msgs['files.filelink']}"/>
				                <h:outputLink rendered="#{importLeadsForm.file.id>0}" value="#"
					                onclick="window.open('#{importLeadsForm.filesPath}#{importLeadsForm.file.fileName}', 'popupWindow', 'fullscreen=yes,titlebar=no,scrollbars=no,directories=no,menubar=no,resizable=no,location=no,toolbar=no,status=no,width=500,height=100');" >
					                <h:outputText dir="#{writer.localInfo.dir}" value="#{importLeadsForm.filesPath}#{importLeadsForm.file.fileName}" />
					            </h:outputLink>
				                <h:outputText rendered="#{importLeadsForm.file.id > 0}" />
				            </h:panelGrid>
							<h:outputText/>
							<h:outputText escape="false" value="#{importLeadsForm.falseInsertMessage}" styleClass="general_message" />
							<h:outputText/>
							<h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >
								 <t:commandLink
								 	onclick="if(!confirmit()) return false;"
								 	action="#{importLeadsForm.insertContact}">
						                <h:outputText value="#{msgs['button.save']}" />
						  		 </t:commandLink>
					        </h:panelGrid>
		        	</h:panelGrid>
		        </h:form>
		    </h:panelGroup>
		</ui:define>
	</ui:composition>
</html>