<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

    <h:panelGroup>

        <h:form id="landingPagesForm">

			<t:saveState id="landingPagesFormSave" value="#{landingPagesForm.landingPage}" />
			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{landingPagesForm.landingPage.id>0}" value="#{msgs['landing.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{landingPagesForm.landingPage.id>0}" value="#{landingPagesForm.landingPage.id}"></h:outputText>

				<t:outputLabel  for="name" value="#{msgs['landing.name']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="name" size="15" maxlength="30" value="#{landingPagesForm.landingPage.name}" required="true"></t:inputText>
   	                <t:message id="nameError" for="name" replaceIdWithLabel="true" styleClass="error"/>
    			</h:panelGrid>

				<t:outputLabel  for="url" value="#{msgs['landing.url']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="url" size="50" value="#{landingPagesForm.landingPage.url}" required="true">
	                </t:inputText>
   	                <t:message id="urlError" for="url" replaceIdWithLabel="true" styleClass="error"/>
    			</h:panelGrid>

				<t:outputLabel for="writer" value="#{msgs['campaigns.writer']}" />
				<h:outputText styleClass="data_display" id="writer" value="#{landingPagesForm.landingPage.writerTxt}"></h:outputText>

				<t:outputLabel  for="timeCreated" value="#{msgs['landing.time.created']}" />
                <h:outputText id="timeCreated" size="15" value="#{landingPagesForm.landingPage.timeCreatedTxt}" ></h:outputText>
		
			  <t:outputLabel value="#{msgs['landing.page.type']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu value="#{landingPagesForm.landingPage.type}" required="true" >
		                <f:selectItem itemLabel="Static" itemValue="1" />  
		                <f:selectItem itemLabel="Dynamic" itemValue="2" /> 
				    </t:selectOneMenu>
				</h:panelGrid>

            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

	            <t:commandLink action="#{landingPagesForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>
			 </h:panelGrid>

			 </h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>