<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">

	#{user.goMarketing}
	#{user.notPartnerMarketing}

	<t:panelTabbedPane align="center"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent">


				  <t:panelTab id="advertising" label="#{msgs['menu.advertising']}" >

					  <t:panelTabbedPane
		                  serverSideTabSwitch="true"
		                  styleClass="subtabbedPane"
		                  activeTabStyleClass="subactiveTab"
		                  inactiveTabStyleClass="subinactiveTab"
		                  disabledTabStyleClass="disabledTab"
		                  activeSubStyleClass="subactiveSub"
		                  inactiveSubStyleClass="subinactiveSub"
		                  tabContentStyleClass="subtabContent">

           				  <t:panelTab id="campaigns" label="#{msgs['menu.campaigns']}" >

							  <t:panelTabbedPane
				                  serverSideTabSwitch="true"
				                  styleClass="subtabbedPane"
				                  activeTabStyleClass="subactiveTab"
				                  inactiveTabStyleClass="subinactiveTab"
				                  disabledTabStyleClass="disabledTab"
				                  activeSubStyleClass="subactiveSub"
				                  inactiveSubStyleClass="subinactiveSub"
				                  tabContentStyleClass="subtabContent">

				                  	 <t:panelTab id="marketingCapmaigns" label="#{msgs['menu.campaigns']}" >
									    <iframe name="content" id="content" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/campaigns.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>

				                  	 <t:panelTab id="marketingpayments" label="#{msgs['menu.payment.recipients']}" >
									    <iframe name="payments" id="payments" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/payment_recipients.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>

				                  	 <t:panelTab id="marketingTerritory" label="#{msgs['menu.territory']}" >
									    <iframe name="payments" id="payments" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/territories.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>
								</t:panelTabbedPane>
							</t:panelTab>

		                  	<t:panelTab id="marketingSources" label="#{msgs['menu.sources']}" >
							    <iframe name="content" id="content" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/sources.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingMediums" label="#{msgs['menu.mediums']}" >
							    <iframe name="content" id="content" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/mediums.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingContents" label="#{msgs['menu.contents']}" >
							    <iframe name="content" id="content" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/contents.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingSizes" label="#{msgs['menu.sizes']}" >
							    <iframe name="sizes" id="sizes" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/sizes.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingtypes" label="#{msgs['menu.types']}" >
							    <iframe name="types" id="types" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/types.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingLocations" label="#{msgs['menu.locations']}" >
							    <iframe name="locations" id="locations" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/locations.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	<t:panelTab id="marketingLanding" label="#{msgs['menu.landing']}" >
								<t:panelTabbedPane
				                	serverSideTabSwitch="true"
									styleClass="subtabbedPane"
									activeTabStyleClass="subactiveTab"
									inactiveTabStyleClass="subinactiveTab"
									disabledTabStyleClass="disabledTab"
									activeSubStyleClass="subactiveSub"
									inactiveSubStyleClass="subinactiveSub"
									tabContentStyleClass="subtabContent">
										<t:panelTab id="marketingPixels" label="#{msgs['menu.landing']}" >
											<iframe name="landing" id="landing" scrolling="yes" frameborder="no"
												src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/landing_pages.jsf?refresh=true" width="100%" height="400px;">
											</iframe>
									    </t:panelTab>
					                  	 <t:panelTab id="marketingChangePixel" label="#{msgs['menu.static.lp']}">
											<iframe name="landing" id="landing" scrolling="yes" frameborder="no"
												src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/staticLP.jsf?refresh=true" width="100%" height="400px;">
											</iframe>
									    </t:panelTab>
								</t:panelTabbedPane>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingPixels" label="#{msgs['menu.pixels']}" >

		                  	 	<t:panelTabbedPane
				                  serverSideTabSwitch="true"
				                  styleClass="subtabbedPane"
				                  activeTabStyleClass="subactiveTab"
				                  inactiveTabStyleClass="subinactiveTab"
				                  disabledTabStyleClass="disabledTab"
				                  activeSubStyleClass="subactiveSub"
				                  inactiveSubStyleClass="subinactiveSub"
				                  tabContentStyleClass="subtabContent">

				                  	 <t:panelTab id="marketingPixels" label="#{msgs['menu.search.pixels']}" >
									     <iframe name="content" id="content" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/pixels.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>

				                  	 <t:panelTab id="marketingChangePixel" label="#{msgs['menu.change.pixels']}">
									    <iframe name="changePixel" id="content" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/changePixel.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>
								    
								    <t:panelTab id="marketingDeletePixel" label="Delete Pixel" onmouseup="#{deleteCombinationPixelForm.reset()}">
									    <iframe name="deletePixel" id="content" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/deletePixel.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>

								    <t:panelTab id="marketingDeletePixels" label="Delete Pixels" onmouseup="#{deleteCombinationPixelForm.reset()}">
									    <iframe name="deletePixel" id="content" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/deletePixels.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>
								    
								    
								</t:panelTabbedPane>


						    </t:panelTab>

		                  	 <t:panelTab id="marketingAffilates" label="#{msgs['menu.affilates']}" >
							    <iframe name="aff" id="aff" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/affilates.jsf?refresh=true" width="100%" height="500px">
								</iframe>
						    </t:panelTab>

						    <t:panelTab id="marketingSubAffilates" label="#{msgs['menu.sub.affiliates']}" >
							    <iframe name="subAff" id="subAff" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/subAffiliates.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		              </t:panelTabbedPane>

		        </t:panelTab>

				<t:panelTab id="marketingLanding" label="#{msgs['menu.combinations']}" >
					<t:panelTabbedPane
	                	serverSideTabSwitch="true"
						styleClass="subtabbedPane"
						activeTabStyleClass="subactiveTab"
						inactiveTabStyleClass="subinactiveTab"
						disabledTabStyleClass="disabledTab"
						activeSubStyleClass="subactiveSub"
						inactiveSubStyleClass="subinactiveSub"
						tabContentStyleClass="subtabContent">

							<t:panelTab id="marketingCombinations" label="#{msgs['menu.combinations']}" >
						    	<iframe name="combinations" id="combinations" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/combinations.jsf?refresh=true" width="100%" height="600px">
								</iframe>
						    </t:panelTab>

							<t:panelTab id="marketingStaticCombinations" label="#{msgs['menu.static.combination']}" >
						    	<iframe name="staticCombinations" id="staticCombinations" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/staticCombinations.jsf?refresh=true" width="100%" height="600px">
								</iframe>
						    </t:panelTab>

					</t:panelTabbedPane>
			    </t:panelTab>

			 	<t:panelTab id="marketingGlossary" label="#{msgs['menu.glossary']}" >
			    	<iframe name="content" id="content" scrolling="yes" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/glossary.jsf?refresh=true" width="100%" height="100%">
					</iframe>
			    </t:panelTab>

			    <t:panelTab id="marketingReport" label="#{msgs['menu.marketing.report']}" >
			    	<iframe name="report" id="report" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/marketingReport.jsf?refresh=true" width="100%" height="600px">
					</iframe>
			    </t:panelTab>

			 	<t:panelTab id="regLeads" label="#{msgs['menu.reg.leads']}"  >
				    <iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/regLeadsTotals.jsf?refresh=true&amp;admin=true" width="100%" height="700px"></iframe>
				</t:panelTab>

				<t:panelTab id="importLeads" label="#{msgs['menu.import.leads']}">
					<iframe name="content" id="content" scrolling="yes" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/importLeads.jsf?refresh=true&amp;admin=true" width="100%" height="800px">
					</iframe>
				</t:panelTab>
				
				<t:panelTab id="encoding" label="#{msgs['marketing.encode.menu']}" >
					<t:panelTabbedPane
	                	serverSideTabSwitch="true"
						styleClass="subtabbedPane"
						activeTabStyleClass="subactiveTab"
						inactiveTabStyleClass="subinactiveTab"
						disabledTabStyleClass="disabledTab"
						activeSubStyleClass="subactiveSub"
						inactiveSubStyleClass="subinactiveSub"
						tabContentStyleClass="subtabContent">
							<t:panelTab id="encodeURL" label="#{msgs['marketing.encode.tab']}">
								<iframe name="content" id="content" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/encodeURL.jsf?refresh=true" width="100%" height="800px">
								</iframe>
							</t:panelTab>
							<t:panelTab id="encodeHeader" label="#{msgs['convert.to.encode']}">
								<iframe name="content" id="content" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/encodeHeader.jsf?refresh=true" width="100%" height="800px">
								</iframe>
							</t:panelTab>
					</t:panelTabbedPane>
			    </t:panelTab>
				
				<t:panelTab id="uploadLP" rendered="#{user.hasUploadLPRole}" label="#{msgs['menu.upload.lp']}">
					<iframe name="content" id="content" scrolling="yes" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/uploadLP.jsf?refresh=true" width="100%" height="800px">
					</iframe>
				</t:panelTab>				

				<!-- Only Visible for marketing manager -->
				<t:panelTab rendered="#{writer.writer.id == 346 || writer.writer.id == 428 || user.hasSAdminRole}" id="targetsManager" label="#{msgs['menu.targets']}" >
					<t:panelTabbedPane
			                  serverSideTabSwitch="true"
			                  styleClass="subtabbedPane"
			                  activeTabStyleClass="subactiveTab"
			                  inactiveTabStyleClass="subinactiveTab"
			                  disabledTabStyleClass="disabledTab"
			                  activeSubStyleClass="subactiveSub"
			                  inactiveSubStyleClass="subinactiveSub"
			                  tabContentStyleClass="subtabContent">


							<t:panelTab id="TargetsMediaBuyer" label="#{msgs['menu.media.buyer.targets']}" >
						    <iframe name="content" id="content" scrolling="yes" frameborder="no"
								src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/mediaBuyerTargets.jsf?refresh=true" width="100%" height="100%">
							</iframe>
							</t:panelTab>

							<t:panelTab id="targetsMeetingTheTarget" label="#{msgs['menu.meeting.the.target']}" >
								<t:panelTabbedPane
				                  serverSideTabSwitch="true"
				                  styleClass="subtabbedPane"
				                  activeTabStyleClass="subactiveTab"
				                  inactiveTabStyleClass="subinactiveTab"
				                  disabledTabStyleClass="disabledTab"
				                  activeSubStyleClass="subactiveSub"
				                  inactiveSubStyleClass="subinactiveSub"
				                  tabContentStyleClass="subtabContent">

				                  	<t:panelTab id="targetsMeetingMonthly" label="#{msgs['menu.meeting.the.target.monthly']}" >
								    <iframe name="content" id="content" scrolling="yes" frameborder="no"
										src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/meetingTheTargetsMonthly.jsf?refresh=true" width="100%" height="100%">
									</iframe>
									</t:panelTab>

									<t:panelTab id="targetsMeetingDaily" label="#{msgs['menu.meeting.the.target.daily']}" >
								    <iframe name="content" id="content" scrolling="yes" frameborder="no"
										src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/meetingTheTargetsDaily.jsf?refresh=true" width="100%" height="100%">
									</iframe>
									</t:panelTab>
								</t:panelTabbedPane>
							</t:panelTab>
					</t:panelTabbedPane>
				</t:panelTab>
				<!-- END Only Visible for marketing manager -->
				<!-- Visible to all except marketing manager -->
				<t:panelTab rendered="#{writer.writer.id != 428 &amp;&amp; writer.writer.id != 346 &amp;&amp; !user.hasSAdminRole}" id="Targets" label="#{msgs['menu.targets']}" >
					<t:panelTabbedPane
			                  serverSideTabSwitch="true"
			                  styleClass="subtabbedPane"
			                  activeTabStyleClass="subactiveTab"
			                  inactiveTabStyleClass="subinactiveTab"
			                  disabledTabStyleClass="disabledTab"
			                  activeSubStyleClass="subactiveSub"
			                  inactiveSubStyleClass="subinactiveSub"
			                  tabContentStyleClass="subtabContent">


	              			<t:panelTab id="TargetsMeetingMonthly" label="#{msgs['menu.meeting.the.target.monthly']}" >
						    <iframe name="content" id="content" scrolling="yes" frameborder="no"
								src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/meetingTheTargetsMonthly.jsf?refresh=true" width="100%" height="100%">
							</iframe>
							</t:panelTab>

							<t:panelTab id="TargetsMeetingDaily" label="#{msgs['menu.meeting.the.target.daily']}" >
						    <iframe name="content" id="content" scrolling="yes" frameborder="no"
								src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/meetingTheTargetsDaily.jsf?refresh=true" width="100%" height="100%">
							</iframe>
							</t:panelTab>
						<!-- END Visible to all except marketing manager -->
					</t:panelTabbedPane>
				</t:panelTab>
				<t:panelTab id="newaccounts" label="#{msgs['menu.newaccounts']}" >
	    			<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/admin/newaccounts.jsf?refresh=true" width="100%" height="100%"></iframe>
    			</t:panelTab>
    			
    			    
			<t:panelTab id="assetIndexMarket" label="#{msgs['menu.asset.index.market']}" rendered="#{user.hasAdminRole || writer.writer.id == 839}" >
			    <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/assetIndexesMarket.jsf?refresh=true" width="100%" height="800"></iframe>
		    </t:panelTab>
		    
		    <t:panelTab id="marketingTournaments" label="#{msgs['menu.tournaments']}" >
				<t:panelTabbedPane
                	serverSideTabSwitch="true"
					styleClass="subtabbedPane"
					activeTabStyleClass="subactiveTab"
					inactiveTabStyleClass="subinactiveTab"
					disabledTabStyleClass="disabledTab"
					activeSubStyleClass="subactiveSub"
					inactiveSubStyleClass="subinactiveSub"
					tabContentStyleClass="subtabContent">

						<t:panelTab id="manageTournaments" label="#{msgs['menu.tournaments']}" >
					    	<iframe name="content" id="content" scrolling="yes" frameborder="no"
								src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/tournaments.jsf?refresh=true" width="100%" height="800px">
							</iframe>
					    </t:panelTab>
					    <t:panelTab id="manageTournamentsBanners" label="#{msgs['menu.tournaments.banners']}" >
					    	<iframe name="content" id="content" scrolling="yes" frameborder="no"
								src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/tournamentsBanners.jsf?refresh=true" width="100%" height="600px">
							</iframe>
					    </t:panelTab>

				</t:panelTabbedPane>
		    </t:panelTab>
		    
		    <t:panelTab id="autoIssue" label="#{msgs['menu.auto.issue']}" rendered="#{user.hasMarketingBulkIssue}">
				<iframe name="auto" id="auto" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/autoIssue.jsf?refresh=true" width="100%" height="550px">
				</iframe>
			</t:panelTab>
		    
		    <t:panelTab id="limitationDeposits" label="#{msgs['menu.limitation.deposits']}"  rendered="#{user.hasLimitationDeposit}">
			    <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/limitationDeposits.jsf?refresh=true" width="100%" height="800"></iframe>
		    </t:panelTab>
		    
		    <t:panelTab id="terms" label="#{msgs['terms']}">
		    	<ui:include src="/jsp/index.html" />
		    	<script>
		    		setTab("content.terms", true);
		    	</script>
		    </t:panelTab>
		    
		    <t:panelTab id="promotions" label="#{msgs['promotions.management']}">
		    	<ui:include src="/jsp/index.html" />
		    	<script>
		    		setTab("marketing.promotions_management", true, true);
		    	</script>
		    </t:panelTab>
    			
</t:panelTabbedPane>
</ui:define>
</ui:composition>

</html>