<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	#{user.goMarketing}

    <t:saveState value="#{marketingReportForm}" />

    <h:panelGroup >

		<h:form id="marketingReportForm">

          <h:panelGrid columns="1" border="0" width="100%" height="800px">

        	<h:panelGrid border="0" columns="10">

	          	<h:outputLabel for="startDate" value="#{msgs['newaccounts.from']}"/>
				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="startDate" value="#{marketingReportForm.startDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['marketingReportForm'].elements['marketingReportForm:startDate'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['marketingReportForm'].elements['marketingReportForm:startDate'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="startDateError" for="startDate" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	       		<h:outputLabel for="endDate" value="#{msgs['newaccounts.to']}"/>
				<h:panelGrid border="0" columns="3">
	  			  <h:inputText styleClass="input_text" id="endDate" value="#{marketingReportForm.endDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['marketingReportForm'].elements['marketingReportForm:endDate'],'anchor2','dd/MM/yyyy'); return false;">
	    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			      </h:inputText>
			      <A HREF="#" onClick="cal.select(document.forms['marketingReportForm'].elements['marketingReportForm:endDate'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		          </A>
				  <t:message id="endDateError" for="endDate" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" />
		     	<t:selectOneMenu id="skinId" value="#{marketingReportForm.skinId}" >
		        	<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
		        </t:selectOneMenu>

	   	        <t:outputLabel  for="source" value="#{msgs['marketing.report.sources']}" />
		     	<t:selectOneMenu id="source" value="#{marketingReportForm.sourceId}" >
		        	<f:selectItems value="#{writer.marketingSourcesByWriterSkinIdSI}" />
		        </t:selectOneMenu>
		        
		        <t:outputLabel  for="manager" value="#{msgs['marketing.report.campaign.manager']}" />
		     	<t:selectOneMenu id="manager" value="#{marketingReportForm.marketingCampaignManager}" >
		        	<f:selectItems value="#{writer.allMarketingCampaignManagers}" />
		        </t:selectOneMenu>
			</h:panelGrid>


			<h:panelGrid border="0" columns="3">

				<t:commandLink action="#{marketingReportForm.exportMarketingReportToExcel}">
		               <h:outputText value="#{msgs['marketing.report.export']}" />
	  			</t:commandLink>
	  			
	  			<t:selectBooleanCheckbox id="baseReportByDate" value="#{marketingReportForm.baseReportByDate}" />
				<t:outputLabel id="baseReportByDateText" value="#{msgs['marketing.report.by.date']}" />

			</h:panelGrid>


			<h:panelGrid border="0" columns="11">


	  			<t:commandLink action="#{marketingReportForm.sendGoogleReportDp}">
		               <h:outputText value="#{msgs['marketing.report.send.google.dp']}" />
	  			</t:commandLink>
	  			
	  			<t:selectBooleanCheckbox id="dpReportByDate" value="#{marketingReportForm.dpReportByDate}" />
				<t:outputLabel id="dpReportByDateText" value="#{msgs['marketing.report.by.date']}" />

	  			<h:panelGrid width="3px" />

	  		</h:panelGrid>

	  		<h:panelGrid border="0" columns="1">

	  			<t:commandLink action="#{marketingReportForm.exportRegLeadsTotalsReportToExcel}">
		               <h:outputText value="#{msgs['marketing.report.reg.leads.total']}" />
	  			</t:commandLink>
	  			
			</h:panelGrid>
			
			<h:panelGrid border="0" columns="1">
			
			<t:commandLink action="#{marketingReportForm.exportRemarketingReport}">
		               <h:outputText value="#{msgs['marketing.report.remarketing']}" />
  			</t:commandLink>

			<t:commandLink action="#{marketingReportForm.exportHttpRefReport}">
		               <h:outputText value="#{msgs['marketing.report.httpref']}" />
  			</t:commandLink>

	  			
			</h:panelGrid>

		  </h:panelGrid>

		   <h:panelGrid>
		  		<table valign="top" cellspacing="5" cellpadding="0" border="0">
					<br/>
					<br/>
					<br/>

					<tr><td height="10px"></td></tr>
					<tr>
						<td align="left"><span class="campaigns_glossary_header" style="font-size: 18px;"><b><u>Special Columns Description</u></b></span></td>
					</tr>
					<tr><td height="10px"></td></tr>
					<tr>
						<td>
							<span class="">
								<p>
									<b><u><font color="black">First Reg Depositors Num</font></u></b> – The number of users that was registered and made thier first deposit within the date range.
									<br/><br/>
									<b><u><font color="black">First Depositors Num</font></u></b> – The number of first deposits within the date range regardless to thier owner's registration time.
									<br/><br/>									
									<b><u><font color="black">House win</font></u></b> – Dynamic data and could be diff from report to report.
									<br/><br/>
								</p>
							</span>
						</td>
					</tr>
				</table>
		  </h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>