<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
	<SCRIPT LANGUAGE="JavaScript" >

		function gettext() {

			out1='#{msgs['issues.auto.insert.approve.text']}';

			return out1;
		}

		function confirmit() {

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}
	</SCRIPT>

	<h:panelGroup >

        <h:form id="targetsForm" >

        	<t:saveState id="mediaBuyerState" value="#{targetsForm}" />

			<h:panelGrid border="0" columns="15" >

		    	<h:outputText value="#{msgs['targets.media.buyer']}"/>
		   		<t:selectOneMenu id="mediaBuyer" value="#{targetsForm.mediaBuyerId}" >
				    <f:selectItems value="#{writer.mediaBuyersAll}" />
				</t:selectOneMenu>

				<h:outputLabel  for="month" value="#{msgs['optionsexpirations.month']}"/>
	   			<h:selectOneMenu  id="month" value="#{targetsForm.month}" >
	   				<f:selectItems value="#{applicationData.months}" />
	   			</h:selectOneMenu>

				<h:outputLabel  for="year" value="#{msgs['optionsexpirations.year']}"/>
          		<h:selectOneMenu  id="year" value="#{targetsForm.year}" >
           			<f:selectItems value="#{targetsForm.years}" />
           		</h:selectOneMenu>

	    		<h:outputLabel  for="skins" value="#{msgs['register.skin']}"/>
	     		<h:selectOneMenu id="skins" value="#{targetsForm.skinId}" >
					<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
	        	</h:selectOneMenu>

	        	<t:outputLabel  for="skinBCId" value="#{msgs['newaccounts.skin.business.case']}" />
		     	<t:selectOneMenu id="skinBCId" value="#{targetsForm.skinBusinessCaseId}" >
					<f:selectItems value="#{writer.skinBusinessCasesSI}"/>
		        </t:selectOneMenu>

			</h:panelGrid>

	<h:panelGrid border="0" columns="4">
        <h:panelGrid width="5px" />

         <t:commandLink action="#{targetsForm.search}">
	                <h:outputText value="#{msgs['button.search']}" />
		 </t:commandLink>
	<br/><br/>
	</h:panelGrid>

	<h:outputText styleClass="general_message" rendered="#{targetsForm.listSize==0}"
  		   				value="#{msgs['targets.emptylist']}"/>

	<t:dataTable id="data"
	                styleClass="scrollerTable"
	                headerClass="standardTable_Header"
	                footerClass="standardTable_Header"
	                rowClasses="standardTable_Row1,standardTable_Row2"
	                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered"
	                var="v"
	                preserveDataModel="false"
	                rows="#{user.rowsByMenu}"
	                renderedIfEmpty="false"
	                cellpadding="0"
	                cellspacing="1"
	                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
	                value="#{targetsForm.mediaBuyersTargetslist}"
	                rowIndexVar="row"
	           >


				<h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.media.buyer']}"/>
	               </f:facet>
	               <t:commandLink action="#{targetsForm.navEdit}" immediate="true">
			            <h:outputText value="#{v.mediaBuyerName}" rendered="#{row != 0}"/>
			            <f:setPropertyActionListener target="#{targetsForm.mediaBuyer}" value="#{v}" />
					</t:commandLink>
					  <h:outputText value="#{v.mediaBuyerName}" rendered="#{row == 0}"/>
	           </h:column>

	            <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.skin']}"/>
	               </f:facet>
	               <h:outputText value="#{msgs[v.skinName]}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.month']}"/>
	               </f:facet>
	               <h:outputText value="#{v.monthTarget}">
	               		<f:convertDateTime pattern="MMMM yyyy"/>
	               </h:outputText>
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.reg.target']}"/>
	               </f:facet>
	               <h:outputText value="#{v.regTarget}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.reg.made']}"/>
	               </f:facet>
	               <h:outputText value="#{v.regMade}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.reg.meeting']}"/>
	               </f:facet>
	               <h:outputText value="#{v.meetingReg}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.reg.prediction']}"/>
	               </f:facet>
	               <h:outputText value="#{v.predictionReg}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.reg.total.per']}"/>
	               </f:facet>
	               <h:outputText value="#{v.percentOfTotalReg}" />
	           </h:column>

	            <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.dep.target']}"/>
	               </f:facet>
	               <h:outputText value="#{v.depTarget}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.dep.made']}"/>
	               </f:facet>
	               <h:outputText value="#{v.depMade}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.dep.meeting']}"/>
	               </f:facet>
	               <h:outputText value="#{v.meetingDep}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.dep.prediction']}"/>
	               </f:facet>
	               <h:outputText value="#{v.predictionDep}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['targets.col.dep.total.per']}"/>
	               </f:facet>
	               <h:outputText value="#{v.percentOfTotalDep}" />
	           </h:column>

	        </t:dataTable>

			<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    rendered="#{targetsForm.listSize>10}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            </t:dataScroller>

      		  </h:panelGrid>

			<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
			 	<t:commandLink action="#{targetsForm.navNew}">
			        <h:outputText value="#{msgs['targets.add.new']}" />
				</t:commandLink>
 	  		</h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>