<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
	<SCRIPT LANGUAGE="JavaScript" >

		function gettext() {

			out1='#{msgs['issues.auto.insert.approve.text']}';

			return out1;
		}

		function confirmit() {

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}
	</SCRIPT>

	<h:panelGroup >

        <h:form id="targetsForm" >

        	<t:saveState id="mediaBuyerState" value="#{targetsForm}" />

			<h:panelGrid border="0" columns="15" >

		    	<h:outputLabel for="toDate" value="#{msgs['transactions.from']}"/>
				<h:inputText styleClass="input_text" id="toDate" value="#{targetsForm.toDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['targetsForm'].elements['targetsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    <A HREF="#" onClick="cal.select(document.forms['targetsForm'].elements['targetsForm:toDate'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="toDateError" for="toDate" replaceIdWithLabel="true" styleClass="error"/>

			</h:panelGrid>

	<h:panelGrid border="0" columns="4">
        <h:panelGrid width="5px" />

        <t:commandLink action="#{targetsForm.searchDaily}">
	                <h:outputText value="#{msgs['button.search']}" />
		</t:commandLink>

		 <h:panelGrid border="0" columns="1" width="30px"/>

		<h:panelGrid rendered="#{targetsForm.displayDailyTable}">
			<h:commandLink action="#{targetsForm.exportHtmlTableToExcel}">
			     <h:outputText value="#{msgs['xortransactions.exportexcel']}"/>
			</h:commandLink>
		</h:panelGrid>
	</h:panelGrid>

	<h:panelGrid rendered="#{targetsForm.displayDailyTable}">
		<h:outputText styleClass="general_message" rendered="#{targetsForm.listSize==0}" value="#{msgs['targets.emptylist']}"/>
		<t:buffer into="#{targetsForm.htmlBuffer}">
			<t:dataTable id="data"
			                styleClass="scrollerTable"
			                headerClass="standardTable_Header"
			                footerClass="standardTable_Header"
			                rowClasses="standardTable_Row1,standardTable_Row2"
			                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
			                var="v"
			                preserveDataModel="false"
			                rows="#{user.rowsByMenu}"
			                renderedIfEmpty="false"
			                cellpadding="0"
			                cellspacing="1"
			                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
							rowOnMouseOut="this.style.backgroundColor=old"
			                value="#{targetsForm.mediaBuyersTargetslist}"
			           >

						<h:column>
			               <f:facet name="header">
				               <h:outputText value="#{msgs['targets.col.media.buyer']}"/>
			               </f:facet>
					            <h:outputText value="#{v.mediaBuyerName}" />
			           	</h:column>

			           	<h:column>
			               <f:facet name="header">
				               <h:outputText value="#{msgs['targets.col.skin']}"/>
			               </f:facet>
			               <h:outputText value="#{msgs[v.skinName]}" />
			           	</h:column>

			           	<h:column>
			               <f:facet name="header">
				               <h:outputText value="#{msgs['targets.col.reg.made']}"/>
			               </f:facet>
			               <h:outputText value="#{v.regMade}" />
			           	</h:column>

			           	<h:column>
			               <f:facet name="header">
				               <h:outputText value="#{msgs['targets.col.dep.made']}"/>
			               </f:facet>
			               <h:outputText value="#{v.depMade}" />
			           	</h:column>

			           	<h:column>
			               <f:facet name="header">
				               <h:outputText value="#{msgs['targets.col.reg.total.per']}"/>
			               </f:facet>
			               <h:outputText value="#{v.percentOfTotalReg}" />
			           	</h:column>

			           	<h:column>
			               <f:facet name="header">
				               <h:outputText value="#{msgs['targets.col.dep.total.per']}"/>
			               </f:facet>
			               <h:outputText value="#{v.percentOfTotalDep}" />
			           	</h:column>
			        </t:dataTable>
		        </t:buffer>
	        </h:panelGrid>
	        <h:outputText value="#{targetsForm.htmlBuffer}" escape="false"/>

			<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    rendered="#{targetsForm.listSize>10}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            </t:dataScroller>

      		  </h:panelGrid>


        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>