<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

    <h:panelGroup>

        <h:form id="paymentRecipientsForm">

			<t:saveState id="paymentRecipientsFormSave" value="#{paymentRecipientsForm.paymentRecipient}" />
			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{paymentRecipientsForm.paymentRecipient.id>0}" value="#{msgs['payment.recipient.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{paymentRecipientsForm.paymentRecipient.id>0}" value="#{paymentRecipientsForm.paymentRecipient.id}"></h:outputText>

				<t:outputLabel  for="name" value="#{msgs['payment.recipient.agent']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="name" size="15" maxlength="30" value="#{paymentRecipientsForm.paymentRecipient.agentName}" required="true"></t:inputText>
	                <t:message id="nameError" for="name" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

				<t:outputLabel for="writer" value="#{msgs['campaigns.writer']}" />
				<h:outputText styleClass="data_display" id="writer" value="#{paymentRecipientsForm.paymentRecipient.writerTxt}"></h:outputText>

				<t:outputLabel  for="timeCreated" value="#{msgs['payment.recipient.time.created']}" />
                <h:outputText id="timeCreated" size="15" value="#{paymentRecipientsForm.paymentRecipient.timeCreatedTxt}" ></h:outputText>


            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

	            <t:commandLink action="#{paymentRecipientsForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>
			 </h:panelGrid>

			 </h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>