<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

    <h:panelGroup>

        <h:form id="pixelsForm">

			<t:saveState id="pixelsFormSave" value="#{pixelsForm.pixel}" />
			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2" width="100%">

                <h:outputText rendered="#{pixelsForm.pixel.id>0}" value="#{msgs['pixel.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{pixelsForm.pixel.id>0}" value="#{pixelsForm.pixel.id}"></h:outputText>

				<h:outputText value="#{msgs['marketing.pixel.type']}"/>
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="typeId" value="#{pixelsForm.pixel.typeId}" required="true" >
				     	<f:selectItem itemLabel="" itemValue="" />
			    		<f:selectItems value="#{writer.pixelTypesSI}" />
				    </t:selectOneMenu>
				    <t:message id="typeIdError" for="typeId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel  for="name" value="#{msgs['pixel.name']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="name" size="15" maxlength="30" value="#{pixelsForm.pixel.name}" required="true"></t:inputText>
	                <t:message id="nameError" for="name" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

				<t:outputLabel  for="httpCode" value="#{msgs['pixel.http.code']}" />
            	<h:panelGrid border="0" columns="2">
	          		<h:inputTextarea escape="false" cols="70" rows="5" id="httpCode" value="#{pixelsForm.pixel.httpCode}"  >
   			           	<f:validateLength maximum="4000"/>
        	   		</h:inputTextarea>
            		<t:message id="httpCodeError" for="httpCode" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

				<t:outputLabel  for="httpsCode" value="#{msgs['pixel.https.code']}" />
            	<h:panelGrid border="0" columns="2">
	          		<h:inputTextarea escape="false" cols="70" rows="5" id="httpsCode" value="#{pixelsForm.pixel.httpsCode}"  >
   			           	<f:validateLength maximum="4000"/>
        	   		</h:inputTextarea>
            		<t:message id="httpsCodeError" for="httpsCode" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

				<t:outputLabel value="#{msgs['pixel.params']}" />
				<h:panelGrid border="0" columns="30">
					<h:outputText value="#{msgs['pixel.word']}"/>
					<t:inputText id="word" size="15" value="#{pixelsForm.word}" ></t:inputText>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink action="#{pixelsForm.updateUserIdParam}" >
			            <h:outputText value="#{msgs['pixel.param.userId']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink action="#{pixelsForm.updateMobileParam}" >
			            <h:outputText value="#{msgs['pixel.param.mobile']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink action="#{pixelsForm.updateCurrencyParam}" >
			            <h:outputText value="#{msgs['pixel.param.currency']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink action="#{pixelsForm.updateTranAmountParam}" >
			            <h:outputText value="#{msgs['pixel.param.amount']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink action="#{pixelsForm.updateTranAmountUsdParam}" >
			            <h:outputText value="#{msgs['pixel.param.amount.usd']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink action="#{pixelsForm.updateTranAmountEurParam}" >
			            <h:outputText value="#{msgs['pixel.param.amount.eur']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink action="#{pixelsForm.updateTranIdParam}" >
			            <h:outputText value="#{msgs['pixel.param.tranId']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink action="#{pixelsForm.updateDynamicParam}" >
			            <h:outputText value="#{msgs['pixel.param.dynamic']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink action="#{pixelsForm.updateSubAffIdParam}" >
			            <h:outputText value="#{msgs['pixel.param.subAffCode']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink  action="#{pixelsForm.updateContactIdParam}" >
			            <h:outputText value="#{msgs['pixel.param.contactId']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink  action="#{pixelsForm.updateDUIDParam}" >
			            <h:outputText value="#{msgs['pixel.param.DUID']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink  action="#{pixelsForm.updateIPParam}" >
			            <h:outputText value="#{msgs['pixel.param.ip']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink  action="#{pixelsForm.updateAffSub1Param}" >
			            <h:outputText value="#{msgs['pixel.param.affsub1']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink  action="#{pixelsForm.updateAffSub2Param}" >
			            <h:outputText value="#{msgs['pixel.param.affsub2']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink  action="#{pixelsForm.updateAffSub3Param}" >
			            <h:outputText value="#{msgs['pixel.param.affsub3']}" />
					</t:commandLink>
					<h:panelGrid border="0" width="2px"/>
			        <t:commandLink  action="#{pixelsForm.updateEmail}" >
			            <h:outputText value="#{msgs['pixel.param.email']}" />
					</t:commandLink>
				</h:panelGrid>

				<t:outputLabel for="writer" value="#{msgs['campaigns.writer']}" />
				<h:outputText styleClass="data_display" id="writer" value="#{pixelsForm.pixel.writerTxt}"></h:outputText>

				<t:outputLabel  for="timeCreated" value="#{msgs['source.time.created']}" />
                <h:outputText id="timeCreated" size="15" value="#{pixelsForm.pixel.timeCreatedTxt}" ></h:outputText>


            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

	            <t:commandLink action="#{pixelsForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>
			 </h:panelGrid>

			 </h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>