<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

    <h:panelGroup>

        <h:form id="sizesForm">

			<t:saveState id="sizesFormSave" value="#{sizesForm.size}" />
			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{sizesForm.size.id>0}" value="#{msgs['size.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{sizesForm.size.id>0}" value="#{sizesForm.size.id}"></h:outputText>

				<t:outputLabel  for="verticalSize" value="#{msgs['size.vertical']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="verticalSize" size="15" value="#{sizesForm.size.verticalSize}" required="true">
		                 <f:validateLongRange/>
	                </t:inputText>
   	                <t:message id="verticalSizeError" for="verticalSize" replaceIdWithLabel="true" styleClass="error"/>
    			</h:panelGrid>

				<t:outputLabel  for="horizontalSize" value="#{msgs['size.horizontal']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="horizontalSize" size="15" value="#{sizesForm.size.horizontalSize}" required="true">
		                 <f:validateLongRange/>
	                </t:inputText>
   	                <t:message id="horizontalSizeError" for="horizontalSize" replaceIdWithLabel="true" styleClass="error"/>
    			</h:panelGrid>

				<t:outputLabel for="writer" value="#{msgs['campaigns.writer']}" />
				<h:outputText styleClass="data_display" id="writer" value="#{sizesForm.size.writerTxt}"></h:outputText>

				<t:outputLabel  for="timeCreated" value="#{msgs['size.time.created']}" />
                <h:outputText id="timeCreated" size="15" value="#{sizesForm.size.timeCreatedTxt}" ></h:outputText>


            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

	            <t:commandLink action="#{sizesForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>
			 </h:panelGrid>

			 </h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>