<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
	<ui:define name="content">
		<t:saveState value="#{staticLPForm}" />
		<h:form id="staticLPForm">
			<h:panelGrid columns="7">
		        <h:outputLabel styleClass="text_gray_12_bold" value="#{msgs['register.language']}"/>
	            <h:selectOneMenu id="languagesList" value="#{staticLPForm.languageId}" required="true">
		            <f:selectItem  itemLabel="All" itemValue="0" />
	            	<f:selectItems value="#{writer.languagesSI}" />
		        </h:selectOneMenu>
				<h:outputLabel styleClass="text_gray_12_bold" value="#{msgs['static.path']}"/>
	            <h:selectOneMenu id="landingPagePath" value="#{staticLPForm.staticLandingPagePathId}" required="true">
	            	<f:ajax render="landingPageName"/>
	            	<f:selectItem  itemLabel="All" itemValue="0" />
	            	<f:selectItems value="#{writer.staticLandingPagePathSI}" />
		        </h:selectOneMenu>
				<h:outputLabel styleClass="text_gray_12_bold" value="#{msgs['static.name']}"/>
	            <h:selectOneMenu id="landingPageName" value="#{staticLPForm.staticLandingPageId}" required="true">
	            	<f:selectItem  itemLabel="All" itemValue="0" />
	            	<f:selectItems value="#{staticLPForm.staticLpNamesSI}" />
		        </h:selectOneMenu>
				<t:commandLink action="#{staticLPForm.search}">
					<h:outputText value="#{msgs['button.search']}" />
	        	</t:commandLink>
	        </h:panelGrid>

			<h:outputText styleClass="general_message" rendered="#{staticLPForm.listSize == 0}" value="#{msgs['general.emptylist']}"/>
			<h:panelGrid width="100%">
			    <t:dataTable id="data"
			            styleClass="scrollerTable"
			            headerClass="standardTable_Header"
			            footerClass="standardTable_Header"
			            rowClasses="standardTable_Row1,standardTable_Row2"
			            columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered"
			            var="v"
			            preserveDataModel="false"
			            rows="#{user.rowsByMenu}"
			            renderedIfEmpty="false"
			            cellpadding="0"
			            cellspacing="1"
			            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
			            value="#{staticLPForm.landingPageList}">
				        <h:column>
				           <f:facet name="header">
				              <h:outputText value="#{msgs['static.id']}"/>
				           </f:facet>
			           		<h:outputText value="#{v.id}"/>
				       </h:column>
				       <h:column>
				           <f:facet name="header">
				              <h:outputText value="#{msgs['static.cdn']}"/>
				           </f:facet>
				           <h:outputText value="#{v.staticLandingPagePath.name}" />
				       </h:column>
				       <h:column>
				           <f:facet name="header">
				              <h:outputText value="#{msgs['static.type']}"/>
				           </f:facet>
				           <h:outputText value="#{v.type}" />
				       </h:column>
				       <h:column>
				           <f:facet name="header">
				              <h:outputText value="#{msgs['static.name']}"/>
				           </f:facet>
				           <h:outputText value="#{v.name}" />
				       </h:column>
				       <h:column>
				           <f:facet name="header">
				              <h:outputText value="#{msgs['static.language']}"/>
				           </f:facet>
				           <h:outputText value="#{v.language}" />
				       </h:column>
			     </t:dataTable>
			     <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
				 	<t:dataScroller id="scroll_1"
		                for="data"
		                fastStep="10"
		                pageCountVar="pageCount"
		                pageIndexVar="pageIndex"
		                paginator="true"
		                paginatorMaxPages="9"
		                styleClass="scroller"
		                paginatorActiveColumnClass="paginator_active"
		                paginatorColumnClass="paginator"
		                paginatorTableClass="paginator"
		                immediate="true"
		                rendered="#{staticLPForm.listSize > 10}">
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
			        </t:dataScroller>
			    </h:panelGrid>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>