<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

 <SCRIPT LANGUAGE="JavaScript" >
	function confirmit() {
			if (!confirm('#{msgs['combination.remove.pixel.confirm']}')) {
				return false;
			}
			return true;
 	}
	</SCRIPT>

    <h:panelGroup>

        <h:form id="subAffiliatesForm">

			<t:saveState id="subAffiliatesFormSave" value="#{subAffiliatesForm.subAffiliate}" />
			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{subAffiliatesForm.subAffiliate.id>0}" value="#{msgs['affilate.sub.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{subAffiliatesForm.subAffiliate.id>0}" value="#{subAffiliatesForm.subAffiliate.id}"></h:outputText>

				<t:outputLabel  for="name" value="#{msgs['affilate.sub.name']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="name" size="15" maxlength="30" value="#{subAffiliatesForm.subAffiliate.name}" required="true"></t:inputText>
   	                <t:message id="nameError" for="name" replaceIdWithLabel="true" styleClass="error"/>
    			</h:panelGrid>

				<t:outputLabel  for="key" value="#{msgs['affilate.sub.key']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="key" size="15" maxlength="30" value="#{subAffiliatesForm.subAffiliate.key}" required="true">
	                	<f:validateLongRange minimum="0" />
	                </t:inputText>
   	                <t:message id="keyError" for="key" replaceIdWithLabel="true" styleClass="error"/>
    			</h:panelGrid>

    			<t:outputLabel for="existsPixelId" value="#{msgs['combination.pixels']}" />
				<h:panelGrid border="0" columns="1" width="300px" align="left">
				  	<t:dataTable id="data"
				        styleClass="scrollerTable"
				        headerClass="standardTable_Header"
				        footerClass="standardTable_Header"
				        rowClasses="standardTable_Row1,standardTable_Row2"
				        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
				        var="v"
				        preserveDataModel="false"
				        rows=""
				        renderedIfEmpty="false"
				        cellpadding="0"
				        cellspacing="1"
				        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
				        value="#{subAffiliatesForm.subAffiliate.pixelsSi}" >

					   <h:column>
					       <f:facet name="header">
					           <h:outputText value="#{msgs['pixel.id']}"/>
					       </f:facet>
				            <h:outputText value="#{v.value}" />
					   </h:column>

					   <t:column>
					       <f:facet name="header">
					           <h:outputText value="#{msgs['pixel.name']}"/>
					       </f:facet>
				            <h:outputText value="#{v.label}" />
					   </t:column>

					   <t:column>
						<f:facet name="header" >
							<t:outputText value="#{msgs['action']}"/>
						</f:facet>
							<t:commandLink
								onclick="if(!confirmit()) return false;"
			               		action="#{subAffiliatesForm.deletePixel}" immediate="true">
			               		<h:outputText value="#{msgs['combination.remove.pixel']}" />
			                    <f:setPropertyActionListener target="#{subAffiliatesForm.pixel}" value="#{v}" />
							</t:commandLink>
						</t:column>

					</t:dataTable>
				</h:panelGrid>

    			<t:outputLabel for="pixelId" value="#{msgs['combination.add.pixel']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="pixelId" value="#{subAffiliatesForm.subAffiliate.pixelId}" required="true" >
			    		<f:selectItems value="#{writer.marketingPixelsAllSI}" />
				    </t:selectOneMenu>
				    <t:message id="pixelIdError" for="pixelId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

    			<t:outputLabel for="affiliateId" value="#{msgs['affilate']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="affiliateId" value="#{subAffiliatesForm.subAffiliate.affiliateId}" required="true" >
			    		<f:selectItems value="#{writer.marketingAffiliatesSi}" />
				    </t:selectOneMenu>
				    <t:message id="affiliateIdError" for="affiliateId" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel for="writer" value="#{msgs['affilate.writer']}" />
				<h:outputText styleClass="data_display" id="writer" value="#{subAffiliatesForm.subAffiliate.writerName}"></h:outputText>

            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

	            <t:commandLink action="#{subAffiliatesForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>
			 </h:panelGrid>

			 </h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>