<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<ui:composition template="/jsp/templates/template_general.xhtml">
		<ui:define name="content">
			<SCRIPT LANGUAGE="JavaScript" >
				function gettext() {
					out1='#{msgs['lp.upload.confirm.upload.header']}';
					out2='#{msgs['lp.upload.confirm.upload.text']}';
					return out1 + "\n" + out2;
				}
				function confirmit(isPathRegulated) {
					if (!isPathRegulated) {
						return true;
					}
					if (!confirm(gettext())) {
						return false;
					}
					return true;
				}
			</SCRIPT>
		    <h:panelGroup>
		    	<t:saveState id="file1" value="#{uploadLPForm.file}" />
		    	<t:saveState id="uploadLPF" value="#{uploadLPForm}" />		
		    	<h:form id="uploadLPForm" enctype="multipart/form-data">
					<!-- START 1 STEP CHOOSE LANDING PAGE NAME -->						    		
			    	<h:panelGroup rendered="#{uploadLPForm.step ge 1}" >
			    		<h:outputLabel styleClass="text_gray_14_bold" value="#{msgs['lp.upload.name']}"/>
						<h:panelGrid border="0" columns="2">			    			
			    			<t:inputText id="landingPageName" dir="ltr" value="#{uploadLPForm.landingPageName}" required="true" style="width:300px;" disabled="#{uploadLPForm.step != 1}" />
				        	<t:message id="landingPageNameError" for="landingPageName" replaceIdWithLabel="true" styleClass="error"/>
				  			<h:panelGrid columns="2" border="0">
				                <t:selectOneRadio styleClass="data_display"  id="pathId" value="#{uploadLPForm.staticLandingPagePathId}" required="true" disabled="#{uploadLPForm.step != 1}">
									<f:selectItems value="#{writer.staticLandingPagePathSI}" />
				            	</t:selectOneRadio>
				            	<t:message id="pathIdError" for="pathId" replaceIdWithLabel="true" styleClass="error"/>
				            </h:panelGrid>
						</h:panelGrid>				        				    					    	
					</h:panelGroup>		        	
					<!-- END 1 STEP CHOOSE LANDING PAGE -->
					<!-- START 2 STEP EXISTING LANDING PAGE -->					
					<h:panelGroup rendered="#{uploadLPForm.step ge 2 and !uploadLPForm.onlyUploadZIP}" >						
						<h:outputLabel styleClass="text_gray_14_bold"  value="#{msgs['lp.upload.existing']}"/><br/>
						<h:outputText value="#{msgs['lp.upload.no.existing']}" rendered="#{uploadLPForm.listSize == 0}" />
						<!-- Static landing pages table -->							        	
						<h:panelGrid width="100%">
						    <t:dataTable id="data"
						            styleClass="scrollerTable"
						            headerClass="standardTable_Header"
						            footerClass="standardTable_Header"
						            rowClasses="standardTable_Row1,standardTable_Row2"
						            columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered"
						            var="v"
						            preserveDataModel="false"
						            rows="#{user.rowsByMenu}"
						            renderedIfEmpty="false"
						            cellpadding="0"
						            cellspacing="1"
						            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
									rowOnMouseOut="this.style.backgroundColor=old"
						            value="#{uploadLPForm.landingPageList}">
							        <h:column>
							           <f:facet name="header">
							              <h:outputText value="#{msgs['static.id']}"/>
							           </f:facet>
						           		<h:outputText value="#{v.id}"/>
							       </h:column>
							       <h:column>
							           <f:facet name="header">
							              <h:outputText value="#{msgs['static.type']}"/>
							           </f:facet>
							           <h:outputText value="#{v.type}" />
							       </h:column>
							       <h:column>
							           <f:facet name="header">
							              <h:outputText value="#{msgs['static.name']}"/>
							           </f:facet>
							           <h:outputText value="#{v.name}" />
							       </h:column>
							       <h:column>
							           <f:facet name="header">
							              <h:outputText value="#{msgs['static.language']}"/>
							           </f:facet>
							           <h:outputText value="#{v.language}" />
							       </h:column>
						     </t:dataTable>
						     <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
							 	<t:dataScroller id="scroll_1"
					                for="data"
					                fastStep="10"
					                pageCountVar="pageCount"
					                pageIndexVar="pageIndex"
					                paginator="true"
					                paginatorMaxPages="9"
					                styleClass="scroller"
					                paginatorActiveColumnClass="paginator_active"
					                paginatorColumnClass="paginator"
					                paginatorTableClass="paginator"
					                immediate="true"
					                rendered="#{uploadLPForm.listSize > 10}">
					                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
						        </t:dataScroller>
						    </h:panelGrid>
						</h:panelGrid>							
					</h:panelGroup>
					<!-- END 2 STEP -->
					<!-- START 3 STEP CHOOSE LANGUAGES -->
					<h:panelGroup rendered="#{uploadLPForm.step ge 3 and !uploadLPForm.onlyUploadZIP}" >
						<h:outputLabel styleClass="text_gray_14_bold"  value="#{msgs['lp.upload.choose.language']}"/><br/>
						<h:panelGrid border="0" columns="4">
							<!-- Types -->	
							<h:outputLabel styleClass="text_gray_12_bold" for="languagesList" value="#{msgs['lp.upload.type']}"/>								
			       			<h:selectOneMenu id="typeId" value="#{uploadLPForm.typeId}" required="true" immediate="true" disabled="#{uploadLPForm.listSize > 0}" >
			       			    <f:selectItem itemLabel="" itemValue="" />
		    	   				<f:selectItems value="#{writer.staticLPTypesSI}" />
		        	   		</h:selectOneMenu>						
		        	   		<t:message id="typeIdError" for="typeId" replaceIdWithLabel="true" styleClass="error"/>
							<!-- Languages -->
			   				<h:outputLabel styleClass="text_gray_12_bold" for="languagesList" value="#{msgs['register.language']}"/>
							<h:selectManyListbox style="width:134px;height:200px" id="languagesList" required="true" value="#{uploadLPForm.languages}" disabled="#{uploadLPForm.step != 3}" >
								<f:selectItems value="#{uploadLPForm.languagesPerBrand}"/>
							</h:selectManyListbox>
							<t:message id="languagesListError" for="languagesList" replaceIdWithLabel="true" styleClass="error"/>												        			
						</h:panelGrid>		        				        			
					</h:panelGroup>	     
					<!-- END 3 STEP -->   								
					<!-- START 4 STEP Confirmation -->	
					<h:panelGroup rendered="#{uploadLPForm.step ge 4 and !uploadLPForm.onlyUploadZIP}" >
						<h:panelGrid border="0" columns="1">											
							<h:outputLabel styleClass="text_gray_14_bold"  value="#{msgs['lp.upload.confirmation']}"/>
							<h:outputText value="#{uploadLPForm.confirmationMsg}" escape="false" />
						</h:panelGrid>
					</h:panelGroup>
					<!-- END 4 STEP Confirmation -->
					<!-- START 5 STEP CHOOSE ZIP FILE -->	
					<h:panelGroup rendered="#{uploadLPForm.step ge 5}" >
						<h:outputLabel styleClass="text_gray_14_bold"  value="#{msgs['lp.upload.zip']}"/>			    				        			        			        	
			   			<h:panelGrid border="0" columns="3"> 
			   				<!-- ZIP file -->			   						   				
	   						<t:inputFileUpload id="file" required="true"
			        		    value="#{uploadLPForm.file}"		        		    
			        		    validator="#{uploadLPForm.validateFile}"
					            storage="file" />
							<t:message id="fileError" for="file" replaceIdWithLabel="true" styleClass="error" escape="false"/>	
			    	    	<h:outputLabel value=""/>														  
			    	    	<h:outputLabel value=""/>		    	    			    	    			    	    	
			        	</h:panelGrid>
					</h:panelGroup>	
					<!-- END 5 STEP CHOOSE ZIP FILE -->	
					<div style="width:310px;">	
						<div style="float:left;">																	
							<h:commandButton id="cancel" immediate="true" value="#{msgs['lp.upload.cancel']}" action="#{uploadLPForm.navigate(3)}"
							 style="cursor:pointer" rendered="#{uploadLPForm.step > 1}" />
						</div>
						<div style="float:right;">							
							<h:commandButton id="back" value="#{msgs['lp.upload.back']}" action="#{uploadLPForm.navigate(2)}" style="cursor:pointer" rendered="#{uploadLPForm.step >  1}" />
							<h:commandButton id="next" value="#{msgs['lp.upload.next']}" rendered="#{uploadLPForm.step != 5}" action="#{uploadLPForm.navigate(1)}" style="cursor:pointer" />
							<h:commandButton id="upload" value="#{msgs['lp.upload.upload']}" rendered="#{uploadLPForm.step == 5}" style="cursor:pointer;color:#0000ff" action="#{uploadLPForm.navigate(1)}" onclick="if(!confirmit(#{uploadLPForm.pathRegulated})) return false;" ></h:commandButton>
						</div>
					</div>																								
		        </h:form>
		    </h:panelGroup>
		</ui:define>
	</ui:composition>
</html>