<div class="about-us-page">
	<section class="inner-pg-container">
		<div class="wrap">
			<ul class="inner-nav">
				<li>
					<a ui-sref="ln.privacy({ln:skinLanguage})">{{getMsgs('privacy')}}</a>
				</li>
				<li>
					<a ui-sref="ln.general-terms({ln:skinLanguage})">{{getMsgs('general_terms')}}</a>
				</li>
				<li>
					<a ui-sref="ln.security({ln:skinLanguage})">{{getMsgs('security')}}</a>
				</li>
			</ul>
			<h1 class="main-heading">{{getMsgs('about-us.h1.txt1')}}</h1>
			<p class="subheading">{{getMsgs('about-us.sub-heading')}}</p>
			<ul class="about-us-info">
				<li>
					<div class="about-us-info-container">
						<div class="avatars-box"><i class="avatar-imgs avatar-imgs-1"></i></div>
						<div class="text-box">
							<h3 ng-bind-html="getMsgs('about-us.ul1.title1')"></h3>
							<p>{{getMsgs('about-us.ul1.p1')}}</p>
						</div>
					</div>
				</li>
				<li>
					<div class="about-us-info-container">
						<div class="avatars-box"><i class="avatar-imgs avatar-imgs-2"></i></div>
						<div class="text-box">
							<h3>{{getMsgs('about-us.ul1.title2')}}</h3>
							<p>{{getMsgs('about-us.ul1.p2')}}</p>
					</div>
					</div>
				</li>
				<li>
					<div class="about-us-info-container">
						<div class="avatars-box"><i class="avatar-imgs avatar-imgs-3"></i></div>
						<div class="text-box">
							<h3>{{getMsgs('about-us.ul1.title3')}}</h3>
							<p>{{getMsgs('about-us.ul1.p3')}}</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="inner-pg-container">
		<div class="wrap">
			<h1 class="main-heading">{{getMsgs('about-us.h1.txt2')}}</h1>
			<div class="about-us-content">
				<div class="table flex">
					<div>
						<h3 class="about-us-icons social-network"><span>{{getMsgs('about-us.txt.title1')}}</span></h3>
						<p>{{getMsgs('about-us.txt.p1')}}</p>
					</div>
					<div>
						<h3 class="about-us-icons globe"><span>{{getMsgs('about-us.txt.title2')}}</span></h3>
						<p>{{getMsgs('about-us.txt.p2')}}</p>
					</div>
				</div>
				<div class="table flex">
					<div>
						<h3 class="about-us-icons human"><span>{{getMsgs('about-us.txt.title3')}}</span></h3>
						<p ng-bind-html="getMsgs('about-us.txt.p3')"></p>
					</div>
					<div>
						<h3 class="about-us-icons rewarding"><span>{{getMsgs('about-us.txt.title4')}}</span></h3>
						<p>{{getMsgs('about-us.txt.p4')}}</p>
					</div>
				</div>
				<div class="table flex">
					<div>
						<h3 class="about-us-icons trade-copyop"><span>{{getMsgs('about-us.txt.title5')}}</span></h3>
						<p>{{getMsgs('about-us.txt.p5')}}</p>
					</div>
					<div>
						<h3 class="about-us-icons secure"><span>{{getMsgs('about-us.txt.title6')}}</span></h3>
						<p>{{getMsgs('about-us.txt.p6')}}</p>
					</div>
				</div>
			</div>
			<div class="buttons-content">
				<div class="row" ng-if="!checkIfLogged()">
					<a class="button" ui-sref="ln.signup({ln:skinLanguage})">{{getMsgs('header.start_now')}}</a>
				</div>
				<div class="row" ng-if="!checkIfLogged()">
					<button class="button facebook" ng-class="{ loading: loading }" ng-click="loginWithFB()">{{getMsgs('connect-fb')}}</button>
				</div>
				<div ng-if="checkIfLogged()">
					<a class="button" ui-sref="ln.faq({ln:skinLanguage})">{{getMsgs('q-a')}}</a>
				</div>
		</div>
	</section>
</div>