<section class="inner-pg-container" ng-controller="generalTermsCtr" ng-init="passParams({termsType: 1})">
	<div class="wrap">
		<div class="wrap" autoscroll ng-class="{ 'terms-loading': loading }">
			<div ng-repeat="file in filesList">
				<div ng-if="$index == 0">
					<ul class="general_terms_menu" ng-class="{ general_terms_menu_reg: isRegulated }">
						<li ng-repeat="file in filesList" ng-if="file.menuTitle != ''">
							<a ng-click="goToByScrollWeb(file.id, -100)" class="anchor-link">{{file.menuTitle}}</a>
						</li>
					</ul>
				</div>
				
				<a class="anchor" id="{{file.id}}"></a>
				<div compile="file.html"></div>
			</div>
		</div>
	</div>
	<div class="quick-sign-strip" ng-if="!checkIfLogged()">
		<div class="wrap" ng-include="'html/minisite/quick-sign-strip.html'"></div>
	</div>
</section>