<section class="highlights">
	<div class="wrap">
		<h1 class="main-heading"><img class="ao-logo" src="img/pixel.png" width="212" height="48" alt="Anyoption"/> {{getMsgs('login')}}</h1>
		<div class="layer">
			<form name="_form" novalidate>
				<div ng-include="'html/templates/popUp-edit-avatar.html'" id="popUp-avatar" class="dN"></div>
				<div class="grid">
					<div class="row">
						<p class="anyoption-login-info">{{getMsgs('anyoption.txt1')}}:</p>
					</div>
					<div class="row avatar-box-holder">
						<div class="avatar-holder">
							<img class="thumb" ng-src="{{uploadedImage}}" width="128" height="128"/>
							<div class="edit icon" onclick="openElement({id:'popUp-avatar'})"></div>

							<div class="upload-proccess" ng-show="progress >= 0">
								<div style="width:{{progress}}%"></div>
							</div>
						</div>
						<div>
							<div>
								<h2><span>{{::copyopUser.user.firstName}} {{::copyopUser.user.lastName}}</span></h2>
							</div>
							<div>
								<input class="field" type="text" placeholder="{{getMsgs('nickname')}}" ng-model="nickname" id="nickname" name="nickname" 
									restrict-nickname required maxlength="11" autocomplete="off" />
							</div>
							<div>
								<span>{{getMsgs('from')}} {{::copyopUser.user.cityName}}, {{country}}</span>
							</div>
						</div>
					</div>
					<div class="row">
						<p>{{getMsgs('signup.p3')}}</p>
					</div>
					<div class="row double-line">
						<p class="time-message">{{getMsgs('anyoption.txt2')}}</p>
					</div>
					<div class="row">
						<label>
							<input type="checkbox" ng-model="acceptedTermsAndConditions" id="acceptedTermsAndConditions" name="acceptedTermsAndConditions"
								required />
							<span class="checkbox middle-check"></span>
							{{getMsgs('terms-and-conditions-1')}}
						</label> 
						<a ui-sref="ln.agreement({ln:skinLanguage})"><strong>{{getMsgs('terms-and-conditions-2')}}</strong></a> 
						{{getMsgs('terms-and-conditions-3')}}
					</div>
					<div class="row">
						<button class="button highlight flex" ng-class="{ loading: loading }" ng-click="submitAcceptTerms(_form)">{{getMsgs('done2')}}</button>
					</div>
					<div class="row flow">
						<div class="end">
							<a class="hint icon" ui-sref="ln.contact-us({ln:skinLanguage})">{{getMsgs('support')}} »</a>
						</div>
					</div>
					<div class="row error-message taC" id="globalErrorField"></div>
					<div class="row error-message taC">
						<span ng-if="checkError(_form, 'nickname', 'required')">{{getMsgs('nickname')}}: {{getMsgs('error-mandatory')}} </span>
						<span ng-if="checkError(_form, 'acceptedTermsAndConditions', 'required')">{{getMsgs('error-terms')}} </span>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>