<section class="mobile-deposit-page"  ng-if="!depositSuccessful">
	<div ng-include="'html/templates/first-deposit-header.html'"></div>
	<div class="deposit-container">
		<div ng-if="depositTab == 1">
			<div ng-include="'html/templates/first-deposit.html'" ng-controller="insertCardCtrl"></div>
		</div>
		<div ng-if="depositTab == 2">
			<div class="bank-wire-body" ng-init="isPopUp = false" ng-include="'html/templates/bank-wire-content.html'" ng-controller="bankWireCtr"></div>
		</div>
	</div>
</section>
<section ng-if="depositSuccessful">
	<div ng-include="'html/minisite/successful-deposit.html'"></div>
</section>
<section class="inner-disclaimer" ng-click="openCopyOpPopup({type: 'generalTerms', termsType: 1, scrollTo: 'risk'})">
	<p ng-bind-html="getMsgs('disclaimer-home-text', {link: 'javascript:return false;'})"></p>
</section>