<div>
	<div ng-repeat="row in assetIndexMarkets">
		<div ng-if="row.type == 3" class="pages_text_tables" style="font-size: 13px;">
			<h5>{{row.title}}</h5>
			<table border="0" width="100%" class="general_terms_table" cellpadding="0" cellspacing="0">
				<tr class="pages_text_table gt_row_bgr">
					<th class="general_terms_td_h">{{getMsgs('expiry-type')}}</th>
					<th class="general_terms_td_h">{{getMsgs('reutersField')}}</th>
					<th class="general_terms_td_h">{{getMsgs('expiry-formula')}}</th>
				</tr>
				<tr ng-repeat="formula in row.formulas" class="pages_text_table">
					<td class="general_terms_td">
						<span class="asset_info">{{getMsgs('exp-type-' + formula.expiryTypeId)}}</span>
					</td>
					<td rowspan="{{formula.sameNextRow ? '2' : '1'}}" class="general_terms_td" ng-if="!formula.sameNextRow || $index == 0">
						{{formula.reutersField}}
					</td>
					<td rowspan="{{formula.sameNextRow ? '2' : '1'}}" class="general_terms_td" ng-if="!formula.sameNextRow || $index == 0">
						{{assetIndexGeneral.assetIndexFormulasBySkin[formula.formulaIndex].formulaTranslation}}
					</td>
				</tr>
			</table>
			<div class="general_terms_footer asset_info_element">
				{{assetIndexGeneral.tooltipDataUnderTable}}<br />
				<span ng-if="row.additionalText">{{row.additionalText}}</span>
			</div>
		</div>
	</div>
</div>