<section class="inner-pg-container how-it-works-holder">
	<div class="wrap">
		<h1 class="main-heading">{{getMsgs('how_it_works')}}</h1>
		<div class="clear table-holder">
			<div>
				<ul class="copyop-explanation" id="how-it-works-navigation">
					<li data-map="2">
						<i class="copyop-explanation-dash"></i>
						<div class="copyop-explanation-img"></div>
						<div class="text-area" ng-bind-html="getMsgs('how-it-works.txt1', {'different-font': 'key-word','bold-text' : 'key-word-bold'})"></div>
					</li>
					<li>
						<i class="copyop-explanation-dash"></i>
						<div class="copyop-explanation-img trader"></div>
						<div class="text-area" ng-bind-html="getMsgs('how-it-works.txt2',{'different-font': 'key-word'})">
					</li>
					<li data-map="2">
						<div class="copyop-explanation-img copy-exp"></div>
						<div class="text-area" ng-bind-html="getMsgs('how-it-works.txt3', {'different-font': 'key-word','bold-text' : 'key-word-bold', 'small-txt' : 'key-word-small'})">
					</li>
					<li data-map="2" data-show-after="prev">
						<div class="copyop-explanation-img trade"></div>
						<div class="text-area" ng-bind-html="getMsgs('how-it-works.txt4', {'different-font': 'key-word','bold-text' : 'key-word-bold'})">
					</li>
					<li data-hidden="true">
						<div class="copyop-explanation-img trade"></div>
						<div class="text-area" ng-bind-html="getMsgs('how-it-works.txt4', {'different-font': 'key-word','bold-text' : 'key-word-bold'})">
					</li>
					<li data-ignore="true" ng-class="{ hidden: hideMore}" ng-click="sliderGoTo(5)">
						<div class="copyop-explanation-img more"></div>
					</li>
				</ul>
			</div>
			<div>
				<div class="explanation-demo" id="how-it-works">
					<i class="slider left" id="how-it-works-prev"></i>
					<i class="slider right" id="how-it-works-next"></i>
					<ul class="in">
						<li>
							<div class="demo-bg slide-1">
								<div class="main-img"></div>
								<span class="slide-text text-1">{{getMsgs('how-it-works.txt5')}}</span>
								<span class="slide-text text-2">{{getMsgs('how-it-works.txt6')}}</span>
								<i class="marker-rectangle-w"></i>
								<i class="indicator"></i>
							</div>
						</li>
						<li>
							<div class="demo-bg slide-2">
								<div class="main-img"></div>
								<span class="slide-text text-1">{{getMsgs('how-it-works.txt5')}}</span>
								<span class="slide-text text-2">{{getMsgs('how-it-works.txt6')}}</span>
								<i class="marker-elipse marker-elipse-1"></i>
								<i class="indicator"></i>
							</div>
						</li>
						<li>
							<div class="demo-bg slide-3">
								<div class="main-img"></div>
								<i class="marker-elipse marker-elipse-2"></i>
								<i class="indicator"></i>
							</div>
						</li>
						<li>
							<div class="demo-bg slide-4">
								<div class="main-img"></div>
								<span class="slide-text text-1">{{getMsgs('how-it-works.txt7')}}</span>
								<span class="slide-text text-2">{{getMsgs('how-it-works.txt8')}}</span>
								<i class="marker-arrow"></i>
								<i class="marker-elipse marker-elipse-3"></i>
								<i class="indicator"></i>
							</div>
						</li>
						<li>
							<div class="demo-bg slide-5">
								<div class="main-img"></div>
								<span class="slide-text text-1">{{getMsgs('how-it-works.txt8')}}</span>
								<span class="slide-text text-2">{{getMsgs('how-it-works.txt9')}}</span>
							</div>
						</li>
						<li>
							<div class="demo-bg slide-6">
								<div class="main-img"></div>
								<i class="marker-rectangle-h"></i>
								<i class="indicator"></i>
							</div>
						</li>
						<li>
							<div class="demo-bg slide-7">
								<div class="main-img"></div>
								<i class="marker-elipse marker-elipse-3"></i>
								<i class="indicator"></i>
							</div>
						</li>
						<li>
							<div class="demo-bg slide-8" ng-click="sliderGoTo(0)">
								<div class="main-img"></div>
								<span class="slide-text text-1">{{getMsgs('how-it-works.txt10')}}</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>