<section class="highlights">
	<div class="wrap">
		<h1 class="main-heading">{{getMsgs('login.header')}}</h1>
		<p class="subheading" ng-bind-html="getMsgs('login.subheading')"></p>
		<form name="_form" novalidate>
			<div class="layer">
				<div class="grid">
					<div class="row">
						<input class="field" type="text" ng-model="loginForm.userName" placeholder="{{getMsgs('username')}}" autofocus="autofocus" id="userName" name="userName" 
							required autocomplete="off" />
					</div>
					<div class="row">
						<input class="field" type="password" ng-model="loginForm.password" placeholder="{{getMsgs('password')}}" id="password" name="password" 
							required ng-minlength="6" maxlength="9" autocomplete="off"/><!--ng-minlength="6" -->
					</div>
					<div class="row">
						<button class="button highlight" ng-class="{ loading: loading }" type="submit" ng-click="getCopyopUser({onStateChange: false,  '_form': _form})">
							{{getMsgs('login')}}
						</button>
					</div>
					<div class="row flow">
						<div class="start"><a ui-sref="ln.password({ln:skinLanguage})">{{getMsgs('login.forgot-password')}} »</a></div>
						<div class="end"><a class="hint icon" ui-sref="ln.contact-us({ln:skinLanguage})">{{getMsgs('support')}} »</a></div>
					</div>
					<div class="row error-message taC" id="globalErrorField"></div>
					<div class="row error-message">
						<span ng-if="checkError(_form, 'userName', 'required')">{{getMsgs('username')}}: {{getMsgs('error-mandatory')}} </span>
						<span ng-if="checkError(_form, 'password', 'required')">{{getMsgs('password')}}: {{getMsgs('error-mandatory')}} </span>
						<span ng-if="checkError(_form, 'password', 'minlength')">{{getMsgs('password')}}: {{getMsgs('error-minimum-length', {length: 6})}} </span>
					</div>
				</div>
				<div class="grid signup">
					<div class="row">
						<h2>{{getMsgs('login.h2')}}</h2>
					</div>
					<div class="row">
						<a class="button" ui-sref="ln.signup({ln:skinLanguage})">{{getMsgs('sign-up')}}</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>