<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="home-video-popup">
		<i class="popUp-close icon" ng-click="closeCopyOpPopup()"></i>
		<iframe width="100%" height="100%" src="{{config.hpYoutubeVideo}}" frameborder="0" allowfullscreen></iframe>
	</div>
</div>