		<h1 class="bonus">Termini e Condizioni per il Bonus</h1>
		<p>
			copyop™ può concedere ai propri clienti (“<strong>Cliente</strong>”),
			a propria esclusiva dicrezione, bonus e/o qualunque altro beneficio,
			di volta in volta (“<strong>Bonus</strong>”).
		</p>
		<h2>1. Termini e Validità:</h2>
		<p>1.1 Il Cliente è tenuto ad attivare il bonus entro sette (7)
			giorni a partire dal giorno in cui il Cliente ha accettato e ha
			confermato i "Termini e le Condizioni del Bonus cliccando sul
			pulsante "Richiedi Bonus".</p>
		<p>1.2 Quando riceve un Bonus, il Cliente dovrà prima fare trading
			con il denaro che il Cliente ha depositato nel conto, e solo dopo il
			Cliente potrà fare trading con il bonus concesso da copyop™.</p>
		<p>1.3 Se non diversamente indicato, ogni Bonus non è cumulabile
			con altre offerte o promozioni copyop™.</p>
		<p>
			1.4 Una volta che il Bonus viene accettato, il Cliente ha a
			disposizione 3 (tre) mesi di calendario per completare i requisiti
			dell’investimento come condizione preliminare per il prelievo dei <strong>profitti</strong>
			del Cliente.
		</p>

		<h2>2. Requisiti dell’investimento:</h2>
		<p>2.1 I requisiti dell'investimento per un Bonus verranno
			applicati per un conto, al momento che un Bonus viene accettato e/o
			applicato sul conto del Cliente.</p>
		<p>2.2 Il requisito dell'investimento è normalmente impostato su
			{{data.wageringParam}} volte il valore del Bonus.</p>
		<p>{{data.wageringParam}} * [quantità del Bonus] = Requisito dell'Investimento</p>
		<p>Ad esempio, se il Cliente ha depositato $ 100 e ha ricevuto un
			bonus del 50%, il requisito dell'investimento è fissato per x{{data.wageringParam}}. Il
			Cliente dovrà investire l'importo del saldo totale del Cliente
			("Saldo Contanti" e "Saldo Bonus") per un importo totale di ${{data.wageringParam * 50}}
			entro tre (3) mesi.</p>
		<p>2.3 Se i Requisiti dell’Investimento non sono soddisfatti entro
			tre (3) mesi, copyop™ può togliere il bonus dal conto del cliente.
		</p>

		<h2>3. Prelievo dei profitti:</h2>
		<p>3.1 Un cliente deve soddisfare i Requisiti dell’Investimento,
			come precondizione per ritirare eventuali profitti generati dal
			Bonus.</p>
		<p>3.2 È chiaramente affermato che il Cliente può, in qualsiasi
			momento entro il periodo di tre (3) mesi, esprimere il proprio
			desiderio di terminare l'uso del Bonus. In questo caso, se il totale
			o una parte del deposito in cui viene fornito il bonus viene
			prelevato, si applica quanto segue:</p>
		<p class="gap">3.2.1 Il Bonus sarà annullato.</p>
		<p class="gap">3.2.2 Per i bonus assegnati dopo il 15 agosto 2015:
			in caso di profitti da trading, i profitti da trading generati dal
			Saldo del Bonus sono annullati. Il Saldo Contanti ed i profitti da
			trading attribuiti al Saldo Contanti del Cliente possono essere
			prelevati.</p>

		<h2>4. Varie:</h2>
		<p>
			4.1 Nel caso in cui un Cliente facesse trading con <strong>OPTION+</strong>,
			{{data.turnoverParam}}% dei Requisiti dell'Investimento sarà contabilizzato in termini di
			bonus o altri benefici. A titolo di esempio - se il Cliente investe $
			2.000 di trading su Option+, per soddisfare i criteri di bonus o
			altri vantaggi, il Cliente avrà accreditati {{data.turnoverParam * 2000}} $. I bonus dei
			programmi "Opzione senza rischi", "Aumento del rimborso", "Aumento
			del guadagno", e "Aumento del rimborso e del guadagno" non possono
			essere utilizzati su OPTION +.
		</p>
		<p>
			4.2 Quando un Cliente fa trading con <strong>Binary 0-100</strong>,
			il {{data.turnoverParam}}% dei Requisiti dell'Investimento sarà conteggiato in termini di
			bonus o altri benefici. A titolo di esempio - se il Cliente investe $
			2.000 nel trading con Binary 0-100, per soddisfare i criteri di bonus
			o altri vantaggi, il Cliente avrà accreditati {{data.turnoverParam * 2000}} $. I bonus dei
			programmi "Opzione senza rischi", "Aumento del rimborso", "Aumento
			del guadagno", e "Aumento del rimborso e del guadagno" non possono
			essere utilizzati su Binary 0-100.
		</p>
		<p>
			4.3 I bonus dei
			programmi "Opzione senza rischi", "Aumento del rimborso", "Aumento
			del guadagno", e "Aumento del rimborso e del guadagno" non possono
			essere utilizzati su bubbles.
		</p>
		<p>4.4 La Società si riserva il diritto di cancellare il Bonus nel
			caso in cui l'offerta speciale sia abusata e/o i termini dell’offerta
			non siano soddisfatti. La decisione della Società di annullare un
			Bonus è definitiva.</p>
		<p>4.5 La Società si riserva il diritto di revocare o modificare
			le offerte in qualsiasi momento e senza preavviso.</p>
		<p>4.6 La Società incoraggia i propri clienti a partecipare alle
			offerte, ma a non ad abusarne. Abusare di qualsiasi delle offerte
			potrebbe portare alla cancellazione del Bonus, al trattenimento degli
			eventuali utili e chiusura del conto trading del Cliente con effetto
			immediato.</p>
		<p>Il testo ufficiale dei Termini e delle Condizioni del Bonus
			sarà mantenuto da copyop™ in inglese. Nel caso di incongruenze tra
			la versione in inglese e versioni in altre lingue, avrà la priorità
			la versione in inglese.</p>