		<h1 class="bonus">Términos y condiciones de los bonos</h1>
		<p>
			copyop™ puede otorgar a sus clientes (“<strong>Cliente</strong>”),
			a su única discreción, bonos y/u otros beneficios de vez en cuando (“<strong>Bono</strong>”).
		</p>
		<h2>1. Periodo y validez:</h2>
		<p>1.1 Se requerirá al Cliente que active el Bono antes de siete
			(7) días a partir del día en que el Cliente acepte y confirme los
			Términos y Condiciones del Bono haciendo clic en el botón “Reclamar
			Bono”.</p>
		<p>1.2 Al recibir un Bono, el Cliente operará primero con el
			dinero que el Cliente haya depositado en la cuenta, y solo entonces
			el Cliente operará con el Bono otorgado por copyop™.</p>
		<p>1.3 A menos que se establezca lo contrario, los Bonos no se
			pueden combinar con cualquier otra oferta o promoción de copyop™.
		</p>
		<p>
			1.4 Una vez se haya aceptado el Bono, el Cliente tiene 3 (tres) meses
			naturales para completar el requisito de operaciones como
			precondición para la retirada de los <strong>beneficios</strong> del
			Cliente.
		</p>

		<h2>2. Requisitos de operaciones:</h2>
		<p>2.1 Se aplicarán a una cuenta requisitos de operaciones para un
			Bono una vez se acepte y/o aplique el Bono a la cuenta del Cliente.</p>
		<p>2.2 El requisito de operaciones se establece normalmente en {{data.wageringParam}}
			veces el valor del Bono.</p>
		<p>{{data.wageringParam}}*[cantidad del Bono] = Requisito de operaciones</p>
		<p>Por ejemplo, si el Cliente depositó 100 $ y recibió un bono del
			50 %, el requisito de operaciones se establece en x{{data.wageringParam}}. El Cliente
			tendrá que operar con su cantidad total de saldo (“Saldo en efectivo”
			y “Saldo del Bono”) en una cantidad total de {{data.wageringParam * 50}} $ antes de tres (3)
			meses.</p>
		<p>2.3 Si el requisito de operaciones no se cumple en tres (3)
			meses, copyop™ podría retirar el Bono de la cuenta del Cliente.</p>

		<h2>3. Retirada de beneficios:</h2>
		<p>3.1 El Cliente debe cumplir los requisitos de operaciones como
			precondición para retirar cualquier beneficio generado por el Bono.</p>
		<p>3.2 Se afirma claramente que el Cliente puede, en cualquier
			momento dentro del periodo de los tres (3) meses, expresar su deseo
			de cesar el uso del Bono. En este caso, si se retira todo o parte del
			depósito sobre el cual se otorga el bono, se aplicará lo siguiente:</p>
		<p class="gap">3.2.1 El Bono será cancelado.</p>
		<p class="gap">3.2.2 Para Bonos otorgados después del 15 de agosto
			de 2015: En el caso de operaciones con beneficios, los beneficios
			generados desde el Saldo del bono serán cancelados. El Saldo en
			efectivo y los beneficios de las inversiones atribuidos al Saldo en
			efectivo del Cliente podrían ser retirados.</p>

		<h2>4. Miscelánea:</h2>
		<p>
			4.1 En caso de que el Cliente opere con <strong>OPTION+</strong>, el
			{{data.turnoverParam}} % de los requisitos de operaciones será tenido en cuenta para los
			términos permanentes de los bonos u otros beneficios. Como ejemplo:
			si el Cliente invierte 2000 $ operando con Option+, entonces para
			cumplir los criterios de los bonos u otros beneficios, se otorgarán
			al Cliente {{data.turnoverParam * 2000}} $. Los bonos de “Opción sin riesgos”, “Reembolso
			incrementado”, “Rentabilidad incrementada” y “Reembolso y
			rentabilidad incrementadas” no se pueden utilizar en OPTION+.
		</p>
		<p>
			4.2 En caso de que el Cliente opere con <strong>Binarias
				0-100</strong>, el {{data.turnoverParam}} % de los requisitos de operaciones será tenido en
			cuenta para los términos permanentes de los bonos u otros beneficios.
			Como ejemplo: si el Cliente invierte 2000 $ operando con Binarias
			0-100, entonces para cumplir los criterios de los bonos u otros
			beneficios, se otorgarán al Cliente {{data.turnoverParam * 2000}} $. Los bonos de “Opción sin
			riesgos”, “Reembolso incrementado”, “Rentabilidad incrementada” y
			“Reembolso y rentabilidad incrementadas” no se pueden utilizar en
			Binarias 0-100.
		</p>
		<p>
			4.3 Los bonos de “Opción sin
			riesgos”, “Reembolso incrementado”, “Rentabilidad incrementada” y
			“Reembolso y rentabilidad incrementadas” no se pueden utilizar en
			bubbles.
		</p>
		<p>4.4 La Compañía se reserva el derecho a cancelar el Bono en
			caso de que se abuse de la oferta especial y/o en caso de que no se
			cumplan los términos de la oferta. La decisión de la Compañía de
			cancelar un Bono será final.</p>
		<p>4.5 La Compañía se reserva el derecho a revocar o cambiar las
			ofertas en cualquier momento sin aviso previo.</p>
		<p>4.6 La Compañía anima a sus clientes a tomar parte en las
			ofertas, pero que se abstengan de abusar de ellas. Abusar de
			cualquiera de las ofertas podría llevar a la cancelación del Bono,
			retener cualquier beneficio y el cierre de la cuenta de inversión del
			Cliente con efectos inmediatos.</p>
		<p>El texto oficial de los Términos y Condiciones de los Bonos
			será mantenido por copyop™ en inglés. En caso de cualquier
			conflicto entre la versión inglesa y las versiones en otros idiomas,
			prevalecerá la versión inglesa.</p>