<section class="inner-pg-container">
	<div class="wrap">
		<h1 class="main-heading inner-pg-img privacy-img">{{getMsgs('privacy')}}</h1>
		<div ng-include="'html/minisite/privacy-component.html'"></div>
	</div>
	<div class="quick-sign-strip" ng-if="!checkIfLogged()">
		<div class="wrap" ng-include="'html/minisite/quick-sign-strip.html'"></div>
	</div>
</section>
