<section class="highlights">
	<div class="wrap">
		<h1 class="main-heading">{{getMsgs('sign-up')}}</h1>
		<div class="layer sign-up">
			<div class="grid">
				<div class="row taC">
					<button class="button anyoption-login" ui-sref="ln.login({ln:skinLanguage})" ng-bind-html="getMsgs('anyoption-login')"></button>
				</div>
				<div class="row taC">
					<button class="button icon facebook" ng-click="loginWithFB()">{{getMsgs('sign-up-fb')}}</button>
				</div>
				<div class="row">
					<p class="taC" ng-if="!isMobile">{{getMsgs('signup.p1')}}</p>
					<p class="taC" ng-if="isMobile">{{getMsgs('signup.p1.mobile')}}</p>
				</div>
				<div class="separator-holder signup-separator">
					<div class="text-separator">{{getMsgs('or')}}</div>
				</div>
			</div>
			<div class="grid">
				<form name="_form" novalidate>
					<div class="table">
						<div>
							<div ng-include="'html/templates/popUp-edit-avatar.html'" id="popUp-avatar" class="dN"></div>
							<div class="row avatar-box-holder">
								<div class="avatar-holder">
									<img class="thumb" ng-src="{{uploadedImage}}" width="128" height="128"/>
									<div class="edit icon" onclick="openElement({id:'popUp-avatar'})"></div>

									<div class="upload-proccess" ng-show="progress >= 0">
										<div style="width:{{progress}}%"></div>
									</div>
								</div>
								<div>
									<div class="row">
										<input class="field" type="text" placeholder="{{getMsgs('first_name')}}" ng-model="firstName" id="firstName" name="firstName" 
											autofocus="autofocus" autocomplete="off" required restrict-letters/>
									</div>
									<div class="row">
										<input class="field" type="text" placeholder="{{getMsgs('last_name')}}" ng-model="lastName" id="lastName" name="lastName" 
											required autocomplete="off" restrict-letters/>
									</div>
								</div>
							</div>
							<div class="row">
								<label>
									<span class="label">{{getMsgs('signup.label1')}}</span> 
									<input class="field" type="text" placeholder="{{getMsgs('nickname')}}" ng-model="nickname" id="nickname" name="nickname" 
										restrict-nickname required maxlength="11" autocomplete="off" />
								</label>
							</div>
							<div class="row">
								<label>
									<span class="label">{{getMsgs('signup.label2')}}</span> 
									<input class="field" type="email" placeholder="{{getMsgs('email2')}}" ng-model="email" id="email" name="email" ng-blur="insertRegisterAttempt()" 
										required autocomplete="off" valid-email/>
								</label>
							</div>
						</div>
						<div>
							<div class="row">
								<div class="phone-holder">
									<div class="prefix-box select-wrapper">
										<select ng-model="copyopUser.user.country" id="countryId" name="countryId" 
											ng-options="country.displayName for country in countriesList">
										</select>
										<div class="dB clear">
											<span class="fL">{{copyopUser.user.country.a2}}</span>
											<span class="fR">+{{copyopUser.user.country.phoneCode}}</span>
										</div>
									</div>
									<div class="phone-box">
										<input class="field" type="text" placeholder="{{getMsgs('phone')}}" ng-model="mobilePhone" id="mobilePhone" name="mobilePhone" 
											ng-blur="insertRegisterAttempt()" autocomplete="off" required ng-minlength="7" restrict-digits />
									</div>
								</div>
							</div>
							<div class="row">
								<input class="field" type="password" placeholder="{{getMsgs('password')}}" ng-model="password" id="password" name="password"
									required ng-minlength="6" maxlength="9" autocomplete="off"/>
							</div>
							<div class="row">
								<input class="field" type="password" placeholder="{{getMsgs('retype-password')}}" ng-model="password2" id="password2" name="password2" 
									required ng-minlength="6" maxlength="9" ng-maxlength="9" compare-to="password" autocomplete="off"/>
							</div>
							<div class="row">
								<label>
									<input type="checkbox" ng-model="acceptedTermsAndConditions" id="acceptedTermsAndConditions" name="acceptedTermsAndConditions" required/>
									<span class="checkbox middle-check"></span>
									{{getMsgs('terms-and-conditions-1')}}
								</label>
								<a target="_blank" ui-sref="ln.agreement({ln:skinLanguage})"><b>{{getMsgs('terms-and-conditions-2')}}</b></a> 
								{{getMsgs('terms-and-conditions-3')}}
							</div>
							<div class="row">
								<button type="submit" class="button highlight signup-submit" ng-class="{ loading: loading }" ng-click="submitRegister(_form)">
									<span ng-if="!isMobile">{{getMsgs('done2')}}</span>
									<span ng-if="isMobile">{{getMsgs('submit')}}</span>
								</button>
							</div>
							<div class="row flow">
								<div class="end">
									<a class="hint icon" target="_blank" ui-sref="ln.contact-us({ln:skinLanguage})">{{getMsgs('support')}} »</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row error-message" id="globalErrorField"></div>
					<div class="row error-message">
						<span ng-if="checkError(_form, 'firstName', 'required')">{{getMsgs('first_name')}}: {{getMsgs('error-mandatory')}} </span>
						<span ng-if="checkError(_form, 'lastName', 'required')">{{getMsgs('last_name')}}: {{getMsgs('error-mandatory')}} </span>
						<span ng-if="checkError(_form, 'nickname', 'required')">{{getMsgs('nickname')}}: {{getMsgs('error-mandatory')}} </span>
						<span ng-if="checkError(_form, 'email', 'required')">{{getMsgs('email2')}}: {{getMsgs('error-mandatory')}} </span>
						<span ng-if="checkError(_form, 'email', 'validEmail')">{{getMsgs('error-invalid-email')}} </span>
						<span ng-if="checkError(_form, 'mobilePhone', 'required')">{{getMsgs('phone')}}: {{getMsgs('error-mandatory')}} </span>
						<span ng-if="checkError(_form, 'mobilePhone', 'minlength')">{{getMsgs('phone')}}: {{getMsgs('error-minimum-length', {length: 7})}} </span>
						<span ng-if="checkError(_form, 'password', 'required')">{{getMsgs('password')}}: {{getMsgs('error-mandatory')}} </span>
						<span ng-if="checkError(_form, 'password', 'minlength')">{{getMsgs('password')}}: {{getMsgs('error-minimum-length', {length: 6})}} </span>
						<span ng-if="checkError(_form, 'password2', 'required')">{{getMsgs('retype-password')}}: {{getMsgs('error-mandatory')}} </span>
						<span ng-if="checkError(_form, 'password2', 'compareTo')">{{getMsgs('error-password-not-match')}} </span>
						<span ng-if="checkError(_form, 'acceptedTermsAndConditions', 'required')">{{getMsgs('error-terms')}} </span>
					</div>
				</form>
				<div class="row risk-warning">
					<p compile="getMsgs('signup.p4')"></p>
				</div>
				<div class="row">
					<p class="lH20">{{getMsgs('signup.p2')}} {{getMsgs('signup.p3')}}</p>
				</div>
			</div>
		</div>
	</div>
</section>