<div class="success-deposit-minisite">
	<h1 class="ttUC">{{getMsgs('successful-deposit')}}</h1>
	<div class="wrapper">
		<i class="success-img"></i>
		<p class="text-box" ng-bind-html="successMsg"></p>
		<div class="grid apple-store">
			<a class="button highlight" href="{{appsflyerios}}" target="_blank">{{getMsgs('download-app-to-trade')}}</a>
		</div>
		<div class="grid google-play">
			<a class="button highlight" href="{{appsflyerandroid}}" target="_blank">{{getMsgs('download-app-to-trade')}}</a>
		</div>
	</div>
</div>