<div id="tab-content" class="academy-articles-content">
	<h1><span>{{getMsgs('academy-articles')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box academy-articles-screen">
		<div class="box-header"><h2>{{getMsgs('academy-articles')}}</h2></div>
		<form name="_form" novalidate>
			<div class="box-sub-header">
				<div class="">
					<label class="show-entries">
						<span>{{getMsgs('show-entries')}}:</span>
						<span><single-select ng-model="aa.filter.resultsPerPage"></single-select></span>
					</label>
					
					<button type="button" class="button blue" ng-click="aa.getList(_form)">{{getMsgs('search')}}</button>
				</div>
			</div>
		</form>
		<div class="box-sub-header">
			<button type="button" class="button grey" ng-click="$state.go('ln.content.academy-articles.add', {ln: $state.params.ln});">
				<i class="fa fa-plus add-icon" aria-hidden="true"></i>
				{{getMsgs('add-academy-article')}}
			</button>
		</div>
		<div class="box-body" ng-if="aa.resultsList && aa.resultsList.length == 0">
			<h2>{{getMsgs('no-results-found')}}</h2>
		</div>
		
		<div class="box-body" ng-if="aa.resultsList && aa.resultsList.length > 0">
			<table class="pretty-table" id="exportTable">
				<thead>
					<tr>
						<th>{{getMsgs('id')}}</th>
						<th>{{getMsgs('title')}}</th>
						<th>{{getMsgs('subtitle')}}</th>
						<th>{{getMsgs('author')}}</th>
						<th>{{getMsgs('time-created')}}</th>
						<th>{{getMsgs('active')}}</th>
						<th>{{getMsgs('home-page-position')}}</th>
						<th>{{getMsgs('action')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="article in aa.resultsList">
						<td>
							<a ng-click="$state.go('ln.content.academy-articles.edit', {ln: $state.params.ln, articleId: article.id});">
								<i class="fa fa-pencil edit-icon pr5" aria-hidden="true"></i>
								{{article.id}}
							</a>
						</td>
						<td>{{article.translations[0].title}}</td>
						<td>{{article.translations[0].subtitle}}</td>
						<td>{{article.translations[0].author}}</td>
						<td>{{article.timeCreated | date: "HH:mm dd/MM/yyyy"}}</td>
						<td>
							<span class="list-is-active-yes" ng-if="article.isActive">{{getMsgs('yes')}}</span>
							<span class="list-is-active-no" ng-if="!article.isActive">{{getMsgs('no')}}</span>
						</td>
						<td>{{article.homePagePosition > 0 ? article.homePagePosition : ''}}</td>
						<td>
							<button type="button" class="button red" ng-click="aa.deleteArticle(article)">{{getMsgs('delete')}}</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="box-footer" ng-if="aa.resultsList && aa.resultsList.length > 0">
			<pagination model="aa.pagination"></pagination>
		</div>
	</div>
</div>