<div ng-controller="TermsCtr" id="tab-content" class="content terms-content">
	<div class="terms-filter" ng-keypress="checkSubmitTerms($event)">
		<label>
			{{getMsgs('terms.platform')}}
			<select ng-model="filter.platform" ng-options="option.name for option in filter.platforms" ng-change="setDefaultSkin()"></select>
		</label>
		<label>
			{{getMsgs('terms.skin')}}
			<select ng-model="filter.skin" ng-options="skin.name for skin in filter.platform.skins | inArray: filter.platform.id: 'platforms'" ng-change="setDefaultPart()"></select>
		</label>
		<label>
			{{getMsgs('terms.part')}}
			<select ng-model="filter.part" ng-options="part.partsName for part in filter.skin.parts"></select>
		</label>
		
		<button type="button" class="button blue get-part-button" ng-click="getTermsFile()" id="filterBtn">
			{{getMsgs('terms.button.get.part')}}
		</button>
		
		<div class="global-errors-container" data-global-errors></div>
	</div>
	
	<div ng-if="tinymceReady && selectedPart != ''">
		<div class="terms-currently-editing">
			<h3>{{getMsgs('terms.currently.editing')}}</h3>
			<span><b>{{getMsgs('terms.platform')}}:</b> {{selectedPlatformName}}</span>
			<span><b>{{getMsgs('terms.skin')}}:</b> {{selectedSkinName}}</span>
			<span><b>{{getMsgs('terms.part')}}:</b> {{selectedPartName}}</span>
		</div>
		
		<div class="terms-file-is-active" ng-class="{active: file.isActive, inactive: !file.isActive}">
			<label>
				<span>{{getMsgs('active')}}</span>
				<input type="checkbox" ng-model="file.isActive" ng-true-value="true" ng-false-value="false">
			</label>
		</div>
		
		<div class="terms-file-title">
			<label>
				{{getMsgs('terms.file.title')}}
				<input ng-model="file.title">
			</label>
		</div>
		
		<div ng-if="tinymceReady">
			<textarea ui-tinymce="tinymceOptions" ng-model="file.content" rows="35" style="visibility:hidden;"></textarea>
		</div>
		
		<button type="button" class="button blue preview-part-button" ng-click="showPreview()" id="previewBtn">
			{{getMsgs('preview')}}
		</button>
	</div>
</div>