<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
     

<f:metadata>
  <f:event type="preRenderView" listener="#{pendingDocsSupportReg.initList()}"/>
</f:metadata>

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
	<h:form id="pendingDocsSupportReg">
	<t:saveState id="pdsFormState" value="#{pendingDocsSupportReg}" />
	<t:saveState id="pdsFormStateList" value="#{pendingDocsSupportReg.list}" />
		<h:panelGroup>
			<h:panelGrid border="0" columns="16" style="display: vertical-align: middle;">
					<h:outputText value="#{msgs['pendingdocuments.username']}" />
		            <h:inputText dir="ltr" size="20" maxlength="30" id="userName" value="#{pendingDocsSupportReg.userName}" valueChangeListener="#{pendingDocsSupportReg.filterChanged}" immediate="true"/>
					<h:outputText value="#{msgs['pendingdocuments.userid']}" />
		            <h:inputText dir="ltr" size="10" maxlength="15" id="userId" value="#{pendingDocsSupportReg.userId}" valueChangeListener="#{pendingDocsSupportReg.filterChanged}" immediate="true"/>
		            <h:outputText value="#{msgs['pendingdocuments.active']}" />
		            <h:selectOneMenu id="isUserActive" value="#{pendingDocsSupportReg.isUserActive}" 
						valueChangeListener="#{pendingDocsSupportReg.filterChanged}" immediate="true">
					   	<f:selectItem itemValue="-1" itemLabel="All" />
					   	<f:selectItem itemValue="1" itemLabel="Yes" />
					   	<f:selectItem itemValue="0" itemLabel="No" />
					</h:selectOneMenu>		
					<h:outputText value="#{msgs['pendingdocuments.last.login']}" />
					<h:selectOneMenu value="#{pendingDocsSupportReg.lastLogin}" 
						valueChangeListener="#{pendingDocsSupportReg.filterChanged}" immediate="true">
					  	<f:selectItem itemValue="1" itemLabel="3 months and less" />
					   	<f:selectItem itemValue="2" itemLabel="3-6 months" />
					   	<f:selectItem itemValue="3" itemLabel="6 months and more" />
					</h:selectOneMenu>
					<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" />
	    	    	<h:selectOneMenu id="skinId" value="#{pendingDocsSupportReg.skinId}" size="5">
						<f:selectItems value="#{writer.skinsAndEmptyLongSI}"/>
					</h:selectOneMenu>
					<h:outputText value="#{msgs['pendingdocuments.uploadedDocs']}" />
					<h:selectOneMenu id="uploadedDocs" value="#{pendingDocsSupportReg.uploadedDocs}" immediate="true">
					   	<f:selectItem itemValue="0" itemLabel="#{msgs['pendingdocuments.all']}" />
					   	<f:selectItem itemValue="1" itemLabel="#{msgs['pendingdocuments.all.docs']}" />
					   	<f:selectItem itemValue="2" itemLabel="#{msgs['pendingdocuments.all.docs.partial']}" />
					   	<f:selectItem itemValue="3" itemLabel="#{msgs['pendingdocuments.all.docs.none']}" />
					</h:selectOneMenu>
					<h:outputLabel for="excludeTesters" value="#{msgs['pendingdocuments.exclude.testers']}"/>
					<t:selectBooleanCheckbox disabled="false" id="excludeTesters" value="#{pendingDocsSupportReg.excludeTesters}" />
   					 <t:commandLink action="#{pendingDocsSupportReg.reset}">
		                <h:outputText value="#{msgs['pendingdocuments.reset']}" />
				    </t:commandLink> 
					 <t:commandLink action="#{pendingDocsSupportReg.search}">
		                <h:outputText value="#{msgs['button.search']}" />
				    </t:commandLink>     
			</h:panelGrid>
			<t:panelGrid  border="0" columns="4" style="display: horizontal-align: center;">
 				<h:commandButton value="first" action="#{pendingDocsSupportReg.pageFirst}"
                    disabled="#{pendingDocsSupportReg.firstRow == 0}" />
                <h:commandButton value="prev" action="#{pendingDocsSupportReg.pagePrevious}"
                    disabled="#{pendingDocsSupportReg.firstRow == 0}" />
                <h:commandButton value="next" action="#{pendingDocsSupportReg.pageNext}"
                    disabled="#{pendingDocsSupportReg.firstRow + pendingDocsSupportReg.rowsPerPage >= pendingDocsSupportReg.totalRows}" />
                <h:commandButton value="last" action="#{pendingDocsSupportReg.pageLast}"
                    disabled="#{pendingDocsSupportReg.firstRow + pendingDocsSupportReg.rowsPerPage >= pendingDocsSupportReg.totalRows}" />
			</t:panelGrid>
			<h:panelGrid border="0" columns="1">
					 <t:dataTable id="data"
						styleClass="scrollerTable"
						headerClass="standardTable_Header"
						footerClass="standardTable_Header"
						rowClasses="standardTable_Row1,standardTable_Row2"
						columnClasses="standardTable_Column,standardTable_ColumnCentered"
						var="v"
						preserveDataModel="false"
						renderedIfEmpty="false"
						cellpadding="0"
						cellspacing="1"
						rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
						varDetailToggler="detailToggler"
						value="#{pendingDocsSupportReg.list}"
						>
						<t:column styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
							<f:facet name="header">
								<h:outputText value="#{msgs['pendingdocuments.issueid']}"/>
							</f:facet>
							<h:outputText value="#{v.issueId}"/>
						</t:column>
						<t:column styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
							<f:facet name="header">
								<h:outputText value="#{msgs['pendingdocuments.userid']}"/>
							</f:facet>
							<h:outputText value="#{v.userId}" />
						</t:column>
						<t:column styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
							<f:facet name="header">
								<h:outputText value="#{msgs['pendingdocuments.username']}"/>
							</f:facet>
							<t:commandLink action="#{user.selectUserIssues}" >						
								<h:outputText value="#{v.userName}" />
								<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
								<f:setPropertyActionListener target="#{user.tmpUserId}" value="#{v.userId}" />
							</t:commandLink>
						</t:column>
						<t:column styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
							<f:facet name="header">
								<h:outputText value="#{msgs['pendingdocuments.mobile']}"/>
							</f:facet>
							<h:outputText value="#{v.mobilePhone}" />
						</t:column>
						<t:column styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
							<f:facet name="header">
								<h:outputText value="#{msgs['pendingdocuments.landline']}"/>
							</f:facet>
							<h:outputText value="#{v.landLinePhone}" />
						</t:column>
						<t:column styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
							<f:facet name="header">
								<h:outputText value="#{msgs['pendingdocuments.skin']}"/>
							</f:facet>
							<h:outputText value="#{v.skinName}" />
						</t:column>	
						
						 <t:column style="color:#{v.color}" styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
								<f:facet name="header">
									<h:outputText value="#{msgs['pendingdocuments.issue.last.update']}" />
								</f:facet>
								<h:outputText value="#{v.getIssueLastUpdateTxt()}" escape="false"/>								
							</t:column>	
														
					</t:dataTable>
				</h:panelGrid>
                <h:outputText value="Page #{pendingDocsSupportReg.currentPage} / #{pendingDocsSupportReg.totalPages}" />
                <br/>
                <h:outputText value="Total records : #{pendingDocsSupportReg.totalRows}" />
                
				<t:panelGrid  border="0" columns="2" style="display: horizontal-align: center;">
					<h:outputText value="Go to page :" />   
	                <t:dataList value="#{pendingDocsSupportReg.pages}" var="page">
	                    <h:commandLink value="#{page}" actionListener="#{pendingDocsSupportReg.page}" style="margin-right: 3px;"
	                        rendered="#{page != pendingDocsSupportReg.currentPage}" />
	                    <h:outputText value="#{page}" escape="false" style="margin-right: 3px;"
	                        rendered="#{page == pendingDocsSupportReg.currentPage}" />
	                  
	                </t:dataList>
				</t:panelGrid>
				
				<t:panelGrid  border="0" columns="4" style="display: horizontal-align: center;">
	                <h:outputLabel for="rowsPerPage" value="#{msgs['pendingdocuments.rowsPerPage']}" />
	                <h:inputText id="rowsPerPage" value="#{pendingDocsSupportReg.rowsPerPage}" size="3" maxlength="3" converterMessage="#{msgs['pendingdocuments.rowsPerPage.errorMsg']}" validatorMessage="#{msgs['pendingdocuments.rowsPerPage.errorMsg']}">
   		                <f:convertNumber longOnly="true"/>	                
		                <f:validateLongRange minimum="1" maximum="100"/>
	                </h:inputText>
	                <h:commandButton value="Set" action="#{pendingDocsSupportReg.pageFirst}" />
	                <h:message for="rowsPerPage" errorStyle="color: red;" />
				</t:panelGrid>
		</h:panelGroup>
	</h:form>
</ui:define>
</ui:composition>
</html>