<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	<t:panelTabbedPane align="center"
	                  serverSideTabSwitch="true"
	                  styleClass="subtabbedPane"
	                  activeTabStyleClass="activeTab"
	                  inactiveTabStyleClass="inactiveTab"
	                  disabledTabStyleClass="disabledTab"
	                  activeSubStyleClass="activeSub"
	                  inactiveSubStyleClass="inactiveSub"
	                  tabContentStyleClass="tabContent">

		    <t:panelTab id="NotRegulated" label="#{msgs['pendingdocuments.notregulated']}" >
				<t:panelTabbedPane
	                	serverSideTabSwitch="true"
						styleClass="subtabbedPane"
						activeTabStyleClass="subactiveTab"
						inactiveTabStyleClass="subinactiveTab"
						disabledTabStyleClass="disabledTab"
						activeSubStyleClass="subactiveSub"
						inactiveSubStyleClass="subinactiveSub"
						tabContentStyleClass="subtabContent">
							<t:panelTab id="notregulated_main" label="#{msgs['pendingdocuments.main']}" >
						    	<iframe name="notregulated_main1" id="notregulated_main_frame" scrolling="yes" frameborder="0"
									src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/pendingDocumentsSupportNotRegulatedMain.jsf?refresh=true" width="100%" height="600px">
								</iframe>
						    </t:panelTab>
							<t:panelTab id="nr_rejected_support" label="#{msgs['pendingdocuments.support.rejected']}" >
						    	<iframe name="nr_rejected_support_support1" id="nr_rejected_support_frame" scrolling="yes" frameborder="0"
									src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/pendingDocumentsSupportNotRegulatedSR.jsf?refresh=true" width="100%" height="600px">
								</iframe>
						    </t:panelTab>
							<t:panelTab id="nr_rejected_control" label="#{msgs['pendingdocuments.control.rejected']}" >
						    	<iframe name="nr_rejected_control1" id="nr_rejected_control_frame" scrolling="yes" frameborder="0"
									src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/pendingDocumentsSupportNotRegulatedCR.jsf?refresh=true" width="100%" height="600px">
								</iframe>
						    </t:panelTab>
					</t:panelTabbedPane>
		    </t:panelTab>

		    <t:panelTab id="Regulated" label="#{msgs['pendingdocuments.regulated']}" >
				<t:panelTabbedPane
	                	serverSideTabSwitch="true"
						styleClass="subtabbedPane"
						activeTabStyleClass="subactiveTab"
						inactiveTabStyleClass="subinactiveTab"
						disabledTabStyleClass="disabledTab"
						activeSubStyleClass="subactiveSub"
						inactiveSubStyleClass="subinactiveSub"
						tabContentStyleClass="subtabContent">
							<t:panelTab id="notregulated_main" label="#{msgs['pendingdocuments.main']}" >
						    	<iframe name="notregulated_main1" id="notregulated_main_frame" scrolling="yes" frameborder="0"
									src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/pendingDocumentsSupportRegulatedMain.jsf?refresh=true" width="100%" height="600px">
								</iframe>
						    </t:panelTab>
							<t:panelTab id="nr_rejected_support" label="#{msgs['pendingdocuments.support.rejected']}" >
						    	<iframe name="nr_rejected_support_support1" id="nr_rejected_support_frame" scrolling="yes" frameborder="0"
									src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/pendingDocumentsSupportRegulatedSR.jsf?refresh=true" width="100%" height="600px">
								</iframe>
						    </t:panelTab>
							<t:panelTab id="nr_rejected_control" label="#{msgs['pendingdocuments.control.rejected']}" >
						    	<iframe name="nr_rejected_control1" id="nr_rejected_control_frame" scrolling="yes" frameborder="0"
									src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/pendingDocumentsSupportRegulatedCR.jsf?refresh=true" width="100%" height="600px">
								</iframe>
						    </t:panelTab>
				</t:panelTabbedPane>
		</t:panelTab>
		</t:panelTabbedPane>
</ui:define>
</ui:composition>
</html>
