<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<f:metadata>
  <f:event type="preRenderView" listener="#{questionnaireFilledIncorrectlyForm.initList()}"/>
</f:metadata>

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
	<h:form id="questionnaireFilledIncorrectlyForm">
	<t:saveState id="pdsFormState" value="#{questionnaireFilledIncorrectlyForm}" />
	<t:saveState id="pdsFormStateList" value="#{questionnaireFilledIncorrectlyForm.list}" />
		<h:panelGroup>
			<h:panelGrid border="0" columns="12" style="display: vertical-align: middle;">
					<h:outputText value="#{msgs['questionnaire.status.username']}" />
		            <h:inputText dir="ltr" size="20" maxlength="30" id="userName" value="#{questionnaireFilledIncorrectlyForm.userName}" valueChangeListener="#{questionnaireFilledIncorrectlyForm.filterChanged}"/>
					<h:outputText value="#{msgs['questionnaire.status.userid']}" />
		            <h:inputText dir="ltr" size="10" maxlength="15" id="userId" value="#{questionnaireFilledIncorrectlyForm.userId}" valueChangeListener="#{questionnaireFilledIncorrectlyForm.filterChanged}"/>
		            <h:outputText value="#{msgs['questionnaire.status.notinterested']}" />
					<t:selectOneMenu id="classId" value="#{questionnaireFilledIncorrectlyForm.interested}" valueChangeListener="#{questionnaireFilledIncorrectlyForm.filterChanged}">
		                <f:selectItem itemLabel="#{msgs['questionnaire.status.all']}" itemValue="0" />  
		                <f:selectItem itemLabel="#{msgs['questionnaire.status.interested']}" itemValue="2" />  
		                <f:selectItem itemLabel="#{msgs['questionnaire.status.notinterested']}" itemValue="1" />  
					</t:selectOneMenu>
					<h:outputText value="#{msgs['questionnaire.status.daysCondition']}" />
					<h:selectOneMenu value="#{questionnaireFilledIncorrectlyForm.daysConditionDeposit}" valueChangeListener="#{questionnaireFilledIncorrectlyForm.filterChanged}">
					   	<f:selectItem itemValue="0" itemLabel="All" />
					   	<f:selectItem itemValue="1" itemLabel="Didn't reach 30 days" />
					   	<f:selectItem itemValue="2" itemLabel="30-60  days" />
					   	<f:selectItem itemValue="3" itemLabel="60-90  days" />
					   	<f:selectItem itemValue="4" itemLabel="90 days and more" />
					</h:selectOneMenu>
					<h:outputText value="#{msgs['pendingdocuments.qualified.since']}" />
					<h:selectOneMenu value="#{questionnaireFilledIncorrectlyForm.daysConditionQualified}" valueChangeListener="#{questionnaireFilledIncorrectlyForm.filterChanged}">
					   	<f:selectItem itemValue="0" itemLabel="All" />
					   	<f:selectItem itemValue="1" itemLabel="Didn't reach 30 days" />
					   	<f:selectItem itemValue="2" itemLabel="30-60  days" />
					   	<f:selectItem itemValue="3" itemLabel="60-90  days" />
					   	<f:selectItem itemValue="4" itemLabel="90 days and more" />
					</h:selectOneMenu>
					<h:outputText value="#{msgs['questionnaire.status.reached']}" />					
					<t:selectOneMenu id="allDocsUploaded" value="#{questionnaireFilledIncorrectlyForm.reached}" valueChangeListener="#{questionnaireFilledIncorrectlyForm.filterChanged}">
		                <f:selectItem itemLabel="All" itemValue="0" />  
		                <f:selectItem itemLabel="Yes" itemValue="1" />  
		                <f:selectItem itemLabel="No" itemValue="2" />  
					</t:selectOneMenu>
					<h:outputText value="#{msgs['pendingdocuments.qualified']}" />					
					<t:selectOneMenu id="qualified" value="#{questionnaireFilledIncorrectlyForm.qualified}" 
						valueChangeListener="#{questionnaireFilledIncorrectlyForm.filterChanged}" immediate="true">
		                <f:selectItem itemLabel="All" itemValue="2" />  
		                <f:selectItem itemLabel="Yes" itemValue="1" />  
		                <f:selectItem itemLabel="No" itemValue="0" />  
					</t:selectOneMenu>
					<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" />
	    	    	<h:selectOneMenu id="skinId" value="#{questionnaireFilledIncorrectlyForm.skinId}">
						<f:selectItems value="#{writer.skinsAndEmptyLongSI}"/>
					</h:selectOneMenu>	
   					 <t:commandLink action="#{questionnaireFilledIncorrectlyForm.reset}">
		                <h:outputText value="#{msgs['questionnaire.status.reset']}" />
				    </t:commandLink> 
					 <t:commandLink action="#{questionnaireFilledIncorrectlyForm.search}">
		                <h:outputText value="#{msgs['button.search']}" />
				    </t:commandLink>     
			</h:panelGrid>
			<t:panelGrid  border="0" columns="4" style="display: horizontal-align: center;">
 				<h:commandButton value="first" action="#{questionnaireFilledIncorrectlyForm.pageFirst}"
                    disabled="#{questionnaireFilledIncorrectlyForm.firstRow == 0}" />
                <h:commandButton value="prev" action="#{questionnaireFilledIncorrectlyForm.pagePrevious}"
                    disabled="#{questionnaireFilledIncorrectlyForm.firstRow == 0}" />
                <h:commandButton value="next" action="#{questionnaireFilledIncorrectlyForm.pageNext}"
                    disabled="#{questionnaireFilledIncorrectlyForm.firstRow + questionnaireFilledIncorrectlyForm.rowsPerPage >= questionnaireFilledIncorrectlyForm.totalRows}" />
                <h:commandButton value="last" action="#{questionnaireFilledIncorrectlyForm.pageLast}"
                    disabled="#{questionnaireFilledIncorrectlyForm.firstRow + questionnaireFilledIncorrectlyForm.rowsPerPage >= questionnaireFilledIncorrectlyForm.totalRows}" />
			</t:panelGrid>
			<h:panelGrid border="0" columns="1">
					 <t:dataTable id="data"
						styleClass="scrollerTable"
						headerClass="standardTable_Header"
						footerClass="standardTable_Header"
						rowClasses="standardTable_Row1,standardTable_Row2"
						columnClasses="standardTable_Column,standardTable_ColumnCentered"
						var="v"
						preserveDataModel="false"
						renderedIfEmpty="false"
						cellpadding="0"
						cellspacing="1"
						rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
						varDetailToggler="detailToggler"
						value="#{questionnaireFilledIncorrectlyForm.list}"
						>
							<t:column >
								<f:facet name="header">
									<h:outputText value="#{msgs['questionnaire.status.userid']}"/>
								</f:facet>
								<h:outputText value="#{v.userId}" />
							</t:column>
							<t:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['questionnaire.status.username']}"/>
								</f:facet>
								<t:commandLink action="#{user.selectUserIssues}" >						
									<h:outputText value="#{v.userName}" />
									<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
								</t:commandLink>
							</t:column>
							<t:column >
								<f:facet name="header">
									<h:outputText value="#{msgs['questionnaire.status.mobile']}"/>
								</f:facet>
								<h:outputText value="#{v.mobilePhone}" />
							</t:column>
							<t:column >
								<f:facet name="header">
									<h:outputText value="#{msgs['questionnaire.status.landline']}"/>
								</f:facet>
								<h:outputText value="#{v.landLinePhone}" />
							</t:column>
							<t:column >
								<f:facet name="header">
									<h:outputText value="#{msgs['questionnaire.status.skin']}"/>
								</f:facet>
								<h:outputText value="#{v.skinName}" />
							</t:column>
							<t:column >
								<f:facet name="header">
									<h:outputText value="#{msgs['questionnaire.status.firstDepositDate']}"/>
								</f:facet>
								<h:outputText value="#{v.firstDepositDate}" />
							</t:column>
							<t:column >
								<f:facet name="header">
									<h:outputText value="#{msgs['questionnaire.status.daysUntilSuspended']}"/>
								</f:facet>
								<h:outputText value="#{v.daysUntilSuspend}" />
							</t:column>										
							<t:column >
								<f:facet name="header">
									<h:outputText value="#{msgs['questionnaire.status.lastTimeReached']}"/>
								</f:facet>
								<h:outputText value="#{v.lastTimeReached}" />
							</t:column>	
							<t:column >
								<f:facet name="header">
									<h:outputText value="#{msgs['questionnaire.status.lastcaller']}"/>
								</f:facet>
								<h:outputText value="#{v.lastCaller}" />
							</t:column>	
							<t:column >
								<f:facet name="header">
									<h:outputText value="#{msgs['questionnaire.status.lastTimeCalled']}"/>
								</f:facet>
								<h:outputText value="#{v.lastTimeCall}" />
							</t:column>
							<t:column >
								<f:facet name="header">
									<h:outputText value="#{msgs['questionnaire.status.userNotInterested']}"/>
								</f:facet>
								<h:outputText value="#{v.userNotInterested}" />
							</t:column>
							
					</t:dataTable>
                <h:outputText value="Page #{questionnaireFilledIncorrectlyForm.currentPage} / #{questionnaireFilledIncorrectlyForm.totalPages}" />
                <br/>
                <h:outputText value="Total records : #{questionnaireFilledIncorrectlyForm.totalRows}" />
                
				<t:panelGrid  border="0" columns="2" style="display: horizontal-align: center;">
					<h:outputText value="Go to page :" />   
	                <t:dataList value="#{questionnaireFilledIncorrectlyForm.pages}" var="page">
	                    <h:commandLink value="#{page}" actionListener="#{questionnaireFilledIncorrectlyForm.page}"
	                        rendered="#{page != questionnaireFilledIncorrectlyForm.currentPage}" />
                       <h:outputText value=" " escape="false" />
	                    <h:outputText value="#{page} " escape="false"
	                        rendered="#{page == questionnaireFilledIncorrectlyForm.currentPage}" />	                  
	                </t:dataList>
				</t:panelGrid>
				
				<t:panelGrid  border="0" columns="4" style="display: horizontal-align: center;">
	                <h:outputLabel for="rowsPerPage" value="Rows per page" />
	                <h:inputText id="rowsPerPage" value="#{questionnaireFilledIncorrectlyForm.rowsPerPage}" 
	                	size="3" maxlength="3" required="true">
	                	<f:validateLongRange minimum="1" maximum="999" />	                	
	                </h:inputText>		               
	                <h:commandButton value="Set" action="#{questionnaireFilledIncorrectlyForm.pageFirst}" />
	                 <t:message id="rowsPerPageError" for="rowsPerPage" replaceIdWithLabel="true" styleClass="error"/>
				</t:panelGrid>
					
				</h:panelGrid>
		</h:panelGroup>
	</h:form>
</ui:define>
</ui:composition>
</html>