<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	#{user.goAccounting}
    <t:saveState value="#{riskAlertsForm}" />
    <h:panelGroup>
		<h:form id="riskAlertsForm">
        	<h:panelGrid border="0" columns="16">
				<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
	           	<h:panelGrid columns="3">
					<h:inputText styleClass="input_text" id="from" required="true" value="#{riskAlertsForm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['riskAlertsForm'].elements['riskAlertsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone=""/>
				    </h:inputText>
				    <A HREF="#" onClick="cal.select(document.forms['riskAlertsForm'].elements['riskAlertsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

		        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
	           	<h:panelGrid columns="3">
					<h:inputText styleClass="input_text" id="to" required="true" value="#{riskAlertsForm.to}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['riskAlertsForm'].elements['riskAlertsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone=""/>
				    </h:inputText>
				    <A HREF="#" onClick="cal.select(document.forms['riskAlertsForm'].elements['riskAlertsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
			       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputText value="#{msgs['investments.search.date.by']}"/>
	   		  	<t:selectOneMenu id="timeType" value="#{riskAlertsForm.timeType}">
		   			<f:selectItems value="#{riskAlertsForm.timeTypeList}" />
		        </t:selectOneMenu>

				<h:panelGrid witdh="3px"/>

	           	<h:outputText value="#{msgs['transactions.username']}" />
	            <h:inputText dir="ltr" size="10" maxlength="15" id="userName" value="#{riskAlertsForm.userName}" />

				<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" />
		     	<t:selectOneMenu id="skinId" value="#{riskAlertsForm.skinId}" >
	        		<f:selectItems value="#{writer.skinsAndEmptySI}" />
	    	    </t:selectOneMenu>

           	</h:panelGrid>
       	    <h:panelGrid border="0" columns="9">
	          	 <t:outputLabel  for="userClassId" value="#{msgs['user.classes.type']}" />
	             <t:selectOneMenu id="userClassId" value="#{riskAlertsForm.userClassId}" >
	    	       	<f:selectItems value="#{writer.userClassesSI}" />
	    	     </t:selectOneMenu>

	    	     <t:outputLabel  for="riskAlerts" value="#{msgs['risk.alert,dexcription']}" />
	             <t:selectOneMenu id="riskAlerts" value="#{riskAlertsForm.riskAlertsTypeDescription}" >
	    	       	<f:selectItems value="#{writer.riskAlertsTypeDescriptionSI}" />
	    	     </t:selectOneMenu>

	    	     <h:outputLabel for="succeededTrx" value="#{msgs['risk.alert.suc.trx']}"/>
	    	     <t:selectOneMenu id="succeededTrx" value="#{riskAlertsForm.succeededTrx}" >
	    	       	<f:selectItems value="#{writer.yesNoAllSI}" />
	    	     </t:selectOneMenu>

				 <h:outputText value="#{msgs['transinvestments.type']}"/>
		   		 <h:selectOneMenu id="typeId" immediate="true" value="#{riskAlertsForm.transactionTypeId}" >
		   			<f:selectItems value="#{riskAlertsForm.selectionTypes}" />
				 </h:selectOneMenu>


				 <t:commandLink id="updateBtn" action="#{riskAlertsForm.updateRiskAlertsList}">
			                <h:outputText value="#{msgs['button.search']}" />
		 		 </t:commandLink>
    		</h:panelGrid>

			<br/>
	    	<h:outputText styleClass="general_message" rendered="#{riskAlertsForm.listSize==0}" value="#{msgs['risk.alert.empty.list']}"/>

		   	<t:dataTable id="data"
		        styleClass="scrollerTable"
		        headerClass="standardTable_Header"
		        footerClass="standardTable_Header"
		        rowClasses="standardTable_Row1,standardTable_Row2"
		        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
		        var="v"
		        preserveDataModel="false"
		        rows="#{user.rowsByMenu}"
		        renderedIfEmpty="false"
		        cellpadding="0"
		        cellspacing="1"
		        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
				varDetailToggler="detailToggler"
		        value="#{riskAlertsForm.riskAlertList}" >

	            <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['transactions.id']}"/>
	               </f:facet>
	               <h:commandLink rendered="#{v.transactionId != 0}" immediate="true" action="#{detailToggler.toggleDetail}">
		               <h:outputText value="#{v.transactionId}" />
	  			   </h:commandLink>
	            </h:column>

	            <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['investments.id']}"/>
	               </f:facet>
	               <h:commandLink rendered="#{v.investmentId != 0}" immediate="true" action="#{detailToggler.toggleDetail}">
		               <h:outputText value="#{v.investmentId}" />
					</h:commandLink>
	            </h:column>

	   		    <t:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['transactions.username']}"/>
	               </f:facet>
	               <t:commandLink action="#{user.selectUserNoPopUp}" immediate="true" >
	               		<h:outputText value="#{v.user.userName}" />
		                <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.user.userName}" />
				   </t:commandLink>
	            </t:column>

			   	<t:column>
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['register.idnum']}"/>
	               </f:facet>
	               		<h:outputText value="#{v.user.idNum}"/>
           		</t:column>

 			   	<t:column>
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['risk.alert.publisher']}"/>
	               </f:facet>
	               		<h:outputText value="#{v.campaign_id}"/>
           		</t:column>

			   	<t:column>
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['investments.timecreated']}"/>
	               </f:facet>
	               		<h:outputText escape="false" value="#{v.timeCreatedTxt}"/>
           		</t:column>

	            <h:column>
	               <f:facet name="header">
	                   <h:outputText value="#{msgs['transactions.timesettled']}"/>
	               </f:facet>
	               <h:outputText escape="false" value="#{v.timeSettledTxt}" />
	            </h:column>

           		<t:column>
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['register.skin']}"/>
	               </f:facet>
	               		<h:outputText value="#{v.userSkinName}"/>
           		</t:column>

           		<t:column>
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['risk.alert.type']}"/>
	               </f:facet>
	               		<h:outputText value="#{v.riskAlertClassTypeDecription}"/>
           		</t:column>

           		<t:column>
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['transactions.desc']}"/>
	               </f:facet>
	               		<h:outputText value="#{v.riskAlertTypeDecription}"/>
           		</t:column>

           		<t:column>
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['risk.alert.suc.trx']}"/>
	               </f:facet>
	               		<h:outputText rendered="#{v.succeededTrx == 1}" value="YES"/>
	               		<h:outputText rendered="#{v.succeededTrx == 0}" value="NO"/>
           		</t:column>

 				<f:facet name="detailStamp">
       				<h:panelGrid class="detailsBGColor" border="0" columns="1" width="100%">
						<h:panelGroup rendered="#{v.investmentId != 0}">
							<h:panelGrid border="0" columns="12" width="100%">
							  <h:outputText value="#{msgs['investments.det.cancel']}" />
							  <h:outputText escape="false" styleClass="data_display" value="#{riskAlertsForm.getIsCanceledTxt(v.investment)}" />

							  <h:outputText value="#{msgs['investments.det.canceltime']}" />
							  <h:outputText escape="false" styleClass="data_display" value="#{v.investment.timeCanceled}">
								  <f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
							  </h:outputText>

							  <h:outputText value="#{msgs['investments.det.cancelby']}" />
							  <h:outputText escape="false" styleClass="data_display" value="#{riskAlertsForm.canceledWriterName(v.investment)}" />

							  <h:outputText value="#{msgs['investments.scheduled']}" />
							  <h:outputText escape="false" styleClass="data_display" value="#{riskAlertsForm.getScheduledTxt(v.investment)}" />

							  <h:outputText value="#{msgs['investments.writer']}" />
							  <h:outputText escape="false" styleClass="data_display" value="#{utils.getWriterName(v.investment.writerId)}" />

							  <h:outputText value="#{msgs['investments.timecreated']}" />
							  <h:outputText escape="false" styleClass="data_display" value="#{v.investment.timeCreated}">
								  <f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
							  </h:outputText>

							  <h:outputText value="#{msgs['investments.marketname']}" />
							  <h:outputText escape="false" styleClass="data_display" value="#{v.investment.marketName}" />

							  <h:outputText value="#{msgs['investments.level']}" />
							  <h:outputText escape="false" styleClass="data_display" value="#{riskAlertsForm.getCurrentLevelTxt(v.investment)}" />

							  <h:outputText value="#{msgs['investments.amount']}" />
							  <h:outputText escape="false" styleClass="data_display" value="#{riskAlertsForm.getAmountWithoutFeesTxt(v.investment)}" />

							  <h:outputText value="#{msgs['register.username']}"/>
							  <t:commandLink action="#{user.selectUserNoPopUp}" immediate="true">
		 			              <h:outputText styleClass="data_display" value="#{v.user.userName}"/>
								  <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.user.userName}" />
						 	  </t:commandLink>

				              <h:outputText value="#{msgs['register.accountid']}"/>
							  <t:commandLink action="#{user.selectUserNoPopUp}" immediate="true">
					             <h:outputText styleClass="data_display" value="#{v.investment.userId}"/>
								 <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.user.userName}" />
					 		  </t:commandLink>

			                  <h:outputText value="#{msgs['register.firstname']}"/>
				              <h:outputText styleClass="data_display" value="#{v.user.firstName}"/>

			                  <h:outputText value="#{msgs['register.lastname']}"/>
			                  <h:outputText styleClass="data_display" value="#{v.user.lastName}"/>

			                  <h:outputText value="#{msgs['userstrip.skinname']}"/>
			                  <h:outputText styleClass="data_display" value="#{v.userSkinName}"/>
							</h:panelGrid>
						</h:panelGroup>
						<!-- TRANSACTION -->

           				<h:panelGroup rendered="#{v.transactionId != 0}">
	           				 <h:panelGrid border="0" columns="8" width="60%">
		 			              <h:outputText value="#{msgs['register.username']}"/>
								  <t:commandLink action="#{user.selectUserNoPopUp}" immediate="true">
						             <h:outputText styleClass="data_display" value="#{v.user.userName}"/>
									 <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.user.userName}" />
						 		  </t:commandLink>

					              <h:outputText value="#{msgs['register.accountid']}"/>
								  <t:commandLink action="#{user.selectUserNoPopUp}" immediate="true">
						             <h:outputText styleClass="data_display" value="#{v.transaction.userId}"/>
									 <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.user.userName}" />
						 		  </t:commandLink>

				                  <h:outputText value="#{msgs['register.firstname']}"/>
					              <h:outputText styleClass="data_display" value="#{v.user.firstName}"/>

				                  <h:outputText value="#{msgs['register.lastname']}"/>
				                  <h:outputText styleClass="data_display" value="#{v.user.lastName}"/>
							 </h:panelGrid>

							 <h:panelGrid border="0" columns="8" width="50%">
  								  <h:outputText value="#{msgs['newaccounts.skin.business.case']}"/>
		                  		  <h:outputText styleClass="data_display" value="#{v.businessCaseNameTxt}"/>

								  <h:outputText value="#{msgs['userstrip.skinname']}"/>
		                  		  <h:outputText styleClass="data_display" value="#{v.userSkinName}"/>

								  <h:outputText value="#{msgs['pendingwithdraws.currency']}"/>
		                  		  <h:outputText styleClass="data_display" value="#{transactionFormater.getCurrencyTxt(v.transaction)}"/>

		                  		  <h:outputText value="#{msgs['pendingwithdraws.amount']}"/>
		                  		  <h:outputText styleClass="data_display" value="#{transactionFormater.getAmountTxt(v.transaction)}"/>
							 </h:panelGrid>

							 <h:panelGrid border="0" columns="16" width="100%">
  								  <h:outputText value="#{msgs['transactions.ip']}" />
								  <h:outputText styleClass="data_display" value="#{v.transaction.ip}" />

   								  <h:outputText value="#{msgs['transactions.timesettled']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transactionFormater.getTimeSettledTxt(v.transaction)}" />

								  <h:outputText value="#{msgs['transactions.processedwriter']}" />
								  <h:outputText styleClass="data_display" value="#{transactionFormater.getProcessedWriterName(v.transaction)}" />

  								  <h:outputText value="#{msgs['transactions.receipt']}" />
								  <h:outputText styleClass="data_display" value="#{v.transaction.receiptNumTxt}" />

								  <h:outputText value="#{msgs['transactions.reference']}" />
								  <t:commandLink action="#{transactionsForm.selectTransactions}" >
									  <h:outputText styleClass="data_display" value="#{v.transaction.referenceId}" />
 				                      <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v.transaction}" />
				 	    	      </t:commandLink>

  								  <h:outputText value="#{msgs['transactions.authnumber']}" />
								  <h:outputText styleClass="data_display" value="#{v.transaction.authNumber}" />
							</h:panelGrid>

							<h:panelGrid border="0" columns="2" >
								<h:outputText value="#{msgs['transactions.description']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.description}" />
							</h:panelGrid>

							<h:panelGrid border="0" columns="3" >
								<h:outputText value="#{msgs['transactions.comments']}" />
  							   	<h:outputText dir="ltr" styleClass="data_display" value="#{v.transaction.comments}" />
  							    <h:panelGroup rendered="#{v.transaction.creditCardId!=null &amp;&amp; v.transaction.typeId==1 &amp;&amp; (v.transaction.statusId == 2 || v.transaction.statusId == 7)}" >
  							    	<ui:include src="/jsp/common/credit_card_comments.xhtml">
										<ui:param name="creditCard" value="#{v.transaction.creditCard}" />
									</ui:include>
  							    </h:panelGroup>
						    </h:panelGrid>

							<h:panelGrid rendered="#{v.transaction.creditCardId!=null}" border="0" columns="8" width="100%">
  								<h:outputText value="#{msgs['transactions.ccid']}" />
 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.transaction.creditCard.id}" />

 								    <h:outputText value="#{msgs['transactions.cctype']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.creditCard.type.name}" />

							    <h:outputText value="#{msgs['transactions.ccvisible']}" />
							    <t:selectBooleanCheckbox styleClass="data_display" disabled="true" value="#{v.transaction.creditCard.visible}"/>

							    <h:outputText value="#{msgs['creditcards.allowed']}" />
							    <t:selectBooleanCheckbox styleClass="data_display" disabled="true" value="#{v.transaction.creditCard.allowed}" />

							    <h:outputText value="#{msgs['transactions.ccnum']}" />

							    <h:outputText styleClass="data_display" rendered="#{!utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.transaction.creditCard.ccNumberLast4NotMasked}" />
							    <h:outputText styleClass="data_display" rendered="#{utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.transaction.creditCard.ccNumberXXXX}" />
							    

  								<h:outputText value="#{msgs['transactions.ccpass']}" />
							    <h:outputText styleClass="data_display" value="#{msgs['transactions.ccpass.ex']}" />

							    <h:outputText value="#{msgs['transactions.cctimecreated']}" />
							    <h:outputText styleClass="data_display" escape="false" value="#{v.transaction.creditCard.timeCreated}">
							    	<f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{v.transaction.creditCard.utcOffsetCreated}" />
							    </h:outputText>

							    <h:outputText value="#{msgs['transactions.cctimemodified']}" />
							    <h:outputText styleClass="data_display" escape="false" value="#{v.transaction.creditCard.timeModified}">
							    	<f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{v.transaction.creditCard.utcOffsetModified}" />
							    </h:outputText>

   								<h:outputText value="#{msgs['transactions.expdate']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.creditCard.expMonth}/#{v.transaction.creditCard.expYear}" />

							    <h:outputText value="#{msgs['transactions.ccholdername']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.creditCard.holderName}" />

  								<h:outputText value="#{msgs['transactions.ccholderidnum']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.creditCard.holderIdNum}" />

							    <h:outputText value="#{msgs['transactions.cProvider']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.clearingProviderName}" />
			 	 		 	</h:panelGrid>

							<h:panelGrid rendered="#{v.transaction.chequeId!=null}" border="0" columns="8" width="100%">
  							  	<h:outputText value="#{msgs['transactions.chequeid']}" />
	 				 	 	    <h:outputText styleClass="data_display" value="#{v.transaction.cheque.id}" />

 							    <h:outputText value="#{msgs['transactions.chequename']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.cheque.name}" />

							    <h:outputText value="#{msgs['transactions.chequeaddress']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.cheque.street} #{v.transaction.cheque.streetNo} #{v.transaction.cheque.cityName} #{v.cheque.zipCode}" />

  							    <h:outputText value="#{msgs['transactions.chequeidnum']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.cheque.chequeId}" />

							    <h:outputText rendered="#{v.transaction.showFee}"  value="#{msgs['transactions.chequeexistfee']}" />
							    <h:outputText rendered="#{v.transaction.showFee}" styleClass="data_display" value="#{v.transaction.existFee}" />
 				 	 		</h:panelGrid>

 				 	 		<h:panelGrid rendered="#{v.transaction.wireId!=null}" border="0" columns="8" width="100%">
							  	<h:outputText value="#{msgs['transactions.wireid']}" />
 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.transaction.wire.id}" />

							    <h:outputText rendered="#{v.skinId != 1}" value="#{msgs['bank.wire.beneficiary.name']}" />
							    <h:outputText rendered="#{v.skinId != 1}" styleClass="data_display" value="#{v.transaction.wire.beneficiaryName}" />

							    <h:outputText rendered="#{v.skinId != 1}" value="#{msgs['bank.wire.swift']}" />
							    <h:outputText rendered="#{v.skinId != 1}" styleClass="data_display" value="#{v.transaction.wire.swift}" />

							    <h:outputText rendered="#{v.skinId != 1}" value="#{msgs['bank.wire.iban']}" />
							    <h:outputText rendered="#{v.skinId != 1}" styleClass="data_display" value="#{v.transaction.wire.iban}" />

			 		 	        <h:outputText rendered="#{v.skinId != 1}" value="#{msgs['bank.wire.account.number']}" />
							    <h:outputText rendered="#{v.skinId != 1}" styleClass="data_display" value="#{v.transaction.wire.accountNum}" />

							    <h:outputText rendered="#{v.skinId != 1}" value="#{msgs['bank.wire.bank.name']}" />
							    <h:outputText rendered="#{v.skinId != 1}" styleClass="data_display" value="#{v.transaction.wire.bankNameTxt}" />

							    <h:outputText rendered="#{v.skinId != 1}" value="#{msgs['bank.wire.branch.number']}" />
							    <h:outputText rendered="#{v.skinId != 1}" styleClass="data_display" value="#{v.transaction.wire.branch}" />

							    <h:outputText rendered="#{v.skinId != 1}" value="#{msgs['bank.wire.branch.address']}" />
							    <h:outputText rendered="#{v.skinId != 1}" styleClass="data_display" value="#{v.transaction.wire.branchAddress}" />

							    <h:outputText rendered="#{v.skinId != 1}" value="#{msgs['transactions.bankFeeAmount']}" />
							    <h:outputText rendered="#{v.skinId != 1}" styleClass="data_display" value="#{v.transaction.wire.bankFeeAmount}" />

								<!-- ETRADER FIELDS -->
								<h:outputText rendered="#{v.skinId == 1}" value="#{msgs['transactions.wirebranch']}" />
							    <h:outputText rendered="#{v.skinId == 1}" styleClass="data_display" value="#{v.transaction.wire.branch}" />

							    <h:outputText rendered="#{v.skinId == 1}" value="#{msgs['transactions.wireaccountnum']}" />
							    <h:outputText rendered="#{v.skinId == 1}" styleClass="data_display" value="#{v.transaction.wire.accountNum}" />

							    <h:outputText rendered="#{v.skinId == 1}" value="#{msgs['transactions.wireaccountname']}" />
							    <h:outputText rendered="#{v.skinId == 1}" styleClass="data_display" value="#{v.transaction.wire.accountName}" />

			 		 	        <h:outputText rendered="#{v.skinId == 1}" value="#{msgs['transactions.wirebankname']}" />
							    <h:outputText rendered="#{v.skinId == 1}" styleClass="data_display" value="#{msgs[v.transaction.wire.bankName]}" />
 	 	 		         	</h:panelGrid>

 				 	 		<h:panelGrid rendered="#{v.transaction.chargeBackId!=null}" border="0" columns="8" width="100%">
  							  	<h:outputText value="#{msgs['transactions.chargebackid']}" />
								<t:commandLink styleClass="data_display" action="#{transactionsForm.editChargeBack}" immediate="true" >
									<h:outputText value="#{v.transaction.chargeBack.id}"/>
									<f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v.transaction}" />
								 </t:commandLink>

 								<h:outputText value="#{msgs['transactions.chargebacktimecreated']}" />
							    <h:outputText styleClass="data_display" escape="false" value="#{v.transaction.chargeBack.timeCreatedTxt}" />

							    <h:outputText value="#{msgs['transactions.chargebackdescription']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.chargeBack.description}" />

  								<h:outputText value="#{msgs['transactions.chargebackstatus']}" />
							    <h:outputText styleClass="data_display" value="#{msgs[v.transaction.chargeBack.statusName]}" />

			 		 	        <h:outputText value="#{msgs['transactions.chargebackwriter']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.chargeBack.writer}" />
 				 	 		 </h:panelGrid>

							 <h:panelGrid rendered="#{v.transaction.ccDeposit}" border="0" columns="2" width="16%">
			 		 	        <h:outputText value="#{msgs['transactions.credit.amount']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.creditAmountTxt}" />
							 </h:panelGrid>

							<h:panelGrid rendered="#{v.transaction.ccOrInternalWithdrawal}" border="0" columns="6" width="50%">
			 		 	        <h:outputText value="#{msgs['transactions.splitted.id']}" />
							    <h:outputText styleClass="data_display" rendered="#{v.transaction.splittedReferenceId>0}" value="#{v.transaction.splittedReferenceId}" />

			 		 	        <h:outputText value="#{msgs['transactions.credit.withdrawal']}" />
							    <h:outputText styleClass="data_display" rendered="#{v.transaction.creditWithdrawal}" value="#{msgs['yes']}"/>
							    <h:outputText styleClass="data_display" rendered="#{!v.transaction.creditWithdrawal}" value="#{msgs['no']}"/>

			 		 	        <h:outputText value="#{msgs['transactions.deposit.reference.id']}" />
							    <h:outputText styleClass="data_display" rendered="#{v.transaction.depositReferenceId>0}" value="#{v.transaction.depositReferenceId}" />
							</h:panelGrid>
							</h:panelGroup>
						 </h:panelGrid>
					</f:facet>
			</t:dataTable>

			<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center;" columns="1" border="0" width="100%" >
		    	<t:dataScroller id="scroll_1"
		            for="data"
		            fastStep="10"
		            pageCountVar="pageCount"
		            pageIndexVar="pageIndex"
		            paginator="true"
		            paginatorMaxPages="9"
		            styleClass="scroller"
		            paginatorActiveColumnClass="paginator_active"
		            paginatorColumnClass="paginator"
		            paginatorTableClass="paginator"
		            immediate="true"
		            rendered="#{riskAlertsForm.listSize>user.rowsByMenu}">
		            <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
				</t:dataScroller>

		    </h:panelGrid>

    	</h:form>
	</h:panelGroup>
	<h:panelGrid columns="2">
		<h:outputLabel for="rowsNum" value="#{msgs['population.entry.rows.number']}"/>
   		<h:outputLabel immediate="true" id="rowsNum" value="#{riskAlertsForm.listSize}"/>
	</h:panelGrid>
</ui:define>
</ui:composition>

</html>



