<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">

	#{user.supportMoreOptions}

	<t:panelTabbedPane align="center"
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent">

	<t:panelTab id="supportMoreissues" label="#{msgs['menu.issues']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/issues.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>
    
    <t:panelTab id="questionnaireStatus" label="#{msgs['menu.questionnaireStatus']}" >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/questionnaireStatus.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>
    
    
    <!--<t:panelTab rendered="#{user.hasSSupportRole}" id="pendingwithdraws" label="#{msgs['menu.pendingwithdraws']}" >
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/pendingwithdraws.jsf?refresh=true" width="100%" height="450px"></iframe>
    </t:panelTab>-->

    <t:panelTab rendered="#{writer.writer.id == 264 || writer.writer.id == 237}" id="automaticAlerts" label="#{msgs['menu.accounting.risk.alert']}" >
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/riskAlerts.jsf?refresh=true" width="100%" height="450px"></iframe>
    </t:panelTab>

	 <t:panelTab id="DAA" label="#{msgs['menu.retention.decline.after.approved']}" >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/declineAfterApproved.jsf?refresh=true" width="100%" height="700px"></iframe>
    </t:panelTab>
    
    <t:panelTab id="callMe" label="#{msgs['menu.retention.call.me']}" >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/callMe.jsf?refresh=true" width="100%" height="700px"></iframe>
    </t:panelTab>

   	<t:panelTab rendered="#{writer.writer.id != 43 &amp;&amp; writer.writer.id != 312 &amp;&amp; writer.writer.id != 264 &amp;&amp; writer.writer.id != 1444 &amp;&amp; writer.writer.id != 1428}" id="risk" label="#{msgs['menu.risk']}" >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/riskIssues.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>

   	<t:panelTab rendered="#{writer.writer.id == 43 || writer.writer.id == 312 || writer.writer.id == 264 || writer.writer.id == 1444 || writer.writer.id == 1428}" id="risk1" label="#{msgs['menu.risk']}" >
		<t:panelTabbedPane align="center"
	                  serverSideTabSwitch="true"
	                  styleClass="tabbedPane"
	                  activeTabStyleClass="activeTab"
	                  inactiveTabStyleClass="inactiveTab"
	                  disabledTabStyleClass="disabledTab"
	                  activeSubStyleClass="activeSub"
	                  inactiveSubStyleClass="inactiveSub"
	                  tabContentStyleClass="tabContent">

		    <t:panelTab id="allRisk" label="#{msgs['menu.all.risk.issues']}" >
		    	<iframe name="content" id="content" scrolling="yes" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/riskIssues.jsf?refresh=true" width="100%" height="100%"></iframe>
		    </t:panelTab>

		    <t:panelTab id="userRisk" label="#{msgs['menu.user.risk.issues']}" >
		    	<iframe name="content" id="content" scrolling="yes" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/riskUsersFiles.jsf?refresh=true" width="100%" height="100%"></iframe>
		    </t:panelTab>
		</t:panelTabbedPane>
    </t:panelTab>
    
    <t:panelTab id="alerts" label="#{msgs['menu.alerts']}" rendered="#{user.hasSAdminRole || writer.writer.id == 16}">
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/alerts.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>
    
    <t:panelTab id="transactions" label="#{msgs['menu.transactions']}" rendered="#{user.hasSalesMExt}">
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/transactions.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>

</t:panelTabbedPane>


</ui:define>
</ui:composition>

</html>