<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">

	#{user.goAccounting}

	<t:panelTabbedPane align="center"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent">

    <!--<t:panelTab id="pendingwithdraws" label="#{msgs['menu.pendingwithdraws']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/pendingwithdraws.jsf?refresh=true&amp;admin=false" width="100%" height="100%"></iframe>
    </t:panelTab>-->

    <!-- <t:panelTab id="transactions" label="#{msgs['menu.transactions']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/transactions.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>-->

    <t:panelTab id="xortransactions" label="#{msgs['menu.xortransactions']}" >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/xorTransactions.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="captureInfo" label="#{msgs['menu.capture.info']}" >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/captureDailyInfo.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="riskAlert" label="#{msgs['menu.accounting.risk.alert']}" >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/riskAlerts.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>

	<t:panelTab id="blackList" label="#{msgs['menu.blacklist']}" >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/blackList.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>

	<t:panelTab id="tranUpdate" label="#{msgs['menu.transaction.update']}" visibleOnUserRole="sadmin, accounting">
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/transactionStatus.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>
    
    <t:panelTab id="routing" rendered="#{user.hasRoutingRole}" label="#{msgs['menu.routing']}">
    	<t:panelTabbedPane align="center"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent">
                  
			<div href="#" class="tooltip_route">
			    	<img src="#{facesContext.externalContext.requestContextPath}/images/i.png" alt="" align="left" width="20" height="19" border="0"/>
			    <span>
			        <strong><h:outputText value="#{msgs['general.route.priority']}" /></strong><br />
			        <ol>
						<li><h:outputText value="#{msgs['general.bin']}" /></li>
					  	<li><h:outputText value="#{msgs['general.currency']}" /></li>
					  	<li><h:outputText value="#{msgs['general.cc.type']}" /></li>
					  	<li><h:outputText value="#{msgs['general.country']}" /></li>
					  	<li><h:outputText value="#{msgs['general.skin']}" /></li>
					  	<li><h:outputText value="#{msgs['general.business.skin']}" /></li>
					</ol>
			    </span>
			</div>
        	
        	<t:panelTab id="routing_display" label="#{msgs['menu.routing.display']}" >
	    		<iframe name="content" id="content" scrolling="yes" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/clearingRoutes.jsf?refresh=true" width="100%" height="100%">
				</iframe>
			</t:panelTab>	
			
    		<t:panelTab id="find_route" label="#{msgs['menu.routing.find.route']}" >
	    		<iframe name="content" id="content" scrolling="yes" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/findRoute.jsf?refresh=true" width="100%" height="100%">
				</iframe>
			</t:panelTab>
		</t:panelTabbedPane>
    </t:panelTab>

    <t:panelTab id="chargebacks" label="#{msgs['menu.chargebacks']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/chargebacks.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>
    
    <t:panelTab id="automaticRerouting" label="#{msgs['menu.automatic.rerouting']}"  rendered="falose">
    	<t:panelTabbedPane align="center"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent">
    
    	
    		<t:panelTab id="check" label="#{msgs['menu.automatic.rerouting.check']}" >
	    		<iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/check.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
			</t:panelTab>
			
			<t:panelTab id="limits" label="#{msgs['menu.automatic.rerouting.limits']}" >
	    		<iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/limits.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
			</t:panelTab>
			
			<t:panelTab id="priorities" label="#{msgs['menu.automatic.rerouting.priorities']}" >
	    		<iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/priorities.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
			</t:panelTab>
		</t:panelTabbedPane>
    </t:panelTab>
	<t:panelTab id="cupDistribution" label="#{msgs['menu.cupDistribution']}" rendered="#{user.hasSAdminRole || writer.writer.id == 13}">
		<iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/accounting/cupDistribution.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
	</t:panelTab>
</t:panelTabbedPane>


</ui:define>
</ui:composition>

</html>