<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

	#{user.goAccounting}

    <h:panelGroup>

		<t:saveState value="#{blackListForm}" />

		<h:form id="blackListForm">

			<h:panelGrid border="0" columns="1" >
				<h:panelGrid border="0" columns="4" >
					<h:panelGrid border="0" columns="3" >
						<t:outputText value="#{msgs['general.username']}"/>
				        <t:inputText id="userName" dir="ltr" value="#{blackListForm.userName}" />
				        <t:message id="userNameError" for="userName" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3" >
						<t:outputText value="#{msgs['general.user.id']}"/>
				        <t:inputText id="userid"  dir="ltr" value="#{blackListForm.userIdStr}" >
				        	<f:validateLongRange/>
				        </t:inputText>
				        <t:message id="useridError" for="userid" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3" >
						<t:outputText value="#{msgs['general.user.first.name']}"/>
				        <t:inputText id="firstName"  dir="ltr" value="#{blackListForm.userFirstName}" />
				        <t:message id="firstNameError" for="firstName" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

					<h:panelGrid border="0" columns="3" >
				        <t:outputText value="#{msgs['general.user.last.name']}"/>
				        <t:inputText id="lastName"  dir="ltr" value="#{blackListForm.userLastName}" />
				        <t:message id="lastNameError" for="lastName" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
				</h:panelGrid>

				<h:panelGrid border="0" columns="4" >
					<h:panelGrid border="0" columns="3" >
				        <t:outputText value="#{msgs['general.phone']}"/>
				        <t:inputText id="phone"  dir="ltr" value="#{blackListForm.phone}" />
				        <t:message id="phoneError" for="phone" replaceIdWithLabel="true" styleClass="error"/>
				    </h:panelGrid>

					<h:panelGrid border="0" columns="3" >
				        <t:outputText value="#{msgs['general.email']}"/>
				        <t:inputText id="email"  dir="ltr" value="#{blackListForm.email}" />
				        <t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error"/>
				    </h:panelGrid>

			        <h:panelGrid border="0" columns="3" >
				        <t:outputText value="#{msgs['general.password']}"/>
				        <t:inputText id="password"  dir="ltr" value="#{blackListForm.password}" />
				        <t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>
				    </h:panelGrid>

			        <h:panelGrid border="0" columns="3" >
				        <t:outputText value="#{msgs['general.ip']}"/>
				        <t:inputText id="ip"  dir="ltr" value="#{blackListForm.ip}" />
				        <t:message id="ipError" for="ip" replaceIdWithLabel="true" styleClass="error"/>
				    </h:panelGrid>
				</h:panelGrid>

				<h:panelGrid border="0" columns="4" >

		            <h:panelGrid columns="3" border="0">
							<h:outputText value="#{msgs['blacklist.publisher']}"/>
		               		<h:selectOneMenu id="campaignName" value="#{blackListForm.campaignId}"  >
		               			<f:selectItems value="#{writer.allMarketingCampaignsBySkinsLongSI}" />
			               	</h:selectOneMenu>
		        	</h:panelGrid>

					<h:panelGrid columns="3" border="0" >
						<h:outputLabel for="activityId" value="#{msgs['blacklist.reason']}"/>
           				<h:selectOneMenu id="activityId" value="#{blackListForm.actionTypeId}" required="false">
           					<f:selectItem  itemLabel="" itemValue="" />
               				<f:selectItems value="#{writer.accountingIssueActionTypesSI}" />
	               	    </h:selectOneMenu>
        	  			<t:message id="activityIdError" for="activityId" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGrid>

		       	</h:panelGrid>


		        <h:panelGrid width="5px" />

		         <t:commandLink action="#{blackListForm.searchBlackList}">
			                <h:outputText value="#{msgs['button.search']}" />
				 </t:commandLink>

		</h:panelGrid>


        <h:outputText styleClass="general_message" rendered="#{blackListForm.listSize==0}"
        value="#{msgs['users.emptylist']}"/>


		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{blackListForm.list}"
           >
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['general.username']}"/>
               </f:facet>
               <t:commandLink action="#{user.selectUserNoPopUp}" immediate="true" >
               		<h:outputText styleClass="user_strip_value_darkgreen" value="#{v.userName}" />
					<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
			   </t:commandLink>
           </h:column>

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['general.user.id']}"/>
               </f:facet>
               <t:commandLink action="#{user.selectUserNoPopUp}" immediate="true" >
	          		<h:outputText styleClass="user_strip_value_darkgreen" value="#{v.userId}" />
					<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
			   </t:commandLink>
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['blacklist.publisher']}"/>
               </f:facet>
	           <h:outputText styleClass="user_strip_value_darkgreen" value="#{v.publisher}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['blacklist.reason']}"/>
               </f:facet>
	           <h:outputText styleClass="user_strip_value_darkgreen" value="#{v.actionTypeName}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['blacklist.time']}"/>
               </f:facet>
	           <h:outputText styleClass="user_strip_value_darkgreen" value="#{v.actionTime}" escape="false">
	           		<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{applicationData.getUtcOffset(v.actionTimeOffset)}" />
	           </h:outputText>
           </h:column>

        </t:dataTable>
		<br/>

        <t:dataScroller id="scroll_2"
                for="data"
                rowsCountVar="rowsCount"
                displayedRowsCountVar="displayedRowsCountVar"
                firstRowIndexVar="firstRowIndex"
                lastRowIndexVar="lastRowIndex"
                pageCountVar="pageCount"
                immediate="true"
                pageIndexVar="pageIndex"
                >
            <h:outputFormat value="#{msgs['table.total']}" styleClass="standard"  rendered="#{blackListForm.listSize>0}" >
                <f:param value="#{rowsCount}" />
                <f:param value="#{displayedRowsCountVar}" />
                <f:param value="#{firstRowIndex}" />
                <f:param value="#{lastRowIndex}" />
                <f:param value="#{pageIndex}" />
                <f:param value="#{pageCount}" />
            </h:outputFormat>
        </t:dataScroller>

		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center;" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{blackListForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>


        </h:form>

    </h:panelGroup>

	</ui:define>
</ui:composition>

</html>

