<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:p="http://primefaces.org/ui">
		<ui:composition template="/jsp/templates/prime_template.xhtml">
		<ui:define name="content">	
			<t:saveState value="#{routingForm}" />	
			<h:form id="addRouteForm">			
				<p:growl id="growl" sticky="true" showDetail="true"/>			
				<p:wizard flowListener="#{routingForm.onFlowProcess}">			 
					<!--mandatory-->
				 	<p:tab id="mandatory" title="#{msgs['general.mandatory']}">
			            <p:panel header="#{msgs['route.mandatory.settings']}">
			                <p:messages />		                
			                <h:panelGrid columns="6">					
								<!--business_skin_id-->
								<p:outputLabel value=" * #{msgs['newaccounts.skin.business.case']}"/>
						        <p:selectOneMenu id="skinBusinessCaseId" value="#{routingForm.clearingRoute.businessSkinId}" required="true">
						        	<f:selectItem itemValue="" itemLabel="#{msgs['general.select.search.headline']}" />
									<f:selectItems value="#{writer.businessCasesSI}"/>
								</p:selectOneMenu>
								<!--platform_id-->
								<p:outputLabel value=" * #{msgs['general.platform']}" />
						        <p:selectOneMenu id="platformId" value="#{routingForm.clearingRoute.platform.id}" required="true">
						        	<f:selectItem itemValue="" itemLabel="#{msgs['general.select.search.headline']}" />
						            <f:selectItems itemValue="#{entry.key}" itemLabel="#{entry.value}" value="#{applicationData.platformsMap.entrySet()}" var="entry"/>
						        </p:selectOneMenu>
								<!--deposit_clearing_provider-->
								<p:outputLabel value=" * #{msgs['general.deposit.provider']}" />
					     		<p:selectOneMenu id="deposit_clearingProvider" value="#{routingForm.clearingRoute.depositClearingProviderId}" required="true">
					        		<f:selectItem itemValue="" itemLabel="#{msgs['general.select.search.headline']}" />
					        		<f:selectItems value="#{writer.providersSelectItem}" />
					        	</p:selectOneMenu>	        
								<!--withdraw_clearing_provider-->
								<p:outputLabel value=" * #{msgs['general.withdraw.provider']}" />
					     		<p:selectOneMenu id="withdraw_clearingProvider" value="#{routingForm.clearingRoute.withdrawClearingProviderId}" required="true">
					        		<f:selectItem itemValue="" itemLabel="#{msgs['general.select.search.headline']}" />
					        		<f:selectItems value="#{writer.providersSelectItem}" />
					        	</p:selectOneMenu>
								<!--cft_clearing_provider-->
								<p:outputLabel value=" * #{msgs['general.cft.provider']}" />
					     		<p:selectOneMenu id="cft_clearingProvider" value="#{routingForm.clearingRoute.CFTClearingProviderId}" required="true">
					        		<f:selectItem itemValue="" itemLabel="#{msgs['general.select.search.headline']}" />
					        		<f:selectItems value="#{writer.providersSelectItem}" />
					        	</p:selectOneMenu>
					        	<!--comments-->
								<p:outputLabel value="* #{msgs['general.comments']}" />
								<p:inputText maxlength="50" size="80" required="true" dir="ltr" value="#{routingForm.clearingRoute.comments}" placeholder="Please Insert nice Explanation"/>
								<!-- skip -->
								<h:outputText value="Skip to last: " />
								<p:selectBooleanCheckbox value="#{routingForm.skip}" />
							</h:panelGrid>    	                	                
			            </p:panel>
		        	</p:tab>
		        	
		        	<!--optional-->
		        	<p:tab id="optional" title="#{msgs['general.optional']}">
			            <p:panel header="#{msgs['route.optional.settings']}">
			                <p:messages />		                
			              	<h:panelGrid columns="6">
			              		<!-- bin -->
			              		<p:outputLabel value="#{msgs['general.bin']}" />
								<p:inputText id="startBinId" size="12" maxlength="6" dir="ltr" value="#{routingForm.clearingRoute.bin}" >
					          	  	<f:validateRegex pattern="^\d{6}|$" />
						        </p:inputText>
						        <!--currency_id-->
								<p:outputLabel for="currencies" value="#{msgs['general.currency']}" />
						        <p:selectOneMenu id="currencies" value="#{routingForm.clearingRoute.currnecyId}">
					            	<f:selectItem itemValue="0" itemLabel="#{msgs['general.select.search.headline']}" />
					            	<f:selectItems value="#{writer.currenciesSI}" />
					        	</p:selectOneMenu>		       
								<!--cc_type-->
								<p:outputLabel for="creditCardType" value="#{msgs['general.credit.card.type']}" />
						        <p:selectOneMenu id="creditCardType"  value="#{routingForm.clearingRoute.ccType}">
						        	<f:selectItem itemValue="0" itemLabel="#{msgs['general.select.search.headline']}" />
						            <f:selectItems value="#{applicationData.creditCardTypes}" />
						        </p:selectOneMenu>
								<!--country_id-->
								<p:outputLabel for="countryId" value="#{msgs['general.country']}" />
						        <p:selectOneMenu id="countryId" value="#{routingForm.clearingRoute.countryId}">
						            <f:selectItem itemValue="0" itemLabel="#{msgs['general.select.search.headline']}" />
						            <f:selectItems value="#{applicationData.countriesList}" />
						        </p:selectOneMenu>			       
								<!--skin_id-->	
								<p:outputLabel for="skinId" value="#{msgs['general.skin']}" />
						        <p:selectOneMenu id="skinId"  value="#{routingForm.clearingRoute.skinId}">
						            <f:selectItem itemValue="0" itemLabel="#{msgs['general.select.search.headline']}" />
						            <f:selectItems value="#{writer.skinsSI}" />
						        </p:selectOneMenu>
						        <!--empty-->
						        <p:outputLabel value="" />
						        <p:outputLabel value="" />
								<!--is_active-->
								<h:outputText value="#{msgs['general.active']} " />
	        					<p:selectBooleanCheckbox value="#{routingForm.clearingRoute.active}" />
								<!--time_last_success-->
				
								<!--time_last_reroute-->
							</h:panelGrid>                 
			            </p:panel>
		        	</p:tab>
		        	
		        	<!--confirm-->
		        	<p:tab id="confirmation" title="#{msgs['route.confirmation']} ">
			            <p:panel header="#{msgs['route.confirmation']} ">
			                <h:panelGrid id="confirm" columns="4" columnClasses=",,grid_column">
			                    <!--mandatory-->
			                    <h:panelGrid columns="3">    
			                    	<!--business_skin_id-->
				                    <p:outputLabel value="#{msgs['newaccounts.skin.business.case']}: "/>
			                      	<h:outputText value="#{routingForm.clearingRoute.getBusinessSkinNameById(routingForm.clearingRoute.businessSkinId)}" styleClass="outputLabel"/>		        			
			        				<!--platform_id-->
									<p:outputLabel value="#{msgs['general.platform']}: " />	
			                      	<h:outputText value="#{applicationData.platformsMap.get(routingForm.clearingRoute.platform.id)}" styleClass="outputLabel"/>	                    
			                    	<!--deposit_clearing_provider-->
									<p:outputLabel value="#{msgs['general.deposit.provider']}: " />  	
			                      	<h:outputText value="#{routingForm.clearingRoute.getProviderNameById(routingForm.clearingRoute.depositClearingProviderId)}" styleClass="outputLabel"/>	                      	
			                      	<!--withdraw_clearing_provider-->
									<p:outputLabel value="#{msgs['general.withdraw.provider']}: " />								
			                      	<h:outputText value="#{routingForm.clearingRoute.getProviderNameById(routingForm.clearingRoute.withdrawClearingProviderId)}" styleClass="outputLabel"/>	                      	
			                    	<!--cft_clearing_provider-->
									<p:outputLabel value="#{msgs['general.cft.provider']}: " />  	
			                      	<h:outputText value="#{routingForm.clearingRoute.getProviderNameById(routingForm.clearingRoute.CFTClearingProviderId)}" styleClass="outputLabel"/>	                      	
			                    	<!--comments-->
									<p:outputLabel value="#{msgs['general.comments']}: " />  	
			                      	<h:outputText value="#{routingForm.clearingRoute.comments}" styleClass="outputLabel"/>	
			                    </h:panelGrid>
			                    		                    
			 					<!--optional-->
			                    <h:panelGrid columns="3" >		 
				 					<!--bin-->
									<p:outputLabel value="#{msgs['general.bin']}: " />
									<h:outputText value="#{routingForm.clearingRoute.bin}" styleClass="outputLabel"/>					        		       
							        <!--currency_id-->
									<p:outputLabel for="currencies" value="#{msgs['general.currency']}: " />
							      	<h:outputText value="#{routingForm.getCurrencyNameKey(routingForm.clearingRoute.currnecyId)}" styleClass="outputLabel"/>						      				        	       
									<!--cc_type-->
									<p:outputLabel for="creditCardType" value="#{msgs['general.credit.card.type']}: " />
							        <h:outputText value="#{routingForm.getCreditCardTypeName(routingForm.clearingRoute.ccType)}" styleClass="outputLabel"/>						        
									<!--country_id-->
									<p:outputLabel for="countryId" value="#{msgs['general.country']}: " />
							        <h:outputText value="#{routingForm.getCountryName(routingForm.clearingRoute.countryId)}" styleClass="outputLabel"/>						        			       
									<!--skin_id-->	
									<p:outputLabel for="skinId" value="#{msgs['general.skin']}: " />
							        <h:outputText value="#{routingForm.getSkinName(routingForm.clearingRoute.skinId)}" styleClass="outputLabel"/>						        
									<!--is_active-->
									<h:outputText value="#{msgs['general.active']}: " />
		        					<h:outputText value="#{routingForm.clearingRoute.active}" styleClass="outputLabel"/>	 
			                    </h:panelGrid>
			                </h:panelGrid>		 
			                <p:commandButton id="saveButton" value="#{msgs['submit']}: " action="clearingRoutes.xhtml?faces-redirect=true" actionListener="#{routingForm.addNewRoute}" update="growl" />
			            </p:panel>
			        </p:tab>				
				</p:wizard>
				<div style="padding-top:20px;"></div>				     
			</h:form>						           								
		</ui:define>
	</ui:composition>
</html>