<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<ui:composition template="/jsp/templates/template_general.xhtml">
		<ui:define name="content">
			#{user.goAccounting}
		    <h:panelGroup>
				<h:form id="distributionForm">
					<h:panelGrid border="0" columns="1" >
			    		<h:dataTable value="#{distributionForm.distributionList}" var="o"
							columnClasses="standardTable_Column,standardTable_ColumnCentered"
			    			rowClasses="standardTable_Row1,standardTable_Row2"
			    		>
			    			<h:column>
			    				<f:facet name="header">Provider Name</f:facet>
			    				<h:outputText value="#{o.clearingProviderName}"/>
			    			</h:column>
			    			<h:column>
			    				<f:facet name="header">Provider percentage</f:facet>
			    				<h:inputText value="#{o.clearingProviderPercentage}">
				    				<f:validateLongRange minimum="0" maximum="100" />
			    				</h:inputText>
			    			</h:column>
			    		</h:dataTable>
			    		<h:commandButton id="save" value="Save Changes" action="#{distributionForm.save}" />
			    		<t:message id="saveError"	for="save" replaceIdWithLabel="true" styleClass="error"/>
			    		<t:message id="saveSuccess"	for="save" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
		        </h:form>
		    </h:panelGroup>
		    <h:panelGroup>
				<h:outputText value="Last changed by #{distributionForm.writer} on #{distributionForm.date}"/>
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</html>

