<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
	<br/>
	<h:outputText style="font-weight:bold;text-decoration:underline;" value="#{msgs[lowOrHighTiers]}"/>
	<h:outputText styleClass="general_message" rendered="#{pendingWithdrawForm.getListSize(lowOrHighTiers)==0}"	value="#{msgs['transactions.emptylist']}"/>
	<br/>
	<h:outputFormat value="#{msgs['table.total']}" styleClass="standard" rendered="#{pendingWithdrawForm.getListSize(lowOrHighTiers)>0}" >
        <f:param value="#{pendingWithdrawForm.getListSize(lowOrHighTiers)}" />
	</h:outputFormat>
	<br/>
	<t:dataTable id="data_#{lowOrHighTiers}"
        styleClass="scrollerTable"
        headerClass="standardTable_Header"
        footerClass="standardTable_Header"
        rowClasses="standardTable_Row1,standardTable_Row2"
        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered"
        var="v"
        preserveDataModel="false"
        rows="#{user.rowsByMenu}"
        renderedIfEmpty="false"
        cellpadding="0"
        cellspacing="1"
        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
		rowOnMouseOut="this.style.backgroundColor=old"
        value="#{pendingWithdrawForm.getTransactionsList(lowOrHighTiers)}" >
			<h:column>
				<f:facet name="header">
					<h:outputText value="#{msgs['transactions.id']}"/>
               	</f:facet>
                <t:commandLink action="#{pendingWithdrawForm.editTransaction}" immediate="true">
	                <h:outputText styleClass="#{transactionFormater.getStyleForPendingWithdraw(v)}"  value="#{v.id}" />
                    <f:setPropertyActionListener target="#{pendingWithdrawForm.transaction}" value="#{v}" />
				</t:commandLink>
           	</h:column>
		   	<t:column>
               	<f:facet name="header">
	               	<h:outputText value="#{msgs['transactions.userid']}"/>
               	</f:facet>
               	<t:commandLink action="#{user.selectUserNoPopUp}" immediate="true" >
	            	<h:outputText styleClass="#{transactionFormater.getStyleForPendingWithdraw(v)}" value="#{v.userId}" />
					<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
			   	</t:commandLink>
           	</t:column>
   		   	<t:column>
               	<f:facet name="header">
	               	<h:outputText value="#{msgs['transactions.username']}"/>
               	</f:facet>
               	<t:commandLink action="#{user.selectUserNoPopUp}" immediate="true" >
	            	<h:outputText styleClass="#{transactionFormater.getStyleForPendingWithdraw(v)}"  value="#{v.userName}" />
					<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
			   	</t:commandLink>
			   	<t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/#{v.specialCare.image}" rendered="#{v.specialCare.specialCare}" border="0"/>
           	</t:column>
           	<h:column>
               	<f:facet name="header">
                   	<h:outputText value="#{msgs['transactions.date']}"/>
               	</f:facet>
	        	<h:outputText styleClass="#{transactionFormater.getStyleForPendingWithdraw(v)}" value="#{transactionFormater.getTimeCreatedTxt(v)}" escape="false" />
           	</h:column>
           	<h:column>
               	<f:facet name="header">
                   	<h:outputText value="#{msgs['pendingwithdraws.last.settled.withdrawl']}"/>
               	</f:facet>
				<h:outputText styleClass="#{transactionFormater.getStyleForPendingWithdraw(v)}" value="#{transactionFormater.getLastWithdrawlSetteldTxt(v)}" escape="false" />
           	</h:column>
           	<h:column>
               	<f:facet name="header">
                   	<h:outputText value="#{msgs['transactions.desc']}"/>
               	</f:facet>
               	<h:outputText styleClass="#{transactionFormater.getStyleForPendingWithdraw(v)}" value="#{v.description}" />
           	</h:column>
           	<h:column>
				<f:facet name="header">
					<h:outputText value="#{msgs['transactions.type']}"/>
               	</f:facet>
				<h:outputText styleClass="#{transactionFormater.getStyleForPendingWithdraw(v)}" value="#{msgs[v.typeName]}" />
           	</h:column>
           	<h:column>
               	<f:facet name="header">
                   	<h:outputText value="#{msgs['transactions.amount']}"/>
               	</f:facet>
               	<h:outputText styleClass="#{transactionFormater.getStyleForPendingWithdraw(v)}"  value="#{transactionFormater.getAmountTxt(v)}" />
           	</h:column>
           	<h:column>
				<f:facet name="header">
	            	<h:outputText value="#{msgs['transactions.writername']}"/>
				</f:facet>
	        	<h:outputText styleClass="#{transactionFormater.getStyleForPendingWithdraw(v)}" value="#{transactionFormater.getWriterName(v)}" />
           	</h:column>
			<h:column>
				<f:facet name="header">
					<t:commandLink action="#{pendingWithdrawForm.sortList(lowOrHighTiers)}" style="color:#FFFFFF;">
						<h:outputText value="#{msgs['transactions.rewardUserTierId']}" title="#{msgs['transactions.rewardUserTierId']}" />
                       	<f:setPropertyActionListener target="#{pendingWithdrawForm.sortColumn}" value="tier" />
					</t:commandLink>
               	</f:facet>
               	<h:outputText styleClass="#{transactionFormater.getStyleForPendingWithdraw(v)}" value="#{v.rewardUserTierId}" />
           	</h:column>
	</t:dataTable>
	<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center;" columns="1" border="0" width="100%" >
		<t:dataScroller id="scroll_1_#{lowOrHighTiers}"
	        for="data_#{lowOrHighTiers}"
	        fastStep="10"
	        pageCountVar="pageCount"
	        pageIndexVar="pageIndex"
	        paginator="true"
	        paginatorMaxPages="9"
	        styleClass="scroller"
	        paginatorActiveColumnClass="paginator_active"
	        paginatorColumnClass="paginator"
	        paginatorTableClass="paginator"
	        immediate="true"
	        rendered="#{pendingWithdrawForm.getListSize(lowOrHighTiers)>10}" >
				<ui:include src="/jsp/templates/scroller_facets.xhtml"/>
		</t:dataScroller>
	</h:panelGrid>
</f:view>