<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">
	<ui:define name="content">
		<h:panelGroup >
			<h:form id="reroutingPrioritiesForm" style="width:30%;">
				<t:saveState value="#{reroutingPrioritiesForm}" />
				
				<h:outputText styleClass="general_message" rendered="#{reroutingPrioritiesForm.listSize==0}" value="#{msgs['markets.emptylist']}"/>
				
				<t:dataTable id="data"
		                styleClass="scrollerTable"
		                headerClass="standardTable_Header"
		                footerClass="standardTable_Header"
		                rowClasses="standardTable_Row1,standardTable_Row2"
		                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
		                var="v"
		                preserveDataModel="false"
		                rows="#{user.rowsByMenu}"
		                renderedIfEmpty="false"
		                cellpadding="0"
		                cellspacing="1"
		                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
		                value="#{reroutingPrioritiesForm.list}"
		                varDetailToggler="detailToggler"
		               >

		           <h:column>
		               <f:facet name="header">
			               <h:outputText value="Priority"/>
		               </f:facet>
		               <h:outputText value="#{v.priority}" />
		           </h:column>
		           <h:column>
		               <f:facet name="header">
			               <h:outputText value="Clearing Provider Name"/>
		               </f:facet>		     
					   <h:outputText value="#{v.groupName}"/>
		           </h:column>

		        </t:dataTable>

        		<t:commandLink action="#{reroutingPrioritiesForm.navEdit}" immediate="true">
        			<h:outputText value="Change Priorities" />
        		</t:commandLink>
        	
        	</h:form>
        </h:panelGroup>

		</ui:define>
</ui:composition>


</html>