<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	#{user.goAccounting}
    <t:saveState value="#{riskAlertsForm}" />
    <h:panelGroup>
		<h:form id="riskAlertsForm">
        	<h:panelGrid border="0" columns="16">
				<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
	           	<h:panelGrid columns="3">
					<h:inputText styleClass="input_text" id="from" required="true" value="#{riskAlertsForm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['riskAlertsForm'].elements['riskAlertsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone=""/>
				    </h:inputText>
				    <A HREF="#" onClick="cal.select(document.forms['riskAlertsForm'].elements['riskAlertsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

		        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
	           	<h:panelGrid columns="3">
					<h:inputText styleClass="input_text" id="to" required="true" value="#{riskAlertsForm.to}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['riskAlertsForm'].elements['riskAlertsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone=""/>
				    </h:inputText>
				    <A HREF="#" onClick="cal.select(document.forms['riskAlertsForm'].elements['riskAlertsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
			       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputText value="#{msgs['investments.search.date.by']}"/>
	   		  	<t:selectOneMenu id="timeType" value="#{riskAlertsForm.timeType}">
		   			<f:selectItems value="#{riskAlertsForm.timeTypeList}" />
		        </t:selectOneMenu>

				<h:panelGrid witdh="3px"/>

	           	<h:outputText value="#{msgs['transactions.username']}" />
	            <h:inputText dir="ltr" size="30" maxlength="50" id="userName" value="#{riskAlertsForm.userName}" />

				<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" />
		     	<t:selectManyListbox id="skinIds" value="#{riskAlertsForm.skinIds}" style="height:100px;width:150px;">
	        		<f:selectItems value="#{writer.skinsAndEmptySI}" />
	    	    </t:selectManyListbox>

           	</h:panelGrid>
       	    <h:panelGrid border="0" columns="11">
	          	 <t:outputLabel  for="userClassId" value="#{msgs['user.classes.type']}" />
	             <t:selectOneMenu id="userClassId" value="#{riskAlertsForm.userClassId}" >
	    	       	<f:selectItems value="#{writer.userClassesSI}" />
	    	     </t:selectOneMenu>

	    	     <t:outputLabel  for="riskAlerts" value="#{msgs['risk.alert,dexcription']}" />
	             <t:selectManyListbox id="riskAlerts" value="#{riskAlertsForm.riskAlertsTypeDescriptions}" style="height:100px;width:300px;">
	    	       	<f:selectItems value="#{writer.riskAlertsTypeDescriptionForAccountingSI}"/>
	    	     </t:selectManyListbox>

	    	     <h:outputLabel for="succeededTrx" value="#{msgs['risk.alert.suc.trx']}"/>
	    	     <t:selectOneMenu id="succeededTrx" value="#{riskAlertsForm.succeededTrx}" >
	    	       	<f:selectItems value="#{writer.yesNoAllSI}" />
	    	     </t:selectOneMenu>

				 <h:outputText value="#{msgs['transinvestments.type']}"/>
		   		 <h:selectOneMenu id="typeId" immediate="true" value="#{riskAlertsForm.transactionTypeId}" >
		   			<f:selectItems value="#{riskAlertsForm.selectionTypes}" />
				 </h:selectOneMenu>
				 
				 <h:outputText value="#{msgs['risk.alert.status']}"/>
		   		 <h:selectOneMenu id="statusId" immediate="true" value="#{riskAlertsForm.statusTypeId}" >
		   			<f:selectItems value="#{riskAlertsForm.statusTypes}" />
				 </h:selectOneMenu>

				 <t:commandLink id="updateBtn" action="#{riskAlertsForm.updateRiskAlertsList}">
			                <h:outputText value="#{msgs['button.search']}" />
		 		 </t:commandLink>
    		</h:panelGrid>

			<br/>
	    	<h:outputText styleClass="general_message" rendered="#{riskAlertsForm.listSize==0}" value="#{msgs['risk.alert.empty.list']}"/>

		   	<t:dataTable id="data"
		        styleClass="scrollerTable"
		        headerClass="standardTable_Header"
		        footerClass="standardTable_Header"
		        rowClasses="standardTable_Row1,standardTable_Row2"
		        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
		        var="v"
		        preserveDataModel="false"
		        rows="#{user.rowsByMenu}"
		        renderedIfEmpty="false"
		        cellpadding="0"
		        cellspacing="1"
		        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
				varDetailToggler="detailToggler"
		        value="#{riskAlertsForm.riskAlertList}" >
		        
				<t:column>
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['transactions.userid']}"/>
	               </f:facet>
	               		<h:outputText value="#{v.user.id}"/>
           		</t:column>

	   		    <t:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['transactions.username']}"/>
	               </f:facet>
	               <t:commandLink action="#{user.selectUserNoPopUp}" immediate="true" target="_blank">
	               		<h:outputText value="#{v.user.userName}" />
		                <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.user.userName}" />
				   </t:commandLink>
	            </t:column>
	            
	            <t:column >
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['register.skin']}"/>
	               </f:facet>
	               		<h:outputText value="#{v.userSkinName}"/>
           		</t:column>

				<t:column rendered="#{riskAlertsForm.riskAlertTypeDepositCCFromDifferentCountries 
									|| riskAlertsForm.riskAlertTypeSingleLogin}">
					<f:facet name="header">
						<h:outputText value="#{msgs['country']}"/>
					</f:facet>
					<h:outputText value="#{v.user.countryName}"/>
				</t:column>

				<t:column rendered="#{riskAlertsForm.riskAlertTypeDepositCCFromDifferentCountries}">
	               <f:facet name="header">
		           		<h:outputText value="CC COUNTRIES"/>
	               </f:facet>
	               		<h:outputText value="#{v.ccCountries}"/>
           		</t:column>
           		
				<t:column rendered="#{riskAlertsForm.riskAlertTypeDepositCCFromDifferentCountries}">
	               <f:facet name="header">
		           		<h:outputText value="Last CC dep"/>
	               </f:facet>
	               		<h:outputText value="#{utils.getDateFormat(v.lastDateCCDep, null)} "/>	               		
	               		<h:outputText style="font-weight:bold" value="   #{v.last4CCDep}"/>
           		</t:column>

 			   	<t:column rendered="#{!riskAlertsForm.onlyRiskAlertTypeDepositCCFromDifferentCountries 
 			   						 and !riskAlertsForm.riskAlertTypeSingleLogin}">
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['risk.alert.publisher']}"/>
	               </f:facet>
	               		<h:outputText value="#{v.campaign_id}"/>
           		</t:column>
           		
           		<t:column rendered="#{!riskAlertsForm.onlyRiskAlertTypeDepositCCFromDifferentCountries}">
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['transactions.desc']}"/>
	               </f:facet>
	               		<h:outputText value="#{v.riskAlertTypeDecription}"/>
           		</t:column>
           		
           		<t:column rendered="#{!riskAlertsForm.onlyRiskAlertTypeDepositCCFromDifferentCountries
           						     and !riskAlertsForm.riskAlertTypeSingleLogin}">
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['risk.alert.type']}"/>
	               </f:facet>
	               		<h:outputText value="#{v.riskAlertClassTypeDecription}"/>
           		</t:column>

			   	<t:column>
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['investments.timecreated']}"/>
	               </f:facet>
	               		<h:outputText escape="false" value="#{v.timeCreatedTxt}"/>
           		</t:column>
				
           		<t:column rendered="#{!riskAlertsForm.riskAlertTypeSingleLogin}">
	               <f:facet name="header">
		           		<h:outputText value="#{msgs['risk.alert.suc.trx']}"/>
	               </f:facet>
	               		<h:outputText rendered="#{v.succeededTrx == 1}" value="YES"/>
	               		<h:outputText rendered="#{v.succeededTrx == 0}" value="NO"/>
           		</t:column>
           		
           		<t:column rendered="#{riskAlertsForm.riskAlertType1TFirstInvestment}">
           			<f:facet name="header">
		           		<h:outputText value="#{msgs['risk.alert.user.used.all.balance.for.1T']}"/>
	               	</f:facet>
	               		<h:outputText rendered="#{v.balanceAfter1TouchFirstInvestment == 0}" value="YES"/>
	               		<h:outputText rendered="#{v.balanceAfter1TouchFirstInvestment != 0}" value="NO"/>
           		</t:column>
           		
           		<t:column rendered="#{riskAlertsForm.riskAlertTypeCcHolderNameMismatch}">
           			<f:facet name="header">
		           		<h:outputText value="#{msgs['risk.alert.account.holder.name.vs.card.holder.name']}"/>
	               	</f:facet>
	               		<h:outputText escape="false" value="#{v.accountHolderNameVsCcHolderNameTxt}"/>
           		</t:column>
           		
           		<t:column rendered="#{riskAlertsForm.riskAlertTypeCcCountryDifferentThanRegistrationCountry}">
           			<f:facet name="header">
		           		<h:outputText value="#{msgs['risk.alert.user.country.vs.cc.country']}"/>
	               	</f:facet>
	               		<h:outputText escape="false" value="#{v.userCountryVsCcCountryTxt}"/>
           		</t:column>
           		
           		<t:column rendered="#{riskAlertsForm.riskAlertTypeRegistrationFromCountryDifferentThanIpCountry}">
           			<f:facet name="header">
		           		<h:outputText value="#{msgs['risk.alert.user.country.vs.ip.country']}"/>
	               	</f:facet>
	               		<h:outputText escape="false" value="#{v.userCountryVsIpCountryTxt}"/>
           		</t:column>
           		
           		<h:column rendered="#{riskAlertsForm.riskAlertTypeCcAlreadyUsed}">
           			<f:facet name="header">
		           		<h:outputText value="#{msgs['risk.alert.other.accounts']}"/>
	               	</f:facet>
	               	<h:commandLink immediate="true" action="#{detailToggler.toggleDetail}">
	               		<h:outputText escape="false" value="#{v.firstUserWhoUsedSameCC}" title="#{msgs['risk.alert.other.accounts.title']}"/>
	               	</h:commandLink>
           		</h:column>

				<t:column rendered="#{riskAlertsForm.riskAlertTypeSingleLogin}" style="text-align:center">
					<f:facet name="header">
						<h:outputText value="#{msgs['risk.alert.user.ftd.amount']}"/>
					</f:facet>
					<h:outputText value="#{v.userFTDAmount}"/>
				</t:column>

				<t:column rendered="#{riskAlertsForm.riskAlertTypeSingleLogin}" style="text-align:center">
					<f:facet name="header">
						<h:outputText value = "#{msgs['risk.alert.ftd.is.cc']}"/>
					</f:facet>					
	               	<h:outputText rendered="#{v.FTDCC}" value="YES" />
	               	<h:outputText rendered="#{!v.FTDCC}" value="NO" />
				</t:column>

           		<t:column style="text-align:center">
           			<f:facet name="header">
           				<h:outputText value="#{msgs['risk.alert.reviewed']}"/>
           			</f:facet>
           			<h:outputText rendered="#{v.wasReviewed != 0}" escape="false" value="#{v.writerReviewedTxt}"/>
           			<h:outputText rendered="#{v.wasReviewed != 0}" escape="false" value=" --- "/>
           			<h:outputText rendered="#{v.wasReviewed != 0}" escape="false" value="#{v.timeReviewedTxt}"/>
           			<h:selectBooleanCheckbox rendered="#{v.wasReviewed == 0}" immediate="false" onclick="this.form.submit();" 
           				valueChangeListener="#{riskAlertsForm.updateReviewedRiskAlert}">
           				<f:attribute name="riskAlertId" value="#{v.id}" />
           			</h:selectBooleanCheckbox>
           		</t:column>
           		
           		<f:facet name="detailStamp">
           			<h:panelGrid class="detailsBGColor fR tAc" border="0" columns="1" width="25%">
           				<h:panelGroup rendered="#{riskAlertsForm.riskAlertTypeCcAlreadyUsed}">
           					<h:panelGrid border="0" columns="1" width="100%">
           						<h:outputText escape="false" styleClass="data_display" value="#{v.moreUsersWhoUsedSameCC}"/>
           					</h:panelGrid>
           				</h:panelGroup>
           			</h:panelGrid>
           		</f:facet>
			</t:dataTable>

			<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center;" columns="1" border="0" width="100%" >
		    	<t:dataScroller id="scroll_1"
		            for="data"
		            fastStep="10"
		            pageCountVar="pageCount"
		            pageIndexVar="pageIndex"
		            paginator="true"
		            paginatorMaxPages="9"
		            styleClass="scroller"
		            paginatorActiveColumnClass="paginator_active"
		            paginatorColumnClass="paginator"
		            paginatorTableClass="paginator"
		            immediate="true"
		            rendered="#{riskAlertsForm.listSize>user.rowsByMenu}">
		            <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
				</t:dataScroller>
		    </h:panelGrid>
    	</h:form>
	</h:panelGroup>
	<h:panelGrid columns="2">
		<h:outputLabel for="rowsNum" value="#{msgs['population.entry.rows.number']}"/>
   		<h:outputLabel immediate="true" id="rowsNum" value="#{riskAlertsForm.listSize}"/>
	</h:panelGrid>
</ui:define>
</ui:composition>
</html>



