<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

	#{user.goAccounting}

    <h:panelGroup>

		<t:saveState value="#{transactionUpdateForm}" />

		<h:form id="transactionUpdateForm">

			<h:panelGrid border="0" columns="1" >
				<h:panelGrid border="0" columns="10" >

					<h:outputLabel for="trxid" value="#{msgs['transactions.id']}"/>
	           		<h:panelGrid border="0" columns="2">
		                <h:inputText dir="ltr" styleClass="input_text" size="10" id="trxid"
		                	value="#{transactionUpdateForm.transactionId}" required="true" >
		                </h:inputText>
		            	<t:message id="trxidError" for="trxid" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGrid>

					<h:outputText value="#{msgs['trans.update.class.label']}"/>
               		<h:selectOneMenu id="classId" value="#{transactionUpdateForm.classId}"
               				onchange="this.form.submit();" valueChangeListener="#{transactionUpdateForm.updateTypes}">
               			<f:selectItems value="#{transactionUpdateForm.classIdSI}" />
	               	</h:selectOneMenu>

					<h:outputText value="#{msgs['transinvestments.type']}"/>
               		<h:selectOneMenu id="typeId" value="#{transactionUpdateForm.typeId}"
               				onchange="this.form.submit();" valueChangeListener="#{transactionUpdateForm.updateClearingProviders}">
               			<f:selectItems value="#{transactionUpdateForm.transactionTypes}" />
	               	</h:selectOneMenu>

					<h:outputText value="#{msgs['transinvestments.status']}"/>
               		<h:selectOneMenu id="statusId" value="#{transactionUpdateForm.statusId}">
               			<f:selectItems value="#{transactionUpdateForm.transactionStatuses}" />
	               	</h:selectOneMenu>
	               	
	               	<h:panelGrid border="0" columns="2" rendered="#{transactionUpdateForm.showClearingProviders}">
		               	<h:outputText value="#{msgs['trans.update.clearing_providers']}"/>
	               		<h:selectOneMenu id="clearingProviderId" value="#{transactionUpdateForm.providerId}">
	               			<f:selectItems value="#{transactionUpdateForm.clearingProviders}" />
		               	</h:selectOneMenu>
	               	</h:panelGrid>

	           		<h:panelGrid border="0" columns="3" rendered="#{transactionUpdateForm.withdraw}">
						<h:outputLabel for="captureCode" value="#{msgs['transaction.capture.code']}"/>
		                <h:inputText dir="ltr" styleClass="input_text" size="30" id="captureCode"
		                	value="#{transactionUpdateForm.captureCode}">
		                </h:inputText>
		            	<t:message id="captureCodeError" for="captureCode" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGrid>
				</h:panelGrid>


		        <h:panelGrid width="5px" />

		         <t:commandLink action="#{transactionUpdateForm.updateTransactionCases}">
			                <h:outputText value="#{msgs['transaction.update']}" />
				 </t:commandLink>

		</h:panelGrid>


        </h:form>

    </h:panelGroup>

	</ui:define>
</ui:composition>

</html>

