<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

    <t:saveState value="#{xorTransactionsForm}" />

    <h:panelGroup >

		<h:form id="xorTransactionsForm">

	   <h:panelGrid border="0" rows="2" >

       <h:panelGrid border="0" columns="8">


		   <h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
           	<h:panelGrid dir="RTL" columns="6">

			      <!--h:selectOneMenu  required="true" value="#{xorTransactionsForm.fromMin}"  >
	   				<f:selectItems value="#{applicationData.minutes}" />
		          </h:selectOneMenu>

    			  <h:outputText value=":"/>

                  <h:selectOneMenu  required="true" value="#{xorTransactionsForm.fromHours}"  >
	   				<f:selectItems value="#{applicationData.hours}" />
		          </h:selectOneMenu-->



		    <A HREF="#" onClick="cal.select(document.forms['xorTransactionsForm'].elements['xorTransactionsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        </A>
	     	<h:inputText styleClass="input_text" id="from" required="true" value="#{xorTransactionsForm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['xorTransactionsForm'].elements['xorTransactionsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone=""/>
		    </h:inputText>

			<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

	        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
           	<h:panelGrid dir="RTL" columns="6">

           		  <!--h:selectOneMenu  required="true" value="#{xorTransactionsForm.toMin}"  >
	   				<f:selectItems value="#{applicationData.minutes}" />
		          </h:selectOneMenu>

    			  <h:outputText value=":"/>

                  <h:selectOneMenu  required="true" value="#{xorTransactionsForm.toHours}"  >
	   				<f:selectItems value="#{applicationData.hours}" />
		          </h:selectOneMenu-->



		    <A HREF="#" onClick="cal.select(document.forms['xorTransactionsForm'].elements['xorTransactionsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
	       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        </A>
	        <h:inputText styleClass="input_text" id="to" required="true" value="#{xorTransactionsForm.to}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['xorTransactionsForm'].elements['xorTransactionsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone=""/>
		    </h:inputText>

			<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

           	<t:outputLabel  for="typeId" value="#{msgs['xortransactions.typeId']}" rendered="#{!user.supportSelected}"/>
            <t:selectOneMenu id="typeId" value="#{xorTransactionsForm.typeId}" rendered="#{!user.supportSelected}" >
    	       	<f:selectItems value="#{writer.transactionTypesSI}" />
	        </t:selectOneMenu>

			</h:panelGrid>

			<h:panelGrid columns="8" width="100%" >

					<t:outputLabel  for="classId" value="#{msgs['user.classes.type']}" rendered="#{!user.supportSelected}"/>
		            <t:selectOneMenu id="classId" value="#{xorTransactionsForm.classId}" rendered="#{!user.supportSelected}" >
		    	       	<f:selectItems value="#{writer.userClassesSI}" />
			        </t:selectOneMenu>

			   	    <t:outputLabel  for="skinBCId" value="#{msgs['newaccounts.skin.business.case']}" rendered="#{!user.supportSelected }"/>
				    	<t:selectOneMenu id="skinBCId" value="#{xorTransactionsForm.skinBusinessCaseId}" rendered="#{!user.supportSelected }">
						    <f:selectItems value="#{writer.skinBusinessCasesSI}"/>
				    </t:selectOneMenu>

				    <t:outputLabel  for="providers" value="#{msgs['capture.daily.provider']}" rendered="#{!user.supportSelected }"/>
				    	<t:selectOneMenu id="providers" value="#{xorTransactionsForm.providerId}" rendered="#{!user.supportSelected }">
						    <f:selectItems value="#{writer.providersSI}" />
				    </t:selectOneMenu>

				    <t:outputLabel  for="currencies" value="#{msgs['investments.currency']}" rendered="#{!user.supportSelected }"/>
			       		<t:selectOneMenu id="currencies" value="#{xorTransactionsForm.currencyId}" rendered="#{!user.supportSelected }" >
					       <f:selectItems value="#{writer.currencySI}" />
			        </t:selectOneMenu>
			 </h:panelGrid>
			 <h:panelGrid columns="5" >
			      	<h:panelGrid columns="2" border="0" >
		           			<h:selectBooleanCheckbox value="#{xorTransactionsForm.byPhone}" ></h:selectBooleanCheckbox>
							<h:outputText styleClass="text_gray_12_bold" value="#{msgs['accounting.capture.menu.byphone']}"/>
		           	</h:panelGrid>

		           	 <h:panelGrid border="0" columns="1" width="30px"/>

					<t:commandLink  action="#{xorTransactionsForm.updateTransactionsList}">
				                <h:outputText value="#{msgs['button.search']}" />
			 		</t:commandLink>

			        <h:panelGrid border="0" columns="1" width="30px"/>
					 		<h:commandLink action="#{xorTransactionsForm.exportHtmlTableToExcel}">
							     <h:outputText value="#{msgs['xortransactions.exportexcel']}"/>
							</h:commandLink>
				</h:panelGrid>

	 		</h:panelGrid>

	        <h:outputText styleClass="general_message" rendered="#{xorTransactionsForm.listSize==0}"
  		   				value="#{msgs['xortransactions.emptylist']}"/>

			<t:buffer into="#{xorTransactionsForm.htmlBuffer}">

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="0"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                varDetailToggler="detailToggler"
                value="#{xorTransactionsForm.transactionsList}"
               >

           <h:column>
           		<f:facet name="header">
		           <h:outputText value="#{msgs['transactions.id']}"/>
		        </f:facet>
	  	        <h:commandLink action="#{detailToggler.toggleDetail}">
		           <h:outputText value="#{v.id}" />
	 	  	    </h:commandLink>
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['xortransactions.timesettled']}"/>
               </f:facet>
               <h:outputText dir="#{writer.localInfo.dir}" escape="false" value="#{transactionFormater.getTimeSettledTxt(v)}" />
           </h:column>

		   <t:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.username']}"/>
               </f:facet>
               <t:commandLink rendered="#{!user.supportSelected}" action="#{user.selectUserNoPopUpById}" immediate="true" >
			      	<h:outputText value="#{v.userName}"/>
					<f:setPropertyActionListener target="#{user.id}" value="#{v.userId}" />
			   </t:commandLink>

           </t:column>

   		   <t:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['userstrip.skinname']}"/>
               </f:facet>
          		<h:outputText value="#{v.skin}"/>
           </t:column>

           <t:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.ccnum']}"/>
               </f:facet>
          		<h:outputText rendered="#{!utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.creditCard.ccNumberLast4NotMasked}"/>
          		<h:outputText rendered="#{utils.isWriterAllowedToViewCcFirst6Digits()}" styleClass="data_display" value="#{v.creditCard.ccNumberXXXX}" />
           </t:column>

			<t:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.amount']}"/>
               </f:facet>
          	   <h:outputText value="#{transactionFormater.getAmountTxt(v)}"/>
           </t:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.type']}"/>
               </f:facet>
               <h:outputText value="#{msgs[v.typeName]}" />
           </h:column>

                      <f:facet name="detailStamp">
           				 <h:panelGrid class="detailsBGColor" border="0" columns="1" width="100%">

	           				 <h:panelGrid border="0" columns="8" width="60%">

		 			              <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" value="#{msgs['register.username']}"/>
								  <t:commandLink rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" action="#{user.selectUserNoPopUp}" immediate="true"
									  disabled="#{user.partnerSelected}">
						             <h:outputText styleClass="data_display" value="#{v.userName}"/>
									 <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
						 		  </t:commandLink>

					              <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" value="#{msgs['register.accountid']}"/>
								  <t:commandLink rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" action="#{user.selectUserNoPopUp}" immediate="true"
								  	 disabled="#{user.partnerSelected}">
						             <h:outputText styleClass="data_display" value="#{v.userId}"/>
									 <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
						 		  </t:commandLink>

				                  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" value="#{msgs['register.firstname']}"/>
					              <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" styleClass="data_display" value="#{v.userFirstName}"/>

				                  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" value="#{msgs['register.lastname']}"/>
				                  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" styleClass="data_display" value="#{v.userLastName}"/>
							 </h:panelGrid>

							 <h:panelGrid border="0" columns="8" width="50%">
  								  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" value="#{msgs['newaccounts.skin.business.case']}"/>
		                  		  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" styleClass="data_display" value="#{transactionFormater.getBusinessCaseNameTxt(v)}"/>

								  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" value="#{msgs['userstrip.skinname']}"/>
		                  		  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" styleClass="data_display" value="#{v.skin}"/>

								  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" value="#{msgs['pendingwithdraws.currency']}"/>
		                  		  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" styleClass="data_display" value="#{transactionFormater.getCurrencyTxt(v)}"/>

		                  		  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" value="#{msgs['pendingwithdraws.amount']}"/>
		                  		  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected}" styleClass="data_display" value="#{transactionFormater.getAmountTxt(v)}"/>

							 </h:panelGrid>

							 <h:panelGrid border="0" columns="16" width="100%">

  								  <h:outputText value="#{msgs['transactions.ip']}" />
								  <h:outputText styleClass="data_display" value="#{v.ip}" />

   								  <h:outputText value="#{msgs['transactions.timesettled']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transactionFormater.getTimeSettledTxt(v)}" />

								  <h:outputText value="#{msgs['transactions.processedwriter']}" />
								  <h:outputText styleClass="data_display" value="#{transactionFormater.getProcessedWriterName(v)}" />

  								  <h:outputText value="#{msgs['transactions.receipt']}" />
								  <h:outputText styleClass="data_display" value="#{v.receiptNumTxt}" />

								  <h:outputText value="#{msgs['transactions.reference']}" />
								  <t:commandLink action="#{transactionsForm.selectTransactions}" >
									  <h:outputText styleClass="data_display" value="#{v.referenceId}" />
 				                      <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
				 	    	      </t:commandLink>

  								  <h:outputText value="#{msgs['transactions.authnumber']}" />
								  <h:outputText styleClass="data_display" value="#{v.authNumber}" />

							</h:panelGrid>

							<h:panelGrid border="0" columns="2" >
								<h:outputText value="#{msgs['transactions.description']}" />
							    <h:outputText styleClass="data_display" value="#{v.description}" />
							</h:panelGrid>

							  <h:panelGrid rendered="#{v.creditCardId!=null}" border="0" columns="8" width="100%">

  								  	<h:outputText value="#{msgs['transactions.ccid']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.creditCard.id}" />

 								    <h:outputText value="#{msgs['transactions.cctype']}" />
								    <h:outputText styleClass="data_display" value="#{v.creditCard.type.name}" />

								    <h:outputText value="#{msgs['transactions.ccvisible']}" />
								    <t:selectBooleanCheckbox styleClass="data_display" disabled="true" value="#{v.creditCard.visible}"/>

								    <h:outputText value="#{msgs['creditcards.allowed']}" />
								    <t:selectBooleanCheckbox styleClass="data_display" disabled="true" value="#{v.creditCard.allowed}" />

								    <h:outputText value="#{msgs['transactions.ccnum']}" />

								    <h:outputText rendered="#{!utils.isWriterAllowedToViewCcFirst6Digits()}" styleClass="data_display" value="#{v.creditCard.ccNumberLast4NotMasked}" />
								    <h:outputText rendered="#{utils.isWriterAllowedToViewCcFirst6Digits()}" styleClass="data_display" value="#{v.creditCard.ccNumberXXXX}" />

  								    <h:outputText value="#{msgs['transactions.ccpass']}" />
								    <h:outputText styleClass="data_display" value="#{msgs['transactions.ccpass.ex']}" />

								    <h:outputText value="#{msgs['transactions.cctimecreated']}" />
								    <h:outputText styleClass="data_display" escape="false" value="#{v.creditCard.timeCreated}">
								    	<f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{v.creditCard.utcOffsetCreated}" />
								    </h:outputText>

								    <h:outputText value="#{msgs['transactions.cctimemodified']}" />
								    <h:outputText styleClass="data_display" escape="false" value="#{v.creditCard.timeModified}">
								    	<f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{v.creditCard.utcOffsetModified}" />
								    </h:outputText>

   								    <h:outputText value="#{msgs['transactions.expdate']}" />
								    <h:outputText styleClass="data_display" value="#{v.creditCard.expMonth}/#{v.creditCard.expYear}" />

								    <h:outputText value="#{msgs['transactions.ccholdername']}" />
								    <h:outputText styleClass="data_display" value="#{v.creditCard.holderName}" />

  								    <h:outputText value="#{msgs['transactions.ccholderidnum']}" />
								    <h:outputText styleClass="data_display" value="#{v.creditCard.holderIdNum}" />

								    <h:outputText value="#{msgs['transactions.cProvider']}" />
								    <h:outputText styleClass="data_display" value="#{v.clearingProviderName}" />

 				 	 		      </h:panelGrid>

 				 	 		      <h:panelGrid rendered="#{v.chequeId!=null}" border="0" columns="8" width="100%">

  								  	<h:outputText value="#{msgs['transactions.chequeid']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.cheque.id}" />

 								    <h:outputText value="#{msgs['transactions.chequename']}" />
								    <h:outputText styleClass="data_display" value="#{v.cheque.name}" />

								    <h:outputText value="#{msgs['transactions.chequeaddress']}" />
								    <h:outputText styleClass="data_display" value="#{v.cheque.street} #{v.cheque.streetNo} #{v.cheque.cityName} #{v.cheque.zipCode}" />

  								    <h:outputText value="#{msgs['transactions.chequeidnum']}" />
								    <h:outputText styleClass="data_display" value="#{v.cheque.chequeId}" />

								    <h:outputText rendered="#{v.showFee}"  value="#{msgs['transactions.chequeexistfee']}" />
								    <h:outputText rendered="#{v.showFee}" styleClass="data_display" value="#{v.existFee}" />

 				 	 		      </h:panelGrid>

 				 	 		       <h:panelGrid rendered="#{v.wireId!=null}" border="0" columns="8" width="100%">

  								  	<h:outputText value="#{msgs['transactions.wireid']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.wire.id}" />

 								    <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['bank.wire.beneficiary.name']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.beneficiaryName}" />

								    <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['bank.wire.swift']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.swift}" />

  								    <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['bank.wire.iban']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.iban}" />

				 		 	        <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['bank.wire.account.number']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.accountNum}" />

								    <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['bank.wire.bank.name']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.bankNameTxt}" />

								    <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['bank.wire.branch.number']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.branch}" />

								    <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['bank.wire.branch.address']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.branchAddress}" />

   								    <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['transactions.bankFeeAmount']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.bankFeeAmount}" />

									<!-- ETRADER FIELDS -->
									<h:outputText rendered="#{user.skinId == 1}" value="#{msgs['transactions.wirebranch']}" />
								    <h:outputText rendered="#{user.skinId == 1}" styleClass="data_display" value="#{v.wire.branch}" />

								    <h:outputText rendered="#{user.skinId == 1}" value="#{msgs['transactions.wireaccountnum']}" />
								    <h:outputText rendered="#{user.skinId == 1}" styleClass="data_display" value="#{v.wire.accountNum}" />

  								    <h:outputText rendered="#{user.skinId == 1}" value="#{msgs['transactions.wireaccountname']}" />
								    <h:outputText rendered="#{user.skinId == 1}" styleClass="data_display" value="#{v.wire.accountName}" />

				 		 	        <h:outputText rendered="#{user.skinId == 1}" value="#{msgs['transactions.wirebankname']}" />
								    <h:outputText rendered="#{user.skinId == 1}" styleClass="data_display" value="#{msgs[v.wire.bankName]}" />

 				 	 		      </h:panelGrid>

 				 	 		       <h:panelGrid rendered="#{v.chargeBackId!=null}" border="0" columns="8" width="100%">

  								  	<h:outputText value="#{msgs['transactions.chargebackid']}" />
									<t:commandLink styleClass="data_display" action="#{transactionsForm.editChargeBack}" immediate="true" >
										<h:outputText value="#{v.chargeBack.id}"/>
										<f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
									 </t:commandLink>

 								    <h:outputText value="#{msgs['transactions.chargebacktimecreated']}" />
								    <h:outputText styleClass="data_display" escape="false" value="#{transactionFormater.getTimeCreatedTxt(v.chargeBack)}" />

								    <h:outputText value="#{msgs['transactions.chargebackdescription']}" />
								    <h:outputText styleClass="data_display" value="#{v.chargeBack.description}" />

  								    <h:outputText value="#{msgs['transactions.chargebackstatus']}" />
								    <h:outputText styleClass="data_display" value="#{msgs[v.chargeBack.statusName]}" />

				 		 	        <h:outputText value="#{msgs['transactions.chargebackwriter']}" />
								    <h:outputText styleClass="data_display" value="#{v.chargeBack.writer}" />

 				 	 		      </h:panelGrid>

								<h:panelGrid rendered="#{v.ccDeposit}" border="0" columns="2" width="16%">
				 		 	        <h:outputText value="#{msgs['transactions.credit.amount']}" />
								    <h:outputText styleClass="data_display" value="#{transactionFormater.getCreditAmountTxt(v)}" />
								</h:panelGrid>

								<h:panelGrid rendered="#{v.ccOrInternalWithdrawal}" border="0" columns="6" width="50%">
				 		 	        <h:outputText value="#{msgs['transactions.splitted.id']}" />
								    <h:outputText styleClass="data_display" rendered="#{v.splittedReferenceId>0}" value="#{v.splittedReferenceId}" />

				 		 	        <h:outputText value="#{msgs['transactions.credit.withdrawal']}" />
								    <h:outputText styleClass="data_display" rendered="#{v.creditWithdrawal}" value="#{msgs['yes']}"/>
   								    <h:outputText styleClass="data_display" rendered="#{!v.creditWithdrawal}" value="#{msgs['no']}"/>

				 		 	        <h:outputText value="#{msgs['transactions.deposit.reference.id']}" />
								    <h:outputText styleClass="data_display" rendered="#{v.depositReferenceId>0}" value="#{v.depositReferenceId}" />

								</h:panelGrid>

							 </h:panelGrid>

			</f:facet>

        </t:dataTable>
		</t:buffer>

		<h:outputText value="#{xorTransactionsForm.htmlBuffer}" escape="false"/>

        </h:form>

    </h:panelGroup>


</html>
