<!doctype html>
<html ng-app="copyOpApp" ng-controller="copyOpCtr">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<!--<meta ng-if="checkNoIndex()" name="robots" content="noindex, nofollow" />-->
	
	<title ng-bind-html="msgs['metadata-title'][metadataTitle]">copyop - Social Trading</title>
	<base href="{base}" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700">
	<!--<link rel="stylesheet" href="./css/style.css?version=cvsTimeStamp" />-->
	<style>
	body[data-isdead='true'] {
		background-image: url(img/loading-body-cool.gif);
		background-color: black;
	}
	body {
		margin: 0;
		min-width: 1000px;
		font: 300 14px roboto,verdana,arial,helvetica,sans-serif;
		color: #464646;
		background: #f1f1f1 url(img/loading-body.gif) no-repeat fixed center center;
	}
	.wrapper {
		opacity:0;
	}
	</style>
	<!-- libraries -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/xregexp-all-min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> <!--IE <9 not supported-->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script> <!--IE <9 not supported-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular-animate.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highstock/2.0.4/highstock.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
	
	<script src="./js/lib/libs.js?version=cvsTimeStamp"></script>
	
	<script src="./js/copyop.js?version=cvsTimeStamp"></script>
	<link rel="shortcut icon" href="favicon.ico" />
	<script>
		FileAPI = {debug: true};
	</script>
	
	<script src="//d3qycynbsy5rsn.cloudfront.net/OptiRealApi-1.1.0.js" type="text/javascript"></script>
	
	<noscript>
		Your browser does not support JavaScript!<p>

		<h1>Socialize & copy the best traders in the world</h1>

		copyop is the most innovative social trading platform, making binary options trading easier and more fun!
		You will never have to look at frightening graphs or charts again. Simply see what the world's most successful traders
		do at any moment and copy their trades. Found better traders for your portfolio? Copy them too! <br/>
			
		Follow the greatest traders and get alerts each time they trade
		Copy the most successful binary options traders in the world
		Trade like a pro, based on your social network friends' positions <br/>

		copyop is the most exciting social trading community. It allows you to generate extra income from binary options, even if you are not a professional trader. Previous experience is not necessary, just rely on the world’s best traders!
		Experience lots of exciting moments, like hunting the right traders to copy or watch, sharing your trading activity in real time with your Facebook friends, or just getting a happy message in the middle of a boring work day: this smart guy just successfully traded for you.
		All our data is 100% real and accurate. No trading bots or other fictitious data. Every profile you see is of a genuine private trader. We use high-end technology and proprietary programming to assure accurate execution of your trades and copies.
		We are connected to anyoption™, the world’s biggest binary options trading platform. That means dozens of thousands of trades every hour and a huge variety of active traders' profiles for you to choose from.<br/>

		copyop social trading offers you automated trading which is based on human decisions. Choose your traders from the hot list or according to
		your preference, and then you can automatically copy their trades or watch them on your news feed.

		Download our app 
		<a href="https://play.google.com/store/apps/details?id=com.anyoption.android.app">Google Play</a> | <a href="https://itunes.apple.com/gb/app/anyoption/id403987356?mt=8">iTunes</a></p>
	</noscript>
	
	<link rel="alternate" href="https://copyop.com/en/{{altHref}}" hreflang="en" />
	<link rel="alternate" href="https://copyop.com/es/{{altHref}}" hreflang="es" />
	<link rel="alternate" href="https://copyop.com/de/{{altHref}}" hreflang="de" />
	<link rel="alternate" href="https://copyop.com/it/{{altHref}}" hreflang="it" />
	<link rel="alternate" href="https://copyop.com/fr/{{altHref}}" hreflang="fr" />
	<link rel="alternate" href="https://copyop.com/sv/{{altHref}}" hreflang="sv" />
	<link rel="alternate" href="https://copyop.com/nl/{{altHref}}" hreflang="nl" />
	<link rel="alternate" href="https://copyop.com/cs/{{altHref}}" hreflang="cs" />
	<link rel="alternate" href="https://copyop.com/pl/{{altHref}}" hreflang="pl" />
	<link rel="alternate" href="https://copyop.com/pt/{{altHref}}" hreflang="pt" />
	<link rel="alternate" href="https://copyop.com/ar/{{altHref}}" hreflang="ar" />
</head>
<body dir="{{isRtl ? 'rtl' : 'ltr'}}" id="body" class="{{skinLanguage}}" ng-class="{display: ready, 'logged-in': checkIfLogged(), 'logged-out' : !checkIfLogged() || $state.is('ln.first-deposit') || $state.is('ln.first-deposit-bank-wire') || $state.current.needLogin < 2}" device>
	<div class="wrapper">
		<header class="main-header" id="header">
			<div ng-include src="template_url"></div>
		</header>
		<div ui-view class="main-content"></div>
		<footer class="main-footer" id="footer">
			<div ng-include="'html/templates/footer.html'"></div>
		</footer>
	</div>
	<!--<div ng-repeat="popup in popUps" ng-controller="popup.fnc" ng-include="popup.url" ng-init="passParams(popup.config)"></div>-->
	<popups ng-hide="!ready"></popups>
	<link ng-if="ready" rel="stylesheet" ng-href="./css/style{{isRtl ? '_rtl' : ''}}.css?version=cvsTimeStamp" />
</body>
</html>