<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	#{user.goPartner}

    <t:saveState value="#{clicksForm}" />

    <h:panelGroup >

		<h:form id="clicksForm">

          <h:panelGrid columns="1" border="0" width="90%">

          	<h:panelGrid border="0" columns="8">

          		<h:outputLabel for="from" value="#{msgs['clicks.from']}"/>

				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="from" value="#{clicksForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['clicksForm'].elements['clicksForm:from'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['clicksForm'].elements['clicksForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	      	  <h:outputLabel for="to" value="#{msgs['clicks.to']}"/>
				<h:panelGrid border="0" columns="3">
	  			  <h:inputText styleClass="input_text" id="to" value="#{clicksForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['clicksForm'].elements['clicksForm:to'],'anchor2','dd/MM/yyyy'); return false;">
	    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			      </h:inputText>
			      <A HREF="#" onClick="cal.select(document.forms['clicksForm'].elements['clicksForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		          </A>
				  <t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<h:outputText value="#{msgs['clicks.campaigns']}"/>
				<h:panelGrid>
	               		<h:selectOneMenu id="campaignName" value="#{clicksForm.campaignId}"  >
	               			<f:selectItems value="#{writer.allMarketingCampaignsBySkinsLongSI}" />
		               	</h:selectOneMenu>
				</h:panelGrid>

			</h:panelGrid>

			<h:panelGrid border="0" columns="1">

				 <t:commandLink action="#{clicksForm.search}">
		                <h:outputText value="#{msgs['button.search']}" />
	  			 </t:commandLink>

		   </h:panelGrid>

		   		   <h:outputText styleClass="general_message" rendered="#{clicksForm.listSize==0}"
  		   				value="#{msgs['clicks.emptylist']}"/>

		   <t:dataTable
		   		id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{clicksForm.list}"
           >
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['clicks.name']}"/>
               </f:facet>
               <h:outputText value="#{v[0]}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['clicks.sum']}"/>
               </f:facet>
			   <h:outputText value="#{v[1]}" />
           </h:column>

        </t:dataTable>

           <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{clicksForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

            </h:panelGrid>

		   </h:panelGrid>

        </h:form>



    </h:panelGroup>

</ui:define>
</ui:composition>

</html>