<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">

	#{user.goPartner}
	#{user.partnerMarketing}

	<t:panelTabbedPane align="center"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent"
                  selectedIndex="#{writer.writer.id == 332? '3': '0'}"
                  >

	 <t:panelTab id="partnerinvestments" label="#{msgs['menu.investments']}" >
	    #{applicationData.initInvestmentsForm}
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/partner/partnerInvestments.jsf?refresh=true" width="100%" height="140%"></iframe>
    </t:panelTab>

    <t:panelTab id="transactions" label="#{msgs['menu.transactions']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/partner/transactions.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>

     <t:panelTab id="clicks" label="#{msgs['menu.clicks']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/partner/clicks.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="newaccounts" label="#{msgs['menu.newaccounts']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/partner/newaccounts.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="users" label="#{msgs['menu.users']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/partner/users.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="marketingReport" label="#{msgs['menu.marketing.report']}" >
    	<iframe name="report" id="report" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/marketingReport.jsf?refresh=true" width="100%" height="500px">
		</iframe>
    </t:panelTab>
     
    <t:panelTab id="advertising" label="#{msgs['menu.advertising']}" rendered="#{user.hasPartnerMarketingRole}">
					  <t:panelTabbedPane
		                  serverSideTabSwitch="true"
		                  styleClass="subtabbedPane"
		                  activeTabStyleClass="subactiveTab"
		                  inactiveTabStyleClass="subinactiveTab"
		                  disabledTabStyleClass="disabledTab"
		                  activeSubStyleClass="subactiveSub"
		                  inactiveSubStyleClass="subinactiveSub"
		                  tabContentStyleClass="subtabContent">

           				  <t:panelTab id="campaigns" label="#{msgs['menu.campaigns']}" >

							  <t:panelTabbedPane
				                  serverSideTabSwitch="true"
				                  styleClass="subtabbedPane"
				                  activeTabStyleClass="subactiveTab"
				                  inactiveTabStyleClass="subinactiveTab"
				                  disabledTabStyleClass="disabledTab"
				                  activeSubStyleClass="subactiveSub"
				                  inactiveSubStyleClass="subinactiveSub"
				                  tabContentStyleClass="subtabContent">

				                  	 <t:panelTab id="marketingCapmaigns" label="#{msgs['menu.campaigns']}" >
									    <iframe name="content" id="content" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/campaigns.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>

				                  	 <t:panelTab id="marketingpayments" label="#{msgs['menu.payment.recipients']}" >
									    <iframe name="payments" id="payments" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/payment_recipients.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>

				                  	 <t:panelTab id="marketingTerritory" label="#{msgs['menu.territory']}" >
									    <iframe name="payments" id="payments" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/territories.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>
								</t:panelTabbedPane>
							</t:panelTab>

		                  	<t:panelTab id="marketingSources" label="#{msgs['menu.sources']}" >
							    <iframe name="content" id="content" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/sources.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingMediums" label="#{msgs['menu.mediums']}" >
							    <iframe name="content" id="content" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/mediums.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingContents" label="#{msgs['menu.contents']}" >
							    <iframe name="content" id="content" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/contents.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingSizes" label="#{msgs['menu.sizes']}" >
							    <iframe name="sizes" id="sizes" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/sizes.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingtypes" label="#{msgs['menu.types']}" >
							    <iframe name="types" id="types" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/types.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingLocations" label="#{msgs['menu.locations']}" >
							    <iframe name="locations" id="locations" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/locations.jsf?refresh=true" width="100%" height="100%">
								</iframe>
						    </t:panelTab>

		                  	<t:panelTab id="marketingLanding" label="#{msgs['menu.landing']}" >
								<t:panelTabbedPane
				                	serverSideTabSwitch="true"
									styleClass="subtabbedPane"
									activeTabStyleClass="subactiveTab"
									inactiveTabStyleClass="subinactiveTab"
									disabledTabStyleClass="disabledTab"
									activeSubStyleClass="subactiveSub"
									inactiveSubStyleClass="subinactiveSub"
									tabContentStyleClass="subtabContent">
										<t:panelTab id="marketingPixels" label="#{msgs['menu.landing']}" >
											<iframe name="landing" id="landing" scrolling="yes" frameborder="no"
												src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/landing_pages.jsf?refresh=true" width="100%" height="400px;">
											</iframe>
									    </t:panelTab>
					                  	 <t:panelTab id="marketingChangePixel" label="#{msgs['menu.static.lp']}">
											<iframe name="landing" id="landing" scrolling="yes" frameborder="no"
												src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/staticLP.jsf?refresh=true" width="100%" height="400px;">
											</iframe>
									    </t:panelTab>
								</t:panelTabbedPane>
						    </t:panelTab>

		                  	 <t:panelTab id="marketingPixels" label="#{msgs['menu.pixels']}" >

		                  	 	<t:panelTabbedPane
				                  serverSideTabSwitch="true"
				                  styleClass="subtabbedPane"
				                  activeTabStyleClass="subactiveTab"
				                  inactiveTabStyleClass="subinactiveTab"
				                  disabledTabStyleClass="disabledTab"
				                  activeSubStyleClass="subactiveSub"
				                  inactiveSubStyleClass="subinactiveSub"
				                  tabContentStyleClass="subtabContent">

				                  	 <t:panelTab id="marketingPixels" label="#{msgs['menu.search.pixels']}" >
									     <iframe name="content" id="content" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/pixels.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>

				                  	 <t:panelTab id="marketingChangePixel" label="#{msgs['menu.change.pixels']}">
									    <iframe name="changePixel" id="content" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/changePixel.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>
								    
								    <t:panelTab id="marketingDeletePixel" label="Delete Pixel" onmouseup="#{deleteCombinationPixelForm.reset()}">
									    <iframe name="deletePixel" id="content" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/deletePixel.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>

								    <t:panelTab id="marketingDeletePixels" label="Delete Pixels" onmouseup="#{deleteCombinationPixelForm.reset()}">
									    <iframe name="deletePixel" id="content" scrolling="yes" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/deletePixels.jsf?refresh=true" width="100%" height="100%">
										</iframe>
								    </t:panelTab>
								    
								    
								</t:panelTabbedPane>


						    </t:panelTab>

		              </t:panelTabbedPane>

	</t:panelTab>

	<t:panelTab id="marketingLanding" label="#{msgs['menu.combinations']}" rendered="#{user.hasPartnerMarketingRole}">
					<t:panelTabbedPane
	                	serverSideTabSwitch="true"
						styleClass="subtabbedPane"
						activeTabStyleClass="subactiveTab"
						inactiveTabStyleClass="subinactiveTab"
						disabledTabStyleClass="disabledTab"
						activeSubStyleClass="subactiveSub"
						inactiveSubStyleClass="subinactiveSub"
						tabContentStyleClass="subtabContent">

							<t:panelTab id="marketingCombinations" label="#{msgs['menu.combinations']}" >
						    	<iframe name="combinations" id="combinations" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/combinations.jsf?refresh=true" width="100%" height="600px">
								</iframe>
						    </t:panelTab>

							<t:panelTab id="marketingStaticCombinations" label="#{msgs['menu.static.combination']}" >
						    	<iframe name="staticCombinations" id="staticCombinations" scrolling="yes" frameborder="no"
									src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/staticCombinations.jsf?refresh=true" width="100%" height="600px">
								</iframe>
						    </t:panelTab>

					</t:panelTabbedPane>
	</t:panelTab>

	<t:panelTab id="marketingGlossary" label="#{msgs['menu.glossary']}" rendered="#{user.hasPartnerMarketingRole}">
			    	<iframe name="content" id="content" scrolling="yes" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/marketing/glossary.jsf?refresh=true" width="100%" height="100%">
					</iframe>
	</t:panelTab>
	
   </t:panelTabbedPane>
			    



</ui:define>
</ui:composition>

</html>