<!doctype html>
<html ng-app="copyOpMobileApp" ng-controller="copyOpMobile">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
		
		<title>CopyOp</title>
		<base href="{base}" />
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"/>
		<link rel="stylesheet" href="html/mobile/css/style.css?version=cvsTimeStamp" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> <!--IE <9 not supported-->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular-sanitize.min.js"></script>
		<script src="js/copyop.js?version=cvsTimeStamp"></script>
	</head>
	<body id="body">
		<div ng-controller="generalTermsCtr">
			<div class="p20" autoscroll ng-class="{ 'terms-loading': loading }">
				<div ng-repeat="file in filesList">
					<a class="anchor" name="{{file.id}}"></a>
					<div compile="file.html"></div>
				</div>
			</div>
		</div>
	</body>
</html>