<div id="tab-content" class="transactions-content">
	<h1>
		<span>{{getMsgs('menu.chargebacks')}}</span>
	</h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box transactions-screen">
		<div class="box-header table">
			<div class="cell">
				<div class="table short withCellPadding">
					<div class="cell"><b>{{getMsgs('transactions.id')}}:</b> <span>{{chbACtrl.chargebackDetails.transactionId}}</span></div>
				</div>
			</div>
			<a class="cell back" ng-click="chbACtrl.goBack()">{{getMsgs('button.return')}}</a>
		</div>
		<div>
			<div class="line-toggle _toggleLine">
				{{getMsgs('transactions.chargebackdetails')}}
			</div>
			<div class="table topLevel">
				<div class="table-cell pr10">
					<div class="info-block table">
						<div class="table-cell">
							<div class="table row-line last-bold">
								<div class="table-row">
									<span>{{getMsgs('username')}}</span>
									<span><a class="user-strip-link" ng-click="chbACtrl._u.openCustomerInformation(chbACtrl.chargebackDetails.userId)">{{chbACtrl.chargebackDetails.userName}}</a></span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('first-name')}}</span>
									<span>{{chbACtrl.chargebackDetails.firstName}}</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('last-name')}}</span>
									<span>{{chbACtrl.chargebackDetails.lastName}}</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('affiliate-key')}}</span>
									<span>{{chbACtrl.chargebackDetails.affiliateKey | noZero}}</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('account-manager')}}</span>
									<span>{{chbACtrl.chargebackDetails.accountManager}}</span>
								</div>
							</div>
						</div>
						<div class="table-cell">
							<div class="table row-line last-bold">
								<div class="table-row">
									<span>{{getMsgs('user-id')}}</span>
									<span><a class="user-strip-link" ng-click="chbACtrl._u.openCustomerInformation(chbACtrl.chargebackDetails.userId)" >{{chbACtrl.chargebackDetails.userId}}</a></span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('transactions.id')}}</span>
									<span>{{chbACtrl.chargebackDetails.transactionId}}</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('amount')}}</span>
									<span>{{chbACtrl.chargebackDetails.amount | formatAmount: chbACtrl.chargebackDetails.currencyId : chbACtrl.amountSettings}}</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('deposit.usd.amount')}}</span>
									<span>{{chbACtrl.chargebackDetails.amountUSD | formatAmount: chbACtrl.amountSettings}}</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('provider')}}</span>
									<span>{{chbACtrl.chargebackDetails.provider}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="table-cell pl10">
					<div class="info-block table">
						<div class="table-cell">
							<div class="table row-line last-bold">
								<div class="table-row">
									<span>{{getMsgs('transactions.chargebackid')}}</span>
									<span>{{chbACtrl.chargebackDetails.chargebackId | noZero}}</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('issues.id')}}</span>
									<span>{{chbACtrl.chargebackDetails.issueId | noZero}}</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('issues.timeCreatedAt')}}</span>
									<span>{{chbACtrl.chargebackDetails.timeCreated | date: "dd/MM/yyyy HH:mm"}}</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('issues.timeUpdatedAt')}}</span>
									<span>{{chbACtrl.chargebackDetails.timeUpdated | date: "dd/MM/yyyy HH:mm"}}</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('updated-by')}}</span>
									<span>{{chbACtrl.chargebackDetails.updatingWriterName}}</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div>
			<div class="line-toggle _toggleLine">
				{{getMsgs('more-details')}}
			</div>
			<div class="table topLevel">
				<div class="cell pr10">
					<div class="info-block table short">
						<form name="_form" novalidate>
							<div class="table row-line">
								<div class="table-row">
									<span>{{getMsgs('chb-date')}}</span>
									<span class="date-holder">
										<input id="chargebackDate" type="text" class="form-control" datetime-picker="{{chbACtrl.dateManager.format}}" ng-click="chbACtrl.dateManager.openCalendar($event, 'chargebackDate')" 
											ng-model="chbACtrl.chargebackDetails.chargebackDate" is-open="chbACtrl.dateManager.openDates.chargebackDate" enable-time="false" min-date="chbACtrl.minDate" 
											max-date="chbACtrl.maxDate" datepicker-options="chbACtrl.dateManager.dateOptions" 
											ng-disabled="chbACtrl.isDisabledFlag" required/>
										<button type="button" class="btn btn-default" ng-click="chbACtrl.dateManager.openCalendar($event, 'chargebackDate')"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('status')}}</span>
									<span><single-select ng-model="chbACtrl.filterDetails.statuses" ng-disabled="chbACtrl.isDisabledFlag"/></span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('case-id')}}</span>
									<span><input type="text" ng-model="chbACtrl.chargebackDetails.caseId" restrict-digits ng-disabled="chbACtrl.isDisabledFlag" required/></span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('chargebacks.arn')}}</span>
									<span><input type="text" ng-model="chbACtrl.chargebackDetails.arn" ng-disabled="chbACtrl.isDisabledFlag"/></span>
								</div>
								<div class="table-row" ng-if="chbACtrl.chargebackDetails.transactionTypeId != 32">
									<span>{{getMsgs('creditcards.card.type')}}</span>
									<span>
										<i class="cc-brand-imgs cc-typeByBin-{{chbACtrl.chargebackDetails.creditCard.typeIdByBin}}"></i>
										{{chbACtrl.chargebackDetails.creditCard.typeByBin}}
									</span>
								</div>
								<div class="table-row" ng-if="chbACtrl.chargebackDetails.transactionTypeId != 32">
									<span>{{getMsgs('rc')}}</span>
									<span><single-select ng-model="chbACtrl.filterDetails.rc" ng-disabled="chbACtrl.isDisabledFlag"/></span>
								</div>
								<div class="table-row" ng-show="chbACtrl.filterDetails.rc.getId() == null">
									<span>{{getMsgs('rc')}}</span>
									<span><input type="text" ng-model="chbACtrl.chargebackDetails.rcNew" ng-disabled="chbACtrl.isDisabledFlag" restrict-digits required="(chbACtrl.filterDetails.rc.getId() == null)"/></span>
								</div>
								<div class="table-row" ng-show="chbACtrl.filterDetails.rc.getId() == null">
									<span>{{getMsgs('reason-code')}}</span>
									<span><input type="text" ng-model="chbACtrl.chargebackDetails.reasonCodeNew" ng-disabled="chbACtrl.isDisabledFlag"/></span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('dispute-deadline')}}</span>
									<span class="date-holder">
										<input id="disputeDate" type="text" class="form-control" datetime-picker="{{chbACtrl.dateManagerDispute.format}}" ng-click="chbACtrl.dateManagerDispute.openCalendar($event, 'disputeDate')" 
											ng-model="chbACtrl.chargebackDetails.disputeDate" is-open="chbACtrl.dateManagerDispute.openDates.disputeDate" enable-time="false" min-date="chbACtrl.minDate" 
											max-date="chbACtrl.maxDate" datepicker-options="chbACtrl.dateManagerDispute.dateOptions"
											ng-disabled="chbACtrl.isDisabledFlag"/>
										<button type="button" class="btn btn-default" ng-click="chbACtrl.dateManagerDispute.openCalendar($event, 'disputeDate')"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('general.comments')}}</span>
									<span><textarea ng-model="chbACtrl.chargebackDetails.comments" ng-disabled="chbACtrl.isDisabledFlag"></textarea></span>
								</div>
								<div class="table-row">
									<span>{{getMsgs('transactions.is3dsecure')}}</span>
									<span>{{chbACtrl.chargebackDetails.is3d ? getMsgs('yes') : getMsgs('no')}}</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<button class="button blue" ng-hide="!chbACtrl.isEdit" ng-click="chbACtrl.changeMode()" ng-disabled="!permissions.get('chargebacks_edit')">
				{{!chbACtrl.editAddMode ? getMsgs('cms.button.edit') : getMsgs('cancel')}}
			</button>
			<button class="button blue" ng-if="chbACtrl.editAddMode" ng-click="chbACtrl.saveChargeback(_form)" ng-disabled="!permissions.get('chargebacks_edit') || !permissions.get('chargebacks_add')">
				{{getMsgs('button.save')}}
			</button>
		</div>
	</div>
</div>