<div id="tab-content" class="transactions-content">
	<h1>
		<span>{{getMsgs('menu.chargebacks')}}</span>
	</h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box transactions-screen">
		<div class="box-header">
			<h2>{{getMsgs('customers-list')}}</h2>
			<toggler toggle="filter" default-state="on" on-toggle="filterToggled" />
		</div>
		<form name="_form" novalidate>
			<div class="box-sub-header static-filters">
				<label for="fromDate" class="filter-label">
					{{getMsgs('from')}}:
				</label>
				<div class="date-holder">
					<input id="fromDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="chbCtrl.openCalendar($event, 'fromDate')" 
						ng-model="chbCtrl.filter.fromDate" is-open="chbCtrl.openDates.fromDate" enable-time="false" min-date="chbCtrl.minDate" max-date="chbCtrl.maxDate" datepicker-options="chbCtrl.dateOptions" />
					<button type="button" class="btn btn-default" ng-click="chbCtrl.openCalendar($event, 'fromDate')"><i class="fa fa-calendar"></i></button>
				</div>
				
				<label for="toDate" class="filter-label">
					{{getMsgs('to')}}:
				</label>
				<div class="date-holder">
					<input id="toDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="chbCtrl.openCalendar($event, 'toDate')" 
						ng-model="chbCtrl.filter.toDate" is-open="chbCtrl.openDates.toDate" enable-time="false" min-date="chbCtrl.minDate" max-date="chbCtrl.maxDate" datepicker-options="chbCtrl.dateOptions" />
					<button type="button" class="btn btn-default" ng-click="chbCtrl.openCalendar($event, 'toDate')"><i class="fa fa-calendar"></i></button>
				</div>
				
				<label>
					<span class="filter-label">{{getMsgs('transaction-id')}}:</span>
					<input ng-model="chbCtrl.filter.transactionId" type="text" restrict-digits/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('user-id')}}:</span>
					<input ng-model="chbCtrl.filter.userId" type="text" restrict-digits/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('chargebacks.arn')}}:</span>
					<input ng-model="chbCtrl.filter.arn" type="text"/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('cc-last-4-digits')}}:</span>
					<input ng-model="chbCtrl.filter.ccLast4Digits" type="text" restrict-digits/>
				</label>
				
				<div class="right-block">
					<button type="button" class="button blue" toggable-off="filter" ng-click="chbCtrl.getChargebacks(_form)">{{getMsgs('search')}}</button>
					
					<label>
						<span class="filter-label">{{getMsgs('show-entries')}}:</span>
						<single-select ng-model="chbCtrl.filter.resultsPerPage"></single-select>
					</label>
				</div>
			</div>
			<div class="box-sub-header columns" toggable-on="filter">
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('class-users')}}:</span>
							<span>
								<single-select ng-model="chbCtrl.filter.classUsers" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('business-case')}}:</span>
							<span>
								<multiselect model="chbCtrl.filter.skinBusinessCases" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('skin')}}:</span>
							<span>
								<multiselect model="chbCtrl.filter.skins" />
							</span>
						</label>
					</div>
				</div>
				
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('country')}}:</span>
							<span>
								<multiselect model="chbCtrl.filter.countries" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('currency')}}:</span>
							<span>
								<multiselect model="chbCtrl.filter.currencies" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('transaction-status')}}:</span>
							<span>
								<multiselect model="chbCtrl.filter.statuses" />
							</span>
						</label>
					</div>
				</div>
				
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('providers')}}:</span>
							<span>
								<multiselect model="chbCtrl.filter.providers" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('reason-codes')}}:</span>
							<span>
								<multiselect model="chbCtrl.filter.rc" />
							</span>
						</label>
					</div>
				</div>
			</div>
			<div class="box-sub-header" toggable-on="filter">
				<button type="button" class="button blue" ng-click="chbCtrl.getChargebacks(_form)">{{getMsgs('search')}}</button>
			</div>
		</form>
		<div class="box-body" ng-if="chbCtrl.results && chbCtrl.results.length == 0">
			<h2>{{getMsgs('no-results-found')}}</h2>
		</div>
		
		<div class="box-body" ng-if="chbCtrl.results && chbCtrl.results.length > 0">
			<table class="pretty-table" id="exportTable">
				<thead>
					<tr>
						<th>{{getMsgs('chb-id')}}</th>
						<th>{{getMsgs('user-id')}}</th>
						<th>{{getMsgs('status')}}</th>
						<th>{{getMsgs('amount')}}</th>
						<th>{{getMsgs('date-chb')}}</th>
						<th>{{getMsgs('case-id')}}</th>
						<th>{{getMsgs('rc')}}</th>
						<th>{{getMsgs('updated-by')}}</th>
						<th>{{getMsgs('deadline')}}</th>
						<th>{{getMsgs('provider')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in chbCtrl.results">
						<td><a ui-sref="ln.risk.chargebacks.view({ln: $state.params.ln, transactionId: result.transactionId})">{{result.chargebackId}}</a></td>
						<td class="clickable" ng-click="chbCtrl._u.openCustomerInformation(result.userId)">{{result.userId}}</td>
						<td>{{getMsgs(result.statusName)}}</td>
						<td>{{result.amount | formatAmount: result.currencyId : chbCtrl.amountSettings}}</td>
						<td>{{result.chargebackDate | date: "dd/MM/yyyy"}}</td>
						<td>{{result.caseId}}</td>
						<td>{{result.rc}}</td>
						<td>{{result.writerName}}</td>
						<td>{{result.deadline | date: "dd/MM/yyyy"}}</td>
						<td>{{result.provider}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="box-footer" ng-if="chbCtrl.results && chbCtrl.results.length > 0">
			<pagination model="chbCtrl.pagination">
				<div class="taR">
					<a onclick="exportSearchCSV('exportTable')" class="icons excel mr10"></a>
				</div>
			</pagination>
		</div>
	</div>
</div>