body {
	margin:0;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#566764;
	background-color:#566764;
}

.fR{float:right;}
.tAc{text-align:center;}
.dIB{display:inline-block!important;}
.ml20{margin-left:20px!important;}
.mt15{margin-top: 15px!important;}

.table_row_bold_red{
	color:#FF0000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

.table_row_bordeaux{
	color:#5F021F;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

.table_row_yellow{
	background-color:yellow;
}

.logout {
	color:#DFE6E4;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
}

.campaigns_glossary_header {
	color:black;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
}

.right_nav_link {
	color:yellow;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	text-decoration: none;

}

input{
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.data_display{
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.input_text{
	border-width:1px;
	border-style:solid;
	border-color:#566764;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.info_messages {
	text-align:center;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

.submit_button {
	display: inline-block;
    padding: 5px 0;
    width: 150px;
}

.error_messages{
	align:center;
	color:#990020;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

.link_gray_12_bold{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}
.text_gray_24_bold{
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
}

td{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}
a{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

.user_search{
	background-color:#FFFFFF;
}

.login{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	background-color:#FFFFFF;
}

.general_message{
	background-color:#FFFFFF;
	color:#990020;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	align:center;
}

.error{
	color:#990020;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
}

.big-error{
	font-size: 14px;
	font-weight: bold;
}

.white_text_11{
	color:white;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
}

.text_gray_14_bold{
	color:#566764;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
}

.user_strip_header_text{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}
.user_strip_text{
	color:#566764;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
}

.user_strip_value{
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}
.user_strip_value_green{
	color:#66FF00;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}
.user_strip_value_darkgreen{
	color:#008000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}
.user_strip_value_red{
	color:#FF0000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}
.user_strip_value_regulation_step{
	color:#000000;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
}
.user_strip_background_blue{
	background-color:#DFEBE8;
}
.user_strip_background_gray{
	background-color:#EBEADF;
}




.standardTable_Row1 {
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
    background-color: #FFFFFF;
}

.standardTable_Row2 {
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
    background-color: #E6ECEC;

}


.scrollerTable {
	font-family : Arial;
	font-size: 12px;
	color: #E6ECEC;
    width: 100%;
    cellspacing:0px;
    cellpadding:0px;
     background-color: #566764;

}

.standardTable_Header {
	color: #FFFFFF;
    background-color: #566764;
    text-align: center;
    border: none;
}
.standardTable_Column {
	font-family : Arial;
	font-size: 12px;
	color: #566764;
    text-align: center;

}


.standardTable_Row1_print {
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
    background-color: #FFFFFF;
    border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
}

.standardTable_Row2_print {
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
    background-color: #E6ECEC;
    border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;

}


.scrollerTable_print {
	font-family : Arial;
	font-size: 12px;
	color: #E6ECEC;
    width: 100%;
    cellspacing:0px;
    cellpadding:0px;
     background-color: #566764;
     border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;

}

.standardTable_Header_print {
	color: #FFFFFF;
    background-color: #566764;
    text-align: center;
    border: none;
    border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
}
.standardTable_Column_print {
	font-family : Arial;
	font-size: 12px;
	color: #566764;
    text-align: center;
    border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;

}
.standardTable_ColumnCentered_print {
    text-align: center;
    font-family : Arial;
	font-size: 12px;
	color: #566764;
	align:center;
	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;

}


.width10 {
	width:10px;
}
.standardTable_SortHeader a{
    color: #FFFFFF;
    background-color: #566764;
    text-align: center;
    border: none;
}

.tableHeaderLink {
    color: #FFFFFF;
    background-color: #566764;
    text-align: center;
    border: none;
}

.standardTable_Footer {
    background-color: #FFFFE0;
}



.standardTable_ColumnCentered {
    text-align: center;
    font-family : Arial;
	font-size: 12px;
	color: #566764;
	align:center;

}
.comment_cutter {
	width: 150px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.scroller {
    color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	border:none;
	align:center;
}

.paginator_active a{
    color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	border:none;
	text-decoration: none;
}

.paginator {
	color: #566764;
	font-family : Arial;
	font-size: 12px;
	font-weight:normal;
}

.paginator a {
	color: #566764;
	font-family : Arial;
	font-size: 12px;
	font-weight:normal;
}



.tableborder1 {background: url(../images/b.gif) 0 100% repeat-x;
}
.tableborder2 {background: url(../images/l.gif) 0 0 repeat-y;
}
.tableborder3 {background: url(../images/r.gif) 100% 0 repeat-y;
}
.tableborder4 {background: url(../images/t.gif) 0 0 repeat-x;
}
.tableborder5 {background: url(../images/bl.gif) 0 100% no-repeat;
}
.tableborder6 {background: url(../images/br.gif) 100% 100% no-repeat;
}
.tableborder7 {background: url(../images/tl.gif) 0 0 no-repeat;
}
.tableborder8 {background: url(../images/tr.gif) 100% 0 no-repeat; padding:3px;
}

.hintText {
	font-family:Arial;
	font-size: 12px;
	font-weight:bold;
	background-color: #D6DBDB;
	color: #566764;
	padding: 5px;
}

table.tabbedPane {
    width: 100% !important;
    vertical-align: top !important;
    border-collapse: separate !important;
    border-spacing: 0px !important;
    background-color: #566764 !important;
    text-align: center !important;
    height: 100% !important;
    align:center;
}

table.tabbedPaneRet {
    width: 100% !important;
    vertical-align: top !important;
    border-collapse: separate !important;
    border-spacing: 0px !important;
    background-color: #566764 !important;
    text-align: center !important;
    height: 100% !important;
    align:center;
}

table.subtabbedPane {
    width: 100% !important;
    vertical-align: top !important;
    border-collapse: separate !important;
    border-spacing: 0px !important;
    background-color: #DFE6E4 !important;
    text-align: center !important;
    height: 100% !important;
    align:center;
}

td.activeTab {
    background-color: #DFE6E4 !important;
    border-top: 2px solid #FFFFFF !important;
    border-left: 2px solid #FFFFFF !important;
    border-right: 2px solid #FFFFFF !important;
    border-bottom: 0px none !important;
    padding: 2px !important;
    text-align: center !important;
    font-weight: bold !important;
}
td.subactiveTab {
    background-color: #FFFFFF !important;
    border-top: 2px solid #FFFFFF !important;
    border-left: 2px solid #FFFFFF !important;
    border-right: 2px solid #FFFFFF !important;
    border-bottom: 0px none !important;
    padding: 2px !important;
    text-align: center !important;
    font-weight: bold !important;
}
td.activeTab input {
    background-color: #DFE6E4 !important;
    font-family: Arial;
	font-size : 14px;
	color : #566764;
	font-weight : bold;
	border: 0px;
}
td.subactiveTab input {
    background-color: #FFFFFF !important;
    font-family: Arial;
	font-size : 14px;
	color : #566764;
	font-weight : bold;
	border: 0px;
}

td.inactiveTab {
    background-color: #73928B !important;
    border-top: 2px solid #566764 !important;
    border-left: 2px solid #566764 !important;
    border-right: 2px solid #566764 !important;
    border-bottom: 0px none !important;
    padding: 2px !important;
    text-align: center !important;
    font-weight: bold !important;
}
td.inactiveTab input {
    background-color: #73928B  !important;
    font-family: Arial;
	font-size : 12px;
	color : #DFE6E4;
	font-weight : bold;
	border: 0px;
}
td.subinactiveTab {
   	background-color:#8FB8AF !important;
	border-color:#DFE6E4 !important;
	border-style:solid solid none !important;
	border-width:2px 2px 0px !important;
	font-weight:bold !important;
	padding:2px !important;
	text-align:center !important;
}


td.subinactiveTab input {
    background-color: #8FB8AF  !important;
    font-family: Arial;
	font-size : 12px;
	color : #FFFFFF;
	font-weight : bold;
	border: 0px;
}
td.activeSub {
    background-color: #DFE6E4 !important;
    padding: 0px !important;
    border: 0px none !important;
}
td.inactiveSub {
    background-color: #DFE6E4 !important;
    padding: 0px !important;
    border: 0px none !important;
    border-top: 2px solid #FFFFFF !important;

}
td.subactiveSub {
    background-color: #ffffff !important;
    padding: 0px !important;
    border: 0px none !important;
}
td.subinactiveSub {
    background-color: #ffffff !important;
    padding: 0px !important;
    border: 0px none !important;
    border-top: 2px solid #FFFFFF !important;

}
td.myFaces_panelTabbedPane_emptyHeaderCell {

}

.myFaces_panelTabbedPane_activeHeaderCell input:hover,
.myFaces_panelTabbedPane_inactiveHeaderCell input:hover{
  color:#fff !important;
  background:#08c !important;
}
.tabBGColor {
    background-color: #DFE6E4;
}
.subtabBGColor {
    background-color: #ffffff;
}
.detailsBGColor {
    background-color: #CCFFCC;
}

.writersDetailsBGColor {
    background-color: #DFE6E4;
}


td.tabContent {
    background-color: #DFE6E4 !important;
    border-left: 2px solid #FFFFFF !important;
    border-right: 2px solid #FFFFFF !important;
    border-bottom: 2px solid #FFFFFF !important;
    vertical-align: top !important;
    padding-top: 5px !important;
    padding-left: 5px !important;
    height: 100% !important;
    text-align:right !important;
    width:95%;
}

td.tabContentRet {
    background-color: #DFE6E4 !important;
    border-left: 2px solid #FFFFFF !important;
    border-right: 2px solid #FFFFFF !important;
    border-bottom: 2px solid #FFFFFF !important;
    vertical-align: top !important;
    padding-top: 5px !important;
    padding-left: 5px !important;
    height: 100% !important;
    text-align:right !important;
    width: 100% !important;
}

td.subtabContent {
    background-color: #FFFFFF !important;
    border-left: 2px solid #FFFFFF !important;
    border-right: 2px solid #FFFFFF !important;
    border-bottom: 2px solid #FFFFFF !important;
    vertical-align: top !important;
    padding-top: 5px !important;
    padding-left: 5px !important;
    height: 100% !important;
    text-align:right !important;
    width:100%;
}

td.myFaces_panelTabbedPane_subHeaderCell_first{
	border-right: 2px solid #FFFFFF !important;
	border-left: 0px outset ;
	border-top: 0px outset ;
	border-bottom: 0px outset ;
}
td.myFaces_panelTabbedPane_subHeaderCell_last{
	border-top: 2px solid #FFFFFF !important;
	border-right: 0px outset ;
	border-bottom: 0px outset ;
	border-left: 2px solid #FFFFFF !important;
}

tr.myFaces_pannelTabbedPane_subHeaderRow{
	display:none;
}

.table_row_hover tbody tr:hover 
{ 
    background: #a5cbff; 
}

/*
   ------------------------------------------------------------
   Calendar component
   ------------------------------------------------------------
*/

.CalendarcpYearNavigation,
.CalendarcpMonthNavigation
		{
		background-color:#566764;
		text-align:center;
		vertical-align:center;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		}
.CalendarcpDayColumnHeader,
.CalendarcpYearNavigation,
.CalendarcpMonthNavigation,
.CalendarcpCurrentMonthDate,
.CalendarcpCurrentMonthDateDisabled,
.CalendarcpOtherMonthDate,
.CalendarcpOtherMonthDateDisabled,
.CalendarcpCurrentDate,
.CalendarcpCurrentDateDisabled,
.CalendarcpTodayText,
.CalendarcpTodayTextDisabled,
.CalendarcpText
		{
		font-family:arial;
		font-size:11px;
		}
TD.CalendarcpDayColumnHeader
		{
		text-align:right;
		border:solid thin #566764;
		border-left-width:0px;
		border-right-width:0px;
		border-top-width:0px;
		border-bottom-width:1px;
		font-weight:bold;
		color:#000000;
  		font-family:Arial;
  		font-size:11px;
		}
.CalendarcpCurrentMonthDate,
.CalendarcpOtherMonthDate,
.CalendarcpCurrentDate
		{
		text-align:right;
		text-decoration:none;
		color:#566764;
  		font-family:Arial;
  		font-size:11px;
  		font-weight:normal;
		}
.CalendarcpCurrentMonthDateDisabled,
.CalendarcpOtherMonthDateDisabled,
.CalendarcpCurrentDateDisabled
		{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
		}
.CalendarcpCurrentMonthDate
		{
		color:#566764;
		font-family:Arial;
  		font-size:11px;
  		font-weight:normal;
		}
.CalendarcpCurrentDate
		{
		color: #000000;
		font-weight:bold;
		}
.CalendarcpOtherMonthDate
		{
		color:#808080;
		text-decoration:line-through;
		font-family:Arial;
  		font-size:11px;
  		font-weight:normal;
		}
TD.CalendarcpCurrentDate
		{
		color:#000000;
		background-color: #FFFFFF;
		border-width:1;
		border:solid thin #9A0023;
		}
TD.CalendarcpCurrentDateDisabled
		{
		border-width:1;
		border:solid thin RED;
		}
TD.CalendarcpTodayText,
TD.CalendarcpTodayTextDisabled
		{
		border:solid thin #566764;
		border-left-width:0px;
		border-right-width:0px;
		border-top-width:1px;
		border-bottom-width:0px;
		}
A.CalendarcpTodayText,
SPAN.CalendarcpTodayTextDisabled
		{
		height:20px;
		}
A.CalendarcpTodayText
		{
		color:#000000;
		font-weight:bold;
		}
SPAN.CalendarcpTodayTextDisabled
		{
		color:#D0D0D0;
		}
.CalendarcpBorder
		{
		border:solid thin #566764;
		}

/*
   ------------------------------------------------------------
   End Calendar component
   ------------------------------------------------------------
*/

.image_down{
	height: 7px;
	width: 11px;
	background: url(../images/down.gif);
}

.image_up{
	height: 7px;
	width: 11px;
	background: url(../images/up.gif);
}

.hintsClass {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #0284d6;
	color: #FFFFFF;
	border: 1px solid #0284d6;
	padding: 3px;
}

.hintsClassComb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #0284d6;
	color: #FFFFFF;
	border: 1px solid #0284d6;
	padding: 3px;
	width: 700px;
}

.grid_column
{
	padding: 35px;
}

.route_con
{
    background: #66caff;
}
/*
########################trader tool##################################
*/

.traderTool_table_header {
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

.row_disable {
	color: #000000;
	font-family: Arial;sans-serif;
	font-size: 11px;
	text-align: center;
	tr: hover {background: #EE82EE;}
}
.row_disable:hover td {background: #EE82EE;}

.row_suspend {
	color: #000000;
	font-family: Arial;sans-serif;
	font-size: 11px;
	text-align: center;
	tr: hover {background: #EE82EE;}
}
.row_suspend:hover td {background: #EE82EE;}

.row_waiting {
	color: #ffffff;
	font-family: Arial;sans-serif;
	font-size: 11px;
	text-align: center;
	tr: hover {background: #EE82EE;}
}
.row_waiting:hover td {background: #EE82EE;}

tr.row_other td {
	color: #000000;
	font-family: Arial;sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.row_other:hover td {background: #EE82EE;}

.trader_tool_title{
	font-family:sans-serif;
	font-size:16px;
	color:#ffffff;
	font-weight:Bold;
	text-transform:capitalize;

}

.trader_title_msg{
	color:#ffffff;
	font-size:11px;
}

.trader_msg_value{
	font-size:12px;
	color:#e1e1e1;
	font-weight:Bold;
}

.trader_td_red{
	font-size:12px;
	color:red;
	font-weight:Bold;
}

.trader_td_blue{
	font-size:12px;
	color:blue;
	font-weight:Bold;
}

/*
########################trader tool end##################################
*/

.credit_msg_lable{
	color:#ffffff;
	font-size:13px;
	font-weight:Bold;
}

.credit_msg_value{
	color:#ffffff;
	font-size:13px;
	font-weight:Bold;
}

.credit_header_msg{
	color:#ffffff;
	font-size:17px;
	font-weight:Bold;
	text-decoration: underline;
}

.points_balance_table {
	border-width: 1px;
	border-spacing:  ;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: #EAEAEA;
}

.top_align {
	vertical-align: top;
}

.assign_info{
	color: #000000;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
}

.right_align{
	align:right;
	text-align:right;
}

.left_align{
	align:left;
	text-align:left;
}

.top_and_left {
	align:left;
	text-align:left;
	vertical-align: top;
}

.mid_align {
	vertical-align:middle;
}

.mid_align_children * {
	vertical-align:middle;
	margin:0px 3px;
}

/*
######################## Sales Deposits Table ##################################
*/

.sdtColumn{
	width:100px;
	text-align: center;
}

.sdtDate{
	width:70px;
	text-align: center;
}

.sdtCount{
	width:50px;
	text-align: center;
}

.sdtSum{
	width:100px;
	text-align: center;
}

.sdtHeader{
	width:450px;
}

.sdtSubHeader{
	width:150px;
}

.sdtDetailFooterColumn1{
	width:400px;
	text-align: center;
}

.sdtDetailFooterColumn2{
	width:800px;
	text-align: center;
}

.sdtDetailFooterColumn1_T{
	width:301px;
	text-align: center;
}

.sdtDetailFooterColumn2_T{
	width:100px;
	text-align: center;
}
.sdtColumn_T{
	width:100px;
	text-align: center;
}

/*
######################## Sales Deposits Table end##################################
*/

.optionplus_table {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
}

.optionplus_header {
	background-color: #0284d6;
	color: white;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
}

.optionplus_value {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
}

/*
######################## Reg Leads Table ##################################
*/

.rlColumnShort{
	width:70px;
	text-align: center;
}

.rlColumn{
	width:130px;
	text-align: center;
}

.rlColumnLong{
	width:160px;
	text-align: center;
}

.column100px{
	width:100px;
}

.column300px{
	width:300px;
}

/*
######################## COPYOP ##################################
*/

.copyopCopyTable tbody tr:hover 
{ 
    background: #a5cbff; 
}

.routeFirstRow tr:first-child td {
    background: #66caff;
}

/*
######################## SALES ##################################
*/

.salesTable tbody tr:hover { 
    background: #a5cbff; 
}
.sales_info {
	font-weight: bold;	
}
.sales_no_display {
	display:none;	
}
.sales_info_1 {
	color: #000000;
	background-color: #FFFF00;
	font-weight: bold;	
}
.sales_info_2 {
	color: #0101DF;
	font-weight: bold;	
}
.sales_info_3 {
	color: #FF0000;
	font-weight: bold;	
}
.sales_info_4 {
	color: #088A08;
	font-weight: bold;	
}
.sales_writers_to_assign {
	height:21px;
	font-size:10px;
	font-weight:bold;
	vertical-align:middle;
	width:130px;	
}
.sales_list_styleall {
	color: #566764;
}
.sales_list_style {
	color:blue;
}

/*
###################################################################
*/

div.tooltip_route strong {line-height:10px;}
div.tooltip_route:hover {text-decoration:none; float:left;cursor: pointer;} 
div.tooltip_route span 
{
    z-index:10;
    display:none; 
    padding:14px 20px;
    margin-top:60px;
    width:300px; 
    line-height:16px;
    text-align: left !important;
    border-radius:12px;        
    box-shadow: 0px 0px 8px 4px #666;
}
div.tooltip_route:hover span 
{
	text-align: left !important;
    display:inline; 
    position:absolute; 
    border:2px solid #FFF;  
    color:#EEE;
    background:#1975FF repeat-x 0 0;
}   	


/*Balance PopUp*/
.balancePopUp{display:none;position:absolute;top:35px;left:863px;width:260px;border:1px solid #04618e;border-radius:5px;box-shadow:1px 1px 0px 0px rgba(0,82,122,0.36);background:#f5fbff;z-index:15;}
.balancePopUp .arrow{position:absolute;right:0;left:0;display:block;margin:auto;width:20px;height:20px;border:solid #04618e;border-width:1px 0 0 1px;background:#ddedf8;}
.balancePopUp .arrow.top{top:-11px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.balancePopUp .arrow.bottom{background:#f5fbff;bottom:-11px;-webkit-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg);}
.balancePopUp_holder{position:relative;z-index:17;}
.balancePopUp_header{position:relative;padding:10px 0;border-bottom:1px solid #babfc2;border-radius:5px 5px 0 0;font-size:14px;text-transform:uppercase;text-align:center;background:#ddedf8;}
.balancePopUp_in{display:table;width:100%;}
.balancePopUp_content{font-size:12px;display:table-row;}
.balancePopUp_content + .balancePopUp_content > span{border-top:1px solid #babfc2;}
.balancePopUp_content > span{display:table-cell;padding:5px 10px;}
.balancePopUp_content span:first-child{width:62%;}
.balancePopUp_content .totalTxts span{display:none;}
.balancePopUp_content .totalTxts.total .totalTxt{display:inline;}
.balancePopUp_content .totalTxts.amount .totalTxtAmount{display:inline;}
.balancePopUp_content .totalTxts.return .totalTxtReturn{display:inline;}
.small_popUp{width:200px;box-shadow:0px 0px 15px 0px rgba(0,0,0,0.42);}
.balancePopUp.small_popUp .arrow.top{top:-9px;width:15px;height:15px;background:#f5fbff;}
.balancePopUp.small_popUp .arrow.bottom{bottom:-9px;width:15px;height:15px;}
.balancePopUp.small_popUp .balancePopUp_content{font-size:11px;}
.balancePopUp.small_popUp .balancePopUp_header{display:none;}

.balancePopUp .balancePopUp_info{font-size:11px;color:#6d7b86;border-radius:0px 0px 5px 5px;background:#ddedf8;box-shadow:inset 0px 4px 4px -2px rgba(161,172,180,0.9);}
.balancePopUp .balancePopUp_info_more{}
.balancePopUp .balancePopUp_info_more_text{padding:10px 0px;text-align:center;text-transform:capitalize;font-weight:bold;color:#3d80ab;cursor:pointer;}
.balancePopUp .balancePopUp_info_more_text i{width:10px;height:6px;display:inline-block;margin-left:7px;background:url('/anyoption/images/ao/icon_set_1.png') no-repeat;background-position:0px -403px;}
.balancePopUp .balancePopUp_info_less{display:none;padding-bottom:7px;}
.balancePopUp .balancePopUp_info_less_text{padding:10px 0px;text-align:center;text-transform:capitalize;font-weight:bold;color:#3d80ab;cursor:pointer;}
.balancePopUp .balancePopUp_info_less_text i{width:10px;height:6px;display:inline-block;margin-left:7px;background:url('/anyoption/images/ao/icon_set_1.png') no-repeat;background-position:-14px -403px;}
.balancePopUp .balancePopUp_info p{padding:0px 10px 4px 10px;line-height:1.2;}
.balancePopUp .balancePopUp_info p + p{margin-top:0px;padding:4px 10px;}
.balancePopUp .balancePopUp_info span{color:#3d80ab;}
.balancePopUp .balancePopUp_info a{color:#3d80ab;}
.balancePopUp .balancePopUp_info strong{}


img.ui-datepicker-trigger{margin:5px 0px -5px 2px;}

#pendingUserWithdrawalsDetailsPlaceholder{display:none;}
.pending-withdrawals-details{padding:10px;background:#CCFFCC;font-weight:bold;}
.pending-withdrawals-details-label{float:left;margin:5px 10px 10px 5px;}
.pending-withdrawals-details-data{float:left;margin:5px 70px 10px 5px;}
.pending-withdrawals-details-data-left{float:left;margin:5px 70px 10px 0px;}
.pending-withdrawals-details-data-right{float:left;margin:5px 10px 10px 5px;}

.trader-button{cursor:pointer;padding:0px 10px;text-decoration:none;line-height:10px;font-size:10px;background:#f0f0f0;border:1px solid #ccc;}
.trader-button-minus{float:left;margin-left:5px;}
.trader-button-plus{float:right;margin-right:5px;}

.translations_holder{margin:30px 0px;}
.translations_tabs_content_holder{clear:both;padding:10px;border:1px solid #ccc;}
.translations_tab{float:left;margin:1px 0px -1px 0px;padding:10px 20px;cursor:pointer;background:rgb(184, 199, 194);border:1px solid #ccc;border-left:0px;}
.translations_tab:first-child{border-left:1px solid #ccc;}
.translations_tab_active{background:#DFE6E4;border-bottom:1px solid #DFE6E4;}
.translations_tab_disabled{background:#999;color:#ccc;}
.translations_tabs_content{display:none;}
.translations_tabs_content_active{display:block;}


.loading-overlay{position:absolute;top:0px;left:0px;z-index:99;width:100%;height:100%;background:url('../images/loading_request.gif') no-repeat center rgba(255, 255, 255, 0.8);}
.loading-overlay.loading-overlay-global{position:fixed;z-index:2000;}
.toast{cursor:pointer;position:fixed;top:50%;left:50%;-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);padding:15px 45px;border:1px solid #c9c9c9;border-radius:10px;background:rgba(170, 218, 255, 1);}
.toast.toast_error{color:#fff;border:1px solid #999;background:rgba(255, 80, 80, 1);}

/*.holder{padding-bottom:20px;}
.holder .content{box-sizing:border-box;position:relative;display:block;width:100%;padding:15px;}
.holder .content h1 span{background:none;}*/
/*.holder{box-sizing:border-box;position:relative;display:block;width:100%;padding:15px;}
.holder h1 span{background:none;}*/
.holder{padding-bottom:20px;}
.holder.content{box-sizing:border-box;position:relative;display:block;width:100%;padding:15px;}
.holder.content h1 span{background:none;}
.holder.content h1:after{display:none;}

.tabs-holder{display:table;width:100%;margin-bottom:15px;}
.tabs-holder .tabs{display:table-row;padding:0px;list-style-type:none;}
.tabs-holder .tabs li{display:table-cell;padding-left:5px;}
.tabs-holder .tabs li:first-child{padding-left:0px;}
.tabs-holder .tabs li a{display:inline-block;width:calc(100% - 60px);padding:5px 30px;text-decoration:none;text-align:center;color:#fff;background:#8FB8AF;cursor:pointer;}
.tabs-holder .tabs li a.current{cursor:default;color:#566764;background:#fff;}

.global-errors-container{margin:10px 0px;}

.date-holder{position:relative;display:inline-block;}
ul.datetime-picker-dropdown{position:absolute;top:100%;z-index:20;margin-top:5px;padding:6px 10px 10px;background:#fff;border:1px solid #999;border-radius:5px;box-shadow:1px 1px 2px #333;list-style-type:none;}
ul.datetime-picker-dropdown i.glyphicon.glyphicon-chevron-left:before{content:'<';}
ul.datetime-picker-dropdown i.glyphicon.glyphicon-chevron-right:before{content:'>';}
ul.datetime-picker-dropdown .date-picker-menu table{outline:none;}
ul.datetime-picker-dropdown .date-picker-menu button{cursor:pointer;padding:2px 7px;background:#ddd linear-gradient(#f6f6f6, #dedede);border:1px solid #999;border-radius:2px;}
ul.datetime-picker-dropdown .date-picker-menu button:hover{border:1px solid #333;}
ul.datetime-picker-dropdown .date-picker-menu button.active{background:#ddd linear-gradient(#fbfbfb, #eee);border:1px solid #999;}
ul.datetime-picker-dropdown .date-picker-menu button.btn-info{background:#fff;border:1px solid #999;}
ul.datetime-picker-dropdown .date-picker-menu button:disabled{cursor:default;color:#999;background:#eee;border:1px solid #ccc;}
ul.datetime-picker-dropdown .date-picker-menu button .text-muted{color:#666;}
ul.datetime-picker-dropdown .date-picker-menu button:disabled .text-muted{color:#999;}

.sales-deposit-content label{margin-left:10px;}
.sales-deposit-content label:first-child{margin-left:0px;}
.sales-deposit-content label input{margin-left:5px;}
.sales-deposit-content .search-button{margin-left:20px;}
.sales-deposit-content .global-errors-container{display:inline-block;margin-left:10px;}

.sales-deposit-content .table{display:table;min-width:60%;padding:0px;color:#000;border-top:1px solid #566764;border-right:1px solid #566764;}
.sales-deposit-content .table li.header{display:table-row;font-weight:bold;color:#fff;background:#566764;}
.sales-deposit-content .table li.row{display:table-row;background:#E6ECEC;}
.sales-deposit-content .table li.row.odd{background:#fff;}
.sales-deposit-content .table li > span{display:table-cell;padding:2px 5px;text-align:center;border-left:1px solid #566764;border-bottom:1px solid #566764;}
.sales-deposit-content .table li.row.row-footer > span{border-top:1px solid #566764;}
.sales-deposit-content .pages .pageNo{cursor:pointer;margin:0px 3px 0px 0px;padding:1px 2px;font-weight:normal;text-decoration:underline;}
.sales-deposit-content .pages .pageNo.current{cursor:default;text-decoration:none;}
.sales-deposit-content .pages .pageArrow{display:inline-block;width:13px;height:13px;margin:2px 0px -2px 0px;}
.sales-deposit-content .pages .previousGroup{background:url('../images/arrow-ff.gif') no-repeat;}
.sales-deposit-content .pages .previousPage{background:url('../images/arrow-next.gif') no-repeat;}
.sales-deposit-content .pages .nextPage{background:url('../images/arrow-previous.gif') no-repeat;}
.sales-deposit-content .pages .nextGroup{background:url('../images/arrow-fr.gif') no-repeat;}
.sales-deposit-totalCount{margin: 10px 0;}
.sales-deposit-totalCount > span {color: #000;font-weight: bold;}

.modal-open{overflow:hidden;}
.modal.terms-preview-popup{position:fixed;left:0;top:0;right:0;bottom:0;outline:0;overflow-x:hidden;overflow-y:auto;opacity:1;}
.modal.terms-preview-popup .modal-dialog{position:relative;width:70%;margin:50px auto;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);}
.modal.terms-preview-popup .modal-content{position:relative;padding:30px;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;filter:alpha(opacity=50);opacity:.5;}
.modal.terms-preview-popup .modal-content #previewContentIframe{width:100%;height:600px;border:0px;}
/*.modal.terms-preview .modal-content .terms-preview-content{height:600px;overflow-y:auto;}*/
.modal.terms-preview-popup .modal-content .terms-preview-popup-footer{margin-top:20px;padding-top:20px;border-top:1px solid #ccc;}
.modal.terms-preview-popup .modal-content .terms-preview-popup-footer .red{float:right;}

.terms-content label{margin-left:10px;}
.terms-content label:first-child{margin-left:0px;}
.terms-content label input{margin-left:5px;}
.terms-content .search-button{margin-left:20px;}
.terms-content .global-errors-container{display:inline-block;margin-left:10px;}

.terms-content .terms-currently-editing{margin:10px 0px 0px 0px;border-top:1px solid #999;border-bottom:1px solid #ccc;}
.terms-content .terms-currently-editing h3{display:inline-block;margin-right:10px;}
.terms-content .terms-currently-editing span{padding:0px 5px;}
.terms-content .terms-file-title{margin:10px 0px;}
.terms-content .terms-file-title input{display:block;width:500px;margin:5px 0px 0px 0px;}
.terms-content .preview-part-button{margin:10px 0px 0px 0px;}

.terms-preview{padding:30px;}

.home-page-priority-filter{margin-bottom:10px;border-bottom:1px solid #ccc;}
.home-page-priority-content .tree-node{margin:5px 0px;padding:10px;background:#f4f6f7;border:1px solid #dce2e8;border-radius:5px;}

.disable-text-selection{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

.checkbox-tree{display:inline-block;margin-right:50px;vertical-align:top;}
.checkbox-tree:last-child{margin-right:0px;}
.checkbox-tree .tree-root{display:inline-block;}
.checkbox-tree ol.node-tree{margin-left:22px;padding-left:10px;border-left:1px dotted #ccc;}
.checkbox-tree .node.active{cursor:pointer;}
.checkbox-tree .node-collapsed-icon{display:inline-block;width:14px;cursor:pointer;}

.permissions-content .result{margin:10px 0px;padding:10px;font-weight:normal;border:1px solid #ccc;}
.duplicate-writers-list{display:table;border-top:1px solid #ccc;border-right:1px solid #ccc;}
.duplicate-writers-list-header{display:table-row;font-weight:bold;background:#f0f0f0;}
.duplicate-writers-list-row{display:table-row;}
.duplicate-writers-title{margin:10px 0px;}
.duplicate-writers-list span{display:table-cell;padding:7px 10px;border-bottom:1px solid #ccc;border-left:1px solid #ccc;}
.result-button-ok{margin-top:10px;}

.pages .pageNo{cursor:pointer;margin:0px 3px 0px 0px;padding:1px 2px;font-weight:normal;text-decoration:underline;}
.pages .pageNo.current{cursor:default;text-decoration:none;}
.pages .pageArrow{display:inline-block;width:13px;height:13px;margin:2px 0px -2px 0px;}
.pages .previousGroup{background:url('../images/arrow-ff.gif') no-repeat;}
.pages .previousPage{background:url('../images/arrow-next.gif') no-repeat;}
.pages .nextPage{background:url('../images/arrow-previous.gif') no-repeat;}
.pages .nextGroup{background:url('../images/arrow-fr.gif') no-repeat;}

.tabbedPane .box-footer:after{content:'';display:block;clear:both;}
.pages{display:table;float:left}
.pages .paginate_button{padding:3px 7px;display:table-cell;border:solid #c1c1c1;border-width:1px 0 1px 1px;border-radius:0;box-shadow:inset 0 1px 0 rgba(255,255,255,0.42);font-family:inherit;font-size:12px;color:#1c2734;text-shadow:0 1px 0 #fff;font-weight:inherit;cursor:pointer;text-decoration:none;background:#e7e7e7;background:-webkit-linear-gradient(#ededed, #e7e7e7, #dfdfdf);background:linear-gradient(#ededed, #e7e7e7, #dfdfdf)}
.pages .paginate_button.current{margin-right:-1px;border:solid #13447d;border-width:1px 1px 1px 1px;border-radius:0;color:#fff;text-shadow:0 1px 0 #000;background:#3c82d7;background:-webkit-linear-gradient(#5797ea, #3c82d7, #1c68c0);background:linear-gradient(#5797ea, #3c82d7, #1c68c0)}
.pages .paginate_button:hover{margin-right:-1px;color:#fff;text-shadow:0 1px 0 #000;background:#3c82d7;background:-webkit-linear-gradient(#5797ea, #3c82d7, #1c68c0);background:linear-gradient(#5797ea, #3c82d7, #1c68c0)}
.pages .paginate_button:first-child{border:solid #c1c1c1;border-width:1px 0 1px 1px;border-radius:2px;border-top-left-radius:2px;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:2px}
.pages .paginate_button:last-child{border:solid #c1c1c1;border-width:1px 1px 1px 1px;border-radius:2px;border-top-left-radius:0;border-top-right-radius:2px;border-bottom-right-radius:2px;border-bottom-left-radius:0}


.tabbedPane .pretty-table{min-width:60%;margin-top:20px;margin-bottom:20px;color:#000;border-top:1px solid #566764;border-right:1px solid #566764;}
.tabbedPane .pretty-table th{text-align:center;font-weight:bold;color:#fff;background:#566764;}
.tabbedPane .pretty-table tr{background:#E6ECEC;}
.tabbedPane .pretty-table tr:nth-child(even){background:#fff;}
.tabbedPane .pretty-table td{padding:2px 5px;text-align:center;border-left:1px solid #566764;border-bottom:1px solid #566764;}

#phoneRetentionConversionDetailsPlaceholder{display:none}
.phone-retention-conversion-details{padding:10px;background:#CCFFCC;font-weight:bold;}
.phone-retention-conversion-details-label{float:left;margin:5px 10px 10px 5px;}
.phone-retention-conversion-details-data{float:left;margin:5px 70px 10px 5px;}

.user-strip-top-bar {
	margin: 10px 0;
	padding: 10px 15px;
	border: 2px solid #accbc4;
	border-radius: 3px;
	background: #fff;
}
.user-strip-top-bar-tooltip {
	padding: 10px 15px;
	border: 1px solid #465a56;
	border-radius: 5px;
	display: inline-block;
	background: #ebeadf;
}
.user-strip-info {
	border: 2px solid #accbc4;
	border-radius: 3px;
	background: #fff;
}
.user-strip-info .table-border {
	border-bottom: 2px solid #accbc4;
}
.user-strip-info-table td {padding: 5px 15px;}
.user-strip-info-table tr:nth-child(even) {background: #dfebe8;}
.user-strip-info-table.grey tr:nth-child(even) {background: #ebeadf;}
.user-strip-info-table .user_strip_text,
.user-strip-info-table .user_strip_value {
	font-size: 12px;
}

.pretty-input {
	margin: 0;
	padding: 5px;
	border: 1px solid #accbc4;
	border-radius: 3px;
	background: #fff;
	outline: none;
}
.sircle {
	padding: 5px;
	border-radius: 100%;
	background: #465a56;
}