.hourplus
{
background-image:url('../images/cal_plus.gif');
width:13px;
height:9px;
float:right;
margin-right:5px;
}
.hourminus
{
background-image:url('../images/cal_minus.gif');
width:13px;
height:9px;
float:right;
margin-right:5px;
}
.minuteplus{
background-image:url('../images/cal_plus.gif');
width:13px;
height:9px;
float:left;
margin-left:5px;
}
.minuteminus
{
background-image:url('../images/cal_minus.gif');
width:13px;
height:9px;
float:left;
margin-left:5px;
}