body {
	margin:0;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#566764;
	background-color:#e1e1e1;
}

.header_tv_ao {
	background-image:url(../images/header.gif);
	background-repeat:repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.header_tv_et {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color: #eaeaea;
}

.header_tv_et_dynamic {
	background-image:url(../images/1pxet.jpg);
	background-repeat:repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.header_tv_ao_to_et {
	background-image:url(../images/aoToEtBg.png);
	background-repeat:repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tv_view_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:33px;
	text-align: center;
	text-decoration: none;
}

.hidden_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:0px;
	text-align:center;
	line-height:0px;
	text-decoration:none;
	color:#e1e1e1;
}

.menu_tv {
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:33px;
	text-align: center;
	text-decoration: none;
}

.menu_tv_link{
	color: #990020;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

.menu_tv_link:hover{
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

.table_tv_border {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
	background-color: #0284d6;
}

.table_tv_border_menu {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
	background-color: #ffffff;
}

.depositor_lable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:33px;
	color: #ffffff;
	font-weight: bold;
}

.blinkRow {
	font-weight: bold;
	color: #000000;
	font-family : Arial, Helvetica, sans-serif;
	font-size: 35px;
    text-align: center;
}

.logout{
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
}

.login{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	background-color:#FFFFFF;
}


.standardTable_Row1 {
	color:#000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size:35px;
	font-weight:normal;
    background-color: #FFFFFF;
    text-align: center;
}

.standardTable_Row2 {
	color:#000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size:35px;
	font-weight:normal;
    background-color: #E6ECEC;
    text-align: center;

}

.scrollerTable {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: #FFFFFF;
	align:center;
    cellspacing:0px;
    cellpadding:0px;
    background-color: #093755;
    width: 100%;
    text-align: center;
 }

.standardTable_Header {
	color: #FFFFFF;
    background-color: #566764;
    text-align: center;
    border: none;
}

.standardTable_Column {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 35px;
	color: #000000;
    text-align: center;
}

.standardTable_Row1_print {
	color:#000000;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
    background-color: #FFFFFF;
    border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
}

.standardTable_Row2_print {
	color:#000000;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
    background-color: #E6ECEC;
    border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;

}


.scrollerTable_print {
	font-family : Arial;
	font-size: 12px;
	color: #E6ECEC;
    width: 100%;
    cellspacing:0px;
    cellpadding:0px;
     background-color: #566764;
     border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;

}

.standardTable_Header_print {
	color: #FFFFFF;
    background-color: #566764;
    text-align: center;
    border: none;
    border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
}
.standardTable_Column_print {
	font-family : Arial;
	font-size: 12px;
	color: #566764;
    text-align: center;
    border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;

}
.standardTable_ColumnCentered_print {
    text-align: center;
    font-family : Arial;
	font-size: 12px;
	color: #566764;
	align:center;
	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;

}
.analyticsTable_Row1 {
	color:#000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size:150px;
	font-weight:normal;
    background-color: #FFFFFF;
    text-align: center;
}
.analyticsTable_Row2 {
	color:#000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size:150px;
	font-weight:normal;
    background-color: #E6ECEC;
    text-align: center;
}
.analyticsTable_Column {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 150px;
	color: #000000;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
