/* CSS */
html{height:100%;}
* {
	box-sizing:border-box;
}
body {
	font-family: 'PT Sans', sans-serif;
	line-height: 1.25;
	color: #222;
	background: #eee;
	font-size: 75%;
	font-weight: normal;
	height:100%;
	&.loading{
		background:#ffd87b url('../images/new-loading.gif') center center no-repeat;
		&>*{display:none;}
	}
}
body, h1, h2, h3, ul,section {
	margin: 0;
	padding: 0;
}
body, header {
	clear: both;
}
ul {
	list-style: none;
	list-style-type: none;
}
a {
	text-decoration: none;
	// transition: all 250ms;
}
.ml10{margin-left: 10px!important;}
.mt10{margin-top: 10px!important;}
.mt20{margin-top: 20px!important;}

/* Variables Start*/
$color-white: #fff;
$main-font: 'PT Sans', sans-serif;
// #f0f0f0
/* Variables End*/

/* Mixins Start */
@mixin linear-gradient($first-color, $second-color, $third-color) {
	background: -webkit-linear-gradient($first-color,$second-color,$third-color);
	background: linear-gradient($first-color,$second-color,$third-color);
}
@mixin linear-gradient-four-top-bottom($first-color, $second-color, $third-color, $fourth-color) {
	background: -webkit-linear-gradient(top, $first-color 0%,$second-color 50%,$third-color 51%, $fourth-color 100%);
	background: linear-gradient(to bottom, $first-color 0%,$second-color 50%,$third-color 51%, $fourth-color 100%);
}
@mixin linear-gradient-and-image($first-color, $second-color, $third-color, $image) {
	background-image: url($image), -webkit-linear-gradient($first-color,$second-color,$third-color);
	background-image: url($image), linear-gradient($first-color,$second-color,$third-color);
}
@mixin border ($style, $top, $right, $bottom, $left, $color,$radius){
	border: $style $color;
	border-width: $top $right $bottom $left;
	border-radius: $radius;
}
@mixin border-radius ($top, $right, $bottom, $left){
	border-top-left-radius: $top;
	border-top-right-radius: $right;
	border-bottom-right-radius: $bottom;
	border-bottom-left-radius: $left;
}
@mixin box-shadow ($type,$h-shadow,$v-shadow,$blur,$spread,$color){
	box-shadow: $type $h-shadow $v-shadow $blur $spread $color;
}
/* Mixins End */
.pR{position:relative!important;}
.taL{text-align:left!important;}
.taR{text-align:right!important;}
.mr10{margin-right:10px!important;}
.pr5{padding-right: 5px!important;}
.fs12{font-size:12px!important;}
.pr10{padding-right:10px!important;}
.pl10{padding-left:10px!important;}
.vaM{vertical-align:middle!important;}
.cRed{color:#ff0000!important;}
.ttUC{text-transform: uppercase!important;}
.b{font-weight:bold!important;}
.taC{text-align:center;}
.fL{float:left!important;}
.wsN{white-space: nowrap;}
.more-space {padding-right: 200px}
.table {
	display: table;
	width: 100%;
	&.half{width:50%}
	.table-row {
		display:table-row;
	}
	.table-cell {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		&.top {
			vertical-align: top;
		}
	}
	.cell{
		display: table-cell;
		vertical-align: middle;
		&.vaT{vertical-align: top;}
		&.w1p{width:1%;}
	}
	.row{display: table-row;}
	&.row-line{
		.table-row{
			&>span{padding:10px 5px;color:#0d1d31;font-size:12px;display:table-cell;vertical-align:middle;}
			&.with-input > span{padding:5px 5px;}
		 }
		.table-row + .table-row > span {
			border-top:1px solid #c7c7c7;
		}
		&.last-bold .table-row span:last-child{font-weight:bold;}
	}
	&.short{width:auto;}
	&.top > .cell{vertical-align:top;}
	&.vam > .cell{vertical-align:middle;}
	&.withCellPadding {
		span{color:#3471ba;}
		.cell+.cell{padding-left:20px;}
	}
	&.topLevel{
		padding:20px 15px;
		.table-cell, .cell{vertical-align:top;}
	}
	&.space{
		.cell{padding:5px;}
	}
}
.clickable {cursor:pointer;}
.pretty-table{
	width: 100%;
	border-collapse: collapse;
	td, th {
		padding: 10px;
	}
	thead{
		@include border (solid, 0, 0, 1px, 0, #cfcfcf, 0);
		th {
			background: #f8f9fb;
			@include linear-gradient (#fff, #f8f9fb, #eff1f5);
			color: #606266;
			+ th {
				@include border (solid, 0, 0, 0, 1px, #cfcfcf, 0);
			}
			&.sortable-col {
				cursor:pointer;
				@include linear-gradient-and-image (#fff, #f8f9fb, #eff1f5, '../images/sorting.png');
				background-position:center right;
				background-repeat:no-repeat;
				&.active {
					&.asc {
						
					}
					&.desc {
						
					}
				}
			}
		}
	}
	tbody {
		td {
			font-family: $main-font;
			font-size: inherit;
			color: #5e6267;
			+ td {
				@include border (solid, 0, 0, 0, 1px, #dfdfdf, 0);
			}
			a {
				font-family: $main-font;
				font-size: inherit;
				color: #5e6267;
				font-weight: bold;
				cursor: pointer;
				&:hover {
					color: #3c81d6;
				}
			}
		}
		tr {
			&:nth-of-type(even) {background: #f6f6f6;}
			&.additional-info-row:nth-of-type(even) {background: #f0f0f0;}
			+ tr {@include border (solid, 1px, 0, 0, 0, #dfdfdf, 0);}
			&.additional-info-row {background: #f9f9f9;}
			&.summary td {border:0px;background:#f7f7f7;}
			&.specialRow td{background:#ffefd1;}
		}
	}
}
.prettier-table{
	border:1px solid #b8b8b8;color:#4d4d4d;font-size:12px;text-align:center;
	thead{
		th{
			@include linear-gradient (#f8f8f9, #f0f2f5, #e9ecf1);height:35px;padding:0 10px;
		}
	}
	tbody{
		td{
			height:25px;padding:0 10px;
		}
		.rowTotal td{font-weight:bold;border-top:1px solid #d2d2d2;}
		.notRowTotal{font-style:italic;}
	}
}

.column-one-half{display:inline-block;width:calc(50% - 2px);vertical-align:top;}
.column-one-third{display:inline-block;width:33%;}

/* Logos*/ 
.logo {
	display: inline-block;
	vertical-align: middle;
	&.small {
		width: 136px;
		height: 31px;
	}
	&.big {
		width: 224px;
		height: 53px;
		background-position: 0 -36px;
	}
}
/*End Logos*/

/*Sprite Icons*/
.icons{
	&::before {
		content: '';
		// position: absolute;
		// top: 0;
		// right: 0;
		// bottom: 0;
		// left: 0;
		// margin: auto 0;
		display: inline-block;
		vertical-align: middle;
		background: url('../images/sprite-icons.png') 0 0 no-repeat;
	}
	&.excel{
		border:1px solid #b0b0b0;border-radius:3px;padding:3px 3px 2px 3px;cursor:pointer;display:inline-block;
		&::before{background-position:0 -330px;width:15px;height:14px;}
	}
}
.cc-brand-imgs {
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	width: 31px;
	height: 19px;
	background: url('../images/sprite-icons.png') 0 0 no-repeat;
	&.cc-typeByBin-2 {
		width: 29px;
		background-position: 0 -349px;
	}
	&.cc-typeByBin-6 {background-position: 0 -371px;}
	&.cc-typeByBin-1 {background-position: 0 -394px;}
	&.cc-typeByBin-5 {background-position: 0 -417px;}
}
/*End Sprite Icons*/

/* Headings*/
h1 {
	position: relative;
	font-size: 1.30769em;
	margin-bottom: 20px;
	& span {
		position: relative;
		padding: 0 5px;
		z-index: 1;
		background: #fff;
	}
	&:after{
		content: ' ';
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background: #dddee1;
	}
}
h2 {
	font-size: 1em;
}
h2.confirmation-message {
	color:#60ba5f;
}
/* End Headings*/

/*Form elements*/
.row + .row{
	margin-top: 15px;
}
input, textarea select {
	outline: none;
}
input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=time], input[type=email], input[type=url], textarea:not(.editor), select {
	padding: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.22);
	border-radius: 3px;
	border: 1px solid #a0a0a0;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	color: #434343;
	&.short-input{width:125px;}
}
input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=time]:focus, input[type=email]:focus, input[type=url]:focus, textarea:not(.editor):focus {
	border: 1px solid #5695db;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.22),0 0 7px rgba(86,149,219,0.69);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

input[type=text][disabled], input[type=password][disabled], input[type=date][disabled], input[type=datetime][disabled], input[type=time][disabled], input[type=email][disabled], input[type=url][disabled], textarea:not(.editor)[disabled] {
	background: #e8e8e8;
	border: 1px solid #a0a0a0;
	cursor: not-allowed;
}
input.error{
	font-weight:normal!important;
	font-size:12px!important;
	color:#333!important;
	border:1px solid red;
}
select {
	padding: 3px 5px;
}
.error{
	color:#771717;
}
.ng-invalid.ng-dirty.ng-touched, .ng-submitted .ng-invalid {
	border: 1px solid #db5656;
	transition: all 0.1s ease-in-out 0s;
}
/*End form elements*/

/* All buttons*/ 
.button {
	padding: 5px 10px;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
	color: #fff;
	outline: none;
	cursor: pointer;
	&.default-gray {
		color:#333;
		text-shadow:none;
		@include border (solid, 1px, 1px, 1px , 1px, #b0b0b0, 3px);
		background: #f0f0f0;
		@include linear-gradient (#fafafa, #f0f0f0, #e8e8e8);
		@include box-shadow (inset, 0, 1px, 0, 0, rgba(255,255,255,0.3));
		&:hover {
			background: #e2e2e2;
			@include linear-gradient (#ededed, #e2e2e2, #dbdbdb);
		}
		&:active {
			background: #e2e2e2;
			@include linear-gradient (#ededed, #e2e2e2, #dbdbdb);
			@include box-shadow (inset, 0.5px, 0.866px, 2px, 0, rgba(0,0,0,0.44));
		}
	}
	&.dark-blue {
		padding: 6px 20px;
		@include border (solid, 1px, 1px, 1px , 1px, #162436, 4px);
		background: #4d5665;
		@include linear-gradient (#687488, #4d5665, #353c45);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.51);
		&:hover {
			background: #646e7e;
			@include linear-gradient (#7f8ba0, #646e7e, #4c5560);
		}
		&:active {
				background: #323841;
				box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
		}
	}
	&.blue {
		@include border (solid, 1px, 1px, 1px , 1px, #17549b, 3px);
		background: #5b9fea;
		@include linear-gradient (#5b9fea, #327fe0, #0c62d7);
		@include box-shadow (inset, 0, 1px, 0, 0, rgba(255,255,255,0.3));
		&:hover {
			background: #94c7ff;
			@include linear-gradient (#94c7ff, #639feb, #367bd9);
		}
		&:active {
			background: #1e72e3;
			@include linear-gradient (#0e64d8, #1e72e3, #2c7eee);
			@include box-shadow (inset, 0.5px, 0.866px, 2px, 0, rgba(0,0,0,0.63));
		}
		.edit-icon {
			position: relative;
			margin-right: 20px;
			&:after {
				content: '';
				position: absolute;
				top: -6px;
				padding-left: 10px;
				height: 24px;
				@include border (solid, 0, 1px, 0 , 0, #17549b, 0);
			}
		}
	}
	&.red {
		@include border (solid, 1px, 1px, 1px , 1px, #832727, 3px);
		background: #ef6161;
		@include linear-gradient (#ef6161, #dc4747, #cb2f2f);
		@include box-shadow (inset, 0, 1px, 0, 0, rgba(255,255,255,0.3));
		&:hover {
			background: #f68d8d;
			@include linear-gradient (#f68d8d, #eb7171, #e05252);
		}
		&:active {
			background: #1e72e3;
			@include linear-gradient (#cb2f2f, #de4949,#ef6161);
			@include box-shadow (inset, 0.5px, 0.866px, 2px, 0, rgba(0,0,0,0.44));
		}
	}
	&.orange {
		@include border (solid, 1px, 1px, 1px , 1px, #8c7a68, 3px);
		background: #f1a46c;
		@include linear-gradient (#f1a46c, #dc7d21, #cf6e00);
		@include box-shadow (inset, 0, 1px, 0, 0, rgba(255,255,255,0.3));
		&:hover {
			background: #f68d8d;
			@include linear-gradient (#f1a46c, #e79341, #e38821);
		}
		&:active {
			background: #cf6e00;
			@include linear-gradient (#cf6e00, #dc7d21,#f1a46c);
			@include box-shadow (inset, 0.5px, 0.866px, 2px, 0, rgba(0,0,0,0.44));
		}
	}
	&.green {
		@include border (solid, 1px, 1px, 1px , 1px, #1d5d1c, 3px);
		background: #61b660;
		@include linear-gradient (#61b660, #51a450, #40913f);
		@include box-shadow (inset, 0, 1px, 0, 0, rgba(255,255,255,0.3));
		&:hover {
			background: #7bcc7a;
			@include linear-gradient (#7bcc7a, #60ba5f, #47a145);
		}
		&:active {
			background: #489548;
			@include linear-gradient (#3a8039, #5fa65e,#65bc64);
			@include box-shadow (inset, 0.5px, 0.866px, 2px, 0, rgba(0,0,0,0.44));
		}
		.add-icon {
			position: relative;
			margin-right: 20px;
			&:after {
				content: '';
				position: absolute;
				top: -6px;
				padding-left: 10px;
				height: 24px;
				@include border (solid, 0, 1px, 0 , 0, #1d5d1c, 0);
			}
		}
	}
	&.grey {
		padding: 3px 5px;
		border: none;
		border-radius: 3px;
		font-weight: inherit;
		text-shadow: 0 1px 0 #fff;
		color: #70747a;
		background: transparent;
		.add-icon {
			margin-right: 5px;
		}
		&:hover {
			padding: 2px 4px;
			background: #f2f4f6;
			@include linear-gradient (#fafbfc, #f2f4f6, #e8ebef);
			@include border (solid, 1px, 1px, 1px , 1px, #c5c5c5, 3px);
			box-shadow: 0 1px 1px rgba(0,0,0,0.2),inset 0 1px 0 #fff;
		}
		&:active {
			background: #e5e7eb;
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.53), 0 1px 0 #fff;
			border-color: transparent;
		}
	}
}
.button[disabled], .button[disabled]:hover {
	@include border (solid, 1px, 1px, 1px , 1px, #b0b0b0, 3px);
	background: #d8d8d8;
	@include linear-gradient (#d5d5d5, #d8d8d8, #dadada);
	@include box-shadow (inset, 0, 1px, 0, 0, rgba(255,255,255,0.3));
	color: #838383;
	cursor: auto;
	text-shadow: none;
	box-shadow: none;
	.edit-icon {
		position: relative;
		margin-right: 20px;
		&:after {
			content: '';
			position: absolute;
			top: -6px;
			padding-left: 10px;
			height: 24px;
			@include border (solid, 0, 1px, 0 , 0, #b0b0b0, 0);
		}
	}
}
.edit-link-disabled, .edit-link-disabled:hover {color:#bfc1c2!important;cursor:default;}
/* End all buttons*/

.wrapper {
	display:inline-block;
	min-width:100%;
	padding:0px 1%;
}
.login{
	& header {
		position: static;
		padding: 0;
		height: 197px;
		background: url('../images/header-bg.png') repeat-x bottom;
		& div {
			width: 430px;
			& .big {
				margin-top: 87px;
			}
		}
	}
	& section {
		margin-top: -38px;
		.box{
			margin: 0 auto;
			max-width: 430px;
			@include border (solid, 1px, 1px, 1px , 1px, #b9b9b9, 2px);
			box-shadow: 0 1px 0px rgba(0,0,0,0.11);
			.header {
				background: #f0f2f5;
				@include linear-gradient (#f8f8f9, #f0f2f5, #e9ecf1);
				box-shadow: inset 0 1px 0 #fff,0 1px 2px rgba(0,0,0,0.02);
				border-radius: 2px 2px 0 0;
				border-bottom: 1px solid #c0c8d0;
				& h2 {
					padding: 9px 10px;
					display: inline-block;
					vertical-align: middle;
					font-size: 1em;
					&::before{
						content: "\f023";
						font-family: 'FontAwesome';
						margin-right: 10px;
						display: inline-block;
						vertical-align: middle;
						font-size: 15px;
					}
				}
			}
			.body{
				padding: 15px 10px 10px;
				background: #fff;
			}
			.message{
				padding: 0 5px 10px;
				border-bottom: 1px solid #d1d1d1;
				font-size: 16px;
				font-weight: bold;
				text-align: center;
				color: #172a43;
			}
			.form-box {
				margin: 10px 10px 0;
				@include border (solid, 1px, 1px, 1px ,1px, #c3c3c3, 3px);
				& .row {
					display: table;
					width: 100%;
					@include linear-gradient (#fff, #fafafb, #f6f6f7);
					& label, div {
						padding: 15px;
						display: table-cell;
						color: #434343;
					}
					& label {
						width: 32%;
					}
					& label + div {
						border-left: 1px solid #c3c3c3;
					}
					& div{
						input{
							width: 100%;
						}
					}
					& + .row {
						margin-top: 0;
						border-top: 1px solid #c3c3c3;
					}
					&:first-child{
						border-radius: 3px 3px 0 0;
					}
					&:last-child{
						border-radius: 0 0 3px 3px;
					}
				}
			}
			.footer {
				padding: 8px 15px;
				border-top: 1px solid #c1c1c1;
				background: #f0f2f5;
				@include linear-gradient (#f7f7f8, #f0f2f5, #e9ecf1);
				text-align: right;
			}
		}
	}
}
.main {
	margin: 0 auto 20px;
	// margin: 70px auto 20px; Temporary deleted
	min-width: 95%;
	@include border (solid, 0, 1px, 1px ,1px, #bcbcbc, 3px);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.31);
	background: #fff;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 4px 0 3px;
	width: 100%;
	@include border (solid, 0, 0, 1px ,0, #0b1b30, 0);
	z-index: 100;
	background: #313d4f;
	@include linear-gradient (#3a4353, #313d4f, #1d2837);
	& div {
		margin: 0 auto;
		width: 95%;
		clear: both;
	}
	&.logo {
		float: left;
	}
	& ul {
		margin-top: 3px;
		float: right;
		& li {
			display: inline-block;
			margin: 0;
			& + li{
				margin-left: 10px;
			}
		}
		& a, a:hover {
			color: $color-white;
			text-shadow: 0 1px 0 #000;
		}
		& a {
			padding: 3px 10px 4px;
			display: inline-block;
			vertical-align: middle;
			@include border (solid, 1px, 1px, 1px ,1px, #222, 2px);
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
			background: #313d4f;
			@include linear-gradient (#3a4353, #313d4f, #1d2837);
			transition: all 250ms;
			&:hover{
				background: #4d607c;
				@include linear-gradient (#627592, #4d607c, #344861);
			}
			&:active {
				box-shadow: inset 0 2px 3px rgba(0,0,0,0.5);
			}
		}
		& .red {
			background: #6c3434;
			@include linear-gradient (#894848, #6c3434, #5a2727);
			&:hover {
				background: #944242;
				@include linear-gradient (#b25151, #944242, #703030);
			}
		}
	}
}
.top-section {
	display: table;
	width: 100%;
	@include border (solid, 1px, 1px, 0 ,1px, #114885, 3px);
	border-radius: 3px 3px 0 0;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	background: #3977c3;
	@include linear-gradient (#4f8fe6, #3977c3, #2863a7);
	font-size: 13px;
	color: $color-white;
	text-shadow: 0 1px 0 #000;
	box-sizing: initial;
	& div {
		padding: 8px 10px;
		display: table-cell;
		width: 50%;
		& h2 {
		font-size: 15px;
		&::before {
			margin-right: 10px;
			width: 28px;
			height: 28px;
			@include border (solid, 1px, 1px, 1px ,1px, #484848, 3px);
		}
	}
	// Temporary deleted
	// &:last-child{
	// 	text-align: right;
	// }
	& span {
		position: relative;
		display: inline-block;
	}
	& span + span {
		margin-left: 17px;
		&::before{
			content: '';
			position: absolute;
			top: 2px;
			bottom: 3px;
			left: -11px;
			border-left: 1px solid #fff;
		}
	}
	}
}
.main-section {
	display: table;
	width: 100%;
	min-height: 300px;
	border-radius: 0 0 3px 3px;
}
aside {
	display: table-cell;
	width: 13%;
	min-height: 600px;
	border-right: 1px solid #c6c6c6;
	border-radius: 0 0 0 3px;
	background: #eff3f6;
	vertical-align: top;
	& nav {
		.navigation {

			li {
				position: relative;
				cursor: pointer;
				&:last-child a{
					border-bottom: 1px solid #bcbcbc;
				}
				a {
					position: relative;
					display: block;
					padding: 8px 25px 8px 10px;
					font-family: $main-font;
					font-weight: inherit;
					color: #404040;
					text-transform: uppercase;
					box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
					background: #f1f2f5;
					background: linear-gradient(#fafafa,#f1f2f5, #e7eaef);
					border-top: 1px solid #bcbcbc;
					border-bottom: 1px solid transparent;
					white-space:nowrap;
					&.current-parent {
						background: #f9f9f9;
						@include linear-gradient (#fff, #f9f9f9, #f4f4f4);
						&::after{
							content: '';
							position: absolute;
							top: 0;
							right: -9px;
							z-index: 1;
							bottom: 0;
							margin: 0;
							display: inline-block;
							width: 9px;
							height: 37px;
							background: url('../images/sprite-icons.png') 0 -289px no-repeat;
						}
						&:hover {
							&::after{background: url('../images/sprite-icons.png') -14px -289px no-repeat;}
						}
					}
					&:hover {
						box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
						color: #fefefe;
						text-shadow: 0 1px 0 #193c65;
						background: #3c81d6;
						background: linear-gradient(#5c9bee,#3c81d6, #1a66be);
						.node-collapsed-icon{
							color: #fefefe;
							text-shadow: 0 1px 0 #193c65;
						}
					}
					.node-collapsed-icon{
						position:absolute;
						top:calc(50% - 10px);
						right:10px;
						color:#8f8f8f;
						font-size: 14px;
					}
				}
				.sub-navigation {
					padding-left: 0;
					li {
						&:first-child a:hover {
							padding: 8px 25px 7px 20px;
							border-top: 0px solid transparent;
							border-bottom: 1px solid #b2c1d2;
						}
						&:last-child a:hover {
							padding: 8px 25px 7px 20px;
							border-top: 1px solid #b2c1d2;
							border-bottom: 0px solid transparent;
						}
						/*&:last-child a:last-child {
							padding: 8px 7px 7px 20px;
							border-bottom: 1px solid #b2c1d2;
						}
						&:last-child a:last-child:hover {
							padding: 7px 7px 7px 20px;
							border-bottom: 1px solid #b2c1d2;
						}*/
						a {
							padding: 8px 25px 8px 20px;
							font-size: 12px;
							text-shadow: 0 1px 0 #fff;
							text-transform: none;
							color: #404040;
							background: #eff3f6;
							border-top: 0px solid transparent;
							border-bottom: 0px solid transparent;
							&:hover {
								padding: 7px 25px 7px 20px;
								color: #0066EE;
								border-top: 1px solid #b2c1d2;
								border-bottom: 1px solid #b2c1d2;
								background: #d4e2f0;
							}
							&.current-parent {
								&::after{
									content: '';
									background: none;
								}
								&:hover {
									&::after{background: none;}
								}
							}
							&.current {
								background: #e1ebf6;
								&:hover {
									color: #0066EE;
									background: #d4e2f0;
								}
							}
						}
						
						.sub-navigation {
							a {
								padding-left: 40px;
								&:hover {padding-left: 40px;}
							}
						}
						
					}
				}
			}
		}
	}
}
.content {
	padding: 30px 15px;
	display: table-cell;
	width: 87%;
	position: relative;
	&::after{content:'';clear:both;display:block;}
	&.loading{
		&:before{
			content:'';
			display:block;
			position:absolute;
			top:0px;
			left:0px;
			z-index:99;
			width:100%;
			height:100%;
			background:url('../images/loading_request.gif') no-repeat center rgba(255, 255, 255, 0.8);
		}
		&.loading-global:before{position:fixed;z-index:2000;}
	}
 	.error {
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #990020;
		&:before {
			content: '\f00d';
			margin: 0 5px 2px 0;
			display: inline-block;
			font-family: 'FontAwesome';
			font-size: 12px;
			font-weight: normal;
			vertical-align: middle;
		}
	}
	.warning {
		padding:10px 0px;
		font-weight:bold;
		color:orange;
	}
	.box {
		@include border (solid, 1px, 1px, 1px ,1px, #b9b9b9, 2px);
		// @include box-shadow (inset, 0, 1px, 0, 0, rgba(0,0,0,0.11));
		 // box-shadow: 0 1px 0px rgba(0,0,0,0.11);
		.box-header {
			position: relative;
			padding: 10px;
			@include border-radius (2px, 2px, 0, 0);
			@include linear-gradient (#f8f8f9, #f0f2f5, #e9ecf1);
			.back{color:#787979;font-size:12px;text-align:right;cursor:pointer;}
		}
		.box-sub-header {
			padding: 5px 10px;
			@include border (solid, 1px, 0, 0 ,0, #b9b9b9, 0);
			background: #f7f7f7;
			color: #70747a;
			label + label {
				margin-left: 10px;
			}
		}
		.box-body {
			@include border (solid, 1px, 0, 0, 0, #cfcfcf, 0);
		}
		.box-footer {
			padding: 10px;
			@include border (solid, 1px, 0, 0 ,0, #b9b9b9, 0);
			@include border-radius (0, 0, 2px, 2px);
			background: #f0f2f5;
			@include linear-gradient (#f8f8f9, #f0f2f5, #e9ecf1);
			color: #777777;
			&:after {
				content: '';
				display: block;
				clear: both;
			}
			.button + .button{margin-left:5px;}
			&.distance{margin-top:40px;}
		}
	}
	.permissions-screen {
		.box-header {
			padding: 5px 10px;
			.table{
				.table-cell {
					label {font-weight: bold;}
					&:first-child{
						input, select {
							margin-left: 40px;
							width: 45%;
						}
					}
					&:last-child {
						text-align: right;
						button + button {
							margin-left: 10px;
						}
					}
				}
			}
		}
		.box-body {
			.table{
				.table-cell{
					padding: 10px;
					vertical-align: top;
					&:first-child {
						width: 15%;
					}
					& + .table-cell{
						@include border (solid, 0, 0, 0, 1px, #cfcfcf, 0);
					}
				}
			}
		}
		.box-sub-header, .box-footer {
			padding: 0;
			@include border (solid, 1px, 0, 0, 0, #cfcfcf, 0);
			background: #f8f9fb;
			@include linear-gradient (#fff, #f8f9fb, #eff1f5);
			color: #626262;
			.table-cell + .table-cell {
				@include border (solid, 0, 0, 0, 1px, #cfcfcf, 0);
			}
			.table-cell {
				padding: 5px 10px;
				&:first-child {
					width: 15%;
				}
			}
		}
		.box-footer {
			span {text-transform: lowercase;}
		}
	}
	.writers-screen {
		.box-sub-header {
			.table-cell {
				&:first-child {
					width: 90%;
					label > span {
						display: inline-block;
						margin-right: 5px;
					}
				}
				&:last-child {
					width: 10%;
					text-align: right;
				}
			}
			label + label {
				margin-left: 10px;
			}
			.box-sub-header:last-child {padding: 2px 10px;}
			multiselect {display:inline-block;vertical-align:middle;width:150px;max-width:200px;}

			.button[disabled]{
				padding: 5px 10px;
			}
		}
		.box-footer {
			.table-cell:last-child{text-align: right;}
		}
	}
	.edit-writer-screen {
		.box-body{
			padding: 15px;
			.table {
				.table-cell{vertical-align: top;}
			}
			label > span {
				display: inline-block;
				width: 120px;
			}
			input, select {width:60%;}
			button {
				float: right;
				&:after{
					content: '';
					clear: both;
				}
				& + button {
					margin-right: 10px;
				}
			}
		}
		.box-footer {
			padding: 5px 10px;
			.table-cell:last-child{
				text-align: right;
			}
		}
	}
	.transactions-screen {
		min-width:1430px;
		.box-sub-header {
			& > .filter-label:first-child {padding-left:0px;}
			.filter-label {
				font-weight: bold;
				color: #434343;
				padding: 0px 5px 0px 25px;
			}
			label {
				display:inline-block;
				vertical-align:middle;
			}
			label+label {
				margin-left: 0px;
			}
			&.static-filters input {
				width:84px;
			}
			input[type="radio"] {
				display: inline-block;
				vertical-align: text-bottom;
				width:auto;
			}
			.right-block {
				float:right;
				display:inline-block;
				vertical-align:middle;
				label {height:30px;}
				.filter-label {display:inline-block;vertical-align:middle;}
				single-select {min-width:initial;}
				.button {display:inline-block;vertical-align:middle;margin-right:10px;}
			}
			&.columns {
				height:245px;
				padding:0px;
				.column-one-third, .column-one-fourth {
					height:100%;
					padding:10px 10px;
					vertical-align:middle;
					border-left:1px solid #ccc;
					&:first-child{border-left:0px;}
					.table {
						& > label, & > .row {
							display:table-row;
							& > .cell, & > span {
								display:table-cell;
								vertical-align:middle;
								padding:5px 0px;
								label{margin-left:5px;}
								&:first-child{padding-right:10px;}
							}
							multiselect {
								display:block;
								width:360px;
								.multiselect{display:block;width:100%;}
							}
						}
						& > label.transactions-filter-campaign select{width:338px;}
					}
				}
				.column-one-fourth{
					width:24.82%;display:inline-block;
					.table{
						& > label, & > .row {
							multiselect{
								width:260px;
							}
						}
					}
				}
			}
		}
		.box-body h2 {padding:10px;}
		.box-body .table-row div {display:table-cell;}
		.additional-info-row {
			.additional-info-single-row {
				margin:5px 0px;
				span {
					font-family:PT Sans, Arial;
					font-weight:bold;
					font-size:12px;
					&:last-of-type {
						font-weight:normal;
					}
					&.accent{color:#3471ba;font-weight:bold;}
					&.normal{font-weight:normal;}
				}
			}
			.additional-info-block {
				float:left;
				width:calc((100% - 48px)/4);
				margin:15px 16px 15px 0px;
				padding:10px 14px;
				background:#fff;
				box-shadow: inset 0 1px 1px rgba(0,0,0,0.22);
				border:1px solid #cdcdcd;
				border-radius:5px;
				&:last-of-type {
					margin-right:0px;
				}
			}
			.table {
				
			}
			.table-row {
				border-bottom:1px solid #c7c7c7;
				&:last-of-type {
					border:0px;
				}
				div {
					padding:10px 4px;
					font-family:PT Sans, Arial;
					font-weight:bold;
					font-size:12px;
					&:last-of-type {
						font-size:13px;
					}
				}
			}
		}
		.button.action {
			width:21px;
			height:18px;
			border:1px solid #b0b0b0;
			border-radius:3px;
			&.transactions-cancel{background:url('../images/transactions_cancel.png') center no-repeat;@include linear-gradient-and-image (#fafbfc, #f2f4f6, #e8ebef, '../images/transactions_cancel.png');}
			&.transactions-fraud{background:url('../images/transactions_fraud.png') center no-repeat;@include linear-gradient-and-image (#fafbfc, #f2f4f6, #e8ebef, '../images/transactions_fraud.png');}
			&.transactions-approve{background:url('../images/transactions_approve.png') center no-repeat;@include linear-gradient-and-image (#fafbfc, #f2f4f6, #e8ebef, '../images/transactions_approve.png');}
			&.transactions-mistake{background:url('../images/transactions_mistake.png') center no-repeat;@include linear-gradient-and-image (#fafbfc, #f2f4f6, #e8ebef, '../images/transactions_mistake.png');}
			&.transactions-chargeback{background:url('../images/transactions_chargeback.png') center no-repeat;@include linear-gradient-and-image (#fafbfc, #f2f4f6, #e8ebef, '../images/transactions_chargeback.png');}
		}
		.special-care-red{display:inline-block;vertical-align:middle;width:18px;height:14px;background:url('../images/special_care.png') center no-repeat;}
		.special-care-green{display:inline-block;vertical-align:middle;width:18px;height:14px;background:url('../images/special_care_green.png') center no-repeat;}
		.summary td{
			font-weight:bold;
			color:#3471ba;
			&.total-amount{color:#259e30;}
			&.total-amount.red{color:#ff0000;}
		}
	}
}
.holder.files-content {padding:20px;}
.files-screen {
	form {
		display:inline-block;
		width:100%;
	}
	.files-green {color:green;}
	.files-red {color:red;}
	.files-left-side {
		/*float:left;*/
		width:60%;
		min-width:705px;
		vertical-align:top;
		.table {
			width:auto;
			.table-cell {width:auto;padding:5px 10px 5px 0px;}
		}
		.files-data-block {
			.files-data-left {
				float:left;
				margin-right:20px;
				.files-new-file-preview {
					max-width:200px;
					max-height:50px;
				}
			}
			&:after {content:'';display:block;clear:both;}
		}
		.files-send-to-keesing {margin-top:15px;}
		.files-additional-info {
			padding:20px 0px;
		}
		.files-keesing-match {
			.files-keesing-match-user div, .files-keesing-match-keesing div {display:block;min-height:21px;padding:2px 5px;}
			a {text-decoration:underline;}
			a.disabled, .disabled a {cursor:default;color:#ccc;}
			.empty * {display:none;}
			
			/*.full div, .updated div {border:1px solid green;}
			.full .files-keesing-match-keesing div, .updated .files-keesing-match-keesing div {display:none;}*/
			.full div, .updated div {border:1px solid green;}
			.full .files-keesing-match-user div, .updated .files-keesing-match-user div {display:none;}
			.difference div {border:1px solid red;}
			.dismissed div {}
			
			&.full-match {
				.files-keesing-match-user {display:none;}
			}
		}
		.files-approve-reject {
			.label {text-decoration:underline;font-weight:bold;}
		}
		.files-actions {
			margin:20px 0px;
			.files-not-needed {margin:10px 0px;}
			.files-previous-next {
				margin-top:20px;
				text-align:center;
				a {
					margin:0px 10px;
					font-size:18px;
					color:#3E4B58;
					&.disabled {cursor:default;color:#999;}
				}
			}
		}
	}
	.files-preview {
		/*display:inline-block;*/
		/*width:37%;*/
		margin-left:2%;
		vertical-align:top;
		.files-preview-controls {
			margin-bottom:20px;
			span {
				margin-right:20px;
				&:last-child {margin-right:0px;}
			}
			.rotate {
				display:inline-block;
				vertical-align:middle;
				cursor:pointer;
				font-size:21px;
			}
		}
		.files-preview-image {
			width:100%;
			height:450px;
			overflow:auto;
			.files-preview-image-inner {height:100%;}
		}
		.hidden {visibility:hidden;}
		.zoom-auto {display:block;width:auto;max-height:100%;max-width:100%;}
		.zoom-25 {width:25%;max-height:none;max-width:none;}
		.zoom-50 {width:50%;max-height:none;max-width:none;}
		.zoom-75 {width:75%;max-height:none;max-width:none;}
		.zoom-100 {width:100%;max-height:none;max-width:none;}
		.zoom-150 {width:150%;max-height:none;max-width:none;}
		.zoom-200 {width:200%;max-height:none;max-width:none;}
		.zoom-400 {width:400%;max-height:none;max-width:none;}
		.rotate-auto {}
		.rotate-90 {transform:rotate(90deg) translateX(0%) translateY(-100%);transform-origin:top left;}
		.rotate-180 {transform:rotate(180deg) translateX(0%) translateY(0%);transform-origin:initial;}
		.rotate-270 {transform:rotate(270deg) translateX(-100%) translateY(0%);transform-origin:top left;}
		&.full-size .files-preview-image {
			img {
				max-width:none;
				max-height:none;
			}
		}
		iframe {
			width:100%;
			height:450px;
			border:1px solid #ccc;
		}
	}
}
.ids-files-screen {
	multiselect {display:inline-block;vertical-align:middle;max-width:200px;}
	.box-sub-header {
		.table-cell {
			&:first-child {
				width: 90%;
				label > span:last-child {
					padding-left: 5px;
				}
			}
			&:last-child {
				width: 10%;
				text-align: right;
			}
		}
	}
	.box-footer {
		.table-cell:last-child{text-align: right;}
	}
}
.documents-files-screen {
	min-width:1650px;
	.box-sub-header {
		&.static-filters label:first-child > .filter-label:first-child {padding-left:0px;}
		.filter-label {
			font-weight: bold;
			color: #434343;
			padding: 0px 5px 0px 25px;
		}
		label {
			display:inline-block;
			vertical-align:middle;
		}
		label+label {
			margin-left: 0px;
		}
		&.static-filters input {
			width:84px;
			&.username {
				width:180px;
			}
		}
		input[type="radio"] {
			display: inline-block;
			vertical-align: text-bottom;
			width:auto;
		}
		.right-block {
			float:right;
			display:inline-block;
			vertical-align:middle;
			label {height:30px;}
			.filter-label {display:inline-block;vertical-align:middle;}
			single-select {min-width:initial;}
			.button {display:inline-block;vertical-align:middle;margin-right:10px;}
		}
		&.columns {
			height:245px;
			padding:0px;
			.column-one-third, .column-one-fourth {
				height:100%;
				padding:10px 10px;
				vertical-align:middle;
				border-left:1px solid #ccc;
				&:first-child{border-left:0px;}
				.table {
					& > label, & > .row {
						display:table-row;
						& > .cell, & > span {
							display:table-cell;
							vertical-align:middle;
							padding:5px 0px;
							label{margin-left:5px;}
							&:first-child{padding-right:10px;}
						}
						multiselect {
							display:block;
							width:310px;
							.multiselect{display:block;width:100%;}
						}
					}
					& > label.transactions-filter-campaign select{width:360px;}
				}
				&:first-of-type {
					single-select {
						min-width:288px;
					}
				}
				&:nth-of-type(2n) {
					& > span {
						display:inline-block;
						vertical-align:middle;
						width:calc(25% - 3px);
						padding:5px 0px;
						&:nth-of-type(2n + 1) {
							padding-right:10px;
						}
						&:nth-of-type(2n) {
							padding-right:20px;
						}
						&.long {
							width:calc(44% - 3px);
						}
						&.short {
							width:calc(6% - 3px);
						}
					}
					single-select {
						min-width:100%;
						max-width:100%;
					}
				}
				&:nth-of-type(3n) {
					position:relative;
					.filter-label {
						padding-left:0px;
					}
					.bottom-right {
						position:absolute;
						right:16px;
						bottom:18px;
					}
				}
			}
			.column-one-fourth{
				width:24.82%;display:inline-block;
				.table{
					& > label, & > .row {
						multiselect{
							width:260px;
						}
					}
				}
			}
		}
	}
	.box-body h2 {padding:10px;}
	.box-body .table-row div {display:table-cell;}
	.additional-info-row {
		& > td {
			padding:30px 10px;
		}
		.additional-info-block {
			width:calc(100% - 30px);
			margin:0px 0px 15px 0px;
			padding:10px 14px;
			background:#fff;
			box-shadow:inset 0 1px 1px rgba(0,0,0,0.22);
			border:1px solid #cdcdcd;
			border-radius:5px;
			&::after {
				content:'';
				clear:both;
				display:block;
			}
			.table-row {
				border-bottom:1px solid #c7c7c7;
				&:last-of-type {
					border:0px;
				}
				div {
					padding:10px 4px;
					font-family:PT Sans, Arial;
					font-weight:bold;
					font-size:12px;
					&:last-of-type {
						padding-right:0px;
						font-size:13px;
					}
				}
			}
		}
		.additional-info-left {
			float:left;
			width:330px;
			.button {
				font-size:11px;
			}
		}
		.additional-info-right {
			margin-left:364px;
		}
		.additional-info-single-row {
			margin:5px 0px;
			div {
				display:inline-block;
				margin-right:20px;
			}
			span {
				font-weight:bold;
			}
		}
		table {
			margin:10px 0px 0px 0px;
			background:#fff;
			border:1px solid #c7c7c7;
			border-bottom:0px;
			.red {
				color:#e05252;
			}
			.green {
				color:#47a145;
			}
			.orange {
				color:#ffa200;
			}
		}
		.box-footer {
			border:1px solid #c7c7c7;
			&::after {display:none;}
		}
		.comments {
			margin:20px 0px;
			font-weight:bold;
			textarea {
				width:487px;
				height:90px;
				margin-top:10px;
			}
		}
	}
}




.from-inbox-screen {
	.box-sub-header {
		.filter-label {
			font-weight: bold;
			color: #434343;
			padding: 0px 5px 0px 25px;
		}
		label {
			display:inline-block;
			vertical-align:middle;
		}
		label+label {
			margin-left: 0px;
		}
		.date-holder input {
			width:80px;
		}
		.show-entries {
			position:absolute;
			right:16px;
			top:16px;
		}
		.button {
			position:absolute;
			right:16px;
			bottom:16px;
		}
		&.columns {
			height:132px;
			padding:0px;
			.column-one-third, .column-one-fourth {
				position:relative;
				height:100%;
				padding:10px 10px;
				vertical-align:middle;
				border-left:1px solid #ccc;
				&:first-child{border-left:0px;}
				.table {
					& > label, & > .row {
						display:table-row;
						& > .cell, & > span {
							display:table-cell;
							vertical-align:middle;
							padding:5px 0px;
							label{margin-left:5px;}
							&:first-child{padding-right:10px;}
						}
						multiselect {
							display:block;
							width:310px;
							.multiselect{display:block;width:100%;}
						}
					}
					& > label.transactions-filter-campaign select{width:360px;}
				}
				&:first-of-type {
					single-select {
						min-width:288px;
					}
				}
				&:nth-of-type(2n) {
					& > span {
						display:inline-block;
						vertical-align:middle;
						width:calc(25% - 3px);
						padding:5px 0px;
						&:nth-of-type(2n + 1) {
							padding-right:10px;
						}
						&:nth-of-type(2n) {
							padding-right:20px;
						}
						&.long {
							width:calc(44% - 3px);
						}
						&.short {
							width:calc(6% - 3px);
						}
					}
					single-select, multiselect {
						min-width:100%;
					}
				}
				&:nth-of-type(3n) {
					position:relative;
					.filter-label {
						padding-left:0px;
					}
					.bottom-right {
						position:absolute;
						right:16px;
						bottom:18px;
					}
				}
			}
		}
	}
}




.edit-market-fields-screen {
	.market-fields-holder-header {
		padding:10px;
		@include border (solid, 1px, 0, 1px, 0, #cfcfcf, 0);
		background:#f7f7f7;
	}
	.market-fields-holder {
		display:table;
		width:100%;
		margin-bottom:20px;
		& > label {
			display:table-row;
			&:nth-child(even) {background: #f6f6f6;}
			& > span {
				display:table-cell;
				padding:5px 10px;
				&:first-child {width:20%;}
			}
			select {max-width:500px;}
		}
	}
	.box-footer {
		padding: 5px 10px;
		.table-cell:last-child{
			text-align: right;
		}
	}
}

.edit-market-formulas-screen {
	.market-formulas-holder-header {
		padding: 10px;
		border: solid #cfcfcf;
		border-width: 1px 0 1px 0;
		border-radius: 0;
		background: #f7f7f7;
	}
	.market-formulas-holder {
		padding:10px;
		& div {
			padding-left: 0px;
		}
		& div div {
			padding-left: 10px;
		}
		& span {
			margin-right: 10px;
		}
	}
	.box-footer {
		padding: 5px 10px;
		.table-cell:last-child{
			text-align: right;
		}
	}
}

.market-translations-screen {

}
.edit-market-translations-screen {
	.market-translations-languages {
		margin:10px 0px;
		& span {display:table-cell;width:auto;padding:3px 10px 3px 5px;}
		& input {width:600px;}
	}
	.box-footer {
		padding: 5px 10px;
		.table-cell:last-child{
			text-align: right;
		}
	}
}

.market-opportunity-templates-screen {
	.button.green {float:right;}
	td a {white-space:nowrap;}
	.days-table {
		th {padding:1px;}
		td {padding:1px;}
	}
}
.edit-market-opportunity-template-screen {
	.table-row{
		&:nth-child(even) {background: #f6f6f6;}
		.table-cell {
			padding:5px 10px;
			&:first-child {width:30%;}
		}
	}
	.box-footer {
		padding: 5px 10px;
		.table-cell:last-child{
			text-align: right;
		}
	}
}
.market-priorities-screen {
	.add-markets-list {
		float:right;
		width:40%;
		margin:10px 5% 0px 0px;
		border:1px solid #dfdfdf;
		.markets-list-row {
			padding:5px;
			span {
				display:inline-block;
				vertical-align:middle;
				height:26px;
			}
			.button {
				float:right;
			}
			&:nth-of-type(even) {
				background:#f6f6f6;
			}
		}
	}
	.markets-priorities-list {
		width:50%;
	}
	.tree-node{
		margin:5px 0px;
		padding:10px;
		background:#f4f6f7;
		border:1px solid #dce2e8;
		border-radius:5px;
	}
	.undo-add {
		cursor:pointer;
		position:absolute;
		right:-20px;
		top:calc(50% - 10px);
		z-index:1;
		color:#771717;
	}
}
.market-pauses-screen {
	td a {white-space:nowrap;}
}
.edit-market-pause-screen {
	.table-row{
		&:nth-child(even) {background: #f6f6f6;}
		.table-cell {
			padding:5px 10px;
			&:first-child {width:30%;}
		}
	}
	.box-footer {
		padding: 5px 10px;
		.table-cell:last-child{
			text-align: right;
		}
	}
}


.promotions-management-slide-img {max-width:400px;}
.promotions-management-screen {
	td {
		.move-handle {text-align:center;}
	}
}
.edit-promotions-management-screen {
	.promotions-management-holder-header {
		padding:10px;
		@include border (solid, 1px, 0, 1px, 0, #cfcfcf, 0);
		background:#f7f7f7;
	}
	.promotions-management-holder {
		padding:10px;
	}
	.table {
		.table-row {
			&:nth-of-type(even) {background: #f6f6f6;}
			span {
				display: table-cell;
				width: auto;
				padding: 3px 10px 3px 5px;
				img {max-width:400px;}
				button {margin:10px 0px;}
			}
		}
	}
	.box-footer {
		padding: 5px 10px;
		.table-cell:last-child{
			text-align: right;
		}
	}
}

.insert-record-screen {
	&.box {border:0px;}
	h2 {margin:20px 0px;}
	label {display:block;margin:10px 0px;}
}
.calls-status-screen {
	.box-sub-header {clear: both;}
	.button {float:right;}
}
.edit-market-dynamics-quotes-screen {
	.box-footer {
		padding: 5px 10px;
		.table-cell:last-child{
			text-align: right;
		}
	}
}
.market-option-plus-prices-screen {
	input {
		width:50px;
		padding:4px;
	}
	table {
		tr:first-of-type td, td:first-of-type {
			color:#fff;
			background:#3c81d6;
		}
	}
	.box-footer {
		padding:5px 10px;
		.table-cell:last-child {
			text-align:right;
		}
	}
}
.apm-withdrawals-screen {
	.cell.withdraw-types {
		padding-right:150px;
		padding-top:10px;
		h3 {
			padding:0px 0px 10px 5px;
			text-decoration:underline;
		}
	}
	.grid .row .cell {
		&:first-of-type {min-width:160px;}
		input[type="text"] {width:160px;}
	}
}
.academy-articles-screen {
	.list-is-active-yes {
		color:green;
	}.list-is-active-no {
		color:red;
	}
}
.academy-articles-details-screen {
	.article-not-found {
		padding:20px 0px;
		font-weight:bold;
	}
	.topics {
		display:inline-block;
		vertical-align:middle;
		.new-topic-holder {
			position:relative;
			display:inline-block;
			vertical-align:middle;
		}
		.topic-suggestions {
			position:absolute;
			z-index:1;
			width:100%;
			border-left:1px solid #ccc;
			border-right:1px solid #ccc;
			box-shadow:2px 2px 2px 1px #ccc;
			div {
				cursor:pointer;
				padding:3px 8px;
				background:#fff;
				border-bottom:1px solid #ccc;
				&:hover {
					background:#eee;
				}
			}
		}
		.topic {
			cursor:pointer;
			display:inline-block;
			margin:5px 2px;
			padding:2px 5px;
			background:#eee;
			border:1px solid #ccc;
			border-radius:3px;
			&:hover {
				background:#ddd;
			}
		}
	}
	.box-body {
		padding:10px;
		.label-row {
			display:block;
			padding:5px 0px;
			& > * {
				display:inline-block;
				vertical-align:middle;
			}
			img {
				max-width:200px;
				max-height:200px;
				margin-left:50px;
			}
		}
		.is-inactive {
			font-weight:bold;
			color:red;
		}
		.label-title {
			display:inline-block;
			min-width:120px;
		}
		.translations-holder {
			margin:20px 0px;
		}
		.mce-tinymce {
			margin:10px 0px;
		}
	}
	.box-footer {
		padding:5px 10px;
		.table-cell:last-child {
			text-align:right;
		}
		.delete-button {
			margin-right:50px;
		}
	}
}


.angular-ui-tree-placeholder {border:2px dotted #ccc;}

.date-holder{position:relative;display:inline-block;}
ul.datetime-picker-dropdown{position:absolute;top:100%;z-index:20;margin-top:5px;padding:0px;background:#fff;border:0px solid #999;border-radius:5px;box-shadow: 0 0 9px rgba(0,0,0,0.63);list-style-type:none;}
ul.datetime-picker-dropdown > li {
	padding:0px!important;
	.pull-left {
		width:66%;
		margin:0px!important;
		button {
			cursor:pointer;
			float:left;
			width:50%;
			padding:6px 0px;
			font-family:PT Sans, Roboto, Arial;
			font-size:1em;
			color:#fff;
			background:#3e4959 linear-gradient(#5b6678, #202c3b);
			border:0px;
			border-right:1px solid #303845;
			border-top:1px solid #2c3f5b;
			outline:none;
			&:hover {background:#545f6e linear-gradient(#7b8594, #283443);}
			&:active {background:#283343;}
		}
	}
	.pull-right {
		width:34%;
		button {
			cursor:pointer;
			width:100%;
			padding:6px 0px;
			font-family:PT Sans, Roboto, Arial;
			font-size:1em;
			color:#fff;
			background:#3e4959 linear-gradient(#5b6678, #202c3b);
			border:0px;
			border-top:1px solid #2c3f5b;
			outline:none;
			&:hover {background:#545f6e linear-gradient(#7b8594, #283443);}
			&:active {background:#283343;}
		}
	}
}
ul.datetime-picker-dropdown i.glyphicon.glyphicon-chevron-left:before{content:'';display:inline-block;width:8px;height:10px;background:url('../images/datepicker-arrow-left.png') no-repeat;}
ul.datetime-picker-dropdown i.glyphicon.glyphicon-chevron-right:before{content:'';display:inline-block;width:8px;height:10px;background:url('../images/datepicker-arrow-right.png') no-repeat;}
ul.datetime-picker-dropdown .date-picker-menu .uib-daypicker{outline:none;}
ul.datetime-picker-dropdown .date-picker-menu table {
	outline:none;
	border-spacing:0;
	border-collapse:collapse;
	thead {
		tr:first-child {
			background:#3e4959 linear-gradient(#5b6678, #202c3b);
			border:1px solid #2c3f5b;
			th {
				padding:6px 3px;
			}
		}
		tr:nth-child(2n) {
			color:#1f2c3f;
			text-shadow:0 1px 0 #fff;
			background:#d9dee7 linear-gradient(#eceef2, #cbd3df);
			border:1px solid #919eb0;
			border-top:0px;
			th {
				padding:0.3em;
			}
		}
		button {
			padding:3px 1px;
			font-size:1em;
			color:#fff;
			outline:none;
			&:hover {padding:2px 0px;color:#fff;}
			&.pull-right, &.pull-left {float:none;width:21px;}
		}
		small {font-size:inherit;}
	}
	tbody {
		border-left:1px solid #919eb0;
		border-right:1px solid #919eb0;
	}
}
ul.datetime-picker-dropdown .date-picker-menu thead button {padding:3px 7px;border:0px;}
ul.datetime-picker-dropdown .date-picker-menu thead button:hover{padding:2px 6px;background:none;border:1px solid #0f1c21;}
ul.datetime-picker-dropdown .date-picker-menu thead button:active{padding:2px 6px;background:#283343;border:1px solid #0f1c21;}
ul.datetime-picker-dropdown .date-picker-menu button{cursor:pointer;padding:2px 7px;font-family:PT Sans, Roboto, Arial;font-size:0.9em;color:#3a3a3a;background:none;border:1px solid #fff;border-radius:2px;}
ul.datetime-picker-dropdown .date-picker-menu button:hover{color:#243043;background:#d9e3ec linear-gradient(#f5f7fa, #d9e3ec);border:1px solid #919ca7;}
ul.datetime-picker-dropdown .date-picker-menu button.active{border:1px solid #999;}
ul.datetime-picker-dropdown .date-picker-menu button.btn-info{color:#fff;background:#394555 linear-gradient(#535e70, #222e3d);border:1px solid #152235;}
ul.datetime-picker-dropdown .date-picker-menu button:disabled{opacity:0.35;cursor:default;color:#767d87;background:none;border:0px;}
ul.datetime-picker-dropdown .date-picker-menu button .text-muted{color:#767d87;}
ul.datetime-picker-dropdown .date-picker-menu button:disabled .text-muted{color:#767d87;}



.modal-open {
	overflow:hidden;
	.modal {
		position:fixed;
		left:0;
		top:0;
		right:0;
		bottom:0;
		outline:0;
		overflow-x:hidden;
		overflow-y:auto;
		opacity:1;
		.modal-backdrop {position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;filter:alpha(opacity=50);opacity:.5;}
		&.files-close-popup {
			top:40px;
		}
		&.images-from-bank-popup {
			li {cursor:pointer;display:inline-block;width:200px;height:100px;margin:10px;}
			img {max-width:200px;max-height:100px;border:4px solid #fff;}
			.selected img {border:4px solid #639feb;}
		}
		.modal-dialog {
			position:relative;
			width:70%;
			margin:50px auto;
			-webkit-transform:translate(0,0);
			-ms-transform:translate(0,0);
			-o-transform:translate(0,0);
			transform:translate(0,0);
		}
		&.confirm-popup .modal-dialog {
			width:50%;
		}
		.modal-content {
			position:relative;
			padding:30px;
			background-color:#fff;
			-webkit-background-clip:padding-box;
			background-clip:padding-box;
			border:1px solid #999;
			border:1px solid rgba(0,0,0,.2);
			border-radius:6px;
			outline:0;
			-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
			box-shadow:0 5px 15px rgba(0,0,0,.5);
			.close-button {
				cursor:pointer;
				position:absolute;
				top:20px;
				right:20px;
				display:inline-block;
				width:15px;
				height:15px;
				text-align:center;
				&:before {
					content:'x';
					display:inline-block;
					font-size:14px;
				}
			}
			#previewContentIframe {width:100%;height:600px;border:0px;}
			.confirm-popup-message {padding:20px 0px;font-size:1.2em;}
			.terms-preview-popup-footer {
				margin-top:20px;
				padding-top:20px;
				border-top:1px solid #ccc;
				.red {float:right;}
			}
			.files-close-popup-footer {
				div {margin-bottom:20px;}
			}
		}
	}
}
.terms-preview-popup {padding:30px;}
.terms-content {
	label {
		margin-left:10px;
		&:first-child{margin-left:0px;}
		input{margin-left:5px;}
	}
	.terms-currently-editing {
		margin:10px 0px 0px 0px;
		border-top:1px solid #999;
		border-bottom:1px solid #ccc;
		h3{display:inline-block;margin-right:10px;}
		span{padding:0px 5px;}
	}
	.terms-file-is-active {
		padding:20px 0px 10px 0px;
		border-bottom:1px solid #ccc;
		&.active {
			
		}
		&.inactive {
			font-weight:bold;
			color:red;
		}
		span, input {
			display:inline-block;
			vertical-align:middle;
		}
	}
	.terms-file-title {
		margin:10px 0px;
		input{display:block;width:500px;margin:5px 0px 0px 0px;}
	}
	.search-button {margin-left:20px;}
	.global-errors-container {display:inline-block;margin-left:10px;}
	.preview-part-button {margin:10px 0px 0px 0px;}
}


.tree-row {
	&:nth-child(even) {background:#f6f6f6;}
	.tree-child {
		display:inline-block;
		min-width:200px;
		padding:2px 0px;
	}
	.tree-parent {}
	.tree-parent-header {padding:5px 0px 2px 0px;font-weight:bold;}
}

/* Custom directives */
toggler {
	cursor:pointer;
	position:absolute;
	right:0px;
	top:0px;
	display:inline-block;
	width:35px;
	height:35px;
	background:url('../images/filter-toggle-icon.png') center no-repeat;
	border-left:1px solid #c1c1c1;
}

multiselect {
	position:relative;
	display:inline-block;
	min-width:80px;
	font-weight:normal;
	font-size:13.3333px;
	color:#434343;
	padding-right:22px;
	background:url('../images/multiselect-icon.png') right center no-repeat;
	vertical-align:middle;
	&.short-select{width:160px;}
	.multiselect-header-holder{
		display:table;
		width:100%;
		min-height:17px;
		background:#fff;
		@include linear-gradient-four-top-bottom (#ffffff, #f3f4f8, #ecedef, #e9ebed);
		border:1px solid #b6b9bd;
	}
	.multiselect-header-holder.open{border-bottom:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
	.multiselect-header{display:table-row;position:relative;}
	.multiselect-drop-arrow{display:table-cell;vertical-align:middle;width:18px!important;cursor:pointer;text-align:center;border-left:1px solid #b6b9bd;background:url('../images/multiselect-arrow-down.png') center no-repeat, linear-gradient(#eaecee, #c2c4c6);;}
	.multiselect-selected-options-holder{display:block;max-width:100%;height:26px;padding:0px 3px;overflow:hidden;}
	.multiselect-header-holder.open .multiselect-selected-options-holder{height:27px;}
	.multiselect-selected-options{display:inline-block;vertical-align:top;width:calc(100% - 25px);}
	.multiselect-selected-options img{vertical-align:bottom;max-height:17px;}
	.multiselect-selected-option{cursor:pointer;display:inline-block;margin:3px 5px 3px 0px;padding:2px 3px;white-space:nowrap;line-height:16px;}
	.multiselect-selected-option:last-child{margin-right:0px;}
	.multiselect-selected-option:hover{margin:2px 5px 2px 0px;padding:2px;border:1px solid #c5c5c5;border-radius:3px;}
	.multiselect-selected-option:last-child:hover{margin-right:0px;}
	.multiselect-selected-options-scroll{
		position:absolute;
		right:44px;
		display:inline-block;
		width:21px;
		padding:4px 0px;
		.up{cursor:pointer;display:block;width:100%;height:9px;background:#f1f1f1 url('../images/multiselect-arrow-up-small.png') center 3px no-repeat;}
		.down{cursor:pointer;display:block;width:100%;height:9px;background:#f1f1f1 url('../images/multiselect-arrow-down-small.png') center 2px no-repeat;}
		.disabled{opacity:0.5;cursor:default;}
	}
	/*.multiselect-aggregate-option{background:#fff;}*/
	.multiselect-remove-option{font-weight:bold;color:#999;}
	.multiselect-options-box{position:absolute;z-index:20;min-width:calc(100% - 22px);}
	input.multiselect-filter{width:100%;margin:0px;padding:1px 6px;border:1px solid #ccc;border-bottom:0px;}
	.multiselect-options{
		max-height:300px;
		overflow-y:auto;
		background:#fff;
		border:1px solid #b6b9bd;
		.option{display:block;padding:1px 17px;cursor:pointer;white-space:nowrap;}
		.option.checked{color:#fff;background:#3399ff;}
		.option span, .option img{display:inline-block;vertical-align:middle;}
	}
}

single-select {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	min-width:80px;
	height:27px;
	font-weight:normal;
	font-size:13.3333px;
	color:#434343;
	
	.single-select-header-holder {
		display:table;
		width:100%;
		height:100%;
		background:#fff;
		@include linear-gradient-four-top-bottom (#ffffff, #f3f4f8, #ecedef, #e9ebed);
		border:1px solid #b6b9bd;
		&.open {}
		.single-select-header {
			cursor:default;
			display:table-row;
			.single-select-selected-option {display:table-cell;margin-right:5px;padding:2px 10px;vertical-align:middle;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
			.single-select-selected-option img {vertical-align:bottom;max-height:17px;}
		}
		.single-select-drop-arrow {display:table-cell;vertical-align:middle;width:18px!important;text-align:center;border-left:1px solid #b6b9bd;background:url('../images/multiselect-arrow-down.png') center no-repeat, linear-gradient(#eaecee, #c2c4c6);}
	}
	
	.single-select-options-box {
		position:absolute;
		z-index:20;
		visibility:hidden;
		&.visible {visibility:visible;}
		.single-select-filter-wrapper {
			position:relative;
			input.single-select-filter {
				width:100%;
				margin:0px;
				padding:1px 10px 1px 10px;
				border:1px solid #ccc;
			}
		}
		.single-select-options {position:relative;max-height:300px;overflow-y:auto;background:#fff;border:1px solid #b6b9bd;border-top:0px;}
		.single-select-options .option {
			cursor:default;
			display:block;
			padding:1px 28px 1px 10px;
			height:22px;
			line-height:19px;
			white-space:nowrap;
			&.checked, &:hover {color:#fff;background:#3399ff;}
			&.option span, & img {display:inline-block;vertical-align:middle;}
			&.option span {
				max-width:250px;
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
			}
		}
	}
}
/* End Custom directives */

/* Pagination */
.pages {
	display: table;
	float: right;
	.paginate_button {
		white-space: nowrap;
		padding: 3px 7px;
		display: table-cell;
		@include border (solid, 1px, 0, 1px, 1px, #c1c1c1, 0);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.42);
		font-family: inherit;
		font-size: 12px;
		color: #1c2734;
		text-shadow: 0 1px 0 #fff;
		font-weight: inherit;
		cursor: pointer;
		text-decoration: none;
		background: #e7e7e7;
		@include linear-gradient (#ededed, #e7e7e7, #dfdfdf);
		&.current {
			margin-right: -1px;
			@include border (solid, 1px, 1px, 1px, 1px, #13447d, 0);
			color: #fff;
			text-shadow: 0 1px 0 #000;
			background: #3c82d7;
			@include linear-gradient (#5797ea, #3c82d7, #1c68c0);
		}
		&:hover {
			margin-right: -1px;
			/*@include border (solid, 1px, 1px, 1px, 1px, #13447d, 0);*/
			color: #fff;
			text-shadow: 0 1px 0 #000;
			background: #3c82d7;
			@include linear-gradient (#5797ea, #3c82d7, #1c68c0);
		}
		&.disabled, .disabled:hover {
			background: #d8d8d8;
			@include linear-gradient (#d5d5d5, #d8d8d8, #dadada);
			text-shadow: 0 1px 0 #fff;
			color: #838383;
			cursor: default;
		}
		&:first-child {
			@include border (solid, 1px, 0, 1px, 1px, #c1c1c1, 2px);
			@include border-radius(2px, 0, 0,2px);
		}
		&:last-child {
			@include border (solid, 1px, 1px, 1px, 1px, #c1c1c1, 2px);
			@include border-radius(0, 2px, 2px, 0);
		}
	}

}
/* End Pagination */

.info-block{
	border:1px solid #cdcdcd;border-radius:5px;padding:15px;
	&.table .table-cell{
		vertical-align:top;
		&+.table-cell{padding-left:20px;}
	}
	.mid-select{width:160px;}
	.text-area{
		border-top:1px solid #c7c7c7;
		label{display:block;padding:10px 5px;}
		textarea{width:100%;height:145px;}
	}
}
.line-toggle{
	@include linear-gradient (#f4f4f4, #f4f5f9, #eceef3);padding:5px 10px;border-top:1px solid #c0c8d0;border-bottom:1px solid #c0c8d0;cursor:pointer;
	&::before{content:'';width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #444644;display:inline-block;}
}
._toggleLineContent.hidden{display:none;}
.box-holder{
	padding:20px 15px;
}
.uploadImage-holder{
	.files-new-file-preview{
		max-width:200px;
		max-height:50px;
		vertical-align:middle;
	}
}
.globalErrorField{
	span{display:block;}
}

.user-strip-link {
	text-decoration:underline;cursor:pointer;
}

.old-link{cursor:pointer;text-decoration:underline;}

.questionnaire_list{padding-bottom:10px;}
.alert-color{color:red;}

.comment-popup{
	position:absolute;display:none;width:230px;padding:5px;border-radius:5px; box-shadow:0px 2px 12px #888888;border:1px solid #909092;
	background: #eeeff4;background: linear-gradient(to bottom, #eeeff4 0%,#ccd5de 100%);
	&::before{
		content: "";
		position: absolute;
		top: -11px;
		right: 0;
		left: 0;
		margin: auto;
		width: 20px;
		height: 20px;
		border: solid #909092;
		border-width: 1px 0 0 1px;
		background: #eeeff4;
		transform: rotate(45deg);
	}
	.comment-in{
		background:white;border:1px solid #9da7b3;border-radius:3px;padding:10px;margin-top:5px;
		textarea{border:1px solid #a2a2a2;resize:none;width:100%;height:120px;}
	}
	&.crypto {
		top: 60px;
		right: 200px;
		&::before {display: none}
	}
}

.form-box-in{
	border:1px solid #cfcfcf;background:white;border-radius:5px;padding:20px;
	.cell{
		padding:5px 30px 5px 5px;vertical-align:top;
		.in{
			.in-row + .in-row{margin-top:10px;}
		}
	}
}

.previewer-body {
	padding:10px;
	background:#fff;
}
.gbg-previewer {
	h3 {
		margin-bottom:10px;
		text-transform:capitalize;
		font-size:20px;
	}
	td {
		padding:2px 5px;
		color:#333;
	}
	.logo {
		display:block;
		text-align:right;
		background:none;
		i {
			display:inline-block;
			width:450px;
			height:75px;
			background:url('../images/gbg/logo.png') center no-repeat;
			background-size:contain;
		}
	}
	.summary {
		margin-bottom:20px;
	}
	.current-address {
		margin-bottom:20px;
	}
	.summary, .personal-details, .current-address {
		width:auto;
		min-width:80%;
		border-collapse:collapse;
		border-left:1px solid #eee;
		border-top:1px solid #eee;
		.header-row td {
			text-transform:capitalize;
			font-size:14px;
			background:#f78e1e;
		}
		td {
			padding:2px 5px;
			border-right:1px solid #eee;
			border-bottom:1px solid #eee;
			&:first-of-type {width:40%;}
		}
	}
	.gbg-results {
		width:100%;
		margin:10px 0px;
		border-collapse:collapse;
		border-left:1px solid #eee;
		border-top:1px solid #eee;
		border-bottom:1px solid #eee;
		td {
			border-right:1px solid #eee;
		}
		.header-row td {
			text-transform:capitalize;
			font-weight:bold;
			font-size:16px;
			background:#f78e1e;
		}
		.result-icons-row td {
			padding:0px;
			background:#d1f1c3;
			border-bottom:1px solid #eee;
		}
		.result-title-row td {
			font-weight:bold;
			border-bottom:1px solid #eee;
		}
		.result-row {
			
		}
	}
}

.currency_holder {
	display:inline-block;
	position:relative;
	&[data-currency-holder="right"] .currency_symbol {left:auto;right:5px;}
	.field {padding-left:15px;}
	.currency_symbol {position:absolute;top:0;bottom:0;left:5px;vertical-align:middle;margin:auto;height:50%;line-height:1;}
}


.nav-tabs {
	cursor:pointer;
	padding-left:0;
	margin-bottom:0;
	list-style:none;
	border-bottom:1px solid #ddd;
	&::before {
		display:table;
		content:" ";
		box-sizing:border-box;
	}
	&::after {
		clear:both;
		display:table;
		content:" ";
		box-sizing:border-box;
	}
	li {
		float:left;
		position:relative;
		display:block;
		margin-bottom:-1px;
		a {
			position:relative;
			display:block;
			padding:10px 15px;
			margin-right:2px;
			text-decoration:none;
			line-height:1.42857143;
			border:1px solid transparent;
			border-radius:4px 4px 0 0;
			&:hover {
				text-decoration:none;
				background-color:#eee;
			}
		}
		&.active a {
			color:#555;
			cursor:default;
			background-color:#fff;
			border:1px solid #ddd;
			border-bottom-color:transparent;
		}
	}
}
.tab-content {
	& > .tab-pane {
		display:none;
	}
	& > .active {
		display:block;
		padding:10px 0px;
	}
}