<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:t="http://myfaces.apache.org/tomahawk">
	
	<ui:composition template="/jsp/templates/template_tv.xhtml">
		<ui:define name="content">
			<h:panelGroup>
				<br/>
				<h:panelGrid border="0" columns="1" align="center">
					<img src="#{facesContext.externalContext.requestContextPath}/images/tv.png" border="0" />
					<h2 align="center">
						<h:outputText styleClass="menu_tv" value="#{msgs['analytic.tv.menu']}" />
					</h2>
				</h:panelGrid>
				<br/><br/>
				<h:panelGrid width="30%" height="120px" border="0" columns="1" align="center" class="table_tv_border_menu">
					<h:panelGrid border="0" columns="1" align="center">
						<h:panelGroup>
							<a class="menu_tv_link" href="#{facesContext.externalContext.requestContextPath}/jsp/analyticsTv/analyticsFtd.jsf">
								<h:outputText value="#{msgs['analytic.tv.menu.ftd']}" />
							</a>
						</h:panelGroup>
					</h:panelGrid>
				</h:panelGrid>
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</html>