<div ng-controller="ComplaintsFilesController" id="tab-content" class="holder files-content oH">
	<div ng-if="action == ''" class="files-screen">
		<button type="button" class="button green" ng-click="changeView('add')">add file</button>
		<table class="pretty-table">
			<tr>
				<th>ID</th>
				<th>File name</th>
				<th>reference</th>
				<th>comments</th>
				<th>uploaded at</th>
				<th>Uploaded by</th>
			</tr>
			<tr ng-repeat="file in allFiles">
				<td>{{file.id}}</td>
				<td ng-click="previewFile(file.fileName)">{{file.fileName}}</td>
				<td>{{file.reference}}</td>
				<td>{{file.comment}}</td>
				<td>{{file.timeCreated}}</td>
				<td>{{file.writerId}}</td>
			</tr>
		</table>
		<!-- Preview -->
		<div class="files-preview" ng-if="fileName_preview">
			<div class="files-preview-controls">
				<span>
					<a href="{{filePath_preview}}" target="_blank">[{{getMsgs('open-in-new-tab')}}]</a>
				</span>
			</div>
			<div class="files-preview-image" ng-if="fileIsImage_preview">
				<div class="files-preview-image-inner">
					<img ng-src="{{filePath_preview}}">
				</div>
			</div>
			<iframe ng-if="!fileIsImage_preview" ng-src="{{filePath_preview}}"></iframe>
		</div>
	</div>
	
	<div ng-if="action == 'add'" class="files-screen" >
		<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
		<div class="global-errors-container" ng-if="localErrorMsgs && localErrorMsgs.length > 0">
			<div class="error big-error" ng-repeat="error in localErrorMsgs">{{error}}</div>
		</div>
		<div class="files-screen">
			<ng-form name="_form" novalidate ng-submit="return false;">
				<div class="files-left-side">
					<div class="files-data-block">
						<div class="files-data-left">
							<div class="table">
								<div class="table-row">
									<span class="table-cell">{{getMsgs('file')}}</span>
									<span class="table-cell">
										<button type="button" class="button green" ng-file-select="onFileSelect($files)" onclick="this.value = null">
											{{getMsgs('browse')}}
										</button>
										<span class="error" ng-if="fileTooBig">{{getMsgs('error.file_too_large')}}</span>
										<img class="files-new-file-preview" ng-src="{{uploadedImage}}" ng-if="uploadedImage" />
										<span ng-if="uploadedFileName">{{uploadedFileName}}</span>
									</span>
								</div>
								<label class="table-row">
									<span class="table-cell">{{getMsgs('reference')}}</span>
									<span class="table-cell"><input ng-model="selectedFile.reference"/></span>
								</label>
								<label class="table-row">
									<span class="table-cell">{{getMsgs('comment')}}</span>
									<span class="table-cell"><input ng-model="selectedFile.comment"/></span>
								</label>
								<div class="table-row">
									<div class="files-actions">
										<button type="button" class="button blue" ng-click="uploadTheFile()">{{getMsgs('save')}}</button>
										<button type="button" class="button red" ng-click="changeView('')">{{getMsgs('close')}}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-form>
		</div>
	</div>
</div>