<div class="questionnaire_content">
	<div class="table">
		<div class="table-cell top more-space ">
			<table class="pretty-table ">
				<tr>
					<td>Transaction ID</td>
					<td>{{ ctCtr.loadedTransaction.transaction.id }}</td>
				</tr>
				<tr>
					<td>Creation Date</td>
					<td>{{ ctCtr.loadedTransaction.transaction.timeCreated | date: 'dd/MMM/yyyy HH:mm' }}</td>
				</tr>
				<tr>
					<td>Coin</td>
					<td>{{ ctCtr.loadedTransaction.cryptoTrade.toCurrency }}</td>
				</tr>
				<tr>
					<td>Crypto Amount at Order</td>
					<td>{{ ctCtr.loadedTransaction.cryptoTrade.quantityClient }}</td>
				</tr>
				<tr>
					<td>Crypto Rate at Order $	</td>
					<td>{{ ctCtr.loadedTransaction.cryptoTrade.rateMarketClient }}</td>
				</tr>
				<tr>
					<td>Crypto Amount at Execution</td>
					<td>{{ ctCtr.loadedTransaction.cryptoTrade.quantity }}</td>
				</tr>
				<tr>
					<td>Crypto Rate at Execution $	</td>
					<td>{{ ctCtr.loadedTransaction.cryptoTrade.rateMarket }}</td>
				</tr>
				<tr>
					<td>Base Currency</td>
					<td>{{ ctCtr.userCurrencyCode }}</td>
				</tr>
				<tr>
					<td>Sub Total €	</td>
					<td>{{ ctCtr.loadedTransaction.transaction.subtotal }}</td>
				</tr>
				<tr>
					<td>Fees €</td>
					<td>{{ ctCtr.loadedTransaction.cryptoTrade.fees }}</td>
				</tr>
				<tr>
					<td>Total €</td>
					<td>{{ ctCtr.loadedTransaction.transaction.total }}</td>
				</tr>
				<tr>
					<td>Payment Method</td>
					<td>{{ ctCtr.transactionTypes[ctCtr.loadedTransaction.transaction.typeId] }}</td>
				</tr>
				<tr>
					<td>USD rate</td>
					<td>{{ ctCtr.loadedTransaction.cryptoTrade.rate }}</td>
				</tr>
				<tr>
					<td>Sub Total $	</td>
					<td>{{ ctCtr.loadedTransaction.transaction.subtotalUSD }}</td>
				</tr>
				<tr>
					<td>Fees $</td>
					<td>{{ ctCtr.loadedTransaction.cryptoTrade.feesUSD }}</td>
				</tr>
				<tr>
					<td>Total $</td>
					<td>{{ ctCtr.loadedTransaction.transaction.totalUSD }}</td>
				</tr>
				<tr>
					<td>Wallet</td>
					<td>{{ ctCtr.loadedTransaction.cryptoTrade.wallet }}</td>
				</tr>
				<tr>
					<td>Execution Date</td>
					<td>{{ ctCtr.loadedTransaction.cryptoTrade.timeDone }}</td>
				</tr>
				<tr>
					<td>TX ID</td>
					<td>{{ ctCtr.loadedTransaction.cryptoWithdrawId }}</td>
				</tr>
			</table>
		</div>
		<div class="table-cell top">
			<div ng-if="success">{{getMsgs('templates.update.success')}}</div>
			<div ng-hide="permissions.get('cryptoTransactions_view') || !ready">{{getMsgs('error.no_permission')}}</div>
			
			<ng-form name="_form" novalidate class="table space short top">
				<div>
					<h2>Files</h2>
					<table>
						<tr>
							<td>Method</td>
							<td colspan="2">
								<input class="field small-field" type="text" ng-model="ctCtr.form.method" disabled />
							</td>
						</tr>
						<tr>
							<td>Amount</td>
							<td>
								<input class="field small-field" type="text" ng-model="ctCtr.form.amount"/>
							</td>
							<td>
								<div class="select-wrapper">
									<select ng-model="ctCtr.form.currencyId"class="funnel_inp funnel_inp_sel_content"
										ng-options="currency.code for currency in ctCtr.currencies">
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td>Review Date</td>
							<td colspan="2">
								<div class="date-holder">
									<input id="reviewDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-click="ctCtr.openCalendar($event, 'reviewDate')" ng-model="ctCtr.form.date" is-open="ctCtr.openDates.reviewDate" enable-time="false" datepicker-options="ctCtr.dateOptions" />
									<button type="button" class="btn btn-default" ng-click="ctCtr.openCalendar($event, 'reviewDate')"><i class="fa fa-calendar"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<td>Comment</td>
							<td>
								<textarea class="field small-field" ng-model="ctCtr.form.comments"> </textarea>
							</td>
							<td>
								<b>Old comment</b>: {{ ctCtr.form.commentsOld }}
							</td>
						</tr>
						<tr>
							<td>File</td>
							<td>
								<button type="button" class="button green" ng-file-select="ctCtr.onFileSelect($files)" onclick="this.value = null">{{getMsgs('browse')}}</button>
							</td>
							<td>
								<button type="button" class="button blue" ng-click="ctCtr.showFiles()" ng-disabled="!permissions.get('cryptoTransactions_view')">Show files</button>
							</td>
						</tr>
						<tr ng-show="ctCtr.loadedTransaction.files.length > 0">
							<td colspan="3">
								<table class="pretty-table">
									<tr>
										<th>Date</th>
										<th>Action</th>
									</tr>
									<tr ng-repeat="file in ctCtr.loadedTransaction.files">
										<td>{{ file.timeCreated }}</td>
										<td><a href="{{ ctCtr.getFilePath(file.fileName) }}" target="_blank">View</a></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="mt20 taC questionnaire_list separate">
									<button type="button" class="button blue" ng-class="{ loading: ctCtr.loading }" ng-click="ctCtr.submit(_form)" ng-disabled="ctCtr.disabled || ctCtr.loading || !permissions.get('cryptoTransactions_finance')">
										{{getMsgs('submit')}}
									</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
	
				<div class="globalErrorField" id="globalErrorField"></div>
				<div class="globalErrorField" ng-bind-html="globalErrorMsg"></div>
			</ng-form>
			
			<div class="pR">
				<h2>Transaction Approval</h2>
				<table class="pretty-table">
					<tr>
						<th>Assignee</th>
						<th>Status</th>
						<th>Comment</th>
						<th>Action</th>
					</tr>
					<tr>
						<td>Finance</td>
						<td>{{ ctCtr.resolutionStatus[ctCtr.resolution.Finance.status-1].name }}</td>
						<td>{{ ctCtr.resolution.Finance.comment }}</td>
						<td><button type="button" class="button blue" ng-disabled="!(ctCtr.loadedTransaction.transaction.assignee == 'Finance') || !permissions.get('cryptoTransactions_finance') || ctCtr.loadedTransaction.transaction.statusId == 1" 
							ng-click="ctCtr.openApprovel('Finance')">Edit</button></td>
					</tr>
					<tr>
						<td>Support</td>
						<td>{{ ctCtr.resolutionStatus[ctCtr.resolution.Support.status-1].name }}</td>
						<td>{{ ctCtr.resolution.Support.comment }}</td>
						<td><button type="button" class="button blue" ng-disabled="!(ctCtr.loadedTransaction.transaction.assignee == 'Support') || !permissions.get('cryptoTransactions_support') || ctCtr.loadedTransaction.transaction.statusId == 1"
							ng-click="ctCtr.openApprovel('Support')">Edit</button></td>
					</tr>
					<tr>
						<td>Risk</td>
						<td>{{ ctCtr.resolutionStatus[ctCtr.resolution.Risk.status-1].name }}</td>
						<td>{{ ctCtr.resolution.Risk.comment }}</td>
						<td><button type="button" class="button blue" ng-disabled="!(ctCtr.loadedTransaction.transaction.assignee == 'Risk') || ctCtr.loadedTransaction.transaction.statusId == 2 || !permissions.get('cryptoTransactions_risk')" 
							ng-click="ctCtr.openApprovel('Risk') || ctCtr.loadedTransaction.transaction.statusId == 1">Edit</button></td>
					</tr>
				</table>
				
				<div class="comment-popup crypto" id="status-change">
					<i ng-click="ctCtr.closeStatus()">X</i>
					<table>
						<tr>
							<td>Status</td>
							<td>
								<div class="select-wrapper">
									<select ng-model="ctCtr.formAssignee.status"class="funnel_inp funnel_inp_sel_content"
										ng-options="status.name for status in ctCtr.resolutionStatus">
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td>Comment</td>
							<td>
								<input class="field small-field" type="text" ng-model="ctCtr.formAssignee.comment"/>
							</td>
						</tr>
						<tr ng-show="ctCtr.formAssignee.status.id == 3">
							<td>Reject reason</td>
							<td>
								<div class="select-wrapper">
									<select ng-model="ctCtr.formAssignee.reason"class="funnel_inp funnel_inp_sel_content"
										ng-options="reason.value for reason in ctCtr.rejectReasons">
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="mt20 taC questionnaire_list separate">
									<button type="button" class="button blue" ng-class="{ loading: ctCtr.loading }" ng-click="ctCtr.submitAssignee(_form)" ng-disabled="ctCtr.disabledAssignee || ctCtr.loading">
										{{getMsgs('submit')}}
									</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			
			<div>
				<button type="button" class="button green" ng-click="ctCtr.withdrawToUserWallet()" ng-disabled="ctCtr.loadedTransaction.withdrawStatus != 1 || ctCtr.loadedTransaction.transaction.statusId != 2 || !permissions.get('cryptoTransactions_withdraw') || withdrawalToCustomerWalletDone">
					Withdraw To<br>Customer Wallet
				</button>
			</div>
		</div>
	</div>
	
	<div>
		<h2>Transactions</h2>
		<table class="pretty-table">
			<tr>
				<th>Transaction ID</th>
				<th>Created</th>
				<th>Coin</th>
				<th>Crypto Amount at Order</th>
				<th>Crypto Rate at Order $</th>
				<th>Crypto Amount at Execution</th>
				<th>Crypto Rate at Execution $	</th>
				<th>Base Currency</th>
				<th>Sub Total</th>
				<th>Fees</th>
				<th>Total</th>
				<th>Sub Total $	</th>
				<th>Fees $</th>
				<th>Total $	</th>
				<th>Payment Methods</th>
				<th>Status</th>
				<th>Execution Date and Time	</th>
				<th>Crypto Trade Status</th>
				<th>Crypto Withdraw Status</th>
			</tr>
			<tr ng-repeat="transaction in ctCtr.transactionsList" ng-click="ctCtr.loadTransaction(transaction)">
				<td>{{ transaction.transaction.id }}</td>
				<td>{{ transaction.transaction.timeCreated | date: 'dd/MMM/yyyy HH:mm' }}</td>
				<td>{{ transaction.cryptoTrade.toCurrency }}</td>
				<td>{{ transaction.cryptoTrade.quantityClient }}</td>
				<td>{{ transaction.cryptoTrade.rateMarketClient }}</td>
				<td>{{ transaction.cryptoTrade.quantity }}</td>
				<td>{{ transaction.cryptoTrade.rateMarket }}</td>
				<td>{{ ctCtr.userCurrencyCode }}</td>
				<td>{{ transaction.transaction.subtotal }}</td>
				<td>{{ transaction.cryptoTrade.fees }}</td>
				<td>{{ transaction.transaction.total }}</td>
				<td>{{ transaction.transaction.subtotalUSD }}</td>
				<td>{{ transaction.cryptoTrade.feesUSD }}</td>
				<td>{{ transaction.transaction.totalUSD }}	</td>
				<td>{{ ctCtr.transactionTypes[transaction.transaction.typeId] }}</td>
				<td>{{ ctCtr.transactionStatus[transaction.transaction.statusId] }}</td>
				<td>{{ transaction.cryptoTrade.timeDone }}</td>
				<td>{{ ctCtr.cryptoStatuses[transaction.cryptoTrade.status] }}</td>
				<td>{{ ctCtr.cryptoStatuses[transaction.withdrawStatus] }}</td>
			</tr>
		</table>
	</div>
</div>
