<div id="tab-content" class="transactions-content">
	<h1>
		<span>{{getMsgs('crypto-leads')}}</span>
	</h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box documents-files-screen">
		<div class="box-header">
			<h2>{{getMsgs('crypto-leads')}}</h2>
			<toggler toggle="filter" default-state="on" on-toggle="filterToggled" />
		</div>
		<form name="_form" novalidate>
			<div class="box-sub-header static-filters">
				<label for="fromDate" class="filter-label">
					{{getMsgs('from')}}:
				</label>
				<div class="date-holder">
					<input id="fromDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="clCtrl.openCalendar($event, 'fromDate')"
						ng-model="clCtrl.filter.fromDate" is-open="clCtrl.openDates.fromDate" enable-time="false" min-date="clCtrl.minDate" max-date="clCtrl.maxDate" datepicker-options="clCtrl.dateOptions" />
					<button type="button" class="btn btn-default" ng-click="clCtrl.openCalendar($event, 'fromDate')"><i class="fa fa-calendar"></i></button>
				</div>

				<label for="toDate" class="filter-label">
					{{getMsgs('to')}}:
				</label>
				<div class="date-holder">
					<input id="toDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="clCtrl.openCalendar($event, 'toDate')"
						ng-model="clCtrl.filter.toDate" is-open="clCtrl.openDates.toDate" enable-time="false" min-date="clCtrl.minDate" max-date="clCtrl.maxDate" datepicker-options="clCtrl.dateOptions" />
					<button type="button" class="btn btn-default" ng-click="clCtrl.openCalendar($event, 'toDate')"><i class="fa fa-calendar"></i></button>
				</div>

				<label>
					<span class="filter-label">{{getMsgs('user-id')}}:</span>
					<input ng-model="clCtrl.filter.userId" type="text" restrict-digits/>
				</label>

				<label>
					<span class="filter-label">{{getMsgs('general.email')}}:</span>
					<input ng-model="clCtrl.filter.email" type="text"/>
				</label>

				<label>
					<span class="filter-label">{{getMsgs('first-name')}}:</span>
					<input ng-model="clCtrl.filter.firstName" type="text"/>
				</label>

				<label>
					<span class="filter-label">{{getMsgs('last-name')}}:</span>
					<input ng-model="clCtrl.filter.lastName" type="text"/>
				</label>

				<label>
					<span class="filter-label">{{getMsgs('general.phone')}}:</span>
					<input ng-model="clCtrl.filter.mobilePhone" type="text"/>
				</label>

				<div class="right-block">
					<button type="button" class="button blue" toggable-off="filter" ng-click="clCtrl.getCryptoLeads(_form)">{{getMsgs('search')}}</button>

					<label>
						<span class="filter-label">{{getMsgs('show-entries')}}:</span>
						<single-select ng-model="clCtrl.filter.resultsPerPage"></single-select>
					</label>
				</div>
			</div>
			<div class="box-sub-header columns" toggable-on="filter">
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('country')}}:</span>
							<span>
								<multiselect model="clCtrl.filter.countries" />
							</span>
						</label>
					</div>
				</div>

				<div class="column-one-third">
					<span class="filter-label">{{getMsgs('approved')}}:</span>
					<span>
						<single-select ng-model="clCtrl.filter.kycStatus" />
					</span>
				</div>

				<div class="column-one-third">
					<span class="filter-label">{{getMsgs('depositsMade')}}:</span>
					<span class="">
						<single-select ng-model="clCtrl.filter.depositsMade"></single-select>
					</span>
				</div>
			</div>
			<div class="box-sub-header" toggable-on="filter">
				<button type="button" class="button blue" ng-click="clCtrl.getCryptoLeads(_form)">{{getMsgs('search')}}</button>
			</div>
		</form>
		<div class="box-body" ng-if="clCtrl.results && clCtrl.results.length == 0">
			<h2>{{getMsgs('no-results-found')}}</h2>
		</div>

		<div class="box-body" ng-if="clCtrl.results && clCtrl.results.length > 0">
			<table class="pretty-table" id="exportTable">
				<thead>
					<tr>
						<th>{{getMsgs('id')}}</th>
						<th>{{getMsgs('name')}}</th>
						<th>{{getMsgs('country')}}</th>
						<th>{{getMsgs('email')}}</th>
						<th>{{getMsgs('kycStatus')}}</th>
						<th>{{getMsgs('timeCreated')}}</th>
						<th>{{getMsgs('depositsMade')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in clCtrl.results">
						<td class="clickable" ng-click="openUserStrip(result.userId)">{{result.userId}}</td>
						<td>{{result.name}}</td>
						<td>{{result.country}}</td>
						<td>{{result.email}}</td>
						<td>{{result.kycStatus}}</td>
						<td>{{result.timeCreated}}</td>
						<td>{{result.depositMade}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="box-footer" ng-if="clCtrl.results && clCtrl.results.length > 0">
			<pagination model="clCtrl.pagination">
				<div class="taR">
					<a onclick="exportSearchCSV('exportTable')" class="icons excel mr10"></a>
				</div>
			</pagination>
		</div>
	</div>
</div>
