<div ng-controller="FilesCtr" id="tab-content" class="holder files-content">
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="global-errors-container" ng-if="localErrorMsgs && localErrorMsgs.length > 0">
		<div class="error big-error" ng-repeat="error in localErrorMsgs">{{error}}</div>
	</div>
	<div class="files-screen">
		<form name="fileForm" class="">
			<div ng-if="action == 'add' || action == 'edit'">
				<!-- Data -->
				<div class="table">
					<div class="table-cell files-left-side">
						<div class="files-data-block">
							<!-- Left col -->
							<div class="files-data-left">
								<div class="table">
									<label class="table-row">
										<span class="table-cell">{{getMsgs('type')}}</span>
										<span class="table-cell">
											<select ng-model="filter.fileType" ng-options="fileType.name disable when (fileType.id == 37 && filter.fileType.id != 37) for fileType in filter.fileTypes"></select>
										</span>
									</label>
									
									<label class="table-row" ng-if="filter.fileType.isCreditCardFile">
										<span class="table-cell">{{getMsgs('credit-card')}}</span>
										<span class="table-cell">
											<single-select ng-model="filter.creditCards"></single-select>
										</span>
									</label>
									
									<div class="table-row" ng-if="isSingle">
										<span class="table-cell">{{getMsgs('file')}}</span>
										<span class="table-cell">
											<button type="button" class="button green" ng-file-select="onFileSelect($files, filter.fileType.id)" onclick="this.value = null" ng-disabled="disableBrowse()">
												{{getMsgs('browse')}}
											</button>
											<span class="error" ng-if="fileTooBig">{{getMsgs('error.file_too_large')}}</span>
											<img class="files-new-file-preview" ng-src="{{uploadedImage}}" ng-if="uploadedImage" />
											<span ng-if="uploadedFileName">{{uploadedFileName}}</span>
										</span>
									</div>
								</div>
								<!-- Additional info -->
								<div class="files-send-to-keesing">
									<button class="button blue" ng-if="isSingle && filter.fileType.isKeesingType && selectedFile.ksStatusId == 1" ng-disabled="!permissions.get('file_sendToKeesing') || !fileName" ng-click="sendKeesingFile()">{{getMsgs('send-to-keesing')}}</button>
								</div>
								<div class="files-additional-info" ng-if="filter.fileType.filesAdditionalInfo">
									<div class="table" ng-if="!filter.fileType.isKeesingType || selectedFile.ksStatusId != 3 || selectedFile.filesKeesingResponse.checkStatus != 0">
										<label class="table-row" ng-if="filter.fileType.filesAdditionalInfo.ccExpDate">
											<span class="table-cell">
												{{getMsgs('expiry')}}
											</span>
											<span class="table-cell red">
												{{filter.creditCards.getOptionById(selectedFile.ccId).expiryDate}}
											</span>
										</label>
										<div class="table-row" ng-if="filter.fileType.filesAdditionalInfo.expDate">
											<span class="table-cell">
												{{getMsgs('expiry')}}
											</span>
											<span class="table-cell">
												<div class="date-holder">
													<input id="expDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-click="openCalendar($event, 'expDate')" ng-model="selectedFile.expDate" is-open="filter.openDates.expDate" enable-time="false" datepicker-options="dateOptions" />
													<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'expDate')"><i class="fa fa-calendar"></i></button>
												</div>
											</span>
										</div>
										<label class="table-row" ng-if="filter.fileType.filesAdditionalInfo.idNumber">
											<span class="table-cell">
												{{getMsgs('number')}}
											</span>
											<span class="table-cell">
												<input type="text" ng-model="selectedFile.number" />
											</span>
										</label>
										<!--<label class="table-row" ng-if="filter.fileType.filesAdditionalInfo.firstName">
											<span class="table-cell">
												{{getMsgs('first-name')}}
											</span>
											<span class="table-cell">
												<input type="text" ng-model="selectedFile.firstName" />
											</span>
										</label>
										<label class="table-row" ng-if="filter.fileType.filesAdditionalInfo.lastName">
											<span class="table-cell">
												{{getMsgs('last-name')}}
											</span>
											<span class="table-cell">
												<input type="text" ng-model="selectedFile.lastName" />
											</span>
										</label>
										<label class="table-row" ng-if="filter.fileType.filesAdditionalInfo.countryId">
											<span class="table-cell">
												{{getMsgs('country')}}
											</span>
											<span class="table-cell">
												<single-select ng-model="filter.countries"></single-select>
											</span>
										</label>-->
										<label class="table-row" ng-if="filter.fileType.filesAdditionalInfo.dateOfBirth">
											<span class="table-cell">
												{{getMsgs('date-of-birth')}}
											</span>
											<span class="table-cell" ng-if="selectedFile.filesKeesingResponse.checkStatus == 0 || !filter.fileType.isKeesingType || selectedFile.ksStatusId != 3">
												{{selectedFile.filesKeesingMatch.userDOB | date: 'dd/MM/yy'}}
											</span>
											<span class="table-cell" ng-if="selectedFile.filesKeesingResponse.checkStatus != 0 && filter.fileType.isKeesingType && selectedFile.ksStatusId == 3">
												<div class="date-holder">
													<input id="userDOB" type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-click="openCalendar($event, 'userDOB')" 
														ng-model="selectedFile.filesKeesingMatch.userDOBUpdate" is-open="filter.openDates.userDOB" enable-time="false" datepicker-options="dateOptions" />
													<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'userDOB')"><i class="fa fa-calendar"></i></button>
												</div>
											</span>
										</label>
										<label class="table-row" ng-if="filter.fileType.filesAdditionalInfo.firstName">
											<span class="table-cell">
												{{getMsgs('first-name')}}
											</span>
											<span class="table-cell" ng-if="selectedFile.filesKeesingResponse.checkStatus == 0 || !filter.fileType.isKeesingType || selectedFile.ksStatusId != 3">
												{{selectedFile.filesKeesingMatch.userFirstName}}
											</span>
											<span class="table-cell" ng-if="selectedFile.filesKeesingResponse.checkStatus != 0 && filter.fileType.isKeesingType && selectedFile.ksStatusId == 3">
												<input type="text" ng-model="selectedFile.filesKeesingMatch.userFirstName" />
											</span>
										</label>
										<label class="table-row" ng-if="filter.fileType.filesAdditionalInfo.lastName">
											<span class="table-cell">
												{{getMsgs('last-name')}}
											</span>
											<span class="table-cell" ng-if="selectedFile.filesKeesingResponse.checkStatus == 0 || !filter.fileType.isKeesingType || selectedFile.ksStatusId != 3">
												{{selectedFile.filesKeesingMatch.userLastName}}
											</span>
											<span class="table-cell" ng-if="selectedFile.filesKeesingResponse.checkStatus != 0 && filter.fileType.isKeesingType && selectedFile.ksStatusId == 3">
												<input type="text" ng-model="selectedFile.filesKeesingMatch.userLastName" />
											</span>
										</label>
									</div>
									<div class="table" ng-if="userAddress && filter.fileType.filesAdditionalInfo.fileType == 22">
										<span class="table-row">
											<span class="table-cell">
												<b><u>{{getMsgs('users-address')}}</u></b><br />
												<div class="ml10">
													{{userAddress.street}} {{userAddress.streetNum}}<br />
													{{userAddress.city}} {{userAddress.zip}}<br />
													{{userAddress.country}}
												</div>
											</span>
										</span>
									</div>
									<div ng-if="filter.fileType.isKeesingType && selectedFile.ksStatusId == 3 && selectedFile.filesKeesingResponse.checkStatus == 0">
										<div class="table">
											<label class="table-row" ng-if="filter.fileType.filesAdditionalInfo.ccExpDate">
												<span class="table-cell">
													{{getMsgs('expiry')}}
												</span>
												<span class="table-cell">
													{{filter.creditCards.getOptionById(selectedFile.ccId).expiryDate}}
												</span>
											</label>
											<label class="table-row" ng-if="filter.fileType.filesAdditionalInfo.expDate">
												<span class="table-cell">
													{{getMsgs('expiry')}}
												</span>
												<span class="table-cell" ng-class="{ 'alert-color': selectedFile.filesKeesingResponse.expireDateDsp < dateNow }">
													{{selectedFile.filesKeesingResponse.expireDateDsp | date: 'dd/MM/yy'}}
												</span>
											</label>
											<label class="table-row" ng-if="filter.fileType.filesAdditionalInfo.idNumber">
												<span class="table-cell">
													{{getMsgs('number')}}
												</span>
												<span class="table-cell">
													{{selectedFile.filesKeesingResponse.docNumber}}
												</span>
											</label>
											<label class="table-row">
												<span class="table-cell">
													{{getMsgs('issued-at')}}
												</span>
												<span class="table-cell">
													{{selectedFile.filesKeesingResponse.issuingCountry}}
												</span>
											</label>
											<label class="table-row">
												<span class="table-cell">
													{{getMsgs('id')}}
												</span>
												<span class="table-cell">
													{{selectedFile.filesKeesingResponse.personalId}}
												</span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<!-- Right col -->
							<div class="files-data-right table">
								<label class="table-row">
									<span class="table-cell">{{getMsgs('file-id')}}</span>
									<span class="table-cell">{{fileId}}<span/>
								</label>
								<label class="table-row">
									<span class="table-cell">{{getMsgs('reference')}}</span>
									<span class="table-cell"><input ng-disabled="selectedFile.isControlApproved" ng-model="selectedFile.reference"/></span>
								</label>
								<label class="table-row">
									<span class="table-cell">{{getMsgs('triggered')}}</span>
									<span class="table-cell">{{dateGetSimple(selectedFile.timeCreated)}}<span/>
								</label>
								<label class="table-row">
									<span class="table-cell">{{getMsgs('received-at')}}</span>
									<span class="table-cell">{{dateGetSimple(selectedFile.uploadDate)}}<span/>
								</label>
								<label class="table-row">
									<span class="table-cell">{{getMsgs('uploaded-by')}}</span>
									<span class="table-cell">{{selectedFile.uploaderName}}<span/>
								</label>
								<label class="table-row">
									<span class="table-cell">{{getMsgs('updated-by')}}</span>
									<span class="table-cell">{{selectedFile.writerName}}<span/>
								</label>
								<label class="table-row" ng-if="filter.fileType.isKeesingType && selectedFile.ksStatusId == 3">
									<span class="table-cell">{{getMsgs('keesing-id')}}</span>
									<span class="table-cell">{{selectedFile.filesKeesingResponse.docId}}<span/>
								</label>
								<label class="table-row" ng-if="filter.fileType.isKeesingType && selectedFile.ksStatusId == 3">
									<span class="table-cell">{{getMsgs('keesing-status')}}</span>
									<span class="table-cell files-keesing-status">
										<span class="files-green" ng-if="selectedFile.filesKeesingResponse.checkStatus == 0">{{getMsgs('ok')}}</span>
										<span class="files-red" ng-if="selectedFile.filesKeesingResponse.checkStatus != 0">{{getMsgs('not-ok')}}</span>
									<span/>
								</label>
							</div>
						</div>
						<!-- Keesing match -->
						<div class="table files-keesing-match" ng-class="keesingGetFullMatchClass()" ng-if="filter.fileType.isKeesingType && selectedFile.ksStatusId == 3 && selectedFile.filesKeesingResponse.checkStatus == 0">
							<label class="table-row">
								<span class="table-cell"></span>
								<span class="table-cell">{{getMsgs('doc-details')}}</span>
								<span class="table-cell files-keesing-match-user">{{getMsgs('user-details')}}</span>
								<span class="table-cell"></span>
							</label>
							<label class="table-row" ng-class="keesingGetClass('flagFirstName')">
								<span class="table-cell">
									{{getMsgs('first-name')}}
								</span>
								<span class="table-cell files-keesing-match-keesing">
									<div>{{selectedFile.filesKeesingMatch.keesingFirstName ? selectedFile.filesKeesingMatch.keesingFirstName : 'null'}}</div>
								</span>
								<span class="table-cell files-keesing-match-user">
									<div>{{selectedFile.filesKeesingMatch.userFirstName}}</div>
								</span>
								<span class="table-cell" ng-class="{empty: selectedFile.filesKeesingMatch.flagFirstName != 1, disabled: keesingSelectedFlags.flagFirstName}">
									<a href="" ng-click="((isSingle && permissions.get('file_updateFirstName')) || (!isSingle && permissions.get('idsFile_updateFirstName'))) && keesingUpdate('flagFirstName')" ng-if="selectedFile.filesKeesingMatch.keesingFirstName" ng-class="{disabled: !((isSingle && permissions.get('file_updateFirstName')) || (!isSingle && permissions.get('idsFile_updateFirstName')))}">{{getMsgs('update')}}</a>
									<a href="" ng-click="keesingDismiss('flagFirstName')">{{getMsgs('dismiss')}}</a>
								</span>
							</label>
							<label class="table-row" ng-class="keesingGetClass('flagLastName')">
								<span class="table-cell">
									{{getMsgs('last-name')}}
								</span>
								<span class="table-cell files-keesing-match-keesing">
									<div>{{selectedFile.filesKeesingMatch.keesingLastName ? selectedFile.filesKeesingMatch.keesingLastName : 'null'}}</div>
								</span>
								<span class="table-cell files-keesing-match-user">
									<div>{{selectedFile.filesKeesingMatch.userLastName}}</div>
								</span>
								<span class="table-cell" ng-class="{empty: selectedFile.filesKeesingMatch.flagLastName != 1, disabled: keesingSelectedFlags.flagLastName}">
									<a href="" ng-click="((isSingle && permissions.get('file_updateLastName')) || (!isSingle && permissions.get('idsFile_updateLastName'))) && keesingUpdate('flagLastName')" ng-if="selectedFile.filesKeesingMatch.keesingLastName" ng-class="{disabled: !((isSingle && permissions.get('file_updateLastName')) || (!isSingle && permissions.get('idsFile_updateLastName')))}">{{getMsgs('update')}}</a>
									<a href="" ng-click="keesingDismiss('flagLastName')">{{getMsgs('dismiss')}}</a>
								</span>
							</label>
							<label class="table-row" ng-class="keesingGetClass('flagCountry')">
								<span class="table-cell">
									{{getMsgs('country')}}
								</span>
								<span class="table-cell files-keesing-match-keesing">
									<div>{{selectedFile.filesKeesingMatch.keesingCountry ? selectedFile.filesKeesingMatch.keesingCountry : 'null'}}</div>
								</span>
								<span class="table-cell files-keesing-match-user">
									<div>{{selectedFile.filesKeesingMatch.userCountry}}</div>
								</span>
								<span class="table-cell" ng-class="{empty: selectedFile.filesKeesingMatch.flagCountry != 1, disabled: keesingSelectedFlags.flagCountry}">
									<a href="" ng-click="keesingUpdate('flagCountry')" ng-if="selectedFile.filesKeesingMatch.keesingCountry">{{getMsgs('update')}}</a>
									<a href="" ng-click="keesingDismiss('flagCountry')">{{getMsgs('dismiss')}}</a>
								</span>
							</label>
							<label class="table-row" ng-class="keesingGetClass('flagDOB')">
								<span class="table-cell">
									{{getMsgs('date-of-birth')}}
								</span>
								<span class="table-cell files-keesing-match-keesing">
									<div>{{selectedFile.filesKeesingMatch.keesingDOB ? dateGetSimple(selectedFile.filesKeesingMatch.keesingDOB) : 'null'}}</div>
								</span>
								<span class="table-cell files-keesing-match-user">
									<div>{{dateGetSimple(selectedFile.filesKeesingMatch.userDOB)}}</div>
								</span>
								<span class="table-cell" ng-class="{empty: selectedFile.filesKeesingMatch.flagDOB != 1, disabled: keesingSelectedFlags.flagDOB}">
									<a href="" ng-click="keesingUpdate('flagDOB')" ng-if="selectedFile.filesKeesingMatch.keesingDOB">{{getMsgs('update')}}</a>
									<a href="" ng-click="keesingDismiss('flagDOB')">{{getMsgs('dismiss')}}</a>
								</span>
							</label>
							<label class="table-row" ng-class="keesingGetClass('flagGender')">
								<span class="table-cell">
									{{getMsgs('gender')}}
								</span>
								<span class="table-cell files-keesing-match-keesing">
									<div>{{selectedFile.filesKeesingMatch.keesingGender ? selectedFile.filesKeesingMatch.keesingGender : 'null'}}</div>
								</span>
								<span class="table-cell files-keesing-match-user">
									<div>{{selectedFile.filesKeesingMatch.userGender}}</div>
								</span>
								<span class="table-cell" ng-class="{empty: selectedFile.filesKeesingMatch.flagGender != 1, disabled: keesingSelectedFlags.flagGender}">
									<a href="" ng-click="keesingUpdate('flagGender')" ng-if="selectedFile.filesKeesingMatch.keesingGender">{{getMsgs('update')}}</a>
									<a href="" ng-click="keesingDismiss('flagGender')">{{getMsgs('dismiss')}}</a>
								</span>
							</label>
						</div>
						<!-- Approve/reject -->
						<div class="table files-approve-reject">
							<div class="table-row">
								<label class="table-cell">
									<input type="checkbox" ng-model="selectedFile.isCurrent" ng-disabled="selectedFile.isCurrentDisable">
									{{getMsgs('files.current')}}
								</label>
							</div>
							<div class="table-row">
								<label class="table-cell">
									<input type="checkbox" ng-model="selectedFile.isApproved" ng-change="toggleApproveReject(selectedFile.isApproved, 'isSupportReject')">
									{{getMsgs('approve')}}
								</label>
								<label class="table-cell">
									<input type="checkbox" ng-model="selectedFile.isSupportReject" ng-change="toggleApproveReject(selectedFile.isSupportReject, 'isApproved')">
									{{getMsgs('reject')}}
								</label>
								<span class="table-cell">
									<single-select ng-model="filter.fileType.rejectReasons" ng-change="toggleSupportReject()" ng-disabled="filter.currentIsSupportReject || selectedFile.isApproved"></single-select>
								</span>
								<span class="table-cell">
									{{getMsgs('comment')}}
								</span>
								<span class="table-cell">
									<input ng-model="selectedFile.comment" ng-disabled="filter.currentIsSupportReject"/>
								</span>
							</div>
							<div class="table-row label" ng-if="selectedFile.isControlApproved || selectedFile.isControlReject || selectedFile.controlRejectReason != 0" ng-show="showControl">
								{{getMsgs('control')}}
							</div>
							<div class="table-row" ng-if="selectedFile.isControlApproved || selectedFile.isControlReject || selectedFile.controlRejectReason != 0" ng-show="showControl">
								<label class="table-cell">
									<input type="checkbox" ng-disabled="true" ng-model="selectedFile.isControlApproved" ng-change="toggleApproveReject(selectedFile.isControlApproved, 'isControlReject')">
									{{getMsgs('approve')}}
								</label>
								<label class="table-cell">
									<input type="checkbox" ng-disabled="true" ng-model="selectedFile.isControlReject" ng-change="toggleApproveReject(selectedFile.isControlReject, 'isControlApproved')">
									{{getMsgs('reject')}}
								</label>
								<span class="table-cell">
									<single-select ng-model="filter.fileType.controlRejectReasons" ng-disabled="true"></single-select>
								</span>
								<span class="table-cell">
									{{getMsgs('comment')}}
								</span>
								<span class="table-cell">
									<input ng-model="selectedFile.controlRejectComment" ng-disabled="true"/>
								</span>
							</div>
						</div>
						<!-- Actions -->
						<div class="files-actions">
							<!--<div class="files-not-needed">
								<label>
									<input type="checkbox" ng-model="filter.notNeeded" ng-checked="selectedFile.fileStatusId == 5">
									{{getMsgs('not-needed')}}
								</label>
							</div>-->
							<button class="button blue" ng-disabled="(isSingle && !permissions.get('file_save')) || (!isSingle && !permissions.get('idsFile_save')) || (fileName && !fileForm.$dirty && !isKeesingUpdated()) || (!fileName && (!selectedFiles || selectedFiles.length == 0))" ng-click="saveFile(selectedFile.id)">{{getMsgs('save')}}</button>
							<button class="button red" ng-if="isSingle" ng-click="close()">{{getMsgs('close')}}</button>
							<div class="files-previous-next" ng-if="(isSingle && fileId > 0) || showPreviousNext">
								<a href="" ng-class="{disabled: !hasPrevious}" ng-click="getPreviousFile()" title="{{getMsgs('previous')}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
								<a href="" ng-class="{disabled: !hasNext}" ng-click="getNextFile()" title="{{getMsgs('next')}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<!-- Preview -->
					<div class="table-cell files-preview" ng-if="fileName">
						<div class="files-preview-controls">
							<span ng-if="fileIsImage">
								<select ng-model="previewControls.zoom" ng-options="level.name for level in previewControls.zoomLevels"></select>
							</span>
							<span ng-if="fileIsImage">
								<i class="fa fa-rotate-left rotate" aria-hidden="true" unselectable ng-click="previewRotate(false)"></i>
							</span>
							<span ng-if="fileIsImage">
								<i class="fa fa-rotate-right rotate" aria-hidden="true" unselectable ng-click="previewRotate(true)"></i>
							</span>
							<span>
								<a href="{{filePath}}" target="_blank">[{{getMsgs('open-in-new-tab')}}]</a>
							</span>
						</div>
						<div class="files-preview-image" ng-if="fileIsImage">
							<div class="files-preview-image-inner">
								<img ng-src="{{filePath}}" ng-class="previewImageClass()">
							</div>
						</div>
						<iframe ng-if="!fileIsImage" ng-src="{{filePath}}"></iframe>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>