<div class="row">
	<h3>{{getMsgs('bank-wire.h3.txt1')}}</h3>
	<p ng-bind-html="getMsgs('bank-wire.p1')"></p>
</div>
<div class="row">
	<h3>{{getMsgs('bank-wire.h3.txt2')}}</h3>
	<p ng-class="{'bank-details': depositTab == 2 }">
		<b>{{getMsgs('bank-wire.txt1')}}:</b> {{::bankWireInfo.accountName}}<br/>
		<b>{{getMsgs('bank-wire.txt3')}}:</b> {{::bankWireInfo.accountNumber}}<br/>
		<b>{{getMsgs('bank-wire.txt4')}}:</b> {{::bankWireInfo.iban}}<br/>
		<b>{{getMsgs('bank-wire.txt5')}}:</b> {{::bankWireInfo.swift}}<br/>
		<b>{{getMsgs('bank-wire.txt6')}}:</b> {{::bankWireInfo.bankName}}<br/>
		<b>{{getMsgs('bank-wire.txt7')}}:</b> {{::bankWireInfo.address}}<br/><br/>
		{{getMsgs(bankWireInfo.limitations)}}

	</p>
</div>
<div class="row" ng-class="{'bank-wire-popup-p': depositTab == 2 }">
	<p>{{getMsgs('bank-wire.p2')}}</p>
	<p>{{getMsgs('bank-wire.p3')}}</p>
</div>