<section class="content">
	<div ng-include="'html/templates/my-account-tabs.html'"></div>
	<div class="content-inner" loading>
		<table class="flex">
			<thead>
				<tr>
					<th>{{getMsgs('bonus-id')}}</th>
					<th>{{getMsgs('status')}}</th>
					<th>{{getMsgs('description')}}</th>
					<th>{{getMsgs('valid-until')}}</th>
					<!--<th>{{getMsgs('details')}}</th>-->
					<th>{{getMsgs('action')}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="bonuses.length == 0">
					<td colspan="6" class="no-results">{{getMsgs('no-results')}}</td>
				</tr>
				<tr ng-repeat="entry in bonuses">
					<td>{{entry.id}}</td>
					<td>{{entry.bonusStateTxt}}</td>
					<td>{{entry.bonusDescriptionTxt}}</td>
					<td>{{entry.endDateTxt}}</td>
					<!--<td>
						<a ng-click="openCopyOpPopup({type: 'termsBonus', data: entry, turnoverFactor: turnoverFactor})">{{getMsgs('click-here')}}</a>
					</td>-->
					<td>
						<button ng-if="entry.bonusStateId == 1 || entry.bonusStateId == 2" class="button small light" ng-class="{ loading: loading }" ng-click="updateBonusStatus(entry)">{{getMsgs('cancel')}}</button>
						<button ng-if="entry.bonusStateId == 10" class="button small light" ng-class="{ loading: loading }" ng-click="openCopyOpPopup({type: 'termsBonus', data: entry, turnoverFactor: turnoverFactor})">{{getMsgs('bonus-claim')}}</button>
					</td>
				</tr>
			</tbody>
		</table>
		<ul class="pagination">
			<li class="prev" ng-if="currentPage != 0" ng-click="getPage('prev')"><a href="">&laquo;</a></li>
			<li class="next" ng-if="currentPage != lastPage" ng-click="getPage('next')"><a href="">&raquo;</a></li>
		</ul>
	</div>
</section>