<form name="_form" novalidate ng-controller="updateUserCtr">
	<h2 class="heading-inner toggle">{{getMsgs('personal-details.h2.txt1')}}</h2>
	<div class="grid-side panel-content">
		<div class="row">
			<label id="firstName-container">
				<span class="label">{{getMsgs('first_name')}}</span>
				<div class="entry-value">{{::copyopUser.user.firstName}}</div>
			</label>
		</div>
		<div class="row">
			<label id="lastName-container">
				<span class="label">{{getMsgs('last_name')}}</span>
				<div class="entry-value">{{::copyopUser.user.lastName}}</div>
			</label>
		</div>
		<div class="row">
			<label id="street-container">
				<span class="label">{{getMsgs('street-address')}}</span>
				<input class="field" type="text" ng-model="copyopUser.user.street" id="street" name="street"/>
			</label>
		</div>
		<div class="row">
			<label id="streetNo-container">
				<span class="label">{{getMsgs('house-flat-num')}}</span>
				<input class="field" type="text" ng-model="copyopUser.user.streetNo" id="streetNo" name="streetNo"/>
			</label>
		</div>
		<div class="row">
			<label id="zipCode-container">
				<span class="label">{{getMsgs('zip-code')}}</span>
				<input class="field" type="text" ng-model="copyopUser.user.zipCode" id="zipCode" name="zipCode"/>
			</label>
		</div>
		<div class="row">
			<label id="cityName-container">
				<span class="label">{{getMsgs('city')}}</span>
				<input class="field" type="text" ng-model="copyopUser.user.cityName" id="cityName" name="cityName"
					required restrict-letters maxlength="24"/>
					
				<span class="error-message icon" ng-if="checkError(_form, 'cityName', 'required')">{{getMsgs('error-mandatory')}} </span>
			</label>
		</div>
		<div class="row">
			<label id="countryId-container">
				<span class="label">{{getMsgs('country')}}</span>
				<div class="select-wrapper country-box">
					<select ng-model="copyopUser.user.country" ng-options="country.displayName for country in countriesList" id="countryId" name="countryId" >
					</select>
					<span>{{copyopUser.user.country.displayName}}</span>
				</div>
			</label>
		</div>
		<div class="row">
			<label id="timeBirthDate-container">
				<span class="label">{{getMsgs('date-of-birth')}}</span>
			</label>
			<div class="field-holder" ng-hide="copyopUser.user.timeBirthDate">
				<div class="select-wrapper day-box">
					<select ng-model="copyopUser.user.birthDayUpdate" ng-options="number for number in Range(1, 31)" id="birthDayUpdate" name="birthDayUpdate">
						<option value="">{{getMsgs('day')}}</option>
					</select>
					<span>{{(copyopUser.user.birthDayUpdate == null) ? getMsgs('day') : copyopUser.user.birthDayUpdate}}</span>
				</div>
				<div class="select-wrapper month-box">
					<select ng-model="copyopUser.user.birthMonthUpdate" ng-options="number for number in Range(1, 12)" id="birthMonthUpdate" name="birthMonthUpdate">
						<option value="">{{getMsgs('month')}}</option>
					</select>
					<span>{{(copyopUser.user.birthMonthUpdate == null) ? getMsgs('month') : copyopUser.user.birthMonthUpdate}}</span>
				</div>
				<div class="select-wrapper year-box">
					<select ng-model="copyopUser.user.birthYearUpdate" ng-options="number for number in Range(yearMinus18, 1912)" id="birthYearUpdate" name="birthYearUpdate">
						<option value="">{{getMsgs('year')}}</option>
					</select>
					<span>{{(copyopUser.user.birthYearUpdate == null) ? getMsgs('year') : copyopUser.user.birthYearUpdate}}</span>
				</div>
			</div>
			<div class="entry-value" ng-if="copyopUser.user.timeBirthDate">{{::user.timeBirthDateDsp | date:'dd.MM.yyyy'}}</div>
		</div>
		<div class="row">
			<span class="label">{{getMsgs('gender')}}</span>
			<div class="field-holder" ng-hide="copyopUser.user.genderTxt">
				<label>
					<input type="radio" ng-model="copyopUser.user.gender" value="M"/>
					<span class="radio-button small-radio"></span>
					{{getMsgs('male')}}
				</label>
				<label>
					<input type="radio" ng-model="copyopUser.user.gender" value="F"/>
					<span class="radio-button small-radio"></span>
					{{getMsgs('female')}}
				</label>
			</div>
			<div class="entry-value" ng-if="copyopUser.user.genderTxt">{{::copyopUser.user.genderTxt}}</div>
		</div>
		<div class="row">
			<label id="email-container">
				<span class="label">{{getMsgs('email2')}}</span>
				<input class="field" type="email" ng-model="copyopUser.user.email" ng-hide="copyopUser.user.emailCompare == copyopUser.user.userName" id="email" name="email" 
					required valid-email/>
				<div class="entry-value" ng-if="copyopUser.user.emailCompare == copyopUser.user.userName">
					{{::copyopUser.user.email}}
				</div>
				
				<span class="error-message icon" ng-if="checkError(_form, 'email', 'required')">{{getMsgs('error-mandatory')}} </span>
				<span class="error-message icon" ng-if="checkError(_form, 'email', 'validEmail')">{{getMsgs('error-invalid-email')}} </span>
			</label>
		</div>
		<div class="row">
			<label id="mobilePhone-container">
				<span class="label">{{getMsgs('mobile')}}</span>
				<div class="phone-holder">
					<div class="prefix-box">
						<input type="text" ng-model="copyopUser.user.country.phoneCode" disabled/>
					</div>
					<div class="phone-box">
						<input type="text" ng-model="copyopUser.user.mobilePhone" id="mobilePhone" name="mobilePhone" 
							autocomplete="off" required ng-minlength="7" restrict-digits />
							
					</div>
				</div>
				<span class="error-message icon" ng-if="checkError(_form, 'mobilePhone', 'required')">{{getMsgs('error-mandatory')}} </span>
				<span class="error-message icon" ng-if="checkError(_form, 'mobilePhone', 'minlength')">{{getMsgs('error-minimum-length', {length: 7})}} </span>
			</label>
		</div>
		<div class="row">
			<label id="landLinePhone-container">
				<span class="label">{{getMsgs('phone')}}</span>
				<div class="phone-holder">
					<div class="prefix-box">
						<input type="text" ng-model="copyopUser.user.country.phoneCode" disabled/>
					</div>
					<div class="phone-box">
						<input type="text" ng-model="copyopUser.user.landLinePhone" id="landLinePhone" name="landLinePhone"
							autocomplete="off" ng-minlength="7" restrict-digits />
							
					</div>
				</div>
				<span class="error-message icon" ng-if="checkError(_form, 'landLinePhone', 'minlength')">{{getMsgs('error-minimum-length', {length: 7})}} </span>
			</label>
		</div>
		<div class="row row-no-padding">
			<label id="landLinePhone-container">
				<input type="checkbox" ng-model="copyopUser.user.isContactByEmail" ng-true-value="0" ng-false-value="1" id="contactByEmailNot" name="contactByEmailNot"/>
				<span class="checkbox small-check"></span>
				{{getMsgs('register.contactbyemail.not')}}
			</label>
		</div>
		<div class="row row-no-padding">
			<label id="landLinePhone-container">
				<input type="checkbox" ng-model="copyopUser.user.isContactBySMS" ng-true-value="0" ng-false-value="1" id="contactBySMSNot" name="contactBySMSNot">
				<span class="checkbox small-check"></span>
				{{getMsgs('register.contactbysms.not')}}
			</label>
		</div>
		<div class="row">
			<button class="button submit" ng-class="{ loading: loading }" type="submit" ng-click="submitUpdateUser(_form)">{{getMsgs('submit')}}</button>
		</div>
	</div>
</form>