<header class="heading-page">
	<h1 class="heading coins icon">{{getMsgs('copyop-coins.h1')}}</h1>
</header>
<div class="content-inner convert-coins-holder flow" loading>
	<div class="coins-info icon start">
		<div>
			<span class="coins-text" ng-bind-html="getMsgs('copyop-coins.span1')"></span>
			<span class="coins-count">{{coins.balance}}</span>
			<span class="coins-info dIB" ng-bind-html="getMsgs('copyop-coins.span2')"></span>
		</div>
	</div>
	<div class="convert-coins-box end">
		<button class="button convert-coins" ng-class="{ loading: loading }" ng-disabled="coins.balance < coins._rates[0].coins" ng-click="openCopyOpPopup({type: 'cashIt'});">{{getMsgs('copyop-coins.but-txt')}}</button>
		<p ng-if="coins.balance > 0 && coins.convertRemainingTime > 0" ng-bind-html="getMsgs('copyop-coins.p1',{'days': coins.convertRemainingTime})"></p>
	</div>
</div>
<div class="content-inner">
	<div class="box panel">
		<h2 class="heading-inner toggle">{{getMsgs('copyop-coins.h2.txt1')}}</h2>
		<div class="panel-content">
			<h3>{{getMsgs('copyop-coins.h3')}}</h3>
				<p ng-bind-html="getMsgs('copyop-coins.p2', {coins_first_step: coins._rates[0].coins})"></p>
				<p ng-bind-html="getMsgs('copyop-coins.p3')"></p>
				<div ng-bind-html="getMsgs('copyop-coins.p4', {'user-currency-min-inv-amount': coins.minInvAmountDsp, coins_step_1: coins._coinsPerAmountInv[0].amount, 'num-coins-step1': coins._coinsPerAmountInv[0].coins})"></div>
				<p class="mt10" ng-bind-html="getMsgs('copyop-coins.p5', {'coins_step_2.1': coins._coinsPerAmountInv[1].amount, 'coins_step_2.2': coins._coinsPerAmountInv[2].amount, 'num-coins-step2': coins._coinsPerAmountInv[1].coins})"></p>
				<p ng-bind-html="getMsgs('copyop-coins.p6', {'coins_step_3': coins._coinsPerAmountInv[3].amount, 'num-coins-step3': coins._coinsPerAmountInv[3].coins})"></p>
				<p ng-bind-html="getMsgs('copyop-coins.p7')"></p>
				<div ng-bind-html="getMsgs('copyop-coins.p8', {'follow-coins': coins.followCoins})"></div>
		</div>
	</div>
	<div class="box panel">
		<h2 class="heading-inner toggle">{{getMsgs('copyop-coins.h2.txt2')}}</h2>
		<div class="panel-content">
			<div class="row">
				<table class="plain-table">
					<tr ng-repeat="rate in coins._rates">
						<td ng-bind-html="getMsgs('copyop-coins.txt', {number: rate.coins, 'coins-icon' : 'coins icon'})"></td>
						<td>{{::rate.amount}}</td>
					</tr>
				</table>
			</div>
			<div class="row">
				<p>{{getMsgs('copyop-coins.under-table')}}</p>
			</div>
		</div>
	</div>
</div>