<section class="content">
	<div ng-include="'html/templates/my-account-tabs.html'"></div>
	<div class="content-inner">
		<section class="box panel active">
			<h2 class="heading-inner toggle">{{getMsgs('deposit')}}</h2>
			<div class="panel-content">
				<div ng-include="'html/templates/deposit-tabs.html'"></div>
				<div class="row mb30">
					<img src="img/cards.png" width="72" height="21"/>
				</div>
				<div class="row">
					<div class="compact-box extended-box" ng-controller="DepositCtrl" ng-show="cards.length > 1" >
						<form name="_form" novalidate>
							<div class="row">
								<div class="select-wrapper ttUC short">
									<select class="ttUC" id="ccNum" ng-model="depositNum" ng-options="card.ccNumberDsp + ' ' + card.typeName for card in cards | filter: { expMonth: '!null' }" 
										required>
										<option value="">{{cards[0].typeName}}</option>
									</select>
									<span title="{{depositNum.typeName}}">
										{{(depositNum == null) ? getMsgs('select-card') : depositNum.ccNumberDsp+ ' ' + depositNum.typeName}}
									</span>
								</div>
								<div class="cvv-holder new-card">
									<div class="cvv-box">
										<input class="field" type="text" placeholder="{{getMsgs('cvv')}}" ng-model="ccPass" id="ccPass" name="ccPass" 
											required autocomplete="off" minlength="3" maxlength="3" restrict-digits/>
									</div>
									<div>
										<div class="tooltip-holder">
											<span class="hint tooltip"></span>
											<div class="tooltip-message">
												<div><img src="img/ccv.png" width="58" height="36" alt="CCV"/></div>
												<div>{{getMsgs('cvv-description')}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="compact-box row">
								<div class="row">
									<div class="currency-holder">
										<div class="currency-amount">
											<input class="field" type="text" ng-model="depositAmount" placeholder="{{getMsgs('deposit-amount')}}" id="deposit" name="deposit" 
												autocomplete="off" restrict-float required/>
										</div>
										<div class="currency-box">
											<span class="currency">{{copyopUser.user.currency.symbol}}</span>
										</div>
									</div>
								</div>
								<div class="row">
									<button class="button submit" type="submit" ng-class="{ loading: loading }" ng-click="insertDepositCard(_form)">
										{{getMsgs('submit')}}
									</button>
								</div>
								<div class="row error-message" id="globalErrorField"></div>
								<div class="row error-message taC">
									<span ng-if="checkError(_form, 'deposit', 'required')">{{getMsgs('deposit-amount')}}: {{getMsgs('error-mandatory')}} </span>
									<span ng-if="checkError(_form, 'ccPass', 'required')">{{getMsgs('cvv')}}: {{getMsgs('error-mandatory')}} </span>
									<span ng-if="checkError(_form, 'ccPass', 'minlength')">{{getMsgs('cvv')}}: {{getMsgs('error-minimum-length', {length: 3})}} </span>
								</div>
							</div>
							<span class="icon info">{{getMsgs('cvv-security')}}</span>
						</form>
					</div>
				</div>
				<div class="row line">
					<a class="more-other" ui-sref="ln.in.a.personal.my-account.banking.bank-wire({ln:skinLanguage})">{{getMsgs('other-funding-methods')}} &#187;</a>
				</div>
			</div>
		</section>
		<section class="box panel">
			<div ng-include="'html/templates/withdraw.html'"></div>
		</section>
		<section class="box panel">
			<div ng-include="'html/templates/banking-history.html'"></div>
		</section>
	</div>
</section>