<section class="content">
	<div ng-include="'html/templates/my-account-tabs.html'"></div>
	<div class="content-inner">
		<section class="box panel questionnaire-box">
			<div ng-controller="regulationDocuments" ng-init="passParams({type: 'regulationDocuments', popupState: isSuspendedDueDocuments() ? 1 : 0})">
				<div class="bottom-line">
					<div class="orange-txt-color" ng-bind-html="getMsgs('popUp-regulation-docs.blocked.txt1')" ng-if="popupState == 1"></div>
					<div ng-bind-html="getMsgs('documents-text1')"></div>
					<div class="mt10" ng-bind-html="getMsgs('documents-text2')"></div>
					<ol class="doc-required-list">
						<li ng-bind-html="getMsgs('documents-text3')"></li>
						<li ng-bind-html="getMsgs('documents-text4')"></li>
						<li ng-bind-html="getMsgs('documents-text5')"></li>
					</ol>
					<p class="mb20 dark-link-in b" ng-bind-html="getMsgs('popUp-regulation-docs.txt5', {link: 'img/pdf/co_how_to_upload_document_' + selectedLangugeFlag + '.pdf'})"></p>
				</div>
				<div ng-include="'html/templates/regulation-docs-content.html'" class="regulation-docs-middle"></div>
				<p class="error-message" ng-if="fileTooBig">{{getMsgs('file-too-big')}}</p>
			</div>
		</section>
	</div>
</section>