<form class="first-deposit-page" name="_form" novalidate>
	<div class="grid">
		<span class="error-message global-star" ng-if="checkRequired(_form, ['depositAmount', 'ccNumber', 'expMonth', 'expYear', 'ccPass', 'holderName', 'street', 'cityName', 'zipCode', 'birthDayUpdate', 'birthMonthUpdate', 'birthYearUpdate'])">* {{getMsgs('error-mandatory')}} </span>
		<div class="row">
			<div class="currency-holder">
				<div class="amount-holder pR" ng-class="{ 'error-star': checkError(_form, 'depositAmount', 'required') }">
					<input class="field" type="text" placeholder="{{getMsgs('amount2')}}" ng-model="form.depositAmount" id="depositAmount" name="depositAmount" 
						autocomplete="off" restrict-float required/>
				</div>
				<div ng-class="{'currency-box' : additionalFields, currency : !additionalFields}">
					<div class="select-wrapper" ng-if="additionalFields">
						<select ng-model="copyopUser.user.currency" ng-options="currency.code for currency in skinCurrencies" id="currencyId" name="currencyId" 
							ng-change="updateDefaultDepositAmount(_form)" required>
						</select> 
						<span>{{copyopUser.user.currency.symbol}}</span>
					</div>
					<span>{{!additionalFields ? copyopUser.user.currency.symbol : ''}}</span>
				</div>
			</div>
		</div>
		<div class="row pR" ng-class="{ 'error-star': checkError(_form, 'email', 'required') }">
			<input class="field" type="text" placeholder="{{getMsgs('email-account')}}" ng-model="form.email" id="email" name="email" 
				required autocomplete="off" />
		</div>
		<div class="row pR" ng-class="{ 'error-star': checkError(_form, 'verificationCode', 'required') }">
			<input class="field" type="text" placeholder="{{getMsgs('auth-code')}}" ng-model="form.verificationCode" id="verificationCode" name="verificationCode" 
				required/>
		</div>


		<div class="row pR" ng-if="additionalFields" ng-class="{ 'error-star': checkError(_form, 'street', 'required') }">
			<input class="field" type="text" placeholder="{{getMsgs('street-address')}}" ng-model="form.street" id="street" name="street" 
				required autocomplete="off" />
		</div>
		<div class="row city-info" ng-if="additionalFields">
			<div class="city pR" ng-class="{ 'error-star': checkError(_form, 'cityName', 'required') }">
				<input class="field" type="text" placeholder="{{getMsgs('city')}}" ng-model="form.cityName" id="cityName" name="cityName" 
					required autocomplete="off"/>
			</div>
			<div class="zip-code">
				<div class="pR" ng-class="{ 'error-star': checkError(_form, 'zipCode', 'required') }">
					<input class="field ttUC" type="text" placeholder="{{getMsgs('zip')}}" ng-model="form.zipCode" id="zipCode" name="zipCode" 
						required autocomplete="off"/>
				</div>
			</div>
		</div>
		<div class="row" ng-if="additionalFields">
			<span class="label">{{getMsgs('day-of-birth')}}</span>
			<div class="birth-date">
				<div class="birth-date-cell">
					<div class="select-wrapper" ng-class="{'error': addErrorClass(_form,'birthDayUpdate'), 'error-star': checkError(_form, 'birthDayUpdate', 'required')}">
						<select ng-model="form.birthDayUpdate" ng-options="number for number in Range(1, 31)" id="birthDayUpdate" name="birthDayUpdate" 
							required>
							<option value="">{{getMsgs('dd')}}</option>
						</select>
						<span>{{(form.birthDayUpdate == null) ? getMsgs('dd') : form.birthDayUpdate}}</span>
					</div>
				</div>
				<div class="birth-date-cell">
					<div class="select-wrapper" ng-class="{'error': addErrorClass(_form,'birthMonthUpdate'), 'error-star': checkError(_form, 'birthMonthUpdate', 'required')}">
						<select ng-model="form.birthMonthUpdate" ng-options="number for number in Range(1, 12)" id="birthMonthUpdate" name="birthMonthUpdate" 
							required>
							<option value="">{{getMsgs('mm')}}</option>
						</select>
						<span>{{(form.birthMonthUpdate == null) ? getMsgs('mm') : form.birthMonthUpdate}}</span>
					</div>
				</div>
				<div class="birth-date-cell">
					<div class="select-wrapper" ng-class="{'error': addErrorClass(_form,'birthYearUpdate'), 'error-star': checkError(_form, 'birthYearUpdate', 'required')}">
						<select ng-model="form.birthYearUpdate" ng-options="number for number in Range(yearMinus18, 1912)" id="birthYearUpdate" name="birthYearUpdate" 
							required>
							<option value="">{{getMsgs('yyyy-no-transl')}}</option>
						</select>
						<span>{{(form.birthYearUpdate == null) ? getMsgs('yyyy-no-transl') : form.birthYearUpdate}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt35">
			<button class="button highlight" ng-class="{ loading: loading }" ng-click="submitNeteller(_form)">
				{{getMsgs('deposit')}}
			</button>
		</div>
		<div class="deposit-later clear" ng-if="isMobile">
			<div class="apple-store">
				<a href="{{appsflyerios}}" target="_blank">{{getMsgs('deposit-later')}}<a/>
			</div>
			<div class="google-play">
				<a href="{{appsflyerandroid}}" target="_blank">{{getMsgs('deposit-later')}}<a/>
			</div>
		</div>
		<div class="row global-error-message mt20" id="globalErrorFieldPopup"></div>
	</div>
</form>