<header class="home-header">
	<div class="fL home-header-left-side">
		<h3 class="home-header-title">{{getMsgs('hello')}} {{::copyopUser.user.firstName}}</h3>
		<h4 class="home-header-subtitle">{{holidayMessage}}</h4>
		<div class="home-header-last-active">{{getMsgs('header-home.last-active', {date:copyopUser.user.previousLoginTimeHeader})}}</div>
	</div>
	<div class="fR name-tag-holder">
		<div class="name-tag" ng-if="false">
			<div class="name-tag-header fb middle icon">
				<div class="name-tag-title icon small">{{getMsgs('best-trader')}}</div>
				<div class="name-tag-subtitle">{{getMsgs('header-home.txt1')}}</div>
			</div>
			<div class="name-tag-user">
				<img class="name-tag-img tag vaM" src="" width='50' height='50' />
				<div class="name-tag-name">Yossi Bolshovesky</div>
			</div>
			<div class="name-tag-stat-holder">
				<ul class="name-tag-stat">
					<li style="width:43%">+$564K</li>
					<li style="width:34%">97%</li>
					<li style="width:23%">49</li>
				</ul>
			</div>
		</div>
		<div class="name-tag" ng-repeat="trade in hotTrades | limitTo: 1">
			<div class="name-tag-header best-trade middle icon">
				<div class="name-tag-title icon small">{{getMsgs('best-trade')}}</div>
				<div class="name-tag-subtitle">{{getMsgs('header-home.txt2', {'time': trade.lastTradinghours + ' hours'})}}</div>
			</div>
			<a ui-sref="ln.in.a.user.overview({userId:trade.userId, ln:skinLanguage})" class="name-tag-user">
				<img class="name-tag-img tag vaM" ng-src="{{trade.avatar}}" width='50' height='50' />
				<div class="name-tag-name">{{trade.nickname}}</div>
			</a>
			<div class="name-tag-stat-holder">
				<ul class="name-tag-stat">
					<li class="middle-txt" style="width:43%">+{{trade.profit}}</li>
					<li class="small-txt" style="width:34%">{{trade.assetName}}</li>
					<li class="small-txt" style="width:23%">{{trade.assetCreateDateTime | date:'HH:mm dd/MM'}}</li>
				</ul>
			</div>
		</div>
		<div class="name-tag" ng-repeat="trader in hotCopiers | limitTo: 1">
			<div class="name-tag-header best-copier middle icon">
				<div class="name-tag-title icon small">{{getMsgs('best-copier')}}</div>
				<div class="name-tag-subtitle">{{getMsgs('header-home.txt2', {'time': trader.lastTradinghours + ' hours'})}}</div>
			</div>
			<a ui-sref="ln.in.a.user.overview({userId:trader.userId, ln:skinLanguage})" class="name-tag-user">
				<img class="name-tag-img tag vaM" ng-src="{{trader.avatar}}" width='50' height='50' />
				<div class="name-tag-name">{{trader.nickname}}</div>
			</a>
			<div class="name-tag-stat-holder">
				<ul class="name-tag-stat">
					<li style="width:43%">+{{trader.profit}}</li>
					<li style="width:34%">{{trader.hitRate}}</li>
					<li style="width:23%">{{trader.copiers}}</li>
				</ul>
			</div>
		</div>
	</div>
</header>