<div class="feed-header">{{getMsgs('inbox')}}</div>
<div class="scroll-wrapper" onmouseover="scrollerAdd(this)">
	<ul class="feed scroll-content">
		<li ng-repeat="entry in inbox" class="animate-repeat">
			<h3>
				<a ui-sref="ln.in.a.user.overview({userId:entry.userId, ln:skinLanguage})">
					<img class="thumb" ng-src="{{entry.avatar}}" fallback-src="{{entry.fallbackSrc}}" width="50" height="50"/>
					<div ng-bind-html="entry.action" compile></div>
					<div ng-bind-html="entry.title" compile></div>
				</a>
			</h3>
			<div class="flow">
				<div class="text">
					<p ng-bind-html="entry.body" compile></p>
					<time>{{entry.timeCreated}}</time>
				</div>
				<div class="button-box" ng-if="entry.followBtn || entry.watchBtn || entry.copyBtn">
					<button class="button tall icon copy" ng-class="{ing: usersInfo[entry.userId].copying, disabled: usersInfo[cUser.userId].frozen}" 
						ng-if="entry.copyBtn" ng-click="openCopyOpPopup({destUserId: entry.userId, type: 'copy', obj: entry})">
						{{usersInfo[entry.userId].copying ? getMsgs('copying') : getMsgs('copy2')}}
					</button>
					<button class="button tall icon watch" ng-class="{ing: usersInfo[entry.userId].watching || usersInfo[entry.userId].copying}" 
						ng-if="entry.watchBtn" ng-click="openCopyOpPopup({destUserId: entry.userId, type: 'watch'})" >
						{{usersInfo[entry.userId].watching || usersInfo[entry.userId].copying ? getMsgs('watching') : getMsgs('watch2')}}
					</button>
					<button class="button icon follow" ng-if="entry.followBtn" ng-click="openCopyOpPopup({data: entry, type: 'follow'})" ng-disabled="entry.followBtnDisabled">
						{{getMsgs('buy-now')}}
					</button>
					<button class="button" ng-if="entry.depositBtn" ng-click="openCopyOpPopup({type: 'deposit'})">{{getMsgs('deposit')}}</button>
					<button class="button" ng-if="entry.coinsBtn" ng-click="$state.go('ln.in.a.personal.copyop-coins', {ln: skinLanguage})">{{getMsgs('view-coins')}}</button>
				</div>
			</div>
		</li>
	</ul>
</div>