<section class="content">
	<div ng-include="'html/templates/my-account-tabs.html'"></div>
	<div class="content-inner" loading>
		<div class="options-holder account clear">
			<ul class="table ttUC">
				<li class="taC" ng-class="{ current: $state.includes('ln.in.a.personal.my-account.my-options.open-options') }" 
					ng-click="$state.go('ln.in.a.personal.my-account.my-options.open-options', {ln: skinLanguage});">
					<span>{{getMsgs('open-options')}}</span>
				</li>
				<li class="taC" ng-class="{ current: $state.includes('ln.in.a.personal.my-account.my-options.settled-options') }" 
					ng-click="$state.go('ln.in.a.personal.my-account.my-options.settled-options', {ln: skinLanguage});">
					<span>{{getMsgs('settled-options')}}</span>
				</li>
			</ul>
			<div ng-include="'html/templates/options-table.html'"></div>
		</div>
		<ul class="pagination">
			<li class="prev" ng-if="currentPage != 0" ng-click="getPage('prev')"><a href="">&laquo;</a></li>
			<li class="next" ng-if="currentPage != lastPage" ng-click="getPage('next')"><a href="">&raquo;</a></li>
		</ul>
	</div>
</section>