<ul class="feed " loading>
	<li ng-repeat="entry in newsFeed" ng-class="{ followable: entry.followBtn, 'notification icon': entry.msgType == 23, 'main-message': entry.msgType != 23 }" ng-click="shereCopyOp(entry)" ng-hide="entry.hide" class="animate-repeat">
		<div class="entry-header">
			<h3>
				<a ng-if="entry.msgType != 23" ui-sref="ln.in.a.user.overview({userId: entry.userId, ln:skinLanguage})">
					<img class="thumb" ng-src="{{entry.avatar}}" fallback-src="{{entry.fallbackSrc}}" width="50" height="50"/>
					<div ng-bind-html="entry.action" compile></div>
					<div ng-bind-html="entry.title" compile></div>
				</a>
				<span ng-if="entry.msgType == 23" ng-bind-html="entry.title" compile></span>
			</h3>
			<ul class="info-nav" ng-if="entry.title == '' && entry.msgType != 18">
				<li class="icon copiers">{{entry.copiers}} {{getMsgs('copiers')}}</li>
				<li class="icon watchers">{{entry.watchers}} {{getMsgs('watchers')}}</li>
			</ul>
		</div>
		<div class="flow">
			<div class="text">
				<p ng-bind-html="entry.body" compile></p>
				<time ng-if="entry.msgType != 23">{{entry.timeCreated}}</time>
			</div>
			<div class="button-box" ng-if="entry.followBtn || entry.watchBtn || entry.copyBtn">
				<button class="button tall icon copy" ng-class="{ing: usersInfo[entry.userId].copying, disabled: usersInfo[cUser.userId].frozen}" ng-if="entry.copyBtn" 
					ng-click="openCopyOpPopup({destUserId: entry.userId, type: 'copy', obj: entry})">
					{{usersInfo[entry.userId].copying ? getMsgs('copying') : getMsgs('copy2')}}
				</button>
				<button class="button tall icon watch" ng-class="{ing: usersInfo[entry.userId].watching || usersInfo[entry.userId].copying}" 
					ng-if="entry.watchBtn" ng-click="openCopyOpPopup({destUserId: entry.userId, type: 'watch'})" >
					{{usersInfo[entry.userId].watching || usersInfo[entry.userId].copying ? getMsgs('watching') : getMsgs('watch2')}}
				</button>
				<button class="button icon follow" ng-if="entry.followBtn" ng-click="openCopyOpPopup({data: entry, type: 'follow'})" ng-disabled="entry.followBtnDisabled">
					{{getMsgs('buy-now')}}
				</button>
			</div>
		</div>
	</li>
</ul>