<div class="news-holder">
	<div class="news-header" id="news-header">
		<header class="heading-page">
			<h2 class="heading icon">{{getMsgs('news-feed')}}</h2>
		</header>
		<ul class="small-tabs">
			<li ng-class="{current: unread.currentTab == 1}" ng-click="feedTabs(1)">{{getMsgs('news')}} <span class="count" ng-show="unread.news > 0">{{unread.news}}</span></li>
			<li ng-class="{current: unread.currentTab == 2}" ng-click="feedTabs(2)">{{getMsgs('hot')}}</li>
			<li ng-class="{current: unread.currentTab == 3}" ng-click="feedTabs(3)">{{getMsgs('explore')}} <span class="count" ng-show="unread.explore > 0">{{unread.explore}}</span></li>
		</ul>
	</div>
	<div class="news-scroll scroll-wrapper" id="rightColumHeight" onmouseover="scrollerAdd(this)">
		<div class="slider-holder scroll-content">
			<div ng-show="unread.currentTab == 1" ng-include="'html/templates/news-feed-content.html'" ng-controller="copyopNewsCtrl"></div>
			<div ng-show="unread.currentTab == 2" ng-include="'html/templates/best-users.html'"></div>
			<div ng-show="unread.currentTab == 3" ng-include="'html/templates/explore.html'"></div>
		</div>
	</div>
</div>