<ul class="table flex link-nav">
	<li>
		<a class="item arrow" ng-class="{ current: $state.is('ln.in.a.personal.my-account.banking.bank-wire') }" ui-sref="ln.in.a.personal.my-account.banking.bank-wire({ln:skinLanguage})">
			{{getMsgs('bank-wire.txt')}}
		</a>
	</li>
	<li>
		<a class="item arrow" ng-class="{ current: $state.is('ln.in.a.personal.my-account.banking.neteller') }" ui-sref="ln.in.a.personal.my-account.banking.neteller({ln:skinLanguage})">
			{{getMsgs('neteller')}}
		</a>
	</li>
	<li ng-if="hasDirect24">
		<a class="item arrow" ng-class="{ current: $state.is('ln.in.a.personal.my-account.banking.direct24') }" ui-sref="ln.in.a.personal.my-account.banking.direct24({ln:skinLanguage})">
			DIRECT24
		</a>
	</li>
	<li ng-if="hasGiropay">
		<a class="item arrow" ng-class="{ current: $state.is('ln.in.a.personal.my-account.banking.giropay') }" ui-sref="ln.in.a.personal.my-account.banking.giropay({ln:skinLanguage})">
			GIROPAY
		</a>
	</li>
	<li ng-if="hasEps">
		<a class="item arrow" ng-class="{ current: $state.is('ln.in.a.personal.my-account.banking.eps') }" ui-sref="ln.in.a.personal.my-account.banking.eps({ln:skinLanguage})">
			EPS
		</a>
	</li>
</ul>