<div class="popUp-container" ng-controller="insertCardCtrl" ng-init="passParams({isPopUp: true})" ng-keydown="closePopup({'event' : $event})" ng-mousedown="closePopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4 vaT">
					<div class="popUp-content popUp-first-deposit" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closePopup()"></i>
						<div class="popUp-header">
							<div ng-include="'html/templates/first-deposit-header.html'"></div>
						</div>
						<div class="popUp-body" ng-class="{'bank-wire-body': depositTab == 2 }">
							<div ng-if="depositTab == 1" ng-include="'html/templates/first-deposit.html'"></div>
							<div ng-if="depositTab == 2" ng-include="'html/templates/popUp-otherFundingMethods.html'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>