<div class="popUp-container" ng-keydown="closePopup({'event' : $event})" ng-mousedown="closePopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content regulation-status" ng-class="className" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closePopup()" ng-if="className != 'restricted-no-thanks'"></i>
						<div class="popUp-box">
							<!-- PopUp Body -->
							<div class="popUp-body">
								<i class="regulation-status-imgs" ng-if="className != 'restricted-no-thanks'"></i>
								<div class="regulation-status-txt">
									<div ng-bind-html="getMsgs('popUp-regulation-status.text.passed')" ng-if="className == 'passed'"></div>
									<div ng-if="className == 'restricted'">
										<p>{{getMsgs('popUp-regulation-status.text.restricted1')}}</p>
										<p>{{getMsgs('popUp-regulation-status.text.restricted2')}}</p>
										<p>{{getMsgs('popUp-regulation-status.text.restricted3')}}</p>
										<p class="b">{{getMsgs('popUp-regulation-status.text.restricted4')}}</p>
									</div>
									<div ng-if="className == 'restricted-no-thanks'">
										<p class="b">{{getMsgs('popUp-regulation-status.text.restricted-no-thanks1')}}</p>
										<i class="regulation-status-imgs"></i>
										<p ng-bind-html="getMsgs('popUp-regulation-status.text.restricted-no-thanks2', {'email-link': 'mailto:support@copyop.com'})"></p>
									</div>
									<div ng-if="className == 'restricted-loss'">
										<p class="ttUC">{{getMsgs('note')}}</p>
										<p ng-bind-html="getMsgs('popUp-regulation-status.text.restricted-loss1', {'lost-amount': copyopUser.userRegulation.thresholdBlockDsp})"></p>
										<p>{{getMsgs('popUp-regulation-status.text.restricted-loss2')}}</p>
										<p ng-bind-html="getMsgs('popUp-regulation-status.text.restricted-loss3', {link: skinLanguage + '/general-terms/risk'})"></p>
									</div>
									<div ng-if="className == 'blocked'">
										<p ng-bind-html="getMsgs('popUp-regulation-status.text.blocked1')"></p>
										<p class="fs14 fw400 mt25" ng-bind-html="getMsgs('popUp-regulation-status.text.blocked2', {link:  skinLanguage + '/contact-us'})"></p>
									</div>
									<div ng-if="className == 'blocked-pep'">
										<p>{{getMsgs('popUp-regulation-status.text.blocked-pep1')}}</p>
										<p ng-bind-html="getMsgs('popUp-regulation-status.text.blocked-pep2', {'style': 'key-word-bold','e-mail': copyopUser.user.email})"></p>
										<p class="fs14 fw400 mt25" ng-bind-html="getMsgs('popUp-regulation-status.text.blocked2', {link: skinLanguage + '/contact-us'})"></p>
									</div>
									<div ng-if="className == 'suspended-cnmv'">
										<div class="regulation-status-cnmv-header-holder">
											<div class="regulation-status-cnmv-header step-1">
												<i class="first"></i>
												<i class="second"></i>
											</div>
										</div>
										
										<p>{{getMsgs('popUp-regulation-status.text.suspended-cnmv1')}}</p>
										<p>{{getMsgs('popUp-regulation-status.text.suspended-cnmv2')}}</p>
										<p>{{getMsgs('popUp-regulation-status.text.suspended-cnmv3')}}</p>
										<p>{{getMsgs('popUp-regulation-status.text.suspended-cnmv4')}}</p>
									</div>
									<div ng-if="className == 'suspended-cnmv-docs'">
										<div class="regulation-status-cnmv-header-holder">
											<div class="regulation-status-cnmv-header step-2">
												<i class="first"></i>
												<i class="second"></i>
											</div>
										</div>
										
										<p>{{getMsgs('popUp-regulation-status.text.suspended-cnmv.docs1')}}</p>
										<p>{{getMsgs('popUp-regulation-status.text.suspended-cnmv.docs2')}}</p>
										
										<div class="download-block">
											<div class="download-title">{{getMsgs('popUp-regulation-status.text.suspended-cnmv.docs.download-and-sign')}}</div>
											<a class="download-pdf" ng-href="img/pdf/cnmv_{{skinLanguage}}.pdf" target="_blank"></a>
										</div>
										
										<p>{{getMsgs('popUp-regulation-status.text.suspended-cnmv.docs3')}}</p>
										
										<div class="docs-wrapper">
											<div class="docs-holder flex">
												<div>
													<span class="docs-holder-w3 docs-button-holder">
														<button class="button_small_nd" ng-class="{ loading: selectedDoc.loading }" ng-disabled="isSubmitting" ng-file-select="onFileSelect($files, doc.fileTypeId, doc)" accept="image/*" onclick="this.value = null">
															{{getMsgs('popUp-regulation-status.text.suspended-cnmv.docs.browse')}}
														</button>
													</span>
													<span class="fs12">{{uploadedFileName}}</span>
												</div>
											</div>
											<div class="error-message" ng-if="fileTooBig">{{getMsgs('popUp-regulation-status.text.suspended-cnmv.docs.file-too-big')}}</div>
											<div class="error-message" ng-if="errorMsg" ng-bind-html="errorMsg"></div>
										</div>
										
										<p>{{getMsgs('popUp-regulation-status.text.suspended-cnmv.docs4')}}</p>
										<p>&nbsp;</p>
										<p>{{getMsgs('popUp-regulation-status.text.suspended-cnmv.docs5')}}</p>
										
										<p>
											<span>{{supportPhone}}</span>
											<a ng-href="mailto:{{supportEmail}}">{{supportEmail}}</a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="popUp-footer clear" ng-hide="className == 'passed' || className == 'restricted-no-thanks'">
							<button class="button agree ttUC" ng-class="{ loading: loading }" ng-click="regAction(true)" ng-if="className == 'restricted' || className == 'suspended-cnmv'">
								<span ng-if="className != 'suspended-cnmv'">{{getMsgs('i-agree')}}</span>
								<span ng-if="className == 'suspended-cnmv'">{{getMsgs('popUp-regulation-status.text.suspended-cnmv.i-agree')}}</span>
							</button>
							<button class="button cancel-v2 ttUC" ng-click="regAction(false)" ng-if="className == 'restricted' || className == 'suspended-cnmv'">
								<span ng-if="className != 'suspended-cnmv'">{{getMsgs('no-thanks')}}</span>
								<span ng-if="className == 'suspended-cnmv'">{{getMsgs('popUp-regulation-status.text.suspended-cnmv.no-thanks')}}</span>
							</button>
							<button class="button done" ng-click="regAction()" ng-disabled="className == 'suspended-cnmv-docs' && !isUploaded" ng-if="className != 'restricted' && className != 'suspended-cnmv'">
								{{btnTxt}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>