<div class="popUp-container" id="popUp-container-info" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content frozen" id="info-popup-container" data-is-popup-holder><!--popUp-watching, frozen -->
						<i class="popUp-close icon" ng-click="closePopUp()"></i>
						<div class="popUp-box">
							<!-- PopUp Header -->
							<div class="popUp-header">{{header}}</div>

							<!-- PopUp Body -->
							<div class="popUp-body" ng-bind-html="body"></div>
						</div>
						<div class="popUp-footer clear">
							<button class="button cancel" ng-if="popUpType == 'confirm'" ng-click="closePopUp()">
								{{getMsgs('cancel')}}
							</button>
							<button class="button submit" ng-class="{ loading: loading }" ng-if="popUpType == 'confirm'" ng-click="action()" id="submitBtn">
								{{submitBtnTxt}}
							</button>
							<button class="button done" ng-if="popUpType == 'info'" ng-click="closePopUp()" id="submitBtn">
								{{::getMsgs('ok')}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>