<div class="popUp-container">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content popUp-first-deposit">
						<div class="popUp-box">
							<!-- PopUp Header -->
							<div class="popUp-header">{{getMsgs('update-password')}}</div>
							
							<!-- PopUp Body -->
							<div class="popUp-body">
								<section class="box panel" style="font-size:18px;">
									<form name="_form" novalidate ng-controller="changePasswordCtr">
										<div class="grid">
											<div class="row pb10">
												{{getMsgs('you-are-required-to-update-password')}}
											</div>
											<div class="row">
												<input class="field " type="password" ng-model="form.password" id="password" name="password" placeholder="{{getMsgs('current-password')}}"
													required ng-minlength="6" ng-maxlength="9" maxlength="9" autocomplete="off"/>
											</div>
											<div class="row">
												<input class="field" type="password" ng-model="form.passwordNew" id="passwordNew" name="passwordNew" placeholder="{{getMsgs('new-password')}}"
													required ng-minlength="6" ng-maxlength="9" maxlength="9" autocomplete="off"/>
											</div>
											<div class="row">
												<input class="field" type="password" ng-model="form.passwordReType" id="passwordReType" name="passwordReType" placeholder="{{getMsgs('retype-new-password')}}"
													required ng-minlength="6" ng-maxlength="9" maxlength="9" autocomplete="off" compare-to="form.passwordNew"/>
											</div>
											<div class="taC">
												<div vc-recaptcha key="recaptchaKey" class="dIB pt5 mt10 pb5 mb10" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
											</div>
											
											<button class="button submit" ng-class="{ loading: loading }" type="submit" ng-click="submitChangePassword(_form)">
												{{getMsgs('submit')}}
											</button>
											
											<div class="row error-message taC mt20" id="globalErrorFieldPassword"></div>
											<div class="row error-message taC mt20">
												<span ng-if="checkError(_form, 'password', 'required')">{{getMsgs('current-password')}}: {{getMsgs('error-mandatory')}} </span>
												<span ng-if="checkError(_form, 'password', 'minlength')">{{getMsgs('current-password')}}: {{getMsgs('error-minimum-length', {length: 6})}} </span>
												
												<span ng-if="checkError(_form, 'passwordNew', 'required')">{{getMsgs('new-password')}}: {{getMsgs('error-mandatory')}} </span>
												<span ng-if="checkError(_form, 'passwordNew', 'minlength')">{{getMsgs('new-password')}}: {{getMsgs('error-minimum-length', {length: 6})}} </span>

												<span ng-if="checkError(_form, 'passwordReType', 'required')">{{getMsgs('retype-new-password')}}: {{getMsgs('error-mandatory')}} </span>
												<span ng-if="checkError(_form, 'passwordReType', 'minlength')">{{getMsgs('retype-new-password')}}: {{getMsgs('error-minimum-length', {length: 6})}} </span>
												<span ng-if="checkError(_form, 'passwordReType', 'compareTo')">{{getMsgs('retype-new-password')}}: {{getMsgs('error-password-not-match')}} </span>
												
												<span ng-if="checkRecaptchaError(_form)">reCAPTCHA: {{getMsgs('error-mandatory')}} </span>
											</div>
										</div>
									</form>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>