<ul class="other-funding-methods-list">
	<li class="panel">
		<div class="toggle table">
			<span class="vaM cell">{{getMsgs('bank-wire.h3.txt1')}}</span>
			<span class="cell vaM w1p"><i class="deposit-img wire"></i></span>
			<span class="cell vaM w20"><i class="plus"></i></span>
		</div>
		<div class="info-el" ng-include="'html/templates/bank-wire-content.html'" ng-controller="bankWireCtr"></div>
	</li>
	<li class="panel">
		<div class="toggle table">
			<span class="vaM cell">{{getMsgs('deposit-by-neteller')}}</span>
			<span class="cell vaM w1p"><i class="deposit-img neteller"></i></span>
			<span class="cell vaM w20"><i class="plus"></i></span>
		</div>
		<div class="info-el" ng-include="'html/templates/first-deposit-neteller.html'" ng-controller="NetellerCcControler"></div>
	</li>
</li>