<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content scroll-content-gt">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content general-terms" id="info-popup-container" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closeCopyOpPopup()"></i>
						<div class="popUp-box">
							<!-- PopUp Header -->
							<div class="popUp-header">{{getMsgs('general_terms')}}</div>

							<!-- PopUp Body -->
							<div class="popUp-body">
								<p class="subheading">{{getMsgs('general-terms.sub-heading')}}</p>
								<div ng-class="{ 'terms-loading': loading }">
									<div ng-repeat="file in filesList">
										<div ng-if="$index == 0">
											<ul class="general_terms_menu" ng-class="{ general_terms_menu_reg: isRegulated }">
												<li ng-repeat="file in filesList" ng-if="file.menuTitle != ''">
													<a ng-click="goToByScroll('scrollTo-' + file.id)" class="anchor-link">{{file.menuTitle}}</a>
												</li>
											</ul>
										</div>
										
										<a class="anchor" id="scrollTo-{{file.id}}"></a>
										<div compile="file.html"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="popUp-footer clear">
							<button class="button done" ng-click="closeCopyOpPopup()" >
								{{::getMsgs('ok')}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>