<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content popUp-first-deposit" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closeCopyOpPopup()"></i>
						<div class="popUp-header">
							<div class="first-deposit-header" ng-include="'html/templates/first-deposit-header.html'"></div>
						</div>
						<div class="popUp-body bank-wire-body">
							<div class="grid">
								<div class="row" ng-controller="bankWireCtr" ng-init="isPopUp = true" ng-include="'html/templates/bank-wire-content.html'"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>