<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content asstes-list" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closeSelector(false)"></i>
						<div class="popUp-box">
							<div class="popUp-header">{{getMsgs('assets-list')}} ({{config.assets.length}}/{{maxAssets}})</div>
							<div class="search-box icon small">
								<input type="text" ng-model="search" placeholder="{{getMsgs('search')}}"/>
							</div>
							<div class="asstes-list-content scroll-wrapper" onmouseover="scrollerAdd(this, true)">
								<div class="popUp-body scroll-content">
									<div ng-if="bestAssets.length > 0" class="assets-list-header">{{getMsgs('best-assets')}}</div>
									<ul ng-if="bestAssets.length > 0">
										<li ng-repeat="asset in bestAssets | filter:search | filter: {isOptionPlusMarket : false}">
											<div>
												<img class="assets-img" ng-src="img/markets/35/micn{{asset.id}}.png" fallback-src="{{!markets[asset.id].groupId ? '' : 'img/markets/35/gicn'+markets[asset.id].groupId+'.png'}}" width="35" height="35" alt="Asset">
												<span>{{asset.displayName}}</span>
											</div>
											<div>
												<input type="checkbox" value="{{asset.id}}" ng-checked="config.assets.indexOf(asset.id) > -1" ng-click="selectCheckbox($event, asset.id);"/>
											</div>
										</li>
									</ul>
									<div ng-if="currentAssets.length > 0" class="assets-list-header">Currently Copying</div>
									<ul ng-if="currentAssets.length > 0">
										<li ng-repeat="asset in currentAssets | filter:search | filter: {isOptionPlusMarket : false}">
											<div>
												<img class="assets-img" ng-src="img/markets/35/micn{{asset.id}}.png" fallback-src="{{!markets[asset.id].groupId ? '' : 'img/markets/35/gicn'+markets[asset.id].groupId+'.png'}}" width="35" height="35" alt="Asset">
												<span>{{asset.displayName}}</span>
											</div>
											<div>
												<input type="checkbox" value="{{asset.id}}" ng-checked="config.assets.indexOf(asset.id) > -1" ng-click="selectCheckbox($event, asset.id);"/>
											</div>
										</li>
									</ul>
									<div class="assets-list-header">{{getMsgs('all-assets')}}</div>
									<ul>
										<li ng-repeat="asset in allAssets | filter:search | filter: {isOptionPlusMarket : false}">
											<div>
												<img class="assets-img" ng-src="img/markets/35/micn{{asset.id}}.png" fallback-src="{{!markets[asset.id].groupId ? '' : 'img/markets/35/gicn'+markets[asset.id].groupId+'.png'}}" width="35" height="35" alt="Asset">
												<span>{{asset.displayName}}</span>
											</div>
											<div>
												<input type="checkbox" value="{{asset.id}}" ng-checked="config.assets.indexOf(asset.id) > -1" ng-click="selectCheckbox($event, asset.id);"/>
											</div>
										</li>
									</ul>
									<ul class="alphabet-list">
										<li>A</li>
										<li>B</li>
										<li>C</li>
										<li>D</li>
										<li>I</li>
										<li>F</li>
										<li>G</li>
										<li>H</li>
										<li>I</li>
										<li>J</li>
										<li>K</li>
										<li>L</li>
										<li>M</li>
										<li>N</li>
										<li>O</li>
										<li>P</li>
										<li>Q</li>
										<li>R</li>
										<li>S</li>
										<li>T</li>
										<li>U</li>
										<li>V</li>
										<li>W</li>
										<li>X</li>
										<li>Y</li>
										<li>Z</li>
									</ul>
								</div>
							</div>
							<div class="popUp-footer">
								<button class="button cancel" ng-click="closeSelector(false)">{{getMsgs('cancel')}}</button>
								<button class="button submit" ng-class="{ loading: loading }" ng-click="closeSelector(true)" ng-disabled="config.assets.length == 0">{{getMsgs('select')}}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>