<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content withdraw_popUp withdraw_accepted_popUp" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closePopUp()"></i>
						<div class="popUp-box">
							<!-- PopUp Body -->
							<div class="popUp-body withdraw_accepted">
								<i class="withdraw_popUp_img"></i>
								<div class="withdraw_popUp_txt" ng-bind-html="body"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>