<div class="popUp-container" ng-keydown="closePopUp({'event' : $event})" ng-mousedown="closePopUp({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content withdraw-user-details" data-is-popup-holder>
						<div class="popUp-header">{{getMsgs('popup-withdraw-user-details.heading')}}</div>
						<div class="popUp-body">
							<div class="text-box">
								<p>{{getMsgs('popup-withdraw-user-details.p1')}}</p>
								<p>{{getMsgs('popup-withdraw-user-details.p2')}}</p>
							</div>
							<form name="_form" novalidate>
								<div class="grid">
									<div class="radio-buttons-box">
										<label>
											<input type="radio" ng-model="form.type" name="type" value="2"/>
											<span class="radio-but"></span>
											<i class="payment-icons skrill"></i>
										</label>
										<label>
											<input type="radio" ng-model="form.type" name="type" value="1"/> 
											<span class="radio-but"></span>
											<i class="payment-icons bank-wire"></i>
											 {{getMsgs('bank-wire')}}
										</label>
									</div>
									<div class="withdraw-details-box">
										<div ng-if="form.type == 2">
											<label>{{getMsgs('skrill-details')}}:</label>
											<div class="row">
												<div class="field_box">
													<input type="email" class="field" id="skrillEmail" name="skrillEmail" ng-model="form.skrillEmail" required="true" placeholder="{{getMsgs('email2')}}" valid-email/>
												</div>
											</div>
										</div>
										<div ng-if="form.type == 1">
											<label>{{getMsgs('bank-details')}}:</label>
											<div class="row">
												<div class="field_box">
													<input type="text" class="field" maxlength="30" id="beneficiaryName" name="beneficiaryName" ng-model="form.beneficiaryName" required="true" placeholder="{{getMsgs('bank-wire.txt1')}}"/>
												</div>
											</div>
											<div class="row">
												<div class="field_box">
													<input type="text" class="field" maxlength="30" id="swift" name="swift" ng-model="form.swift"  required="true" placeholder="{{getMsgs('bank-wire.txt5')}}"/>
												</div>
											</div>
											<div class="row">
												<div class="field_box">
													<input type="text" class="field" maxlength="30" id="iban" name="iban" ng-model="form.iban" required="true" placeholder="{{getMsgs('bank-wire.txt4')}}"/>
												</div>
											</div>
											<div class="row">
												<div class="field_box">
													<input type="text" class="field" maxlength="20" id="accountNum" name="accountNum" ng-model="form.accountNum"  required="true" restrict-digits="restrict-digits" placeholder="{{getMsgs('bank-wire.txt3')}}"/>
												</div>
											</div>
											<div class="row">
												<div class="field_box">
													<input type="text" class="field" maxlength="30" id="bankName" name="bankName" ng-model="form.bankName" required="true" placeholder="{{getMsgs('bank-wire.txt6')}}"/>
												</div>
											</div>
											<div class="row">
												<div class="field_box">
													<input type="text" class="field" maxlength="30" id="branchNumber" name="branchNumber" ng-model="form.branchNumber"  required="true" restrict-digits="restrict-digits" placeholder="{{getMsgs('branch_number')}}"/>
												</div>
											</div>
											<div class="row">
												<div class="field_box">
													<input type="text" class="field" maxlength="30" id="branchAddress" name="branchAddress" ng-model="form.branchAddress"  required="true" placeholder="{{getMsgs('branch_address')}}"/>
												</div>
											</div>
											<div class="table upload-doc-box">
												<div>{{getMsgs('upload-bank-protocol')}}</div>
												<div>
													<button class="button small-blue" type="button" ng-file-select="onFileSelect($files, key)" onclick="this.value = null" ng-disabled="isSubmitting">{{getMsgs('browse')}}</button>
													<span class="no-file" ng-if="!uploadedFileName">{{getMsgs('no-file')}}</span>
													<span class="black-color" ng-if="uploadedFileName && !isSubmitting">{{shortenFileName(uploadedFileName)}}</span>
													<i class="loading" ng-if="uploadedFileName && isSubmitting"></i>
												</div>
											</div>
										</div>
										<div class="button-box">
											<button type="submit" class="button highlight" ng-click="insertUpdateWithdrawUserDetailas(_form)">
												{{getMsgs('submit')}}
											</button>
											<span ng-click="skipedWithdrawBankUserDetils()">{{getMsgs('skip')}} &#187;</span>
										</div>
										<div class="error-box">
											<span class="errorMsgs" ng-if="checkError(_form, 'skrillEmail', 'required')">{{getMsgs('email')}} {{getMsgs('error-mandatory')}} </span>
											<span class="errorMsgs" ng-if="checkError(_form, 'skrillEmail', 'validEmail')">{{getMsgs('error-invalid-email')}} </span>
											<span class="errorMsgs" ng-if="checkError(_form, 'beneficiaryName', 'required')">{{getMsgs('bank-wire.txt1')}}: {{getMsgs('error-mandatory')}} </span>
											<span class="errorMsgs" ng-if="checkError(_form, 'swift', 'required')">{{getMsgs('bank-wire.txt5')}}: {{getMsgs('error-mandatory')}} </span>
											<span class="errorMsgs" ng-if="checkError(_form, 'iban', 'required')">{{getMsgs('bank-wire.txt4')}}: {{getMsgs('error-mandatory')}} </span>
											<span class="errorMsgs" ng-if="checkError(_form, 'accountNum', 'required')">{{getMsgs('bank-wire.txt3')}}: {{getMsgs('error-mandatory')}} </span>
											<span class="errorMsgs" ng-if="checkError(_form, 'bankName', 'required')">{{getMsgs('bank-wire.txt6')}}: {{getMsgs('error-mandatory')}} </span>
											<span class="errorMsgs" ng-if="checkError(_form, 'branchNumber', 'required')">{{getMsgs('branch_number')}}: {{getMsgs('error-mandatory')}} </span>
											<span class="errorMsgs" ng-if="checkError(_form, 'branchAddress', 'required')">{{getMsgs('branch_address')}}: {{getMsgs('error-mandatory')}} </span>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>