<div class="popUp-container" id="popUp-container-info" ng-keydown="closePopUp({'event' : $event})" ng-mousedown="closePopUp({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div id="info-popup-container" class="popUp-content information-popUp {{imgClass}}"><!-- Holiday PopUp -->
						<i class="popUp-close icon" ng-click="closePopUp()"></i>
						<div class="popUp-box">
							<!-- PopUp Header -->
							<div class="popUp-header" ng-if="config.header">{{config.header}}</div>
							
							<!-- PopUp Body -->
							<div class="popUp-body">
								<i class="info-image"></i>
								<div class="text-box" ng-bind-html="body"></div>
							</div>
						</div>
						<div class="popUp-footer clear">
							<button class="button done" ng-click="action()">
								{{buttonTxt}}
							</button>
			
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>