<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content social" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closeCopyOpPopup()"></i>
						<div class="popUp-box">
							<div class="popUp-header p15">{{getMsgs('social.header')}}</div>
							<div class="popUp-body">{{getMsgs('social.body')}}</div>
						</div>
						<div class="popUp-footer">
							<button class="button social icon" ng-click="connectWithFB()" id="submitBtn">
								{{getMsgs('connect')}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>