<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content low-balance" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closePopUp()"></i>
						<div class="popUp-box">
							<!-- PopUp Header -->
							<div class="popUp-header">{{header}}</div>

							<!-- PopUp Body -->
							<div class="popUp-body" ng-bind-html="body"></div>
						</div>
						<div class="popUp-footer clear">
							<button class="button done" ng-click="action()" id="submitBtn">
								{{getMsgs('deposit')}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>