<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content auto-watched" data-is-popup-holder> <!-- auto-watched,social-network -->
						<i class="popUp-close icon" ng-click="closeCopyOpPopup()"></i>
						<div class="popUp-box">
							<div ng-if="popUpType == 'autoWatch'" class="popUp-header">
								{{getMsgs('users-list.header1')}}<br/>
								<span>{{getMsgs('users-list.txt')}}</span>
							</div>
							<!-- For Social Network PopUp -->
							<div ng-if="popUpType == 'facebook'" class="popUp-header">{{getMsgs('users-list.header2')}}</div>
							<div class="popUp-body">
								<ul class="auto-watched-list">
									<li class="table" ng-repeat="user in users">
										<div>
											<a ui-sref="ln.in.a.user.overview({userId:user.userId, ln:skinLanguage})">
												<img class="user-img" ng-src="{{::user.avatar}}" width="50" height="50"/>
											</a>
											<span class="dIB vaM">
												<a class="dIB user-name" ui-sref="ln.in.a.user.overview({userId:user.userId, ln:skinLanguage})">
													{{::user.firstName}} {{::user.lastName}} {{::user.nickname}}
												</a><br/>
												<!-- For Social Network PopUp -->
												<span ng-if="popUpType == 'facebook'">{{getMsgs('hit-rate')}} 39</span>
											</span>
										</div>
										<div class="info-field">
											<span class="dB icon copiers">{{::user.copiers}} {{::getMsgs('copiers')}}</span>
											<span class="icon watchers">{{::user.watchers}} {{::getMsgs('watchers')}}</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div ng-if="popUpType == 'autoWatch'" class="popUp-footer">
							<button class="button done border" ng-click="closeCopyOpPopup();">
								{{getMsgs('done')}}
							</button>
						</div>
						<!-- For Social Network PopUp -->
						<div ng-if="popUpType == 'facebook'" class="popUp-footer">
							<button class="button social icon" ng-click="inviteFriends()" id="submitBtn">
								{{getMsgs('invite')}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>