<div class="popUp-container" ng-keydown="closePopup(false, {'event' : $event})" ng-mousedown="closePopup(false, {'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content follow-now" data-is-popup-holder ng-class="{ error: error, success: success, dev2:dev2 }">
						<i class="popUp-close icon" ng-click="closePopup(false, {'event' : $event})"></i>
						<div class="popUp-box">
							<div class="popUp-header">
								<div class="popUp-overlay"></div>
								<div class="assets-img">
									<img class="assets-list-img" ng-src="img/markets/58/micn{{::followData.marketId}}.png" fallback-src="{{!markets[followData.marketId].groupId ? '' : 'img/markets/58/gicn'+markets[followData.marketId].groupId+'.png'}}" alt="{{::markets[followData.marketId].displayName}}" width="58" height="58"/>
								</div>
								<div class="dIB vaM">
									<span>{{config.asset}}</span><br/>
									<span class="level-txt">
										<span class="icon up-img" ng-class="{ 'down-img': config.dir == 2 }">{{followData.ao_level_float}}</span>  |  
										<span>{{getMsgs('by')}} {{followData.est_close_formated}}</span>
									</span>
								</div>
							</div>
							<div class="popUp-body">
								<div class="popUp-overlay">
									<i class="refresh-btn {{ mouseDownClass }}" ng-mouseout="mouseDownClass = ''" ng-mousedown="mouseDownClass = 'clicked'" ng-click="refreshPopUp(false, {'event' : $event})"></i>
								</div>
								<div class="time-field">
									<span class="time" id="followTimer_1">00:00</span>
									<div class="time-expire" style="width:0%" id="followTimer_bgr">
										<span class="time" id="followTimer_2">00:00</span>
									</div>
								</div>
								<div class="invest-info-holder">
									<div class="amount-holder">
										<span class="amount">{{getMsgs('amount')}}</span>
										<!-- <span class="fR">{{copyopUser.defaultAmountValueDsp}}</span> -->
										<span class="limit-range" style="z-index: {{config.howMany == 0 ? '-1' : '0'}};">
											<span class="limit-range-element minus" ng-click="changeCount(true)">&mdash;</span>
											<span class="limit-range-element plus" ng-click="changeCount(false)">+</span>
											<input type="text" ng-model="config.amountDsp" disabled/>
										</span>
									</div>
									<div>
										<ul class="invest-info-list">
											<li>
												<span>{{getMsgs('profit')}}:</span><br/>
												<span>{{followData.ET_ODDS}}</span>
											</li>
											<li>
												<span>{{getMsgs('if-correct-get')}}</span><br/>
												<span>{{followData.odds_win}}</span>
											</li>
											<li>
												<span>{{getMsgs('if-incorrect-get')}}</span><br/>
												<span>{{followData.odds_lose}}</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="popUp-confirm">
								<div class="header-info">
									{{getMsgs('you_chose')}}: <b>{{investRespons.asset}}</b><br />
									{{getMsgs('level')}}: <span class="level-{{(investRespons.typeId == 1) ? 'up' : 'down'}}">{{investRespons.currentLevelTxt}}</span> | 
									{{getMsgs('trading.success.confirmation')}}: #{{investRespons.id}}
								</div>
								<div class="content-info">
									<div class="table flex">
										<div class="content-info-row">
											<div class="content-info-cell">{{getMsgs('trading.slip.type')}}</div>
											<div class="content-info-cell ttUC">{{(investRespons.typeId == 1) ? getMsgs('call.2') : getMsgs('put.2')}}</div>
										</div>
										<div class="content-info-row">
											<div class="content-info-cell">{{getMsgs('trading.slip.expires')}}</div>
											<div class="content-info-cell">{{investRespons.timeEstClosingDsp}}</div>
										</div>
										<div class="content-info-row">
											<div class="content-info-cell">{{getMsgs('amount')}}</div>
											<div class="content-info-cell">{{investRespons.amountTxt}}</div>
										</div>
										<div class="content-info-row">
											<div class="content-info-cell">{{getMsgs('CMS.tradeBox.text.if_correct_earn')}}:</div>
											<div class="content-info-cell">{{investRespons.if_correct}}</div>
										</div>
										<div class="content-info-row">
											<div class="content-info-cell">{{getMsgs('CMS.tradeBox.text.if_incorrect_get')}}:</div>
											<div class="content-info-cell">{{investRespons.if_not_currect}}</div>
										</div>
									</div>
									<div class="taR content-info-link">
										<span class="link" ng-click="refreshPopUp(false, {'event' : $event})">{{getMsgs('buy-another')}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="popUp-footer">
							<button class="button buy buy-up" ng-class="{ 'buy-down': config.dir == 2 }" ng-disabled="submited" ng-click="copyopFollow()" id="submitBtn">
								{{getMsgs('buy')}}
							</button>
						</div>
						<div class="error-holder" ng-show="errorMsg">
							<span id="follow-error"></span>
							<i class="close icon" ng-click="errorMsg = false"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>