<div class="popUp-container" ng-controller="uploadServiceCtr" 
	 ng-file-drop="onFileSelect($files)" ng-file-drop-available="dropSupported=true" accept="image/*" class="drag-over-box" ng-file-drag-over-class="dragOverClass($event)" ng-file-drag-over-delay="100" 
	 ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content edit-avatar" data-is-popup-holder>
						<i class="popUp-close icon" onclick="closeElement({id:'popUp-avatar'});"></i>
						<div class="popUp-box">
							<div class="popUp-body">
								<div ng-file-select="onFileSelect($files)" accept="image/*" title="select file" onclick="this.value = null">{{getMsgs('edit-avatar.div1')}}</div>
								<p class="error-message" ng-if="fileTooBig">{{getMsgs('file-too-big')}}</p>
								<div ng-click="randAvatar(0)">{{getMsgs('edit-avatar.div2')}}</div>
								<div ng-click="randAvatar(1)">{{getMsgs('edit-avatar.div3')}}</div>
								<button type="button" ng-click="start(0)" id="startUpload" class="dN"></button>
							</div>
						</div>
						<div class="popUp-footer">
							<button class="button done ttC" type="button" onclick="closeElement({id:'popUp-avatar'});">{{getMsgs('cancel')}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>