<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closeCopyOpPopup()"></i>
						<div class="popUp-box">
							<div class="popUp-header">{{getMsgs('cash-it.header')}}</div>
							<div class="popUp-body" ng-bind-html="getMsgs('cash-it.div', {'coinsNumber': convertCoins, 'coins-icon': 'icon middle copyop-coins', 'amount': convertAmount})"></div>
						</div>
						<div class="popUp-footer">
							<button class="button cancel" ng-click="closeCopyOpPopup()">{{getMsgs('cancel')}}</button>
							<button class="button submit ttC" ng-class="{ loading: loading }" ng-click="depositCopyopCoins()">{{getMsgs('yes')}}</button><!--openCopyOpPopup({type: 'cashIt'})-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>