<div class="popUp-container" ng-keydown="closePopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content popUp-reg-quest" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closeCopyOpPopup()"></i>
						<div class="popUp-header">{{getMsgs('quiestionaire')}}</div>
						<div class="popUp-body">
							<div ng-if="hasError">{{errorMsg}}</div>
							<div ng-if="!hasError">
								<form name="_form" novalidate>
									<div class="grid" ng-repeat="screen in screens" ng-show="activeScreen == $index">
										<div ng-if="activeScreen == 0">
											<div class="row popUp-image" ng-bind-html="getMsgs('reg-quest-info')"></div>
											<div class="row">
												<h3 class="popUp-subTitle">{{getMsgs('reg-quest-title1')}}</h3>
											</div>
										</div>
										<div class="row" ng-if="activeScreen == screens.length - 1">
											<h3 class="popUp-subTitle">{{getMsgs('reg-quest-title2')}}</h3>
										</div>
										<div class="row" ng-repeat="question in screen">
											<div class="row" ng-if="question.questionType == 'DROPDOWN'">
												<p>{{$index + 1}}. {{question.translatation}}</p>
												<div class="select-wrapper" ng-class="{ error: question.hasError }">
													<select name="question_{{question.id}}" ng-model="question.userAnswer" required="question.mandatory"
														ng-options="answer.translation for answer in question.answers" 
														ng-change="submitSQuestionnaire(false)">
													</select>
													<span>{{question.userAnswer.translation}}</span>
													<span class="question-error-txt" ng-if="question.hasError">{{getMsgs('error-mandatory')}}</span>
												</div>
											</div>
											<div class="row" ng-show="question.userAnswer.answerType == 'FREETEXT'" ng-if="question.questionType == 'DROPDOWN'">
												<input class="field small-field" type="text" ng-model="question.userAnswer.textAnswer" />
											</div>
											
											<div class="row row-no-padding" ng-if="question.questionType == 'CHECKBOX'">
												<label class="fs14 question">
													<input type="checkbox" ng-model="question.userAnswer.id" ng-true-value="{{question.answers[0].id}}" 
														ng-false-value="{{question.answers[1].id}}" id="question_{{question.id}}" ng-change="submitSQuestionnaire(false)"/>
													<span class="checkbox small-check"></span>
													<span ng-bind-html="question.translatation"></span>
													<span class="question-error-txt" ng-if="question.hasError">{{getMsgs('error-mandatory')}}</span>
												</label>
											</div>
										</div>

										<div class="row mt20 taC" ng-if="activeScreen < screens.length - 1">
											<button class="button highlight small-button" ng-click="regulationQuestNext()">
												{{getMsgs('next')}}
											</button>
										</div>
										
										<div class="row mt20 taC" ng-if="activeScreen == screens.length - 1">
											<button class="button highlight small-button" ng-class="{ loading: loading }" ng-click="submitSQuestionnaire(true, _form)" ng-disabled="loading">
												{{getMsgs('trade-now')}}
											</button>
										</div>
										<div class="row error-message taC" id="globalErrorField"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>