<div class="popUp-walkthrough" ng-keydown="handleKeydown({'event' : $event})" ng-mousedown="closeSlide({'event' : $event})" tabindex="0">
	<div class="walkthrough-main" id="walkthrough" data-is-popup-holder>
		<div class="walkthrough-feed-holder" id="walkthrough-feed-holder">
			<div class="mask"></div>
			<div class="content walkthrough-feed" id="" ng-if="info.additionalObj == 1" ng-init="newsFeed = additionalObj_1" ng-include="'html/templates/news-feed-content.html'"></div>
			<div class="content walkthrough-feed" id="" ng-if="info.additionalObj == 2" ng-init="newsFeed = additionalObj_2" ng-include="'html/templates/news-feed-content.html'"></div>
		</div>
		<div class="walkthrough-menu {{info.mainClass}}">
			<i class="popUp-close icon small" ng-click="closeSlide()"></i>
			<div class="menu-header ttUC" ng-if="info.header">{{info.headerText}}</div>
			<div class="menu-body">
				<div ng-bind-html="info.body"></div>
				<div class="bottom-part">
					<span>{{stage+1}}/{{popUpsMap.length}}</span>
					<i class="next-step clear" ng-click="changeSlide()" ng-if="stage < (popUpsMap.length - 1)"></i>
				</div>
			</div>
		</div>
	</div>
</div>
