<div class="popUp-container shopping-bag-container">
	<div class="shopping-bag-content">
		<i class="popUp-close icon" ng-click="lsWebPopupClose()"></i>
		<div class="shopping-box">
			<div class="shopping-bag-header">{{getMsgs('shopping-bag.header')}}</div>
			<div class="shopping-bag-body scroll-wrapper" onmouseover="scrollerAdd(this, true)">
				<div class="scroll-content">
					<ul class="shopping-bag-list">
						<li ng-repeat="inv in copyOpShoppingBag">
							<div class="dIB vaM">
								<a ui-sref="ln.in.a.user.overview({userId:inv.userId, ln:skinLanguage})"><img class="thumb" ng-src="{{inv.avatar}}" width="50" height="50" alt="Avatar"/></a>
							</div>
							<div class="dIB vaM">
								<a ui-sref="ln.in.a.user.overview({userId:inv.userId, ln:skinLanguage})">{{inv.nickname}}</a>
								<ul class="info-list">
									<li class="amount">{{inv.amountDsp}}</li>
									<li class="asset-name icon {{inv.direction}}"><span>{{inv.asset}}</span></li>
									<li class="level">{{inv.level}}</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="shopping-bag-footer">
			<div>{{getMsgs('invested')}}: <span>{{totalCoShopingBag}}</span></div>
		</div>
	</div>
</div>