<div class="docs-holder flex">
	<div ng-repeat="doc in restOfDocs">
		<span class="docs-holder-w1">{{doc.docTitle}}:</span>
		<span class="docs-holder-w2"></span>
		<span class="docs-holder-w3">
			<button class="button highlight small" ng-class="{ loading: doc.fileTypeId.loading }" ng-file-select="onFileSelect($files, doc.fileTypeId, doc)" accept="image/*" onclick="this.value = null" ng-disabled="doc.isLock">
				{{getMsgs('browse')}}
			</button>
		</span>
		<span class="fs12">{{doc.docStatus.fileName}}</span>
		<span class="{{doc.docStatus.className}}">{{doc.docStatus.txt}}</span>
	</div>
	<div ng-if="proofOfId.length > 1">
		<span>{{getMsgs('proof-id')}}:</span>
		<span class="docs-holder-w">
			<div class="select-wrapper flex">
				<select ng-model="selects.proofOfId" ng-options="type.docTitle for type in proofOfId"></select>
				<span>{{selects.proofOfId.docTitle}}</span>
			</div>
		</span>
		<span>
			<button class="button highlight small" ng-class="{ loading: selects.proofOfId.loading }" ng-file-select="onFileSelect($files, selects.proofOfId.fileTypeId, selects.proofOfId)" accept="image/*" ng-click="setProofOfIdClicked(true);checkProofOfIdClicked() ? $event.preventDefault() : '';this.value = null" ng-disabled="selects.proofOfId.isLock">
				{{getMsgs('browse')}}
			</button>
		</span>
		<span class="fs12">{{selects.proofOfId.docStatus.fileName}}</span>
		<span class="{{selects.proofOfId.docStatus.className}}" ng-if="selects.proofOfId.id != ''" ng-bind-html="selects.proofOfId.docStatus.txt"></span>
		<span class="error-message icon" ng-if="checkProofOfIdClicked()" ng-bind-html="getMsgs('select-type')"></span>
	</div>
	<div ng-if="creditCards.length > 0">
		<span>{{getMsgs('credit-card')}}:</span>
		<span>
			<div class="select-wrapper flex">
				<select ng-model="selects.creditCard" ng-options="card.ccName for card in creditCards"></select>
				<span>{{selects.creditCard.ccName}}</span>
			</div>
		</span>
	</div>
	<div ng-if="selects.creditCard.front">
		<span class="icon middle reg-cc-icons cc-front-icon">({{getMsgs('front')}})</span>
		<span></span>
		<span>
			<button class="button highlight small" ng-class="{ loading: selects.creditCard.front.loading }" ng-file-select="onFileSelect($files, selects.creditCard.front.fileTypeId, selects.creditCard.front)" accept="image/*" onclick="this.value = null" ng-disabled="selects.creditCard.front.isLock">{{getMsgs('browse')}}</button>
		</span>
		<span class="fs12">{{selects.creditCard.front.docStatus.fileName}}</span>
		<span class="{{selects.creditCard.front.docStatus.className}}">{{selects.creditCard.front.docStatus.txt}}</span>
	</div>
	<div ng-if="selects.creditCard.back">
		<span class="icon middle reg-cc-icons cc-back-icon">({{getMsgs('back')}})</span>
		<span></span>
		<span>
			<button class="button highlight small" ng-class="{ loading: selects.creditCard.back.loading }" ng-file-select="onFileSelect($files, selects.creditCard.back.fileTypeId, selects.creditCard.back)" accept="image/*" onclick="this.value = null" ng-disabled="selects.creditCard.back.isLock">{{getMsgs('browse')}}</button>
		</span>
		<span class="fs12">{{selects.creditCard.back.docStatus.fileName}}</span>
		<span class="{{selects.creditCard.back.docStatus.className}}">{{selects.creditCard.back.docStatus.txt}}</span>
	</div>
</div>
