<div class="table side-menu-user">
	<div ng-include="'html/templates/side-menu.html'" ng-if="checkSameUser() && $state.includes('ln.in.a.user')" class="cell side-links"></div>
	<div class="cell side-user" loading>
		<h1 class="side-user-name">{{cUser.name}}</h1>
		<div class="side-user-box">
			<img class="side-user-img" ng-src="{{cUser.avatar}}" width="100" height="100"/>
			<div class="side-user-buttons" ng-hide="checkSameUser()">
				<button class="button large icon copy" ng-class="{ ing: usersInfo[cUser.userId].copying, disabled: usersInfo[cUser.userId].frozen }" 
					ng-click="openCopyOpPopup({destUserId: cUser.userId, type: 'copy', obj: cUser});">
					{{usersInfo[cUser.userId].copying ? getMsgs('copying') : getMsgs('copy2')}}
				</button>
				<button class="button large icon watch" ng-class="{ ing: usersInfo[cUser.userId].watching || usersInfo[cUser.userId].copying }" 
					ng-click="openCopyOpPopup({destUserId: cUser.userId, type: 'watch'});">
					{{usersInfo[cUser.userId].watching || usersInfo[cUser.userId].copying ? getMsgs('watching') : getMsgs('watch2')}}
				</button>
			</div>
			
			<div class="side-user-info" ng-if="!checkSameUser()" ng-bind-html="cUser.user_cost_you"></div>
			<ul ng-include="'html/templates/user-stat.html'" ng-init="idPrefix = 'side_'" class="user-stat side"></ul>
			
			<a ui-sref="ln.in.a.user.connections.im-copying({userId:cUser.userId, ln:skinLanguage})" class="button-link icon small">
				{{getMsgs('copying')}} <span>({{cUser.copyingCount}})</span>
			</a>
			<a ui-sref="ln.in.a.user.connections.im-watching({userId:cUser.userId, ln:skinLanguage})" class="button-link icon small">
				{{getMsgs('watching')}} <span>({{cUser.watchingCount}})</span>
			</a>
		</div>
		<div ng-if="!checkSameUser() || !$state.includes('ln.in.a.user')" ng-include="'html/templates/facebook-friends.html'"></div>
		<div ng-show="showLastViewed()">
			<h3 class="side-heading">{{getMsgs('last-viewed')}}</h3>
			<div class="side-user-list">
				<a ng-repeat="user in lastViewed" ui-sref="ln.in.a.user.overview({userId:user.userId, ln:skinLanguage})">
					<div>
						<img ng-src="{{user.avatar}}" width="65" height="65" />
					</div>
					<div>{{user.nickname}}</div>
				</a>
			</div>
		</div>
	</div>
</div>