<section class="trading-section">
	<header class="heading-page">
		<h2 class="icon heading trade">{{getMsgs('trade')}}</h2>
	</header>
	<div class="trading-in">
		<div id="markets_table">
			<div class="trading-box-main" ng-include="'html/templates/trading-box-template.html'"></div>
			<div class="trading-past-exp-holder">
				<span class="trading-past-exp-txt">{{getMsgs('past-expiries')}}:</span>
				<ul class="trading-past-exp-list">
					<li ng-repeat="inv in pastExpiries">
						<span>{{inv.timeEstClosingDsp | date:'HH:mm'}}</span>
						<span>{{inv.closeLevelTxt}}</span>
					</li>
				</ul>
			</div>
			<div class="trading-box-list clear">
				<i class="icon-mid-m trading-box-arrow" onclick="gd_slideShow('left', 'trading-slider')"></i>
				<i class="icon-mid-m trading-box-arrow right-a" onclick="gd_slideShow('right', 'trading-slider')"></i>
				<div class="trading-box-small-holder">
					<ul class="trading-box-small-slider" id="trading-slider">
						<li class="trading-box-small" ng-if="$index > 0" ng-repeat="chart in charts" ng-controller="tradingChartCtr" ng-include="'html/templates/trading-box-template.html'" 
							ng-init="passParams(chart)"></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="off_hours_banner" style="display:none" ng-include="'html/templates/trading-offhours.html'"></div>
		<div class="mt20 fs12">{{getMsgs('risk_text')}}</div>
		<div ng-include="'html/templates/options-content.html'"></div>
	</div>
	
	
	<!--<div class="trading-box-main" ng-include="'html/templates/trading-box-template_new.html'" ng-controller="tradeBoxController" ng-init="passParams({box:4, boxType:5, designType:3, project: 'co'})"></div>-->
</section>