<div class="tradeBox_main_{{::chartSettings.designType}} {{::chartSettings.customClass}}" id="tradeBox_main_{{::chartSettings.boxId}}">
	<div class="trading-box-small-header" ng-if="chartSettings.designType == 4">	
		<a ui-sref="ln.in.a.asset.details({marketId:chartSettings.marketId, ln:skinLanguage})" class="trading-box-small-link icon-mid-m"></a>
		<div class="panel" style="padding:0px;" ng-keypress="showNameFilter($event, chartSettings.boxId)" tabindex="0">
			<div class="icon small drop-down toggle" id="tradeBox_marketName_{{::chartSettings.boxId}}"></div>
			<div class="panel-content scroll-wrapper" style="position:absolute; top:22px; left:1px; z-index:20; width:50%; height:calc(100% - 26px); border-right:1px solid #cbcbcb; background:#fff; color:#333;" onmouseover="scrollerAdd(this, true)">
				<ul class="scroll-content" style="">
					<li>
						<input class="icon-small-m" style="display:none; width:100%; padding:2px 2px 2px 22px; border:2px solid #ea553a; background-position:2px -26px;" value="" id="nameFilter_{{chartSettings.boxId}}" ng-model="nameFilters[chartSettings.boxId]">
					</li>
					<li ng-repeat="marketGroup in marketGroups.groups" ng-if="marketGroup.id != 99" ng-show="openMarkets.length != 0 || nameFilters[chartSettings.boxId] == ''" style="font-weight:700; font-size:13px; color:#eb553c; cursor:default;" ng-style="{padding: !isRtl ? '2px 0px 2px 10px' : '2px 10px 2px 0'}">
						{{marketGroup.name}}
						<ul>
							<li style="padding:1px 0px 1px 5px; font-weight:400; color:#333; cursor:pointer;" ng-if="openMarkets.length == 0 && nameFilters[chartSettings.boxId] == ''">{{getMsgs('currently-closed')}}</li>
						</ul>
						<ul ng-model="marketGroupUl[chartSettings.boxId]">
							<li style="padding:1px 0px 1px 5px; font-weight:400; color:#333; cursor:pointer;" ng-repeat="market in openMarkets = (getGroupOpenMarkets(marketGroup.markets) | filter:nameFilters[chartSettings.boxId])" ng-click="selectMarket(market.id, chartSettings.boxId)" ng-if="market.isOpen">
								{{market.displayName}}
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div>{{getMsgs('level')}}: <span class="tradeBox_level" id="tradeBox_level_small_{{::chartSettings.boxId}}"></span></div>
	</div>
	<div class="clear trade_menu" ng-if="chartSettings.designType == 1">
		<!-- START of top menu bar -->
		<div class="trade_menu_h trade_menu_h_p" onclick="showMarketsMenu(this, 0, event);"><!--{{::chartSettings.boxId}}-->
			<span class="trade_menu_h_in" id="tradeBox_marketName_{{::chartSettings.boxId}}">&#160;</span>
		</div>
		<ul class="tradeBox_menu_exp_h" id="tradeBox_menu_exp_h_{{::chartSettings.boxId}}">
			<li class="tradeBox_menu_exp_li">
				<span class="tradeBox_menu_exp_span" onclick="openElement({'span':this,'autoClose':true})">
					<span class="tradeBox_menu_exp_title">{{getMsgs('trading.box.expires')}}&#160;<span id="trade_box_exp_time_{{::chartSettings.boxId}}"></span></span>
					<i class="tradeBox_img_schedule"></i>
				</span>
				<ul class="tradeBox_menu_ul" id="tradeBox_menu_exp_{{::chartSettings.boxId}}">
					ng repeat (marketsListForm.optionType)
						<li data-value="#{optionType.value}">msgs[optionType.label]</li>
				</ul>
			</li>
		</ul>
		<!-- end of top menu bar -->
	</div>
	<div class="profitLine_shadows profitLine_shadows_top profitLine_shadows_top_{{::chartSettings.boxType}}" ng-if="chartSettings.designType == 2">
		<ul class="profitLine_marketDrop fL">
			<li class="profitLine_marketDrop_li">
				<span class="profitLine_marketDrop_title" id="profitLine_marketDrop_title_{{::chartSettings.boxId}}">
					<span class="profitLine_marketDrop_title_txt vaM" id="profitLine_marketDrop_title_txt_{{::chartSettings.boxId}}"></span>
					<i class="profitLine_marketDrop_title_ico vaM tradeBox_img"></i>
				</span>
				<ul class="profitLine_marketDrop_ul" id="profitLine_marketDrop_ul_{{::chartSettings.boxId}}"></ul>
			</li>
		</ul>
		<div class="fL profitLine_total_inv">
			<span class="vaM dIB">{{getMsgs('profitLine.totalInvestments')}}</span> 
			<span class="profitLine_total_inv_val vaM" id="profitLine_total_inv_val_{{::chartSettings.boxId}}">$0.00</span>
		</div>
		<div class="fL profitLine_curr_rtn profitLine_curr_rtn_{{::copyopUser.skinLanguage}}">
			<i class="tradeBox_img profitLine_curr_rtn_ico vaM">
				<span class="inv_roll inv_tooltip_h tradeBox_img">
					<span class="tooltip_profitLine_curr_rtn_ico">
						{{getMsgs('CMS.profitline.question.tooltip.txt')}}
					</span>
				</span>
			</i>
			<span class="vaM dIB">{{getMsgs('profitLine.totalReturn')}}</span>
			<span class="profitLine_curr_rtn_val vaM" id="profitLine_curr_rtn_val_{{::chartSettings.boxId}}"></span>
		</div>
		<div class="fL profitLine_balance">
			<span class="vaM dIB">{{getMsgs('profitLine.balance')}}</span> 
			<span class="profitLine_balance_val vaM" id="profitLine_balance_val_{{::chartSettings.boxId}}"></span>
		</div>
		<div class="fR profitLine_commisiotn" ng-if="chartSettings.boxType == 3">
			{{getMsgs('optionPlus.commission')}}
			feesForm.getOptionPlusCommissionFee(true)
		</div>
	</div>
	<div class="trading-title" ng-if="chartSettings.designType == 3 && !isVisibleMarketInfo">
		<div>
			<img ng-src="img/markets/58/micn{{mainMarketId}}.png" fallback-src="{{!markets[mainMarketId].groupId ? '' : 'img/markets/58/gicn'+markets[mainMarketId].groupId+'.png'}}" width="58" height="58" class="assets-img"/>
			<i class="asset-icon-info" ng-click="loadMarketInfo(mainMarketId);showMarketInfo();"></i>
		</div>
		<div class="trading-heading">
			<h1>{{getMsgs('go-up-or-down1')}} <span id="tradeBox_marketName_{{::chartSettings.boxId}}">{{::marketName}}</span> {{getMsgs('go-up-or-down2')}}</h1>
			{{getMsgs('by')}} <span id="trade_box_exp_time_{{::chartSettings.boxId}}"></span>  | 
			<span class="tradeBox_time pR hidden" id="tradeBox_chartHeader_{{::chartSettings.boxId}}">
				<span class="tradeBox_time_invest" id="tradeBox_time_invest_{{::chartSettings.boxId}}"><span id="tradeBox_time_invest_d_{{::chartSettings.boxId}}">00:00</span></span>
				<span class="tradeBox_exp_level" id="tradeBox_exp_level_{{::chartSettings.boxId}}">{{getMsgs('trading.box.expieryLevel')}} <span id="tradeBox_exp_level_value_{{::chartSettings.boxId}}" class="tradeBox_exp_level_value">0.0000</span></span>
				<span class="tradeBox_waiting_for_exp" id="tradeBox_waiting_for_exp_{{::chartSettings.boxId}}">{{getMsgs('trading.box.waiting')}}</span>
			</span>
		</div>
	</div>
	<div class="trading-title" ng-if="chartSettings.designType == 3 && isVisibleMarketInfo">
		<div>
			<div class="assets-img asset-info-img-content">
				<i class="asset-info-img"></i>
			</div>
			<i class="tradeBox_AI_close icon" ng-click="hideMarketInfo();"></i>
		</div>
		<div>
			<div class="asset-info-list scroll-wrapper" onmouseover="scrollerAdd(this)">
				<div class="scroll-content">
					<ul>
						<li>
							<div><span>{{getMsgs('symbol')}}: </span>{{marketInfo.symbol}}</div>
							<div><span>{{getMsgs('trading-time')}}:</span><br/>{{marketInfo.tradingTime}}</div>
							<div><span>{{getMsgs('expiry-type')}}: </span>{{getMsgs('exp-type-1')}} {{(marketInfo.formulas.length > 1) ? ',' + getMsgs('exp-type-3') : ''}}</div>
						</li>
						<li>
							<div>
								<span>{{getMsgs('expiry-formula')}}:</span><br/>
								{{assetIndexGeneral.assetIndexFormulasBySkin[marketInfo.formulas[0].formulaIndex].formulaTranslation}}
								{{formulas}}
							</div>
						</li>
						<li>
							<div>
								{{assetIndexGeneral.tooltipData}}
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="clear pR tradeBox_holder">
		<div class="tradeBox_content">
			<div class="tradeBox_left" id="tradeBox_left_{{::chartSettings.boxId}}">
				<i class="tradeBox_img tradeBox_call_btn active" id="tradeBox_call_btn_{{::chartSettings.boxId}}">
					<i class="tradeBox_img tradeBox_call_btn_image"></i>
					<i class="tradeBox_call_btn_text" id="tradeBox_call_btn_text_{{::chartSettings.boxId}}" date-text_1="{{getMsgs('call')}}" date-text_2="{{getMsgs('up')}}">{{getMsgs('call')}}</i>
				</i>
				<span class="tradeBox_level above" id="tradeBox_level_{{::chartSettings.boxId}}">0.0000</span>
				<i class="tradeBox_img tradeBox_put_btn active" id="tradeBox_put_btn_{{::chartSettings.boxId}}">
					<i class="tradeBox_put_btn_text" id="tradeBox_put_btn_text_{{::chartSettings.boxId}}" date-text_1="{{getMsgs('put')}}" date-text_2="{{getMsgs('down')}}">{{getMsgs('put')}}</i>
					<i class="tradeBox_img tradeBox_put_btn_image"></i>
				</i>
			</div>
			<div class="tradeBox_right" id="tradeBox_right_{{::chartSettings.boxId}}">
				<div class="tradeBox_time pR hidden" id="tradeBox_chartHeader_{{::chartSettings.boxId}}" ng-if="chartSettings.designType != 3">
					<span class="tradeBox_time_invest" id="tradeBox_time_invest_{{::chartSettings.boxId}}">{{getMsgs('trading.box.timeLeft')}}<span class="in" id="tradeBox_time_invest_d_{{::chartSettings.boxId}}">00:00</span>{{getMsgs('minute_sort')}}</span>
					<span class="tradeBox_exp_level" id="tradeBox_exp_level_{{::chartSettings.boxId}}">{{getMsgs('trading.box.expieryLevel')}} <span id="tradeBox_exp_level_value_{{::chartSettings.boxId}}" class="tradeBox_exp_level_value">0.0000</span></span>
					<span class="tradeBox_waiting_for_exp" id="tradeBox_waiting_for_exp_{{::chartSettings.boxId}}">{{getMsgs('trading.box.waiting')}}</span>
					<div class="tradeBox_info_ico tradeBox_img">
						<div class="tradeBox_info_tooltip">
							<span class="tradeBox_info_tooltip_row"><i class="tradeBox_info_tooltip_1_ico vaM tradeBox_img"></i><span class="dIB vaM">{{getMsgs('profitLine.inTheMoney')}}</span></span>
							<span class="tradeBox_info_tooltip_row"><i class="tradeBox_info_tooltip_2_ico vaM tradeBox_img"></i><span class="dIB vaM">{{getMsgs('profitLine.outOfTheMoney')}}</span></span>
							<span class="tradeBox_info_tooltip_row"><i class="tradeBox_info_tooltip_3_ico vaM tradeBox_img"></i><span class="dIB vaM">{{getMsgs('profitLine.optionLevel')}}</span></span>
							<span class="tradeBox_info_tooltip_row"><i class="tradeBox_info_tooltip_4_ico vaM tradeBox_img"></i><span class="dIB vaM">{{getMsgs('profitLine.currentLevel')}}</span></span>
						</div>
					</div>
				</div>
				<div class="tradeBox_balance_info" ng-if="chartSettings.designType == 3">
					<label>{{getMsgs('profitLine.totalInvestments')}}</label> <span id="profitLine_total_inv_val_{{::chartSettings.boxId}}">$0.00</span>	
					<label>{{getMsgs('profitLine.totalReturn')}}</label> <span id="profitLine_curr_rtn_val_{{::chartSettings.boxId}}"></span>
					<ul class="tradeBox_menu_exp_h" id="tradeBox_menu_exp_h_{{::chartSettings.boxId}}">
						<li class="tradeBox_menu_exp_li">
							<span class="tradeBox_menu_exp_span" onclick="openElement({'span':this,'autoClose':true})">
								<span class="tradeBox_menu_exp_title">{{getMsgs('trading.box.expires')}}&#160;<span id="trade_box_exp_time2_{{::chartSettings.boxId}}"></span></span>
								<i class="tradeBox_img tradeBox_img_schedule"></i>
							</span>
							<ul class="tradeBox_menu_ul" id="tradeBox_menu_exp_{{::chartSettings.boxId}}" data-text="{{getMsgs('opportunity.type.todayAt')}}" data-text-quorterly="{{getMsgs('end-of')}}">
								<li data-standart='1' data-value="1" class="selected">{{getMsgs('opportunity.type.closest')}}</li>
								<li data-standart='1' data-value="2" id="txt-schedule-2">{{getMsgs('opportunity.type.endofday')}}</li>
								<li data-standart='1' data-value="3" id="txt-schedule-3">{{getMsgs('opportunity.type.endofweek')}}</li>
								<li data-standart='1' data-value="4" id="txt-schedule-4">{{getMsgs('opportunity.type.endofmonth')}}</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="tradeBox_chart_h">
					<div class="tradeBox_chart_longTerm" id="tradeBox_chart_longTerm_{{::chartSettings.boxId}}" ng-bind-html="getMsgs('trading.box.chart.longterm')"></div>
					<div id="tradeBox_chart_main_{{::chartSettings.boxId}}" class="tradeBox_chart_main">
						<div class="tradeBox_chart" id="tradeBox_chart_{{::chartSettings.boxId}}"></div>
						<i class="tradeBox_chart_zoom_h" id="tradeBox_chart_zoom_h_{{::chartSettings.boxId}}">
							<i class="tradeBox_chart_zoom_plus_h" id="tradeBox_chart_zoom_plus_{{::chartSettings.boxId}}"><i class="tradeBox_chart_zoom_plus tradeBox_img"></i></i>
							<i class="tradeBox_chart_zoom_minus_h" id="tradeBox_chart_zoom_minus_{{::chartSettings.boxId}}"><i class="tradeBox_chart_zoom_minus tradeBox_img"></i></i>
						</i>
					</div>
					<div class="tradeBox_offer hidden" id="tradeBox_offer_{{::chartSettings.boxId}}" ng-if="chartSettings.boxType == 3">
						<div class="tradeBox_offer_sell">
							<div class="tradeBox_offer_sell_timer">
								<span class="tradeBox_offer_sell_timer_bgr" id="tradeBox_offer_sell_timer_bgr_{{::chartSettings.boxId}}">
									<span class="tradeBox_offer_sell_timer_txt cWhite">{{getMsgs('CMS.optionplus.popup.text.offerValid')}}</span>
									<span class="tradeBox_offer_sell_timer_time cWhite" id="tradeBox_offer_sell_timer_time2_{{::chartSettings.boxId}}">00:00</span>
								</span>
								<span class="tradeBox_offer_sell_timer_txt">{{getMsgs('CMS.optionplus.popup.text.offerValid')}}</span>
								<span class="tradeBox_offer_sell_timer_time" id="tradeBox_offer_sell_timer_time_{{::chartSettings.boxId}}">00:00</span>
							</div>
							<div class="tradeBox_offer_sell_bottom">
								<span class="tradeBox_offer_sell_txt1 tradeBox_offer_sell_txt1_{{::copyopUser.skinLanguage}}">{{getMsgs('CMS.optionplus.popup.text.ready.buy')}}</span>
								<span class="tradeBox_offer_sell_amount" id="tradeBox_offer_sell_amount_{{::chartSettings.boxId}}">$00<span>00</span></span>
								<div class="tradeBox_offer_sell_btns oH">
									<span class="tradeBox_offer_sell_btn_cancel tradeBox_offer_sell_btn_cancel_{{::copyopUser.skinLanguage}} fL tradeing_area_g" id="tradeBox_offer_sell_btn_cancel_{{::chartSettings.boxId}}">{{getMsgs('not-now')}}</span>
									<span class="tradeBox_offer_sell_btn_sell tradeBox_offer_sell_btn_sell_{{::copyopUser.skinLanguage}} fR tradeing_area_g" id="tradeBox_offer_sell_btn_sell_{{::chartSettings.boxId}}">{{getMsgs('CMS.optionplus.popup.text.btnBuy')}}</span>
								</div>
							</div>
						</div>
						<div class="tradeBox_offer_sold">
							<div class="tradeBox_offer_sold_timer">{{getMsgs('CMS.optionplus.popup.text.sold.success')}}</div>
							<div class="tradeBox_offer_sold_bottom">
								<span class="tradeBox_offer_sell_txt1">{{getMsgs('CMS.optionplus.popup.text.amount.add')}}</span>
								<span class="tradeBox_offer_sold_amount" id="tradeBox_offer_sold_amount_{{::chartSettings.boxId}}">$000<span>00</span></span>
							</div>
						</div>
						<div class="tradeBox_offer_expired">
							<div class="tradeBox_offer_expired_header">
								{{getMsgs('CMS.optionplus.popup.text.header')}}
							</div>
							<div class="tradeBox_offer_sell_bottom">
								<span class="tradeBox_offer_sell_txt1">{{getMsgs('CMS.optionplus.popup.text.text1')}}</span>
								<span class="tradeBox_offer_expired_amount tradeBox_offer_expired_amount_{{::copyopUser.skinLanguage}}">{{getMsgs('CMS.optionplus.popup.text.text2')}}</span>
								<div class="tradeBox_offer_sell_btns oH">
									<span class="tradeBox_offer_sell_btn_cancel tradeBox_offer_sell_btn_cancel_{{::copyopUser.skinLanguage}} fL tradeing_area_g" id="tradeBox_offer_sell_btn_cancel2_{{::chartSettings.boxId}}">{{getMsgs('not-now')}}</span>
									<span class="tradeBox_offer_sell_btn_sell tradeBox_offer_sell_btn_sell_{{::copyopUser.skinLanguage}} fR tradeing_area_g" id="tradeBox_offer_sell_btn_qetNewQuot_{{::chartSettings.boxId}}">{{getMsgs('CMS.optionplus.popup.text.btnGetQuote')}}</span>
								</div>
							</div>
						</div>
						<div class="tradeBox_offer_error">
							<div class="tradeBox_offer_expired_header">
								{{getMsgs('error')}}
							</div>
							<div class="tradeBox_offer_sell_bottom">
								<span class="tradeBox_offer_sell_txt1" id="tradeBox_offer_error_msg_{{::chartSettings.boxId}}"></span>
								<div class="tradeBox_offer_sell_btns oH">
									<span class="tradeBox_offer_sell_btn_cancel fL tradeing_area_g" id="tradeBox_offer_sell_btn_cancel3_{{::chartSettings.boxId}}">{{getMsgs('close')}}</span>
									<span class="tradeBox_offer_sell_btn_sell fR tradeing_area_g" id="tradeBox_offer_sell_btn_qetNewQuot2_{{::chartSettings.boxId}}">{{getMsgs('CMS.optionplus.popup.text.try.again')}}</span>
								</div>
							</div>
						</div>
						<div class="tradeBox_offer_loading"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="tradeBox_bottom active" id="tradeBox_bottom_{{::chartSettings.boxId}}">
			<div class="tradeBox_noClickMask"></div>
			<div class="tradeBox_bottom_ls tradeBox_bottom_ls_{{::copyopUser.skinLanguage}}">
				<span class="tradeBox_profit_t tradeBox_profit_t_{{::copyopUser.skinLanguage}}">{{getMsgs('CMS.tradeBox.text.if_correct_earn')}}</span>
				<span class="tradeBox_profit_amount" id="tradeBox_profit_amount_{{::chartSettings.boxId}}">$0000<span>00</span></span>
				<span class="tradeBox_incorrect active" id="tradeBox_incorrect_{{::chartSettings.boxId}}" ng-if="chartSettings.designType == 3">
					{{getMsgs('CMS.tradeBox.text.if_incorrect_get')}} 
					<span class="tradeBox_incorrect_amount" id="tradeBox_incorrect_amount_{{::chartSettings.boxId}}">$000<span>00</span></span>
				</span>
				<div class="assetPage_reuters" ng-if="chartSettings.customClass == 'assetPage'">
					{{getMsgs('reuters.logo.txt')}}
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}">
						<img src="#{applicationData.imagesPath}/icons/icon_ThReuters.png" class="assetPage_reuters_img"/>
					</a>					
				</div>
			</div>
			<div class="tradeBox_bottom_rs">
				<div class="fL tradeBox_invest_holder tradeBox_invest_holder_{{::chartSettings.boxType}}">
					<span class="tradeBox_invest_t tradeBox_invest_t_{{::copyopUser.skinLanguage}}">{{getMsgs('invest')}}</span>
					<ul class="tradeBox_invest_drop">
						<li>
							<span class="tradeBox_invest_drop_amount" onclick="openElement({'span':this,'autoClose':true})">
								<span class="tradeBox_inv_amount" id="tradeBox_inv_amount_{{::chartSettings.boxId}}"></span>
								<i class="tradeBox_img tradeBox_img_arrow"></i>
							</span>
							<ul class="tradeBox_invest_drop_ul" id="tradeBox_invest_drop_ul_{{::chartSettings.boxId}}">
								<li ng-repeat="values in predefValues" data-amount="{{values.predefValue}}">{{values.predefValueDsp}}</li>
								<li>
									<input class="tradeBox_invest_drop_custom" id="tradeBox_invest_drop_custom_{{::chartSettings.boxId}}" type="text" placeholder="{{getMsgs('other')}}"/>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="fL tradeBox_profit_holder" ng-if="chartSettings.boxType != 3">
					<span class="tradeBox_invest_t tradeBox_invest_t_{{::copyopUser.skinLanguage}}">{{getMsgs('profit')}}</span>
					<ul class="tradeBox_profit_drop">
						<li>
							<span class="tradeBox_profit_drop_amount" id="tradeBox_profit_drop_amount_{{::chartSettings.boxId}}">
								<span class="tradeBox_profit_main_amount" id="tradeBox_profit_procent_{{::chartSettings.boxId}}">70%</span>
								<i class="tradeBox_img tradeBox_img_arrow"></i>
							</span>
							<ul class="tradeBox_profit_drop_ul tradeBox_profit_drop_ul_{{::copyopUser.skinLanguage}}" id="tradeBox_profit_drop_ul_{{::chartSettings.boxId}}">
								<li class="first">
									<span class="tradeBox_profit_drop_left tradeBox_profit_drop_left_{{::copyopUser.skinLanguage}}">{{getMsgs('profit')}}</span>
									<span class="tradeBox_profit_drop_right tradeBox_profit_drop_right_{{::copyopUser.skinLanguage}}">{{getMsgs('selector.refund')}}</span>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="fL tradeBox_profit_dsp_holder" ng-if="chartSettings.boxType == 3">
					<span class="tradeBox_invest_t tradeBox_invest_t_{{::copyopUser.skinLanguage}}">{{getMsgs('profit')}}</span>
					<span class="tradeBox_profit_dsp" id="tradeBox_profit_dsp_{{::chartSettings.boxId}}">60%</span>
				</div>
				<ul class="fL tradeBox_profit_invs tradeBox_profit_invs_{{::chartSettings.boxType}}" id="tradeBox_profit_invs_{{::chartSettings.boxId}}" ng-if="chartSettings.designType == 2"></ul>
			</div>
			
			<div class="tradeBox_trends" id="tradeBox_trends_{{::chartSettings.boxId}}" ng-if="chartSettings.designType == 3">
				<i class="tradeBox_img tradeBox_trends_ico" onmouseover="openElement({'id':'tradeBox_trends_graph_0','autoClose':true})" onmouseout="closeElement({'id':'tradeBox_trends_graph_0','autoClose':true})"></i><!--{{::chartSettings.boxId}}-->
				<span class="tradeBox_trends_info">{{getMsgs('CMS.tradingBoxTemplates.label.icon_trend.tooltip')}}</span>
				<div class="tradeBox_trends_graph" id="tradeBox_trends_graph_{{::chartSettings.boxId}}">
					<span class="tradeBox_trends_action" id="tradeBox_trends_action_{{::chartSettings.boxId}}">{{getMsgs('call')}}</span>
					<div class="tradeBox_trends_graph_in_h">
						<span class="tradeBox_trends_graph_proc l25_proc" id="tradeBox_trends_graph_proc_call_{{::chartSettings.boxId}}">50%</span>
						<span class="tradeBox_trends_graph_proc r25_proc" id="tradeBox_trends_graph_proc_put_{{::chartSettings.boxId}}">50%</span>
						<div class="tradeBox_trends_graph_in">
							<div class="tradeBox_trends_graph_put" id="tradeBox_trends_graph_put_{{::chartSettings.boxId}}">
								<i class="tradeBox_trends_graph_sep" id="tradeBox_trends_graph_sep_{{::chartSettings.boxId}}"></i>
							</div>
						</div>
					</div>
					<span class="tradeBox_trends_action" id="tradeBox_trends_action_{{::chartSettings.boxId}}">{{getMsgs('CMS.tradingBoxTemplates.label.tradingbx_trend_put')}}</span>
				</div>
			</div>
		</div>
		<div class="tradeBox_footer" id="tradeBox_footer_{{::chartSettings.boxId}}">
			<span class="tradeBox_incorrect active" id="tradeBox_incorrect_{{::chartSettings.boxId}}" ng-if="chartSettings.designType != 3">
				{{getMsgs('CMS.tradeBox.text.if_incorrect_get')}} 
				<span class="tradeBox_incorrect_amount" id="tradeBox_incorrect_amount_{{::chartSettings.boxId}}">$000<span>00</span></span>
			</span>
			<div class="tradeBox_error_minAmount" id="tradeBox_error_footer_{{::chartSettings.boxId}}">
				<span id="tradeBox_error_footer_txt_{{::chartSettings.boxId}}"></span>
				<i class="tradeBox_AI_close icon" id="tradeBox_error_footer_close_{{::chartSettings.boxId}}"></i>
			</div>
			
			<div class="tradeBox_trends" id="tradeBox_trends_{{::chartSettings.boxId}}" ng-if="chartSettings.designType == 1">
				<i class="tradeBox_img tradeBox_trends_ico" onclick="openElement({'id':'tradeBox_trends_graph_0','autoClose':true})"></i><!--{{::chartSettings.boxId}}-->
				<span class="tradeBox_trends_info">{{getMsgs('CMS.tradingBoxTemplates.label.icon_trend.tooltip')}}</span>
				<div class="tradeBox_trends_graph" id="tradeBox_trends_graph_{{::chartSettings.boxId}}">
					<i class="tradeBox_close tradeBox_img" onclick="closeElement({'el':this})"></i>
					<span class="tradeBox_trends_action" id="tradeBox_trends_action_{{::chartSettings.boxId}}">{{getMsgs('call')}}</span>
					<div class="tradeBox_trends_graph_in_h">
						<span class="tradeBox_img tradeBox_trends_graph_proc l25_proc" id="tradeBox_trends_graph_proc_call_{{::chartSettings.boxId}}">50%</span>
						<span class="tradeBox_img tradeBox_trends_graph_proc r25_proc" id="tradeBox_trends_graph_proc_put_{{::chartSettings.boxId}}">50%</span>
						<div class="tradeBox_trends_graph_in tradeing_trends_g">
							<div class="tradeBox_trends_graph_put tradeing_trends_g" id="tradeBox_trends_graph_put_{{::chartSettings.boxId}}">
								<i class="tradeBox_trends_graph_sep tradeBox_img" id="tradeBox_trends_graph_sep_{{::chartSettings.boxId}}"></i>
							</div>
						</div>
					</div>
					<span class="tradeBox_trends_action" id="tradeBox_trends_action_{{::chartSettings.boxId}}">{{getMsgs('CMS.tradingBoxTemplates.label.tradingbx_trend_put')}}</span>
				</div>
			</div>
			<i id="tradeBox_audio" class="tradeBox_audio tradeBox_img" ng-if="chartSettings.designType == 2"></i>
		</div>

		<div class="tradeBox_after_invest tradeBox_after_invest_{{::copyopUser.skinLanguage}}" id="tradeBox_after_invest_{{::chartSettings.boxId}}">
			<span class="tradeBox_AI_close icon" onclick="closeElement({'el':this})"></span>
			<div class="tradeBox_slipHeader">
				<div class="tradeBox_slipHeader_1">{{getMsgs('you_chose')}}</div>
				<div class="tradeBox_slipHeader_2">{{::marketName}}</div>
				<div class="tradeBox_slipHeader_3">{{getMsgs('level')}}: <span id="tradeBox_AI_level_{{::chartSettings.boxId}}"></span></div>
				<div class="tradeBox_slipHeader_4">{{getMsgs('trading.success.confirmation')}} <span id="tradeBox_AI_option_id_{{::chartSettings.boxId}}" class="tradeBox_AI_txt_color">#51906458</span></div>
			</div>
			<div class="tradeBox_slipIn">
				<div class="row">
					<div>{{getMsgs('trading.slip.type')}}</div>
					<div class="tradeBox_AI_type" id="tradeBox_AI_type_{{::chartSettings.boxId}}" data-call="{{getMsgs('call.2')}}" data-put="{{getMsgs('put.2')}}"></div>
				</div>
				<div class="row">
					<div>{{getMsgs('trading.slip.expires')}}</div>
					<div id="tradeBox_AI_expires_{{::chartSettings.boxId}}" class="tradeBox_AI_txt_color">00:00</div>
				</div>
				<div class="row">
					<div>{{getMsgs('amount')}}</div>
					<div id="tradeBox_AI_amount_{{::chartSettings.boxId}}" class="tradeBox_AI_txt_color">$0,000.00</div>
				</div>
				<div class="row">
					<div>{{getMsgs('CMS.tradeBox.text.if_correct_earn')}}: </div>
					<div id="tradeBox_AI_correct_{{::chartSettings.boxId}}" class="tradeBox_AI_txt_color">$0,000.00</div>
				</div>
				<div class="row">
					<div>{{getMsgs('CMS.tradeBox.text.if_incorrect_get')}}:</div>
					<div id="tradeBox_AI_incorrect_{{::chartSettings.boxId}}" class="tradeBox_AI_txt_color">$000.00</div>
				</div>
				<div>
					<span class="tradeBox_print vaM tradeBox_img" id="tradeBox_print_{{::chartSettings.boxId}}"></span>
					<span ng-if="chartSettings.designType == 1" class="tradeBox_profitLine vaM" id="tradeBox_profitLine_{{::chartSettings.boxId}}">{{getMsgs('live.login.trade.profit.line')}}</span>
				</div>
				<div class="clear tradeBox_sms_holder" id="tradeBox_sms_{{::chartSettings.boxId}}">
					<input type="checkbox" class="vaT tradeBox_sms_inp" id="tradeBox_sms_inp_{{::chartSettings.boxId}}"/>
					<span class="vaT tradeBox_sms_txt tradeBox_sms_txt_{{::copyopUser.skinLanguage}}" id="tradeBox_sms_txt_{{::chartSettings.boxId}}" 
						data-defaultMsg="{{getMsgs('trading.chartBox.recipt.SMS')}}">{{getMsgs('trading.chartBox.recipt.SMS')}}</span>
				</div>
				<div class="clear pt5 tradeBox_slipCommision tradeBox_slipCommision_{{::chartSettings.boxType}}" id="tradeBox_slipCommision_{{::chartSettings.boxId}}">
					{{getMsgs('optionPlus.slipConfirmNote')}}
				</div>
			</div>
		</div>
		<div class="chart-overlays" id="chart-overlays_{{::chartSettings.boxId}}">
			<div class="cancel-inv-slip" id="cancel-inv-slip_{{::chartSettings.boxId}}">
				<div class="level">
					<i class="invest-arrow" id="cancel-inv-invest-arrow_{{::chartSettings.boxId}}"></i> 
					<span class="vaM">
						 <span id="cancel-inv-level_{{::chartSettings.boxId}}"></span>
					</span>
				</div>
				<div class="amount" id="cancel-inv-amount_{{::chartSettings.boxId}}"></div>
				<div class="timer">
					<div class="loader" id="cancel-inv-time-left-percent_{{::chartSettings.boxId}}" style="width:{{cancelTimeLeftPercent}}%"></div>
					<span class="time" id="cancel-inv-time-left-sec_{{::chartSettings.boxId}}"></span>
				</div>
				<div class="text1" id="cancelInvText_{{::chartSettings.boxId}}" data-text="{{getMsgs('cancelInvText')}}"></div>
				<div class="taC">
					<span class="submit-link" id="submit-link_{{::chartSettings.boxId}}" >{{getMsgs('cancelInvLink')}}</span>
				</div>
				<label class="hide-forever">
					<input type="checkbox" id="hide-forever_{{::chartSettings.boxId}}" />
					<span class="checkbox small-check"></span>
					<span>{{getMsgs('cancelInvDontShow')}}</span>
				</label>
			</div>
			<div class="cancel-inv-msg-slip" id="cancel-inv-msg-slip_{{::chartSettings.boxId}}">
				<div class="tradeBox_AI_close icon" id="cancel-cool-close_{{::chartSettings.boxId}}"></div>
				<i class="canceled-ico"></i>
				<div class="text">{{getMsgs('canceledInv')}}</div>
			</div>
			<div class="cancel-inv-error-slip" id="cancel-inv-error-slip_{{::chartSettings.boxId}}">
				<div class="tradeBox_AI_close icon" id="cancel-cool-close_{{::chartSettings.boxId}}"></div>
				<div class="text">{{getMsgs('no-confirmation')}}</div>
			</div>
		</div>

		<div class="tradeBox_pop_holder hidden" id="tradeBox_pop_holder_{{::chartSettings.boxId}}">
			<div class="tradeBox_pop_notAvb tradeBox_pop_notAv" id="tradeBox_pop_notAv_{{::chartSettings.boxId}}">
				<span class="tradeBox_img tradeBox_img_locker"></span>
				<br />
				<span ng-if="chartSettings.designType != 4" ng-bind-html="getMsgs('trading.box.willOpen')"></span>
			</div>
			<div class="tradeBox_pop_notAvb tradeBox_pop_suspended">
				<span id="tradeBox_pop_suspended_{{::chartSettings.boxId}}"></span>
				<br />
				<span class="tradeBox_img tradeBox_img_locker"></span>
			</div>
			<div class="tradeBox_pop_notAvb tradeBox_pop_login" id="tradeBox_pop_login_{{::chartSettings.boxId}}">
				<span class="tradeBox_close tradeBox_img" id="tradeBox_pop_login_close_{{::chartSettings.boxId}}"></span>
				{{getMsgs('error.investment.notLogin1')}}
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="trade_buton_login trade_buton_login_h trade_buton_login_h_{{::copyopUser.skinLanguage}} clear mt10 mb5">
					<span class="rs trade_buton_login">
						<span class="cs trade_buton_login">
							{{getMsgs('CMS.quick_sign_up.submit1')}}
						</span>
					</span>
				</a>
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/login.jsf')}" class="trade_buton_login trade_buton_register_h clear mt2">
					<span class="rs trade_buton_login">
						<span class="cs trade_buton_login">
							{{getMsgs('login')}}
						</span>
					</span>
				</a>
			</div>
			<div class="tradeBox_pop_notAvb tradeBox_pop_noDeposit" id="tradeBox_pop_noDeposit_{{::chartSettings.boxId}}">
				<span class="tradeBox_img tradeBox_AI_close icon" id="tradeBox_pop_noDeposit_close_{{::chartSettings.boxId}}"></span>
				<span ng-bind-html="getMsgs('CMS.tradeBox.text.insufficient_funds')"></span>
				<a ng-click="openCopyOpPopup({type: 'deposit'})" class="button arrow highlight ng-binding mt10">{{getMsgs('deposit')}}</a>
			</div>
			<div class="tradeBox_pop_notAvb tradeBox_pop_cashDeposit" id="tradeBox_pop_cashDeposit_{{::chartSettings.boxId}}">
				<span class="tradeBox_img tradeBox_AI_close icon" id="tradeBox_pop_cashDeposit_close_{{::chartSettings.boxId}}"></span>
				<span id="tradeBox_pop_cashDeposit_msg_{{::chartSettings.boxId}}" data-msgs="{{getMsgs('CMS.tradeBox.text.cashDeposit')}}"></span>
				<a ng-click="openCopyOpPopup({type: 'deposit'})" class="button arrow highlight ng-binding mt10">{{getMsgs('deposit')}}</a>
			</div>
			<div class="tradeBox_pop_notAvb tradeBox_pop_dev2" id="tradeBox_pop_dev2_{{::chartSettings.boxId}}">
				<span class="tradeBox_dev2_msg" id="tradeBox_dev2_msg_{{::chartSettings.boxId}}">{{getMsgs('CMS.tradeBox.text.dev2Text')}}</span>
				<i class="tradeBox_dev2_progress">
					<i class="tradeBox_dev2_progress_in" dir="ltr">
						<i class="tradeBox_dev2_progress_in2" id="tradeBox_dev2_progress_{{::chartSettings.boxId}}"></i>
					</i>
				</i>
			</div>
		</div>
	</div>
	<audio controls='true' id="tradeBox_audio_{{::chartSettings.boxId}}" style="display:none;" ng-if="chartSettings.designType > 1 && chartSettings.designType < 1">
		<source src="#" type="audio/mpeg" id="tradeBox_audio_mp3_{{::chartSettings.boxId}}"/>
		<source src="#" type="audio/ogg" id="tradeBox_audio_ogg_{{::chartSettings.boxId}}"/>
		Your browser does not support the audio element.
	</audio>
</div>