<div class="offhours-content">
	<img src="img/trading-offhours.png" width="527" height="282" alt="Trading Offhours"/>
	<h3>{{getMsgs('trading-offhours.h3')}}</h3>
	<p>{{getMsgs('trading-offhours.p1')}}</p>
	<p>{{getMsgs('trading-offhours.p2')}}</p>
	<p>{{getMsgs('trading-offhours.p3')}}</p>
	<p><strong>{{getMsgs('trading-offhours.p4')}}</strong></p>
</div>