<div ng-include="'html/templates/user-page-tabs.html'"></div>
<div>
	<div ng-include="'html/templates/user-connections-tabs.html'"></div>
</div>
<div class="my-page-container my-page-top" loading>
	<h3 class="heading-user no-top-offset">{{getMsgs(title, {nickname: userProfile.nickname})}}</h3>
	<hr class="vertical-line"/>
	<ul class="connections-list">
		<li class="table" ng-repeat="user in users" ng-hide="user.hide">
			<div>
				<a ui-sref="ln.in.a.user.overview({userId:user.userId, ln:skinLanguage})">
					<img class="img-connection" ng-src="{{::user.avatar}}"/>
				</a>
				<span class="dIB vaM">
					<a ui-sref="ln.in.a.user.overview({userId:user.userId, ln:skinLanguage})" class="name">{{::user.nickname}}</a><br/>
					{{getMsgs('hit-rate')}} {{::user.hitRatePercentage}}
					<span class="ml10 icon small {{user.className}}">{{user.costEarnedDsp}}</span>
				</span>
			</div>
			<div>
				<span class="dB icon small copiers">{{::user.copiers}} {{getMsgs('copiers')}}</span>
				<span class="icon small watchers">{{::user.watchers}} {{getMsgs('watchers')}}</span>
			</div>
			<div class="buttons-field">
				<button class="button tall icon copy" ng-class="{ing: usersInfo[user.userId].copying, disabled: usersInfo[user.userId].frozen}" 
					ng-if="user.userId != copyopUser.userId"
					ng-click="openCopyOpPopup({destUserId: user.userId, type: 'copy', obj: user})">
					{{usersInfo[user.userId].copying ? getMsgs('copying') : getMsgs('copy2')}}
				</button>
				<button class="button tall icon watch" ng-class="{ing: usersInfo[user.userId].watching || usersInfo[user.userId].copying}"
					ng-if="user.userId != copyopUser.userId"
					ng-click="openCopyOpPopup({destUserId: user.userId, type: 'watch', obj: user})" >
					{{usersInfo[user.userId].watching || usersInfo[user.userId].copying ? getMsgs('watching') : getMsgs('watch2')}}
				</button>
			</div>
		</li>
	</ul>
</div>