<ul class="nav-tabs table flex my-account-tabs">
	<li ng-class="{ current: $state.includes('ln.in.a.user.overview') }">
		<a ui-sref="ln.in.a.user.overview({ln:skinLanguage})">{{getMsgs('overview')}}</a>
	</li>
	<li ng-class="{ current: $state.includes('ln.in.a.user.stats') }">
		<a ui-sref="ln.in.a.user.stats({ln:skinLanguage})">{{getMsgs('stats')}}</a>
	</li>
	<li ng-class="{ current: $state.includes('ln.in.a.user.connections') }">
		<a ui-sref="ln.in.a.user.connections.my-copiers({ln:skinLanguage})">{{getMsgs('copy-and-watch')}}</a>
	</li>
</ul>