<div ng-include="'html/templates/user-page-tabs.html'"></div>
<div class="my-page-container">
	<div class="user-overview">
		<div class="user-info">
			<div class="user-status icon middle status" ng-class="{ online: userProfile.online }">
				{{userProfile.online ? getMsgs('online'): getMsgs('offline')}}
			</div>
			<div class="user-status-info">
				{{getMsgs('since')}}
				<span>{{userProfile.timeCreatedDsp | date:'dd.MM.yyyy'}}</span>
			</div>
		</div>
		<div class="about-user">
			<p class="user-decription">{{userProfile.description}}</p>
			<div class="user-status-info mt5">
				{{getMsgs('risk-lover')}}
				<i class="icon-mid-m {{userProfile.riskAppetite > 0 ?'big-':''}}risk-lover mt10 "></i>
				<i class="icon-mid-m {{userProfile.riskAppetite > 1 ?'big-':''}}risk-lover ml10 mt10"></i>
				<i class="icon-mid-m {{userProfile.riskAppetite > 2 ?'big-':''}}risk-lover ml10 mt10"></i>
			</div>
		</div>
		<h3 class="heading-user">{{getMsgs('performance')}}</h3>
		<ul class="user-performence">
			<li class="table flex pt10 pb10" ng-if="userProfile.bestAssetMarketResult != -1">
				<div class="icon big best-asset">{{getMsgs('best-asset')}}</div>
				<div class="best-asset-profit">
					{{userProfile.bestAssetMarket}}<br/>
					<span>+ {{userProfile.bestAssetMarketResultDsp}} {{getMsgs('profit')}}</span>
				</div>
			</li>
			<li class="table flex pt10 pb10" ng-if="userProfile.streakResult != -1">
				<div class="icon big best-streak">{{getMsgs('best-streak')}}</div>
				<div class="best-streak-profit">
					{{userProfile.streakCount}}<br/>
					<span>{{userProfile.streakResultDsp}} {{getMsgs('profit')}}</span>
				</div>
			</li>
			<li class="table flex pt10 pb10">
				<div class="icon big best-trades">{{getMsgs('trades')}}</div>
				<div class="best-streak-profit">
					{{userProfile.avgTrades}}<br/>
					<span>({{userProfile.avgTradesPeriod > 7 ? getMsgs('per-day') : getMsgs('per-day')}})</span>
				</div>
			</li>
		</ul>
		<div ng-show="showLastTrades()">
			<h3 class="heading-user">{{getMsgs('last-trades')}}</h3>
			<div ng-include="'html/templates/options-table.html'"></div>
		</div>
		<h3 class="heading-user">{{getMsgs(userProfile.header3, {'nickname': userProfile.nickname})}}</h3>
		<div class="copiers-suggestions-holder">
			<i class="icon-mid-m slide-arrow" ng-class="{ dNi: userProfile.copiedProfilesShow }" onclick="gd_slideShow('left', 'user-copiers-slider')"></i>
			<i class="icon-mid-m slide-arrow right-a" ng-class="{ dNi: userProfile.copiedProfilesShow }" onclick="gd_slideShow('right', 'user-copiers-slider')"></i>
			<div class="copiers-suggestions-in">
				<ul class="copiers-suggestions" id="user-copiers-slider" style="width:{{userProfile.copiedProfilesWidth}}">
					<li ng-repeat="user in userProfile.copiedProfiles">
						<a ui-sref="ln.in.a.user.overview({userId:user.userId, ln:skinLanguage})">
							<img class="name-tag-img" ng-src="{{user.avatar}}" width="105" height="105"/>
							<div>{{user.nickname}}</div>
							<div>{{user.hitRatePercentage}} {{getMsgs('hit-rate')}}</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>