<ul class="connections-nav table flex">
	<li ng-class="{ current: $state.includes('ln.in.a.user.connections.my-copiers') }" ng-click="$state.go('ln.in.a.user.connections.my-copiers', {ln: skinLanguage});">
		{{getMsgs(cUser.sameUser ? 'user-connections-tab.tab1' : 'copiers')}}
	</li>
	<li ng-class="{ current: $state.includes('ln.in.a.user.connections.my-watchers') }" ng-click="$state.go('ln.in.a.user.connections.my-watchers', {ln: skinLanguage});">
		{{getMsgs(cUser.sameUser ? 'user-connections-tab.tab2' : 'watchers')}}
	</li>
	<li ng-class="{ current: $state.includes('ln.in.a.user.connections.im-copying') }" ng-click="$state.go('ln.in.a.user.connections.im-copying', {ln: skinLanguage});">
		{{getMsgs(cUser.sameUser ? 'user-connections-tab.tab3' : 'copying')}}
	</li>
	<li ng-class="{ current: $state.includes('ln.in.a.user.connections.im-watching') }" ng-click="$state.go('ln.in.a.user.connections.im-watching', {ln: skinLanguage});">
		{{getMsgs(cUser.sameUser ? 'user-connections-tab.tab4' : 'watching')}}
	</li>
	<li ng-class="{ current: $state.includes('ln.in.a.user.connections.facebook') }"  ng-click="$state.go('ln.in.a.user.connections.facebook', {ln: skinLanguage});" class="connection-fb icon middle">
		{{getMsgs('facebook')}}
	</li>
</ul>