<h2 class="heading-inner toggle">{{getMsgs('withdraw')}}</h2>
<div class="panel-content" ng-controller="WithdrawCtrl">
	<div>
		<div ng-include="'html/templates/withdraw-cc.html'" ng-if="withdrawMethod == 'creditCard'"></div>
		<div ng-include="'html/templates/withdraw-bank-wire.html'" ng-if="withdrawMethod == 'bankWire' || withdrawMethod == 'direct24' || withdrawMethod == 'eps' || withdrawMethod == 'giropay'"></div>
	</div>
	<!-- Widthraw Offhours -->
	<div class="withdraw_offhours_content" ng-show="!isWithdrawalWeekendsAvailable">
		<i class="withdraw_offhours_img"></i>
		<div class="withdraw_offhours_txt">
			<h3 class="withdraw_offhours_h3" ng-bind-html="getMsgs('withdraw.offhours.heading')"></h3>
			<span ng-bind-html="getMsgs('withdraw.offhours.txt')"></span>
		</div>
	</div>
</div>