<div ng-controller="WithdrawCcCtrl">
	<div class="row mb30" ng-show="isWithdrawalWeekendsAvailable">
		<img src="img/cards.png" width="72" height="21"/>
	</div>
	<div class="row" ng-show="isWithdrawalWeekendsAvailable">
		<div ng-include="'html/templates/withdraw-methods-tabs.html'"></div>
		<form name="_form" novalidate>
			<div class="compact-box">
				<div class="row select-wrapper flex ttUC" ng-class="{ error: checkError(_form, 'cardId', 'required') }">
					<select class="ttUC" ng-model="withdrawNum" ng-options="card.ccNumberDsp + ' ' + card.typeName for card in cards | filter: { expMonth: '!null' }" id="cardId" name="cardId" required >
						<option value="">{{cards[0].typeName}}</option>
					</select>
					<span title="{{withdrawNum.typeName}}">
						{{(withdrawNum == null) ? getMsgs('select-card') : withdrawNum.ccNumberDsp+ ' ' + withdrawNum.typeName}}
					</span>
				</div>
				<div class="row">
					<div class="currency-holder">
						<div class="currency-amount">
							<input class="field" type="text" ng-model="withdrawAmount" placeholder="{{getMsgs('withdraw-amount')}}" id="amount" name="amount" 
								restrict-float required/>
						</div>
						<div class="currency-box">
							<span class="currency">{{copyopUser.user.currency.symbol}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<button class="button submit" ng-class="{ loading: loading }" type="submit" ng-click="showWithdrawSurvey(_form)">{{getMsgs('submit')}}</button>
				</div>
				<div class="row error-message taC">
					<span ng-if="checkError(_form, 'amount', 'required')">{{getMsgs('withdraw-amount')}}: {{getMsgs('error-mandatory')}} </span>
					<span ng-if="checkError(_form, 'cardId', 'required')">{{getMsgs('credit-card')}}: {{getMsgs('error-mandatory')}} </span>
				</div>
				<div class="row error-message taC" id="globalErrorField_withrow"></div>
			</div>
		</form>
	</div>
</div>