<ul class="table flex link-nav">
	<li ng-if="hasCC">
		<a class="item arrow" ng-class="{ current: withdrawMethod == 'creditCard' }" ng-click="setMethod('creditCard')">
			{{getMsgs('credit-card')}}
		</a>
	</li>
	<li ng-if="hasWire">
		<a class="item arrow" ng-class="{ current: withdrawMethod == 'bankWire' }" ng-click="setMethod('bankWire')">
			{{getMsgs('bank-wire.txt')}}
		</a>
	</li>
	<li ng-if="displayDirect24">
		<a class="item arrow" ng-class="{ current: withdrawMethod == 'direct24' }"  ng-click="setMethod('direct24')">
			DIRECT24
		</a>
	</li>
	<li ng-if="displayGiropay">
		<a class="item arrow" ng-class="{ current: withdrawMethod == 'giropay' }" ng-click="setMethod('giropay')">
			GIROPAY
		</a>
	</li>
	<li ng-if="displayEPS">
		<a class="item arrow" ng-class="{ current: withdrawMethod == 'eps' }" ng-click="setMethod('eps')">
			EPS
		</a>
	</li>
</ul>