<div ng-controller="PermissionsCtr" id="tab-content" class="permissions-content">
	<h1><span>{{getMsgs('permissions')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="result" ng-if="result">
		<div ng-if="result">{{getMsgs('permissions.saved', {roleName: result.roleName})}}</div>
		<div class="warning" ng-if="result.forceRelogin">{{getMsgs('warning.permissions-force-relogin')}}</div>
		<div class="duplicate-writers-title" ng-if="result.existWriterRoleList" ng-bind-html="getMsgs('permissions.duplicate.writers')"></div>
		<div class="duplicate-writers-list" ng-if="result.existWriterRoleList">
			<div class="duplicate-writers-list-header">
				<span>{{getMsgs('writer')}}</span>
				<span>{{getMsgs('department')}}</span>
				<span>{{getMsgs('group')}}</span>
			</div>
			<div class="duplicate-writers-list-row" ng-repeat="writer in result.existWriterRoleList">
				<span>{{writer.writerUserName}}</span>
				<span>{{writer.writerDepartment}}</span>
				<span>{{writer.writerRole}}</span>
			</div>
		</div>
		<button class="result-button-ok" ng-click="closeResult()">{{getMsgs('ok')}}</button>
	</div>
	<div class="box permissions-screen">
		<div class="box-header">
			<div class="table">
				<div class="table-cell">
					<label>
						<span ng-if="!action">
							{{getMsgs('permissions.group.select')}}
							<select ng-model="filter.role" ng-options="role.name for role in filter.roles | orderBy: 'name'" ng-change="getViewPermissions()"></select>
						</span>
						<span ng-if="action == 'add'">{{getMsgs('permissions.group.add')}}</span>
						<span ng-if="action == 'edit'">{{getMsgs('permissions.group.edit')}}</span>
						<input ng-if="action" ng-model="filter.roleName" type="text" placeholder="{{getMsgs('group.name')}}">
					</label>
				</div>
				<div class="table-cell">
					<button type="button" class="button blue" ng-if="!action" ng-disabled="!permissions.get('permissions_editRole') || !selectedRole.role" ng-click="$state.go('ln.admin.permissions.edit', {ln: $state.params.ln, roleId: filter.role.id});" id="editBtn">
						<i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
						{{getMsgs('edit')}}
					</button>
					
					<button type="button" class="button green" ng-if="!action" ng-disabled="!permissions.get('permissions_addRole')" ng-click="$state.go('ln.admin.permissions.add', {ln: $state.params.ln});" id="addBtn">
						<i class="fa fa-plus add-icon" aria-hidden="true"></i>
						{{getMsgs('add')}}
					</button>
					
					<button type="button" class="button blue" ng-if="action" ng-click="savePermissions();" id="saveBtn">
						{{getMsgs('save')}}
					</button>
					
					<button ui-sref="ln.admin.permissions" class="button red" ng-if="action" ng-click="$state.go('ln.admin.permissions', {ln: $state.params.ln});" id="cancelBtn">
						{{getMsgs('cancel')}}
					</button>
				</div>
			</div>
		</div>
		<div class="box-sub-header" ng-if="selectedRole.role || action">
			<div class="table">
				<div class="table-cell">{{getMsgs('writers')}}</div>
				<div class="table-cell">{{getMsgs('permissions')}}</div>
			</div>
		</div>
		<div class="box-body">
			<div class="permissions-screen">
				<div class="table">
					<div ng-if="writersList.root" class="checkbox-tree disable-text-selection table-cell" ui-tree data-drag-enabled="false">
						<ol class="tree-root" ui-tree-nodes="" ng-model="writersList.root" id="tree-root">
							<li class="node-group" ng-repeat="node in writersList.root" ui-tree-node ng-include="'html/templates/components/checkbox-tree.html'"></li>
						</ol>
					</div>
					
					<div ng-if="permissionsList.root" class="checkbox-tree disable-text-selection table-cell" ui-tree data-drag-enabled="false">
						<ol class="tree-root" ui-tree-nodes="" ng-model="permissionsList.root" id="tree-root">
							<li class="node-group" ng-repeat="node in permissionsList.root" ui-tree-node ng-include="'html/templates/components/checkbox-tree.html'"></li>
						</ol>
					</div>
					
				</div>
			</div>
		</div>
		<div class="box-footer" ng-if="selectedRole.role || action">
			<div class="table">
				<div class="table-cell">{{writersList.getCheckedNodes(false).length}} <span>{{getMsgs('writers')}}</span></div>
				<div class="table-cell">{{permissionsList.getCheckedNodes(false).length}} <span>{{getMsgs('permissions')}}</span></div>
			</div>
		</div>
	</div>
</div>