/* Styles for rtl languages */

body[dir="rtl"] {
	th {
		text-align:right;
	}
	.flag::before {
		margin-right:0;
		margin-left:5px;
	}
	.arrow::after {
		margin-left:0;
		margin-right:3px;
	}
	.sub-header .wrap {
		padding:0 15px 0 0;
	}
	.nav ul {
		left:initial;
		right:0;
	}
	.nav .icon::before {
		margin-right:0;
		margin-left:10px;
	}
	.header-menu .button {
		margin-left:0px;
		margin-right:20px;
	}
	.header-menu .anyoption-login {
		margin-left:0;
		margin-right:35px;
	}
	.main-features li+li {
		margin-left:0;
		margin-right:8%;
	}
	.trading-features li {
		margin-left:0;
		margin-right:8%;
		padding-left:0;
		padding-right:90px;
		&::before {
			left:initial;
			right:0;
		}
	}
	.trading-app-holder {
		padding-right:0;
		padding-left:540px;
		.mobile-devices {
			right:initial;
			left:0;
		}
	}
	.trading-app-box h2::before {
		margin-right:0;
		margin-left:25px;
	}
	.footer-nav li+li::before {
		left:initial;
		right:-11px;
		border-left:none;
		border-right:1px solid #dce6f1;
	}
	.main-footer p.credibility-logos img {
		margin-right:0;
		margin-left:36px;
		&:last-child {
			margin-left:0px;
		}
	}
	
	.text-area {
		left:initial;
		right:25px;
		&::before {
			left:initial;
			right:-12px;
			border-width:1px 1px 0 0;
		}
	}
	.copyop-explanation-dash {
		left:initial;
		right:33px;
	}
	
	.panel .faq-list-item.toggle::after {
		right:initial;
		left:8px;
	}
	.faq-list-item {
		padding:5px 8px 5px 30px;
	}
	
	.about-us-page {
		.inner-nav li::before {
			margin-right:0;
			margin-left:5px;
		}
		.main-heading {
			text-align:right;
		}
		.subheading {
			text-align:right;
		}
		.about-us-info li+li {
			padding-left:0;
			padding-right:60px;
		}
		.about-us-content .about-us-icons::before {
			margin-right:0;
			margin-left:20px;
		}
		.about-us-content .table>div:first-child {
			padding-right:0;
			padding-left:4.4%;
		}
		.about-us-content .table>div:last-child {
			padding-left:0;
			padding-right:4.4%;
		}
	}
	
	.phone-holder {
		div+div {
			padding-left:0;
			padding-right:10px;
		}
		.select-wrapper {
			padding:17px 17px 17px 35px;
			&::after {
				right:initial;
				left:15px;
			}
		}
	}
	
	.button.facebook.icon {
		padding-left:0;
		padding-right:55px;
	}
	.button.facebook::before {
		left:initial;
		right:8px;
	}
	.sign-up .table>div:first-child {
		padding-right:0;
		padding-left:25px;
	}
	.avatar-box-holder>div+div {
		padding-left:0;
		padding-right:15px;
	}
	.avatar-holder .edit {
		left:initial;
		right:5px;
		&::before {
			transform:scaleX(-1);
		}
	}
	.checkbox {
		margin:-4px 0 0 5px;
	}
	.radio-button {
		margin:-4px 0 0 5px;
	}
	.hint.icon::before {
		margin-right:0;
		margin-left:3px;
	}
	
	.global-star {
		text-align:right!important;
		left:0!important;
		right:30px!important;
	}
	.error-star::before {
		left:initial;
		right:5px;
	}
	.popUp-first-deposit .popUp-body {
		text-align:right;
	}
	.first-deposit-header .first-deposit-tab span.ml5 {
		margin-left:0!important;
		margin-right:5px;
	}
	.first-deposit-page {
		.currency-holder>div+div, .card-expiry-holder>div+div {
			padding-left:0;
			padding-right:25px;
		}
		.card-expiry-holder .cvv-holder .hint {
			margin:0 15px 0 0;
		}
		.card-expiry-holder .expiry-day {
			padding-right:0;
			padding-left:8.7%;
		}
		.select-wrapper {
			padding:12px 10px 10px 24px;
			&::after {
				right:initial;
				left:10px;
			}
		}
		.tooltip-message {
			right:initial;
			left:-15px;
			&::before {
				left:20px;
			}
		}
		.zip-code {
			margin-left:0;
			margin-right:22px;
		}
		.birth-date .birth-date-cell+.birth-date-cell {
			padding-left:0;
			padding-right:5.5%;
		}
	}
	
	.sub-header .nav.logged {
		padding-left:0;
		padding-right:30px;
		li+li {
			padding-left:0;
			padding-right:15px;
		}
	}
	.header-balance {
		padding-left:0;
		padding-right:150px;
		.text {
			display:inline-block;
		}
	}
	.main-header .trade::before {
		margin-right:0;
		margin-left:5px;
	}
	.header-icons {
		padding:2px 30px 0 0;
		& > li+li .offset {
			margin-left:0;
			margin-right:20px;
		}
	}
	.user-menu {
		margin-left:0;
		margin-right:40px;
	}
	.user-menu-name {
		padding:9px 12px 10px 10px;
		&::before {
			right:initial;
			left:5px;
		}
	}
	.user-menu-dropdown {
		right:initial;
		left:0;
		&::before {
			left:initial;
			right:170px;
		}
	}
	.user-menu-links .side-menu .icon::before {
		margin-right:0;
		margin-left:10px;
	}
	.side-menu .icon::before {
		margin-right:0;
		margin-left:15px;
	}
	.popUp-container-bonus-balance {
		.popUp-body {
			text-align:right;
			&::before {
				left:initial;
				right:130px;
			}
		}
		.bonus-balance-info-more-text::after {
			margin:-1px 5px 0 0;
		}
		.bonus-balance-info-less-text::after {
			margin:-1px 5px 0 0;
		}
	}
	
	.home-header-title {
		padding-left:0;
		padding-right:20px;
	}
	.home-header-last-active {
		padding:0 20px 0 10px;
	}
	.column-first {
		border-right:none;
		border-left:1px solid #d7d7d7;
	}
	.column-last {
		border-left:none;
		border-right:1px solid #d7d7d7;
	}
	.user-stat li span:last-child {
		text-align:left;
	}
	.button-link {
		padding:20px 10px 20px 20px;
		text-align:right;
		&::before {
			right:initial;
			left:8px;
			transform:scaleX(-1);
		}
	}
	.heading::before {
		margin-right:0;
		margin-left:15px;
	}
	.notification.icon {
		padding:5px 70px 10px 15px;
		&::before {
			left:initial;
			right:0;
			transform:scaleX(-1);
		}
	}
	.info-nav .icon::before {
		margin-right:0;
		margin-left:3px;
	}
	.info-nav li+li {
		margin-left:0;
		margin-right:10px;
	}
	.content .entry-header {
		padding-left:0;
		padding-right:60px;
	}
	.feed .thumb {
		left:initial;
		right:10px;
	}
	
	.next-step {
		transform:scaleX(-1);
	}
	.walkthrough-menu .menu-body {
		text-align:right;
	}
	
	.assets-list li {
		padding:10px 55px 10px 50px;
	}
	.assets-list-img {
		left:initial;
		right:10px;
	}
	.assets-list-level {
		right:initial;
		left:10px;
	}
	.assets-state span {
		display:inline-block;
	}
	.el-link {
		padding:10px 0 0 10px;
		text-align:left;
	}
	.column-last .feed>li {
		padding-left:0;
		padding-right:70px;
		&.notification.icon {
			padding-left:15px;
		}
	}
	.asset-icon-info {
		left:initial;
		right:-9px;
	}
	.trading-title .tradeBox_AI_close {
		left:initial;
		right:-9px;
	}
	.asset-info-img {
		margin:11px 20px 0 0;
	}
	.asset-info-list li div span {
		display:inline-block;
	}
	.tradeBox_main_3 {
		.tradeBox_balance_info label {
			display:inline-block;
		}
		.tradeBox_balance_info span {
			display:inline-block;
			padding-right:0;
			padding-left:10px;
		}
		.tradeBox_img_schedule {
			right:initial;
			left:9px;
		}
		.tradeBox_invest_holder {
			margin-left:0;
			margin-right:35px;
		}
		.tradeBox_profit_holder {
			margin-left:0;
			margin-right:10px;
		}
		.tradeBox_trends {
			right:initial;
			left:10px;
		}
		.tradeBox_trends_graph {
			right:initial;
			left:30px;
		}
		.tradeBox_balance_info {
			padding:2px 25px 2px 0;
		}
		.tradeBox_img_arrow {
			right:initial;
			left:10px;
		}
		.tradeBox_profit_drop_ul {
			right:initial;
			left:0;
		}
	}
	.trading-past-exp-list {
		margin-left:5px;
		margin-right:5px;
		li+li {
			margin-left:0;
			margin-right:16px;
			&::before {
				left:initial;
				right:-8px;
			}
		}
		li span+span {
			margin-left:0;
			margin-right:5px;
		}
	}
	.trading-box-small-header {
		& > div:last-child {
			text-align:left;
		}
		.drop-down {
			padding:0 3px 0 20px;
			&::before {
				right:initial;
				left:5px;
			}
		}
		.panel-content {
			left:initial!important;
			right:1px;
			border-right:none!important;
			border-left:1px solid #cbcbcb;
		}
	}
	.trading-box-small-slider>li+li {
		margin-left:0;
		margin-right:16px;
	}
	.coins-info::before {
		margin-right:0;
		margin-left:10px;
	}
	.content-inner .panel .toggle::after, .inner-pg-container .panel .toggle::after {
		right:initial;
		left:2px;
	}
	.plain-table .coins::before {
		margin-right:initial;
		margin-left:3px;
	}
	
	.nav-tabs li+li {
		border-left:none;
		border-right:1px solid #d7d7d7;
	}
	
	.grid-side .row {
		padding-left:0;
		padding-right:215px;
	}
	.grid-side .label {
		left:initial;
		right:0;
	}
	.edit-avatar-ico {
		right:initial;
		left:-40px;
	}
	.grid-side .nickname-error {
		padding-left:0;
		padding-right:22px;
	}
	.error-message::before {
		left:initial;
		right:0;
	}
	.search-box::before {
		left:initial;
		right:15px;
	}
	.search-box input {
		padding:5px 30px 5px 5px;
	}
	
	label+label, .inline-label+label {
		margin-left:0;
		margin-right:15px;
	}
	.field-holder label {
		display:inline-block;
	}
	
	.link-nav {
		li:first-child {
			text-align:right;
		}
		li+li:last-child {
			text-align:left;
		}
		li+li {
			padding-left:0;
			padding-right:10px;
		}
		.arrow {
			padding-right:15px;
			padding-left:35px;
			&::after {
				right:initial;
				left:10px;
			}
		}
	}
	.cvv-holder.new-card {
		margin-left:0;
		margin-right:10px;
	}
	.tooltip-message::before {
		left:initial;
		right:11px;
	}
	.currency-holder>div+div {
		padding-left:0;
		padding-right:10px;
	}
	.select-wrapper {
		padding:5px 5px 5px 20px;
		&::after {
			right:initial;
			left:8px;
		}
	}
	.icon.info::before {
		margin-right:0;
		margin-left:5px;
	}
	.table div.compact-box {
		padding-right:0;
		padding-left:50px;
	}
	.options-holder li+li {
		border-left:none;
		border-right:1px solid #d7d7d7;
	}
	.doc-required-list {
		padding-left:0;
		padding-right:15px;
	}
	
	.best-trades::before {
		margin-right:0;
		margin-left:23px;
	}
	.risk-lover.ml10 {
		margin-left:0!important;
		margin-right:10px;
	}
	.user-status {
		padding-left:0;
		padding-right:35px;
		&.icon::before {
			left:initial;
			right:0;
		}
		&.status::after {
			left:initial;
			right:14px;
		}
	}
	.icon-chart::before {
		margin-right:0;
		margin-left:25px;
		transform:scaleX(-1);
	}
	.connection-fb::before {
		margin-right:0;
		margin-left:10px;
	}
	.my-setting .my-setting-slider {
		margin-left:0;
		margin-right:35px;
	}
	
	.icon-mid-m.oppType {
		right:initial;
		left:-5px;
	}
	.first-col div.pl10 {
		padding-left:0!important;
		padding-right:10px;
	}
	.asset-option {
		margin-right:0;
		margin-left:5px;
	}
	
	.reg-cc-icons::before {
		margin-right: 0;
		margin-left: 5px;
	}
	
}