<div ng-controller="PostmanCtr" id="tab-content" class="transactions-content">
	<h1><span>Postwoman<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box transactions-screen">
		<div class="box-header">
			<h2>Postwoman POST</h2>
		</div>
		<form name="_form" novalidate>
			<div class="box-sub-header static-filters">
				<label for="startDate" class="filter-label">URL</label>
				<div class="date-holder">
					<input ng-model="form.url" type="text" style="width: 900px"/>
				</div>
			</div>
			<div class="box-sub-header" toggable-on="filter">
				<span class="filter-label">json request:</span>
				<span>
					<textarea ng-model="form.postJson" style="width: 900px;height: 500px;"></textarea>
				</span>
			</div>
			<div class="box-sub-header" toggable-on="filter">
				<button type="button" class="button blue" ng-click="post(_form)">{{getMsgs('search')}}</button>
			</div>
		</form>
		
		<div class="box-body">
			<h2>Ugly result (check console)</h2>
			<div>
				{{ result }}
			</div>
		</div>
	</div>
</div>