<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	<t:panelTabbedPane align="center"
	                  serverSideTabSwitch="true"
	                  styleClass="tabbedPane"
	                  activeTabStyleClass="activeTab"
	                  inactiveTabStyleClass="inactiveTab"
	                  disabledTabStyleClass="disabledTab"
	                  activeSubStyleClass="activeSub"
	                  inactiveSubStyleClass="inactiveSub"
	                  tabContentStyleClass="tabContent">

		    <t:panelTab id="NotRegulated" label="#{msgs['pendingdocuments.notregulated']}" >
		    	<iframe name="content" id="content" scrolling="yes" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/control/pendingDocumentsControlNotRegulated.jsf?refresh=true" width="100%" height="100%"></iframe>
		    </t:panelTab>

		    <t:panelTab id="Regulated" label="#{msgs['pendingdocuments.regulated']}" >
		    	<iframe name="content" id="content" scrolling="yes" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/control/pendingDocumentsControlRegulated.jsf?refresh=true" width="100%" height="100%"></iframe>
		    </t:panelTab>
		</t:panelTabbedPane>
</ui:define>
</ui:composition>
</html>
