<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

	#{user.goControl}

    <t:saveState value="#{SalesSupportReportForm}" />

    <h:panelGroup >

		<h:form id="SalesSupportReportForm">

          <h:panelGrid columns="1" border="0" width="100%" height="800px">

        	<h:panelGrid border="0" columns="10">

	          	<h:outputLabel for="startDate" value="#{msgs['sales.support.from']}"/>
				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="startDate" value="#{SalesSupportReportForm.startDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['SalesSupportReportForm'].elements['SalesSupportReportForm:startDate'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['SalesSupportReportForm'].elements['SalesSupportReportForm:startDate'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="startDateError" for="startDate" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	       		<h:outputLabel for="endDate" value="#{msgs['sales.support.to']}"/>
				<h:panelGrid border="0" columns="3">
	  			  <h:inputText styleClass="input_text" id="endDate" value="#{SalesSupportReportForm.endDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['SalesSupportReportForm'].elements['SalesSupportReportForm:endDate'],'anchor2','dd/MM/yyyy'); return false;">
	    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			      </h:inputText>
			      <A HREF="#" onClick="cal.select(document.forms['SalesSupportReportForm'].elements['SalesSupportReportForm:endDate'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		          </A>
				  <t:message id="endDateError" for="endDate" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				
				<h:outputText value="#{msgs['sales.support.rep.name']}"/>
				<h:panelGrid >
		       		<h:selectManyListbox id="repId" value="#{SalesSupportReportForm.writerFilter}" style="height:70px" >
					    <f:selectItems value="#{writer.assignedRepListByDepartment}" />
					</h:selectManyListbox>
				</h:panelGrid>
			</h:panelGrid>

			<h:panelGrid border="0" columns="1">
				<t:commandLink action="#{SalesSupportReportForm.exportIssueActionReportToExcel}">
		               <h:outputText value="#{msgs['issue.action.report.export']}" />
	  			</t:commandLink>
	  		</h:panelGrid>
	  			
	  		<h:panelGrid border="0" columns="1">
	  			<t:commandLink action="#{SalesSupportReportForm.exportConversionCallReportToExcel}">
		               <h:outputText value="#{msgs['conversion.calls.report.export']}" />
	  			</t:commandLink>
	  		</h:panelGrid>
	  			
	  		<h:panelGrid border="0" columns="1">	
	  			<t:commandLink action="#{SalesSupportReportForm.exportTransactionReportToExcel}">
		               <h:outputText value="#{msgs['transaction.report.export']}" />
	  			</t:commandLink>
			</h:panelGrid>
			

		  </h:panelGrid>

        </h:form>

    </h:panelGroup>

	</ui:define>
</ui:composition>

</html>

