

<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<SCRIPT LANGUAGE="JavaScript" >
		function confirmitReassign(entries, tracking, callback, entryTypeId) {
			var repList = document.getElementById("overviewRetentionForm:reassignToRepId");
			var writerId = repList.options[repList.selectedIndex].value;
			if (!isChecked()) {
				alert('#{msgs['overview.reassign.check.one']}');
				return false;
			}
			if (writerId == "0") {
				alert('#{msgs['overview.reassign.choose.one']}');
				return false;
			}
			if (!confirm(gettextReassign(entries, tracking, callback, entryTypeId))) {
				return false;
			}
			return true;
		}
		function gettextReassign(entries, tracking, callback, entryTypeId) {
			var repList = document.getElementById("overviewRetentionForm:reassignToRepId");
			var writerName = repList.options[repList.selectedIndex].text;
			var numOfLeads = getNumOfLeads(entries, tracking, callback, entryTypeId);
			outAttention='#{msgs['overview.reassign.confirm.text.attention']}';
			out1='#{msgs['overview.reassign.confirm.text1']}';
			out2='#{msgs['overview.reassign.confirm.text2']}';
			out3='#{msgs['overview.reassign.confirm.text3']}';
			return outAttention + "\n" + out1 + ' ' + numOfLeads + ' ' + out2 + ' ' + writerName + ' ' + out3;
		}
		function getNumOfLeads(entries, tracking, callback, entryTypeId) {
			var numOfLeads = 0;
			var table = document.getElementById("overviewRetentionForm:dataOverAll");
			for(var i=0; i &lt; table.rows.length; i++) {
		    	var e = document.getElementById("overviewRetentionForm:dataOverAll:" + i + ":inputActive");
		    	if (null != e &amp;&amp; e.type == "checkbox" &amp;&amp; e.checked == true) {
		    		numOfLeads += parseInt(document.getElementById("overviewRetentionForm:dataOverAll:" + i + ":sumAssignActive").innerHTML);
		    	}
		    	var e = document.getElementById("overviewRetentionForm:dataOverAll:" + i + ":inputSleeper");
		    	if (null != e &amp;&amp; e.type == "checkbox" &amp;&amp; e.checked == true) {
		    		numOfLeads += parseInt(document.getElementById("overviewRetentionForm:dataOverAll:" + i + ":sumAssignSleeper").innerHTML);
		    	}
		    	var e = document.getElementById("overviewRetentionForm:dataOverAll:" + i + ":inputComma");
		    	if (null != e &amp;&amp; e.type == "checkbox" &amp;&amp; e.checked == true) {
		    		numOfLeads += parseInt(document.getElementById("overviewRetentionForm:dataOverAll:" + i + ":sumAssignComma").innerHTML);
		    	}
			}
			return numOfLeads;
		}
		function isChecked(){
			var writerName = '';
			var table = document.getElementById("overviewRetentionForm:dataOverAll");
			var list = table.getElementsByTagName("input");
			for (var i = 0 ; i &lt; list.length ; i++ ) {
				var e = list[i];
				if (e.type == "checkbox" &amp;&amp; e.checked == true) {
					return true;
				}
			}
			return false;
		}
	</SCRIPT>
	<h:form id="overviewRetentionForm" class="tabBGColor">
	<center>
	<h:panelGrid border="0" columns="1" width="40%">
	
	<t:dataTable id="dataOverAll"
	            styleClass="scrollerTable"
	            
	            footerClass="standardTable_Header"
	            rowClasses="standardTable_Row1,standardTable_Row2"
	            columnClasses="column100px, column100px,column100px,column100px,column100px,column100px,column100px,column100px,column100px,column100px"
	            var="v"
	            preserveDataModel="false"
	            rows=""
	            rowIndexVar="row"
	            renderedIfEmpty="false"
	            cellpadding="1"
	            cellspacing="1"
	            rendered="true"
	            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
	            value="#{overviewForm.rankStatus}">

				<f:facet name="header">
					<t:dataTable id="data1"
			            styleClass="scrollerTable"
			            headerClass="standardTable_Header"
			            footerClass="standardTable_Header"
			            rowClasses="standardTable_Row1,standardTable_Row2"
			            columnClasses="column100px, column300px,column300px,column300px"
			            var="v"
			            preserveDataModel="false"
			            rows="1"
			            renderedIfEmpty="false"
			            cellpadding="1"
			            cellspacing="1"
			            value="">
						
						<f:facet name="header">
							 <h:outputText value="#{overviewForm.selectedWriter.userName}"/>
						</f:facet>
						
			        	 <h:column>
			        	 		<h:outputText value="&#160;"/>
			       		 </h:column>

						<h:column>
							<h:outputText value="Active"/>
						</h:column>

						<h:column>
							<h:outputText value="Sleepers"/>
						</h:column>

						<h:column>
							<h:outputText value="Comma"/>
						</h:column>

			         </t:dataTable>
				</f:facet>

				
	       <h:column>
	           <f:facet name="header">
	              <h:outputText value="Rank"/>
	           </f:facet>
              <h:outputText value="#{overviewForm.rankIdToLabel(v.rank)}" />
	       </h:column>

		   <h:column>
		        <h:selectBooleanCheckbox id="inputActive" value="#{v.checkedActive}" />
		   </h:column>

	       <h:column>
	           <f:facet name="header">
		            <h:outputText value="Currently assigned"/>
	           </f:facet>
              <h:outputText id="sumAssignActive" value="#{v.countActive}" />

	       </h:column>

	       <h:column>
	           <f:facet name="header">
		            <h:outputText value="Maximum for auto assignment"/>
	           </f:facet>
				<h:outputText value="#{overviewForm.wrMaxAssignmen.size()>0?overviewForm.wrMaxAssignmen.get(row*3).assignLimit:0}" />

	       </h:column>

		   <h:column>
		        <h:selectBooleanCheckbox id="inputSleeper" value="#{v.checkedSleeper}" />
		   </h:column>

	       <h:column>
	           <f:facet name="header">
		            <h:outputText value="Currently assigned"/>
	           </f:facet>
              <h:outputText id="sumAssignSleeper" value="#{v.countSleeper}" />		             

	       </h:column>

	       <h:column>
	           <f:facet name="header">
		            <h:outputText value="Maximum for auto assignment"/>
	           </f:facet>
				<h:outputText value="#{overviewForm.wrMaxAssignmen.size()>0?overviewForm.wrMaxAssignmen.get(row*3+1).assignLimit:0}" />

	       </h:column>
		   
		   <h:column>
		        <h:selectBooleanCheckbox id="inputComma" value="#{v.checkedComma}" />
		   </h:column>
		   
	       <h:column>
	           <f:facet name="header">
	              <h:outputText value="Currently assigned"/>
	           </f:facet>
              <h:outputText id="sumAssignComma" value="#{v.countComma}" />
	       </h:column>
	       
	       <h:column>
	           <f:facet name="header">
		            <h:outputText value="Maximum for auto assignment"/>
	           </f:facet>
				<h:outputText value="#{overviewForm.wrMaxAssignmen.size()>0?overviewForm.wrMaxAssignmen.get(row*3+2).assignLimit:0}" />

	       </h:column>
	</t:dataTable>
	<h:outputLink styleClass="standardTable_Row1" value="#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/overviewRetention.jsf?refresh=true">Back</h:outputLink>
	<h:panelGrid columns="3">
		<t:outputLabel id="reassignToRepLable" for="reassignToRepId" value="#{msgs['overview.reassign.to']} " />
		<t:selectOneMenu id="reassignToRepId" value="#{overviewForm.reassignToWriterId}" required="true">
		    <f:selectItem itemLabel="#{msgs['overview.reassign.select.rep']}" itemValue="0"/>
		    <f:selectItem itemLabel="#{msgs['overview.reassign.general.pool']}" itemValue="-1"/>
		    <f:selectItems value="#{writer.salesRetentionWriters}" />
		</t:selectOneMenu>
		<t:commandLink id="reassignBtn" action="#{overviewForm.reassign}" onclick="if(!confirmitReassign(#{overviewForm.selectedWriter.generalAssignedRecords},#{overviewForm.selectedWriter.trackingAssignedRecords},#{overviewForm.selectedWriter.callBacksAssignedRecords},#{overviewForm.entryTypeId})) return false;">
			<h:outputText value="#{msgs['overview.reassign']}" />
		</t:commandLink>
	</h:panelGrid>
	</h:panelGrid>
	<t:messages styleClass="general_message" globalOnly="true"/>
	</center>
	</h:form>
	</f:view>