<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
      
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
	<SCRIPT LANGUAGE="JavaScript" >
		function checkCollect(){
			var writerName = '';
			var table = document.getElementById("overviewConvertionForm:dataOverAll");
			var list = table.getElementsByTagName("input");
			var checkboxes = [];
			for (var i = 0 ; i &lt; list.length ; i++ ) {
				var e = list[i];
				if (e.type == "checkbox") {
					checkboxes.push(e);
			    }
			}
			for (var i = 0 ; i &lt; checkboxes.length ; i++ ) {
				var c = checkboxes[i];
				if (c.checked) {
					writerName += table.rows[i + 1].cells[1].innerHTML + ', ';
				}
			}
			return writerName;
		}
		function gettext(writerNameCollect) {
			out1='#{msgs['overview.collect.confirm.text1']}';
			out2='#{msgs['overview.collect.confirm.text2']}';
			return out1 +' ' + writerNameCollect + "\n" + out2;
		}
		function confirmit() {
			var writerNameCollect = checkCollect();
			if (writerNameCollect == '') {
				var out3 = '#{msgs['overview.collect.choose.representative']}';
				alert(out3);
				return false;
			} else if (!confirm(gettext(writerNameCollect))) {
				return false;
			}
			return true;
		}
		function collectAllPressed(elm) {
			var list = document.getElementsByTagName("input");
			for (var i = 0 ; i &lt; list.length ; i++ ) {
				var e = list[i];
				if (e.type == "checkbox") {
					e.checked = elm.checked;
				}
			}
		}
		function confirmitReassign(entries, tracking, callback, rowIndex) {
			var repList = document.getElementById("overviewConvertionForm:dataOverAll:" + rowIndex + ":assignWriterId");
			var writerId = repList.options[repList.selectedIndex].value;
			if (writerId == "0") {
				alert('#{msgs['overview.reassign.choose.one']}');
				return false;
			}
			if (!confirm(gettextReassign(entries, tracking, callback, rowIndex))) {
				return false;
			}
			return true;
		}
		function gettextReassign(entries, tracking, callback, rowIndex) {
			var repList = document.getElementById("overviewConvertionForm:dataOverAll:" + rowIndex + ":assignWriterId");
			var writerName = repList.options[repList.selectedIndex].text;
			var numOfLeads = getNumOfLeads(entries, tracking, callback, rowIndex);
			outAttention='#{msgs['overview.reassign.confirm.text.attention']}';
			out1='#{msgs['overview.reassign.confirm.text1']}';
			out2='#{msgs['overview.reassign.confirm.text2']}';
			out3='#{msgs['overview.reassign.confirm.text3']}';
			return outAttention + "\n" + out1 + ' ' + numOfLeads + ' ' + out2 + ' ' + writerName + ' ' + out3;
		}
		function getNumOfLeads(entries, tracking, callback, rowIndex) {
			var entryList = document.getElementById("overviewConvertionForm:entryType");
			var entry = entryList.options[entryList.selectedIndex].value;
			var numOfLeads;
			switch(entry) {
		    case "0":
		    	numOfLeads = entries + tracking + callback;
		        break;
		    case "1":
		    	numOfLeads = entries;
		        break;
		    case "2":
		    	numOfLeads = tracking;
		        break;
		    case "3":
		    	numOfLeads = callback;
		        break;
		    default:
		    	numOfLeads = entries + tracking + callback;
			}
			return numOfLeads;
		}
	</SCRIPT>

   	<t:saveState value="#{overviewConvertionForm}" />
	<h:form id="overviewConvertionForm">
		<h:panelGrid border="0" columns="8">
		   		<h:outputLabel for="skinId" value="#{msgs['population.entry.skin']}"/>
	   			<h:selectOneMenu id="skinId" value="#{overviewForm.skinId}" style="width:105px">
	   				<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
		   		</h:selectOneMenu>
	
	   			<t:outputLabel id="repLable" for="repId" value="#{msgs['retention.assign.representative']} " />
				<t:selectOneMenu id="repId" value="#{overviewForm.writerFilter}" >
				    <f:selectItems value="#{writer.getAssignedRepListBySalesType(1)}" />
				</t:selectOneMenu>
	
	           	<t:selectOneRadio id="overall" value="#{overviewForm.view}" >
		        	<f:selectItem  itemLabel="#{msgs['retention.radio.today']}" itemValue="0" />
					<f:selectItem  itemLabel="#{msgs['retention.radio.overall']}" itemValue="1" />
		        </t:selectOneRadio>
	
				<t:commandLink id="searchBtn" action="#{overviewForm.updateList}">
					<h:outputText value="#{msgs['button.search']}" />
				</t:commandLink>
		</h:panelGrid>
	
		<h:panelGrid width="100%">
		    <t:dataTable id="dataOverAll"
		            styleClass="scrollerTable"
		            headerClass="standardTable_Header"
		            footerClass="standardTable_Header"
		            rowClasses="standardTable_Row1,standardTable_Row2"
		            columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
		            var="v"
		            preserveDataModel="false"
		            rows=""
		            renderedIfEmpty="false"
		            cellpadding="0"
		            cellspacing="1"
		            rendered="#{overviewForm.view == '1'}"
		            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
					rowIndexVar="row"
		            value="#{overviewForm.overAllList}">
	
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['overview.collect']}"/>
		           </f:facet>
		              <h:selectBooleanCheckbox value="#{v.toCollect}" />
		       </h:column>
	
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['overview.rep.name']}"/>
		           </f:facet>
		              <h:outputText value="#{v.userName}" />
		       </h:column>
	
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['overview.assigned.general.rec']}"/>
		           </f:facet>
		              <h:outputText value="#{v.generalAssignedRecords}" />
		       </h:column>
	
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['overview.assigned.tracking.rec']}"/>
		           </f:facet>
		              <h:outputText value="#{v.trackingAssignedRecords}" />
		       </h:column>
	
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['overview.assigned.callbacks.rec']}"/>
		           </f:facet>
		              <h:outputText value="#{v.callBacksAssignedRecords}" />
		       </h:column>
		       
		       <t:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['retention.writer.assign']}"/>
					</f:facet>
		   			<h:selectOneMenu style="height:20px;font-size:10px;font-weight:bold;vertical-align:middle;width:140px" immediate="true" id="assignWriterId"
		   				value="#{v.reassignToRepId}" required="true">
		   				<f:selectItem itemLabel="#{msgs['overview.reassign.select.rep']}" itemValue="0"/>
		   				<f:selectItems value="#{writer.salesConversionWriters}" />
			   		</h:selectOneMenu>
			   		&#160;
			   		<t:commandButton align="middle" id="rsassignBtn"
			   		 		action="#{overviewForm.reassign}" alt="reAssign" height="19px" image="/images/reassigned.gif" onclick="if(!confirmitReassign(#{v.generalAssignedRecords},#{v.trackingAssignedRecords},#{v.callBacksAssignedRecords},#{row})) return false;">
	 			   		 <f:setPropertyActionListener target="#{overviewForm.selectedWriter}" value="#{v}" />
			 		</t:commandButton>
			   	</t:column>
	
		     </t:dataTable>
		</h:panelGrid>
	
	
		<h:panelGroup rendered="#{overviewForm.view == '1'}">
			<h:panelGrid border="0" columns="6">
		   		<h:outputLabel value="#{msgs['collect.entry.types']}"/>
		   		<h:selectOneMenu id="entryType" value="#{overviewForm.entryTypeId}" style="width:105px">
		   			<f:selectItems value="#{writer.entryTypesForCollect}" />
		   		</h:selectOneMenu>
				<h:panelGroup width="10px" />
				<t:commandLink
	         		id="approveLink"
	         		onclick="if(!confirmit()) return false;
	         				 gowait('overviewConvertionForm:approveLink','overviewConvertionForm:hiddenCollect','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
	         				 return myfaces.oam.submitForm('overviewConvertionForm','overviewConvertionForm:hiddenCollect');" >
	         		<t:outputText value="#{msgs['collect.collect.action']}"/>
	         	</t:commandLink>
				<t:commandLink 
						id="hiddenCollect" 
						action="#{overviewForm.collect}" 
						style="display:none">
				</t:commandLink>
		   	</h:panelGrid>
		</h:panelGroup>
	
		<h:panelGrid width="100%">
		    <t:dataTable id="dataToday"
		            styleClass="scrollerTable"
		            headerClass="standardTable_Header"
		            footerClass="standardTable_Header"
		            rowClasses="standardTable_Row1,standardTable_Row2"
		            columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
		            var="v"
		            preserveDataModel="false"
		            rows=""
		            renderedIfEmpty="false"
		            cellpadding="0"
		            cellspacing="1"
		            rendered="#{overviewForm.view == '0'}"
		            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
		            value="#{overviewForm.todayList}">
	
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['overview.rep.name']}"/>
		           </f:facet>
		              <h:outputText value="#{v.userName}" />
		       </h:column>
	
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['menu.retention.assignments']}"/>
		           </f:facet>
		              <h:outputText value="#{v.allAssignedRecords}" />
		       </h:column>
	
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['menu.retention.called.and.reached']}"/>
		           </f:facet>
		              <h:outputText value="#{v.calledReachedRecords}" />
		       </h:column>
	
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['menu.retention.called.and.not.reached']}"/>
		           </f:facet>
		              <h:outputText value="#{v.calledNotReachedRecords}" />
		       </h:column>
	
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['menu.retention.not.called']}"/>
		           </f:facet>
		              <h:outputText value="#{v.notCalleRecords}" />
		       </h:column>
	
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['menu.retention.callBacks']}"/>
		           </f:facet>
		              <h:outputText value="#{v.callBacksRecords}" />
		       </h:column>
	
		     </t:dataTable>
		</h:panelGrid>
	</h:form>
</f:view>