<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

	#{user.goTrader}

    <t:saveState value="#{populationsForm}" />

    <h:panelGroup>

		<h:form id="populationsForm">

    	<h:panelGrid border="0" columns="8" >

    		<t:outputText value="#{msgs['population.name']}"/>
	        <t:selectOneMenu id="populationType" value="#{populationsForm.populationType}">
		   		<f:selectItems value="#{writer.populationTypesAllSI}" />
		   	</t:selectOneMenu>

			<t:outputLabel for="skinId" value="#{msgs['population.skin']}" />
	     	<t:selectOneMenu id="skinId" value="#{populationsForm.skinId}">
	    		<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
		    </t:selectOneMenu>

		    <h:outputText value="#{msgs['population.active']}"/>
	        <h:selectBooleanCheckbox value="#{populationsForm.isActive}"/>

	        <h:panelGrid width="5px" />

	        <t:commandLink action="#{populationsForm.updateList}">
		                <h:outputText value="#{msgs['button.search']}" />
			</t:commandLink>

		</h:panelGrid>

    <h:outputText styleClass="general_message" rendered="#{populationsForm.listSize==0}"  value="#{msgs['population.emptylist']}"/>

	<br/>

   	<t:dataTable id="data"
        styleClass="scrollerTable"
        headerClass="standardTable_SortHeader"
        footerClass="standardTable_Header"
        rowClasses="standardTable_Row1,standardTable_Row2"
        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
        var="v"
        preserveDataModel="false"
        rows="#{user.rowsByMenu}"
        renderedIfEmpty="false"
        cellpadding="0"
        cellspacing="1"
        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
		rowOnMouseOut="this.style.backgroundColor=old"
        value="#{populationsForm.list}" >

	   <h:column>
	       <f:facet name="header">
	          <t:commandLink action="#{populationsForm.sortList}" >
	               <t:outputText value="#{msgs['population.id']}"/>
                   <f:setPropertyActionListener target="#{populationsForm.sortColumn}" value="id" />
			  </t:commandLink>
	       </f:facet>
	        <t:commandLink action="#{populationsForm.navEdit}" immediate="true">
	            <h:outputText value="#{v.id}" />
	            <f:setPropertyActionListener target="#{populationsForm.population}" value="#{v}" />
			</t:commandLink>
	   </h:column>

	   <t:column >
           <f:facet name="header">
           		<t:commandLink action="#{populationsForm.sortList}" >
	               <t:outputText value="#{msgs['population.name']}"/>
                   <f:setPropertyActionListener target="#{populationsForm.sortColumn}" value="populationTypeName" />
	  		   </t:commandLink>
           </f:facet>
           <t:outputText value="#{v.populationTypeName}" />
       </t:column>

	   <t:column >
           <f:facet name="header">
				<t:commandLink action="#{populationsForm.sortList}" >
	               <t:outputText value="#{msgs['population.timeCreated']}"/>
                   <f:setPropertyActionListener target="#{populationsForm.sortColumn}" value="timeCreated" />
			 	 </t:commandLink>
           </f:facet>
			<t:outputText value="#{v.timeCreated}" />
       </t:column>

       <t:column >
           <f:facet name="header">
				<t:commandLink action="#{populationsForm.sortList}" >
	               <t:outputText value="#{msgs['population.skin']}"/>
                   <f:setPropertyActionListener target="#{populationsForm.sortColumn}" value="skinId" />
			 	 </t:commandLink>
           </f:facet>
			<t:outputText value="#{v.skinName}" />
       </t:column>

       <t:column >
           <f:facet name="header">
				<t:commandLink action="#{populationsForm.sortList}" >
	               <t:outputText value="#{msgs['population.active']}"/>
                   <f:setPropertyActionListener target="#{populationsForm.sortColumn}" value="isActive" />
			 	 </t:commandLink>
           </f:facet>
			<t:outputText value="#{v.isActiveTxt}" />
       </t:column>

	</t:dataTable>

	<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center;" columns="1" border="0" width="100%" >
    	<t:dataScroller id="scroll_1"
            for="data"
            fastStep="10"
            pageCountVar="pageCount"
            pageIndexVar="pageIndex"
            paginator="true"
            paginatorMaxPages="9"
            styleClass="scroller"
            paginatorActiveColumnClass="paginator_active"
            paginatorColumnClass="paginator"
            paginatorTableClass="paginator"
            immediate="true"
            rendered="#{populationsForm.listSize>user.rowsByMenu}"
            >
            <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

		</t:dataScroller>

    </h:panelGrid>

     <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
     	<t:commandLink action="#{populationsForm.navNew}">
            <h:outputText value="#{msgs['population.add']}" />
		</t:commandLink>
 	  </h:panelGrid>

    </h:form>

    </h:panelGroup>

	</ui:define>
</ui:composition>

</html>

