<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
	    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/hints.js"></script>

<t:saveState value="#{regLeadsForm}" />

<h:form id="regLeadsForm">

<h:panelGrid rendered="#{regLeadsForm.displayTotals}">

	<h:panelGrid border="0" columns="5">
		<h:outputLabel for="from" value="#{msgs['general.from']}"/>
		<h:panelGrid border="0" columns="3">
			<h:inputText styleClass="input_text" id="from" value="#{regLeadsForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['regLeadsForm'].elements['regLeadsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
		    </h:inputText>
	    	<A HREF="#" onClick="cal.select(document.forms['regLeadsForm'].elements['regLeadsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	   			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        </A>
			<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
		</h:panelGrid>

		<h:outputLabel for="to" value="#{msgs['general.to']}"/>
		<h:panelGrid border="0" columns="3">
  					<h:inputText styleClass="input_text" id="to" value="#{regLeadsForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['regLeadsForm'].elements['regLeadsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			</h:inputText>
			<A HREF="#" onClick="cal.select(document.forms['regLeadsForm'].elements['regLeadsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
				<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			</A>
			<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
		</h:panelGrid>

	</h:panelGrid>
	<h:panelGrid border="0" columns="5">

		<h:outputLabel for="campaignId" value="#{msgs['reg.leads.totals.campaign.id']}"/>
   		<h:selectOneMenu id="campaignId" value="#{regLeadsForm.campaignId}"  >
   			<f:selectItems value="#{writer.allMarketingCampaignsBySkinsLongSI}" />
   		</h:selectOneMenu>

	</h:panelGrid>
	<h:panelGrid border="0" columns="5">

   		<h:outputLabel for="combId" value="#{msgs['reg.leads.totals.comb.id']}"/>
   		<h:selectOneMenu id="combId" value="#{regLeadsForm.combId}"  >
   			<f:selectItems value="#{writer.marketingCombinationsLongSI}" />
   		</h:selectOneMenu>

	</h:panelGrid>
	<h:panelGrid border="0" columns="5">

		<t:commandLink id="searchBtn" action="#{regLeadsForm.search}">
	        <h:outputText value="#{msgs['button.search']}" />
  		</t:commandLink>
	</h:panelGrid>

	<h:panelGrid witdh="80%">


          <t:dataTable id="data"
            styleClass="scrollerTable"
            headerClass="standardTable_Header"
            footerClass="standardTable_Header"
            rowClasses="standardTable_Row1,standardTable_Row2"
            columnClasses="rlColumnShort,rlColumn,rlColumn,rlColumn,rlColumn,rlColumn,rlColumn,rlColumn,rlColumn"
            var="v"
            preserveDataModel="false"
            rows="32"
            renderedIfEmpty="false"
            cellpadding="0"
            cellspacing="1"
            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
			rowOnMouseOut="this.style.backgroundColor=old"
			rowIndexVar="crrRow"
            value="#{regLeadsForm.totalsList}">

	            <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.totals.comb.id']}"/>
		           </f:facet>
		              <h:outputText value="#{v.combId}" />
	       		</h:column>


		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.totals.camp.entries']}"/>
		           </f:facet>

		           <t:commandLink action="#{regLeadsForm.campaignEntriesLink}" immediate="true">
		               <h:outputText value="#{v.campaignEntries}" />
		               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{v}" />
				   </t:commandLink>
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.totals.call.me.num']}"/>
		           </f:facet>

		           <t:commandLink action="#{regLeadsForm.callMeNumLink}" immediate="true">
		               <h:outputText value="#{v.callMeNum}" onmouseover="regLeadsHintDisplay('#{v.callMeNumTitle}')" onmouseout="regLeadsHint.hide()"/>
		               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{v}" />
				   </t:commandLink>
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.totals.reg.call.me.num']}"/>
		           </f:facet>
		           <t:commandLink action="#{regLeadsForm.regCallMeNumLink}" immediate="true">
		               <h:outputText value="#{v.regCallMeNum}" />
		               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{v}" />
				   </t:commandLink>
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.totals.short.reg.num']}"/>
		           </f:facet>
		           <t:commandLink action="#{regLeadsForm.shortRegNumLink}" immediate="true">
		               <h:outputText value="#{v.shortRegMum}" onmouseover="regLeadsHintDisplay('#{v.shortRegNumTitle}')" onmouseout="regLeadsHint.hide()"/>
		               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{v}" />
				   </t:commandLink>
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.totals.reg.short.reg.num']}"/>
		           </f:facet>
		           <t:commandLink action="#{regLeadsForm.regShortRegNumLink}" immediate="true">
		               <h:outputText value="#{v.regShortRegNum}" />
		               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{v}" />
				   </t:commandLink>
		       </h:column>

		       <h:column>
			        <f:facet name="header">
			            <h:outputText value="#{msgs['reg.leads.totals.direct.reg.num']}"/>
			        </f:facet>
			        <t:commandLink action="#{regLeadsForm.directRegNumLink}" immediate="true">
		               <h:outputText value="#{v.directRegNum}" />
		               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{v}" />
				   </t:commandLink>
			   </h:column>

		       <h:column>
			        <f:facet name="header">
			            <h:outputText value="#{msgs['reg.leads.totals.users.num']}"/>
			        </f:facet>
			        <t:commandLink action="#{regLeadsForm.usersNumLink}" immediate="true">
		               <h:outputText value="#{v.totalRegNum}" onmouseover="regLeadsHintDisplay('#{v.usersNumTitle}')" onmouseout="regLeadsHint.hide()"/>
		               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{v}" />
				   </t:commandLink>
			   </h:column>

		       <h:column>
			        <f:facet name="header">
			            <h:outputText value="#{msgs['reg.leads.totals.first.reg.dep']}"/>
			        </f:facet>
			        <t:commandLink action="#{regLeadsForm.firstDepRegLink}" immediate="true">
		               <h:outputText value="#{v.firstRegDep}" />
		               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{v}" />
				   </t:commandLink>
			   </h:column>

			<f:facet name="footer">
				<t:dataTable id="data4"
					            styleClass="scrollerTable"
					            headerClass="standardTable_Header"
					            footerClass="standardTable_Header"
					            rowClasses="standardTable_Row1,standardTable_Row2"
					            columnClasses="rlColumnShort,rlColumn,rlColumn,rlColumn,rlColumn,rlColumn,rlColumn,rlColumn,rlColumn"
					            var="sum"
					            preserveDataModel="false"
					            rows="32"
					            renderedIfEmpty="false"
					            cellpadding="0"
					            cellspacing="1"
					            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
								rowOnMouseOut="this.style.backgroundColor=old"
					            value="#{regLeadsForm.totalsSumList}">

					   <h:column >
				           <f:facet name="header" >
				              <h:outputText value="&#160;"/>
				           </f:facet>
				              <h:outputText value="" />
			       	   </h:column>

				       <h:column>
				           <f:facet name="header">
				              <h:outputText value="#{msgs['reg.leads.totals.camp.entries']}"/>
				           </f:facet>

				           <t:commandLink action="#{regLeadsForm.campaignEntriesLink}" immediate="true">
				               <h:outputText value="#{sum.campaignEntries}" />
				               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{sum}" />
						   </t:commandLink>
				       </h:column>

				       <h:column>
				           <f:facet name="header">
				              <h:outputText value="#{msgs['reg.leads.totals.call.me.num']}"/>
				           </f:facet>

				           <t:commandLink action="#{regLeadsForm.callMeNumLink}" immediate="true">
				               <h:outputText value="#{sum.callMeNum}" onmouseover="regLeadsHintDisplay('#{sum.callMeNumTitle}')" onmouseout="regLeadsHint.hide()"/>
				               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{sum}" />
						   </t:commandLink>
				       </h:column>

				       <h:column>
				           <f:facet name="header">
				              <h:outputText value="#{msgs['reg.leads.totals.reg.call.me.num']}"/>
				           </f:facet>
				           <t:commandLink action="#{regLeadsForm.regCallMeNumLink}" immediate="true">
				               <h:outputText value="#{sum.regCallMeNum}" />
				               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{sum}" />
						   </t:commandLink>
				       </h:column>

				       <h:column>
				           <f:facet name="header">
				              <h:outputText value="#{msgs['reg.leads.totals.short.reg.num']}"/>
				           </f:facet>
				           <t:commandLink action="#{regLeadsForm.shortRegNumLink}" immediate="true">
				               <h:outputText value="#{sum.shortRegMum}" onmouseover="regLeadsHintDisplay('#{sum.shortRegNumTitle}')" onmouseout="regLeadsHint.hide()"/>
				               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{sum}" />
						   </t:commandLink>
				       </h:column>

				       <h:column>
				           <f:facet name="header">
				              <h:outputText value="#{msgs['reg.leads.totals.reg.short.reg.num']}"/>
				           </f:facet>
				           <t:commandLink action="#{regLeadsForm.regShortRegNumLink}" immediate="true">
				               <h:outputText value="#{sum.regShortRegNum}" />
				               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{sum}" />
						   </t:commandLink>
				       </h:column>

				       <h:column>
					        <f:facet name="header">
					            <h:outputText value="#{msgs['reg.leads.totals.direct.reg.num']}"/>
					        </f:facet>
					        <t:commandLink action="#{regLeadsForm.directRegNumLink}" immediate="true">
				               <h:outputText value="#{sum.directRegNum}" />
				               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{sum}" />
						   </t:commandLink>
					   </h:column>

				       <h:column>
					        <f:facet name="header">
					            <h:outputText value="#{msgs['reg.leads.totals.users.num']}"/>
					        </f:facet>
					        <t:commandLink action="#{regLeadsForm.usersNumLink}" immediate="true">
				               <h:outputText value="#{sum.totalRegNum}" onmouseover="regLeadsHintDisplay('#{sum.usersNumTitle}')" onmouseout="regLeadsHint.hide()"/>
				               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{sum}" />
						   </t:commandLink>
					   </h:column>

				       <h:column>
					        <f:facet name="header">
					            <h:outputText value="#{msgs['reg.leads.totals.first.reg.dep']}"/>
					        </f:facet>
					        <t:commandLink action="#{regLeadsForm.firstDepRegLink}" immediate="true">
				               <h:outputText value="#{sum.firstRegDep}" />
				               <f:setPropertyActionListener target="#{regLeadsForm.selectedTotalsRow}" value="#{sum}" />
						   </t:commandLink>
					   </h:column>
				</t:dataTable>
			</f:facet>


		 </t:dataTable>

	     <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{regLeadsForm.totalsListSize > 32}">
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

        	</t:dataScroller>

		</h:panelGrid>

	</h:panelGrid>
</h:panelGrid>

<h:panelGrid rendered="#{regLeadsForm.displayDetails}">

	 <t:commandLink action="#{regLeadsForm.backToTotals}" immediate="true">
       <h:outputText value="#{msgs['reg.leads.details.back']}" />
     </t:commandLink>

	 <h:panelGrid witdh="80%">


          <t:dataTable id="data2"
            styleClass="scrollerTable"
            headerClass="standardTable_Header"
            footerClass="standardTable_Header"
            rowClasses="standardTable_Row1,standardTable_Row2"
            columnClasses="rlColumnShort,rlColumnShort,rlColumnShort,rlColumn,rlColumnLong,rlColumn,rlColumn,rlColumn"
            var="v"
            preserveDataModel="false"
            rows="32"
            renderedIfEmpty="false"
            cellpadding="0"
            cellspacing="1"
            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
			rowOnMouseOut="this.style.backgroundColor=old"
            value="#{regLeadsForm.detailsList}">

	            <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.totals.comb.id']}"/>
		           </f:facet>
		              <h:outputText value="#{v.combId}" />
	       		</h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.details.user.id']}"/>
		           </f:facet>
		           <h:outputText value="#{v.userId}" />
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.details.contact.id']}"/>
		           </f:facet>
		           <h:outputText value="#{v.contactId}" />
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.details.entry.type']}"/>
		           </f:facet>
		           <h:outputText value="#{v.entryType}" />
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.details.entry.type.action']}"/>
		           </f:facet>
		           <h:outputText value="#{v.entryTypeActionType}" />
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.details.is.depositor']}"/>
		           </f:facet>
		           <h:outputText value="#{v.isDepositiorTxt}" />
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.details.is.sales.dep']}"/>
		           </f:facet>
		           <h:outputText value="#{v.isSalesDepTxt}" />
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['reg.leads.details.sales.dep.rep']}"/>
		           </f:facet>
		           <h:outputText value="#{v.salesDepRepName}" />
		       </h:column>

		 </t:dataTable>

	     <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_2"
                    for="data2"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{regLeadsForm.detailsListSize > 20}">
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

        	</t:dataScroller>

		</h:panelGrid>

	</h:panelGrid>

	<t:commandLink action="#{regLeadsForm.exportToExcel}" immediate="true">
       <h:outputText value="#{msgs['reg.leads.details.export.to.excel']}" />
     </t:commandLink>


</h:panelGrid>

</h:form>
</ui:define>
</ui:composition>

</html>