<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">

<script>

	// load retention page on window top in case we got navigation in the iframe
	try {
	  if (window.top.location.href!=window.location.href) {
		window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/retentionManager.jsf";
	  }
	} catch (err) {
	}


</script>

	#{user.goRetentionM}

	<t:panelTabbedPane align="center"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent"
                  selectedIndex="#{writer.writerHasLockedEntry ? 9 : 0}"
                   >

	 <t:panelTab id="phoneRetention" label="#{msgs['menu.retention.entries']}" >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/phoneRetention.jsf?refresh=true" width="100%" height="700px"></iframe>
    </t:panelTab>

    <t:panelTab id="trackingStrip" label="#{msgs['menu.retention.tracking']}"  >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/tracking.jsf?refresh=true&amp;admin=true" width="100%" height="700px"></iframe>
    </t:panelTab>

    <t:panelTab id="callbackStrip" label="#{msgs['menu.retention.callbacks']}"  >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retention/callbacks.jsf?refresh=true&amp;admin=true" width="100%" height="700px"></iframe>
    </t:panelTab>

	<t:panelTab id="immediateTreatment" label="#{msgs['menu.retention.immediate.treatment']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retention/immediateTreatment.jsf?refresh=true" width="100%" height="700px"></iframe>
    </t:panelTab>

    <t:panelTab id="overview" label="#{msgs['menu.retention.overview']}" >
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/overview.jsf?refresh=true" width="100%" height="450px"></iframe>
    </t:panelTab>

    <t:panelTab id="totals" label="#{msgs['menu.retention.totals']}" >
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
	   		src="#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/totals.jsf?refresh=true" width="100%" height="450px"></iframe>
    </t:panelTab>

    <t:panelTab id="reviewStrip" label="#{msgs['menu.retention.review']}"  >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retention/review.jsf?refresh=true&amp;admin=true" width="100%" height="700px"></iframe>
    </t:panelTab>

    <t:panelTab id="masterSearch" label="#{msgs['menu.retention.master.search']}"  >
    #{applicationData.initMasterSearchForm}
    <iframe name="content" id="content" scrolling="yes" frameborder="no"
		src="#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/masterSearch.jsf?refresh=true&amp;admin=true" width="100%" height="700px"></iframe>
    </t:panelTab>

    <t:panelTab rendered="false" id="salesDepositsTotals" label="#{msgs['menu.retention.sales.deposits']}"  >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retention/salesDeposits.jsf?refresh=true&amp;admin=true" width="100%" style="height:1310px;"></iframe>
	</t:panelTab>

    <t:panelTab id="entryStrip" label="#{populationEntry.userId != 0 ? 'User entry' : 'Contact entry'}" rendered="#{populationEntry.userId != 0 || populationEntry.contactId != 0}" >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/entryStrip.jsf?refresh=true&amp;admin=true" width="100%" height="700px"></iframe>
    </t:panelTab>

	<t:panelTab id="transactionIsuue" rendered="#{encryptionForm.isCanSee || writer.writer.id == 37 || writer.writer.id == 328 || writer.writer.id == 523 || writer.writer.id == 1706}" label="#{msgs['menu.transaction.issue']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/transactionsIssuesTab.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

 	<t:panelTab id="regLeads" label="#{msgs['menu.reg.leads']}"  >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/regLeadsTotals.jsf?refresh=true&amp;admin=true" width="100%" height="700px"></iframe>
	</t:panelTab>

 	<t:panelTab id="regLeadsReport" label="#{msgs['menu.reg.leads.report']}"  >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/regLeadsReport.jsf?refresh=true&amp;admin=true" width="100%" height="700px"></iframe>
	</t:panelTab>
	
	<t:panelTab id="salesDeposits" label="#{msgs['menu.sales.deposits']}" >
    	<ui:include src="/jsp/index.html" />
    	<script>
    		setTab("sales_deposits");
    	</script>
    </t:panelTab>
    <t:panelTab id="salesInvestments" label="#{msgs['sales.investments']}" >
    	<ui:include src="/jsp/index.html" />
    	<script>
    		setTab("sales.sales_investments", true);
    	</script>
    </t:panelTab>
    <t:panelTab id="countryConfiguration" label="#{msgs['country-configuration']}" >
    	<ui:include src="/jsp/index.html" />
    	<script>
    		setTab("sales.country_configuration", true);
    	</script>
    </t:panelTab>
    <t:panelTab id="salesCallsStatus" label="#{msgs['sales.calls-status']}" >
    	<ui:include src="/jsp/index.html" />
    	<script>
    		setTab("sales.calls_status", true);
    	</script>
    </t:panelTab>

</t:panelTabbedPane>


</ui:define>
</ui:composition>

</html>