<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
<h:form id="totalsForm">
	<h:panelGrid border="0" columns="5">

		<h:outputLabel for="skinId" value="#{msgs['population.entry.skin']}"/>
   		<h:selectOneMenu id="skinId" value="#{totalsForm.skinId}" style="width:105px">
   			<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
   		</h:selectOneMenu>

	 	<t:outputText value="#{msgs['population.name']}"/>
        <t:selectOneMenu id="populationType" value="#{totalsForm.populationType}">
	   		<f:selectItems value="#{writer.populationTypesAllSI}" />
	   	</t:selectOneMenu>

   		<t:commandLink id="searchBtn" action="#{totalsForm.updateList}">
        	<h:outputText value="#{msgs['button.search']}" />
  		</t:commandLink>

	</h:panelGrid>


	<h:panelGrid width="63%">
			    <t:dataTable id="data"
			            styleClass="scrollerTable"
			            headerClass="standardTable_Header"
			            footerClass="standardTable_Header"
			            rowClasses="standardTable_Row1,standardTable_Row2"
			            columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
			            var="v"
			            preserveDataModel="false"
			            rows="#{user.rowsByMenu}"
			            renderedIfEmpty="false"
			            cellpadding="0"
			            cellspacing="1"
			            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
			            value="#{totalsForm.list}">

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.population.name']}"/>
			           </f:facet>
			              <h:outputText value="#{v.name}" />
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.count.population']}"/>
			           </f:facet>
			              <h:outputText value="#{v.countPopulation}" />
			       </h:column>

			     </t:dataTable>

			     <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
		            <t:dataScroller id="scroll_1"
		                    for="data"
		                    fastStep="10"
		                    pageCountVar="pageCount"
		                    pageIndexVar="pageIndex"
		                    paginator="true"
		                    paginatorMaxPages="9"
		                    styleClass="scroller"
		                    paginatorActiveColumnClass="paginator_active"
		                    paginatorColumnClass="paginator"
		                    paginatorTableClass="paginator"
		                    immediate="true"
		                    rendered="#{totalsForm.listSize > user.rowsByMenu}">
			                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            	</t:dataScroller>

        		</h:panelGrid>



</h:panelGrid>
</h:form>
</ui:define>
</ui:composition>

</html>