<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

	#{user.goAdmin}

    <t:saveState value="#{calcalistInvestorsForm}" />

    <h:panelGroup>
		<h:form id="calcalistInvestorsForm">
			<h:panelGrid columns="2" border="0"  width="100%">
				<h:panelGrid columns="16" border="0" >
					<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
					<h:inputText styleClass="input_text" id="from" value="#{calcalistInvestorsForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['calcalistInvestorsForm'].elements['calcalistInvestorsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
		    		</h:inputText>

				    <a href="#" onClick="cal.select(document.forms['calcalistInvestorsForm'].elements['calcalistInvestorsForm:from'],'anchor1','dd/MM/yyyy'); return false;" title="" name="anchor1" id="anchor1">
	    		   		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        		</a>

                    <t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>

	    		    <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
					<h:inputText styleClass="input_text" id="to" value="#{calcalistInvestorsForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['calcalistInvestorsForm'].elements['calcalistInvestorsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
				    <a href="#" onClick="cal.select(document.forms['calcalistInvestorsForm'].elements['calcalistInvestorsForm:to'],'anchor2','dd/MM/yyyy'); return false;" title="" name="anchor2" id="anchor2">
	    		   		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        		</a>
					<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>

				   	<t:outputText value="#{msgs['calcalist.investments.idnumber']}"/>
				    <t:inputText id="userIdNum" size="10" maxlength="10" dir="ltr" value="#{calcalistInvestorsForm.userIdNum}" >
				       	  	<f:validateLongRange/>
				    </t:inputText>
				    <t:message id="useridnumError" for="userIdNum" replaceIdWithLabel="true" styleClass="error"/>

				   	<t:outputText value="#{msgs['calcalist.investments.userid']}"/>
				    <t:inputText id="userid" size="10" maxlength="10" dir="ltr" value="#{calcalistInvestorsForm.userId}" >
				      	  	<f:validateLongRange/>
				    </t:inputText>
				    <t:message id="useridError" for="userid" replaceIdWithLabel="true" styleClass="error"/>

					<t:commandLink action="#{calcalistInvestorsForm.updateList}">
						<h:outputText value="#{msgs['button.search']}" />
		        	</t:commandLink>

				</h:panelGrid>
			</h:panelGrid>
<br/><br/>
			<h:outputText styleClass="general_message" rendered="#{calcalistInvestorsForm.listSize==0}"
  		   	value="#{msgs['calcalist.investments.empty']}"/>

		    <h:panelGrid width="100%">
			    <t:dataTable id="data"
			            styleClass="scrollerTable"
			            headerClass="standardTable_Header"
			            footerClass="standardTable_Header"
			            rowClasses="standardTable_Row1,standardTable_Row2"
			            columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
			            var="v"
			            preserveDataModel="false"
			            rows="#{user.rowsByMenu}"
			            renderedIfEmpty="false"
			            cellpadding="0"
			            cellspacing="1"
			            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
			            value="#{calcalistInvestorsForm.list}">
			        <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['calcalist.investments.username']}"/>
			           </f:facet>
			           <t:commandLink rendered="#{!user.supportSelected}" action="#{user.selectUserNoPopUpById}" immediate="true" >
			           		<h:outputText value="#{v.userName}"/>
							<f:setPropertyActionListener target="#{user.id}" value="#{v.id}" />
					   </t:commandLink>
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['calcalist.investments.firstname']}"/>
			           </f:facet>
			              <h:outputText value="#{v.firstName}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['calcalist.investments.lastname']}"/>
			           </f:facet>
			              <h:outputText value="#{v.lastName}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['calcalist.investments.balance']}"/>
			           </f:facet>
			              <h:outputText value="#{v.balanceTxt}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText escape="false" value="#{msgs['calcalist.investments.timeCreated']}"  />
			           </f:facet>
			              <h:outputText escape="false" value="#{v.writerDateTxt}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['calcalist.investments.sum']}"/>
			           </f:facet>
			              <h:outputText value="#{v.totalInvestments}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['calcalist.investments.count']}"/>
			           </f:facet>
			              <h:outputText value="#{v.total}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['calcalist.investments.avg']}"/>
			           </f:facet>
			              <h:outputText value="#{v.avgAmount}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['calcalist.investments.reference']}"/>
			           </f:facet>
			           <t:commandLink rendered="#{!user.supportSelected}" action="#{user.selectUserNoPopUpById}" immediate="true" >
			           		<h:outputText value="#{v.referenceId}"/>
							<f:setPropertyActionListener target="#{user.id}" value="#{v.referenceIdLong}" />
					   </t:commandLink>
			       </h:column>



			     </t:dataTable>

			     <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
			        <t:dataScroller id="scroll_1"
			                for="data"
			                fastStep="10"
			                pageCountVar="pageCount"
			                pageIndexVar="pageIndex"
			                paginator="true"
			                paginatorMaxPages="9"
			                styleClass="scroller"
			                paginatorActiveColumnClass="paginator_active"
			                paginatorColumnClass="paginator"
			                paginatorTableClass="paginator"
			                immediate="true"
			                rendered="#{calcalistInvestorsForm.listSize>10}"
			                >
			                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

			        </t:dataScroller>

			    </h:panelGrid>

 			</h:panelGrid>

        </h:form>

    </h:panelGroup>

	</ui:define>
</ui:composition>

</html>

