<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

    <t:saveState value="#{chargebacksForm}" />

    <h:panelGroup >

		<h:form id="chargebacksForm">

       	<h:panelGrid columns="13">
			<h:outputLabel for="statusId" value="#{msgs['chargebacks.statusid']}"/>
	      	<h:selectOneMenu id="statusId" value="#{chargebacksForm.statusId}"  >
	       		<f:selectItems value="#{writer.allChargebackStatusesSI}" />
	        </h:selectOneMenu>
	       	<t:message id="statusIdError" for="statusId" replaceIdWithLabel="true" styleClass="error"/>

			<h:outputLabel for="state" value="#{msgs['chargebacks.state']}"/>
			<h:selectOneMenu id="state" value="#{chargebacksForm.state}" >
	   			<f:selectItems value="#{writer.chbStatesWithAll}" />
	   		</h:selectOneMenu>

			<h:outputText value="#{msgs['transinvestments.transactionid']}"/>
		    <h:inputText dir="ltr" size="10" id="tranId" value="#{chargebacksForm.tranId}" />

		    <h:outputText value="#{msgs['transinvestments.arn']}" />
		    <h:inputText dir="ltr" size="10" id="arn" value="#{chargebacksForm.arn}" />

			<h:outputText value="#{msgs['transinvestments.username']}" rendered="#{user.adminSelected}"/>
		    <h:inputText dir="ltr" size="30" maxlength="50" id="userName" value="#{chargebacksForm.userName}" rendered="#{user.adminSelected}"/>

			<t:outputLabel  for="classId" value="#{msgs['user.classes.type']}" rendered="#{!user.supportSelected}" />
			<t:selectOneMenu id="classId" value="#{chargebacksForm.classId}" rendered="#{!user.supportSelected}" >
	 	        <f:selectItems value="#{writer.userClassesSI}" />
	        </t:selectOneMenu>
		</h:panelGrid>

        <h:panelGrid columns="9">

        	<t:outputLabel  for="currencies" value="#{msgs['investments.currency']}" rendered="#{!user.supportSelected}"/>
	     	<t:selectOneMenu id="currencies" value="#{chargebacksForm.currencyId}" rendered="#{!user.supportSelected}" >
	        	<f:selectItems value="#{writer.currencySI}" />
	        </t:selectOneMenu>

		    <t:outputLabel  for="providers" value="#{msgs['capture.daily.provider']}" rendered="#{!user.supportSelected }"/>
		    	<t:selectOneMenu id="providers" value="#{chargebacksForm.providerId}" rendered="#{!user.supportSelected }">
				    <f:selectItems value="#{writer.providersSI}" />
		    </t:selectOneMenu>

			<h:panelGrid width="3px"  />

	        <t:commandLink action="#{chargebacksForm.updateList}">
		                <h:outputText value="#{msgs['button.search']}" />
			</t:commandLink>

			<h:panelGrid width="3px"  />

			<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
			  	<h:commandLink action="#{chargebacksForm.exportHtmlTableToExcel}">
				     <h:outputText value="#{msgs['chargebacks.exportexcel']}"/>
				</h:commandLink>
			</h:panelGrid>

		</h:panelGrid>

	    <h:outputText styleClass="general_message" rendered="#{chargebacksForm.listSize==0}"
  		   				value="#{msgs['chargebacks.emptylist']}"/>
		<t:dataTable  id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{chargebacksForm.list}"
           >
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['chargebacks.id']}"/>
               </f:facet>

               <t:commandLink rendered="#{user.supportSelected}" action="chargeback" immediate="true">
		                <h:outputText value="#{v.id}" />
               			<f:setPropertyActionListener target="#{chargeBack}" value="#{v}" />
               			<f:setPropertyActionListener target="#{chargeBack.navigation}" value="chargeBacksSupport" />
				</t:commandLink>

				<t:commandLink rendered="#{user.accountingSelected}" action="chargeback" immediate="true">
		                <h:outputText value="#{v.id}" />
               			<f:setPropertyActionListener target="#{chargeBack}" value="#{v}" />
               			<f:setPropertyActionListener target="#{chargeBack.navigation}" value="chargeBacksAccounting" />
				</t:commandLink>

               <t:commandLink rendered="#{!(user.supportSelected || user.accountingSelected)}" action="adminChargeback" immediate="true">
		                <h:outputText value="#{v.id}" />
               			<f:setPropertyActionListener target="#{chargeBack}" value="#{v}" />
               			<f:setPropertyActionListener target="#{chargeBack.navigation}" value="adminChargeBacks" />
				</t:commandLink>
           </h:column>

           <t:column rendered="#{!user.supportSelected}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['transinvestments.userid']}"/>
               </f:facet>
               <t:commandLink rendered="#{!user.supportSelected}" action="#{user.selectUserNoPopUpById}" immediate="true" >
               		<h:outputText value="#{v.userId}"/>
					<f:setPropertyActionListener target="#{user.id}" value="#{v.userId}" />
			   </t:commandLink>
           </t:column>

           <t:column rendered="#{!user.supportSelected}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['transinvestments.username']}"/>
               </f:facet>
               <t:commandLink rendered="#{!user.supportSelected}" action="#{user.selectUserNoPopUpById}" immediate="true" >
               		<h:outputText value="#{v.userName}"/>
					<f:setPropertyActionListener target="#{user.id}" value="#{v.userId}" />
			   </t:commandLink>
           </t:column>

            <t:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['chargebacks.state']}"/>
               </f:facet>
               <h:outputText value="#{transactionFormater.getCBStateName(v)}" />
           </t:column>

            <t:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transinvestments.status']}"/>
               </f:facet>
               <h:outputText value="#{msgs[v.statusName]}" />
           </t:column>

            <t:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transinvestments.transactionid']}"/>
               </f:facet>
               <h:outputText value="#{v.transactionId}" />
           </t:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['chargebacks.timecreated']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{transactionFormater.getCBTimeCreatedTxt(v)}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['chargebacks.amount']}"/>
               </f:facet>
               <h:outputText value="#{transactionFormater.getCBAmountTxt(v)}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['chargebacks.writer']}"/>
               </f:facet>
               <h:outputText value="#{v.writer}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.cProvider']}" />
               </f:facet>
               <h:outputText value="#{v.clearingProviderName}" />
           </h:column>



        </t:dataTable>

   		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{chargebacksForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>



        <t:buffer into="#{chargebacksForm.htmlBuffer}">
	        <t:dataTable  id="data1"
	                styleClass="scrollerTable"
	                headerClass="standardTable_Header"
	                footerClass="standardTable_Header"
	                rowClasses="standardTable_Row1,standardTable_Row2"
	                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
	                var="v"
	                preserveDataModel="false"
	                rows="0"
	                renderedIfEmpty="false"
	                cellpadding="0"
	                cellspacing="1"
	                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
	                value="#{chargebacksForm.list}"
	           >
	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['chargebacks.id']}"/>
	               </f:facet>

	               <t:commandLink rendered="#{user.supportSelected}" action="chargeback" immediate="true">
			                <h:outputText value="#{v.id}" />
	               			<f:setPropertyActionListener target="#{chargeBack}" value="#{v}" />
	               			<f:setPropertyActionListener target="#{chargeBack.navigation}" value="chargeBacks" />
					</t:commandLink>

	               <t:commandLink rendered="#{!user.supportSelected}" action="adminChargeback" immediate="true">
			                <h:outputText value="#{v.id}" />
	               			<f:setPropertyActionListener target="#{chargeBack}" value="#{v}" />
	               			<f:setPropertyActionListener target="#{chargeBack.navigation}" value="adminChargeBacks" />
					</t:commandLink>
	           </h:column>

	           <t:column rendered="#{!user.supportSelected}">
	               <f:facet name="header">
		               <h:outputText value="#{msgs['transinvestments.userid']}"/>
	               </f:facet>
	               <t:commandLink rendered="#{!user.supportSelected}" action="#{user.selectUserNoPopUpById}" immediate="true" >
	               		<h:outputText value="#{v.userId}"/>
						<f:setPropertyActionListener target="#{user.id}" value="#{v.userId}" />
				   </t:commandLink>
	           </t:column>

	           <t:column rendered="#{!user.supportSelected}">
	               <f:facet name="header">
		               <h:outputText value="#{msgs['transinvestments.username']}"/>
	               </f:facet>
	               <t:commandLink rendered="#{!user.supportSelected}" action="#{user.selectUserNoPopUpById}" immediate="true" >
	               		<h:outputText value="#{v.userName}"/>
						<f:setPropertyActionListener target="#{user.id}" value="#{v.userId}" />
				   </t:commandLink>
	           </t:column>

	            <t:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['transinvestments.transactionid']}"/>
	               </f:facet>
	               <h:outputText value="#{v.transactionId}" />
	           </t:column>

	           <h:column>
	               <f:facet name="header">
	                   <h:outputText value="#{msgs['chargebacks.timecreated']}"/>
	               </f:facet>
	               <h:outputText escape="false" value="#{transactionFormater.getCBTimeCreatedTxt(v)}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
	                   <h:outputText value="#{msgs['chargebacks.amount']}"/>
	               </f:facet>
	               <h:outputText value="#{transactionFormater.getCBAmountTxt(v)}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
	                   <h:outputText value="#{msgs['chargebacks.writer']}"/>
	               </f:facet>
	               <h:outputText value="#{v.writer}" />
	           </h:column>

	        </t:dataTable>
	    </t:buffer>


        </h:form>

    </h:panelGroup>



</html>



