<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

 <SCRIPT LANGUAGE="JavaScript" >

		function confirmit() {

			if (!confirm('#{msgs['locked.accounts.cancel.confirm']}')) {
				return false;
			}
			return true;
		}

	</SCRIPT>

	#{user.goAccounting}

    <t:saveState value="#{lockedAccountsForm}" />

    <h:panelGroup>

		<h:form id="lockedAccountsForm">

    	<h:panelGrid border="0" columns="20" >

		</h:panelGrid>

    <h:outputText styleClass="general_message" rendered="#{lockedAccountsForm.listSize==0}"	value="#{msgs['locked.accounts.emptylist']}"/>

	<br/>
            <t:dataScroller id="scroll_2"
                    for="data"
                    rowsCountVar="rowsCount"
                    displayedRowsCountVar="displayedRowsCountVar"
                    firstRowIndexVar="firstRowIndex"
                    lastRowIndexVar="lastRowIndex"
                    pageCountVar="pageCount"
                    immediate="true"
                    pageIndexVar="pageIndex"
                    >
                <h:outputFormat value="#{msgs['table.total']}" styleClass="standard" >
                    <f:param value="#{rowsCount}" />
                    <f:param value="#{displayedRowsCountVar}" />
                    <f:param value="#{firstRowIndex}" />
                    <f:param value="#{lastRowIndex}" />
                    <f:param value="#{pageIndex}" />
                    <f:param value="#{pageCount}" />
                </h:outputFormat>
            </t:dataScroller>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{lockedAccountsForm.accountsList}"
           >
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['locked.accounts.userid']}"/>
               </f:facet>
			   <t:commandLink rendered="#{!user.supportSelected}" action="#{user.selectUserNoPopUpById}" immediate="true" >
               		<h:outputText value="#{v.id}"/>
					<f:setPropertyActionListener target="#{user.id}" value="#{v.id}" />
			   </t:commandLink>

           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['locked.accounts.username']}"/>
               </f:facet>
               <h:outputText value="#{v.userName}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value=""/>
               </f:facet>

				<t:commandLink
					onclick="if(!confirmit()) return false;"
               		action="#{lockedAccountsForm.unlockUser}" immediate="true">
               		<h:outputText value="#{msgs['locked.accounts.unlock']}" />
                    <f:setPropertyActionListener target="#{lockedAccountsForm.user}" value="#{v}" />
				</t:commandLink>

           </h:column>



        </t:dataTable>

		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{pendingWithdrawForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>


        </h:form>

    </h:panelGroup>

	</ui:define>
</ui:composition>

</html>

