<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

	<SCRIPT LANGUAGE="JavaScript" >

		function gettext() {

			out1='#{msgs['pendingwithdraws.approve.text']}';

			return out1;
		}

		function confirmit() {

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}
	</SCRIPT>

	<t:saveState value="#{pendingWithdrawForm}" />
	<t:saveState value="#{pendingWithdrawForm.transaction}" />
	<t:saveState value="#{pendingWithdrawForm.cheque}" />
	<t:saveState value="#{pendingWithdrawForm.wire}" />

    <h:panelGroup >

        <h:form id="pendingWithdrawForm">

			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

				<t:outputText value="#{msgs['pendingwithdraws.id']}"/>
				<t:outputText styleClass="data_display" value="#{pendingWithdrawForm.transaction.id}"/>

				<t:outputText value="#{msgs['pendingwithdraws.userid']}"/>
				<t:outputText styleClass="data_display" value="#{pendingWithdrawForm.transaction.userId}"/>

				<t:outputText value="#{msgs['pendingwithdraws.username']}"/>
				<t:outputText styleClass="data_display" value="#{pendingWithdrawForm.transaction.userName}"/>

				<t:outputText value="#{msgs['pendingwithdraws.userfullname']}"/>
				<t:outputText styleClass="data_display" value="#{pendingWithdrawForm.user.firstName} #{pendingWithdrawForm.user.lastName}"/>

				<t:outputText rendered="#{pendingWithdrawForm.user.etrader}" value="#{msgs['pendingwithdraws.useridnum']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.user.etrader}" styleClass="data_display" value="#{pendingWithdrawForm.user.idNum}"/>

				<t:outputText value="#{msgs['pendingwithdraws.mobile']}"/>
				<t:outputText styleClass="data_display" value="#{pendingWithdrawForm.user.mobilePhone}"/>

				<t:outputText value="#{msgs['pendingwithdraws.address']}"/>
				<t:outputText styleClass="data_display" value="#{pendingWithdrawForm.user.street} #{pendingWithdrawForm.user.streetNo} #{pendingWithdrawForm.user.cityName} #{pendingWithdrawForm.user.zipCode}"/>

				<t:outputText rendered="#{pendingWithdrawForm.transaction.typeId == 19}" value="#{msgs['wires.accountnum']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.transaction.typeId == 19}" styleClass="data_display" value="#{pendingWithdrawForm.transaction.envoyAccountNum}"/>

				<t:outputText rendered="#{pendingWithdrawForm.chequeWithdrawl}" value="#{msgs['pendingwithdraws.chequeaddress']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.chequeWithdrawl}" styleClass="data_display" value="#{pendingWithdrawForm.cheque.street} #{pendingWithdrawForm.cheque.streetNo} #{pendingWithdrawForm.chequeCityName} #{pendingWithdrawForm.cheque.zipCode}"/>

				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran &amp;&amp; user.skinId != '15'}" value="#{msgs['bank.wire.swift']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran &amp;&amp; user.skinId != '15'}" styleClass="data_display" value="#{pendingWithdrawForm.wire.swift}"/>

				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran &amp;&amp; user.skinId != '15'}" value="#{msgs['bank.wire.iban']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran &amp;&amp; user.skinId != '15'}" styleClass="data_display" value="#{pendingWithdrawForm.wire.iban}"/>

				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran}" value="#{msgs['bank.wire.account.number']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran}" styleClass="data_display" value="#{pendingWithdrawForm.wire.accountNum}"/>

				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran}" value="#{msgs['bank.wire.bank.name']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran}" styleClass="data_display" value="#{pendingWithdrawForm.wire.bankNameTxt}"/>

				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran}" value="#{msgs['bank.wire.branch.number']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran}" styleClass="data_display" value="#{pendingWithdrawForm.wire.branch}"/>

				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran &amp;&amp; user.skinId != '15'}" value="#{msgs['bank.wire.branch.address']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran &amp;&amp; user.skinId != '15'}" styleClass="data_display" value="#{pendingWithdrawForm.wire.branchAddress}"/>
		
				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran &amp;&amp; user.skinId == '15'}" value="#{msgs['bank.wire.branch.name']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran &amp;&amp; user.skinId == '15'}" styleClass="data_display" value="#{pendingWithdrawForm.wire.branchName}"/>
						
				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran}" value="#{msgs['bank.wire.beneficiary.name']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.wirewithdrawalTran}" styleClass="data_display" value="#{pendingWithdrawForm.wire.beneficiaryName}"/>

				<t:outputText rendered="#{pendingWithdrawForm.ccwithdrawalTran}" value="#{msgs['pendingwithdraws.cc']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.ccwithdrawalTran}" styleClass="data_display" value="#{pendingWithdrawForm.transaction.cc4digit}"/>

				<t:outputText rendered="#{pendingWithdrawForm.payPal}" value="#{msgs['paypal.email']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.payPal}" styleClass="data_display" value="#{pendingWithdrawForm.transaction.payPalEmail}"/>

				<t:outputText rendered="#{pendingWithdrawForm.moneyBookers}" value="#{msgs['moneybookers.email']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.moneyBookers}" styleClass="data_display" value="#{pendingWithdrawForm.transaction.moneybookersEmail}"/>

				<t:outputText rendered="#{pendingWithdrawForm.webMoney}" value="#{msgs['webmoney.payer.wmid']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.webMoney}" styleClass="data_display" value="#{pendingWithdrawForm.transaction.webMoneyId}"/>

				<t:outputText rendered="#{pendingWithdrawForm.webMoney}" value="#{msgs['webmoney.payer.purse']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.webMoney}" styleClass="data_display" value="#{pendingWithdrawForm.transaction.webMoneyPurse}"/>

				<t:outputText rendered="#{pendingWithdrawForm.baroPay}" value="#{msgs['baropay.withdraw.bank.name']}"/>					 
				<t:outputText rendered="#{pendingWithdrawForm.baroPay}" styleClass="data_display" value="#{pendingWithdrawForm.transaction.baroPayRequest.bankName}"/>

				<t:outputText rendered="#{pendingWithdrawForm.baroPay}" value="#{msgs['baropay.withdraw.account.owner']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.baroPay}" styleClass="data_display" value="#{pendingWithdrawForm.transaction.baroPayRequest.accountOwner}"/>

				<t:outputText rendered="#{pendingWithdrawForm.baroPay}" value="#{msgs['baropay.withdraw.account.number']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.baroPay}" styleClass="data_display" value="#{pendingWithdrawForm.transaction.baroPayRequest.accountNumber}"/>

				<t:outputText id="feeCheckBox" value="#{msgs['pendingwithdraws.feecancel']}"/>
				<h:selectBooleanCheckbox value="#{pendingWithdrawForm.cheque.feeCancel}" immediate="true" onclick="this.form.submit();"
					       rendered="#{pendingWithdrawForm.chequeWithdrawl}" valueChangeListener="#{pendingWithdrawForm.updateTransaction}" 
					      
					       />

				<h:selectBooleanCheckbox value="#{pendingWithdrawForm.transaction.feeCancel}" immediate="true" onclick="this.form.submit();"
					       rendered="#{!pendingWithdrawForm.chequeWithdrawl}" valueChangeListener="#{pendingWithdrawForm.updateTransactionFee}"
					       />

				<t:outputText id="amount" value="#{msgs['pendingwithdraws.amount']}"/>
				<t:outputText styleClass="data_display" value="#{transactionFormater.getAmountTxt(pendingWithdrawForm.transaction)}"/>

				<t:outputText id="feeAmount" value="#{msgs['pendingwithdraws.fee']}"/>
				<t:outputText styleClass="data_display" value="#{pendingWithdrawForm.feeTxt}"/>

				<t:outputText id="amountAfterFee" value="#{msgs['pendingwithdraws.amountafterfee']}"/>
				<t:outputText styleClass="data_display" value="#{pendingWithdrawForm.amountAfterFeeTxt}"/>

				<t:outputText value="#{msgs['pendingwithdraws.date']}"/>
				<t:outputText styleClass="data_display" escape="false" value="#{transactionFormater.getTimeCreatedTxt(pendingWithdrawForm.transaction)}"/>

				<t:outputText rendered="#{pendingWithdrawForm.ccwithdrawalTran &amp;&amp; pendingWithdrawForm.inatecCreditAvailable}" id="inatecCredit" value="#{msgs['pendingwithdraws.inatec.credit']}"/>
				<h:selectBooleanCheckbox value="#{pendingWithdrawForm.transaction.creditWithdrawal}" immediate="true" onclick="this.form.submit();"
					       rendered="#{pendingWithdrawForm.ccwithdrawalTran &amp;&amp; pendingWithdrawForm.inatecCreditAvailable}" valueChangeListener="#{pendingWithdrawForm.updateTransactionCredit}" />

				<t:outputText rendered="#{pendingWithdrawForm.havePendingDeposit}" value="#{msgs['pending.deposit']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.havePendingDeposit}" styleClass="data_display" style="color:#FF0000;font-weight:bold;" value="#{msgs['has.pending.deposit']}"/>

				<h:outputLabel for="comments" value="#{msgs['pendingwithdraws.comments']}"/>
    	        <h:panelGrid border="0" columns="2">
	               	<h:inputTextarea cols="50" rows="5" id="comments"
               				 value="#{pendingWithdrawForm.transaction.comments}"  >
               				 <f:validateLength maximum="100"/>
	               	</h:inputTextarea>
	            	<t:message id="commentsError" for="comments" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

				<t:outputText id="iddocument" value="#{msgs['pendingwithdraws.iddocuments']}"/>
				<t:outputText rendered="#{pendingWithdrawForm.idDocumentStatus.id==1}" value="#{pendingWithdrawForm.idDocumentStatus.name}" styleClass="user_strip_value_darkgreen"  />
				<t:outputText rendered="#{pendingWithdrawForm.idDocumentStatus.id==2}" value="#{pendingWithdrawForm.idDocumentStatus.name}" styleClass="user_strip_value_red" />
				<t:outputText rendered="#{pendingWithdrawForm.idDocumentStatus.id==3}" value="#{pendingWithdrawForm.idDocumentStatus.name}" styleClass="user_strip_background_blue"/>

            </h:panelGrid>
			
			<h:panelGrid border="0" columns="3" rendered="#{pendingWithdrawForm.ccwithdrawalTran}">
				<h:outputLabel for="comments" value="#{msgs['pendingwithdraws.expected.provider']}"/>
				<h:selectBooleanCheckbox binding="#{checkbox}" value="#{pendingWithdrawForm.changeExpectedProvider}">
			        <f:ajax render="expected_provider" />
			    </h:selectBooleanCheckbox>
				<h:selectOneMenu id="expected_provider" value="#{pendingWithdrawForm.transaction.clearingProviderId}" disabled="#{not checkbox.value}">
					<f:selectItems value="#{writer.CCProvidersSI}" />
				</h:selectOneMenu>
			</h:panelGrid>
			

             <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

			  <h:panelGrid columns="5" border="0" cellspacing="0">
      	  	   <t:commandLink action="#{pendingWithdrawForm.approve}" >
	                <h:outputText escape="false" value="#{msgs['pendingwithdraws.approve']}" />
			   </t:commandLink>

  		      <h:panelGrid columns="1" border="0" width="40"/>

  		      <h:panelGrid columns="1" border="0" width="40"/>

			   <t:commandLink action="#{pendingWithdrawForm.navPendingWithdraws}" immediate="true">
	                <h:outputText value="#{msgs['pendingwithdraws.cancel']}" />
			   </t:commandLink>
			   </h:panelGrid>

			  </h:panelGrid>

  			  </h:panelGrid>

        </h:form>

    </h:panelGroup>



</ui:define>
</ui:composition>

</html>