<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

	<ui:define name="content">

	#{user.goAdmin}

    <t:saveState value="#{regulatonApproveForm}" />

		<h:panelGroup>

			<h:form id="regulatonApproveForm">
             <h:panelGrid>
              <h:outputText styleClass="general_message"
						rendered="#{regulation.showOKMessage}"
						value="#{msgs['admin.approved.regulation']}" />
					<h:outputText styleClass="general_message"
						rendered="#{regulation.showErrMessage}"
						value="#{msgs['admin.approved.regulation.err']}" />
				</h:panelGrid>
              <h:panelGroup>
              
				<h:panelGroup border="0" columns="2" width="100%">

					<h:panelGroup>
						<h:outputText styleClass="user_strip_header_text"
							value="#{msgs['register.username']}" />
						<t:inputText styleClass="user_strip_value" size="30" onkeydown="activateSearchUser(event,id);"
							maxlength="50" id="userName" value="#{regulation.userName}"/>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText styleClass="user_strip_header_text"
							value="#{msgs['register.accountid']}" />

						<t:inputText styleClass="user_strip_value" dir="ltr" size="7" onkeydown="activateSearchUser(event,id);"
							maxlength="8" id="userId" value="#{regulation.userId}"/>
					</h:panelGroup>
					
					<h:panelGroup>
					<h:commandButton id="getList" value="Get user's steps"
						action="#{regulation.getSIList}" style="cursor:pointer"/>
					</h:panelGroup>  
				</h:panelGroup>
           </h:panelGroup>
				<h:panelGroup rendered="#{regulation.listSI != null}">
					<h:panelGrid>
						<h:panelGroup>
							<h:outputText styleClass="user_strip_header_text"
								value="#{msgs['admin.steps']}" />
							<h:selectOneMenu id="stepsList"
								value="#{regulation.selectedStep}">
								<f:selectItems value="#{regulation.listSI}" />
							</h:selectOneMenu>
						</h:panelGroup>
					</h:panelGrid>
				</h:panelGroup>
				
				<h:panelGrid>
				<h:panelGroup rendered="#{regulation.listSI != null}">
				<h:outputText styleClass="user_strip_header_text"
								value="#{msgs['admin.comments']}" for="comments" />
				</h:panelGroup>
							<h:inputTextarea 
								id="comments" value="#{regulation.comments}" rows="10" cols="47" rendered="#{regulation.listSI != null}"/>
				
                 </h:panelGrid>
				<h:panelGroup rendered="#{regulation.listSI != null}">
					<h:commandButton id="approve" value="Approve"
						action="#{regulation.updateRegulated}" style="cursor:pointer" />
				</h:panelGroup>

<script>

function activateSearchUser(e,id) {
    
	  	if(id=="regulatonApproveForm:userId") {
	  		document.getElementById("regulatonApproveForm:userName").value = "";
	  	}
	  	if(id=="regulatonApproveForm:userName") {
	  		document.getElementById("regulatonApproveForm:userId").value = "";
	  	}
	}

</script>

			</h:form>


		</h:panelGroup>



	</ui:define>
</ui:composition>
</html>