<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

	#{user.goAdmin}

    <t:saveState value="#{templatesForm}" />

    <h:panelGroup >

		<h:form id="templatesForm">

			<h:panelGrid border="0" columns="1" width="100%">

		   <h:outputText styleClass="general_message" rendered="#{templatesForm.listSize==0}"
  		   				value="#{msgs['templates.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{templatesForm.list}"
           >
		   <h:column>

               <f:facet name="header">
	               <h:outputText value="#{msgs['templates.id']}"/>
               </f:facet>
               <t:commandLink action="#{templatesForm.bNavEditTemplate}" immediate="true">
               		<h:outputText value="#{v.id}" />
                    <f:setPropertyActionListener target="#{templatesForm.template}" value="#{v}" />
				</t:commandLink>


           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['templates.name']}"/>
               </f:facet>
               <h:outputText value="#{v.name}" />
           </h:column>
            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['templates.subject']}"/>
               </f:facet>
               <h:outputText value="#{msgs[v.subject]}" />
           </h:column>



        </t:dataTable>

       		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{templatesForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>
			<h:panelGrid style="text-align:left" rendered="false" columns="1" border="0" width="100%" >

  		   		<t:commandLink action="#{templatesForm.bNavAddTemplate}">
		                <h:outputText value="#{msgs['button.add.template']}" />
				</t:commandLink>
			</h:panelGrid>
			</h:panelGrid>


        </h:form>


    </h:panelGroup>



</ui:define>
</ui:composition>
</html>