<div class="content bubbles-content">
	<ul class="general_message" ng-if="form.just_updated">
		<li>{{getMsgs('general.update.success')}}</li>
	</ul>
	<section class="bubbles-on-off-holder">
		<div class="row">
			<span class="caption">{{getMsgs('bubbles.bubbles_on_off')}}</span>
			<label>
				<input class="field" name="bubbles_on_off" type="radio" ng-model="form.bubbles_on_off" value="on" required ng-change="removeMessage();changeBubblesOnOff()" />
				<span class="label">{{getMsgs('bubbles.on')}}</span>
			</label>
			<label>
				<input class="field" name="bubbles_on_off" type="radio" ng-model="form.bubbles_on_off" value="off" required ng-change="removeMessage();changeBubblesOnOff()" />
				<span class="label">{{getMsgs('bubbles.off')}}</span>
			</label>
		</div>
		<div class="row action">
			<a href="#" onclick="return false;" ng-click="saveBubblesStatus()">{{getMsgs('bubbles.save_changes')}}</a>
		</div>
	</section>
	
	<hr />
	
	<section class="bubbles-settings-holder">
		<div class="row">
			<label>
				<span class="label caption">{{getMsgs('bubbles.market')}}</span>
				<select ng-model="form.market" ng-options="option.name for option in form.market_options track by option.id" ng-change="removeMessage();"></select>
			</label>
		</div>
		<div class="row" ng-if="form.market.id > 0">
			<span class="caption">{{getMsgs('bubbles.market_on_off')}}</span>
			<label>
				<input class="field" name="market_on_off" type="radio" ng-model="form.marketsData[form.market.id].market_on_off" value="on" required ng-change="removeMessage();" />
				<span class="label">{{getMsgs('bubbles.on')}}</span>
			</label>
			<label>
				<input class="field" name="market_on_off" type="radio" ng-model="form.marketsData[form.market.id].market_on_off" value="off" required ng-change="removeMessage();" />
				<span class="label">{{getMsgs('bubbles.off')}}</span>
			</label>
		</div>
		<div class="row action" ng-if="form.market.id > 0">
			<a href="#" onclick="return false;" ng-click="saveMarketData()">{{getMsgs('bubbles.save_changes')}}</a>
		</div>
	</section>
</div>

<style>
.bubbles-content {padding-top:20px;}
.bubbles-content section {margin-bottom:10px;}
.bubbles-content section .row {padding:5px 0px;}
.bubbles-content section .row.action {padding-top:15px;}
.bubbles-content section .label {display:inline-block;width:40px;}
.bubbles-content section .caption {display:inline-block;width:150px;}
</style>