<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
#{user.goTrader}
    <t:saveState value="#{exchangesHolidaysForm}" />

    <h:panelGroup >

		<h:form id="exchangesHolidaysForm">

			<h:panelGrid border="0" columns="1" width="100%">

			<h:panelGrid border="0" columns="10" >

				<t:outputLabel for="exchangeId" value="#{msgs['markets.exchangeid']}"/>
               	<t:selectOneMenu  id="exchangeId" value="#{exchangesHolidaysForm.exchangeId}" >
	               	<f:selectItem itemLabel="" itemValue="" />
               		<f:selectItems value="#{writer.exchangesSI}" />
               	</t:selectOneMenu>

               	<h:outputLabel for="from" value="#{msgs['general.select.day']}"/>

				<h:inputText styleClass="input_text" id="from" value="#{exchangesHolidaysForm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['exchangesHolidaysForm'].elements['exchangesHolidaysForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				</h:inputText>
		    	<A HREF="#" onClick="cal.select(document.forms['exchangesHolidaysForm'].elements['exchangesHolidaysForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>


               	<h:panelGrid border="0" columns="1" width="20"/>

               	<t:commandLink action="#{exchangesHolidaysForm.search}">
		                <h:outputText value="#{msgs['button.search']}" />
				</t:commandLink>

           </h:panelGrid>

		   <h:outputText styleClass="general_message" rendered="#{exchangesHolidaysForm.listSize==0}"
  		   				value="#{msgs['general.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{exchangesHolidaysForm.list}"
           >

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['exchangeholidays.id']}"/>
               </f:facet>
			   <t:commandLink action="exchangeHolidays" immediate="true" >
               		<h:outputText value="#{v.id}" />
					<f:setPropertyActionListener target="#{exchangesHolidaysForm.exchangesHolidays}" value="#{v}" />
			   </t:commandLink>
           </h:column>

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['exchangeholidays.exchange']}"/>
               </f:facet>
               <h:outputText value="#{v.exchangeName}" />
           </h:column>

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['exchangeholidays.date']}"/>
               </f:facet>
               <h:outputText value="#{v.holidayTxt}">
               </h:outputText>
           </h:column>

			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['exchangeholidays.halfday']}"/>
               </f:facet>
               <t:selectBooleanCheckbox disabled="true" value="#{v.halfDay}" />
           </h:column>

        </t:dataTable>

		 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{exchangesHolidaysForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>

		<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >

          <t:commandLink action="#{exchangesHolidaysForm.navNew}">
		                <h:outputText value="#{msgs['exchangeholidays.addnew']}" />
   		  </t:commandLink>

   		 </h:panelGrid>

        </h:panelGrid>

        </h:form>

    </h:panelGroup>
</ui:define>
</ui:composition>
</html>