<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >


    <t:saveState value="#{invLimitsForm}" />
    <h:panelGroup >
		<h:form id="invLimitsForm">

		<t:panelGrid border="0" columns="10">

			<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
			<h:panelGrid columns="3">
				<h:inputText styleClass="input_text" id="from" required="true" value="#{invLimitsForm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    <A HREF="#" onClick="cal.select(document.forms['invLimitsForm'].elements['invLimitsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
	        <h:panelGrid columns="3">
				<h:inputText styleClass="input_text" id="to" required="true" value="#{invLimitsForm.to}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['invLimitsForm'].elements['invLimitsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    <A HREF="#" onClick="cal.select(document.forms['invLimitsForm'].elements['invLimitsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:panelGroup rendered="#{!user.supportSelected}">
				<t:outputLabel for="userId" value="#{msgs['invlimits.user']}" />
	        	<t:selectOneMenu id="userId" value="#{invLimitsForm.userId}"  >
		       		<f:selectItems value="#{writer.riskyUsersAllSI}" />
	   	        </t:selectOneMenu>
	   	   	</h:panelGroup>

			<h:panelGrid border="0" width="5px"/>

			<t:outputLabel for="marketId" value="#{msgs['invlimits.market']}" />
        	<t:selectOneMenu id="marketId" value="#{invLimitsForm.marketId}"  >
	       		<f:selectItems value="#{user.sadminSelected ? writer.marketsAllSI : writer.getActiveMarketsAndGroupsWithOneTouchAndLongTermSI(true)}" />
   	        </t:selectOneMenu>

		</t:panelGrid>

		<t:panelGrid border="0" columns="10">

			<t:outputLabel for="activeId" value="#{msgs['invlimits.active']}" />
        	<t:selectOneMenu id="activeId" value="#{invLimitsForm.active}"  >
	       		<f:selectItems value="#{writer.isActiveAllSI}" />
   	        </t:selectOneMenu>


			<h:panelGrid border="0" width="5px"/>

			<t:commandLink action="#{invLimitsForm.search}">
		     	<h:outputText value="#{msgs['button.search']}" />
	  	  	</t:commandLink>

		</t:panelGrid>

		<h:panelGrid border="0" columns="1" width="100%">

		   <h:outputText styleClass="general_message" rendered="#{invLimitsForm.listSize==0}" value="#{msgs['invlimits.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{invLimitsForm.list}"
               >
		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['invlimits.id']}"/>
               </f:facet>
          		  <t:commandLink action="invLimit" immediate="true">
		                <h:outputText value="#{v.id}" />
               			<f:setPropertyActionListener target="#{invLimitsForm.limit}" value="#{v}" />
				</t:commandLink>
           </h:column>
           <h:column rendered="#{!user.supportSelected}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['invlimits.user']}"/>
               </f:facet>
               <h:outputText value="#{v.userName}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['invlimits.market']}"/>
               </f:facet>
               <h:outputText value="#{v.marketName}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['invlimits.min.limit.group']}"/>
               </f:facet>
               <h:outputText value="#{v.minAmountGroupName}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['invlimits.max.limit.group']}"/>
               </f:facet>
               <h:outputText value="#{v.maxAmountGroupName}" />
           </h:column>
			<h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['invlimits.start']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.startDateTxt}" rendered="#{!v.active}" />
               <t:outputText escape="false" value="#{v.startDateTxt}" rendered="#{v.active}" styleClass="table_row_bold_red" />
			</h:column>
			<h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['invlimits.end']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.endDateTxt}" rendered="#{!v.active}" />
               <t:outputText escape="false" value="#{v.endDateTxt}" rendered="#{v.active}" styleClass="table_row_bold_red" />
			</h:column>
		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['invlimits.opportunity']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.opportunityTypeName}" rendered="#{!v.active}" />
               <t:outputText escape="false" value="#{v.opportunityTypeName}" rendered="#{v.active}" styleClass="table_row_bold_red" />
           </h:column>
			<h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['invlimits.scheduled']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.scheduledTxt}" rendered="#{!v.active}" />
               <t:outputText escape="false" value="#{v.scheduledTxt}" rendered="#{v.active}" styleClass="table_row_bold_red" />
			</h:column>
			<h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['invlimits.active']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.activeTxt}"  rendered="#{!v.active}" />
               <t:outputText escape="false" value="#{v.activeTxt}" rendered="#{v.active}" styleClass="table_row_bold_red" />
			</h:column>

        </t:dataTable>

 		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{invLimitsForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>

        <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >

          <t:commandLink action="#{invLimitsForm.navNew}">
		                <h:outputText value="#{msgs['invlimits.addnew']}" />
   		  </t:commandLink>

   		 </h:panelGrid>
   		 </h:panelGrid>

        </h:form>

    </h:panelGroup>

</html>