<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <h:panelGroup >

        <h:form id="invLimitsForm">

			<t:saveState id="limit" value="#{invLimitsForm.limit}" />

 		    <h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{invLimitsForm.limit.id>0}" value="#{msgs['invlimits.id']}"/>
                <h:outputText rendered="#{invLimitsForm.limit.id>0}" styleClass="data_display" value="#{invLimitsForm.limit.id}"> </h:outputText>

            	<h:outputLabel for="marketId" value="#{msgs['invlimits.market']}"/>
            	<h:panelGrid border="0" columns="2">
	              <h:selectOneMenu id="marketId" value="#{invLimitsForm.limit.marketId}" disabled="#{invLimitsForm.limit.id != 0}">
	   				<f:selectItems value="#{writer.marketsAllSI}" />
		          </h:selectOneMenu>
                  <t:message id="marketIdError" for="marketId" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

		        <h:outputLabel for="opportunityType" value="#{msgs['opportunities.type.id']}"/>
            	<h:panelGrid border="0" columns="2">
	              <h:selectOneMenu id="opportunityType" required="true"  value="#{invLimitsForm.limit.opportunityTypeId}" disabled="#{invLimitsForm.limit.defaultLimit}"
	              		valueChangeListener="#{invLimitsForm.updateOpportunityTypeId}"
               			onchange="this.form.submit();">
	   				<f:selectItems value="#{writer.opportunityTypesWithAllOptionSI}" />
		          </h:selectOneMenu>
                  <t:message id="opportunityTypeError" for="opportunityType" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

		        <h:outputLabel for="scheduled" value="#{msgs['invlimits.scheduled']}" rendered="#{invLimitsForm.limit.regularOpportunity}"/>
            	<h:panelGrid border="0" columns="2" rendered="#{invLimitsForm.limit.regularOpportunity}">
	              <h:selectOneMenu id="scheduled" required="true" value="#{invLimitsForm.limit.scheduled}"  disabled="#{invLimitsForm.limit.defaultLimit}"  >
	   				<f:selectItems value="#{writer.scheduledListAllSI}" />
		          </h:selectOneMenu>
                  <t:message id="scheduledError" for="scheduled" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

   	            <h:outputLabel for="min" value="#{msgs['invlimits.min.limit.group']}" />
            	<h:panelGrid border="0" columns="2">
            		<h:selectOneMenu id="min" required="true" value="#{invLimitsForm.limit.minAmountGroupId}" disabled="#{invLimitsForm.limit.defaultLimit}" >
	   					<f:selectItem itemLabel="" itemValue="" />
	   					<f:selectItems value="#{writer.investmentLimitGroupsSI}" />
		          	</h:selectOneMenu>
	            	<t:message id="minError" for="min" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

   	            <h:outputLabel for="max" value="#{msgs['invlimits.max.limit.group']}"/>
            	<h:panelGrid border="0" columns="2">
            		<h:selectOneMenu id="max" required="true" value="#{invLimitsForm.limit.maxAmountGroupId}" disabled="#{invLimitsForm.limit.defaultLimit}" >
            			<f:selectItem itemLabel="" itemValue="" />
	   					<f:selectItems value="#{writer.investmentLimitGroupsSI}" />
		          	</h:selectOneMenu>
	            	<t:message id="maxError" for="max" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

            	<h:outputLabel for="starttime" value="#{msgs['invlimits.start']}"/>
            	<h:panelGrid border="0" columns="6">

				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="starttime" value="#{invLimitsForm.limit.startDate}"
						disabled="#{invLimitsForm.limit.defaultLimit}" maxlength="10" size="8" dir="ltr" required="true"
						onclick="cal.select(document.forms['invLimitsForm'].elements['invLimitsForm:starttime'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['invLimitsForm'].elements['invLimitsForm:starttime'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="starttimeError" for="starttime" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

                  <h:selectOneMenu id="startimeHour" required="true" value="#{invLimitsForm.limit.startDateHour}"  disabled="#{invLimitsForm.limit.defaultLimit}">
	   				<f:selectItems value="#{applicationData.hours}" />
		          </h:selectOneMenu>

    			  <h:outputText value=":"/>

    			  <h:selectOneMenu id="starttimeMin" required="true" value="#{invLimitsForm.limit.startDateMin}" disabled="#{invLimitsForm.limit.defaultLimit}" >
	   				<f:selectItems value="#{applicationData.minutes}" />
		          </h:selectOneMenu>

                  <t:message id="starttimeMinError" for="starttimeMin" detailFormat="#{msgs['opportunities.templates.minutes']}" replaceIdWithLabel="true" styleClass="error"/>
                  <t:message id="startimeHourError" for="startimeHour" detailFormat="#{msgs['opportunities.templates.hours']}" replaceIdWithLabel="true" styleClass="error"/>

            	</h:panelGrid>

				<t:outputLabel rendered="false" for="period" value="#{msgs['invlimits.period']}"/>
                <h:panelGrid rendered="false" columns="2" >
                  <t:inputText id="period" dir="ltr" size="5" maxlength="5" value="#{invLimitsForm.limit.period}" required="true" disabled="true">
 					<f:validateDoubleRange minimum="1"  />
                   </t:inputText>
			       <t:message id="periodError" for="period" styleClass="error"/>
            	</h:panelGrid>

				<t:outputText value="#{msgs['invlimits.active']}"/>
    	        <t:selectBooleanCheckbox readonly="false" value="#{invLimitsForm.limit.active}" disabled="#{invLimitsForm.limit.defaultLimit}"/>


            </h:panelGrid>

            <h:panelGrid style="text-align:left" rendered="#{!invLimitsForm.limit.defaultLimit}" columns="1" border="0" width="20%" >

              <t:commandLink action="#{invLimitsForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			  </t:commandLink>

			</h:panelGrid>

			</h:panelGrid>
        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>