<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <h:panelGroup >

        <h:form id="invLimitsGroupsForm">

			<t:saveState id="groupsform" value="#{invLimitsGroupsForm}" />
			<t:saveState id="groupvo" value="#{invLimitsGroupsForm.limitGroup}" />
			<t:saveState id="groupvoprev" value="#{invLimitsGroupsForm.limitGroupPrev}" />

 		    <h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <t:outputLabel for="investmentLimitGroupId" value="#{msgs['invlimitsgroups.group']}"/>
               	<h:panelGrid border="0" columns="2">
                	<t:selectOneMenu readonly="true" id="investmentLimitGroupId" value="#{invLimitsGroupsForm.limitGroup.investmentLimitGroupId}" required="true">
	               		<f:selectItems value="#{writer.investmentLimitGroupsSI}" />
                	</t:selectOneMenu>
                  <t:message id="investmentLimitGroupIdError" for="investmentLimitGroupId" replaceIdWithLabel="true" styleClass="error"/>
                </h:panelGrid>

                <t:outputLabel for="investmentLimitId" value="#{msgs['invlimitsgroups.limit']}"/>
               	<h:panelGrid border="0" columns="2">
                	<t:selectOneMenu dir="ltr" id="investmentLimitId" value="#{invLimitsGroupsForm.limitGroup.investmentLimitId}" required="true">
	  	             	<f:selectItem itemLabel="" itemValue="" />
	               		<f:selectItems value="#{writer.investmentLimitsSI}" />
                	</t:selectOneMenu>
                  <t:message id="investmentLimitIdError" for="investmentLimitId" replaceIdWithLabel="true" styleClass="error"/>
                </h:panelGrid>

            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="1" border="0" width="25%" >

              <t:commandLink action="#{invLimitsGroupsForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			  </t:commandLink>

			</h:panelGrid>

			</h:panelGrid>
        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>