<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

<SCRIPT LANGUAGE="JavaScript" >

		function gettext() {

			out1='#{msgs['opportunities.cancel.areyousure']}';

			return out1;
		}

		function confirmit() {

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}

	</SCRIPT>

    <h:panelGroup >

        <h:form id="opportunitiesForm">
			<t:saveState id="oppForm" value="#{opportunitiesForm}" />
			<t:saveState id="opportunity" value="#{opportunitiesForm.opportunity}" />

   			<h:panelGrid border="0" columns="1" width="100%">
            <h:panelGrid border="0" columns="2">

			 <h:outputText rendered="#{opportunitiesForm.opportunity.id>0}" value="#{msgs['opportunities.id']}"/>

            <h:panelGrid rendered="#{opportunitiesForm.opportunity.id>0}" border="0" columns="3">

                <h:outputText styleClass="data_display" value="#{opportunitiesForm.opportunity.id}"> </h:outputText>

				<h:panelGrid width="50" />
				<h:commandLink rendered="#{opportunitiesForm.hasInvestments &amp;&amp; user.hasSAdminRole &amp;&amp; !opportunitiesForm.opportunity.isOneTouchOpp }" action="opportunities"
					onclick="if(!confirmit()) return false;window.open('#{facesContext.externalContext.requestContextPath}/jsp/templates/please_wait.jsf', 'popupWindow', 'titlebar=no,scrollbars=no,directories=no,menubar=no,resizable=no,location=no,toolbar=no,status=no,width=500,height=100');"
	              	 actionListener="#{opportunitiesForm.cancelInvestments}"
              		 value="#{msgs['opportunities.cancel.all.investments']}" >
              	</h:commandLink>

			</h:panelGrid>

			    <h:outputText value="#{msgs['opportunities.market']}"/>
                <h:outputText styleClass="data_display" value="#{utils.getMarketName(opportunitiesForm.opportunity.marketId)}"/>

			    <h:outputText value="#{msgs['opportunities.type']}"/>
                <h:outputText styleClass="data_display" value="#{opportunitiesForm.opportunity.opportunityTypeDesc}"/>

				<c:if test="#{opportunitiesForm.opportunity.opportunityTypeId == 1}">
			        <h:outputText value="#{msgs['return.refun.selectors.group']}"/>
			        <h:panelGrid border="0" columns="2">
			   		    <h:selectOneMenu id="oddsGroups" immediate="true" value="#{opportunitiesForm.opportunity.oddsGroup}" >
			   		      <f:selectItems value="#{opportunitiesForm.oddsGroupList}" />
					    </h:selectOneMenu>
					    <t:message id="oddsGroupsError" for="oddsGroups" replaceIdWithLabel="true" styleClass="error"/>
				    </h:panelGrid>
			    </c:if>

				<c:if test="#{opportunitiesForm.opportunity.opportunityTypeId != 1}">
					<h:outputLabel for="oddsTypeId" value="#{msgs['opportunities.oddstype']}"/>
					<h:panelGrid border="0" columns="2">
						<h:selectOneMenu id="oneTouchOddsTypeId" required="true" value="#{opportunitiesForm.opportunity.oddsTypeId}"  >
							<f:selectItems value="#{(opportunitiesForm.opportunity.opportunityTypeId == 2) ? opportunitiesForm.oneTouchOddsTypesSI : writer.oddsTypesSI}" />
						</h:selectOneMenu>
		                <t:message id="oneTouchOddsTypeIdError" for="oneTouchOddsTypeId" replaceIdWithLabel="true" styleClass="error"/>
	                </h:panelGrid>
		        </c:if>

			    <h:outputText value="#{msgs['opportunities.timefirstinvest']}"/>
                <h:outputText styleClass="data_display" value="#{utils.getOppTimeTxt(opportunitiesForm.opportunity.timeFirstInvest)}" escape="false"/>                

			    <h:outputText value="#{msgs['opportunities.estclosingdate']}"/>
                <h:outputText styleClass="data_display" value="#{utils.getOppTimeTxt(opportunitiesForm.opportunity.timeEstClosing)}" escape="false"/>

			    <h:outputText value="#{msgs['opportunities.timelastinvest']}"/>
                <h:outputText styleClass="data_display" value="#{utils.getOppTimeTxt(opportunitiesForm.opportunity.timeLastInvest)}" escape="false"/>

			    <h:outputText rendered="#{!opportunitiesForm.opportunity.isOneTouchOpp}" value="#{msgs['opportunities.timeactclosing']}"/>
                <h:outputText rendered="#{!opportunitiesForm.opportunity.isOneTouchOpp}" styleClass="data_display" value="#{utils.getOppTimeTxt(opportunitiesForm.opportunity.timeActClosing)}" escape="false"/> 

                <h:outputText value="#{msgs['opportunities.status']}"/>
                <h:outputText styleClass="data_display" value="#{opportunitiesForm.getStatusTxt()}" escape="false"/>
                
                <h:outputText value="#{msgs['opportunities.closinglevel']}"/>
                <h:outputText styleClass="data_display" value="#{utils.getFormatLevelByMarket(opportunitiesForm.opportunity.isSettled, opportunitiesForm.opportunity.closingLevel, opportunitiesForm.opportunity.marketId)}" escape="false"/>                

				<h:outputLabel rendered="#{opportunitiesForm.opportunity.isOneTouchOpp}" for="updown" value="#{msgs['opportunities.one.touch.upDown']}"/>
				<h:outputLabel rendered="#{opportunitiesForm.opportunity.isOneTouchOpp &amp;&amp; !user.hasSAdminRole }" styleClass="data_display" value="#{opportunitiesForm.upDownValue}" />

            	<h:panelGrid border="0" columns="2" rendered="#{opportunitiesForm.opportunity.isOneTouchOpp &amp;&amp; user.hasSAdminRole}" >
	              <h:selectOneMenu id="updown" required="true" value="#{opportunitiesForm.upDown}"  >
   	   				<f:selectItem itemLabel="#{msgs['opportunities.one.touch.down']}" itemValue="0" />
  					<f:selectItem itemLabel="#{msgs['opportunities.one.touch.up']}" itemValue="1" />
		          </h:selectOneMenu>
                  <t:message id="updownError" for="updown" replaceIdWithLabel="true" styleClass="error"/>
                </h:panelGrid>

				<h:outputText rendered="#{opportunitiesForm.opportunity.isOneTouchOpp}" value="#{msgs['opportunities.one.touch.ispublished']}"/>
                <h:selectBooleanCheckbox rendered="#{opportunitiesForm.opportunity.isOneTouchOpp}" value="#{opportunitiesForm.published}" />

			    <h:outputText value="#{msgs['opportunities.disabled']}"/>
                <h:selectBooleanCheckbox rendered="#{!opportunitiesForm.opportunity.isOneTouchOpp}" disabled="true" value="#{opportunitiesForm.opportunity.disabled}" />
				<h:selectBooleanCheckbox rendered="#{opportunitiesForm.opportunity.isOneTouchOpp}" value="#{opportunitiesForm.opportunity.disabled}" />

				<h:outputLabel rendered="#{opportunitiesForm.opportunity.isOneTouchOpp}" for="currentLevel" value="#{msgs['opportunities.current.level']}"/>
            	<h:panelGrid rendered="#{opportunitiesForm.opportunity.isOneTouchOpp}" border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="10" maxlength="10" id="currentLevel"
	                	value="#{opportunitiesForm.opportunity.currentLevel}" required="true" validator="#{opportunitiesForm.validateDecimalPoint}">
	                </h:inputText>
	            	<t:message id="currentLevelError" for="currentLevel" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

                <h:outputLabel rendered="#{!opportunitiesForm.opportunity.isOneTouchOpp}" for="shift" value="#{msgs['opportunities.shiftparam.detail']}"/>
                <h:outputText rendered="#{!opportunitiesForm.opportunity.isOneTouchOpp}" styleClass="data_display" value="#{opportunitiesForm.getETShiftParameter(opportunitiesForm.getOpportunity())}" />

	            <h:outputText rendered="#{!opportunitiesForm.opportunity.isOneTouchOpp}" value="#{msgs['opportunities.scheduled']}"/>
                <h:outputText rendered="#{!opportunitiesForm.opportunity.isOneTouchOpp}" styleClass="data_display" value="#{opportunitiesForm.getScheduledTxt(opportunitiesForm.opportunity.scheduled)}" escape="false"/>                																											

		        <h:outputText value="#{msgs['markets.max_exposure']}"/>
                <h:inputText rendered="#{!opportunitiesForm.opportunity.isOneTouchOpp || user.hasASTraderRole || user.hasSAdminRole}" styleClass="data_display" disabled="true" value="#{opportunitiesForm.ETMaxExposure}" escape="false"/>
                <h:outputText rendered="#{opportunitiesForm.opportunity.isOneTouchOpp &amp;&amp; !user.hasASTraderRole &amp;&amp; !user.hasSAdminRole}" styleClass="data_display" disabled="true" value="#{opportunitiesForm.ETMaxExposure}" escape="false"/>

				<h:outputText rendered="#{opportunitiesForm.opportunity.isOneTouchOpp}" value="#{msgs['opportunity.one.touch.decimalPoint']}"/>
                <h:outputText rendered="#{opportunitiesForm.opportunity.isOneTouchOpp}" styleClass="data_display" value="#{opportunitiesForm.opportunity.decimalPointOneTouch}" escape="false"/>

			    <h:outputText value="#{msgs['opportunities.writer']}"/>
                <h:outputText styleClass="data_display" value="#{utils.getWriterName(opportunitiesForm.opportunity.writerId)}" escape="false"/>               

			    <h:outputText value="#{msgs['opportunities.templates.is.open.graph']}"/>
                <h:selectBooleanCheckbox value="#{opportunitiesForm.opportunity.openGraph}" disabled="true"/>

			    <h:outputText rendered="#{!opportunitiesForm.opportunity.isOneTouchOpp}" value="#{msgs['opportunities.calc.way']}"/>
                <h:outputText rendered="#{!opportunitiesForm.opportunity.isOneTouchOpp}" styleClass="data_display" value="#{opportunitiesForm.opportunity.closeLevelTxt}" escape="false"/>
                
                <h:outputText value="#{msgs['opportunities.opportunity.suspend']}"/>
                <h:selectBooleanCheckbox value="#{opportunitiesForm.opportunity.suspended}" disabled="#{(opportunitiesForm.opportunity.opportunityTypeId == 1 &amp;&amp; opportunitiesForm.opportunity.scheduled == 1) || opportunitiesForm.opportunity.isOneTouchOpp}"/>

            </h:panelGrid>

             <h:panelGrid style="text-align:left" columns="1" border="0" width="20%" >

				 <t:commandLink action="#{opportunitiesForm.update}">
		                <h:outputText value="#{msgs['button.save']}" />
		  		 </t:commandLink>
	        </h:panelGrid>
            </h:panelGrid>


        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>