<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

	<script>
		function setPrice(elm) {
			var tdElm = elm.parentNode;
			//alert(tdElm.innerHTML);
			//alert(tdElm.childNodes[0].value);
			var inputelm = tdElm.getElementsByTagName("INPUT");
			document.getElementById("optionPlusForm:newPrice").value = inputelm[0].value;
		}
	</script>
    <h:panelGroup>
		<h:form id="optionPlusForm">
			<t:saveState id="optionPlusSave" value="#{optionPlusForm}" />
			<h:panelGrid border="0" columns="2">
				<t:outputText value="#{msgs['opportunities.market']}"/>
	   		  	<t:selectOneMenu id="markets" value="#{optionPlusForm.marketId}" onchange="document.optionPlusForm.submit(this);"
	   		  	valueChangeListener="#{optionPlusForm.updateMarketChange}">
		   			<f:selectItems value="#{writer.activeOptionPlusMarkets.entrySet()}"
		   						   var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
		        </t:selectOneMenu>
			</h:panelGrid>

 		   <h:panelGrid border="0" columns="1" width="100%" align="center">

			   <h:outputText styleClass="general_message" rendered="#{optionPlusForm.listSize==0}"
	  		   				value="#{msgs['general.emptylist']}"/>

   			<h:inputText id="newPrice" style="display:none;" value="#{optionPlusForm.newPrice}" required="false"></h:inputText>

			<table width="100%" cellpadding="0" cellspacing="0" border="0" class="optionplus_table">
				<t:dataList
					id="data"
					value="#{optionPlusForm.list}"
					var="v"
					rowIndexVar="vIndex"
					layout="simple" >

					<tr valign="middle" height="20px">
						<td align="center" height="30px" width="170px" class="optionplus_header">
							<h:outputText escape="false" value="#{v.value}" />
						</td>

						<t:dataList
							id="dataRow"
							value="#{v.items}"
							var="vRow"
							layout="simple" >

							<h:panelGroup rendered="#{vRow.itemType == 4}" >
								<td align="center" height="30px" width="130px" class="optionplus_header">
									<h:outputText escape="false" value="#{vRow.value}" />
								</td>
							</h:panelGroup>
							<h:panelGroup rendered="#{vRow.itemType != 4}" >
								<td align="center" height="30px" width="130px" class="optionplus_value">
									<h:outputText rendered="#{vRow.itemType != 5 &amp;&amp; vRow.itemType != 6}" escape="false" value="#{vRow.value}" />
									<h:outputText rendered="#{vRow.itemType == 6}" escape="false" value="" />
					                <h:inputText rendered="#{vRow.itemType == 5}" size="4" styleClass="input_text" id="price" value="#{vRow.value}" required="true"></h:inputText>
					                <h:outputText rendered="#{vRow.itemType == 5}" escape="false" value="&#160;" />
					                <t:commandLink id="updateLink" rendered="#{vRow.itemType == 5}" action="#{optionPlusForm.updatePrice}" onclick="setPrice(this);">
					               		<h:outputText escape="false" value="Update" />
					                    <f:setPropertyActionListener target="#{optionPlusForm.item}" value="#{vRow}" />
									</t:commandLink>
								</td>
							</h:panelGroup>
						</t:dataList>
					</tr>
	 		   	</t:dataList>
   			</table>

		</h:panelGrid>

       </h:form>

    </h:panelGroup>



</ui:define>
</ui:composition>

</html>