<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <h:panelGroup >

        <h:form id="optionsExpirationsForm">

			<t:saveState value="#{optionsExpirationsForm}" />

   			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

            <t:outputText rendered="#{optionsExpirationsForm.optionExpiration.id>0}" value="#{msgs['optionsexpirations.id']}"/>
            <t:outputText rendered="#{optionsExpirationsForm.optionExpiration.id>0}" styleClass="data_display" value="#{optionsExpirationsForm.optionExpiration.id}"/>

			<t:outputLabel for="marketId" value="#{msgs['optionsexpirations.market']}"/>
			<h:panelGrid columns="2">
			<t:selectOneMenu  id="marketId" value="#{optionsExpirationsForm.optionExpiration.marketId}" required="true">
				<f:selectItems value="#{writer.marketsByAgreement.entrySet()}" 
							   var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
			</t:selectOneMenu>
			<t:message id="marketIdError" for="marketId" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:outputLabel for="expiryDate" value="#{msgs['optionsexpirations.expirydate']}"/>
			<h:panelGrid columns="3">
				<h:inputText styleClass="input_text" id="expiryDate" value="#{optionsExpirationsForm.optionExpiration.expiryDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['optionsExpirationsForm'].elements['optionsExpirationsForm:expiryDate'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				</h:inputText>
				<A HREF="#" onClick="cal.select(document.forms['optionsExpirationsForm'].elements['optionsExpirationsForm:expiryDate'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
					<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				</A>
				<t:message id="expiryDateError" for="expiryDate" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:outputLabel for="expiryDateEnd" value="#{msgs['optionsexpirations.expirydateEnd']}"/>
			<h:panelGrid columns="3">
				<h:inputText styleClass="input_text" id="expiryDateEnd" value="#{optionsExpirationsForm.optionExpiration.expiryDateEnd}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['optionsExpirationsForm'].elements['optionsExpirationsForm:expiryDateEnd'],'anchor2','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				</h:inputText>
				<A HREF="#" onClick="cal.select(document.forms['optionsExpirationsForm'].elements['optionsExpirationsForm:expiryDateEnd'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
					<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				</A>
				<t:message id="expiryDateEndError" for="expiryDateEnd" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:outputLabel for="year" value="#{msgs['optionsexpirations.year']}"/>
      		<h:selectOneMenu id="year" value="#{optionsExpirationsForm.optionExpiration.year}" >
       			<f:selectItems value="#{optionsExpirationsForm.years}" />
       		</h:selectOneMenu>

       		<h:outputLabel for="letter" value="#{msgs['optionsexpirations.Letter']}"/>
      		<h:selectOneMenu id="letter" value="#{optionsExpirationsForm.optionExpiration.letter}">
       			<f:selectItems value="#{optionsExpirationsForm.lettersSI}" />
       		</h:selectOneMenu>

			<t:outputText value="#{msgs['optionsexpirations.active']}"/>
            <t:selectBooleanCheckbox readonly="false" value="#{optionsExpirationsForm.optionExpiration.active}" />

            <t:outputText escape="false" value="#{msgs['optionsexpirations.timecreated']}"/>
            <t:outputText styleClass="data_display" escape="false" value="#{optionsExpirationsForm.optionExpiration.timeCreatedTxt}"> </t:outputText>

            <t:outputText value="#{msgs['optionsexpirations.writer']}"/>
            <t:outputText styleClass="data_display" value="#{optionsExpirationsForm.optionExpiration.writerName}"> </t:outputText>

            </h:panelGrid>

             <h:panelGrid style="text-align:left" columns="1" border="0" width="20%" >

				 <t:commandLink action="#{optionsExpirationsForm.update}">
		                <h:outputText value="#{msgs['button.save']}" />
		  		 </t:commandLink>

	        </h:panelGrid>

            </h:panelGrid>


        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>