<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

#{user.goTrader}

    <t:saveState value="#{shiftingsForm}" />

    <h:panelGroup >

		<h:form id="shiftingsForm">

			<h:panelGrid border="0" columns="1" width="100%">

			<h:panelGrid border="0" columns="10">

				<h:outputLabel for="from" value="#{msgs['general.select.day']}"/>

				<h:inputText styleClass="input_text" id="from" value="#{shiftingsForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['shiftingsForm'].elements['shiftingsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				</h:inputText>
		    	<A HREF="#" onClick="cal.select(document.forms['shiftingsForm'].elements['shiftingsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>

		        <h:outputLabel for="marketId" value="#{msgs['opportunities.shiftings.market_name']}"/>
   			  		<h:selectOneMenu id="groupId" value="#{shiftingsForm.marketGroup}">	
	   					<f:selectItems value="#{writer.getActiveMarketsAndGroupsWithOneTouchAndLongTermSI(false)}" />
		        </h:selectOneMenu>

		        <h:outputText value="#{msgs['opportunities.shiftings.opportunity']}" />
				<t:inputText id="name" value="#{shiftingsForm.shiftId}" />

			  <h:panelGrid border="0" columns="1" width="20">
			  </h:panelGrid>

				<t:commandLink action="#{shiftingsForm.search}">
		                <h:outputText value="#{msgs['button.search']}" />
	  			</t:commandLink>

			</h:panelGrid>

		   <h:outputText styleClass="general_message" rendered="#{shiftingsForm.listSize==0}"
  		   				value="#{msgs['general.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{shiftingsForm.list}"
           >

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.shiftings.id']}"/>
               </f:facet>
               <h:outputText value="#{v.id}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.shiftings.opportunity_id']}"/>
               </f:facet>
			   <t:commandLink action="#{opportunitiesForm.bNavOpportunity}" immediate="true" >
               		<h:outputText value="#{v.opportunityId}" />
					<f:setPropertyActionListener target="#{opportunitiesForm.opportunity.id}" value="#{v.opportunityId}" />
			   </t:commandLink>
           </h:column>

           <h:column>
			   <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.shiftings.market_name']}"/>
               </f:facet>
               <h:outputText value="#{v.marketName}" />
           </h:column>

           <h:column>
			   <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.shiftings.time_est_closing']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeEstClosingTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.shiftings.shifting']}"/>
               </f:facet>
               <h:outputText dir="ltr" value="#{v.shifting}" />
           </h:column>

           	<h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['opportunities.shiftings.shifting_time']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.shiftingTimeTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['opportunities.shiftings.scheduled']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.scheduledName}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['opportunities.shiftings.type']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.typeIdTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['opportunities.shiftings.writer_id']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.writerName}" />
           </h:column>

        </t:dataTable>

		 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{shiftingsForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>

        </h:panelGrid>

        </h:form>

    </h:panelGroup>
</ui:define>
</ui:composition>
</html>