<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"
	       >

<head>
	<title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
</head>

<body>

<script language="javascript" type="text/javascript">
	    var ajax = new AJAXInteraction("ajax.jsf?renderResponseCall=1", rrCallback);
	    ajax.doGet();

		function rrCallback(){
			//this is just to clear page inputes
		}

</script>

#{traderToolActionForm.init}

<f:view locale="#{writer.localInfo.locale}">


	<h:panelGroup>

	    <h:form id="traderToolActionForm">

	    <h:inputText style="display: none;" maxlength="9" id="action" value="#{traderToolActionForm.action}"></h:inputText>
	    <h:inputText style="display: none;" maxlength="9" id="oppId" value="#{traderToolActionForm.oppId}"></h:inputText>
	    <h:inputText style="display: none;" maxlength="9" id="marketName" value="#{traderToolActionForm.marketName}"></h:inputText>


		<h:panelGrid style="text-align:center" columns="1" border="0" width="100%" >
			<h:outputText styleClass="trader_tool_title" value="#{traderToolActionForm.action}"/>
		</h:panelGrid>

		<h:panelGrid columns="2" rendered="#{traderToolActionForm.shiftingGroupSIEmpty}">
			<h:panelGrid style="text-align:left" columns="2">
				<h:outputText styleClass="trader_title_msg" value="#{msgs['tradertool.marketName']}"/>
				<h:outputText styleClass="trader_msg_value" value="#{traderToolActionForm.marketName}"/>
			</h:panelGrid>
			<h:panelGrid  columns="2">
				<h:outputText styleClass="trader_title_msg" value="#{msgs['tradertool.oppId']}"/>
				<h:outputText styleClass="trader_msg_value" value="#{traderToolActionForm.oppId}"/>
			</h:panelGrid>
		</h:panelGrid>

        <h:panelGroup rendered="#{!traderToolActionForm.shiftingGroupSIEmpty}">
        	<h:panelGrid columns="2">
        		<input width="18px" id="selectAll" name="selectAll" type="checkbox" value="" onclick="selectAll1(this);"/> <h:outputText styleClass="info_messages" value="Check All"/>
        	</h:panelGrid>
			<h:selectManyCheckbox id="selectShiftingOpps" value="#{traderToolActionForm.shiftingOppIds}" required="true" layout="pageDirection" enabledClass="trader_title_msg">
				<f:selectItems value="#{traderToolActionForm.shiftingGroupSI}"/>
			</h:selectManyCheckbox>
			<t:message showDetail="true" showSummary="true" id="selectShiftingOppsError" for="selectShiftingOpps" replaceIdWithLabel="true" styleClass="error"/>
		</h:panelGroup>
		<h:panelGrid columns="2">
			<h:panelGrid id="tableSpeardET" columns="3">
				<h:outputText styleClass="info_messages" value="#{msgs['tradertool.spread_et']}"/>
				<h:inputText styleClass="input" style="width:110px" maxlength="9" id="spreadET" value="#{traderToolActionForm.spreadET}" required="true"></h:inputText>
				<t:message id="spreadETError" for="spreadET" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>
			<h:panelGrid id="tableSpeardZH" columns="3">
				<h:outputText styleClass="info_messages" value="#{msgs['tradertool.spread_zh']}"/>
				<h:inputText styleClass="input" style="width:110px" maxlength="9" id="spreadZH" value="#{traderToolActionForm.spreadZH}" required="true"></h:inputText>
				<t:message id="spreadZHError" for="spreadZH" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>		
			<h:panelGrid id="tableSpeardAO" columns="3">
				<h:outputText styleClass="info_messages" value="#{msgs['tradertool.spread_ao']}"/>
				<h:inputText styleClass="input" style="width:110px" maxlength="9" id="spreadAO" value="#{traderToolActionForm.spreadAO}" required="true"></h:inputText>
				<t:message id="spreadAOError" for="spreadAO" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>
			<h:panelGrid id="tableSpeardTR" columns="3">
				<h:outputText styleClass="info_messages" value="#{msgs['tradertool.spread_tr']}"/>
				<h:inputText styleClass="input" style="width:110px" maxlength="9" id="spreadTR" value="#{traderToolActionForm.spreadTR}" required="true"></h:inputText>
				<t:message id="spreadError" for="spreadTR" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>
		</h:panelGrid>
		<h:panelGrid columns="3">
			<h:outputText styleClass="info_messages" value="#{msgs['login.username']}"/>
			<h:inputText styleClass="input" style="width:110px" maxlength="9" id="userName" value="#{traderToolActionForm.userName}" required="true"></h:inputText>
			<t:message id="userNameError" for="userName" replaceIdWithLabel="true" styleClass="error"/>

			<h:outputText styleClass="info_messages" value="#{msgs['login.password']}"/>
			<h:inputSecret  type="password" styleClass="input" style="width:110px" maxlength="9" id="password" value="#{traderToolActionForm.password}" required="true"></h:inputSecret>
			<t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>
		</h:panelGrid>
		<br/>

	    <h:panelGrid style="text-align:left" columns="2" border="0" width="100%" >
	     	<h:commandLink action="#{traderToolActionForm.spreadAction}">
	            <h:outputText styleClass="info_messages submit_button" value="submit" onclick="window.opener.location.reload(true);return true;"/>
			</h:commandLink>
			<h:commandLink action="#{traderToolActionForm.resetSpreadAction}">
	            <h:outputText styleClass="info_messages"  value="reset" />
			</h:commandLink>
		</h:panelGrid>

		</h:form>
	</h:panelGroup>

</f:view>
<script language="javascript" type="text/javascript">
		function selectAll1(box) {
			var tableSelect = document.getElementById("traderToolActionForm:selectShiftingOpps");
			var inputes = tableSelect.getElementsByTagName("INPUT");
			for (var i = 0; i &lt; inputes.length; i++) {
				inputes[i].checked = box.checked;
			}
		}
</script>
</body>
</html>