<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"
	      
 		  locale="#{writer.localInfo.locale}">



<HEAD>
	<title></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
</HEAD>
<BODY>

	<script>
	    var ajax = new AJAXInteraction("ajax.jsf?renderResponseCall=1", rrCallback);
	    ajax.doGet();

		function rrCallback(){
			//this is just to clear page inputes
		}
	</script>


    <h:form id="traderToolActionForm">
	#{traderToolActionForm.initSettle}
    <h:inputText style="display: none;" maxlength="9" id="oppId" value="#{traderToolActionForm.oppId}"></h:inputText>
    <h:inputText style="display: none;" maxlength="9" id="oppType" value="#{traderToolActionForm.oppType}"></h:inputText>
    <h:inputText style="display: none;" maxlength="9" id="marketName" value="#{traderToolActionForm.marketName}"></h:inputText>
    <h:inputText style="display: none;" maxlength="9" id="decimalPoint" value="#{traderToolActionForm.decimalPoint}"></h:inputText>
    <h:inputText style="display: none;" maxlength="9" id="action" value="#{traderToolActionForm.action}"></h:inputText>

	<h:messages />

	<h:panelGrid style="text-align:center" columns="1" border="0" width="100%" >
		<h:outputText styleClass="trader_tool_title" value="#{facesContext.externalContext.requestParameterMap['action']}"/>
	</h:panelGrid>
	<h:panelGrid  columns="2">
		<h:panelGrid style="text-align:left" columns="2">
			<h:outputText styleClass="trader_title_msg" value="#{msgs['tradertool.marketName']}"/>
			<h:outputText styleClass="trader_msg_value" value="#{traderToolActionForm.marketName}"/>
		</h:panelGrid>
		<h:panelGrid  columns="2">
			<h:outputText styleClass="trader_title_msg" value="#{msgs['tradertool.oppId']}"/>
			<h:outputText styleClass="trader_msg_value" value="#{traderToolActionForm.oppId}"/>
		</h:panelGrid>
	</h:panelGrid>
	<h:panelGrid  columns="2">
		<h:outputText styleClass="trader_title_msg" value="#{msgs['tradertool.decimalPoint']}"/>
		<h:outputText styleClass="trader_msg_value" value="#{traderToolActionForm.decimalPoint}"/>
	</h:panelGrid>
	<table>
		<tr id="firstCheck" name="firstCheck">
			<td>
				<table>
					<tr>
						<td>
							<h:panelGrid  columns="3">
								<h:outputText styleClass="info_messages" value="#{msgs['tradertool.newLevel']}"/>
								<h:inputText onkeyup="javascript:decimalsCheck(this);" onchange="javascript:decimalsCheck(this);"
									styleClass="input" style="width:110px" maxlength="9" id="newLevel"
									name="newLevel" value="#{traderToolActionForm.newLevel}" required="true"></h:inputText>
								<t:message id="newLevelError" for="newLevel" replaceIdWithLabel="true" styleClass="error"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td>
							<h:panelGrid  columns="3">
								<h:outputText styleClass="info_messages" value="#{msgs['tradertool.last']}"/>
								<h:inputText styleClass="input" style="width:110px" maxlength="9" id="last"
									name="last" value="#{traderToolActionForm.last}"></h:inputText>
								<t:message id="lastError" for="last" replaceIdWithLabel="true" styleClass="error"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td>
						<h:panelGrid  columns="3">
							<h:outputText styleClass="info_messages" value="#{msgs['tradertool.ask']}"/>
							<h:inputText styleClass="input" style="width:110px" maxlength="9" id="ask"
								name="ask" value="#{traderToolActionForm.ask}"></h:inputText>
							<t:message id="askError" for="ask" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
					</td>
					</tr>
					<tr>
						<td>
							<h:panelGrid  columns="3">
								<h:outputText styleClass="info_messages" value="#{msgs['tradertool.bid']}"/>
								<h:inputText styleClass="input" style="width:110px" maxlength="9" id="bid"
									name="bid" value="#{traderToolActionForm.bid}"></h:inputText>
								<t:message id="bidError" for="bid" replaceIdWithLabel="true" styleClass="error"/>
							</h:panelGrid>
						</td>
					</tr>
					<tr>
						<td>
							<h:panelGrid  columns="1">
								<input id="newLevelBtn" type="button" value="submit"  onclick="javascript:hideShow('firstCheck','secondCheck')"/>
							</h:panelGrid>
						</td>
					</tr>

				</table>
			</td>
		</tr>
		<tr id="secondCheck"  name="secondCheck" style="display: none;">
			<td>
			<table>
				<tr>
					<td>
						<h:panelGrid  columns="3">
							<h:outputText styleClass="info_messages" value="#{msgs['tradertool.retype.newLevel']}"/>
							<h:inputText onkeyup="javascript:decimalsCheck(this);" onchange="javascript:decimalsCheck(this);" styleClass="input" style="width:110px" maxlength="9" id="newLevelCheck" value="#{traderToolActionForm.newLevelCheck}" required="true"></h:inputText>
							<t:message id="newLevelCheckError" for="newLevelCheck" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:panelGrid  columns="3">
							<h:outputText styleClass="info_messages" value="#{msgs['tradertool.retype.last']}"/>
							<h:inputText styleClass="input" style="width:110px" maxlength="9" id="lastCheck" value="#{traderToolActionForm.lastCheck}"></h:inputText>
							<t:message id="lastCheckError" for="lastCheck" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:panelGrid  columns="3">
							<h:outputText styleClass="info_messages" value="#{msgs['tradertool.retype.ask']}"/>
							<h:inputText styleClass="input" style="width:110px" maxlength="9" id="askCheck" value="#{traderToolActionForm.askCheck}"></h:inputText>
							<t:message id="askCheckError" for="askCheck" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:panelGrid  columns="3">
							<h:outputText styleClass="info_messages" value="#{msgs['tradertool.retype.bid']}"/>
							<h:inputText styleClass="input" style="width:110px" maxlength="9" id="bidCheck" value="#{traderToolActionForm.bidCheck}"></h:inputText>
							<t:message id="bidCheckError" for="bidCheck" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
					</td>
				</tr>
				<tr>
					<td>
						<h:panelGrid  columns="1">
							<input id="newLevelCheckBtn" type="button" value="submit" onclick="javascript:levelCheck('traderToolActionForm:newLevel','traderToolActionForm:newLevelCheck', 'traderToolActionForm:last','traderToolActionForm:lastCheck', 'traderToolActionForm:ask','traderToolActionForm:askCheck', 'traderToolActionForm:bid','traderToolActionForm:bidCheck');"/>
						</h:panelGrid>
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr id="submitLogin" name="submitLogin" style="display: none;">
			<td>
				<h:panelGrid  columns="3">
					<h:outputText styleClass="info_messages" value="#{msgs['login.username']}"/>
					<h:inputText styleClass="input" style="width:110px" maxlength="9" id="userName" value="#{traderToolActionForm.userName}" required="true"></h:inputText>
					<t:message id="userNameError" for="userName" replaceIdWithLabel="true" styleClass="error"/>

					<h:outputText styleClass="info_messages" value="#{msgs['login.password']}"/>
					<h:inputSecret  type="password" styleClass="input" style="width:110px" maxlength="9" id="password" value="#{traderToolActionForm.password}" required="true"></h:inputSecret>
					<t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				<br/>
				<div id="settle" name="settle" style="display: none;">
				    <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
				     	<h:commandLink action="#{traderToolActionForm.settle}" >
				            <h:outputText styleClass="info_messages"  value="submit" />
						</h:commandLink>
					</h:panelGrid>
				</div>
				<div id="settleOneTouch" name="settleOneTouch" style="display: none;">
				    <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
				     	<h:commandLink action="#{traderToolActionForm.settleOneTouch}" >
				            <h:outputText styleClass="info_messages"  value="submit" />
						</h:commandLink>
					</h:panelGrid>
				</div>
				<div id="reSettle" name="reSettle" style="display: none;">
				    <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
				     	<h:commandLink action="#{traderToolActionForm.resettle}" >
				            <h:outputText styleClass="info_messages"  value="submit" />
						</h:commandLink>
					</h:panelGrid>
				</div>
				<div id="reSettleOneTouch" name="reSettleOneTouch" style="display: none;">
				    <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
				     	<h:commandLink action="#{traderToolActionForm.resettleOneTouch}" >
				            <h:outputText styleClass="info_messages"  value="submit" />
						</h:commandLink>
					</h:panelGrid>
				</div>
			</td>
		</tr>
	</table>

	</h:form>

	<script>
		//show the right button
		var action = "#{traderToolActionForm.action}";
		var div = document.getElementById(action);
		div.style.display = navigator.userAgent.toLowerCase().indexOf("msie") != -1 ? 'block' : 'block';
	</script>
	<script>
		var decimal = #{traderToolActionForm.decimalPoint};
		function decimalsCheck(inputObj) {
			var newValue = inputObj.value.split("."); //decRound(inputObj.value, decimal-1);
			if (newValue.length == 2) {
				if (newValue[1].length > new Number(decimal)) {
					inputObj.value = newValue[0] + "." + newValue[1].substring(0, new Number(decimal));
				}
			}
		}

		function hideShow(hide, show) {
			var hideElm = document.getElementById(hide);
			var showElm = document.getElementById(show);
			hideElm.style.display = "none";
			showElm.style.display = navigator.userAgent.toLowerCase().indexOf("msie") != -1 ? 'block' : 'table-row';
		}

		function levelCheck(newLvl, newLvlCheck, last, lastCheck, ask, askCheck, bid, bidCheck) {
			var newLvlv = document.getElementById(newLvl);
			var newLvlCheckv = document.getElementById(newLvlCheck);
			var newLast = document.getElementById(last);
			var newLastCheck = document.getElementById(lastCheck);
			var newAsk = document.getElementById(ask);
			var newAskCheck = document.getElementById(askCheck);
			var newBid = document.getElementById(bid);
			var newBidCheck = document.getElementById(bidCheck);
			if (newLvlv.value == newLvlCheckv.value &amp;&amp; newLast.value == newLastCheck.value &amp;&amp; newAsk.value == newAskCheck.value &amp;&amp; newBid.value == newBidCheck.value) {
				hideShow("secondCheck", "submitLogin");
			} else {
				alert("Please insert equal values!");
			}
		}
	</script>

</BODY>
</f:view>