<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="content">
<script type="text/javascript">
	document.domain = "#{traderToolPublishForm.lsDomain}";
	var context_path = "#{facesContext.externalContext.requestContextPath}";
	var scheduledTxt = new Array("#{msgs['opportunities.templates.hourly']}", "#{msgs['opportunities.templates.daily']}", "#{msgs['opportunities.templates.weekly']}", "#{msgs['opportunities.templates.monthly']}");
	var oppTypeTxt = new Array("#{msgs['Default']}", "#{msgs['OneTouch']}");
	var bundle_msg_today = "#{msgs['tradertool.today']}";

</script>

<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls5.1/require.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls5.1/lightstreamer.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls5.1/dynaGrid.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/trader_tool_binary0100.js?new=true"></script>

<table id="filters" cellspacing="0" cellpadding="0" border="0" width="1000px">
	<tr>
		<td width="210px" style="display:none">
			 <t:outputText value="#{msgs['markets.groupid']}"/>
	         <h:selectManyListbox id="select_group" value="#{traderToolPublishForm.scheduleds}" onchange="updateMarketGroupSelection(this);">
    	   		<f:selectItems value="#{writer.marketGroups.entrySet()}"
               					   var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
    	   	 </h:selectManyListbox>
		</td>
		<td width="210px">
			<t:panelGrid border="0" columns="2">
				<t:outputText value="#{msgs['opportunities.market']}"/>
	   		  	<t:selectOneMenu id="select_market" value="#{traderToolPublishForm.marketName}" onchange="updateMarketsSelection();">
		   			<f:selectItem itemLabel="#{msgs['opportunities.all']}" itemValue="0,0" />
		   			<f:selectItems value="#{writer.activeBinary0100MarketsAndGroups.entrySet()}" 
		   						   var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
		        </t:selectOneMenu>
			</t:panelGrid>
		</td>
		<td width="210px" style="display:none">
	    	<h:panelGrid border="0" columns="2">
		    	<h:outputLabel for="scheduled" value="#{msgs['opportunities.templates.scheduled']}"/>
		        <h:selectManyListbox id="select_scheduled" value="#{traderToolPublishForm.scheduleds}" onchange="updateMarketsSelection();" style="size:5">
			   		<f:selectItems value="#{traderToolPublishForm.scheduledListSI}" />
		        </h:selectManyListbox>
	        </h:panelGrid>
        </td>
		<td width="210px" style="display:none">
	    	<h:panelGrid border="0" columns="2">
		    	<h:outputLabel value="#{msgs['opportunities.type']}"/>
		        <t:selectOneMenu id="select_oppType" value="#{traderToolPublishForm.marketName}" onchange="updateMarketsSelection();">
		   			<f:selectItem itemLabel="#{msgs['opportunities.all']}" itemValue="0" />
		   			<f:selectItem itemLabel="Binary" itemValue="1" />
		   			<f:selectItem itemLabel="Option plus" itemValue="3" />
		        </t:selectOneMenu>
	        </h:panelGrid>
        </td>
		<td width="210px" style="display:none">
	    	<INPUT type="button" value="change parameter" onClick="var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/trader/traderToolActionUpdateParameter.jsf' ,'actionWindow','width=400,height=270');if (window.focus) {popupWin.focus();};"/>
        </td>
	</tr>


</table>
<table id="oppsTable" cellspacing="0" cellpadding="0" border="1" width="100%" >
	<tr align="center">
		<td width="50" onClick="sort('key', false, true);" class="traderTool_table_header" align="center">opp id</td>  					<!-- 1 key -->
		<td width="100" onClick="sort('marketId', false, false);" class="traderTool_table_header" align="center">market name</td>		<!-- 2 marketId -->
		<td width="80" class="traderTool_table_header" align="center">Event level</td>													<!-- 3 BZ_EVENT -->	
		<td width="50" class="traderTool_table_header" align="center">Etrader level</td>												<!-- 4 etLevel -->
		<td width="50" onClick="sort('callsAmount', false, false);" class="traderTool_table_header">Contracts bought</td>				<!-- 5  -->
		<td width="50" onClick="sort('putsAmount', false, true);" class="traderTool_table_header">Contracts sold</td>					<!-- 6  -->
		<td width="60" onClick="sort('callsAmountAddPutsAmount', false, true);" class="traderTool_table_header">if above</td>			<!-- 8  -->
		<td width="50" onClick="sort('calls', false, true);" class="traderTool_table_header">if below</td>								<!-- 9  -->
		<td width="60" onClick="sort('callsAmountSubPutsAmount', false, true);" class="traderTool_table_header">Contracts delta</td>	<!-- 7  -->
		<td width="50" onClick="sort('BZ_BID', false, true);" class="traderTool_table_header">bid price</td>							<!-- 10 -->
		<td width="50" onClick="sort('BZ_OFFER', false, true);" class="traderTool_table_header">offer price</td>						<!-- 11 -->
		<td width="105" onClick="sort('timeEstClosing', false, false);" class="traderTool_table_header">time est closing</td>			<!-- 12 -->
		<td width="60" onClick="sort('isDisabledTrader', true, false);" class="traderTool_table_header" align="center">disable</td>		<!-- 13 -->
		<td width="80" onClick="sort('isSuspended', true, false);" class="traderTool_table_header" align="center">suspend</td>			<!-- 14 -->
		<td width="50" class="traderTool_table_header" align="center">settle</td>														<!-- 15 -->
		<td width="50" class="traderTool_table_header" align="center">Exposure</td>														<!-- 16 -->
		<td width="50" class="traderTool_table_header" align="center">sp</td>															<!-- 17 -->
		<td width="50" class="traderTool_table_header" align="center">T</td>															<!-- 18 -->

	</tr>
	<tr source="lightstreamer" id="opps" align="center" class="row_other">
		<td><div source="lightstreamer" field="key"></div></td> 
		<td><div source="lightstreamer" field="marketName"></div></td> <!-- 2 SUBSCR_FLD_MARKET_NAME -->
		<td><span source="lightstreamer" field="BZ_EVENT"></span><img src="#{facesContext.externalContext.requestContextPath}/images/ar_down.gif" border="0"/></td> <!-- 3   -->
		<td><div source="lightstreamer" field="etLevel"></div></td> <!-- 4 SUBSCR_FLD_ET_LEVEL -->
		<td><div source="lightstreamer" field="formatedCallsContracts"></div></td> <!-- 5 FORMATED_CALLS_CONTRACTS -->
		<td><div source="lightstreamer" field="formatedPutsContracts"></div></td> <!-- 6 FORMATED_PUTS_CONTRACTS -->
		<td><div source="lightstreamer" field="formatedCallsAmount"></div></td> <!-- 8 FORMATED_CALLS_AMOUNT -->
		<td><div source="lightstreamer" field="formatedPutsAmount"></div></td> <!-- 9 FORMATED_PUTS_AMOUNT -->
		<td><div source="lightstreamer" field="formatedCallsSubPutsContracts"></div></td> <!-- 7 FORMATED_CALLS_SUB_PUTS_CONTRACTS -->
		<td><input source="lightstreamer" field="BZ_BID" type="button" onClick="changeTParam(this, 'bid')"/></td> <!-- 10 SUBSCR_FLD_BZ_BID -->
		<td><input source="lightstreamer" field="BZ_OFFER" type="button" onClick="changeTParam(this, 'offer')"/></td> <!-- 11 SUBSCR_FLD_BZ_OFFER -->
		<td><div source="lightstreamer" field="formatedTimeEstClosing"></div></td> <!-- 12 FORMATED_TIME_EST_CLOSING -->
		<td><input source="lightstreamer" field="isDisabledTrader" type="button" onClick="openActionWindow(this,'Disable')"/></td> <!-- 13 -->
		<td><input source="lightstreamer" field="isSuspended" type="button" onClick="openActionWindow(this,'Suspend')"/></td> <!-- 14 -->
		<td style="display: none;"><div source="lightstreamer" field="marketId"></div></td> <!-- 15 market id for filter -->
		<td style="display: none;"><div source="lightstreamer" field="marketGroupId"></div></td> <!-- 16 SUBSCR_FLD_MARKET_GROUP_ID for filter -->
		<td style="display: none;"><div source="lightstreamer" field="scheduled"></div></td> <!-- 17 scheduled for filter -->
		<td style="display: none;"><div source="lightstreamer" field="oppType"></div></td> <!-- 18 opp type id for filter -->
		<td style="display: none;"><div source="lightstreamer" field="feedName"></div></td> <!-- 19 SUBSCR_FLD_FEED_NAME -->
		<td style="display: none;"><div source="lightstreamer" field="suspendedMessage"></div></td> <!-- 20 SUBSCR_FLD_SUSPENDED_MESSAGE -->
		<td style="display: none;"><div source="lightstreamer" field="decimalPoint"></div></td> <!-- 21 SUBSCR_FLD_DECIMAL_POINT -->
		<td><input type="button" value="settle" onClick="openActionWindowSettle(this,'Settle')"/></td> <!-- 22 -->
		<td style="display: none;"><div source="lightstreamer" field="maxExposure"></div></td> <!-- 23 SUBSCR_FLD_MAX_EXPOSURE -->
		<td style="display: none;"><div source="lightstreamer" field="parameters"></div></td> <!-- 24 SUBSCR_FLD_PARAMETERS -->
		<td><input type="button" value="" source="lightstreamer" field="formatedMaxExposure_1" onClick="openActionWindowChangeParam(this, 'MaxExposure')"/></td> <!-- 25 SUBSCR_FLD_maxExposure_1 -->
		<td><input type="button" value="" source="lightstreamer" field="parameter_sp" onClick="openActionWindowChangeParam(this, 'sp')"/></td> <!-- 26 SUBSCR_FLD_PARAMETER_SP -->
		<td><input type="button" value="" source="lightstreamer" field="parameter_t" onClick="openActionWindowChangeParam(this, 'T')"/></td> <!-- 27 SUBSCR_FLD_PARAMETER_T -->
	</tr>
</table>
<div id="log"></div>
<script type="text/javascript">
			var itemName = ["traderToolBinary0100"];
			var schema = ["key", "command", "callsAmount", "putsAmount", "callsAmountSubPutsAmount",
			              "callsAmountAddPutsAmount", "calls", "puts", "timeLastInvest", "marketId",
			              "marketGroupId", "scheduled", "oppType", "shiftParameter", "autoShiftParameter",
			              "isDisabledTrader", "feedName", "isSuspended", "suspendedMessage", "state",
			              "timeEstClosing", "maxExposure", "decimalPoint", "etLevel", "aoLevel",
			              "shiftParameterAO", "BZ_EVENT", "callsSubPuts", "BZ_BID", "BZ_OFFER",
			              "maxExposure_1", "parameter_sp", "parameter_t", "parameters", "parameter_z",
			              "oppOnlySuspended"];
			var marketsDiaplayName = #{applicationData.displayMarkets};
			var adapterName = "TRADERTOOL";
			var subscriptionType = "COMMAND";
			var server = "http://#{traderToolPublishForm.lsServer}:#{traderToolPublishForm.lsPort}";
			var dynaGrid;
			require(["DynaGrid", "LightstreamerClient","Subscription"],function(DynaGrid, LightstreamerClient,Subscription) {
				var server = "http://#{traderToolPublishForm.lsServer}:#{traderToolPublishForm.lsPort}";
				var client = new LightstreamerClient(server, adapterName);
				client.connectionOptions.setMaxBandwidth(20);
				client.connectionOptions.setIdleMillis(30000);
				client.connectionOptions.setPollingMillis(1000);
				client.connectionOptions.setReconnectTimeout(10000);
				client.connectionSharing.enableSharing("TTConnection", "ATTACH", "CREATE");
		        client.connect();
		        
	             dynaGrid = new DynaGrid("opps",true);
	             dynaGrid.setNodeTypes(["div", "span", "input"]);
	            //sorter = dynaGrid;
	            dynaGrid.addListener({
	              onVisualUpdate: function(key,info,domNode) {
	                if (info == null) {
	               		  updateMarketsSelection();
	                      return;
	                }
	                updateItem(key,info,domNode);
	                updateMarketsSelection();
	              }
	            });
				
		        var traderToolSubscription = new Subscription(subscriptionType,itemName,schema);
		        traderToolSubscription.setRequestedSnapshot("yes");
		        traderToolSubscription.setRequestedMaxFrequency(1.0);
				traderToolSubscription.addListener(dynaGrid);

				client.subscribe(traderToolSubscription);
			    updateMarketsSelection();
				
	      });



//			lsPage.createEngine("traderTool", "#{facesContext.externalContext.requestContextPath}/ls/", "SHARE_SESSION");
//			var newTable = new DynaMetapushTable(group, schema, "COMMAND");
//			newTable.setSnapshotRequired(true);
//			newTable.setRequestedMaxFrequency(1.0);
//			newTable.setPushedHtmlEnabled(true);
//			newTable.setClearOnDisconnected(false);
//			newTable.setMaxDynaRows("unlimited");
//			newTable.setMetapushFields(2, 1);
//			newTable.setMetapushSort(21, false, false);
//			newTable.onChangingValues = formatValues;
//			newTable.onItemUpdate = updateItem;
//			lsPage.addTable(newTable, "opps");

		</script>

</ui:define>
</ui:composition>
</html>