<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"

 		  locale="#{writer.localInfo.locale}">



<HEAD>
	<title></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
</HEAD>
<BODY>
	<script>
	    var ajax = new AJAXInteraction("ajax.jsf?renderResponseCall=1", rrCallback);
	    ajax.doGet();

		function rrCallback(){
			//this is just to clear page inputes
		}
	</script>


    <h:form id="traderToolActionForm">

    #{traderToolActionForm.init}
    <h:inputText style="display: none;" maxlength="9" id="action" value="#{traderToolActionForm.action}"></h:inputText>
    <h:inputText style="display: none;" maxlength="9" id="oppId" value="#{traderToolActionForm.oppId}"></h:inputText>
	<h:inputText style="display: none;" maxlength="9" id="feedName" value="#{traderToolActionForm.feedName}"></h:inputText>
	<h:inputText style="display: none;" maxlength="9" id="marketName" value="#{traderToolActionForm.marketName}"></h:inputText>

	<h:panelGrid style="text-align:center" columns="1" border="0" width="100%" >
		<h:outputText styleClass="trader_tool_title" value="#{traderToolActionForm.action}"/>
	</h:panelGrid>
	<h:panelGrid  columns="2">
		<h:panelGrid style="text-align:left" columns="2">
			<h:outputText styleClass="trader_title_msg" value="#{msgs['tradertool.marketName']}"/>
			<h:outputText styleClass="trader_msg_value" value="#{traderToolActionForm.marketName}"/>
		</h:panelGrid>
		<h:panelGrid  columns="2">
			<h:outputText styleClass="trader_title_msg" value="#{msgs['tradertool.oppId']}"/>
			<h:outputText styleClass="trader_msg_value" value="#{traderToolActionForm.oppId}"/>
		</h:panelGrid>
	</h:panelGrid>



	<h:panelGrid  columns="3">
		<h:outputText styleClass="info_messages" value="#{msgs['login.username']}"/>
		<h:inputText styleClass="input" style="width:110px" maxlength="9" id="userName" value="#{traderToolActionForm.userName}" required="true"></h:inputText>
		<t:message id="userNameError" for="userName" replaceIdWithLabel="true" styleClass="error"/>

		<h:outputText styleClass="info_messages" value="#{msgs['login.password']}"/>
		<h:inputSecret  type="password" styleClass="input" style="width:110px" maxlength="9" id="password" value="#{traderToolActionForm.password}" required="true"></h:inputSecret>
		<t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>
	</h:panelGrid>

	<br/>

	<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
	 	<h:commandLink action="#{traderToolActionForm.suspendOneTouchAction}">
	        <h:outputText styleClass="info_messages"  value="submit" />
		</h:commandLink>
	</h:panelGrid>

	</h:form>

	<DIV ID="caldiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
</BODY>
</f:view>