<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="content">
<script type="text/javascript">
	document.domain = "#{traderToolPublishForm.lsDomain}";
	var context_path = "#{facesContext.externalContext.requestContextPath}";
	var scheduledTxt = new Array("#{msgs['opportunities.templates.hourly']}", "#{msgs['opportunities.templates.daily']}", "#{msgs['opportunities.templates.weekly']}", "#{msgs['opportunities.templates.monthly']}");
	var oppTypeTxt = new Array("#{msgs['Default']}", "#{msgs['OneTouch']}");
	var bundle_msg_today = "#{msgs['tradertool.today']}";
	// unavailableMarketsPerSkin
	var s = #{traderToolPublishForm.JSList};
	var marketGroupFilter = "0";
	var marketFilter = "0,0" ;
	var periodFilter = "0";
	var optionTypeFilter = "0";
	var skinIdFilter = "0";
	
	var marketsGroups = #{traderToolPublishForm.marketsByGroups}
	var allTxt = "#{msgs['opportunities.all']}";
	
	$(function() {
		$('#marketGroupId').change(function() {
			setMarkets($(this).val());
		})
	});
	
	function setMarkets(filter) {
		$('#marketId').empty();
		var op = document.createElement('option');
		op.value = '0';
		op.text = allTxt;
		$('#marketId').append(op);
		
		$.each(marketsGroups, function (i, group) {
			if (filter[0] == 0 || filter.indexOf(group.id.toString()) > -1) {
				$.each(group.markets, function (n, market) {
					var op = document.createElement('option');
					op.value = '0,' + market.id;
					op.text = market.displayName;
					$('#marketId').append(op);
				})
			}
		})
	}
</script>

<script src="#{facesContext.externalContext.requestContextPath}/ls5.1/require.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls5.1/lightstreamer.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls5.1/tableFilter.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls5.1/dynaGrid.js"></script>



<table id="filters" cellspacing="0" cellpadding="0" border="0" width="1000px" >
	<tr>
		<td width="210px">
			 <t:outputText value="#{msgs['markets.groupid']}"/>
	         <h:selectManyListbox id="marketGroupId" value="#{traderToolPublishForm.scheduleds}" >
    	   		<f:selectItems value="#{writer.marketGroups.entrySet()}"
               					   var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
    	   	 </h:selectManyListbox>
		</td>
		<td width="210px">
			<t:panelGrid border="0" columns="2">
				<t:outputText value="#{msgs['opportunities.market']}"/>
	   		  	<t:selectOneMenu id="marketId" value="#{traderToolPublishForm.marketName}" >
		   			<f:selectItem itemLabel="#{msgs['opportunities.all']}" itemValue="0" />
		   			<f:selectItems value="#{writer.activeMarketsAndGroups.entrySet()}" 
		   				     	   var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
		        </t:selectOneMenu>
			</t:panelGrid>
		</td>
		<td width="210px">
	    	<h:panelGrid border="0" columns="2">
		    	<h:outputLabel for="scheduled" value="#{msgs['opportunities.templates.scheduled']}"/>
		        <h:selectManyListbox id="scheduled" value="#{traderToolPublishForm.scheduleds}" style="size:5" >
			   		<f:selectItems value="#{traderToolPublishForm.scheduledListSI}" />
		        </h:selectManyListbox>
	        </h:panelGrid>
        </td>
        <td width="180px">
	    	<h:panelGrid border="0" columns="2">
		    	<h:outputLabel value="#{msgs['opportunities.type']}"/>
		        <t:selectOneMenu id="oppType" value="#{traderToolPublishForm.marketName}">
		   			<f:selectItem itemLabel="#{msgs['opportunities.all']}" itemValue="0" />
		   			<f:selectItem itemLabel="Binary" itemValue="1" />
		   			<f:selectItem itemLabel="Option plus" itemValue="3" />
		        </t:selectOneMenu>
	        </h:panelGrid>
        </td>
        <td width="210px">
   	    	<h:panelGrid border="0" columns="2">
     			<t:outputText value="#{msgs['anal.filter.skin']}"/>
		   		  	<t:selectOneMenu id="skinId" value="#{traderToolPublishForm.skinId}">
        			<f:selectItems value="#{writer.skinsAndEmptySI}" />
    	    	</t:selectOneMenu>
   	    	</h:panelGrid>
        </td>
		<td width="210px">
	    	<INPUT type="button" value="change parameter" onclick="var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/trader/traderToolActionUpdateParameter.jsf' ,'actionWindow','width=400,height=270');if (window.focus) {popupWin.focus();};"/>
        </td>
	</tr>
</table>
<table id="table" cellspacing="0" cellpadding="0" border="1" width="100%" >
	<tr align="center">
		<td width="50"	onclick="changeSort('key');return false;"						class="traderTool_table_header" align="center">opp id<img width="10" src="../../images/spacer.gif" id="img_key" /></td>
		<td width="100"	onclick="changeSort('marketId');return false;" 					class="traderTool_table_header" align="center">market name<img width="10" src="../../images/spacer.gif" id="img_marketId" /></td>
		<td width="50"  											 					class="traderTool_table_header" align="center">level ET/AO<img width="10" src="../../images/spacer.gif" id="img_level_1" /></td>
		<td width="50"																	class="traderTool_table_header" align="center">level ZH/TR<img width="10" src="../../images/spacer.gif" id="img_leve_3" /></td>
		<td width="50"	onclick="changeSort('scheduled');return false;"					class="traderTool_table_header">Scheduled<img width="10" src="../../images/spacer.gif" id="img_scheduled" /></td>
		<td width="50"	onclick="changeSort('callsAmount');return false;"				class="traderTool_table_header">calls A<img width="10" src="../../images/spacer.gif" id="img_callsAmount" /></td>
		<td width="60"	onclick="changeSort('putsAmount');return false;"				class="traderTool_table_header">puts A<img width="10" src="../../images/spacer.gif" id="img_putsAmount" /></td>
		<td width="60"	onclick="changeSort('callsAmountSubPutsAmount');return false;"	class="traderTool_table_header">DELTA<img width="10" src="../../images/spacer.gif" id="img_callsAmountSubPutsAmount" /></td>
		<td width="50"	onclick="changeSort('callsAmountAddPutsAmount');return false;"	class="traderTool_table_header">Volume<img width="10" src="../../images/spacer.gif" id="img_callsAmountAddPutsAmount" /></td>
		<td width="105"	onclick="changeSort('timeEstClosing');return false;"			class="traderTool_table_header">time est closing<img width="10" src="../../images/spacer.gif" id="img_timeEstClosing" /></td>
		<td width="70"	onclick="changeSort('shiftParameter_1');return false;"			class="traderTool_table_header">shift trader ET/AO<img width="10" src="../../images/spacer.gif" id="img_shiftParameter_1" /></td>
		<td width="70"	onclick="changeSort('shiftParameter_3');return false;"			class="traderTool_table_header">shift trader ZH/TR<img width="10" src="../../images/spacer.gif" id="img_shiftParameter_3" /></td>
		<td width="70"	onclick="changeSort('autoShiftParameter');return false;"		class="traderTool_table_header">shift auto<img width="10" src="../../images/spacer.gif" id="img_autoShiftParameter" /></td>
		<td width="100"	onclick="changeSort('maxExposure_1');return false;" 			class="traderTool_table_header">opp exposure<img width="10" src="../../images/spacer.gif" id="img_maxExposure_1" /></td>
		<td width="60"																	class="traderTool_table_header" align="center">spread<img width="10" src="../../images/spacer.gif" id="img_spread" /></td>
		<td width="60"	onclick="changeSort('isDisabledTrader');return false;"			class="traderTool_table_header" align="center">disable<img width="10" src="../../images/spacer.gif" id="img_disable" /></td>
		<td width="80"	onclick="changeSort('isSuspended');return false;"				class="traderTool_table_header" align="center">suspend<img width="10" src="../../images/spacer.gif" id="img_suspend" /></td>
		<td width="50"																	class="traderTool_table_header" align="center">settle<img width="10" src="../../images/spacer.gif" id="img_settle" /></td>
	</tr>
	<tr source="lightstreamer" id="opps" align="center" class="row_other">
		<td><div source="lightstreamer" field="key"></div></td> <!-- opp id -->
		<td><div source="lightstreamer" field="marketId"></div></td> <!-- market name -->
		<!-- ET/AO Levels -->
		<td><div style="background:#BEC2C4;"><div source="lightstreamer" field="level_1"></div></div>
			<div style="background:#80C2ED;"><div source="lightstreamer" field="level_2"></div></div></td>
		<!-- ZH/TR Levels -->
		<td><div style="background:#FFFF64;color:black;"><div source="lightstreamer" field="level_3"></div></div>
			<div style="background:#A50021;color:white;"><div source="lightstreamer" field="level_4"></div></div></td>
		<td><div source="lightstreamer" field="scheduled"></div></td> 
		<td><div source="lightstreamer" field="callsAmount"></div></td> 
		<td><div source="lightstreamer" field="putsAmount"></div></td> 
		<td><div source="lightstreamer" field="callsAmountSubPutsAmount"></div></td> 
		<td><div source="lightstreamer" field="callsAmountAddPutsAmount"></div></td> 
		<td><div source="lightstreamer" field="timeEstClosing"></div></td> 
		<!-- ET/AO shift parameters -->
		<td><div style="background:#BEC2C4;"><div source="lightstreamer" field="shiftParameter_1"></div></div>
			<div style="background:#80C2ED;" class="_btnHolder">
				<button class="trader-button trader-button-minus" onclick="shiftStep(this, false)">-</button>
				<div class="dIB" source="lightstreamer" field="shiftParameter_2"></div>
				<button class="trader-button trader-button-plus" onclick="shiftStep(this, true)">+</button>
			</div></td>
		<!-- ZH/TR shift parameters --> 
		<td><div style="background:#FFFF64;color:black;"><div source="lightstreamer" field="shiftParameter_3"></div></div>
			<div style="background:#A50021;color:white;"><div source="lightstreamer" field="shiftParameter_4"></div></div></td> 
		<td><div source="lightstreamer" field="autoShiftParameter"></div></td> 
		<td><INPUT type="button" source="lightstreamer" field="maxExposure_1" onClick="openActionWindow(this,'MaxExposure')"/></td> 
		<td><INPUT type="button"  onClick="openActionWindow(this,'Spread')" value="spread" /></td>  
		<td><INPUT type="button" source="lightstreamer" field="isDisabledTrader" onClick="openActionWindow(this,'Disable')"/></td> 
		<td><INPUT type="button" source="lightstreamer" field="isSuspended" onClick="openActionWindow(this,'Suspend')"/></td> 
		<td><INPUT type="button" value="settle" onClick="openActionWindowSettle(this)"/></td> 
	</tr>
</table>
<script>
		var itemName = "#{facesContext.externalContext.requestParameterMap['type'] == '3' ? 'traderToolOP' : 'traderTool'}";
		var schema = ["key", "command", "callsAmount", "putsAmount", "callsAmountSubPutsAmount",
					  "callsAmountAddPutsAmount", "calls", "puts", "timeLastInvest", "marketId",
					  "marketGroupId", "scheduled", "oppType", "shiftParameter_1", "autoShiftParameter",
					  "isDisabledTrader", "feedName", "isSuspended", "suspendedMessage", "state",
					  "timeEstClosing", "maxExposure_1", "decimalPoint", "level_1", "level_2",
					  "shiftParameter_2", "shiftParameter_3", "shiftParameter_4", "level_3", "level_4", "oppOnlySuspended"];
		var marketsDisplayName	= #{applicationData.JSMarketMap};
		var adapterName			= "TRADERTOOL";
		var subscriptionType	= "COMMAND";
		
		require(["dynaGrid", "LightstreamerClient","Subscription"],function(dynaGrid, LightstreamerClient,Subscription) {
			var server = "http://#{traderToolPublishForm.lsServer}:#{traderToolPublishForm.lsPort}";
			var client = new LightstreamerClient(server, adapterName);
			client.connectionOptions.setMaxBandwidth(20);
			client.connectionOptions.setIdleMillis(30000);
			client.connectionOptions.setPollingMillis(1000);
			client.connectionOptions.setReconnectTimeout(10000);
			client.connectionSharing.enableSharing("TTConnection", "ATTACH", "CREATE");
	        client.connect();
			
	        var traderToolSubscription = new Subscription(subscriptionType,itemName,schema);
	        traderToolSubscription.setRequestedSnapshot("yes");
	        traderToolSubscription.setRequestedMaxFrequency(1.0);
			traderToolSubscription.addListener(dynaGrid);

			client.subscribe(traderToolSubscription);
			
      });
</script>

</ui:define>
</ui:composition>
</html>