<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"
	      
 		  locale="#{writer.localInfo.locale}">



<HEAD>
	<title></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar_en.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
</HEAD>
<BODY>
	<script>
	    var ajax = new AJAXInteraction("ajax.jsf?renderResponseCall=1", rrCallback);
	    ajax.doGet();

		function rrCallback(){
			//this is just to clear page inputes
		}
	</script>
	<SCRIPT LANGUAGE="JavaScript" ID="js1">
		var cal = new CalendarPopup("caldiv1");
		cal.setCssPrefix("Calendar");

	</SCRIPT>
	<script>
		function changeSelectDownMsg(selectDownMsg) {
			var selectedMsgValue = selectDownMsg.options[selectDownMsg.selectedIndex].value;
			var dateAndTimetABLE = document.getElementById("traderToolActionForm:dateAndTime");

			if(selectedMsgValue != "2") {
				dateAndTimetABLE.style.display = navigator.userAgent.toLowerCase().indexOf("msie") != -1 ? 'block' : 'table-row';
			} else {
				dateAndTimetABLE.style.display = 'none';
			}
		}

	</script>

    <h:form id="traderToolActionForm">

    #{traderToolActionForm.init}
    <h:inputText style="display: none;" maxlength="9" id="action" value="#{traderToolActionForm.action}"></h:inputText>
    <h:inputText style="display: none;" maxlength="9" id="oppId" value="#{traderToolActionForm.oppId}"></h:inputText>
	<h:inputText style="display: none;" maxlength="9" id="feedName" value="#{traderToolActionForm.feedName}"></h:inputText>
	<h:inputText style="display: none;" maxlength="9" id="marketName" value="#{traderToolActionForm.marketName}"></h:inputText>

	<h:panelGrid style="text-align:center" columns="1" border="0" width="100%" >
		<h:outputText styleClass="trader_tool_title" value="#{traderToolActionForm.action}"/>
	</h:panelGrid>
	<h:panelGrid  columns="2">
		<h:panelGrid style="text-align:left" columns="2">
			<h:outputText styleClass="trader_title_msg" value="#{msgs['tradertool.marketName']}"/>
			<h:outputText styleClass="trader_msg_value" value="#{traderToolActionForm.marketName}"/>
		</h:panelGrid>
		<h:panelGrid  columns="2">
			<h:outputText styleClass="trader_title_msg" value="#{msgs['tradertool.oppId']}"/>
			<h:outputText styleClass="trader_msg_value" value="#{traderToolActionForm.oppId}"/>
		</h:panelGrid>
	</h:panelGrid>

	<h:panelGrid columns="3">
		<h:outputLabel styleClass="info_messages" for="upMsg" value="#{msgs['tradertool.suspend.msgup']}"/>
	   	<h:selectOneMenu styleClass="input" id="upMsg" value="#{traderToolActionForm.upMsg}"  required="true">
	   			<f:selectItems value="#{traderToolActionForm.suspendMsgsUp}" />
	   	</h:selectOneMenu>
		<t:message id="upMsgError" for="upMsg" replaceIdWithLabel="true" styleClass="error"/>

	   	<h:outputLabel styleClass="info_messages" for="downMsg" value="#{msgs['tradertool.suspend.msgdown']}"/>
	   	<h:selectOneMenu styleClass="input" id="downMsg"  onchange="changeSelectDownMsg(this);" value="#{traderToolActionForm.downMsg}"  required="true">
	   			<f:selectItems value="#{traderToolActionForm.suspendMsgsDown}" />
	   	</h:selectOneMenu>
		<t:message id="downMsgError" for="downMsg" replaceIdWithLabel="true" styleClass="error"/>
	</h:panelGrid>

	<h:panelGrid id="dateAndTime" columns="8">
   	<h:outputLabel styleClass="info_messages" for="to" value="#{msgs['tradertool.date']}"/>
	<h:inputText styleClass="input_text" id="to" value="#{traderToolActionForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['traderToolActionForm'].elements['traderToolActionForm:to'],'anchor2','dd/MM/yyyy'); return false;">
		<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
    </h:inputText>
    <A HREF="#" onClick="cal.select(document.forms['traderToolActionForm'].elements['traderToolActionForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
   		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
    </A>
	<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>

	<h:outputLabel styleClass="info_messages" for="hour" value="#{msgs['tradertool.suspend.hour']}"/>
   	<h:selectOneMenu styleClass="input" id="hour" value="#{traderToolActionForm.hour}"  required="true">
   			<f:selectItems value="#{traderToolActionForm.hours}" />
   	</h:selectOneMenu>

   	<h:outputLabel styleClass="info_messages" for="minute" value="#{msgs['tradertool.suspend.minute']}"/>
   	<h:selectOneMenu styleClass="input" id="minute" value="#{traderToolActionForm.minute}" required="true">
   			<f:selectItems value="#{traderToolActionForm.minutes}" />
   	</h:selectOneMenu>

	</h:panelGrid>

	<h:panelGrid  columns="3">
		<h:outputText styleClass="info_messages" value="#{msgs['login.username']}"/>
		<h:inputText styleClass="input" style="width:110px" maxlength="9" id="userName" value="#{traderToolActionForm.userName}" required="true"></h:inputText>
		<t:message id="userNameError" for="userName" replaceIdWithLabel="true" styleClass="error"/>

		<h:outputText styleClass="info_messages" value="#{msgs['login.password']}"/>
		<h:inputSecret  type="password" styleClass="input" style="width:110px" maxlength="9" id="password" value="#{traderToolActionForm.password}" required="true"></h:inputSecret>
		<t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>
	</h:panelGrid>

	<br/>

	<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
	 	<h:commandLink action="#{traderToolActionForm.navAction}">
	        <h:outputText styleClass="info_messages"  value="submit" />
		</h:commandLink>
	</h:panelGrid>

	</h:form>

	<DIV ID="caldiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>
</BODY>
</f:view>