<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="content">

<script>
	function reloadPageSlow() {
		setTimeout("reloadPage()",1000);
	}

	function reloadPage() {
		document.getElementById("traderToolOneTouchFrm:updateBtn").onclick();
	}

</script>

#{user.goTrader}

    <t:panelGroup>

		<h:form id="traderToolOneTouchFrm">
  		  	<t:saveState id="oppFormSave" value="#{traderToolOneTouchFrm}" />
          	<t:panelGrid border="0" columns="1" width="100%">

			<t:panelGrid border="0" columns="11">

				 <t:outputText value="#{msgs['markets.groupid']}"/>
		         <t:selectOneMenu id="select_group" value="#{traderToolOneTouchFrm.groupId}">
	    	   		<f:selectItems value="#{writer.marketGroups.entrySet()}"
               					   var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
               		<f:ajax listener="#{traderToolOneTouchFrm.updateGroupChange}" render="@form" onevent="resizePageCallback" />
	    	   	 </t:selectOneMenu>

				<t:outputText value="#{msgs['opportunities.market']}"/>
	   		  	<t:selectOneMenu id="market" value="#{traderToolOneTouchFrm.market}" onchange="document.traderToolOneTouchFrm.submit(this);"
		   		  	valueChangeListener="#{traderToolOneTouchFrm.updateMarketChange}">
		   			<f:selectItems value="#{traderToolOneTouchFrm.marketsByGroups.entrySet()}"
               					   var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
		        </t:selectOneMenu>

				<t:outputText value="#{msgs['opportunities.one.touch.upDown']}"/>
	   		  	<t:selectOneMenu id="upDown" value="#{traderToolOneTouchFrm.upDown}" onchange="document.traderToolOneTouchFrm.submit(this);"
		   		  	valueChangeListener="#{traderToolOneTouchFrm.updateUpDown}">
		   			<f:selectItems value="#{writer.oneTouchAllSI}" />
		        </t:selectOneMenu>

	           	<t:outputLabel for="from" value="#{msgs['general.select.day']}"/>
	           	<t:panelGrid columns="3" >
					<t:inputText styleClass="input_text" id="from" required="true" value="#{traderToolOneTouchFrm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['traderToolOneTouchFrm'].elements['traderToolOneTouchFrm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </t:inputText>
		    		<A HREF="#" onClick="cal.select(document.forms['traderToolOneTouchFrm'].elements['traderToolOneTouchFrm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	       				<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		       		 </A>
					<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				</t:panelGrid>

	           	<t:selectOneRadio value="#{traderToolOneTouchFrm.settled}" onclick="this.form.submit();"
	           	   	  		valueChangeListener="#{traderToolOneTouchFrm.updateChange}" >
	          		<f:selectItem itemLabel="#{msgs['opportunities.not.settled']}" itemValue="0" />
					<f:selectItem itemLabel="#{msgs['opportunities.settled']}" itemValue="1" />
	           	</t:selectOneRadio>

				<t:outputText value="" width="20px" />

				<t:commandLink  id="updateBtn" action="#{traderToolOneTouchFrm.updateList}" >
			                <t:outputText value="#{msgs['button.search']}" />
		 		</t:commandLink>

		 	</t:panelGrid>

			<t:outputText value="" height="10px" rendered="#{traderToolOneTouchFrm.listSize==0}"/>
	  		<t:outputText styleClass="general_message" rendered="#{traderToolOneTouchFrm.listSize==0}"
	  		   				value="#{msgs['opportunities.emptylist']}"/>

			   <t:dataTable id="data"
	                styleClass="scrollerTable"
	                headerClass="standardTable_SortHeader"
	                footerClass="standardTable_Header"
	                rowClasses="standardTable_Row1,standardTable_Row2"
	                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
	                var="v"
	                preserveDataModel="false"
	                rows="#{user.rowsByMenu}"
	                renderedIfEmpty="false"
	                cellpadding="0"
	                cellspacing="1"
	                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
	                value="#{traderToolOneTouchFrm.list}"
	           >

	           <t:column >
	               <f:facet name="header">
		              <t:commandLink action="#{traderToolOneTouchFrm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.id']}"/>
	                       <f:setPropertyActionListener target="#{traderToolOneTouchFrm.sortColumn}" value="id" />
					  </t:commandLink>
	               </f:facet>
              	   <t:outputText value="#{v.id}" />
	           </t:column>

	           <t:column >
	               <f:facet name="header">
	               		<t:commandLink action="#{traderToolOneTouchFrm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.market']}"/>
	                       <f:setPropertyActionListener target="#{traderToolOneTouchFrm.sortColumn}" value="marketName" />
			  		   </t:commandLink>
	               </f:facet>
	               <t:outputText value="#{utils.getMarketName(v.marketId)} | #{v.opportunityOddsTypeName} | #{v.currentLevel} | " />
				   <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/ar_up.gif" rendered="#{v.isOneTouchUp}" />
				   <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/ar_down.gif" rendered="#{!v.isOneTouchUp}" />
	           </t:column>

			   <t:column >
	               <f:facet name="header">
						<t:commandLink action="#{traderToolOneTouchFrm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.scheduled']}"/>
	                       <f:setPropertyActionListener target="#{traderToolOneTouchFrm.sortColumn}" value="scheduled" />
					 	 </t:commandLink>
	               </f:facet>
					<t:outputText value="#{traderToolOneTouchFrmmmmm.getScheduledTxt(v.scheduled)}" />
	           </t:column>

	           <t:column >
	               <f:facet name="header">
						<t:commandLink action="#{traderToolOneTouchFrm.sortList}" >
			               <t:outputText value="#{msgs['tradertool.volume']}"/>
	                       <f:setPropertyActionListener target="#{traderToolOneTouchFrm.sortColumn}" value="volume" />
					 	 </t:commandLink>
	               </f:facet>
					<t:outputText value="#{v.callsAmountAddPutsAmountTxt}" />
	           </t:column>

				<t:column >
	               <f:facet name="header">
		               <t:outputText value="#{msgs['opportunities.status']}"/>
	               </f:facet>
	               <t:outputText escape="false" value="#{v.statusTxt}" />
	           </t:column>
	           
	           <t:column >
	               <f:facet name="header">
		               	<t:commandLink action="#{traderToolOneTouchFrm.sortList}" >
			               <t:outputText value="#{msgs['tradertool.estclosingdate']}"/>
	                       <f:setPropertyActionListener target="#{traderToolOneTouchFrm.sortColumn}" value="estClosingTime" />
					 	 </t:commandLink>
	               </f:facet>
	               <t:outputText escape="false" value="#{utils.getOppTimeTxt(v.timeEstClosing)}" />
	           </t:column>

				<t:column >
	               <f:facet name="header">
		               	<t:commandLink action="#{traderToolOneTouchFrm.sortList}" >
			               <t:outputText value="#{msgs['tradertool.oppExposure']}"/>
	                       <f:setPropertyActionListener target="#{traderToolOneTouchFrm.sortColumn}" value="oppExposure" />
					 	 </t:commandLink>
	               </f:facet>
	               <t:outputText escape="false" value="#{v.maxExposureTxt}" />
	           </t:column>

	           <h:column>
	               <f:facet name="header">
		               <t:outputText value="#{msgs['tradertool.disable']}"/>
	               </f:facet>
	               <h:panelGroup rendered="#{!v.disabledTrader}">
					 	<h:commandButton rendered="#{v.isSettled==0}" value="disable" onclick="window.name='onetouchMain'; var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/trader/traderToolActionDisable.jsf?action=disable&amp;oppId=#{v.id}&amp;suspendMsg=#{v.market.suspendedMessage}&amp;spread=#{v.shiftParameter}&amp;feedName=#{v.encodingFeedName}&amp;marketName=#{v.encodingMarketName}','actionWindow','width=400,height=220');if (window.focus) {popupWin.focus();};" type="button"/>
						<h:commandButton rendered="#{v.isSettled==1}" disabled="true" value="disable" onclick="window.name='onetouchMain'; var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/trader/traderToolActionDisable.jsf?action=disable&amp;oppId=#{v.id}&amp;suspendMsg=#{v.market.suspendedMessage}&amp;spread=#{v.shiftParameter}&amp;feedName=#{v.encodingFeedName}&amp;marketName=#{v.encodingMarketName}','actionWindow','width=400,height=220');if (window.focus) {popupWin.focus();};" type="button"/>
	               </h:panelGroup>
		    	   <h:panelGroup rendered="#{v.disabledTrader}">
			    	   <h:commandButton rendered="#{v.isSettled==0}" value="enable" onclick="window.name='onetouchMain'; var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/trader/traderToolActionDisable.jsf?action=enable&amp;oppId=#{v.id}&amp;suspendMsg=#{v.market.suspendedMessage}&amp;spread=#{v.shiftParameter}&amp;feedName=#{v.encodingFeedName}&amp;marketName=#{v.encodingMarketName}','actionWindow','width=400,height=220');if (window.focus) {popupWin.focus();};" type="button" />
			    	   <h:commandButton rendered="#{v.isSettled==1}" disabled="true" value="enable" onclick="window.name='onetouchMain'; var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/trader/traderToolActionDisable.jsf?action=enable&amp;oppId=#{v.id}&amp;suspendMsg=#{v.market.suspendedMessage}&amp;spread=#{v.shiftParameter}&amp;feedName=#{v.encodingFeedName}&amp;marketName=#{v.encodingMarketName}','actionWindow','width=400,height=220');if (window.focus) {popupWin.focus();};" type="button" />
   	               </h:panelGroup>
	           </h:column>

	           <t:column>
	               <f:facet name="header">
		               <t:outputText value="#{msgs['tradertool.settle']}"/>
	               </f:facet>
	               <h:panelGroup rendered="#{v.isSettled==0}">
		               <h:commandButton rendered="#{v.canSettle}" type="button" value="settle" onclick="window.name='onetouchMain'; var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/trader/traderToolActionSettle.jsf?action=settleOneTouch&amp;oppId=#{v.id}&amp;decimalPoint=#{v.market.decimalPoint - v.market.decimalPointSubtractDigits}&amp;marketName=#{v.encodingMarketName}&amp;oppType=#{v.oneTouchUpDown}','actionWindow','width=400,height=220');if (window.focus) {popupWin.focus();};"/>
		               <h:commandButton rendered="#{!v.canSettle}" disabled="true" type="button" value="settle" onclick="window.name='onetouchMain'; var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/trader/traderToolActionSettle.jsf?action=settleOneTouch&amp;oppId=#{v.id}&amp;decimalPoint=#{v.market.decimalPoint - v.market.decimalPointSubtractDigits}&amp;marketName=#{v.encodingMarketName}&amp;oppType=#{v.oneTouchUpDown}','actionWindow','width=400,height=220');if (window.focus) {popupWin.focus();};"/>
	               </h:panelGroup>
				   <h:commandButton rendered="#{v.isSettled==1 &amp;&amp; user.hasSTraderRole}" type="button" value="re-settle" onclick="window.name='onetouchMain'; var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/trader/traderToolActionSettle.jsf?action=reSettleOneTouch&amp;oppId=#{v.id}&amp;decimalPoint=#{v.market.decimalPoint - v.market.decimalPointSubtractDigits}&amp;marketName=#{v.encodingMarketName}&amp;oppType=#{v.oneTouchUpDown}','actionWindow','width=400,height=220');if (window.focus) {popupWin.focus();};"/>
	           </t:column>

	           <t:column >
	               <f:facet name="header">
		               <t:outputText value="#{msgs['tradertool.suspend']}"/>
	               </f:facet>
	               <h:panelGroup rendered="#{!v.market.suspended}">
		    	   		<INPUT type="button" value="suspend" onClick="window.name='notPublishedMain'; var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/trader/traderToolActionSuspendOneTouch.jsf?action=suspend&amp;oppId=#{v.id}&amp;suspendMsg=#{v.market.suspendedMessage}&amp;spread=#{v.shiftParameterMultiplyBy100}&amp;feedName=#{v.encodingFeedName}&amp;marketName=#{v.encodingMarketName}','actionWindow','width=400,height=240');if (window.focus) {popupWin.focus();};"/>
		    	   </h:panelGroup>
		    	   <h:panelGroup rendered="#{v.market.suspended}">
   	               		<INPUT type="button" value="resume" onClick="window.name='notPublishedMain'; var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/trader/traderToolActionSuspendOneTouch.jsf?action=resume&amp;oppId=#{v.id}&amp;suspendMsg=#{v.market.suspendedMessage}&amp;spread=#{v.shiftParameterMultiplyBy100}&amp;feedName=#{v.encodingFeedName}&amp;marketName=#{v.encodingMarketName}','actionWindow','width=400,height=240');if (window.focus) {popupWin.focus();};"/>
   	               </h:panelGroup>
	           </t:column>

	        </t:dataTable>

				<t:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    rendered="#{traderToolOneTouchFrm.listSize>user.rowsByMenu}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            </t:dataScroller>

	        </t:panelGrid>

		</t:panelGrid>

        </h:form>

    </t:panelGroup>

</ui:define>
</ui:composition>

</html>