<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

#{user.goTrader}

    <t:panelGroup>

		<h:form id="usersMarketDisableForm">

  		  	<t:saveState id="usersmarketSave" value="#{usersMarketDisableForm}" />
          	<t:panelGrid border="0" columns="1" width="100%">

			<t:panelGrid border="0" columns="15">

				<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
				<h:panelGrid columns="3">
					<h:inputText styleClass="input_text" id="from" required="true" value="#{usersMarketDisableForm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
				    <A HREF="#" onClick="cal.select(document.forms['usersMarketDisableForm'].elements['usersMarketDisableForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
		        <h:panelGrid columns="3">
					<h:inputText styleClass="input_text" id="to" required="true" value="#{usersMarketDisableForm.to}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['usersMarketDisableForm'].elements['usersMarketDisableForm:to'],'anchor2','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
				    <A HREF="#" onClick="cal.select(document.forms['usersMarketDisableForm'].elements['usersMarketDisableForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
			       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel for="userId" value="#{msgs['users.market.disable.user']}" />
            	<t:selectOneMenu id="userId" value="#{usersMarketDisableForm.userId}"  >
    	       		<f:selectItems value="#{writer.riskyUsersAllSI}" />
	   	        </t:selectOneMenu>

				<h:panelGrid border="0" width="5px"/>

				<t:outputLabel for="activeId" value="#{msgs['users.market.disable.active']}" />
            	<t:selectOneMenu id="activeId" value="#{usersMarketDisableForm.active}"  >
    	       		<f:selectItems value="#{writer.isActiveAllSI}" />
	   	        </t:selectOneMenu>

				<h:panelGrid border="0" width="5px"/>

				<t:outputLabel for="marketId" value="#{msgs['users.market.disable.user.market']}" />
            	<t:selectOneMenu id="marketId" value="#{usersMarketDisableForm.marketId}"  >
    	       		<f:selectItems value="#{writer.getActiveMarketsAndGroupsWithOneTouchAndLongTermSI(true)}" />
	   	        </t:selectOneMenu>

	   	        <h:panelGrid border="0" width="5px"/>

				<t:outputLabel for="skinId" value="#{msgs['users.market.disable.skin']}" />
            	<t:selectOneMenu id="skinId" value="#{usersMarketDisableForm.skinId}"  >
    	       		<f:selectItems value="#{writer.skinsAndEmptySI}" />
	   	        </t:selectOneMenu>
			</t:panelGrid>

			<t:panelGrid border="0" columns="4">

				<t:outputLabel for="dev3Id" value="#{msgs['users.market.disable.isDev3']}" />
            	<t:selectOneMenu id="dev3Id" value="#{usersMarketDisableForm.isDev3}"  >
    	       		<f:selectItems value="#{writer.isActiveAllSI}" />
	   	        </t:selectOneMenu>

				<h:panelGrid border="0" width="5px"/>

				<t:commandLink action="#{usersMarketDisableForm.search}">
			     	<h:outputText value="#{msgs['button.search']}" />
		  	  	</t:commandLink>

			</t:panelGrid>

	  		<t:outputText styleClass="general_message" rendered="#{usersMarketDisableForm.listSize==0}"
	  		   				value="#{msgs['users.market.disable.emptylist']}"/>


		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_SortHeader"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{usersMarketDisableForm.list}"
	           >

			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['users.market.disable.id']}"/>
               </f:facet>
               <t:commandLink action="#{usersMarketDisableForm.navEdit}" immediate="true">
               		<h:outputText rendered="#{v.active}" value="#{v.id}" styleClass="table_row_bold_red" />
               		<h:outputText rendered="#{!v.active}" value="#{v.id}" />
                    <f:setPropertyActionListener target="#{usersMarketDisableForm.userMarketDisable}" value="#{v}" />
			   </t:commandLink>
			</h:column>

			<t:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['users.market.disable.user']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.userName}" rendered="#{!v.active and v.apiExternalUserId == 0}" />
               <t:outputText escape="false" value="#{v.userName}" rendered="#{v.active and v.apiExternalUserId == 0}" styleClass="table_row_bold_red" />
               <t:outputText escape="false" value="#{v.apiExternalUserReference}(#{v.userName})" rendered="#{!v.active and v.apiExternalUserId > 0}" />
               <t:outputText escape="false" value="#{v.apiExternalUserReference}(#{v.userName})" rendered="#{v.active and v.apiExternalUserId > 0}" styleClass="table_row_bold_red" />
			</t:column>

			<t:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['users.market.disable.start']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.startDateTxt}" rendered="#{!v.active}" />
               <t:outputText escape="false" value="#{v.startDateTxt}" rendered="#{v.active}" styleClass="table_row_bold_red" />
			</t:column>

			<t:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['users.market.disable.end']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.endDateTxt}" rendered="#{!v.active}" />
               <t:outputText escape="false" value="#{v.endDateTxt}" rendered="#{v.active}" styleClass="table_row_bold_red" />
			</t:column>

		   <t:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['users.market.disable.market']}"/>
               </f:facet>
               <h:outputText value="#{v.marketName}" />
           </t:column>

			<t:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['users.market.disable.scheduled']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.scheduledTxt}" rendered="#{!v.active}" />
               <t:outputText escape="false" value="#{v.scheduledTxt}" rendered="#{v.active}" styleClass="table_row_bold_red" />
			</t:column>

			<t:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['users.market.disable.active']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.activeTxt}"  rendered="#{!v.active}" />
               <t:outputText escape="false" value="#{v.activeTxt}" rendered="#{v.active}" styleClass="table_row_bold_red" />
			</t:column>

			<t:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['users.market.disable.isDev3']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.dev3Txt}"  rendered="#{!v.dev3}" />
               <t:outputText escape="false" value="#{v.dev3Txt}" rendered="#{v.dev3}" styleClass="table_row_bold_red" />
			</t:column>

			<t:column>
               <f:facet name="header">
               		<t:commandLink action="#{usersMarketDisableForm.sortList}" >
	               		<t:outputText value="#{msgs['users.market.disable.winLose']}"/>
	               		<f:setPropertyActionListener target="#{usersMarketDisableForm.sortColumn}" value="winlose" />
					</t:commandLink>
               </f:facet>
               <t:outputText escape="false" value="#{v.winLoseWithCurrency}"  rendered="#{!v.winLosePositive}"  styleClass="user_strip_value_red" />
               <t:outputText escape="false" value="#{v.winLoseWithCurrency}" rendered="#{v.winLosePositive}" styleClass="user_strip_value_darkgreen" />
			</t:column>

			<t:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['users.market.disable.skin']}"/>
               </f:facet>
               <h:outputText value="#{v.skinName}" />
			</t:column>

	        </t:dataTable>

			<t:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    rendered="#{usersMarketDisableForm.listSize>10}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            </t:dataScroller>

	        </t:panelGrid>

	       	<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >

	        	<t:commandLink action="#{usersMarketDisableForm.navNew}">
	            	    <h:outputText value="#{msgs['users.market.disable.add']}" />
				</t:commandLink>

 		  </h:panelGrid>

		</t:panelGrid>

        </h:form>

    </t:panelGroup>

</ui:define>
</ui:composition>

</html>