<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

    <h:panelGroup>

        <h:form id="usersMarketDisableForm">

			<t:saveState id="usersMarketDisableFormSave" value="#{usersMarketDisableForm.userMarketDisable}" />
			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{usersMarketDisableForm.userMarketDisable.id>0}" value="#{msgs['users.market.disable.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{usersMarketDisableForm.userMarketDisable.id>0}" value="#{usersMarketDisableForm.userMarketDisable.id}"></h:outputText>

				<t:outputLabel  for="users" value="#{msgs['users.market.disable.user']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu required="true" id="users" value="#{usersMarketDisableForm.userMarketDisable.userIdAndApiExternalUserId}" >
			            <f:selectItem itemLabel="" itemValue="" />
			        	<f:selectItems value="#{writer.riskyUsersSI}" />
			        </t:selectOneMenu>
                    <t:message id="usersError" for="users" replaceIdWithLabel="true" styleClass="error"/>
			    </h:panelGrid>

            	<h:outputLabel for="marketId" value="#{msgs['users.market.disable.user.market']}"/>
            	<h:panelGrid border="0" columns="2">
	              <h:selectOneMenu id="marketId" required="true" value="#{usersMarketDisableForm.userMarketDisable.marketId}" >
	   				<f:selectItems value="#{writer.marketsAllSI}" />
		          </h:selectOneMenu>
                  <t:message id="marketIdError" for="marketId" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

            	<h:outputLabel for="starttime" value="#{msgs['users.market.disable.start']}"/>
            	<h:panelGrid border="0" columns="6">

				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="starttime" value="#{usersMarketDisableForm.userMarketDisable.startDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['usersMarketDisableForm'].elements['usersMarketDisableForm:starttime'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['usersMarketDisableForm'].elements['usersMarketDisableForm:starttime'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="starttimeError" for="starttime" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

                  <h:selectOneMenu id="startimeHour" required="true" value="#{usersMarketDisableForm.userMarketDisable.startDateHour}"  >
	   				<f:selectItems value="#{applicationData.hours}" />
		          </h:selectOneMenu>

    			  <h:outputText value=":"/>

    			  <h:selectOneMenu id="starttimeMin" required="true" value="#{usersMarketDisableForm.userMarketDisable.startDateMin}"  >
	   				<f:selectItems value="#{applicationData.minutes}" />
		          </h:selectOneMenu>

                  <t:message id="starttimeMinError" for="starttimeMin" detailFormat="#{msgs['opportunities.templates.minutes']}" replaceIdWithLabel="true" styleClass="error"/>
                  <t:message id="startimeHourError" for="startimeHour" detailFormat="#{msgs['opportunities.templates.hours']}" replaceIdWithLabel="true" styleClass="error"/>

            	</h:panelGrid>

				<t:outputLabel rendered="false" for="period" value="#{msgs['users.market.disable.period']}"/>
                <h:panelGrid rendered="false" columns="2" >
                  <t:inputText id="period" dir="ltr" size="5" maxlength="5" value="#{usersMarketDisableForm.userMarketDisable.period}" required="true" disabled="true">
 					<f:validateDoubleRange minimum="1"  />
                   </t:inputText>
			       <t:message id="periodError" for="period" styleClass="error"/>
            	</h:panelGrid>

		        <h:outputLabel for="scheduled" value="#{msgs['users.market.disable.scheduled']}"/>
            	<h:panelGrid border="0" columns="2">
	              <h:selectOneMenu id="scheduled" required="true" value="#{usersMarketDisableForm.userMarketDisable.scheduled}"  >
	   				<f:selectItems value="#{writer.scheduledListAllSI}" />
		          </h:selectOneMenu>
                  <t:message id="scheduledError" for="scheduled" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

				<t:outputText value="#{msgs['users.market.disable.active']}"/>
    	        <t:selectBooleanCheckbox readonly="false" value="#{usersMarketDisableForm.userMarketDisable.activeTemp}" />

    	        <t:outputText value="#{msgs['users.market.disable.isDev3']}"/>
    	        <t:selectBooleanCheckbox readonly="false" value="#{usersMarketDisableForm.userMarketDisable.dev3Temp}" />

            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

	            <t:commandLink action="#{usersMarketDisableForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>
			 </h:panelGrid>

			 </h:panelGrid>

        </h:form>

    </h:panelGroup>



</ui:define>
</ui:composition>

</html>