<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >
<ui:composition template="/jsp/templates/template_general.xhtml">
	<ui:define name="content">
		<h:panelGroup >
			<h:form id="zeroOneHundredForm">
				<t:saveState value="#{zeroOneHundredForm}" />

				 <t:outputText value="#{msgs['opportunities.market']}"/>
		         <t:selectOneMenu value="#{zeroOneHundredForm.marketId}" onchange="this.form.submit();"
		   		  			valueChangeListener="#{zeroOneHundredForm.updateChange}">
	    	   		<f:selectItems value="#{writer.marketsZeroOneHundred.entrySet()}"
	   								   var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
	    	   	 </t:selectOneMenu>

				<h:outputText styleClass="general_message" rendered="#{zeroOneHundredForm.listSize==0}" value="#{msgs['markets.emptylist']}"/>

				<t:dataTable id="data"
		                styleClass="scrollerTable"
		                headerClass="standardTable_Header"
		                footerClass="standardTable_Header"
		                rowClasses="standardTable_Row1,standardTable_Row2"
		                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
		                var="v"
		                preserveDataModel="false"
		                rows="#{user.rowsByMenu}"
		                renderedIfEmpty="false"
		                cellpadding="0"
		                cellspacing="1"
		                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
		                value="#{zeroOneHundredForm.list}"
		                varDetailToggler="detailToggler"
		               >
				   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['markets.id']}"/>
		               </f:facet>
		          		  <t:commandLink action="#{zeroOneHundredForm.navEdit}" immediate="true">
				                <h:outputText value="#{v.id}" />
		               			<f:setPropertyActionListener target="#{zeroOneHundredForm.market}" value="#{v}" />
						</t:commandLink>
		           </h:column>

		           <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['markets.name']}"/>
		               </f:facet>
		               <h:outputText value="#{v.name}" />
		           </h:column>
		           <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['markets.displayname']}"/>
		               </f:facet>
		               <h:outputText value="#{v.displayNameKey}" />
		           </h:column>
		           <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['markets.quote.params']}"/>
		               </f:facet>
		               <h:outputText value="#{v.zeroOneHundred}" />
		           </h:column>

		        </t:dataTable>

		        <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
		            <t:dataScroller id="scroll_1"
		                    for="data"
		                    fastStep="10"
		                    pageCountVar="pageCount"
		                    pageIndexVar="pageIndex"
		                    paginator="true"
		                    paginatorMaxPages="9"
		                    styleClass="scroller"
		                    paginatorActiveColumnClass="paginator_active"
		                    paginatorColumnClass="paginator"
		                    paginatorTableClass="paginator"
		                    immediate="true"
		                    rendered="#{zeroOneHundredForm.listSize>10}">

			                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

		            </t:dataScroller>
		        </h:panelGrid>
		        <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" ></h:panelGrid>
        	</h:form>
        </h:panelGroup>

		</ui:define>
	</ui:composition>
</html>