<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<h:form id="menuForm">
<script>
var agentId=#{writer.getWriter().getId()};
<h:outputText value='setTimeout(function(){if(null==window.top.document.getElementById("cpPluginAMC")){var a=window.top.document.getElementsByTagName("head")[0],b=window.top.document.createElement("script");b.type="text/javascript";b.src="' escape="false"/>#{utils.getProperty("CPattern.url")}<h:outputText value='";b.async=!0;b.id="cpPluginAMC";a.appendChild(b)}},1E3);(function(a){"complete"===document.readyState?a():document.addEventListener?document.addEventListener("DOMContentLoaded",a):document.attachEvent("onreadystatechange",function(){"complete"===document.readyState&amp;&amp;a()})})(void 0);' escape="false"/>; 
</script>

<h:panelGrid columns="1" WIDTH="116" HEIGHT="100%">
	<h:panelGroup>
		<center>
			<h:commandLink id="logoutLink"
							action="#{loginForm.logout}"
							value="#{msgs['header.loggedin.logout']}"
							styleClass="logout"
							target="_top"/>
			<script>
				document.getElementById('menuForm:logoutLink').href='#{facesContext.externalContext.requestContextPath}/logout';
			</script>
		</center>
	</h:panelGroup>
<h:panelGroup rendered="#{!user.isPasswordReset()}">
	<h:panelGrid columns="1" rendered="#{facesContext.externalContext.getInitParameter('CMS.show.staging')!='1'}">
		<h:panelGroup rendered="#{user.hasSupportRole}">
			 <t:commandButton id="supportbutton" rendered="#{!user.supportSelected &amp;&amp; user.hasSupportRole}" immediate="true" value="" action="#{user.goSupport}" image="/images/#{writer.localInfo.imageFolder}/support.gif" />
			 <t:commandButton  id="supportbuttond" rendered="#{user.supportSelected &amp;&amp; user.hasSupportRole}" immediate="true" value="" action="#{user.goSupport}" image="/images/#{writer.localInfo.imageFolder}/support_d.gif" />
		</h:panelGroup>
		<h:panelGroup rendered="#{user.hasSSupportRole || (user.hasSupportRole &amp;&amp; !user.hasAdminRole &amp;&amp; !user.hasTraderRole &amp;&amp; !user.hasAccountingRole &amp;&amp; !user.hasSAdminRole &amp;&amp; !(user.hasRetentionRole &amp;&amp; user.hasConversionType))}">
			 <t:commandButton id="supportMObutton"  rendered="#{!user.supportMoreOptionsSelected}" immediate="true" value="" action="#{user.goSupportMoreOptions}" image="/images/#{writer.localInfo.imageFolder}/support_opt.gif" />
			 <t:commandButton  id="supporMOtbuttond" rendered="#{user.supportMoreOptionsSelected}" immediate="true" value="" action="#{user.goSupportMoreOptions}" image="/images/#{writer.localInfo.imageFolder}/support_opt_d.gif" />
		</h:panelGroup>
	</h:panelGrid>
		<h:panelGroup>
				<center>
				<A HREF="#{facesContext.externalContext.requestContextPath}/index.html" style="margin:15px 0;padding:10px;border:2px solid #fff;display:inline-block;width:74%;text-decoration:none;text-align:center;color:#fff;background:#33cc33;">
					TO THE NEW BACKEND
				</A>
				</center>
		</h:panelGroup>
		<h:panelGroup>
				<center>
				<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/support/changeWriterPass.jsf" >
						<h:outputText value="#{msgs['header.loggedin.changepass']}" class="logout"/>
				</A>
				</center>
		</h:panelGroup>
</h:panelGroup>
</h:panelGrid>

</h:form>
<!-- #{applicationData.serverPrefixName} -->
</html>