<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view dir="rtl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

	 <f:facet name="first" >
	 	<t:graphicImage url="#{writer.localInfo.dir=='ltr' ? '/images/arrow-last.gif' : '/images/arrow-first.gif'}" style="border: none"/>
     </f:facet>

    <f:facet name="fastrewind">
    	<t:graphicImage url="#{writer.localInfo.dir=='ltr' ? '/images/arrow-ff.gif' : '/images/arrow-fr.gif'}" style="border: none"/>
    </f:facet>

     <f:facet name="next">
        <t:graphicImage url="#{writer.localInfo.dir=='ltr' ? '/images/arrow-previous.gif' : '/images/arrow-next.gif'}" style="border: none" />
    </f:facet>
    <f:facet name="previous">
        <t:graphicImage url="#{writer.localInfo.dir=='ltr' ? '/images/arrow-next.gif' : '/images/arrow-previous.gif'}" style="border: none"/>
    </f:facet>

    <f:facet name="fastforward">
        <t:graphicImage url="#{writer.localInfo.dir=='ltr' ? '/images/arrow-fr.gif' : '/images/arrow-ff.gif'}" style="border: none"/>
    </f:facet>

    <f:facet name="last">
		<t:graphicImage url="#{writer.localInfo.dir=='ltr' ? '/images/arrow-first.gif' : '/images/arrow-last.gif'}" style="border: none" />
    </f:facet>

</f:view>