<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:p="http://primefaces.org/ui"
      locale="#{writer.localInfo.locale}"
      userLocale="#{writer.localInfo.locale}">


<HTML dir="#{writer.localInfo.dir}">
<h:head>
	<title></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/depositsTV.css" />
	<ui:insert name="head" />
</h:head>
<h:body bgcolor="#e1e1e1">
<!-- Begin Table -->
<TABLE bgcolor="#e1e1e1" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="100%">
	<TR>
		<TD WIDTH="100%" HEIGHT="50">
			<!-- Begin header -->
			<TABLE bgcolor="#e1e1e1" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="50" class="">
				<TR>
					<TD WIDTH="290px" HEIGHT="103" align="left" class="header_tv_ao">
						<img src="#{facesContext.externalContext.requestContextPath}/images/anyoptionLogo.gif" border="0" />
					</TD>
					<TD WIDTH="*" HEIGHT="103" align="center" class="header_tv_ao">&#160;</TD>
					<TD WIDTH="211px" HEIGHT="103" align="center" class="header_tv_ao_to_et">
						<table cellpadding="0" cellspacing="0" align="center"><tr><td><script src="#{facesContext.externalContext.requestContextPath}/jsp/clockTV.jsp"></script></td></tr></table>
					</TD>
					<TD WIDTH="*" HEIGHT="103" align="center" class="header_tv_et">&#160;</TD>
					<td width="290px" height="103" valign="middle" align="right" class="header_tv_et">
						<img src="#{facesContext.externalContext.requestContextPath}/images/etrader.gif" style="margin-right:4px;" border="0" />
					</td>
				</TR>
				<tr align="center" height="12px" class="header_tv_ao">
					<td align="center" colspan="5">
						<h:form id="menuForm">
							<h:commandLink id="logoutLink"
								action="#{loginForm.logout}"
								value="#{msgs['header.loggedin.logout']}"
								styleClass="logout"
								target="_top"/>
							<script>
								document.getElementById('menuForm:logoutLink').href='#{facesContext.externalContext.requestContextPath}/logout';
							</script>
						</h:form>
					</td>
				</tr>
			</TABLE>
			<!-- End header -->
		</TD>
	</TR>

	<TR>
	<TD WIDTH="100%" HEIGHT="100%">
		<TABLE bgcolor="#e1e1e1" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="100%">
			<TR>
				<TD WIDTH="100%" HEIGHT="100%" VALIGN="top">
					<ui:insert name="content"></ui:insert>
				</TD>
			</TR>
		</TABLE>
	</TD>
	</TR>
</TABLE>
<!-- End Table -->
</h:body>
</HTML>
</f:view>