<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      
      locale="#{writer.localInfo.locale}"
      userLocale="#{writer.localInfo.locale}">


<HTML dir="#{writer.localInfo.dir}">
<HEAD>
	<title></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/style.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/jquery.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/thickbox.js" type="text/javascript"></script>
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<ui:insert name="head" />
	
	<script src="../../js/js_vars.jsf" type="text/javascript"></script>
	
	<script>
	var context_path = "#{facesContext.externalContext.requestContextPath}";
	var tb_pathToImage = context_path + "/images/wait.gif";
	imgLoader = new Image();// preload image
	imgLoader.src = tb_pathToImage;
	//on page load call tb_init
	tb_init('a.thickbox, area.thickbox, input.thickbox');//pass where to apply thickbox
	</script>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/xregexp-all-min.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/jquery.min.js"></script> <!--IE <9 not supported-->
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular.min.js"></script> <!--IE <9 not supported-->
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-ui-router.min.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-sanitize.min.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-animate.min.js"></script>
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-ui-tree.min.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-ui-tree.min.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/checklist-model.js"></script>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-file-upload.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-file-upload-shim.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-recaptcha.js" type="text/javascript"></script>
	
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/js/angular/lib/font-awesome-4.6.3/css/font-awesome.min.css" />
	<!--
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
	-->
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/ui-bootstrap-tpls.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/datetimepicker/datetime-picker.min.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/datetimepicker/datetime-picker.tpls.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/tinymce/tinymce.min.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/tinymce.min.js" type="text/javascript"></script>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/fingerprint.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/lightstreamer.js" type="text/javascript"></script>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/functions.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/permissions.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/_settings.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/_settings2.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/app.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/factories.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/directives.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/filters.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-bubbles.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-content.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-sales-deposits.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-sales.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-users.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-documents.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-trader.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-admin.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-marketing.js" type="text/javascript"></script>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/chargebacks.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/chargebacksAddEdit.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/userCopy.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/traders-actions.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/marketOptionPlusPrices.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/updateTransactions.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/platformPriority.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/fromInbox.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/gbgPreviewer.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/apmWithdrawals.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/academyArticles.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/crypto-transactions.controller.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/user-documents.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/crypto-deposit.controller.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers/crypto-leads.controller.js"></script>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/utils.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/screenSettings.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/chargeback.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/copyop.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/traders-actions.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/marketOptionPlusPrices.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/updateTransactopns.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/screenSettings.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/platformPriority.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/fromInbox.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/gbgPreviewer.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/apmWithdrawals.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/academyArticles.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/crypto-transactions.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/user-documents.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/crypto-deposit.service.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/services/crypto-leads.service.js"></script>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/filters/formatAmount.filter.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/filters/dateNoZero.filter.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/filters/noZero.filter.js"></script>

	<script>
		FileAPI = {debug: true};
	</script>
</HEAD>
<BODY>
<!-- Begin Table -->
<a id="thickBoxLink" class="thickbox" href="../cms/pleaseWait.html"/>
<TABLE bgcolor="#566764" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="100%">
	<TR>
		<TD ROWSPAN="1" COLSPAN="1" WIDTH="100%" HEIGHT="50">
			<!-- Begin header -->
			<TABLE bgcolor="#566764" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="50">
				<TR>
					<TD WIDTH="107" HEIGHT="50">
						 <script src="#{facesContext.externalContext.requestContextPath}/jsp/clock.jsp"></script>
					</TD>
					<TD WIDTH="50%" HEIGHT="50" valign="middle">
						<h5><h:outputLabel style="color:white;" value="Writer offset: #{writer.utcOffset}"/></h5>
					</TD>
					<TD WIDTH="50%" HEIGHT="50" align="right">
						<h5><h:outputLabel style="color:white;" value="#{applicationData.serverPrefixName} "/></h5>
					</TD>
				</TR>
			</TABLE>
			<!-- End header -->
		</TD>
	</TR>

	<TR>
	<TD ROWSPAN="1" COLSPAN="1" WIDTH="100%" HEIGHT="100%">
		<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="100%">
			<TR>
				<TD ROWSPAN="1" COLSPAN="1" WIDTH="116" HEIGHT="100%" VALIGN="top">
					<!-- Begin MENU -->
					<ui:include src="/jsp/templates/right_nav.xhtml" />
					<!-- End MENU-->
				</TD>
				<TD ROWSPAN="1" COLSPAN="1" WIDTH="100%" HEIGHT="100%" VALIGN="top">
					<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="500" VALIGN="top">
						<TR>
							<TD ROWSPAN="1" COLSPAN="1" WIDTH="100%" VALIGN="top">
									<t:messages styleClass="general_message" globalOnly="true"/>
							</TD>
						</TR>
						<TR>
							<TD ROWSPAN="1" COLSPAN="1" WIDTH="100%" HEIGHT="100%" VALIGN="top">
								<ui:insert name="content"></ui:insert>
							</TD>
						</TR>
					</TABLE>
				</TD>
			</TR>
		</TABLE>
		</TD>
	</TR>
</TABLE>
<!-- End Table -->
</BODY>
</HTML>
</f:view>