<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<f:view   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"
	      
 		  locale="#{writer.localInfo.locale}">

	

	<HTML dir="#{writer.localInfo.dir}">
		<HEAD>
			<title></title>
		    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
			<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
			<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar_en.js"></script>
			<ui:insert name="head" />
		</HEAD>
		<BODY class="tabBGColor" onload="" >
		    <SCRIPT LANGUAGE="JavaScript" ID="js1">
				var cal = new CalendarPopup("caldiv1");
				cal.setCssPrefix("Calendar");
			</SCRIPT>

			<script type="text/javascript">
				function setHeight(){
					try {
						var theHeight=document['body'].offsetHeight+100;
						parent.document.getElementById('content').height=theHeight;
					} catch (err) {
						//do nothing
					}
				}
			</script>

			<table border="0" width="100%" height="100%" class="tabBGColor">
			<tr class="tabBGColor">
				<td class="tabBGColor">
				 <iframe class="tabBGColor" name="population_strip" id="population_strip" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/templates/user_strip.jsf?refresh=true" width="100%" height="330px"></iframe>
				</td>
			</tr>
			<tr class="tabBGColor"><td>
					<t:messages styleClass="general_message" globalOnly="true"/>
			</td></tr>
			<tr><td width="100%" height="350">
				<ui:insert name="content"></ui:insert>
			</td></tr>

			</table>
		 <DIV ID="caldiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>

		</BODY>
	</HTML>
</f:view>