<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      
      locale="#{writer.localInfo.locale}">



<HTML dir="#{writer.localInfo.dir}">
<HEAD>
	<title></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar_en.js"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/small_functions.js" />
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/js_vars.jsf" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/jquery.js" type="text/javascript"></script>
	<ui:insert name="head" />
</HEAD>
<BODY class="subtabBGColor" onload="setHeight();">

	<a name="br"><BR/></a>

    <SCRIPT LANGUAGE="JavaScript" ID="js1">
		var cal = new CalendarPopup("caldiv1");
		cal.setCssPrefix("Calendar");

	</SCRIPT>

	<script type="text/javascript">
		function setHeight(){
			var theHeight=document['body'].offsetHeight+100;
			parent.document.getElementById('content').height=theHeight;
		}
	</script>

	<table width="100%" height="100%" >
	<tr><td>
			
	</td></tr>
	<tr><td>

		<ui:insert name="content"></ui:insert>
	</td></tr>
	</table>

 <DIV ID="caldiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>

</BODY>
</HTML>
</f:view>