<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"

	xmlns:c="http://java.sun.com/jsp/jstl/core"

	onload="document.getElementById('userStripForm:userName').focus();"
	locale="#{writer.localInfo.locale}">

<html dir="#{writer.localInfo.dir}">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
</head>

<ui:include src="/jsp/templates/hintUserStrip.xhtml" />

	<script>
		if (window.top==window.self){
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/support/support.jsf";
		}

		function activateSearchUser(e,id) {
			if (e.keyCode==13) {
				document.getElementById('userStripForm:searchByUserName').focus();
			}
			else {
				if(id=="userStripForm:userId") {
					document.getElementById("userStripForm:userName").value = "";
					document.getElementById("userStripForm:emailSearch").value ="";
					document.getElementById("userStripForm:contactId").value ="";
				}
				if(id=="userStripForm:userName") {
					document.getElementById("userStripForm:userId").value = "";
			    document.getElementById("userStripForm:emailSearch").value ="";
			    document.getElementById("userStripForm:contactId").value ="";
				}
				if(id=="userStripForm:contactId"){
					document.getElementById("userStripForm:userName").value = "";
					document.getElementById("userStripForm:emailSearch").value ="";
					document.getElementById("userStripForm:userId").value = "";
				}
				if(id=="userStripForm:emailSearch"){
					document.getElementById("userStripForm:userName").value = "";
					document.getElementById("userStripForm:userId").value = "";
			    document.getElementById("userStripForm:contactId").value ="";
				}
			}
		}

		function copyToClipboard(field) {
			window.clipboardData.setData('Text',field);
		}

		var COMBINATION_HINTS_CFG = {
			'smart'      : true, // don't go off screen, don't overlap the object in the document
			'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
			'gap'        : -7, // minimum allowed distance between the hint and the origin (negative values accepted)
			'align'      : 'brtr', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
			'css'        : 'hintsClassComb', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
			'show_delay' : 0, // a delay between initiating event (mouseover for example) and hint appearing
			'hide_delay' : 500, // a delay between closing event (mouseout for example) and hint disappearing
			'follow'     : false, // hint follows the mouse as it moves
			'z-index'    : 100, // a z-index for all hint layers
			'IEfix'      : true, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
			'IEtrans'    : ['blendTrans(DURATION=.3)'], // [show transition, hide transition] - transition effects, only work in IE5+
			'opacity'    : 90 // opacity of the hint in %%
		};

		var COMBINATION_HINTS_ITEMS = ["#{user.campaignForStrip}<br/>#{user.campaignDesc}<br/>#{user.campaignRemarketing}",'sas'];

		var combinationHint = new THints (COMBINATION_HINTS_ITEMS, COMBINATION_HINTS_CFG);

		var DEVICE_COMBINATION_HINTS_CFG = {
			'smart'      : true, // don't go off screen, don't overlap the object in the document
			'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
			'gap'        : -7, // minimum allowed distance between the hint and the origin (negative values accepted)
			'align'      : 'brtr', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
			'css'        : 'hintsClass', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
			'show_delay' : 0, // a delay between initiating event (mouseover for example) and hint appearing
			'hide_delay' : 500, // a delay between closing event (mouseout for example) and hint disappearing
			'follow'     : false, // hint follows the mouse as it moves
			'z-index'    : 100, // a z-index for all hint layers
			'IEfix'      : true, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
			'IEtrans'    : ['blendTrans(DURATION=.3)'], // [show transition, hide transition] - transition effects, only work in IE5+
			'opacity'    : 90 // opacity of the hint in %%
		};

		var DEVICE_COMBINATION_HINTS_ITEMS = ['#{user.deviceCampaign}',''];

		var deviceCombinationHint = new THints (DEVICE_COMBINATION_HINTS_ITEMS, DEVICE_COMBINATION_HINTS_CFG);

		var DYNAMIC_PARAMETER_CFG = {
			'smart'      : true, // don't go off screen, don't overlap the object in the document
			'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
			'gap'        : -7, // minimum allowed distance between the hint and the origin (negative values accepted)
			'align'      : 'brtr', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
			'css'        : 'hintsClassComb', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
			'show_delay' : 0, // a delay between initiating event (mouseover for example) and hint appearing
			'hide_delay' : 500, // a delay between closing event (mouseout for example) and hint disappearing
			'follow'     : false, // hint follows the mouse as it moves
			'z-index'    : 100, // a z-index for all hint layers
			'IEfix'      : true, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
			'IEtrans'    : ['blendTrans(DURATION=.3)'], // [show transition, hide transition] - transition effects, only work in IE5+
			'opacity'    : 90 // opacity of the hint in %%
		};

		var DYNAMIC_PARAMETER_ITEMS = ["#{populationEntry.dynamicParam}<br/>",''];

		var dynamicParameterHint = new THints (DYNAMIC_PARAMETER_ITEMS, DYNAMIC_PARAMETER_CFG);

		var DYNAMIC_PARAMETER_USER_ITEMS = ["#{user.dynamicParam}<br/>",''];

		var dynamicParameterUserHint = new THints (DYNAMIC_PARAMETER_USER_ITEMS, DYNAMIC_PARAMETER_CFG);
			
		var avgNetDepositHint = new THints (['#{msgs["userstrip.avgNetDepositInfo"]}',''], DEVICE_COMBINATION_HINTS_CFG);
			
		var avgInvHint = new THints (['#{msgs["userstrip.avgInvInfo"]}',''], DEVICE_COMBINATION_HINTS_CFG);
	</script>

	<h:form id="userStripForm">
		<table bgcolor="#566764" border="0" cellpadding="0" cellspacing="0" width="95%" align="center" valign="top" height="160px">
			<tr>
				<td rowspan="1" colspan="1" width="100%" align="center" height="auto">
					<table bgcolor="#566764" border="0" cellpadding="0" cellspacing="0" width="100%" height="auto">
						<tr>
							<td width="100%" height="auto">	
								<table class="user-strip-top-bar" border="0" cellpadding="0" cellspacing="0" width="100%" height="auto">
									<tr>
										<td>
											<h:outputText styleClass="user_strip_header_text" value="#{msgs['register.username']}"/>
										</td>
										<h:panelGroup rendered="#{user.supportSelected || user.partnerSelected}">
											<td >
							                 	<t:inputText styleClass="user_strip_value pretty-input" onkeydown="activateSearchUser(event,id);" dir="ltr" size="20" maxlength="50" id="userName" value="#{user.tmpUserName}"/>
							                </td>
						                </h:panelGroup>
										<td>
											<h:outputText styleClass="user_strip_header_text" value="#{msgs['register.email']}"/>
										</td>
   										<h:panelGroup rendered="#{user.supportSelected || user.partnerSelected}">
											<td >
							                 	<t:inputText styleClass="user_strip_value pretty-input" onkeydown="activateSearchUser(event,id);" dir="ltr" id="emailSearch" value="#{user.tmpEmail}"/>
							                </td>
						                </h:panelGroup>
						                <h:panelGroup rendered="#{!user.supportSelected &amp;&amp; !user.partnerSelected}">
							                <td>
											 	<h:outputText styleClass="user_strip_value" onkeydown="activateSearchUser(event,id);" value="#{user.tmpUserName}"/>
											</td>
						                </h:panelGroup>
						                <td>
											<h:outputText styleClass="user_strip_header_text" value="#{msgs['register.accountid']}"/>
										</td>
										<h:panelGroup rendered="#{user.supportSelected || user.partnerSelected}">
											<td >
							                 	<t:inputText styleClass="user_strip_value pretty-input" onkeydown="activateSearchUser(event,id);" dir="ltr" size="7" maxlength="8" id="userId" value="#{user.tmpUserId}"/>
							                </td>
						                </h:panelGroup>
						                <h:panelGroup rendered="#{!user.supportSelected &amp;&amp; !user.partnerSelected}">
							                <td>
											 	<h:outputText styleClass="user_strip_value" value="#{user.tmpUserId}"/>
											</td>
						                </h:panelGroup>
						                <h:panelGroup rendered="#{!user.supportSelected &amp;&amp; !user.partnerSelected}">
						                <td>
						                	<h:outputText styleClass="user_strip_header_text" value="#{msgs['register.accountid']}"/>
						                </td>
						                </h:panelGroup>
						                 <h:panelGroup rendered="#{user.supportSelected &amp;&amp; user.showContactSearch  || user.partnerSelected &amp;&amp; user.showContactSearch }">
                                            <td>
                                                <h:outputText styleClass="user_strip_header_text" value="#{msgs['user.strip.contactid']}"/>
                                            </td>
                                        </h:panelGroup>
						                <h:panelGroup rendered="#{user.supportSelected &amp;&amp; user.showContactSearch  || user.partnerSelected &amp;&amp; user.showContactSearch }">
                                            <td >
                                                <t:inputText styleClass="user_strip_value" onkeydown="activateSearchUser(event,id);" id="contactId" value="#{user.tmpContactId}"/>
                                            </td>
                                        </h:panelGroup>
						                <h:panelGroup rendered="#{user.supportSelected || user.partnerSelected}">
										<td align="center">
											<h:commandButton id="searchByUserName" value="" action="#{user.loadNewUserFromStrip}"
											 	image="/images/search_enter.gif" onmouseover="myHint.show(0, this)" onmouseout="myHint.hide()" style="cursor:pointer"/>
										</td>
										<td align="center">
											<h:outputLink id="searchmore" rendered="#{!user.partnerSelected}" value="#{facesContext.externalContext.requestContextPath}/jsp/support/searchTab.jsf" target="_parent">
												<h:graphicImage value="/images/search_more.gif" onmouseover="myHint.show(1, this)" onmouseout="myHint.hide()" style="border:none; cursor:pointer"  />
											</h:outputLink>
										</td>
										<td align="center">
											<h:outputLink id="adduser" rendered="#{!user.partnerSelected}" value="#{facesContext.externalContext.requestContextPath}/jsp/support/register.jsf" target="_parent">
													<h:graphicImage value="/images/search_add.gif" onmouseover="myHint.show(2, this)" onmouseout="myHint.hide()" style="border:none; cursor:pointer" />
											</h:outputLink>
										</td>
										<td align="center">
											<h:commandButton id="refresh" rendered="#{!user.partnerSelected}" value="" action="#{user.refreshStrip}"
											 	image="/images/refresh_button.gif" onmouseover="myHint.show(3, this)" onmouseout="myHint.hide()" style="cursor:pointer"/>
										</td>
										</h:panelGroup>
										<h:panelGroup rendered="#{user.haveBonus}" >
										   <td>
											   	<img src="#{facesContext.externalContext.requestContextPath}/images/envelop.gif" alt="Have granted bonus" border="0" width="19px" height="12px"/>
										   </td>
									   	</h:panelGroup>
									   <h:panelGroup rendered="#{writer.isWriterHaveSkin(7)}">
										   <td>
										   		<h:outputLink id="searchExternalUser" rendered="#{!user.partnerSelected}" value="#{facesContext.externalContext.requestContextPath}/jsp/support/externalSupport.jsf" target="_parent">
													<h:graphicImage value="/images/external_support.gif" onmouseover="myHint.show(4, this)" onmouseout="myHint.hide()" style="border:none; cursor:pointer" />
												</h:outputLink>
										   </td>
									   </h:panelGroup>
										<td align="center">
											<h:outputText styleClass="user_strip_header_text" value="#{msgs['register.balance']}"/>
					    	           </td>
					    	           <td align="center">
							    	        <h:outputText dir="ltr" styleClass="user_strip_value"  value="#{user.balanceTxt}"/>            
					    	           </td>
									   <h:panelGroup rendered="#{user.inTier}">
										   <td align="center">
												<h:outputText styleClass="user_strip_header_text" value="#{msgs['register.points']}"/>
						    	           </td>
						    	           <td align="center">
								    	        <h:outputText dir="ltr" styleClass="user_strip_value"  value="#{user.tierUser.points}"/>
						    	           </td>
						    	       </h:panelGroup>

										<td align="center">
											<img NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_search_strip.gif" width="1" height="15" align="middle"  border="0"/>
										</td>

   					    	           <td align="center">
   					    	           		<h:outputText styleClass="user_strip_header_text" value="#{msgs['register.active']}"/>
					    	           </td>
					    	           <td align="center">
							               <h:outputText styleClass="user_strip_value"  value="#{msgs[user.isActiveTxt]}"/>
					    	           </td>

					    	           <td align="center">
				    	           			<img NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_search_strip.gif" width="1" height="15" align="middle"  border="0"/>
					    	           </td>

					    	           <td align="center">
   					    	           		<h:outputText styleClass="user_strip_header_text" value="#{msgs['userstrip.special.care']}"/>
					    	           </td>
					    	           <td align="center">
							               	<h:outputText styleClass="user_strip_value"  value="#{msgs[user.specialCare.isSpecialCareTxt]}" rendered="#{!user.specialCare.specialCare}" />
											<t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/#{user.specialCare.image}" rendered="#{user.specialCare.specialCare}" border="0"/>
					    	           </td>

					    	           <td align="center">
				    	           			<img NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_search_strip.gif" width="1" height="15" align="middle"  border="0"/>
					    	           </td>

					    	           <td align="center">
					    	                   <h:outputText styleClass="user_strip_header_text" value="#{msgs['risk.open.risk.issue']}"/>
					    	           </td>
					    	           <td align="center">
								            <h:outputText styleClass="user_strip_value" rendered="#{user.isOpenIssue}" style="color:red;" value="#{msgs[user.isOpenIssueTxt]}"/>
   								            <h:outputText styleClass="user_strip_value" rendered="#{!user.isOpenIssue}" value="#{msgs[user.isOpenIssueTxt]}"/>
					    	           </td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>

			<tr>
				<td rowspan="1" colspan="1" width="100%"  align="center" >
					<table class="user-strip-info" border="0" cellpadding="0" cellspacing="0" width="100%">
						<h:panelGroup rendered="#{user.loadUserStrip}">
							<tr rendered="#{user.loadUserStrip}">
								<td width="100%">
									<table  class="table-border" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td align="center" valign="top" width="25%">
												<table class="user-strip-info-table" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td align="#{writer.localInfo.align}">
															<h:outputText styleClass="user_strip_text" value="#{msgs['register.firstname']}"/>
														</td>
														<td align="#{writer.localInfo.align}">
												            <h:outputText styleClass="user_strip_value" value="#{user.firstName}"/>
					               						</td>
					               					</tr>

					               					<tr>
														<td align="#{writer.localInfo.align}">
											               <h:outputText styleClass="user_strip_text" value="#{msgs['register.lastname']}"/>
				   										</td>
				   										<td align="#{writer.localInfo.align}">
											               <h:outputText styleClass="user_strip_value" value="#{user.lastName}"/>
														</td>
													</tr>

					               					<tr>
					               						<td align="#{writer.localInfo.align}">
												            <h:outputText styleClass="user_strip_text" value="#{msgs['userstrip.countryname']}"/>
					   									</td>
					   									<td align="#{writer.localInfo.align}">
															<c:set var="countryName" value="#{user.countryName}"/>
												            <h:outputText styleClass="user_strip_value" value="#{msgs[user.countryName]}"/>
														</td>
													</tr>

													<tr>
				               							<td align="#{writer.localInfo.align}">
											            	<h:outputText styleClass="user_strip_text" value="#{msgs['userstrip.languagename']}"/>
				   										</td>
				   										<td align="#{writer.localInfo.align}">
											               <h:outputText styleClass="user_strip_value" value="#{msgs[user.languageName]}"/>
														</td>
													</tr>
												</table>
											</td>

											<td align="center" valign="top">
												<img NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" width="1" height="96" align="middle" border="0"/>
											</td>

											<td align="center" valign="top" width="25%">
												<table class="user-strip-info-table grey" border="0" cellpadding="0" cellspacing="0" width="100%">
					               					<tr>
					               						<td align="#{writer.localInfo.align}" >
												            <h:outputText styleClass="user_strip_text" value="#{msgs['register.email']}"/>
					   									</td>
					   									<td align="#{writer.localInfo.align}" >
												            <h:outputText styleClass="user_strip_value" value="#{user.email}"/>
														</td>
													</tr>

													<tr>
														<td align="#{writer.localInfo.align}">
						                             		<h:outputText styleClass="user_strip_text" value="#{msgs['register.mobilephone']}"/>&#160;&#160;&#160;
						                             		<img style="cursor: pointer;" NAME="line" SRC="		#{facesContext.externalContext.requestContextPath}/images/copy.gif"
													   			onclick="javascript:copyToClipboard('#{user.mobileNumberToCopy}');" title="Copy to clipboard" onmouseout="combinationHint.hide()"
													   			width="20px" height="9px" border="0"/>
														</td>
														<td align="#{writer.localInfo.align}">
										               		<h:outputText styleClass="user_strip_value" style="align:left" value="+#{user.mobilePhonePrefix}-#{user.mobilePhone}"/>
														</td>
													</tr>

													<tr>
														<td align="#{writer.localInfo.align}">
												            <h:outputText styleClass="user_strip_text" value="#{msgs['userStrip.reg.origin']}"/>
					   									</td>
					   									<td align="#{writer.localInfo.align}">
												            <h:outputText styleClass="user_strip_value" value="#{user.regOrig}"/>
														</td>
													</tr>
												</table>
											</td>

											<td align="center" valign="top">
												<img NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" width="1" height="96" align="middle"  border="0"/>
											</td>

											<td align="center" valign="top" width="25%">
												<table class="user-strip-info-table" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td align="#{writer.localInfo.align}">
							                            	<h:outputText styleClass="user_strip_text" value="#{msgs['register.birthdate']}"/>
														</td>
														<td align="#{writer.localInfo.align}">
											            	<h:outputText styleClass="user_strip_value" value="#{user.timeBirthDateTxt}"/>
														</td>
													</tr>
													<tr>
														<td align="#{writer.localInfo.align}" >
															<h:outputText styleClass="user_strip_text" value="#{msgs['register.gender']}"/>
														</td>
														<td align="#{writer.localInfo.align}" >
										               		<h:outputText styleClass="user_strip_value" rendered="#{user.id != 0}" value="#{msgs[user.genderTxt]}"/>
										               		<h:outputText styleClass="user_strip_value" rendered="#{user.id == 0}" value=""/>
			               								</td>
			               							</tr>
												</table>
											</td>

											<td align="center" valign="top">
												<img NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" width="1" height="96" align="middle"  border="0"/>
											</td>

											<td align="center" valign="top" width="25%">
												<table class="user-strip-info-table grey" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td align="#{writer.localInfo.align}">
										              		<h:outputText styleClass="user_strip_text" value="#{msgs['register.registerdate']}"/>
														</td>
														<td align="#{writer.localInfo.align}">
										     				<h:outputText styleClass="user_strip_value" rendered="#{user.supportSelected}"
															value="#{user.timeCreatedWithWritterOffset}"/>
															<h:outputText styleClass="user_strip_value" rendered="#{!user.supportSelected}"
															value="#{user.timeCreatedWithWritterOffset}"/>
														</td>
													</tr>

													<tr>
														<td align="#{writer.localInfo.align}">
										               		<h:outputText styleClass="user_strip_text" value="#{msgs['register.lastlogin']}"/>
														</td>
														<td align="#{writer.localInfo.align}">
										     				<h:outputText styleClass="user_strip_value" rendered="#{user.supportSelected}"
															value="#{user.timeLastLoginWithWritterOffset}"/>
															<h:outputText styleClass="user_strip_value" rendered="#{!user.supportSelected}"
															value="#{user.timeLastLoginWithWritterOffset}"/>
														</td>
													</tr>

													<tr>
														<td align="#{writer.localInfo.align}">
															<h:outputText styleClass="user_strip_text" value="#{msgs['userstrip.falseaccount']}"/>
														</td>
														<td align="#{writer.localInfo.align}">
										            		<h:outputText styleClass="user_strip_value" rendered="#{user.id != 0}" value="#{user.falseAccountTxt}"/>
										             		<h:outputText styleClass="user_strip_value" rendered="#{user.id == 0}" value=""/>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>

							<tr rendered="#{user.loadUserStrip}">
								<td width="100%" >
									<table  border="0" cellpadding="0" cellspacing="0" width="100%" >
										<tr>
											<td align="center" valign="top" width="25%">
												<table class="user-strip-info-table" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td align="#{writer.localInfo.align}">
													  		<h:outputText styleClass="user_strip_text" value="#{msgs['register.totaldeposits']}"/>
														</td>
														<td align="#{writer.localInfo.align}">
										              		<h:outputText styleClass="user_strip_value" rendered="#{user.id != 0}" value="#{user.depositsTxt}"/>
										              		<h:outputText styleClass="user_strip_value" rendered="#{user.id == 0}" value=""/>
			               								</td>
			               							</tr>

			               							<tr>
			               								<td align="#{writer.localInfo.align}">
													  		<h:outputText styleClass="user_strip_text" value="#{msgs['register.numdeposits']}"/>
														</td>
														<td align="#{writer.localInfo.align}">
										              		<h:outputText styleClass="user_strip_value" value="#{user.numOfDeposits}"/>
			               								</td>
			               							</tr>

			               							<tr>
														<td align="#{writer.localInfo.align}">
												        	<h:outputText styleClass="user_strip_text" value="#{msgs['userstrip.time.difference']}"/>
					   									</td>
					   									<td align="#{writer.localInfo.align}">
													        <h:outputText styleClass="user_strip_value" rendered="#{user.id != 0}" value="#{utils.utcDifference}" escape="false"/>
													        <h:outputText styleClass="user_strip_value" rendered="#{user.id == 0}" value="" />
														</td>
													</tr>

													<tr>
														<td align="#{writer.localInfo.align}">
															<h:outputText styleClass="user_strip_text" value="#{msgs['userstrip.max.deposit.amount']}" />
														</td>
														<td align="#{writer.localInfo.align}">
															<h:outputText styleClass="user_strip_value"
																value="#{user.maxDepositAmount}" />
														</td>
													</tr>

													<tr>
														<td align="#{writer.localInfo.align}">
															<h:outputText styleClass="user_strip_text"
																value="#{msgs['userstrip.max.deposit.date']}" />
														</td>
														<td align="#{writer.localInfo.align}">
															<h:outputText styleClass="user_strip_value"
																value="#{user.maxDepositDate}" />
														</td>
													</tr>
												</table>
											</td>

											<td align="center" valign="top">
												<img NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" width="1" height="120px" align="middle"  border="0"/>
											</td>

											<td align="center" valign="top" width="25%">
												<table class="user-strip-info-table grey" border="0" cellpadding="0" cellspacing="0" width="100%">
													<h:panelGroup rendered="#{user.skin.isRegulated()}">
														<tr>
															<td align="#{writer.localInfo.align}">
																<h:outputText styleClass="user_strip_text" value="#{msgs['userstrip.regulation.step']}"/>
															</td>
															<td align="#{writer.localInfo.align}">
													            <h:outputText styleClass="user_strip_value" value="#{user.userRegulation.regulationStepTxt}"/>
						               						</td>
						               					</tr>
													</h:panelGroup>				               					
						               		
													<tr>
														<td align="#{writer.localInfo.align}" >
															<h:outputText styleClass="user_strip_text" value="#{msgs['userstrip.regulationl.suspension.reason']}"/>
														</td>
														<td align="#{writer.localInfo.align}">
													     	<h:outputText styleClass="user_strip_value" escape="false" value="#{user.suspendedReasonTxt}"/>
						               					</td>
													</tr>

													<h:panelGroup rendered="#{user.userRegulation.suspendedReasonId != 0}">
														<tr>
															<td align="#{writer.localInfo.align}">
																<h:outputText styleClass="user_strip_text" value="#{msgs['userstrip.regulation.time.suspended']}"/>
															</td>
															<td align="#{writer.localInfo.align}">
														    	<h:outputText styleClass="user_strip_value" value="#{user.timeSuspendedTxt}"/>
							               					</td>
														</tr>
													</h:panelGroup>

													<tr>
														<td align="#{writer.localInfo.align}" >
															<h:outputText styleClass="user_strip_text" value="#{msgs['userStrip.min.deposit']}"/>
														</td>
														<td align="#{writer.localInfo.align}" >
													    	<h:outputText styleClass="user_strip_value" value="#{user.limitTxt}" />
						               					</td>
													</tr>
												</table>
											</td>

											<td align="center" valign="top">
												<img NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" width="1" height="120px" align="middle"  border="0"/>
											</td>

											<td align="center" valign="top" width="25%">
												<h:panelGroup rendered="#{!(user.retentionMSelected || user.retentionSelected)}">
													<table class="user-strip-info-table" border="0" cellpadding="0" cellspacing="0" width="100%">
														<h:panelGroup rendered="#{user.skin.id != 25 and user.skin.id != 26}">
								               				<tr>
																<td align="#{writer.localInfo.align}" >
																	<h:outputText styleClass="user_strip_text" value="#{msgs['userstrip.regulation.is.regulated']}"/>
																</td>
																<td align="#{writer.localInfo.align}" >
															        <h:outputText styleClass="user_strip_value" value="#{msgs[user.isRegulatedStateTxt]}"/>
								               					</td>
															</tr>
														</h:panelGroup>
														<h:panelGroup rendered="#{user.skin.isRegulated()}">
															<tr>
																<td align="#{writer.localInfo.align}" class="user_strip_background_blue">
																	<h:outputText styleClass="user_strip_text" value="#{msgs['userstrip.doc.status']}"/>
																</td>
																<td align="#{writer.localInfo.align}" class="user_strip_background_blue">
															        <h:outputText styleClass="user_strip_value" value="#{msgs[user.docStatus]}"/>
															    </td>
															</tr>
														</h:panelGroup>
													</table>
												</h:panelGroup>
											</td>

											<td align="center" valign="top">
												<img NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" width="1" height="120px" align="middle"  border="0"/>
											</td>

											<td align="center" valign="top" width="25%">
												<table class="user-strip-info-table grey" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td align="#{writer.localInfo.align}">
									              			<h:outputText styleClass="user_strip_text" value="#{msgs['register.totalwithdrawals']}"/>
		   												</td>
		   												<td align="#{writer.localInfo.align}">
										            		<h:outputText styleClass="user_strip_value" rendered="#{user.id != 0}" value="#{user.withdrawalsTxt}"/>
										            		<h:outputText styleClass="user_strip_value" rendered="#{user.id == 0}" value=""/>
														</td>
													</tr>

													<tr>
														<td align="#{writer.localInfo.align}" >
									              			<h:outputText styleClass="user_strip_text" value="#{msgs['register.numwithdraws']}"/>
		   												</td>
		   												<td align="#{writer.localInfo.align}" >
										            		<h:outputText styleClass="user_strip_value" value="#{user.numOfWithdraws}"/>
														</td>
													</tr>

													<tr>
														<td align="#{writer.localInfo.align}">
												  			<h:outputText styleClass="user_strip_text" value="#{msgs['transinvestments.avgwithdraw']}"/>
														</td>
														<td align="#{writer.localInfo.align}">
									              			<h:outputText styleClass="user_strip_value" value="#{user.avgWithdraw}"/>
		               									</td>
		               								</tr>

													<tr>
														<td align="#{writer.localInfo.align}" >
					                             			<h:outputText styleClass="user_strip_text" value="#{msgs['register.pendingwithdrawals']}"/>
														</td>
														<td align="#{writer.localInfo.align}" >
									              			<h:outputText styleClass="user_strip_value" rendered="#{user.id != 0}" value="	#{user.pendingWithdrawalsTxt}"/>
									              			<h:outputText styleClass="user_strip_value" rendered="#{user.id == 0}" value=""/>
														</td>
													</tr>

													<tr>
														<td align="#{writer.localInfo.align}">
					                             			<h:outputText styleClass="user_strip_text" value="#{msgs['register.totalfees']}"/>
														</td>
														<td align="#{writer.localInfo.align}">
									              			<h:outputText styleClass="user_strip_value" value="#{user.totalFees}"/>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>

							<!-- <tr rendered="#{user.loadUserStrip}">
								<td width="100%" height="35px">
									<table  border="0" cellpadding="0" cellspacing="3" width="100%" height="35px">
										<tr>
											<td align="center" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" width="210px"></table>
											</td>

											<td align="center" valign="top">
												<img NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" width="1" height="45" align="middle"  border="0"/>
											</td>

											<td align="center" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" width="210px">
													
												</table>
											</td>

											<td align="center" valign="top">
												<img name="line" src="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" width="1" height="45" align="middle" border="0"/>
											</td>


											<td align="center" valign="top">
												<img name="line" src="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" width="1" height="45" align="middle"  border="0"/>
											</td>

											
										</tr>
									</table>
								</td>
							</tr> -->
						</h:panelGroup>

						<!-- contacts -->
						<h:panelGroup rendered="#{!user.loadUserStrip}">
			                <tr>
			                	<td width="20%">
			                		<table  border="0" cellpadding="0" cellspacing="3" width="100%" >
			                        	<tr>
			                        		<td align="center" valign="top">
			                                	<table border="0" cellpadding="0" cellspacing="0" width="210px">
			                                		<tr>
			                                			<td align="#{writer.localInfo.align}" class="user_strip_background_blue">
			                                        		<h:outputText styleClass="user_strip_text" value="#{msgs['register.firstname']}"/>
			                                			</td>
			                                			<td align="#{writer.localInfo.align}" class="user_strip_background_blue">
			                                        		<h:outputText styleClass="user_strip_value" value="#{user.conFirstName}"/>
			                                			</td>
			                                		</tr>

			                                		<tr>
			                                			<td align="#{writer.localInfo.align}">
			                                          		<h:outputText styleClass="user_strip_text" value="#{msgs['register.lastname']}"/>
			                                			</td>
			                                			<td align="#{writer.localInfo.align}">
			                                        		<h:outputText styleClass="user_strip_value" value="#{user.conLastName}"/>
			                                			</td>
			                                		</tr>

			                                		<tr>
			                                			<td align="#{writer.localInfo.align}" class="user_strip_background_blue">
			                                        		<h:outputText styleClass="user_strip_text" value="#{msgs['userstrip.contact.type']}"/>
			                                			</td>
			                                			<td align="#{writer.localInfo.align}" class="user_strip_background_blue">
			                                        		<h:outputText styleClass="user_strip_value" value="#{user.conTypeId}"/>
			                                			</td>
			                                		</tr>

			                                		<tr>
			                                			<td align="#{writer.localInfo.align}">
			                                          		<h:outputText styleClass="user_strip_text" value="#{msgs['register.email']}"/>
			                                			</td>
			                                			<td align="#{writer.localInfo.align}">
			                                           		<h:outputText styleClass="user_strip_value" value="#{user.conEmail}"/>
			                                			</td>
			                                		</tr>
			                                	</table>
			                                </td>
			                            </tr>
			                 		</table>
			                 	</td>

			                 	<td align="center" valign="top">
			                        <img name="line" src="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" width="1" height="70" align="middle"  border="0"/>
			              		</td>

			                    <td width="20%" >
			                        <table  border="0" cellpadding="0" cellspacing="3" width="100%" >
			                            <tr>
			                            	<td align="center" valign="top">
			                                	<table border="0" cellpadding="0" cellspacing="0" width="210px">
			                                		<tr>
			                                			<td align="#{writer.localInfo.align}" class="user_strip_background_gray">
			                                          		<h:outputText styleClass="user_strip_text" value="#{msgs['register.search.contactId']}"/>
			                                			</td>
			                                			<td align="#{writer.localInfo.align}" class="user_strip_background_gray">
			                                           		<h:outputText styleClass="user_strip_value" value="#{user.conContactId}"/>
			                                			</td>
			                                		</tr>

			                                		<tr>
			                                			<td align="#{writer.localInfo.align}">
			                                            	<h:outputText styleClass="user_strip_text" value="#{msgs['register.mobilephone']}"/>&#160;&#160;&#160;
			                                           		<img style="cursor: pointer;" NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/copy.gif"
			                                           		onclick="javascript:copyToClipboard('#{user.mobileNumberToCopy}');" title="Copy to clipboard" onmouseout="combinationHint.hide()"
			                                           		width="20px" height="9px" align="middle"  border="0"/>
			                                			</td>
			                                			<td align="#{writer.localInfo.align}">
			                                           		<h:outputText style="align:left" styleClass="user_strip_value" value="+#{user.conMobilePhonePrefix}-#{user.conMobilePhone}"/>
			                                			</td>
			                                		</tr>

			                                		<tr>
			                                			<td align="#{writer.localInfo.align}" class="user_strip_background_gray">
			                                           		<h:outputText styleClass="user_strip_text" value="#{msgs['register.phone']}"/>&#160;&#160;&#160;&#160;
			                                           		<img style="cursor: pointer;" NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/copy.gif"
			                                           		onclick="javascript:copyToClipboard('#{user.landLineNumberToCopy}');" title="Copy to clipboard" onmouseout="combinationHint.hide()"
			                                           		width="20px" height="9px" align="middle"  border="0"/>
			                                			</td>
			                                			<td align="#{writer.localInfo.align}" class="user_strip_background_gray">
			                                        		<h:outputText styleClass="user_strip_value" value="+#{user.conLandLinePhonePrefix}-#{user.conLandLinePhone}"/>
			                                			</td>
			                                		</tr>
			                                	</table>
			                                </td>
			                            </tr>
			                        </table>
			                    </td>
			                    <td align="center" valign="top">
			                        <img name="line" src="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" width="100%" height="70" align="middle"  border="0"/>
			              		</td>
			                </tr>
						</h:panelGroup>
						<!-- end contacts -->
					</table>
				</td>
			</tr>
		</table>
	</h:form>
 
</html>
</f:view>