<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      locale="#{writer.localInfo.locale}">

<HTML dir="#{writer.localInfo.dir}">
<HEAD>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>

</HEAD>

	<ui:include src="/jsp/templates/hintUserStrip.xhtml" />



<h:panelGroup >

<script>

/*if (window.top==window.self){
	   window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/retention/entryStrip.jsf";
}*/

/*
function activateSearchUser(id) {

  if (event.keyCode==13) {
	document.getElementById('userStripForm:searchByUserName').focus();
  }
  else {
  	if(id=="userStripForm:userId") {
  		document.getElementById("userStripForm:userName").value = "";
  	}
  	if(id=="userStripForm:userName") {
  		document.getElementById("userStripForm:userId").value = "";
  	}
  }

}
*/
</script>

<h:form id="populationStripForm">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" align="center" valign="middle" HEIGHT="130" CLASS="tabBGColor">
	<TR>
		<TD ROWSPAN="1" COLSPAN="1" WIDTH="100%"  ALIGN="center" >
			<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%"  CLASS="user_search">
				<h:panelGroup rendered="#{populationEntry.userId == 0 &amp;&amp; populationEntry.contactId != 0}">
					<tr align="center">
						<td align="center" colspan="5">
							<h:outputLink id="adduser" value="#{facesContext.externalContext.requestContextPath}/jsp/support/register.jsf" target="_parent">
									<h:graphicImage value="/images/search_add.gif" onmouseover="myHint.show(2, this)" onmouseout="myHint.hide()" style="border:none; cursor:pointer" />
							</h:outputLink>
						</td>
					</tr>
				</h:panelGroup>
				<h:panelGroup rendered="#{populationEntry.userId != 0 &amp;&amp; populationEntry.contactId == 0 &amp;&amp; user.haveBonus}">
					<tr align="center">
						<td align="center" colspan="5" >
							<img src="#{facesContext.externalContext.requestContextPath}/images/envelop.gif" alt="Have granted bonus" border="0" width="19px" height="12px"/>
						</td>
					</tr>
				</h:panelGroup>
				<TR>
					<TD WIDTH="100%" >
						<t:div styleClass="tableborder1"><t:div styleClass="tableborder2"><t:div styleClass="tableborder3"><t:div styleClass="tableborder4"><t:div styleClass="tableborder5"><t:div styleClass="tableborder6"><t:div styleClass="tableborder7"><t:div styleClass="tableborder8">
							<TABLE  BORDER="0" CELLPADDING="0" CELLSPACING="3" WIDTH="100%" >
								<tr><td align="center" valign="top">

								<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="210px">

	               					<tr><td align="#{writer.localInfo.align}" >
				                             <h:outputText  rendered="#{populationEntry.userId != 0 &amp;&amp; populationEntry.contactId == 0}" styleClass="user_strip_text" value="#{msgs['retention.strip.userId']}"/>
   				                             <h:outputText  rendered="#{populationEntry.contactId != 0 &amp;&amp; populationEntry.userId == 0}" styleClass="user_strip_text" value="#{msgs['retention.strip.contactId']}"/>
									</td><td align="#{writer.localInfo.align}" >
								             <h:outputText rendered="#{populationEntry.userId != 0 &amp;&amp; populationEntry.contactId == 0}" dir="ltr" styleClass="user_strip_value" value="#{populationEntry.userId}"/>
								             <h:outputText rendered="#{populationEntry.contactId != 0 &amp;&amp; populationEntry.userId == 0}" dir="ltr" styleClass="user_strip_value" value="#{populationEntry.contactId}"/>
									</td></tr>

									<tr><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
								              <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.userName']}"/>
									</td><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
								              <h:outputText rendered="#{populationEntry.userId != 0 &amp;&amp; populationEntry.contactId == 0}" styleClass="user_strip_value" value="#{populationEntry.username}"/>
								              <h:outputText rendered="#{populationEntry.contactId != 0 &amp;&amp; populationEntry.userId == 0}" styleClass="user_strip_value" value="#{populationEntry.entityName}"/>
									</td></tr>

									<tr><td align="#{writer.localInfo.align}" >
				                             <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.firstName']}"/>
									</td><td align="#{writer.localInfo.align}" >
								             <h:outputText rendered="#{populationEntry.userId != 0}" styleClass="user_strip_value" value="#{user.firstName}"/>
									</td></tr>

									<tr><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
				                            <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.lastName']}"/>
									</td><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
								             <h:outputText rendered="#{populationEntry.userId != 0}" styleClass="user_strip_value" value="#{user.lastName}"/>
										</td>
									</tr>

									<tr><td align="#{writer.localInfo.align}" >
								              <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.country']}"/>
	   								</td><td align="#{writer.localInfo.align}" >
									            <h:outputText styleClass="user_strip_value" value="#{populationEntry.country}"/>
									</td></tr>

									<tr>
										<td align="#{writer.localInfo.align}" class="user_strip_background_blue">
				                            <h:outputText rendered="#{populationEntry.userId != 0 &amp;&amp; populationEntry.etrader}" styleClass="user_strip_text" value="#{msgs['population.entry.user.id.num']}" />
										</td><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
								             <h:outputText rendered="#{populationEntry.userId != 0 &amp;&amp; populationEntry.etrader}" styleClass="user_strip_value" value="#{user.idNum}" />
										</td>
									</tr>

									<tr>
										<td align="#{writer.localInfo.align}" class="user_strip_background_blue">
				                            <h:outputText rendered="#{populationEntry.userId != 0}" styleClass="user_strip_text" value="#{msgs['population.entry.contact.by.phone']}" />
										</td><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
								             <h:outputText rendered="#{populationEntry.userId != 0}" styleClass="user_strip_value" value="#{user.contactByPhoneTxt}" />
										</td>
									</tr>
								</TABLE>

								</td>

								<TD align="center" valign="top">
										<IMG NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" WIDTH="1" HEIGHT="75" align="middle"  BORDER="0"/>
								</TD>

								<td align="center" valign="top">

								<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="210px">
									<tr><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
								              <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.phone']}"/>
	   								</td><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
								               <h:outputText styleClass="user_strip_value" value="#{populationEntry.landLinePhone}"/>
									</td></tr>

	               					<tr><td align="#{writer.localInfo.align}" >
				                             <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.mobile']}"/>
									</td><td align="#{writer.localInfo.align}" >
								             <h:outputText styleClass="user_strip_value" value="#{populationEntry.mobilePhone}"/>
									</td></tr>

									<tr><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
				                             <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.birth']}"/>
									</td><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
								             <h:outputText escape="false" styleClass="user_strip_value" value="#{populationEntry.birthDateTxt}"/>
									</td></tr>

									<tr><td align="#{writer.localInfo.align}">
											  <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.language']}"/>
									</td><td align="#{writer.localInfo.align}">
								              <h:outputText styleClass="user_strip_value" value="#{populationEntry.language}"/>
	               					</td></tr>

									<tr><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
				                             <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.reg.date']}"/>
									</td><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
								             <h:outputText escape="false" styleClass="user_strip_value" value="#{populationEntry.regDateTxt}"/>
									</td></tr>

								</TABLE>

								</td>

								<TD align="center" valign="top">
										<IMG NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" WIDTH="1" HEIGHT="75" align="middle"  BORDER="0"/>
								</TD>

								<td align="center" valign="top">
								<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="210px">

									<tr><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
				                             <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.accountStatus']}"/>
									</td><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
											<h:outputText  rendered="#{!user.significant}" styleClass="user_strip_value" value="#{msgs[populationEntry.isActiveAccountTxt]}"/>
										</td>
									</tr>

									<tr><td align="#{writer.localInfo.align}" >
				                             <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.last.approved.deposit.time']}"/>
									</td><td align="#{writer.localInfo.align}" >
								             <h:outputText escape="false" styleClass="user_strip_value" value="#{populationEntry.lastDepositTxt}"/>
									</td></tr>

									<tr><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
				                             <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.last.decline.time']}"/>
									</td><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
								             <h:outputText escape="false" styleClass="user_strip_value" value="#{populationEntry.lastDeclineTxt}"/>
									</td></tr>

									<tr>
										<td align="#{writer.localInfo.align}">
				                             <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.last.decline.count']}"/>
										</td>
										<td align="#{writer.localInfo.align}">
				                             <h:outputText styleClass="user_strip_value" value="#{populationEntry.declineCount}"/>
										</td>
									</tr>

									<tr><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
								              <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.last.decline.amount.tot']}"/>
	   								</td><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
									            <h:outputText styleClass="user_strip_value" value="#{populationEntry.totalDeclineTxt}"/>
									</td></tr>

								   <h:panelGroup rendered="#{user.inTier}">
										<tr><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
											<h:outputText styleClass="user_strip_text" value="#{msgs['register.points']}"/>
					    	           </td><td align="#{writer.localInfo.align}" class="user_strip_background_blue">
							    	        <h:outputText dir="ltr" styleClass="user_strip_value"  value="#{user.tierUser.points}"/>
					    	           </td></tr>
					    	        </h:panelGroup>

								</TABLE>
								</td>

								<TD align="center" valign="top">
										<IMG NAME="line" SRC="#{facesContext.externalContext.requestContextPath}/images/line_user_strip.gif" WIDTH="1" HEIGHT="75" align="middle"  BORDER="0"/>
								</TD>

								<td align="center" valign="top">
								<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="300px">

									<tr><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
				                             <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.calls.amount']}"/>
									</td><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
								              <h:outputText styleClass="user_strip_value" value="#{populationEntry.callsCounts}"/>
									</td></tr>

									<tr><td align="#{writer.localInfo.align}" >
								              <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.email']}"/>
	   								</td><td align="#{writer.localInfo.align}" >
									          <h:outputText styleClass="user_strip_value" value="#{populationEntry.email}"/>
									</td></tr>

									<tr><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
											  <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.email.time']}"/>
									</td><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
								              <h:outputText escape="false" styleClass="user_strip_value" value="#{populationEntry.lastEmailTimeTxt}"/>
	               					</td></tr>

									<tr><td align="#{writer.localInfo.align}" >
				                             <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.last.call.time']}"/>
									</td><td align="#{writer.localInfo.align}" >
								              <h:outputText escape="false" styleClass="user_strip_value" value="#{populationEntry.lastCallTimeTxt}"/>
									</td></tr>

									<tr><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
											  <h:outputText styleClass="user_strip_text" value="#{msgs['retention.strip.balance']}"/>
									</td><td align="#{writer.localInfo.align}" class="user_strip_background_gray">
								              <h:outputText rendered="#{populationEntry.userId != 0}" styleClass="user_strip_value" value="#{user.balanceTxt}"/>
	               					</td></tr>

									<tr><td align="#{writer.localInfo.align}" class="user_strip_text">
				                             <h:outputText rendered="#{populationEntry.userId != 0}" styleClass="user_strip_text" value="#{msgs['userstrip.significant']}"/>
									</td>
										<td align="#{writer.localInfo.align}" class="user_strip_text">
											<h:outputText  rendered="#{populationEntry.userId != 0 &amp;&amp; !user.significant}" styleClass="user_strip_value" value="#{user.significantTxt}"/>
											<h:outputText  rendered="#{populationEntry.userId != 0 &amp;&amp; user.significant}" styleClass="user_strip_value_red" value="#{user.significantTxt}"/>
										</td>
									</tr>
								</TABLE>
								</td>
								</tr>
							</TABLE>
						</t:div></t:div></t:div></t:div></t:div></t:div></t:div></t:div>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>
</h:form>
</h:panelGroup>
</HTML>
</f:view>