<div ng-controller="DocumentsFilesCtr" id="tab-content" class="documents-files-content">
	<h1>
		<span ng-if="screen == 'callCenter'">{{getMsgs('call-center')}}</span>
		<span ng-if="screen == 'backOffice'">{{getMsgs('back-office')}}</span>
	</h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box documents-files-screen">
		<div class="box-header">
			<h2>{{getMsgs('customers-list')}}</h2>
			<toggler toggle="filter" default-state="on" on-toggle="filterToggled" />
		</div>
		<form name="_form" novalidate>
			<div class="box-sub-header static-filters">
				<label>
					<span class="filter-label">{{getMsgs('first-engagement-date')}}</span>
				</label>
				<label for="startDate" class="filter-label">
					{{getMsgs('from')}}:
				</label>
				<div class="date-holder">
					<input id="startDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="openCalendar($event, 'startDate')" 
						ng-model="filter.startDate" is-open="filter.openDates.startDate" enable-time="false" min-date="filter.minDate" max-date="filter.endDate" datepicker-options="dateOptions" />
					<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startDate')"><i class="fa fa-calendar"></i></button>
				</div>
				<label for="endDate" class="filter-label">
					{{getMsgs('to')}}:
				</label>
				<div class="date-holder">
					<input id="endDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="openCalendar($event, 'endDate')" 
						ng-model="filter.endDate" is-open="filter.openDates.endDate" enable-time="false" min-date="filter.startDate" max-date="filter.maxDate" datepicker-options="dateOptions" />
					<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'endDate')"><i class="fa fa-calendar"></i></button>
				</div>
				
				
				<label>
					<span class="filter-label">{{getMsgs('user-id')}}:</span>
					<input ng-model="filter.userId" type="text" restrict-digits/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('user-name')}}:</span>
					<input ng-model="filter.userName" type="text" class="username"/>
				</label>
				
				<div class="right-block">
					<button type="button" class="button blue" toggable-off="filter" ng-click="getDocuments()">{{getMsgs('search')}}</button>
					
					<label>
						<span class="filter-label">{{getMsgs('show-entries')}}:</span>
						<single-select ng-model="filter.resultsPerPage"></single-select>
					</label>
				</div>
			</div>
			<div class="box-sub-header columns" toggable-on="filter">
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('class-users')}}:</span>
							<span>
								<single-select ng-model="filter.classUsers"></single-select>
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('business-case')}}:</span>
							<span>
								<multiselect model="filter.skinBusinessCases" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('skin')}}:</span>
							<span>
								<multiselect model="filter.skins" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('country')}}:</span>
							<span>
								<multiselect model="filter.countries" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('days-left')}}:</span>
							<span>
								<multiselect model="filter.daysLeft"></multiselect>
							</span>
						</label>
					</div>
				</div>
				
				<div class="column-one-third">
					<span class="filter-label">{{getMsgs('active')}}:</span>
					<span class="">
						<single-select ng-model="filter.userActive"></single-select>
					</span>
					<span class="filter-label">{{getMsgs('suspended')}}:</span>
					<span class="">
						<single-select ng-model="filter.userSuspended"></single-select>
					</span>
					
					
					<span class="filter-label">{{getMsgs('total-deposits')}}:</span>
					<span class="">
						<single-select ng-model="filter.totalDeposit"></single-select>
					</span>
					<span class="filter-label">{{getMsgs('regulation-approved')}}:</span>
					<span class="">
						<single-select ng-model="filter.complianceApproved"></single-select>
					</span>
					
					<span ng-if="screen == 'callCenter'" class="filter-label">{{getMsgs('call-atempts')}}:</span>
					<span ng-if="screen == 'callCenter'" class="">
						<single-select ng-model="filter.callAttempts"></single-select>
					</span>
					<span ng-if="screen == 'callCenter'" class="filter-label">{{getMsgs('ever-uploaded-a-doc')}}:</span>
					<span ng-if="screen == 'callCenter'" class="">
						<single-select ng-model="filter.docUploaded"></single-select>
					</span>
					
					<span class="filter-label">{{getMsgs('pending-withdrawal')}}:</span>
					<span class="">
						<single-select ng-model="filter.pendingWithdrawal"></single-select>
					</span>
					<span ng-if="screen == 'callCenter'" class="filter-label long">{{getMsgs('display-all-customers-with-open-withdrawals')}}:</span>
					<span ng-if="screen == 'callCenter'" class="short">
						<input type="checkbox" ng-disabled="checkDisplayAllWithOpenWithdrawals()" ng-model="filter.displayAllWithOpenWithdrawals" ng-true-value="true" ng-false-value="false">
					</span>
					
					<span class="filter-label" ng-if="screen == 'callCenter'">{{getMsgs('documents-expiration-status')}}:</span>
					<span class="" ng-if="screen == 'callCenter'">
						<single-select ng-model="filter.expireDoc"></single-select>
					</span>
				</div>
				
				<div class="column-one-third">
					<span class="filter-label">{{getMsgs('document-type')}}:</span>
					<span class="">
						<single-select ng-model="filter.docType1"></single-select>
					</span>
					<span class="filter-label">{{getMsgs('resolution')}}:</span>
					<span class="">
						<multiselect model="filter.resolutionStatus1" class="short-select" />
					</span>
					<div>
						<i class="fa clickable" ng-class="{ 'fa-plus-square-o': !showMoreDoctype, 'fa-minus-square-o': showMoreDoctype }" ng-click="showHideSeconndResSearch()"></i>
					</div>
					<div ng-if="showMoreDoctype">
						<span class="filter-label">{{getMsgs('document-type')}}:</span>
						<span class="">
							<single-select ng-model="filter.docType2"></single-select>
						</span>
						<span class="filter-label">{{getMsgs('resolution')}}:</span>
						<span class="">
							<multiselect model="filter.resolutionStatus2" class="short-select" />
						</span>
					</div>
					
					<button type="button" class="button blue bottom-right" ng-click="getDocuments(_form)">{{getMsgs('search')}}</button>
				</div>
			</div>
		</form>
		<div class="box-body" ng-if="results && results.length == 0">
			<h2>{{getMsgs('no-results-found')}}</h2>
		</div>
		
		<div class="box-body" ng-if="results && results.length > 0">
			<table class="pretty-table" id="exportTable">
				<thead>
					<tr>
						<th>{{getMsgs('user-id')}}</th>
						<th>{{getMsgs('first-name')}}</th>
						<th>{{getMsgs('last-name')}}</th>
						<th>{{getMsgs('country')}}</th>
						<th>{{getMsgs('skin')}}</th>
						<th>{{getMsgs('regulation-approved')}}</th>
						<th>{{getMsgs('compliance-documents-uploaded')}}</th>
						<th>{{getMsgs('total-deposits')}}</th>
						<th ng-class="{'sortable-col': true, active: filter.sortedBy == SORT_BY_DAYS_LEFT, asc: filter.sortAscDesc == 1, desc: filter.sortAscDesc == -1}" ng-click="sortBy(SORT_BY_DAYS_LEFT)">{{getMsgs('days-left')}}</th>
						<th ng-class="{'sortable-col': true, active: filter.sortedBy == SORT_BY_CALL_ATTEMPTS, asc: filter.sortAscDesc == 1, desc: filter.sortAscDesc == -1}" ng-click="sortBy(SORT_BY_CALL_ATTEMPTS)" ng-if="screen == 'callCenter'">{{getMsgs('call-atempts')}}</th>
						<th ng-if="screen == 'callCenter'">{{getMsgs('risk.last.call')}}</th>
						<th ng-if="screen == 'callCenter'">{{getMsgs('risk.last.reached')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="result in results">
						<td class="clickable" ng-click="toggleAdditionalInfo(result)">{{result.userId}}</td>
						<td>{{result.firstName}}</td>
						<td>{{result.lastName}}</td>
						<td>{{result.countryName}}</td>
						<td>{{getSkinName(result.skinId)}}</td>
						<td>{{result.isRegulationApproved ? getMsgs('yes') : getMsgs('no')}}</td>
						<td>{{result.complianceDocUploaded}}</td>
						<td>{{formatAmount({amount: result.totalDeposit, centsPart: 2, currencyId: 3})}}</td>
						<td>{{result.daysLeft}}</td>
						<td ng-if="screen == 'callCenter'">{{result.callAttempts}}</td>
						<td ng-if="screen == 'callCenter'">{{result.lastCallTime | date: "dd/MM/yyyy H:mm"}}</td>
						<td ng-if="screen == 'callCenter'">{{result.lastReachedTime | date: "dd/MM/yyyy H:mm"}}</td>
					</tr>
					<tr ng-hide="true"></tr>
					<tr ng-hide="!result.showAdditionalInfo" class="additional-info-row" ng-repeat-end>
						<td colspan="100">
							<form name="regulationApproveForm">
								<div class="additional-info-block">
									<div class="additional-info-left">
										<div class="table">
											<div class="table-row">
												<div class="table-cell">{{getMsgs('registration-date')}}</div>
												<div class="table-cell">{{result._additionalInfo.registrionDate | date: "dd/MM/yyyy"}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('engagement-date')}}</div>
												<div class="table-cell">{{result._additionalInfo.engagementDate | date: "dd/MM/yyyy"}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('account-manager')}}</div>
												<div class="table-cell">{{result._additionalInfo.accountManagerName}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('balance')}}</div>
												<div class="table-cell">{{formatAmount({amount: result._additionalInfo.balance, centsPart: 2, currencyId: result._additionalInfo.balanceCurrencyId})}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('mobile')}}</div>
												<div class="table-cell">{{result._additionalInfo.phoneNumber}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('last-login')}}</div>
												<div class="table-cell">{{result._additionalInfo.lastLoginDate | date: "dd/MM/yyyy"}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('last-call')}}</div>
												<div class="table-cell">{{result._additionalInfo.lastCallTime | date: "dd/MM/yyyy H:mm"}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('risk.last.reached')}}</div>
												<div class="table-cell">{{result._additionalInfo.lastReachedTime | date: "dd/MM/yyyy H:mm"}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('call-atempts')}}</div>
												<div class="table-cell">{{result._additionalInfo.callAttempts}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell"></div>
												<div class="table-cell">
													<button type="button" class="button default-gray" ng-click="openCustomerInformation(result.userId)">{{getMsgs('full-customer-information')}}</button>
												</div>
											</div>
										</div>
									</div>
									<div class="additional-info-right">
										<table class="pretty-table">
											<thead>
												<th>{{getMsgs('file-id')}}</th>
												<th>{{getMsgs('file-type')}}</th>
												<th>{{getMsgs('document-status')}}</th>
												<th>{{getMsgs('files.cc.name')}}</th>
												<th>{{getMsgs('received-at')}}</th>
												<th>{{getMsgs('expiry-date')}}</th>
											</thead>
											<tbody>
												<tr ng-repeat="file in result._additionalInfo.files">
													<td class="clickable" ng-click="openFilePopup(result, file)">{{file.fileId}}</td>
													<td>{{file.fileTypeName}}</td>
													<td>
														<span ng-if="file.isApproved"><span class="green">{{getMsgs('approved')}}</span> {{getMsgs('by')}} {{file.writerApproved}}</span>
														<span ng-if="file.isRejected"><span class="red">{{getMsgs('rejected')}}</span> {{file.rejectReason}} {{getMsgs('by')}} {{file.writerRejected}}</span>
													</td>
													<td>{{file.ccName}}</td>
													<td>{{file.receivedAt | date: "dd/MM/yyyy"}}</td>
													<td class="{{::file.expClass}}">{{ file.ccExp || (file.expDate  | date: "dd/MM/yyyy") }}</td>
												</tr>
											</tbody>
										</table>
										<div class="box-footer">
											<button type="button" class="button default-gray" ng-click="addFile(result)">
												<i class="fa fa-plus add-icon" aria-hidden="true"></i>
												{{getMsgs('add-file')}}
											</button>
										</div>
										<div class="comments" ng-if="screen == 'backOffice'">
											<div>{{getMsgs('comments')}}</div>
											<textarea ng-model="result.issueActionComments"></textarea>
										</div>
										<button type="button" class="button blue" ng-if="screen == 'backOffice'" ng-click="saveComments(result)">{{getMsgs('save')}}</button>
									</div>
								</div>
								<div class="pR">
									<button type="button" class="button green" ng-if="screen == 'backOffice' && permissions.get('backOffice_regulationApprove')" 
										ng-disabled="!result._additionalInfo.isEnableRegulationApprove" ng-click="openComment($event, 'regular')">{{getMsgs('regulation-approve')}}</button>
									<button type="button" class="button orange" ng-if="screen == 'backOffice' && permissions.get('backOffice_regulationApproveManager')" 
										ng-disabled="!result._additionalInfo.isEnableRegulationApproveManager" ng-click="openComment($event, 'manager')">{{getMsgs('regulation-approve-managers')}}</button>
										
									<div class="comment-popup" id="commentsDiv">
										<div class="table">
											<div class="cell">
												<button type="button" class="button default-gray" ng-click="closeComment()">{{::getMsgs('close')}}</button>
											</div>
											<div class="cell taC">{{::getMsgs('write-a-comment')}}</div>
											<div class="cell taR">
												<button type="button" class="button blue" ng-show="commentPopupType == 'regular'" ng-click="regulationApprove(result)">{{::getMsgs('ok')}}</button>
												<button type="button" class="button blue" ng-show="commentPopupType == 'manager'" ng-click="regulationApproveManager(result)">{{::getMsgs('ok')}}</button>
											</div>
										</div>
										<div class="comment-in" ng-if="screen == 'backOffice'">
											<textarea ng-model="result.comments" required placeholder="{{::getMsgs('comments')}}"></textarea>
										</div>
									</div>
								</div>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="box-footer" ng-if="results && results.length > 0">
			<pagination model="pagination">
				<div class="taR">
					<a onclick="exportSearchCSV('exportTable')" class="icons excel mr10"></a>
				</div>
			</pagination>
		</div>
	</div>
</div>