<div id="tab-content" class="transactions-content">
	<h1>
		<span>{{getMsgs('user-documents')}}</span>
	</h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box documents-files-screen">
		<div class="box-header">
			<h2>{{getMsgs('user-documents')}}</h2>
			<toggler toggle="filter" default-state="on" on-toggle="filterToggled" />
		</div>
		<form name="_form" novalidate>
			<div class="box-sub-header static-filters">
				<label>
					<span class="filter-label">{{getMsgs('user-id')}}:</span>
					<input ng-model="udCtrl.filter.userId" type="text" restrict-digits/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('general.email')}}:</span>
					<input ng-model="udCtrl.filter.email" type="text"/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('first-name')}}:</span>
					<input ng-model="udCtrl.filter.firstName" type="text"/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('last-name')}}:</span>
					<input ng-model="udCtrl.filter.lastName" type="text"/>
				</label>
				
				<div class="right-block">
					<button type="button" class="button blue" toggable-off="filter" ng-click="udCtrl.getUsersDocuments(_form)">{{getMsgs('search')}}</button>
					
					<label>
						<span class="filter-label">{{getMsgs('show-entries')}}:</span>
						<single-select ng-model="udCtrl.filter.resultsPerPage"></single-select>
					</label>
				</div>
			</div>
			<div class="box-sub-header columns" toggable-on="filter">
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('class-users')}}:</span>
							<span>
								<single-select ng-model="udCtrl.filter.isTester" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('country')}}:</span>
							<span>
								<multiselect model="udCtrl.filter.countries" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('static.language')}}:</span>
							<span>
								<single-select ng-model="udCtrl.filter.languages" />
							</span>
						</label>
					</div>
				</div>
				
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('user.status.active')}}:</span>
							<span>
								<single-select ng-model="udCtrl.filter.active" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('suspended')}}:</span>
							<span>
								<single-select ng-model="udCtrl.filter.suspended" />
							</span>
						</label>

						<label>
							<span class="filter-label">{{getMsgs('approved')}}:</span>
							<span>
								<single-select ng-model="udCtrl.filter.isRegulationApproved" />
							</span>
						</label>
					</div>
				</div>
				
				<div class="column-one-third">
					<span class="filter-label">{{getMsgs('document-type')}}:</span>
					<span class="">
						<single-select ng-model="udCtrl.filter.docType1" />
					</span>
					
					<span class="filter-label">{{getMsgs('resolution')}}:</span>
					<span class="">
						<multiselect model="udCtrl.filter.resolutionStatus1" class="short-select" />
					</span>
					
					<div>
						<i class="fa clickable" ng-class="{ 'fa-plus-square-o': !showMoreDoctype, 'fa-minus-square-o': showMoreDoctype }" ng-click="udCtrl.showHideSeconndResSearch()"></i>
					</div>
					<div ng-if="udCtrl.showMoreDoctype">
						<span class="filter-label">{{getMsgs('document-type')}}:</span>
						<span class="">
							<single-select ng-model="udCtrl.filter.docType2"></single-select>
						</span>
						<span class="filter-label">{{getMsgs('resolution')}}:</span>
						<span class="">
							<multiselect model="udCtrl.filter.resolutionStatus2" class="short-select" />
						</span>
					</div>
				</div>
			</div>
			<div class="box-sub-header" toggable-on="filter">
				<button type="button" class="button blue" ng-click="udCtrl.getUsersDocuments(_form)">{{getMsgs('search')}}</button>
			</div>
		</form>
		<div class="box-body" ng-if="udCtrl.results && udCtrl.results.length == 0">
			<h2>{{getMsgs('no-results-found')}}</h2>
		</div>
		
		<div class="box-body" ng-if="udCtrl.results && udCtrl.results.length > 0">
			<table class="pretty-table" id="exportTable">
				<thead>
					<tr>
						<th>{{getMsgs('user-id')}}</th>
						<th>{{getMsgs('first-name')}}</th>
						<th>{{getMsgs('last-name')}}</th>
						<th>{{getMsgs('general.email')}}</th>
						<th>{{getMsgs('country')}}</th>
						<th>{{getMsgs('static.language')}}</th>
						<th>{{getMsgs('regulation-approved')}}</th>
						<th>{{getMsgs('compliance-documents-uploaded')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="result in udCtrl.results">
						<td class="clickable" ng-click="udCtrl.showRow(result)">{{result.userId}}</td>
						<td>{{result.firstName}}</td>
						<td>{{result.lastName}}</td>
						<td>{{result.email}}</td>
						<td>{{result.countryName}}</td>
						<td>{{getMsgs(udCtrl.languages[result.languageId])}}</td>
						<td>{{result.isRegulationApproved == 0 ? getMsgs('no') : getMsgs('yes')}}</td>
						<td>{{result.complDocsUpload == 0 ? getMsgs('no') : getMsgs('yes')}}</td>
					</tr>
					<tr ng-repeat-end ng-show="result.show" class="additional-info-row">
						<td colspan="8">
							<form name="regulationApproveForm">
								<div class="additional-info-block">
									<div class="additional-info-left">
										<div class="table">
											<div class="table-row">
												<div class="table-cell">{{getMsgs('registration-date')}}</div>
												<div class="table-cell">{{result._additionalInfo.registrionDate | date: "dd/MM/yyyy"}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('engagement-date')}}</div>
												<div class="table-cell">{{result._additionalInfo.engagementDate | date: "dd/MM/yyyy"}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('account-manager')}}</div>
												<div class="table-cell">{{result._additionalInfo.accountManagerName}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('balance')}}</div>
												<div class="table-cell">{{formatAmount({amount: result._additionalInfo.balance, centsPart: 2, currencyId: result._additionalInfo.balanceCurrencyId})}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('mobile')}}</div>
												<div class="table-cell">{{result._additionalInfo.phoneNumber}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('last-login')}}</div>
												<div class="table-cell">{{result._additionalInfo.lastLoginDate | date: "dd/MM/yyyy"}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('last-call')}}</div>
												<div class="table-cell">{{result._additionalInfo.lastCallTime | date: "dd/MM/yyyy H:mm"}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('risk.last.reached')}}</div>
												<div class="table-cell">{{result._additionalInfo.lastReachedTime | date: "dd/MM/yyyy H:mm"}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell">{{getMsgs('call-atempts')}}</div>
												<div class="table-cell">{{result._additionalInfo.callAttempts}}</div>
											</div>
											<div class="table-row">
												<div class="table-cell"></div>
												<div class="table-cell">
													<button type="button" class="button default-gray" ng-click="udCtrl.openCustomerInformation(result.userId)">{{getMsgs('full-customer-information')}}</button>
												</div>
											</div>
										</div>
									</div>
									<div class="additional-info-right">
										<table class="pretty-table">
											<thead>
												<th>{{getMsgs('file-id')}}</th>
												<th>{{getMsgs('file-type')}}</th>
												<th>{{getMsgs('document-status')}}</th>
												<th>{{getMsgs('files.cc.name')}}</th>
												<th>{{getMsgs('received-at')}}</th>
												<th>{{getMsgs('expiry-date')}}</th>
											</thead>
											<tbody>
												<tr ng-repeat="file in result._additionalInfo.files">
													<td class="clickable" ng-click="udCtrl.openFilePopup(result, file)">{{file.fileId}}</td>
													<td>{{file.fileTypeName}}</td>
													<td>
														<span ng-if="file.isApproved"><span class="green">{{getMsgs('approved')}}</span> {{getMsgs('by')}} {{file.writerApproved}}</span>
														<span ng-if="file.isRejected"><span class="red">{{getMsgs('rejected')}}</span> {{file.rejectReason}} {{getMsgs('by')}} {{file.writerRejected}}</span>
													</td>
													<td>{{file.ccName}}</td>
													<td>{{file.receivedAt | date: "dd/MM/yyyy"}}</td>
													<td class="{{::file.expClass}}">{{ file.ccExp || (file.expDate  | date: "dd/MM/yyyy") }}</td>
												</tr>
											</tbody>
										</table>
										<div class="box-footer">
											<button type="button" class="button default-gray" ng-click="udCtrl.addFile(result)">
												<i class="fa fa-plus add-icon" aria-hidden="true"></i>
												{{getMsgs('add-file')}}
											</button>
										</div>
										<div class="comments">
											<div>{{getMsgs('comments')}}</div>
											<textarea ng-model="result.issueActionComments"></textarea>
										</div>
										<button type="button" class="button blue" ng-click="udCtrl.saveComments(result)">{{getMsgs('save')}}</button>
									</div>
								</div>
								<div class="pR">
									<button type="button" class="button green" ng-if="permissions.get('userDocuments_regulationApprove')" 
										ng-disabled="!result._additionalInfo.isEnableRegulationApprove" ng-click="udCtrl.openComment($event, 'regular')">{{getMsgs('regulation-approve')}}</button>
									<button type="button" class="button orange" ng-if="permissions.get('userDocuments_regulationApproveManager')" 
										ng-disabled="!result._additionalInfo.isEnableRegulationApproveManager" ng-click="udCtrl.openComment($event, 'manager')">{{getMsgs('regulation-approve-managers')}}</button>
										
									<div class="comment-popup" id="commentsDiv">
										<div class="table">
											<div class="cell">
												<button type="button" class="button default-gray" ng-click="udCtrl.closeComment()">{{::getMsgs('close')}}</button>
											</div>
											<div class="cell taC">{{::getMsgs('write-a-comment')}}</div>
											<div class="cell taR">
												<button type="button" class="button blue" ng-show="udCtrl.commentPopupType == 'regular'" ng-click="udCtrl.regulationApprove(result)">{{::getMsgs('ok')}}</button>
												<button type="button" class="button blue" ng-show="udCtrl.commentPopupType == 'manager'" ng-click="udCtrl.regulationApproveManager(result)">{{::getMsgs('ok')}}</button>
											</div>
										</div>
										<div class="comment-in">
											<textarea ng-model="result.comments" required placeholder="{{::getMsgs('comments')}}"></textarea>
										</div>
									</div>
								</div>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="box-footer" ng-if="udCtrl.results && udCtrl.results.length > 0">
			<pagination model="udCtrl.pagination">
				<div class="taR">
					<a onclick="exportSearchCSV('exportTable')" class="icons excel mr10"></a>
				</div>
			</pagination>
		</div>
	</div>
</div>