<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

	#{user.goProduct}

    <t:saveState value="#{mailBoxTemplatesForm}" />

    <h:panelGroup >
		<h:form id="mailBoxTemplatesForm">
 		   <h:panelGrid border="0" columns="1" width="100%">

				<h:panelGrid columns="8">

				    <t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" />
			     	<t:selectOneMenu id="skinId" value="#{mailBoxTemplatesForm.skinId}"  >
		        		<f:selectItems value="#{writer.skinsAndEmptySI}" />
		    	    </t:selectOneMenu>

					<t:outputLabel for="typeId" value="#{msgs['mailbox.template.type']}" />
					<h:panelGrid border="0" columns="2">
						<t:selectOneMenu id="typeId" value="#{mailBoxTemplatesForm.typeId}" >
					   		<f:selectItems value="#{writer.mailBoxTypesAll}" />
					   	</t:selectOneMenu>
					</h:panelGrid>

					<t:outputLabel for="sender" value="#{msgs['mailbox.template.sender']}" />
					<h:panelGrid border="0" columns="2">
						<t:selectOneMenu id="sender" value="#{mailBoxTemplatesForm.senderId}">
					   		<f:selectItems value="#{writer.mailBoxSendersAll}" />
					   	</t:selectOneMenu>
					</h:panelGrid>

		       		<h:panelGrid border="0" columns="3" width="5px" />

				 	<t:commandLink action="#{mailBoxTemplatesForm.search}">
				     	<h:outputText value="#{msgs['button.search']}" />
			  	  	</t:commandLink>

				</h:panelGrid>

			   <h:outputText styleClass="general_message" rendered="#{mailBoxTemplatesForm.listSize==0}"
	  		   				value="#{msgs['general.emptylist']}"/>

			   <t:dataTable id="data"
	                styleClass="scrollerTable"
	                headerClass="standardTable_Header"
	                footerClass="standardTable_Header"
	                rowClasses="standardTable_Row1,standardTable_Row2"
	                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
	                var="v"
	                preserveDataModel="false"
	                rows="#{user.rowsByMenu}"
	                renderedIfEmpty="false"
	                cellpadding="0"
	                cellspacing="1"
	                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
	                value="#{mailBoxTemplatesForm.list}"
	           >

			   <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.template.id']}"/>
	               </f:facet>
	               <t:commandLink action="#{mailBoxTemplatesForm.navEdit}" immediate="true">
			            <h:outputText value="#{v.id}" />
			            <f:setPropertyActionListener target="#{mailBoxTemplatesForm.template}" value="#{v}" />
					</t:commandLink>
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.template.name']}"/>
	               </f:facet>
	               <h:outputText value="#{v.name}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.template.subject']}"/>
	               </f:facet>
	               <h:outputText value="#{v.subject}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.template.type']}"/>
	               </f:facet>
	               <h:outputText value="#{v.typeName}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.template.sender']}"/>
	               </f:facet>
	               <h:outputText value="#{msgs[v.senderName]}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.template.skin']}"/>
	               </f:facet>
	               <h:outputText value="#{msgs[v.skinName]}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.template.language']}"/>
	               </f:facet>
	               <h:outputText value="#{msgs[v.languageName]}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['bonus.startDate']}"/>
	               </f:facet>
	               <h:outputText value="#{v.timeCreated}">
	               		<f:convertDateTime pattern="#{presentationPatterns.datePattern}" timeZone="#{writer.utcOffset}" /> 
	               </h:outputText>
	           </h:column>

	        </t:dataTable>

			<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    rendered="#{mailBoxTemplatesForm.listSize>10}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            </t:dataScroller>

      		  </h:panelGrid>

			</h:panelGrid>

			<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
			 	<t:commandLink action="#{mailBoxTemplatesForm.navNew}">
			        <h:outputText value="#{msgs['mailbox.template.add']}" />
				</t:commandLink>
 	  		</h:panelGrid>


        </h:form>

    </h:panelGroup>



</ui:define>
</ui:composition>

</html>