<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">

	#{user.goProduct}
	
	<t:panelTabbedPane align="center"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent">
                  
				<t:panelTab id="autoIssue" label="#{msgs['menu.auto.issue']}" >
					<iframe name="auto" id="auto" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/product/autoIssue.jsf?refresh=true" width="100%" height="550px">
					</iframe>
				</t:panelTab>
				
				<t:panelTab id="sendSMS" label="#{msgs['menu.send.sms']}" >
			    	<iframe name="auto" id="auto" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/product/sendSMS.jsf?refresh=true" width="100%" height="1000px">
					</iframe>
			    </t:panelTab>

				<t:panelTab id="sendSMScontacts" label="#{msgs['menu.send.sms.contacts']}" >
			    	<iframe name="auto" id="auto" scrolling="yes" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/product/sendSMScontacts.jsf?refresh=true" width="100%" height="1000px">
					</iframe>
			    </t:panelTab>

			    <t:panelTab id="mailBoxTemplates" label="#{msgs['menu.mailbox.templates']}" >
				    <iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/product/mailBoxTemplates.jsf?refresh=true" width="100%" height="100%"></iframe>
			    </t:panelTab>
			    			    
			    <t:panelTab id="marketingOperations" label="#{msgs['menu.marketingoperations']}">
	    			<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/product/marketingOperations.jsf?refresh=true" width="100%" height="100%"></iframe>
    			</t:panelTab>
                  
	</t:panelTabbedPane>
</ui:define>
</ui:composition>

</html>