<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/multipleSelectBox.js"></script>
<style type="text/css">
	.multipleSelectBoxControl span{	/* Labels above select boxes*/
		font-family:arial;
		font-size:11px;
		font-weight:bold;
	}
	.multipleSelectBoxControl div select{	/* Select box layout */
		font-family:arial;
		height:100%;
	}
	.multipleSelectBoxControl input{	/* Small butons */
		width:30px;
	}

	.multipleSelectBoxControl div{
		float:left;
	}

	.multipleSelectBoxDiv
</style>

	<t:saveState value="#{sendSMSForm}" />

	#{user.goProduct}
    <h:panelGroup>
        <h:form id="sendSMSForm" enctype="multipart/form-data">
        <t:saveState id="file1" value="#{sendSMSForm.file.file}" />

			<h:panelGrid border="0" columns="2" height="800px">

				<h:outputLabel for="skinId" value="#{msgs['population.entry.skin']}"/>
				<h:panelGrid>
			   		<h:selectManyListbox id="skinId" value="#{sendSMSForm.skinId}" style="height:70px" >
               			<f:selectItems value="#{writer.skinsStringSI}" />
	               	</h:selectManyListbox>
				</h:panelGrid>

				<h:outputLabel for="timeOffset" value="#{msgs['retention.timezone']}"/>
				<h:panelGrid>
	               	<h:selectManyListbox id="timeOffset" value="#{sendSMSForm.timeZone}" onchange="this.form.submit();" style="height:60px"
               			valueChangeListener="#{sendSMSForm.updateCountries}" >
               			<f:selectItems value="#{applicationData.retentionGmtOffsets}" />
	               	</h:selectManyListbox>
				</h:panelGrid>

				<h:outputLabel value="#{msgs['countries.name']}"/>
		   		<h:panelGrid columns="3" style="height:80px">
					<h:selectManyListbox id="fromBox" value="#{sendSMSForm.selectedCountriesList}" >
						<f:selectItems value="#{sendSMSForm.countriesList}" />
					</h:selectManyListbox>
					<h:selectManyListbox id="toBox" value="#{sendSMSForm.selectedCountriesList}">
						<f:selectItems value="#{sendSMSForm.countriesList}" />
					</h:selectManyListbox>
					<h:inputHidden id="include" value="#{sendSMSForm.includeCountries}"/>
				</h:panelGrid>

				<h:outputText value="#{msgs['newaccounts.campaigns']}"/>
				<h:panelGrid>
               		<h:selectManyListbox id="campaignName" value="#{sendSMSForm.campaignIds}" style="height:60px" >
               			<f:selectItems value="#{sendSMSForm.allMarketingCampaignsLongSI}" />
	               	</h:selectManyListbox>
				</h:panelGrid>

				<t:outputText value="#{msgs['population.name']}"/>
				<h:panelGrid>
				   	<h:selectManyListbox id="populationType" value="#{sendSMSForm.populationType}" onchange="changePopulation()" style="height:60px">
				   		<f:selectItem itemLabel="#{msgs['general.all']}" itemValue="0" />
               			<f:selectItems value="#{writer.populationTypesStrByDept}" />
	               	</h:selectManyListbox>
			   	</h:panelGrid>

				<t:outputLabel for="msg" value="#{msgs['sendSMS.msg']}"/>
                <h:panelGrid columns="3" >
	                <h:inputTextarea id="msg" cols="50" rows="3" value="#{sendSMSForm.message}" validator="#{utils.validateSmsCharactersLanguage}">
          			</h:inputTextarea>
	           		<t:message id="msgError" for="msg" replaceIdWithLabel="true" styleClass="error"/>
	           		<t:outputLabel value="Currently possible only in English and Hebrew"/>
           		</h:panelGrid>

           		<t:outputLabel for="prmName" value="#{msgs['sendSMS.promotion.enter']}"/>
                <h:panelGrid columns="3" >
	                <h:inputText id="prmName"  value="#{sendSMSForm.promotionName}" style="width:340px;">
          			</h:inputText>
	           		<t:message id="prmNameError" for="prmName" replaceIdWithLabel="true" styleClass="error"/>
	           		<t:outputLabel value="only letters or numbers"/>
           		</h:panelGrid>


		        <h:outputLabel for="file" value="#{msgs['issues.users.file']}"/>
				<h:panelGrid border="0" columns="2">
			        <t:inputFileUpload id="file" required="false"
	        		    value="#{sendSMSForm.file.file}"
			            storage="file" />
					<t:message id="fileError" for="file" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

           		<t:outputLabel value=""/>
           		<h:panelGrid columns="3">
	           		<t:commandLink action="#{sendSMSForm.sendSmsToContacts}" onclick="multipleSelectOnSubmitSMS(this);">
							<h:outputText value="Submit SMS" />
		        	</t:commandLink>
	        	</h:panelGrid>
         	</h:panelGrid>
		</h:form>
	</h:panelGroup>
	<script type="text/javascript">
		createMovableOptionsSMS("sendSMSForm:fromBox","sendSMSForm:toBox",500,150,'Include','Exclude');
	</script>
</ui:define>
</ui:composition>
</html>



