<div ng-controller="MarketFieldsCtr" id="tab-content" class="market-fields-content">
	<h1><span>{{getMsgs('market-fields')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box market-fields-screen" ng-if="!action">
		<div class="box-header"><h2>{{getMsgs('market-fields')}}</h2></div>
		<div class="box-sub-header">
			<label ng-hide="true">
				<span>{{getMsgs('market-type')}}</span>
				<span>
					<select ng-model="filter.marketType" ng-options="marketType.id for marketType in filter.marketsTypes"></select>
				</span>
			</label>
			<label>
				<span>{{getMsgs('market')}}</span>
				<span>
					<select ng-model="filter.market" ng-options="market.name for market in filter.marketType.markets | orderBy: sortFilter" ng-change="getMarketFields(filter.market.id)"></select>
				</span>
			</label>
			<button class="button blue" ng-disabled="filter.market.id <=0" ng-click="editMarketFields(filter.market.id)">{{getMsgs('edit')}}</button>
		</div>
	</div>
	<div class="box edit-market-fields-screen" ng-if="marketFields">
		<div class="box-header">
			<h2 ng-if="action == 'edit'">{{getMsgs('edit-market-fields')}}</h2>
		</div>
		<div class="box-body">
			<div class="market-fields-holder-header">{{getMsgs('market-fields')}}</div>
			<div class="market-fields-holder">
				<label ng-if="!fieldIsHidden(key)" ng-repeat="(key, value) in marketFields">
					<span>{{getMsgs('markets.' + key.toLowerCase())}}</span>
					<span ng-if="fieldIsCheckbox(key)">
						<input type="checkbox" ng-disabled="fieldIsDisabled(key)" ng-model="marketFields[key]">
					</span>
					<span ng-if="fieldIsDropdown(key)">
						<select ng-disabled="fieldIsDisabled(key)" ng-model="marketFields[key]" convert-to-number>
							<option ng-repeat="marketField in marketFieldsDropdowns[key]" value="{{marketField.id}}">{{marketField.name}}</option>
						</select>
					</span>
					<span ng-if="fieldIsInput(key)">
						<span ng-if="fieldIsDisabled(key)">
							<span ng-if="fieldIsTimestamp(key)">{{dateGetSimple(marketFields[key])}}</span>
							<span ng-if="!fieldIsTimestamp(key)">{{marketFields[key]}}</span>
						</span>
						<input ng-if="!fieldIsDisabled(key)" ng-model="marketFields[key]">
					</span>
					<span>{{getMsgs('markets.' + key.toLowerCase() + '.desc', {hideMissing: true})}}</span>
				</label>
			</div>
			<div class="market-fields-holder-header">{{getMsgs('asset-index')}}</div>
			<div class="market-fields-holder">
				<label ng-repeat="(key, value) in assetIndex" ng-if="!assetIndexFieldIsHidden(key)">
					<span>{{getMsgs('markets.asset-index.' + key.toLowerCase())}}</span>
					<span ng-if="!assetIndexFieldIsCheckbox(key)">
						<input ng-disabled="assetIndexFieldIsDisabled(key)" ng-model="assetIndex[key]">
					</span>
					<span ng-if="assetIndexFieldIsCheckbox(key)">
						<input ng-disabled="assetIndexFieldIsDisabled(key)" type="checkbox" ng-model="assetIndex[key]">
					</span>
					<span>{{getMsgs('markets.asset-index.' + key.toLowerCase() + '.desc', {hideMissing: true})}}</span>
				</label>
			</div>
			<div class="market-fields-holder-header">{{getMsgs('emir-report')}}</div>
			<div class="market-fields-holder">
				<label ng-repeat="(key, value) in emirReport" ng-if="!emirReportFieldIsHidden(key)">
					<span>{{getMsgs('markets.emir-report.' + key.toLowerCase())}}</span>
					<span ng-if="!emirReportFieldIsCheckbox(key)">
						<input ng-disabled="emirReportFieldIsDisabled(key)" ng-model="emirReport[key]">
					</span>
					<span ng-if="emirReportFieldIsCheckbox(key)">
						<input ng-disabled="emirReportFieldIsDisabled(key)" type="checkbox" ng-model="emirReport[key]">
					</span>
				</label>
			</div>
		</div>
		<div class="box-footer" ng-if="action == 'edit'">
			<div class="table">
				<div class="table-cell">
					<button type="button" class="button red" ng-click="$state.go('ln.admin.markets.market_fields', {ln: $state.params.ln});">{{getMsgs('cancel')}}</button>
				</div>
				<div class="table-cell">
					<button type="button" class="button blue" ng-click="updateMarketFields()">{{getMsgs('save')}}</button>
				</div>
			</div>
		</div>
	</div>
</div>