<div ng-controller="MarketTranslationsCtr" id="tab-content" class="market-translations-content">
	<h1><span>{{getMsgs('market-translations')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box market-translations-screen" ng-if="!action">
		<div class="box-header"><h2>{{getMsgs('market-translations')}}</h2></div>
		<div class="box-sub-header">
			<label ng-hide="true">
				<span>{{getMsgs('market-type')}}</span>
				<span>
					<select ng-model="filter.marketType" ng-options="marketType.id for marketType in filter.marketsTypes"></select>
				</span>
			</label>
			<label>
				<span>{{getMsgs('market')}}</span>
				<span>
					<select ng-model="filter.market" ng-options="market.name for market in filter.marketType.markets | orderBy: sortFilter" ng-change="getMarketTranslations(filter.market.id)"></select>
				</span>
			</label>
			<button class="button blue" ng-disabled="filter.market.id <=0" ng-click="editMarketTranslations(filter.market.id)">{{getMsgs('edit')}}</button>
		</div>
	</div>
	<div class="box edit-market-translations-screen" ng-if="marketTranslations">
		<div class="box-header">
			<h2 ng-if="action == 'edit'">{{getMsgs('edit-market-translations')}}</h2>
		</div>
		<div class="box-body">
			<div ng-repeat="(mkey, mvalue) in marketTranslations">
				<div class="box-sub-header">
					<span>{{getMsgs(mkey)}}</span>
				</div>
				<div class="table market-translations-languages">
					<div class="table-row" ng-repeat="(key, value) in marketTranslations[mkey]">
						<span class="table-cell">{{filter.languages[key].code}}</span>
						<span class="table-cell"><input ng-disabled="action != 'edit'" ng-model="marketTranslations[mkey][key]"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer" ng-if="action == 'edit'">
			<div class="table">
				<div class="table-cell">
					<button type="button" class="button red" ng-click="$state.go('ln.admin.markets.market_translations', {ln: $state.params.ln});">{{getMsgs('cancel')}}</button>
				</div>
				<div class="table-cell">
					<button type="button" class="button blue" ng-click="updateMarketTranslations()">{{getMsgs('save')}}</button>
				</div>
			</div>
		</div>
	</div>
</div>