<div ng-controller="MarketDynamicsQuotesCtr" id="tab-content" class="market-dynamics-quotes-content">
	<h1><span>{{getMsgs('market-dynamics-quotes')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box market-dynamics-quotes-screen" ng-if="!action">
		<div class="box-header"><h2>{{getMsgs('market-dynamics-quotes')}}</h2></div>
		<div class="box-sub-header">
			<label>
				<span>{{getMsgs('market')}}</span>
				<span>
					<select ng-model="filter.market" ng-options="market.name for market in filter.markets | orderBy: sortFilter" ng-change="getDynamicsMarketQuotes(filter.market.id)"></select>
				</span>
			</label>
			<button class="button blue" ng-disabled="filter.market.id <=0" ng-click="editDynamicsMarketQuotes(filter.market.id)">{{getMsgs('edit')}}</button>
		</div>
	</div>
	<div class="box edit-market-dynamics-quotes-screen" ng-if="theMarket">
		<div class="box-header">
			<h2 ng-if="action == 'edit'">{{getMsgs('edit-market-dynamics-quotes')}}</h2>
		</div>
		<div class="box-body">
			<table class="pretty-table">
				<tbody>
					<tr ng-repeat="(paramName, paramValue) in theMarket.quoteParams">
						<td>{{paramName}}</td>
						<td>
							<input ng-model="theMarket.quoteParams[paramName]" ng-disabled="action != 'edit'">
						</td>
						<td>{{getMsgs('market-quote-params-description-' + paramName)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer" ng-if="action == 'edit'">
			<div class="table">
				<div class="table-cell">
					<button type="button" class="button red" ng-click="$state.go('ln.admin.markets.market_dynamics_quotes', {ln: $state.params.ln});">{{getMsgs('cancel')}}</button>
				</div>
				<div class="table-cell">
					<button type="button" class="button blue" ng-click="saveQuoteChanges()">{{getMsgs('save')}}</button>
				</div>
			</div>
		</div>
	</div>
</div>