<div ng-controller="MarketPausesCtr" id="tab-content" class="market-pauses-content">
	<h1><span>{{getMsgs('market-pauses')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box market-pauses-screen" ng-if="!action">
		<div class="box-header"><h2>{{getMsgs('market-pauses')}}</h2></div>
		<div class="box-sub-header">
			<label ng-hide="true">
				<span>{{getMsgs('market-type')}}</span>
				<span>
					<select ng-model="filter.marketType" ng-options="marketType.id for marketType in filter.marketsTypes"></select>
				</span>
			</label>
			<label>
				<span>{{getMsgs('market')}}</span>
				<span>
					<select ng-model="filter.market" ng-options="market.name for market in filter.marketType.markets | orderBy: sortFilter"></select>
				</span>
			</label>
			<button class="button blue" ng-disabled="filter.market.id <= 0" ng-click="getMarketPauses(filter.market.id)">{{getMsgs('search')}}</button>
		</div>
		<div class="box-sub-header">
			<button type="button" class="button grey" ng-click="$state.go('ln.admin.markets.market_pauses.add', {ln: $state.params.ln});">
				<i class="fa fa-plus add-icon" aria-hidden="true"></i>
				{{getMsgs('new-pause')}}
			</button>
		</div>
		<div class="box-body" ng-if="marketPauses && action != 'edit'">
			<table class="pretty-table">
				<thead>
					<tr>
						<th>{{getMsgs('id')}}</th>
						<th>{{getMsgs('active')}}</th>
						<th>{{getMsgs('scheduled')}}</th>
						<th>{{getMsgs('half-a-day')}}</th>
						<th>{{getMsgs('pause-start')}}</th>
						<th>{{getMsgs('pause-end')}}</th>
						
						<th>{{getMsgs('sunday')}}</th>
						<th>{{getMsgs('monday')}}</th>
						<th>{{getMsgs('tuesday')}}</th>
						<th>{{getMsgs('wednesday')}}</th>
						<th>{{getMsgs('thursday')}}</th>
						<th>{{getMsgs('friday')}}</th>
						<th>{{getMsgs('saturday')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="pause in marketPauses">
						<td>
							<a ng-click="editMarketPause(filter.market.id, pause.marketPauseId)">
								<i class="fa fa-pencil edit-icon pr5" aria-hidden="true"></i>
								{{pause.marketPauseId}}
							</a>
						</td>
						<td>
							<input type="checkbox" ng-disabled="true" ng-model="pause.active">
						</td>
						<td>{{getFilterElById(filter.scheduledFilter, pause.scheduled).name}}</td>
						<td>
							<input type="checkbox" ng-disabled="true" ng-model="pause.halfDay">
						</td>
						<td>{{pause.pauseStart}}</td>
						<td>{{pause.pauseEnd}}</td>
						
						<td ng-repeat="i in [0, 1, 2, 3, 4, 5, 6]">
							<input type="checkbox" ng-disabled="true" ng-checked="parseValidDay(pause, i)">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="box edit-market-pause-screen" ng-if="marketPause && action">
		<div class="box-header">
			<h2 ng-if="action == 'edit'">{{getMsgs('edit-market-pause')}}</h2>
			<h2 ng-if="action == 'add'">{{getMsgs('add-market-pause')}}</h2>
		</div>
		<div class="box-body">
			<div class="table">
				<label class="table-row" ng-if="action == 'edit'">
					<span class="table-cell">{{getMsgs('id')}}</span>
					<span class="table-cell">{{marketPause.marketPauseId}}</span>
				</label>
				<label class="table-row">
					<span class="table-cell">{{getMsgs('market')}}</span>
					<span class="table-cell">
						<span ng-if="action == 'edit'">{{getMarketName(marketPause.marketId)}}</span>
						<span ng-if="action == 'add'">
							<select ng-hide="true" ng-model="edit.marketType" ng-options="marketType.id for marketType in filter.marketsTypes"></select>
							<select ng-model="marketPause.marketId" convert-to-number>
								<option ng-repeat="market in edit.marketType.markets | orderBy: sortFilter" value="{{market.id}}">{{market.name}}</option>
							</select>
						</span>
					</span>
				</label>
				<div class="table-row">
					<span class="table-cell">{{getMsgs('pause-start')}}</span>
					<span class="table-cell">
						<div class="date-holder">
							<input id="pauseStart" type="text" class="form-control" datetime-picker="HH:mm" ng-click="openCalendar($event, 'pauseStart')" ng-model="marketPause.pauseStart" is-open="filter.openDates.pauseStart" enable-date="false" datepicker-options="dateOptions" />
							<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'pauseStart')"><i class="fa fa-calendar"></i></button>
						</div>
					</span>
				</div>
				<div class="table-row">
					<span class="table-cell">{{getMsgs('pause-end')}}</span>
					<span class="table-cell">
						<div class="date-holder">
							<input id="pauseEnd" type="text" class="form-control" datetime-picker="HH:mm" ng-click="openCalendar($event, 'pauseEnd')" ng-model="marketPause.pauseEnd" is-open="filter.openDates.pauseEnd" enable-date="false" datepicker-options="dateOptions" />
							<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'pauseEnd')"><i class="fa fa-calendar"></i></button>
						</div>
					</span>
				</div>
				<label class="table-row">
					<span class="table-cell">{{getMsgs('active')}}</span>
					<span class="table-cell">
						<input type="checkbox" ng-model="marketPause.active">
					</span>
				</label>
				<label class="table-row">
					<span class="table-cell">{{getMsgs('half-a-day')}}</span>
					<span class="table-cell">
						<input type="checkbox" ng-model="marketPause.halfDay">
					</span>
				</label>
				<label class="table-row">
					<span class="table-cell">{{getMsgs('scheduled')}}</span>
					<span class="table-cell">
						<select ng-model="marketPause.scheduled" convert-to-number>
							<option ng-repeat="scheduled in filter.scheduledFilter" value="{{scheduled.id}}">{{scheduled.name}}</option>
						</select>
					</span>
				</label>
				
				<label class="table-row" ng-repeat="day in marketPause.validDaysArr">
					<span class="table-cell">{{getMsgs(weekDays[day.id])}}</span>
					<span class="table-cell">
						<input type="checkbox" ng-model="day.value">
					</span>
				</label>
			</div>
		</div>
		<div class="box-footer" ng-if="action">
			<div class="table">
				<div class="table-cell">
					<button type="button" class="button red" ng-click="$state.go('ln.admin.markets.market_pauses', {ln: $state.params.ln});">{{getMsgs('cancel')}}</button>
				</div>
				<div class="table-cell">
					<button type="button" class="button blue" ng-click="updateMarketPause()">{{getMsgs('save')}}</button>
				</div>
			</div>
		</div>
	</div>
</div>