<div ng-controller="MarketPrioritiesCtr" id="tab-content" class="market-priorities-content">
	<h1><span>{{getMsgs('market-priorities')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box market-priorities-screen">
		<div class="box-header">
			<h2>
				{{getMsgs('market-priorities')}} 
				<a class="old-link ml10" onclick="exportListCSV('markets-list');">{{getMsgs('combination.series.export')}}</a>
			</h2>
		</div>
		<div class="box-sub-header">
			<label>
				{{getMsgs('home.page.priority.skin')}}
				<select ng-model="filter.skin" ng-options="skin.name for skin in filter.skins"></select>
			</label>
			
			<button type="button" class="button blue" ng-click="getSkinMarketsPriorities()">{{getMsgs('home.page.priority.button.get.markets')}}</button>
		</div>
		<div class="box-body" ng-if="selectedSkin != ''">
			<div class="box-header">
				<button type="button" class="button blue" ng-click="updateMarketsPriorities()">{{getMsgs('home.page.priority.button.save')}}</button>
			</div>
			
			<div class="add-markets-list">
				<div class="markets-group" ng-repeat="marketGroup in allMarkets">
					<div class="markets-list-row" ng-repeat="(id, name) in marketGroup" ng-if="!marketInList(id)">
						<span>{{name}}</span>
						<button type="button" class="button green" ng-click="addMarket(id, name)">{{getMsgs('add-market-to-skin')}}</button>
					</div>
				</div>
			</div>
			
			<div ui-tree id="tree-root" class="markets-priorities-list angular-ui-tree">
				<ol ui-tree-nodes="" ng-model="markets" class="angular-ui-tree-nodes" id="markets-list">
					<li ng-repeat="item in markets" ui-tree-node class="angular-ui-tree-node">
						<div ui-tree-handle class="tree-node tree-node-content angular-ui-tree-handle">
							{{item.marketName}}
						</div>
						<span class="undo-add" ng-if="item.isNew" ng-click="undoAddMarket(item)" title="{{getMsgs('undo-add')}}">
							<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</li>
				</ol>
			</div>
			
			<div class="box-footer">
				<button type="button" type="button" class="button blue" ng-click="updateMarketsPriorities()">{{getMsgs('home.page.priority.button.save')}}</button>
			</div>
		</div>
	</div>
</div>