<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       xmlns:c="http://java.sun.com/jsp/jstl/core"
      >

<ui:composition template="/jsp/templates/template_tv_dynamic_header.xhtml">

<ui:define name="pageHeaderSkin">
	<c:if test="${salesDepositsTVForm.tvSecondScreenView == 0 || salesDepositsTVForm.tvSecondScreenView == 2}">
		<c:set var="pageH" value="1" />
	</c:if>
	<c:if test="${salesDepositsTVForm.tvSecondScreenView == 1 || salesDepositsTVForm.tvSecondScreenView == 3}">
		<c:set var="pageH" value="2" />
	</c:if>
</ui:define>

<ui:define name="pageHeaderDesc">
	<h3 align="center"><h:outputText styleClass="tv_view_header" escape="false" value="#{salesDepositsTVForm.viewName}" /></h3>
</ui:define>

<ui:define name="content">
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>

 <script>

		function startTimers() {
			var onlineTimeId = setInterval( "checkDepositUpdates()", 8000 );
			var viewsTimerId = setInterval( "replaceView()", 180000 );
			//var scrollTimerId = setInterval( "pageScroll()", 1400 );
		}

		window.onload = startTimers;

		function checkDepositUpdates() {
			var url = "ajax.jsf?TVUpdate=second";
		    var ajax = new AJAXInteraction(url, checkDepositUpdatesCallback);
			ajax.doGet();
		}

		function checkDepositUpdatesCallback(responseXML) {
	 	  var ans = responseXML.getElementsByTagName("tvRes")[0].firstChild.nodeValue;
	 	  if (ans == 'no') {
	 	  	// don't do nothing!
	 	  } else {
	 	  	// reload page
	 	  	document.getElementById("salesDepositsTVForm:searchBtn").onclick();
	 	  }
		}

		function replaceView() {
			document.getElementById("salesDepositsTVForm:searchBtn").onclick();
		}

		var lastY = -1;
		var moveY = 50;
		function pageScroll() {
			window.scrollBy(0, moveY);
			if (document.documentElement.scrollTop == lastY) {
				if (moveY > 0) {
					moveY = -50;
				} else {
					moveY = 50;
				}
			}
	    	 // horizontal and vertical scroll increments
	    	lastY = document.documentElement.scrollTop;
		}

	</script>


    <h:panelGroup>
        <h:form id="salesDepositsTVForm">

			<h:panelGrid border="0" columns="1">
				<t:commandLink border="0" id="searchBtn" action="#{salesDepositsTVForm.searchTV2NextView}" styleClass="hidden_link">
			        <h:outputText value="" />
		  		</t:commandLink>
			</h:panelGrid>

			<h:panelGroup rendered="#{null != salesDepositsTVForm.repName &amp;&amp; null != salesDepositsTVForm.repDepositAmount}" >
				<table border="0" cellpadding="0" cellspacing="0" width="600px" height="500px" align="center" class="table_tv_border">
					<tr align="center" valign="top" height="356px">
						<td valign="top"><img src="#{facesContext.externalContext.requestContextPath}/images/clappinghands.gif" border="0" height="356px" width="340px"/></td>
					</tr>
					<tr align="center" valign="top" height="35px" >
						<td height="35px" valign="top" align="center">&#160;<h:outputLabel styleClass="depositor_lable" value="Good job" style="color:black;"/>&#160;<h:outputLabel styleClass="depositor_lable" value="#{salesDepositsTVForm.repName}" style="color:red;"/>&#160;<h:outputLabel styleClass="depositor_lable" value="you made" style="color:black;"/>&#160;<h:outputLabel styleClass="depositor_lable" value="#{salesDepositsTVForm.repDepositAmount}" style="color:red;"/></td>
					</tr>
					<tr align="center" valign="top" height="35px">
						<td height="35px" valign="top" align="center"><h:outputLabel styleClass="depositor_lable" value="Keep up the good work" style="color:black;"/></td>
					</tr>
				</table>
				<h:panelGroup rendered="#{salesDepositsTVForm.conversionDeposit}">
					<embed hidden="true" src="#{facesContext.externalContext.requestContextPath}/sounds/conversion.wav" title="Claps" autostart="true" loop="false"></embed>
				</h:panelGroup>
				<h:panelGroup rendered="#{!salesDepositsTVForm.conversionDeposit}">
					<embed hidden="true" src="#{facesContext.externalContext.requestContextPath}/sounds/retention.wav" title="Claps" autostart="true" loop="false"></embed>
				</h:panelGroup>
				<br/>
			</h:panelGroup>

		<h:panelGrid width="90%" align="center">
		   	<t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_SortHeader"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                rows=""
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
				varDetailToggler="detailToggler"
                value="#{salesDepositsTVForm.conTotalsRow}">

				<t:column>
	               <h:outputText  value="#{v.writerName}" />
	           </t:column>

				<t:column>
	               <f:facet name="header">
				       <h:outputText value="#{msgs['sales.deposit.tv.overall.conversions']}"/>
	               </f:facet>
	               <h:outputText value="#{v.conTranMadeCount}" />
	           </t:column>

				<t:column>
	               <f:facet name="header">
				       <h:outputText value="#{msgs['sales.deposit.tv.overall.conversion.amount']}"/>
	               </f:facet>
	               <h:outputText value="#{v.conTranMadeSum}" />
	           </t:column>
	           
	           <t:column>
	               <f:facet name="header">
				       <h:outputText value="#{msgs['sales.deposit.tv.overall.turnover']}"/>
	               </f:facet>
	               <h:outputText value="#{v.conTranMadeAvg}" />
	           </t:column>

	      	 </t:dataTable>
	      	 <br/><br/>
     	</h:panelGrid>


		<h:panelGrid width="90%" align="center">
		   	<t:dataTable id="data1"
                styleClass="scrollerTable"
                headerClass="standardTable_SortHeader"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
                var="v"
                rows=""
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
				varDetailToggler="detailToggler"
                value="#{salesDepositsTVForm.totalsList}">

				<t:column>
	               <f:facet name="header">
				       <h:outputText value=" "/>
	               </f:facet>
	               <h:panelGroup rendered="#{v.repNumb &lt;= 3 &amp;&amp; v.rowType == 0 &amp;&amp; v.retTranMadeCount != 0}" >
		               <table width="100%" height="1px" cellpadding="0" cellspacing="0" bgcolor="yellow"><tr><td width="100%" height="1px"> <h:outputText value="#{v.repNumb}" style="color:black;" /></td></tr></table>
 						</h:panelGroup>
	               <h:outputText rendered="#{(v.repNumb &gt; 3 &amp;&amp; v.rowType == 0) || v.retTranMadeCount == 0}" value="#{v.repNumb}" />
	               <h:panelGroup rendered="#{v.rowType == 1}" >
		               <table width="100%" height="1px" cellpadding="0" cellspacing="0" bgcolor="red"><tr><td width="100%" height="1px" style="font-size:3px;">&#160;</td></tr></table>
		           </h:panelGroup>
					<h:panelGroup rendered="#{v.rowType == 2}" >
		               <table width="100%" cellpadding="0" cellspacing="0" background="#{facesContext.externalContext.requestContextPath}/images/animBack.gif"><tr><td width="100%"><h:outputText value="#{v.repNumb}" styleClass="blinkRow" /></td></tr></table>
		           </h:panelGroup>
	           </t:column>

				<t:column>
	               <f:facet name="header">
				       <h:outputText value="#{msgs['sales.deposit.tv.rep']}"/>
	               </f:facet>
	               <h:panelGroup rendered="#{v.repNumb &lt;= 3 &amp;&amp; v.rowType == 0 &amp;&amp; v.retTranMadeCount != 0}" >
		               <table width="100%" height="1px" cellpadding="0" cellspacing="0" bgcolor="yellow"><tr><td width="100%" height="1px"> <h:outputText value="#{v.writerName}" style="color:black;" /></td></tr></table>
					</h:panelGroup>
	               <h:outputText rendered="#{(v.repNumb &gt; 3 &amp;&amp; v.rowType == 0) || v.retTranMadeCount == 0}" value="#{v.writerName}" />
	               <h:panelGroup rendered="#{v.rowType == 1}" >
		               <table width="100%" height="1px" cellpadding="0" cellspacing="0" bgcolor="red"><tr><td width="100%" height="1px" style="font-size:3px;">&#160;</td></tr></table>
		           </h:panelGroup>
					<h:panelGroup rendered="#{v.rowType == 2}" >
		               <table width="100%" cellpadding="0" cellspacing="0" background="#{facesContext.externalContext.requestContextPath}/images/animBack.gif"><tr><td width="100%"><h:outputText value="#{v.writerName}" styleClass="blinkRow" /></td></tr></table>
		           </h:panelGroup>
	           </t:column>

				<t:column>
	               <f:facet name="header">
				       <h:outputText value="#{msgs['sales.deposit.tv.count']}"/>
	               </f:facet>
	               <h:panelGroup rendered="#{v.repNumb &lt;= 3 &amp;&amp; v.rowType == 0 &amp;&amp; v.retTranMadeCount != 0}" >
		               <table width="100%" height="1px" cellpadding="0" cellspacing="0" bgcolor="yellow"><tr><td width="100%" height="1px"> <h:outputText value="#{v.retTranMadeCount}" style="color:red;" /></td></tr></table>
					</h:panelGroup>
	               <h:outputText rendered="#{(v.repNumb &gt; 3 &amp;&amp; v.rowType == 0) || v.retTranMadeCount == 0}" value="#{v.retTranMadeCount}" />
	               <h:panelGroup rendered="#{v.rowType == 1}" >
		               <table width="100%" height="1px" cellpadding="0" cellspacing="0" bgcolor="red"><tr><td width="100%" height="1px" style="font-size:3px;">&#160;</td></tr></table>
		           </h:panelGroup>
					<h:panelGroup rendered="#{v.rowType == 2}" >
		               <table width="100%" cellpadding="0" cellspacing="0" background="#{facesContext.externalContext.requestContextPath}/images/animBack.gif"><tr><td width="100%"><h:outputText value="#{v.retTranMadeCount}" styleClass="blinkRow" /></td></tr></table>
		           </h:panelGroup>
	           </t:column>

				<t:column>
	               <f:facet name="header">
				       <h:outputText value="#{msgs['sales.deposit.tv.sum']}"/>
	               </f:facet>
	               <h:panelGroup rendered="#{v.repNumb &lt;= 3 &amp;&amp; v.rowType == 0 &amp;&amp; v.retTranMadeCount != 0}" >
		               <table width="100%" height="1px" cellpadding="0" cellspacing="0" bgcolor="yellow"><tr><td width="100%" height="1px"> <h:outputText value="#{v.retTranMadeSum}" style="color:red;" /></td></tr></table>
					</h:panelGroup>
	               <h:outputText rendered="#{(v.repNumb &gt; 3 &amp;&amp; v.rowType == 0) || v.retTranMadeCount == 0}" value="#{v.retTranMadeSum}" />
	               <h:panelGroup rendered="#{v.rowType == 1}" >
		               <table width="100%" height="1px" cellpadding="0" cellspacing="0" bgcolor="red"><tr><td width="100%" height="1px" style="font-size:3px;">&#160;</td></tr></table>
		           </h:panelGroup>
					<h:panelGroup rendered="#{v.rowType == 2}" >
		               <table width="100%" cellpadding="0" cellspacing="0" background="#{facesContext.externalContext.requestContextPath}/images/animBack.gif"><tr><td width="100%"><h:outputText value="#{v.retTranMadeSum}" styleClass="blinkRow" /></td></tr></table>
		           </h:panelGroup>
	           </t:column>

	            <t:column>
	               <f:facet name="header">
				       <h:outputText value="#{msgs['sales.deposit.tv.turnover']}"/>
	               </f:facet>
	               <h:panelGroup rendered="#{v.repNumb &lt;= 3 &amp;&amp; v.rowType == 0 &amp;&amp; v.retTranMadeCount != 0}" >
		               <table width="100%" height="1px" cellpadding="0" cellspacing="0" bgcolor="yellow"><tr><td width="100%" height="1px"> <h:outputText value="#{v.retTranTurnoverSum}" style="color:red;" /></td></tr></table>
					</h:panelGroup>
	               <h:outputText rendered="#{(v.repNumb &gt; 3 &amp;&amp; v.rowType == 0) || v.retTranMadeCount == 0}" value="#{v.retTranTurnoverSum}" />
	               <h:panelGroup rendered="#{v.rowType == 1}" >
		               <table width="100%" height="1px" cellpadding="0" cellspacing="0" bgcolor="red"><tr><td width="100%" height="1px" style="font-size:3px;">&#160;</td></tr></table>
		           </h:panelGroup>
					<h:panelGroup rendered="#{v.rowType == 2}" >
		               <table width="100%" cellpadding="0" cellspacing="0" background="#{facesContext.externalContext.requestContextPath}/images/animBack.gif"><tr><td width="100%"><h:outputText value="#{v.retTranTurnoverSum}" styleClass="blinkRow" /></td></tr></table>
		           </h:panelGroup>
	           </t:column>

	      	 </t:dataTable>
	     </h:panelGrid>

      	</h:form>
	</h:panelGroup>

</ui:define>
</ui:composition>
</html>