<div ng-controller="CallStatusCtr" id="tab-content" class="content calls-status-content">
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box calls-status-screen">
		<div class="box-sub-header">
			<label for="startDate">
				{{getMsgs('from')}}
			</label>
			<div class="date-holder">
				<input id="startDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-click="openCalendar($event, 'startDate')" ng-model="filter.startDate" is-open="filter.openDates.startDate" enable-time="false" min-date="filter.minDate" max-date="filter.endDate" datepicker-options="dateOptions" />
				<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startDate')"><i class="fa fa-calendar"></i></button>
			</div>
			<label for="endDate" class="ml10">
				{{getMsgs('to')}}
			</label>
			<div class="date-holder">
				<input id="endDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-click="openCalendar($event, 'endDate')" ng-model="filter.endDate" is-open="filter.openDates.endDate" enable-time="false" min-date="filter.startDate" max-date="filter.maxDate" datepicker-options="dateOptions" />
				<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'endDate')"><i class="fa fa-calendar"></i></button>
			</div>

			<label class="ml10">
				{{getMsgs('retention.user.rank')}}
				<select ng-model="filter.userRank" ng-options="userRank.name for userRank in filter.userRanks | orderBy:sortFilter"></select>
			</label>

			<label ng-if="permissions.get('callStatus_manager')">
				{{getMsgs('representative')}}
				<select ng-model="filter.representative" ng-options="representative.name for representative in filter.representatives | orderBy:sortFilter"></select>
			</label>

			<label ng-if="permissions.get('callStatus_manager')">
				{{getMsgs('skin')}}
				<select ng-model="filter.skin" ng-options="skin.name for skin in filter.skins | orderBy:sortFilter"></select>
			</label>

			<button type="button" class="button blue" ng-click="getSalesCallStatusRepresentatives()">{{getMsgs('search')}}</button>
		</div>
		<div class="box-body" ng-if="representatives && representatives.length > 0">
			<table class="pretty-table" cellpadding="0" cellspacing="0"> 
				<thead>
					<tr>
						<th>{{getMsgs('representative')}}</th>
						<th>{{getMsgs('calls-status.calls.not-reached')}}</th>
						<th>{{getMsgs('calls-status.calls.reached')}}</th>
						<th>{{getMsgs('calls-status.not-calls')}}</th>
						<th>{{getMsgs('calls-status.daily-avarage')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="representative in representatives">
						<td>{{representative.repName}}</td>
						<td>{{representative.callsNotReached}}</td>
						<td>{{representative.callsReached}}</td>
						<td>{{representative.notCalled}}</td>
						<td>{{representative.dailyAverage}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer" ng-if="representatives && representatives.length > 0">
			<div onload="pagination = pagination" ng-include="folderPrefix + 'components/pagination.html'"></div>
		</div>
	</div>
</div>