<div ng-controller="CountryConfigurationCtr" id="tab-content" class="content country-configuration-content">
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box country-configuration-screen">
		<div class="box-header"><h2>{{getMsgs('country-configuration')}}</h2></div>
		<div class="box-body">
			<table class="pretty-table" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>{{getMsgs('country')}}</th>
						<th>{{getMsgs('country-group')}}</th>
						<th>{{getMsgs('country-quality')}}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="country in countries" ng-form="_form">
						<td>{{getFilterElById(filter.countries, country.countryId).name}}</td>
						<td>
							<select ng-model="country.countriesGroupTypeId" convert-to-number>
								<option ng-repeat="(key, value) in countriesGroupTypes" value="{{key}}">{{value}}</option>
							</select>
						</td>
						<td>
							<select ng-model="country.countriesGroupTierId" convert-to-number>
								<option ng-repeat="(key, value) in countriesGroupTiers" value="{{key}}">{{getMsgs(value)}}</option>
							</select>
						</td>
						<td>
							<button type="button" class="button blue" ng-disabled="!_form.$dirty" ng-click="updateCountryGroup(country, _form)">{{getMsgs('save')}}</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>