<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"
	      
 		  locale="#{writer.localInfo.locale}">


<BODY >
	<style type="text/css">
		.multipleSelectBoxControl span{	/* Labels above select boxes*/
			font-family:arial;
			font-size:11px;
			font-weight:bold;
		}
		.multipleSelectBoxControl div select{	/* Select box layout */
			font-family:arial;
			height:100%;
		}
		.multipleSelectBoxControl input{	/* Small butons */
			width:30px;
		}

		.multipleSelectBoxControl div{
			float:left;
		}

		.multipleSelectBoxDiv
	</style>
<h:panelGroup rendered="#{formName.affiliatesEmpty}">
	<script>
			window.opener.changeColor('black','populationsEntriesForm:affiliatesButton');
	</script>
</h:panelGroup>
<h:panelGroup rendered="#{!formName.affiliatesEmpty}">
	<script>
			window.opener.changeColor('blue','populationsEntriesForm:affiliatesButton');
	</script>
</h:panelGroup>
	<t:messages id="messages"/>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/multipleSelectBox.js"></script>
    <h:form id="populationsEntriesForm">

		<h:panelGrid columns="2">
			<h:selectManyListbox id="fromBox" value="#{formName.affiliatesKeys}">
				<f:selectItems value="#{formName.affiliateNameAndKeySI}" />
			</h:selectManyListbox>
			<h:selectManyListbox id="toBox" value="#{formName.affiliatesKeys}">
				<f:selectItems value="#{formName.affiliateNameAndKeySI}" />
			</h:selectManyListbox>
		</h:panelGrid>

		<h:panelGrid align="center" columns="3" border="0" >
	     	<INPUT type="button" onClick="multipleSelectOnSubmit(this);" value="#{msgs['button.save']}" />
	     	<h:panelGrid witdh="40"/>
	     	<INPUT type="button" onClick="window.close();" value="#{msgs['button.cancel']}" />
	     	<h:inputHidden id="include" value="#{formName.includeAffiliates}"/>
		</h:panelGrid>

		<h:selectBooleanCheckbox id="checkLowPriority"  onclick="moveByPriority('Low');" />
        	<h:outputText styleClass="standardTable_Header" value="#{msgs['issues.priority.low']}"/><br/>
		<h:selectBooleanCheckbox id="checkMediumPriority"  onclick="moveByPriority('Medium');" />
        	<h:outputText styleClass="standardTable_Header" value="#{msgs['issues.priority.medium']}"/><br/>
        <h:selectBooleanCheckbox id="checkHighPriority"  onclick="moveByPriority('High');" />
        	<h:outputText styleClass="standardTable_Header" value="#{msgs['issues.priority.high']}"/><br/>
	</h:form>
	<script type="text/javascript">
		createMovableOptions("populationsEntriesForm:fromBox","populationsEntriesForm:toBox",500,300,'Include','Exclude');
	</script>
</BODY>
</f:view>