<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

	<ui:composition template="/jsp/templates/template_general.xhtml">
		<ui:define name="content">
			#{immediateTreatmentForm.initCallMeList}
			#{user.goRetention}
			<t:saveState value="#{immediateTreatmentForm}" />
			<h:panelGroup>
				<t:saveState value="#{immediateTreatmentForm}" />
				<h:form id="immediateTreatmentForm">
		   			<t:dataTable id="data"
		                styleClass="scrollerTable"
		                headerClass="standardTable_SortHeader"
		                footerClass="standardTable_Header"
		                rowClasses="standardTable_Row1,standardTable_Row2"
		                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
		                var="v"
		                rows="#{immediateTreatmentForm.salesPageSize}"
		                renderedIfEmpty="false"
		                cellpadding="0"
		                cellspacing="1"
		                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
						varDetailToggler="detailToggler"
		                value="#{immediateTreatmentForm.callMeList}">
		   			           <h:column>
		  							<f:facet name="header">
		   								<h:outputText value="#{msgs['general.user.id']}"/>
		   							</f:facet>
		   							<h:outputText value="#{v.userId}" style="font-weight: bold;color:#FF0000;}"/>
		   						</h:column>
		   						<h:column>
		  							<f:facet name="header">
		   								<h:outputText value="#{msgs['population.entry.language']}"/>
		   							</f:facet>
		   							<h:outputText value="#{v.language}" style="font-weight: bold;color:#FF0000;}"/>
		   						</h:column>
		   						<h:column>
		  							<f:facet name="header">
		   								<h:outputText value="#{msgs['retention.column.country']}"/>
		   							</f:facet>
		   							<h:outputText value="#{v.countryWithOffsetDiff}" style="font-weight: bold;color:#FF0000;}"/>
		   						</h:column>
		   						<h:column>
		  							<f:facet name="header">
		   								<h:outputText value="#{msgs['menu.retention.population.status']}"/>
		   							</f:facet>
		   							<h:outputText value="#{v.statusName}" style="font-weight: bold;color:#FF0000;}"/>
		   						</h:column>
		   						<h:column>
		  							<f:facet name="header">
		   								<h:outputText value="#{msgs['menu.retention.call.me.date.and.time']}"/>
		   							</f:facet>
		   							<h:outputText value="#{v.callBackTime}" style="font-weight: bold;color:#FF0000;}"/>
		   						</h:column>
	           		</t:dataTable>

	           		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
		            <t:dataScroller id="scroll_1"
		                    for="data"
		                    fastStep="10"
		                    pageCountVar="pageCount"
		                    pageIndexVar="pageIndex"
		                    paginator="true"
		                    paginatorMaxPages="9"
		                    styleClass="scroller"
		                    paginatorActiveColumnClass="paginator_active"
		                    paginatorColumnClass="paginator"
		                    paginatorTableClass="paginator"
		                    immediate="true"
		                    paginatorRenderLinkForActive="false"
							renderFacetsIfSinglePage="false"
							rendered="#{immediateTreatmentForm.callMeListRowsNumber > 10}"
		                    >
			                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
		            </t:dataScroller>
		        </h:panelGrid>
				</h:form>
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</html>