<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

 <SCRIPT LANGUAGE="JavaScript" >
		function handleAssignClick(elm) {
			var repLable = document.getElementById("callbacksForm:repLable");
			var repid = document.getElementById("callbacksForm:repId");
			if (elm.checked) {
				repLable.style.display="inline";
				repid.style.display="inline";
			} else {
				repLable.style.display="none";
				repid.style.display="none";
			}
		}

		function gettext(msgType) {
			switch(msgType)
			{
			case 0:
				out='#{msgs['retention.assign.cancel.confirm']}';
				break
			case 1:
			 	out='#{msgs['retention.reassign.cancel.confirm']}';
		  		break
		  	case 2:
			 	out='#{msgs['retention.cancelAssign.cancel.confirm']}';
		  		break
		  	case 3:
			 	out='#{msgs['retention.submit.assign.confirm']}';
		  		break
			}
			return out;
		}

		function confirmit(msgType) {
			if (!confirm(gettext(msgType))) {
				return false;
			}
			return true;
		}

		function activateSearchUser(id) {
			  if (event.keyCode==13) {
				document.getElementById('callbacksForm:searchBtn').focus();
			  }
			  else {
				  	if(id=="callbacksForm:userId") {
				  		document.getElementById("callbacksForm:username").value = "";
				  		document.getElementById("callbacksForm:contactId").value = "";
				  	}
				  	if(id=="callbacksForm:contactId") {
				  		document.getElementById("callbacksForm:userId").value = "";
				  		document.getElementById("callbacksForm:username").value = "";
				  	}
				  	if(id=="callbacksForm:username") {
				  		document.getElementById("callbacksForm:userId").value = "";
				  		document.getElementById("callbacksForm:contactId").value = "";
				  	}
  			  }
  	    }
  	    
  	    function handleSalesTypeClick(needToSetTeamId) {
			var retentionTeamLable = document.getElementById("callbacksForm:retentionTeamLable");
			var retentionTeamId = document.getElementById("callbacksForm:retentionTeamId");
			var retentionCheckBox = document.getElementById("callbacksForm:conOrRet:1");
			
			if (retentionCheckBox.checked) {
				retentionTeamLable.style.display="inline";
				retentionTeamId.style.display="inline";
				if (needToSetTeamId) {
					retentionTeamId.selectedIndex = 2;
				}
			} else {
				retentionTeamLable.style.display="none";
				retentionTeamId.style.display="none";
				retentionTeamId.selectedIndex = 0;
			}
		}

  </SCRIPT>
  <script src="#{facesContext.externalContext.requestContextPath}/js/datetimepicker_css.js" type="text/javascript"></script>

<t:saveState value="#{callbacksForm}" />

<h:form id="callbacksForm">

	<h:panelGrid border="0" columns="8">
			<h:outputLabel for="from" value="#{msgs['callbacks.from']}"/>
			<h:panelGrid border="0" columns="3">
				<h:inputText styleClass="input_text" id="from" value="#{callbacksForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['callbacksForm'].elements['callbacksForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
		    	<A HREF="#" onClick="cal.select(document.forms['callbacksForm'].elements['callbacksForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

	        <h:outputLabel for="to" value="#{msgs['tracking.to']}"/>
			<h:panelGrid border="0" columns="3">
  					<h:inputText styleClass="input_text" id="to" value="#{callbacksForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['callbacksForm'].elements['callbacksForm:to'],'anchor2','dd/MM/yyyy'); return false;">
    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				</h:inputText>
				<A HREF="#" onClick="cal.select(document.forms['callbacksForm'].elements['callbacksForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
					<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				</A>
				<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

	   		<h:outputLabel rendered="#{user.retentionMSelected}" for="skinId" value="#{msgs['population.entry.skin']}"/>
   			<h:selectOneMenu rendered="#{user.retentionMSelected}" id="skinId" value="#{callbacksForm.skinId}" style="width:105px">
   				<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
	   		</h:selectOneMenu>

	   		<h:outputText value="#{msgs['issues.priority']}"/>
           	<h:selectOneMenu id="priorityId" value="#{callbacksForm.priorityId}"  >
        		<f:selectItem  itemLabel="" itemValue="" />
        		<f:selectItems value="#{writer.issuePrioritiesSI}" />
           	</h:selectOneMenu>
	</h:panelGrid>
	<h:panelGrid border="0" columns="13">
				<h:panelGroup rendered="#{user.retentionMSelected}" >
					<h:outputLabel for="countriesList" value="#{msgs['retention.assign.entries']}"/>
					<t:selectBooleanCheckbox readonly="false" id="assignCB" value="#{callbacksForm.assignFilter}" onclick="handleAssignClick(this);" />
					<t:outputLabel id="repLable" for="repId" value="#{msgs['retention.assign.representative']} " />
					<t:selectOneMenu id="repId" value="#{callbacksForm.writerFilter}" >
					    <f:selectItems value="#{writer.assignedRepList}" />
					</t:selectOneMenu>
				</h:panelGroup>

           	<h:outputLabel for="userId" value="#{msgs['population.entry.user.id']}"/>
	   		<t:inputText id="userId" size="10" styleClass="input_text"
	   				value="#{callbacksForm.userId}"
	   				onkeydown="activateSearchUser(id);"/>

			<h:outputLabel for="username" value="#{msgs['population.entry.user.username']}"/>
	   		<t:inputText id="username" size="10" styleClass="input_text"
	   				value="#{callbacksForm.username}"
	   				onkeydown="activateSearchUser(id);"/>

			<h:outputLabel for="contactId" value="#{msgs['population.entry.contact.id']}"/>
   			<t:inputText id="contactId" size="10" styleClass="input_text"
   				value="#{callbacksForm.contactId}"
   				onkeydown="activateSearchUser(id);"/>
   				
   			<h:outputLabel value="#{msgs['retention.writer.from']}" />
			<h:panelGrid border="0" columns="3">
				<h:inputText styleClass="input_text" id="fromLogin" value="#{callbacksForm.fromLogin}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['callbacksForm'].elements['callbacksForm:fromLogin'],'anchor3','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
		    	<A HREF="#" onClick="cal.select(document.forms['callbacksForm'].elements['callbacksForm:fromLogin'],'anchor3','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor3" ID="anchor3">
	       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromLoginError" for="fromLogin" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:panelGrid border="0" columns="3">
  					<h:inputText styleClass="input_text" id="toLogin" value="#{callbacksForm.toLogin}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['callbacksForm'].elements['callbacksForm:toLogin'],'anchor4','dd/MM/yyyy'); return false;">
    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				</h:inputText>
				<A HREF="#" onClick="cal.select(document.forms['callbacksForm'].elements['callbacksForm:toLogin'],'anchor4','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor4" ID="anchor4">
					<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				</A>
				<t:message id="toLoginError" for="toLogin" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>	

			<h:panelGroup rendered="#{user.retentionMSelected}" >
				<h:selectOneRadio id="conOrRet" value="#{callbacksForm.salesType}" onclick="handleSalesTypeClick(true);" >
					<f:selectItem id="con" itemLabel="#{msgs['menu.convertion']}" itemValue="1"/>
					<f:selectItem id="ret" itemLabel="#{msgs['menu.retention']}" itemValue="2"/>
				</h:selectOneRadio>
			</h:panelGroup>
			<h:panelGroup rendered="#{user.retentionMSelected}" >
			   	<t:outputLabel id="retentionTeamLable" for="retentionTeamId" value="#{msgs['retention.teams']}" style="display:none"/>
	           	<t:selectOneMenu id="retentionTeamId" value="#{callbacksForm.retentionTeamId}" style="display:none">
					<f:selectItems value="#{writer.retentionTeamsSI}" />
	           	</t:selectOneMenu>
	       	</h:panelGroup>
			<t:commandLink id="searchBtn" action="#{callbacksForm.updateList}">
				<h:outputText value="#{msgs['button.search']}" />
			</t:commandLink>
	</h:panelGrid>

	<h:panelGrid width="100%">
			    <t:dataTable id="data"
			            styleClass="scrollerTable"
			            headerClass="standardTable_Header"
			            footerClass="standardTable_Header"
			            rowClasses="standardTable_Row1,standardTable_Row2"
			            columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered"
			            var="v"
			            preserveDataModel="false"
			            rows="#{user.rowsByMenu}"
			            renderedIfEmpty="false"
			            cellpadding="0"
			            cellspacing="1"
			            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
			            value="#{callbacksForm.list}">

				   <h:column>
		               <f:facet name="header">
					       <h:outputText value="#{msgs['population.entry.lock']}"/>
		               </f:facet>
		               <t:commandLink rendered="#{!v.entryLocked}" action="#{callbacksForm.lockEntry}" immediate="true">
		               		<img src="#{facesContext.externalContext.requestContextPath}/images/notlocked.png" alt="" align="top" width="20" height="19" border="0"/>
		               		<f:setPropertyActionListener target="#{callbacksForm.populationEntry}" value="#{v}" />
						</t:commandLink>
						<t:commandLink rendered="#{v.entryLocked}" action="#{callbacksForm.unLockEntry}" immediate="true">
		               		<img src="#{facesContext.externalContext.requestContextPath}/images/locked.jpg" alt="" align="top" width="20" height="19" border="0"/>
		               		<f:setPropertyActionListener target="#{callbacksForm.populationEntry}" value="#{v}" />
						</t:commandLink>
		           </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.userid']}"/>
			           </f:facet>
			              <h:outputText value="#{v.userId}" title="User Name: #{v.populationUserName}"/>
			              <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/#{v.specialCare.image}" rendered="#{v.specialCare.specialCare}" border="0"/>
			       </h:column>

		           <h:column rendered="#{user.retentionMSelected}">
		               <f:facet name="header">
			               <t:outputText value="#{msgs['population.entry.contact.id']}"/>
		               </f:facet>
		                   <h:outputText value="#{v.contactId}" title="User Name: #{v.populationUserName}" />
		           </h:column>

  			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.language']}"/>
			           </f:facet>
			              <h:outputText value="#{v.language}" />
			       </h:column>

		           <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['population.entry.country']}"/>
		               </f:facet>
		               <h:outputText value="#{v.countryWithOffsetDiff}"/>
		           </h:column>

			       <h:column rendered="#{user.retentionMSelected}">
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.qualificationtime']}"/>
			           </f:facet>
			              <h:outputText escape="false" value="#{v.qualificationTimeTxt}" />
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.populationnow']}"/>
			           </f:facet>
			              <h:outputText value="#{v.currPopulationName}" />
			       </h:column>
		   		   <h:column>
		      			<f:facet name="header">
		      				<h:outputText value="#{msgs['retention.user.status']}"/>
		   				</f:facet>
		   				<h:outputText value="#{v.userStatusTxt}"/>
		   		   </h:column>
		   		   <h:column>
		      			<f:facet name="header">
		      				<h:outputText value="#{msgs['retention.user.rank']}"/>
		   				</f:facet>
		   				<h:outputText value="#{v.userRankTxt}"/>
		   		   </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.populationCB']}"/>
			           </f:facet>
			              <h:outputText value="#{v.oldPopulationName}" />
			       </h:column>
				   <h:column>
		               <f:facet name="header">
		               		<h:outputText value="#{msgs['population.entry.time.last.login']}"/>
		               </f:facet>
		               <h:outputText value="#{v.timeLastLoginTxt}" escape="false"/>
		           	   <h:graphicImage rendered="#{v.lastLoginHighlight}" title="#{v.lastLoginText}" value="/images/eye-icon.gif"/>
		           </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.timeCB']}"/>
			           </f:facet>
			              <h:outputText escape="false" value="#{v.callBackTime}">
			              	<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{v.callBackTimeOffset}" />
			              </h:outputText>
			       </h:column>

			       <h:column rendered="#{user.retentionMSelected}">
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.lastCallWriter']}"/>
			           </f:facet>
			              <h:outputText escape="false" value="#{v.oldPeWriter}" />
			       </h:column>

                   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['population.entry.last.call.time']}"/>
		               </f:facet>
		               <h:outputText value="#{v.cbLastCallTimeTxt}" style="font-weight: bold;color: #{v.rowColor}" escape="false" />
		           </h:column>

               	   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['menu.retention.call.me.last.deposit.time']}"/>
		               </f:facet>
		               <h:outputText value="#{v.lastDepositTime}"/>
		           </h:column>
		           
				   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['population.entry.phone.number']}"/>
		               </f:facet>
		               <u><h:outputText value="#{v.phone}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" /></u>
		           </h:column>

			       <h:column rendered="#{user.retentionMSelected}">
		               <f:facet name="header">
			               <h:outputText value="#{msgs['retention.assign.representative']}"/>
		               </f:facet>
		               <h:panelGrid columns="3">
				   			<h:selectOneMenu style="height:20px;font-size:10px;font-weight:bold;vertical-align:middle;width:90px" immediate="true" id="assignWriterId"
				   				value="#{v.tempAssignWriterId}" >
				   				<f:selectItems value="#{v.writersToAssign}" />
					   		</h:selectOneMenu>

					   		 <t:commandButton disabled="#{v.assignToWriter}" align="middle" id="assignBtn"
					   		 		action="#{callbacksForm.assign}" alt="assign" image="/images/assigned.gif" onclick="if(!confirmit(0)) return false;">
			 			   		 <f:setPropertyActionListener target="#{callbacksForm.populationEntry}" value="#{v}" />
					 		</t:commandButton>

					   		 <t:commandButton disabled="#{!v.assignToWriter}" align="middle" id="rsassignBtn"
					   		 		action="#{callbacksForm.reAssign}" alt="reAssign" height="19px" image="/images/reassigned.gif" onclick="if(!confirmit(1)) return false;">
			 			   		 <f:setPropertyActionListener target="#{callbacksForm.populationEntry}" value="#{v}" />
					 		</t:commandButton>
					 	</h:panelGrid>
	           		</h:column>

			     </t:dataTable>

			 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    paginatorRenderLinkForActive="false"
						renderFacetsIfSinglePage="false"
						rendered="#{callbacksForm.listSize>10}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            </t:dataScroller>

	        </h:panelGrid>

	        <h:panelGrid columns="2">
				<h:outputLabel for="rowsNum" value="#{msgs['population.entry.rows.number']}"/>
	   			<h:outputLabel immediate="true" id="rowsNum" value="#{callbacksForm.listSize} "/>
			</h:panelGrid>
			<h:panelGrid border="0" columns="1" rendered="#{user.retentionMSelected}">
		  		<t:commandLink action="#{callbacksForm.exportCallBacksResultToMail}">
		       		<h:outputText value="#{msgs['callback.report.export']}" />
		  		</t:commandLink>
			</h:panelGrid>
	</h:panelGrid>
</h:form>
    <h:panelGroup rendered="#{user.retentionMSelected}" >
		<script>
			handleAssignClick(document.getElementById("callbacksForm:assignCB"));
		</script>
	</h:panelGroup>
	<SCRIPT LANGUAGE="JavaScript" >
		handleSalesTypeClick(false);
	</SCRIPT>
</ui:define>
</ui:composition>

</html>