<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/jsp/templates/template_general_retention.xhtml">

<ui:define name="content">
	#{user.goRetention}
    <ui:include src="/jsp/retention/entryStripContent.xhtml"/>
</ui:define>
</ui:composition>

</html>



