<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

	<ui:composition template="/jsp/templates/template_general.xhtml">
		<ui:define name="content">
			#{immediateTreatmentForm.initTransactionsList}
			#{user.goRetention}
			<t:saveState value="#{immediateTreatmentForm}" />
			<h:panelGroup>
				<t:saveState value="#{immediateTreatmentForm}" />
				<h:form id="immediateTreatmentForm">
		   			<t:dataTable id="data"
		                styleClass="scrollerTable"
		                headerClass="standardTable_SortHeader"
		                footerClass="standardTable_Header"
		                rowClasses="standardTable_Row1,standardTable_Row2"
		                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
		                var="v"
		                rows="#{immediateTreatmentForm.salesPageSize}"
		                renderedIfEmpty="false"
		                cellpadding="0"
		                cellspacing="1"
		                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
						varDetailToggler="detailToggler"
		                value="#{immediateTreatmentForm.entriesWithOpenWithdrawList}">
            					<h:column>
					               <f:facet name="header">
								       <h:outputText value="#{msgs['population.entry.lock']}"/>
					               </f:facet>
					               <t:commandLink rendered="#{!v.entryLocked}" action="#{immediateTreatmentForm.lockEntry}" immediate="true">
					               		<img src="#{facesContext.externalContext.requestContextPath}/images/notlocked.png" alt="" align="top" width="20" height="19" border="0"/>
					               		<f:setPropertyActionListener target="#{immediateTreatmentForm.populationEntry}" value="#{v}" />
									</t:commandLink>
									<t:commandLink rendered="#{v.entryLocked}" action="#{immediateTreatmentForm.unLockEntry}" immediate="true">
					               		<img src="#{facesContext.externalContext.requestContextPath}/images/locked.jpg" alt="" align="top" width="20" height="19" border="0"/>
					               		<f:setPropertyActionListener target="#{immediateTreatmentForm.populationEntry}" value="#{v}" />
									</t:commandLink>
					           </h:column>
		   			           <h:column>
		  							<f:facet name="header">
		   								<h:outputText value="#{msgs['general.user.id']}"/>
		   							</f:facet>
		   							<h:outputText value="#{v.userId}" style="font-weight: bold;color:#FF0000;}"/>
		   						</h:column>
		   						<h:column>
		  							<f:facet name="header">
		   								<h:outputText value="#{msgs['population.entry.language']}"/>
		   							</f:facet>
		   							<h:outputText value="#{v.language}" style="font-weight: bold;color:#FF0000;}"/>
		   						</h:column>
		   						<h:column>
		  							<f:facet name="header">
		   								<h:outputText value="#{msgs['retention.column.country']}"/>
		   							</f:facet>
		   							<h:outputText value="#{v.countryWithOffsetDiff}" style="font-weight: bold;color:#FF0000;}"/>
		   						</h:column>
		   						<h:column>
		  							<f:facet name="header">
		   								<h:outputText value="#{msgs['menu.retention.population.status']}"/>
		   							</f:facet>
		   							<h:outputText value="#{v.statusName}" style="font-weight: bold;color:#FF0000;}"/>
		   						</h:column>
		   						<h:column>
		  							<f:facet name="header">
		   								<h:outputText value="#{msgs['menu.retention.open.withdraws.date.of.withdraw.request']}"/>
		   							</f:facet>
		   							<h:outputText value="#{v.dateOfWithdraw}" style="font-weight: bold;color:#FF0000;}"/>
		   						</h:column>
		   						<h:column>
		  							<f:facet name="header">
		   								<h:outputText value="#{msgs['menu.retention.open.withdraws.withdraw.amount']}"/>
		   							</f:facet>
		   							<h:outputText value="#{v.withdrawAmountTxt}" style="font-weight: bold;color:#FF0000;}"/>
		   						</h:column>
		   						
		   						<t:column>
					               <f:facet name="header">
						               <h:outputText value="#{msgs['retention.writer.assign']}"/>
					               </f:facet>
						   			<h:selectOneMenu style="height:20px;font-size:10px;font-weight:bold;vertical-align:middle;width:90px" immediate="true" id="assignWriterId"
						   				value="#{v.tempAssignWriterId}" onchange="this.form.submit();"
					   		  			valueChangeListener="#{immediateTreatmentForm.updateAssignedWriter}">
						   				<f:selectItems value="#{v.writersToAssign}" />
							   		</h:selectOneMenu>
					            </t:column>
	           		</t:dataTable>

	           		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
		            <t:dataScroller id="scroll_1"
		                    for="data"
		                    fastStep="10"
		                    pageCountVar="pageCount"
		                    pageIndexVar="pageIndex"
		                    paginator="true"
		                    paginatorMaxPages="9"
		                    styleClass="scroller"
		                    paginatorActiveColumnClass="paginator_active"
		                    paginatorColumnClass="paginator"
		                    paginatorTableClass="paginator"
		                    immediate="true"
		                    paginatorRenderLinkForActive="false"
							renderFacetsIfSinglePage="false"
							rendered="#{immediateTreatmentForm.entriesWithOpenWithdrawListRowsNumber > 10}"
		                    >
			                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
		            </t:dataScroller>
		            
		            <h:panelGrid columns="2" align="right" rendered="#{immediateTreatmentForm.updateAssigningNeeded}" >
						<t:outputText value="#{msgs['retention.update.assigned.leads']}"/>
						<t:commandButton id="assignBtn" action="#{immediateTreatmentForm.updateAssignedLeads}" alt="assign"
					image="/images/assigned.gif" onclick="if(!confirmit(0)) return false;"
					/>
			</h:panelGrid>
		        </h:panelGrid>
				</h:form>
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</html>