<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	#{user.goRetention}
	<h:panelGroup rendered="#{user.writerSalesType == 1}">
		<ui:include  src="/jsp/support/phoneRetention_conversion.xhtml"/>
	</h:panelGroup>
	<h:panelGroup rendered="#{user.writerSalesType == 2}">
		<ui:include src="/jsp/support/phoneRetention_retention.xhtml"/>
	</h:panelGroup>
	<h:panelGroup rendered="#{user.writerSalesType == 3 || user.retentionMSelected}">
		<ui:include  src="/jsp/support/phoneRetention_content.xhtml"/>
	</h:panelGroup>
</ui:define>
</ui:composition>

</html>



