<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"

 		  locale="#{writer.localInfo.locale}">


<HEAD>
	<title></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/jquery.js" type="text/javascript"></script>
</HEAD>
<BODY >
<script>
	var retentionArr = #{trackingForm.arrayOfRetention};
	var conversionArr = #{trackingForm.arrayOfConversion};
	var checkRet = #{trackingForm.retention};
	var checkCon = #{trackingForm.convresion};
	var i=0;

	function checkRetention(){
		jQuery.each(retentionArr , function(index , value){
     		i=0;
     		while(document.getElementById("trackingForm:smc:" + i)!= null){
     			if(document.getElementById("trackingForm:smc:" + i).value == value){
 					document.getElementById("trackingForm:smc:" + i).checked = !checkRet;
     			}
     			i++;
     		}
     	});
     	checkRet = !checkRet;
	}

	function checkConversion(){
		jQuery.each(conversionArr , function(index , value){
     		i=0;
     		while(document.getElementById("trackingForm:smc:" + i)!= null){
     			if(document.getElementById("trackingForm:smc:" + i).value == value){
 					document.getElementById("trackingForm:smc:" + i).checked = !checkCon;
     			}
     			i++;
     		}
     	});
     	checkCon = !checkCon;
	}
</script>

<h:panelGroup rendered="#{trackingForm.populationTypesEmpty}">
	<script>
			window.opener.changeColor('black','trackingForm:populationButton');
	</script>
</h:panelGroup>
<h:panelGroup rendered="#{!trackingForm.populationTypesEmpty}">
	<script>
			window.opener.changeColor('blue','trackingForm:populationButton');
	</script>
</h:panelGroup>
	<t:messages id="messages"/>
    <h:form id="trackingForm">
		<h:panelGrid align="center">
			<h:outputText styleClass="standardTable_Header" value="#{msgs['populations.select.choose']}"/>
			 <h:selectManyCheckbox enabledClass="standardTable_Header" id="smc"  value="#{trackingForm.populationTypesList}" border="1" disabled="false"
					 layout="pageDirection">
				<f:selectItems id="si" value="#{writer.populationTypesStrBySalesTypeForTracking}" />
			 </h:selectManyCheckbox>
		</h:panelGrid>

		<h:panelGrid align="center" columns="3" border="0" >
	     	<INPUT type="button" onClick="this.form.submit();" value="#{msgs['button.save']}" />

	     	<h:panelGrid witdh="40"/>
	     	<INPUT type="button" onClick="window.close();" value="#{msgs['button.cancel']}" />
		</h:panelGrid>

		<h:panelGrid>
			<h:outputText styleClass="standardTable_Header" value="#{msgs['populations.select.chosen']}"/>
			<h:outputText styleClass="standardTable_Header" value="#{trackingForm.populationTypesNames}"/>
		</h:panelGrid>
	</h:form>
</BODY>
</f:view>