<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">

<script>

	// load retention page on window top in case we got navigation in the iframe
	try {
	  if (window.top.location.href!=window.location.href) {
		window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/retention/retention.jsf";
	  }
	} catch (err) {
	}


</script>

	#{user.goRetention}

	<t:panelTabbedPane align="center"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent"
                  selectedIndex="#{populationsEntriesForm.showTab}" >


    <t:panelTab id="entriesStrip" label="#{msgs['menu.retention.Assignments']}"  >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retention/phoneRetention.jsf?refresh=true" width="100%" height="700px"></iframe>
    </t:panelTab>

    <t:panelTab id="trackingStrip" label="#{msgs['menu.retention.tracking']}"  >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retention/tracking.jsf?refresh=true" width="100%" height="700px"></iframe>
    </t:panelTab>

    <t:panelTab id="callbackStrip" label="#{msgs['menu.retention.callbacks']}"  >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retention/callbacks.jsf?refresh=true" width="100%" height="700px"></iframe>
    </t:panelTab>

	<t:panelTab id="immediateTreatment" label="#{msgs['menu.retention.immediate.treatment']}" >
		<iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retention/immediateTreatment.jsf?refresh=true" width="100%" height="700px"></iframe>
    </t:panelTab>
  
    <!-- dummy tab because in the server side we have redirect to user entry -->
 	<t:panelTab rendered="false" id="retentionEmpty" label="#{msgs['menu.retention.error.page']}">
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retention/retentionError.jsf?refresh=true&amp;entryId=#{facesContext.externalContext.requestParameterMap['entryId']}" width="100%" height="700px"></iframe>
	</t:panelTab>  

    <t:panelTab id="entryStrip" label="#{populationEntry.userId != 0 ? 'User entry' : 'Contact entry'}" rendered="#{populationEntry.userId != 0 || populationEntry.contactId != 0}" >
	    <iframe name="content" id="content" scrolling="yes" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retention/entryStrip.jsf?refresh=true" width="100%" height="700px"></iframe>
    </t:panelTab>

	<t:panelTab id="retentionError" label="#{msgs['menu.retention.error.page']}" rendered="#{facesContext.externalContext.requestParameterMap['retentionError'] == 'true'}">
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/retention/retentionError.jsf?refresh=true&amp;entryId=#{facesContext.externalContext.requestParameterMap['entryId']}" width="100%" height="700px"></iframe>
	</t:panelTab>
	<t:panelTab id="salesDeposits" label="#{msgs['menu.sales.deposits']}" >
    	<ui:include src="/jsp/index.html" />
    	<script>
    		setTab("sales_deposits");
    	</script>
    </t:panelTab>
    <t:panelTab id="salesInvestments" label="#{msgs['sales.investments']}" >
    	<ui:include src="/jsp/index.html" />
    	<script>
    		setTab("sales.sales_investments", true);
    	</script>
    </t:panelTab>
    <t:panelTab id="salesCallsStatus" label="#{msgs['sales.calls-status']}" >
    	<ui:include src="/jsp/index.html" />
    	<script>
    		setTab("sales.calls_status", true);
    	</script>
    </t:panelTab>
    <t:panelTab id="masterSearch" label="#{msgs['menu.retention.master.search']}"  >
    #{applicationData.initMasterSearchForm}
    <iframe name="content" id="content" scrolling="yes" frameborder="no"
		src="#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/masterSearch.jsf?refresh=true&amp;admin=true" width="100%" height="700px"></iframe>
    </t:panelTab>    
    
</t:panelTabbedPane>


</ui:define>
</ui:composition>

</html>