<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

 <SCRIPT LANGUAGE="JavaScript" >
		function handleAssignClick(elm) {
			var repLable = document.getElementById("callbacksForm:repLable");
			var repid = document.getElementById("callbacksForm:repId");
			if (elm.checked) {
				repLable.style.display="inline";
				repid.style.display="inline";
			} else {
				repLable.style.display="none";
				repid.style.display="none";
			}
		}

		function activateSearchUser(id) {
			  if (event.keyCode==13) {
				document.getElementById('reviewForm:searchBtn').focus();
			  }
			  else {
				  	if(id=="reviewForm:userId") {
				  		document.getElementById("reviewForm:username").value = "";
				  		document.getElementById("reviewForm:contactId").value = "";
				  		document.getElementById("reviewForm:isLockedEntries").value = "";
				  	}
				  	if(id=="reviewForm:contactId") {
				  		document.getElementById("reviewForm:userId").value = "";
				  		document.getElementById("reviewForm:username").value = "";
				  		document.getElementById("reviewForm:isLockedEntries").value = "";
				  	}
				  	if(id=="reviewForm:username") {
				  		document.getElementById("reviewForm:userId").value = "";
				  		document.getElementById("reviewForm:contactId").value = "";
				  		document.getElementById("reviewForm:isLockedEntries").value = "";
				  	}
				  	if(id=="reviewForm:isLockedEntries") {
				  		document.getElementById("reviewForm:userId").value = "";
				  		document.getElementById("reviewForm:contactId").value = "";
				  		document.getElementById("reviewForm:username").value = "";
				  	}

  			  }
		}
				
		function handleSalesTypeClick(needToSetTeamId) {
			var retentionTeamLable = document.getElementById("reviewForm:retentionTeamLable");
			var retentionTeamId = document.getElementById("reviewForm:retentionTeamId");
			var retentionCheckBox = document.getElementById("reviewForm:conOrRet:1");
			
			if (retentionCheckBox.checked) {
				retentionTeamLable.style.display="inline";
				retentionTeamId.style.display="inline";
				if (needToSetTeamId) {
					retentionTeamId.selectedIndex = 2;
				}
			} else {
				retentionTeamLable.style.display="none";
				retentionTeamId.style.display="none";
				retentionTeamId.selectedIndex = 0;
			}
		}
		
  </SCRIPT>

<t:saveState value="#{reviewForm}" />

<h:form id="reviewForm">

	<h:panelGrid border="0" columns="22">
			<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
			<h:panelGrid border="0" columns="3">
				<h:inputText styleClass="input_text" id="from" value="#{reviewForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['issuesForm'].elements['reviewForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
		    	<A HREF="#" onClick="cal.select(document.forms['reviewForm'].elements['reviewForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>
	        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
			<h:panelGrid border="0" columns="3">
  					<h:inputText styleClass="input_text" id="to" value="#{reviewForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['reviewForm'].elements['reviewForm:to'],'anchor2','dd/MM/yyyy'); return false;">
    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				</h:inputText>
				<A HREF="#" onClick="cal.select(document.forms['reviewForm'].elements['reviewForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
					<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				</A>
				<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>
	   		<h:outputLabel for="skinId" value="#{msgs['population.entry.skin']}"/>
   			<h:selectOneMenu id="skinId" value="#{reviewForm.skinId}" style="width:105px">
   				<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
	   		</h:selectOneMenu>
			<h:outputLabel for="assignCB" value="#{msgs['retention.assign.entries']}"/>
			<t:selectBooleanCheckbox readonly="false" id="assignCB" value="#{reviewForm.assignFilter}" onclick="handleAssignClick(this);" />
	   		<h:outputLabel for="userId" value="#{msgs['population.entry.user.id']}"/>
   			<t:inputText id="userId" size="10" styleClass="input_text"
   				value="#{reviewForm.userId}"
   				onkeydown="activateSearchUser(id);"/>
			<h:outputLabel for="username" value="#{msgs['population.entry.user.username']}"/>
   			<t:inputText id="username" size="10" styleClass="input_text"
   				value="#{reviewForm.username}"
   				onkeydown="activateSearchUser(id);"/>
			<h:outputLabel for="contactId" value="#{msgs['population.entry.contact.id']}"/>
   			<t:inputText id="contactId" size="10" styleClass="input_text"
   				value="#{reviewForm.contactId}"
   				onkeydown="activateSearchUser(id);"/>

			<h:outputText value="#{msgs['issues.action.type']}"/>
           	<h:selectOneMenu id="actionTypeId" value="#{reviewForm.actionTypeId}"  >
       			<f:selectItem  itemLabel="#{msgs['population.entry.action.all']}" itemValue="#{msgs['population.entry.action.index.all']}" />
       			<f:selectItems value="#{writer.issueActionTypeFilterSI}" />
           	</h:selectOneMenu>

			<h:panelGroup rendered="#{user.retentionMSelected}" >
				<h:selectOneRadio id="conOrRet" value="#{reviewForm.salesType}" onclick="handleSalesTypeClick(true);" >
					<f:selectItem id="con" itemLabel="#{msgs['menu.convertion']}" itemValue="1"/>
					<f:selectItem id="ret" itemLabel="#{msgs['menu.retention']}" itemValue="2"/>
				</h:selectOneRadio>
			</h:panelGroup>
			<h:panelGroup rendered="#{user.retentionMSelected}">
			   	<t:outputLabel id="retentionTeamLable" for="retentionTeamId" value="#{msgs['retention.teams']}" style="display:none"/>
	           	<t:selectOneMenu id="retentionTeamId" value="#{reviewForm.retentionTeamId}" style="display:none">
					<f:selectItems value="#{writer.retentionTeamsSI}" />
	           	</t:selectOneMenu>
	       	</h:panelGroup>
	</h:panelGrid>
	<h:panelGrid border="0" columns="5">
		<h:outputText value="#{msgs['newaccounts.campaigns']}"/>
		<h:panelGrid>
			<h:selectOneMenu id="campaignName" value="#{reviewForm.campaignId}">
				<f:selectItems value="#{writer.allSalesMarketingCampaignsLongSI}" />
			</h:selectOneMenu>
		</h:panelGrid>
		<t:commandLink id="searchBtn" action="#{reviewForm.updateList}">
			<h:outputText value="#{msgs['button.search']}" />
		</t:commandLink>
	</h:panelGrid>

	<h:panelGrid width="100%">
			    <t:dataTable id="data"
			            styleClass="scrollerTable"
			            headerClass="standardTable_Header"
			            footerClass="standardTable_Header"
			            rowClasses="standardTable_Row1,standardTable_Row2"
			            columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
			            var="v"
			            preserveDataModel="false"
			            rows="#{user.rowsByMenu}"
			            renderedIfEmpty="false"
			            cellpadding="0"
			            cellspacing="1"
			            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
						varDetailToggler="detailToggler"
			            value="#{reviewForm.list}">

					<h:column>
		               <f:facet name="header">
					       <h:outputText value="#{msgs['population.entry.lock']}"/>
		               </f:facet>
		               <t:commandLink rendered="#{!v.entryLocked}" action="#{reviewForm.lockEntry}" immediate="true">
		               		<img src="#{facesContext.externalContext.requestContextPath}/images/notlocked.png" alt="" align="top" width="20" height="19" border="0"/>
		               		<f:setPropertyActionListener target="#{reviewForm.populationEntry}" value="#{v}" />
						</t:commandLink>
						<t:commandLink rendered="#{v.entryLocked}" action="#{reviewForm.unLockEntry}" immediate="true">
		               		<img src="#{facesContext.externalContext.requestContextPath}/images/locked.jpg" alt="" align="top" width="20" height="19" border="0"/>
		               		<f:setPropertyActionListener target="#{reviewForm.populationEntry}" value="#{v}" />
						</t:commandLink>
        		   </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.entryid']}"/>
			           </f:facet>
			              <h:outputText value="#{v.currEntryId}" />
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.userid']}"/>
			           </f:facet>
			              <h:outputText value="#{v.userId}" />
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.contactId']}"/>
			           </f:facet>
			              <h:outputText value="#{v.contactId}" />
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.qualificationtime']}"/>
			           </f:facet>
			              <h:outputText value="#{v.qualificationTimeTxt}"  escape="false"/>
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.username']}"/>
			           </f:facet>
			              <h:outputText value="#{v.populationUserName}" />
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.populationnow']}"/>
			           </f:facet>
			              <h:outputText value="#{v.currPopulationName}" />
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.language']}"/>
			           </f:facet>
			              <h:outputText value="#{v.language}" />
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.country']}"/>
			           </f:facet>
			              <h:outputText value="#{v.country}" />
			       </h:column>
				   <h:column>
		               <f:facet name="header">
		               		<h:outputText value="#{msgs['population.entry.time.last.login']}"/>
		               </f:facet>
		               <h:outputText value="#{v.timeLastLoginTxt}" escape="false"/>
		           	   <h:graphicImage rendered="#{v.lastLoginHighlight}" title="#{v.lastLoginText}" value="/images/eye-icon.gif"/>
	               </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.lastCaller']}"/>
			           </f:facet>
			              <h:outputText value="#{v.lastCallWriter}" />
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.timelastcall']}"/>
			           </f:facet>
			              <h:outputText value="#{v.lastCallTimeTxt}" escape="false" />
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.calls']}"/>
			           </f:facet>
			              <h:outputText value="#{v.callsCounts}" />
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.comments']}"/>
			           </f:facet>
			           <h:commandLink action="#{detailToggler.toggleDetail}">
			               <h:outputText rendered="#{v.comments != null}" value="comments" />
					   </h:commandLink>
			       </h:column>

			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.column.action.type']}"/>
			           </f:facet>
			              <h:outputText value="#{v.actionTypeName}" />
			       </h:column>

					<f:facet name="detailStamp">
						 <h:panelGrid class="detailsBGColor" border="0" columns="1" width="100%">
							 <h:outputText value="Comment: " />
							 <h:outputText value="#{v.comments}" />
						 </h:panelGrid>
					</f:facet>


			     </t:dataTable>

			   <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    paginatorRenderLinkForActive="false"
						renderFacetsIfSinglePage="false"
						rendered="#{reviewForm.listSize>10}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            </t:dataScroller>

	        </h:panelGrid>

	        <h:panelGrid columns="2">
				<h:outputLabel for="rowsNum" value="#{msgs['population.entry.rows.number']}"/>
	   			<h:outputLabel immediate="true" id="rowsNum" value="#{reviewForm.listSize} "/>
			</h:panelGrid>
			<h:panelGrid border="0" columns="1" rendered="#{user.retentionMSelected}">
		  		<t:commandLink action="#{reviewForm.exportReviewResultToMail}">
		       		<h:outputText value="#{msgs['enteries.report.export']}" />
		  		</t:commandLink>
			</h:panelGrid>

</h:panelGrid>
</h:form>
<SCRIPT LANGUAGE="JavaScript" >
	handleSalesTypeClick(false);
</SCRIPT>
</ui:define>
</ui:composition>

</html>