<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

<t:saveState value="#{salesTurnoversForm}" />

<h:form id="salesTurnoversForm">

	<h:panelGrid border="0" columns="14">
		<h:outputLabel for="from" value="#{msgs['general.from']}"/>
		<h:panelGrid border="0" columns="3">
			<h:inputText styleClass="input_text" id="from" value="#{salesTurnoversForm.fromDetails}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['salesTurnoversForm'].elements['salesTurnoversForm:from'],'anchor1','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
		    </h:inputText>
	    	<A HREF="#" onClick="cal.select(document.forms['salesTurnoversForm'].elements['salesTurnoversForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	   			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        </A>
			<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
		</h:panelGrid>

		<h:outputLabel for="to" value="#{msgs['general.to']}"/>
		<h:panelGrid border="0" columns="3">
  					<h:inputText styleClass="input_text" id="to" value="#{salesTurnoversForm.toDetails}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['salesTurnoversForm'].elements['salesTurnoversForm:to'],'anchor2','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			</h:inputText>
			<A HREF="#" onClick="cal.select(document.forms['salesTurnoversForm'].elements['salesTurnoversForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
				<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			</A>
			<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
		</h:panelGrid>

		<h:outputLabel  for="currencies" value="#{msgs['sales.deposit.sales.currency']}"/>
 		<t:selectOneMenu  id="currencies" value="#{salesTurnoversForm.currencyIdDetails}">
    		<f:selectItems value="#{writer.currencySI}" />
    	</t:selectOneMenu>

		<t:outputLabel rendered="#{user.retentionMSelected}" for="repId" value="#{msgs['sales.deposit.sales.representative']} " />
		<t:selectOneMenu rendered="#{user.retentionMSelected}" id="repId" value="#{salesTurnoversForm.writerIdDetails}" >
		    <f:selectItems value="#{writer.salesRetentionWritersAll}" />
		</t:selectOneMenu>
		
		<h:panelGroup rendered="#{user.retentionMSelected}" >
		   	<t:outputLabel id="salesTypeDepartmentLable" for="salesTypeDepartmentId" value="#{msgs['retention.teams']}"/>
           	<t:selectOneMenu id="salesTypeDepartmentId" value="#{salesTurnoversForm.salesTypeDepIdDetails}"  >
				<f:selectItems value="#{writer.retentionTeamsSI}" />
           	</t:selectOneMenu>
       	</h:panelGroup>

		<h:outputLabel for="skinId" value="#{msgs['sales.deposit.sales.skin']}"/>
   		<h:selectOneMenu id="skinId" value="#{salesTurnoversForm.skinIdDetails}" style="width:105px" >
   			<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
   		</h:selectOneMenu>
		
		<t:commandLink id="searchBtn" action="#{salesTurnoversForm.searchDetailsFromScreen}">
	        <h:outputText value="#{msgs['button.search']}" />
  		</t:commandLink>
  		
	</h:panelGrid>

	<h:panelGrid witdh="80%">


          <t:dataTable id="data"
            styleClass="scrollerTable"
            headerClass="standardTable_Header"
            footerClass="standardTable_Header"
            rowClasses="standardTable_Row1,standardTable_Row2"
            columnClasses="sdtColumn,sdtColumn,sdtColumn,sdtColumn,sdtColumn,sdtColumn,sdtColumn,sdtColumn,sdtColumn,sdtColumn,sdtColumn,sdtColumn,sdtColumn"
            var="v"
            preserveDataModel="false"
            rows="#{user.rowsByMenu}"
            renderedIfEmpty="false"
            cellpadding="0"
            cellspacing="1"
            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
			rowOnMouseOut="this.style.backgroundColor=old"
            value="#{salesTurnoversForm.detailsList}">


	            <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposit.sales.representative']}"/>
		           </f:facet>
		              <h:outputText value="#{v.writerName}" />
	       		</h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposit.sales.skin']}"/>
		           </f:facet>
		              <h:outputText value="#{v.skinTxt}" />
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposit.sales.user.id']}"/>
		           </f:facet>
		              <h:outputText value="#{v.userId}" />
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposits.sum.of.dep']}"/>
		           </f:facet>
		              <h:outputText value="#{v.sumOfDepositsTxt}" />
		       </h:column>
		       
		       	<h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposits.sum.of.inv']}"/>
		           </f:facet>
		              <h:outputText value="#{v.sumOfTurnoversTxt}"/>
		       </h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['sales.deposit.total.sum.withdraw']}"/>
					</f:facet>
					<h:outputText value="#{v.sumOfWithdrawalsTxt}" />
				</h:column>
		       	
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['sales.deposit.total.withd.dep']}"/>
					</f:facet>
					<h:outputText value="#{v.withdrawDepPercent}" />
				</h:column>

		       <h:column>
			        <f:facet name="header">
			            <h:outputText value="#{msgs['sales.deposit.sales.campaign']}"/>
			        </f:facet>
			           <h:outputText value="#{v.campaignId}" title="#{v.campaignId}" />
			   </h:column>

        	   <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposit.sales.currency']}"/>
		           </f:facet>
		              <h:outputText value="#{v.currencyTxt}" />
			   </h:column>

			   <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposit.sales.population']}"/>
		           </f:facet>
		              <h:outputText value="#{v.populationName}" />
			   </h:column>

			   <h:column>
			        <f:facet name="header">
			            <h:outputText value="#{msgs['sales.deposits.user.rank']}"/>
			        </f:facet>
			           <h:outputText value="#{v.userRankName}" escape="false"/>
			   </h:column>

			   <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['retention.retentionStatus']}"/>
		           </f:facet>
		              <h:outputText value="#{v.userStatusName}" escape="false"/>
			   </h:column>

			   <f:facet name="footer">
			   		<t:dataTable id="data2"
						            styleClass="scrollerTable"
						            headerClass="standardTable_Header"
						            footerClass="standardTable_Header"
						            rowClasses="standardTable_Row1,standardTable_Row2"
						            columnClasses="sdtDetailFooterColumn1_T,sdtColumn_T,sdtDetailFooterColumn2_T,sdtDetailFooterColumn2_T,sdtDetailFooterColumn2_T"
						            var="sum"
						            preserveDataModel="false"
						            rows="1"
						            renderedIfEmpty="false"
						            cellpadding="0"
						            cellspacing="1"
						            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
									rowOnMouseOut="this.style.backgroundColor=old"
						            value="#{salesTurnoversForm.detailsSumList}">
	
					       <h:column>
					              <h:outputText value="&#160;" />
					       </h:column>
	
					       <h:column>
					              <h:outputText value="#{sum.sumOfDepositsTxt}" />
					       </h:column>
					       
					       <h:column>
					              <h:outputText value="#{sum.sumOfTurnoversTxt}" />
					       </h:column>
					       <h:column>
								  <h:outputText value="#{sum.sumOfWithdrawalsTxt}" />
					       </h:column>
					       <h:column>
					              <h:outputText value="#{sum.withdrawDepPercent}" />
					       </h:column>

					        <h:column>
					              <h:outputText value="&#160;" />
					       </h:column>
					  

				</t:dataTable>
			</f:facet>

		 </t:dataTable>

	     <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{salesTurnoversForm.detailsListSize > user.rowsByMenu}">
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

        	</t:dataScroller>

		</h:panelGrid>

		<h:panelGrid border="0" rendered="#{user.retentionMSelected}">
	  		<t:commandLink action="#{salesTurnoversForm.exportHtmlTableToExcel}">
	           <h:outputText value="#{msgs['marketing.report.export']}" />
	  		</t:commandLink>
		</h:panelGrid>

</h:panelGrid>
</h:form>
</ui:define>
</ui:composition>

</html>