<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	<t:panelTab id="salesDeposits">
		<t:panelTabbedPane align="center"
              serverSideTabSwitch="true"
              styleClass="tabbedPane"
              activeTabStyleClass="activeTab"
              inactiveTabStyleClass="inactiveTab"
              disabledTabStyleClass="disabledTab"
              activeSubStyleClass="activeSub"
              inactiveSubStyleClass="inactiveSub"
              tabContentStyleClass="tabContent" >

			  <c:if test="${user.retentionMSelected || user.writerSalesType == 1 || user.writerSalesType == 3}">
				  <t:panelTab id="salesDepositsConversion" label="#{msgs['menu.convertion']}" >
					  <t:panelTabbedPane align="center"
				                  serverSideTabSwitch="true"
				                  styleClass="tabbedPane"
				                  activeTabStyleClass="activeTab"
				                  inactiveTabStyleClass="inactiveTab"
				                  disabledTabStyleClass="disabledTab"
				                  activeSubStyleClass="activeSub"
				                  inactiveSubStyleClass="inactiveSub"
				                  tabContentStyleClass="tabContent" >
						
				     	  <t:panelTab id="salesDepositsTotals" label="#{msgs['menu.retention.sales.deposits.totals']}"  >
						      <iframe name="content" id="content" scrolling="no" frameborder="no"
								  src="#{facesContext.externalContext.requestContextPath}/jsp/retention/salesDepositsTotals.jsf?refresh=true&amp;admin=true" width="100%" height="120%"></iframe>
						  </t:panelTab>
			
						  <t:panelTab id="salesDepositsDetails" label="#{msgs['menu.retention.sales.deposits.details']}" >
							  #{applicationData.initSalesDepositsFormDetails}
						      <iframe name="content" id="content" scrolling="no" frameborder="no"
							    	src="#{facesContext.externalContext.requestContextPath}/jsp/retention/salesDepositsDetails.jsf?refresh=true&amp;admin=true" width="100%" height="120%"></iframe>
						  </t:panelTab>
					  </t:panelTabbedPane>
		      	  </t:panelTab>
			  </c:if>
			  
			  <c:if test="${user.retentionMSelected || user.writerSalesType == 2 || user.writerSalesType == 3}">
				  <t:panelTab id="salesDepositsRetention" label="#{msgs['menu.retention']}" >
						<t:panelTabbedPane align="center"
				                  serverSideTabSwitch="true"
				                  styleClass="tabbedPane"
				                  activeTabStyleClass="activeTab"
				                  inactiveTabStyleClass="inactiveTab"
				                  disabledTabStyleClass="disabledTab"
				                  activeSubStyleClass="activeSub"
				                  inactiveSubStyleClass="inactiveSub"
				                  tabContentStyleClass="tabContent" >
	
				     	<t:panelTab id="salesDepositsTotals" label="#{msgs['menu.retention.sales.deposits.totals']}" >
						    <iframe name="content" id="content" scrolling="no" frameborder="no"
								src="#{facesContext.externalContext.requestContextPath}/jsp/retention/salesTurnoversTotals.jsf?refresh=true&amp;admin=true" width="100%" height="120%"></iframe>
						</t:panelTab>
			
						<t:panelTab id="salesDepositsDetails" label="#{msgs['menu.retention.sales.deposits.details']}" >
							#{applicationData.initSalesTurnoversFormDetails}
						    <iframe name="content" id="content" scrolling="no" frameborder="no"
								src="#{facesContext.externalContext.requestContextPath}/jsp/retention/salesTurnoversDetails.jsf?refresh=true&amp;admin=true" width="100%" height="120%"></iframe>
						</t:panelTab>
					</t:panelTabbedPane>
	    		</t:panelTab>
	    	</c:if>	
		</t:panelTabbedPane>
    </t:panelTab>	    
</ui:define>
</ui:composition>

</html>
