<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">


 <SCRIPT LANGUAGE="JavaScript" >
		function handleAssignClick(elm) {
			var repLable = document.getElementById("trackingFormConvertion:repLable");
			var repid = document.getElementById("trackingFormConvertion:repId");
			if (elm.checked) {
				repLable.style.display="inline";
				repid.style.display="inline";
			} else {
				repLable.style.display="none";
				repid.style.display="none";
			}
		}

		function activateSearchUser(id) {
			  if (event.keyCode==13) {
				document.getElementById('trackingFormConvertion:searchBtn').focus();
			  }
			  else {
				  	if(id=="trackingFormConvertion:userId") {
				  		document.getElementById("trackingFormConvertion:username").value = "";
				  		document.getElementById("trackingFormConvertion:contactId").value = "";
				  		document.getElementById("trackingFormConvertion:isLockedEntries").value = "";
				  	}
				  	if(id=="trackingFormConvertion:contactId") {
				  		document.getElementById("trackingFormConvertion:userId").value = "";
				  		document.getElementById("trackingFormConvertion:username").value = "";
				  		document.getElementById("trackingFormConvertion:isLockedEntries").value = "";
				  	}
				  	if(id=="trackingFormConvertion:username") {
				  		document.getElementById("trackingFormConvertion:userId").value = "";
				  		document.getElementById("trackingFormConvertion:contactId").value = "";
				  		document.getElementById("trackingFormConvertion:isLockedEntries").value = "";
				  	}
				  	if(id=="trackingFormConvertion:isLockedEntries") {
				  		document.getElementById("trackingFormConvertion:userId").value = "";
				  		document.getElementById("trackingFormConvertion:contactId").value = "";
				  		document.getElementById("trackingFormConvertion:username").value = "";
				  	}

  			  }
		}
  </SCRIPT>
  <script src="#{facesContext.externalContext.requestContextPath}/js/datetimepicker_css.js" type="text/javascript"></script>

<t:saveState value="#{trackingFormConvertion}" />

<h:form id="trackingFormConvertion">

	<h:panelGrid border="0" columns="10">
			<h:outputLabel for="from" value="#{msgs['tracking.from']}"/>
			<h:panelGrid border="0" columns="3">
				<h:inputText styleClass="input_text" id="from" value="#{trackingForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['trackingFormConvertion'].elements['trackingFormConvertion:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
		    	<A HREF="#" onClick="cal.select(document.forms['trackingFormConvertion'].elements['trackingFormConvertion:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

	        <h:outputLabel for="to" value="#{msgs['tracking.to']}"/>
			<h:panelGrid border="0" columns="3">
  					<h:inputText styleClass="input_text" id="to" value="#{trackingForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['trackingFormConvertion'].elements['trackingFormConvertion:to'],'anchor2','dd/MM/yyyy'); return false;">
    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				</h:inputText>
				<A HREF="#" onClick="cal.select(document.forms['trackingFormConvertion'].elements['trackingFormConvertion:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
					<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				</A>
				<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

	   		<h:outputLabel rendered="#{user.retentionMSelected}" for="skinId" value="#{msgs['population.entry.skin']}"/>
   			<h:selectOneMenu rendered="#{user.retentionMSelected}" id="skinId" value="#{trackingForm.skinId}" style="width:105px">
   				<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
	   		</h:selectOneMenu>

	   		<h:outputText value="#{msgs['issues.priority']}"/>
           	<h:selectOneMenu id="priorityId" value="#{trackingForm.priorityId}"  >
        		<f:selectItem  itemLabel="" itemValue="" />
        		<f:selectItems value="#{writer.issuePrioritiesSI}" />
           	</h:selectOneMenu>
           	
           	<h:outputText value="#{msgs['retention.column.action.type']}"/>
           	<h:selectOneMenu id="actionType" value="#{trackingForm.actionTypeId}"  >
        		<f:selectItem  itemLabel="" itemValue="0" />
        		<f:selectItems value="#{writer.issueActionTypesSI}" />
           	</h:selectOneMenu>
	</h:panelGrid>
	<h:panelGrid border="0" columns="14">
				<h:panelGroup rendered="#{user.retentionMSelected}" >
					<h:outputLabel for="countriesList" value="#{msgs['retention.assign.entries']}"/>
					<t:selectBooleanCheckbox readonly="false" id="assignFilter" value="#{trackingForm.assignFilter}" onclick="handleAssignClick(this);" />
					<t:outputLabel id="repLable" for="repId" value="#{msgs['retention.assign.representative']} " />
					<t:selectOneMenu id="repId" value="#{trackingForm.writerFilter}" >
					    <f:selectItems value="#{writer.assignedRepList}" />
					</t:selectOneMenu>
				</h:panelGroup>

           	<h:outputLabel for="userId" value="#{msgs['population.entry.user.id']}"/>
	   		<t:inputText id="userId" size="10" styleClass="input_text"
	   				value="#{trackingForm.userId}"
	   				onkeydown="activateSearchUser(id);"/>

			<h:outputLabel for="username" value="#{msgs['population.entry.user.username']}"/>
	   		<t:inputText id="username" size="10" styleClass="input_text"
	   				value="#{trackingForm.username}"
	   				onkeydown="activateSearchUser(id);"/>

			<h:outputLabel for="contactId" value="#{msgs['population.entry.contact.id']}"/>
	   		<t:inputText id="contactId" size="10" styleClass="input_text"
	   				value="#{trackingForm.contactId}"
	   				onkeydown="activateSearchUser(id);"/>
	   				
   			<h:outputLabel value="#{msgs['retention.writer.from']}" />
			<h:panelGrid border="0" columns="3">
				<h:inputText styleClass="input_text" id="fromLogin" value="#{trackingForm.fromLogin}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['trackingFormConvertion'].elements['trackingFormConvertion:fromLogin'],'anchor3','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
		    	<A HREF="#" onClick="cal.select(document.forms['trackingFormConvertion'].elements['trackingFormConvertion:fromLogin'],'anchor3','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor3" ID="anchor3">
	       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromLoginError" for="fromLogin" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:panelGrid border="0" columns="3">
  					<h:inputText styleClass="input_text" id="toLogin" value="#{trackingForm.toLogin}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['trackingFormConvertion'].elements['trackingFormConvertion:toLogin'],'anchor4','dd/MM/yyyy'); return false;">
    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				</h:inputText>
				<A HREF="#" onClick="cal.select(document.forms['trackingFormConvertion'].elements['trackingFormConvertion:toLogin'],'anchor4','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor4" ID="anchor4">
					<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				</A>
				<t:message id="toLoginError" for="toLogin" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

   			<h:panelGrid columns="2" border="0">
				<h:outputLabel for="lastLoginId" value="#{msgs['last.login']}"/>
                <h:selectOneMenu styleClass="data_display"  id="lastLoginId" value="#{trackingForm.lastLoginInXMinutes}" >
					<f:selectItem itemLabel="#{msgs['general.all']}" itemValue="0" />
					<f:selectItems value="#{writer.lastLoginSI}" />
            	</h:selectOneMenu>
            	<t:message id="lastLoginIdError" for="lastLoginId" replaceIdWithLabel="true" styleClass="error"/>
            </h:panelGrid>
			
			<t:outputText for="locationKey" value="#{msgs['affilate.key']}"/>
	        <t:inputText id="affKey" size="10" value="#{trackingForm.affiliateKey}" ></t:inputText>
	        <t:message id="affKeyError" for="affKey" replaceIdWithLabel="true" styleClass="error"/>

			<t:commandLink id="searchBtn" action="#{trackingForm.updateList}">
				<h:outputText value="#{msgs['button.search']}" />
			</t:commandLink>
	</h:panelGrid>

	<h:panelGrid width="100%">
	    <t:dataTable id="data"
	            styleClass="scrollerTable"
	            headerClass="standardTable_Header"
	            footerClass="standardTable_Header"
	            rowClasses="standardTable_Row1,standardTable_Row2"
	            columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_ColumnCentered"
	            var="v"
	            preserveDataModel="false"
	            rows="#{user.rowsByMenu}"
	            renderedIfEmpty="false"
	            cellpadding="0"
	            cellspacing="1"
	            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
	            value="#{trackingForm.list}">

		   <h:column>
               <f:facet name="header">
			       <h:outputText value="#{msgs['population.entry.lock']}"/>
               </f:facet>
               <t:commandLink rendered="#{!v.entryLocked}" action="#{trackingForm.lockEntry}" immediate="true">
               		<img src="#{facesContext.externalContext.requestContextPath}/images/notlocked.png" alt="" align="top" width="20" height="19" border="0"/>
               		<f:setPropertyActionListener target="#{trackingForm.populationEntry}" value="#{v}" />
				</t:commandLink>
				<t:commandLink rendered="#{v.entryLocked}" action="#{trackingForm.unLockEntry}" immediate="true">
               		<img src="#{facesContext.externalContext.requestContextPath}/images/locked.jpg" alt="" align="top" width="20" height="19" border="0"/>
               		<f:setPropertyActionListener target="#{trackingForm.populationEntry}" value="#{v}" />
				</t:commandLink>
           </h:column>

	       <h:column>
	           <f:facet name="header">
	              <h:outputText value="#{msgs['retention.column.userid']}"/>
	           </f:facet>
	              <h:outputText value="#{v.userId}" />
	       </h:column>

	       <t:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['population.entry.contact.id']}"/>
               </f:facet>
                   <h:outputText value="#{v.contactId}"  />
           </t:column>

	       <h:column>
	           <f:facet name="header">
	              <h:outputText value="#{msgs['retention.column.qualificationtime']}"/>
	           </f:facet>
	              <h:outputText value="#{v.qualificationTimeTxt}" escape="false" />
	       </h:column>

	       <h:column>
	           <f:facet name="header">
	              <h:outputText value="#{msgs['retention.column.username']}"/>
	           </f:facet>
	              <h:outputText value="#{v.populationUserName}" />
	       </h:column>

   		   <h:column rendered="#{user.retentionMSelected}">
	           <f:facet name="header">
	              <h:outputText value="#{msgs['retention.assign.representative']}"/>
	           </f:facet>
	              <h:outputText value="#{v.assignWriterName}" />
	       </h:column>

	       <h:column>
	           <f:facet name="header">
	              <h:outputText value="#{msgs['retention.column.populationnow']}"/>
	           </f:facet>
	              <h:outputText value="#{v.currPopulationName}" />
	       </h:column>

	       <h:column>
	           <f:facet name="header">
	              <h:outputText value="#{msgs['retention.column.populationtracked']}"/>
	           </f:facet>
	              <h:outputText value="#{v.oldPopulationName}" />
	       </h:column>

	       <h:column rendered="#{user.retentionMSelected}">
	           <f:facet name="header">
	              <h:outputText value="#{msgs['retention.column.action.type']}"/>
	           </f:facet>
	              <h:outputText value="#{v.actionTypeName}" />
	       </h:column>

	       <h:column>
	           <f:facet name="header">
	              <h:outputText value="#{msgs['retention.column.tracking.time']}"/>
	           </f:facet>
	              <h:outputText value="#{v.entryTypeActionTimeTxt}" escape="false"/>
	       </h:column>

	       <h:column>
               <f:facet name="header">
               		<h:outputText value="#{msgs['population.entry.time.last.login']}"/>
               </f:facet>
               <h:outputText value="#{v.timeLastLoginTxt}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" escape="false"/>
           	   <h:graphicImage rendered="#{v.lastLoginHighlight}" title="#{v.lastLoginText}" value="/images/eye-icon.gif"/>
           </h:column>
           
           <h:column>
	           <f:facet name="header">
	               <h:outputText value="#{msgs['population.entry.phone.number']}"/>
	           </f:facet>
	           <u><h:outputText value="#{v.phone}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" /></u>
	       </h:column>
	  </t:dataTable>

			 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    paginatorRenderLinkForActive="false"
						renderFacetsIfSinglePage="false"
						rendered="#{trackingForm.listSize>10}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            </t:dataScroller>

	        </h:panelGrid>

	        <h:panelGrid columns="2">
				<h:outputLabel for="rowsNum" value="#{msgs['population.entry.rows.number']}"/>
	   			<h:outputLabel immediate="true" id="rowsNum" value="#{trackingForm.listSize} "/>
			</h:panelGrid>
			<h:panelGrid border="0" columns="1" rendered="#{user.retentionMSelected}">
		  		<t:commandLink action="#{trackingForm.exportTrackingResultToMail}">
		       		<h:outputText value="#{msgs['enteries.report.export']}" />
		  		</t:commandLink>
			</h:panelGrid>
</h:panelGrid>
</h:form>
    <h:panelGroup rendered="#{user.retentionMSelected}" >
		<script>
			handleAssignClick(document.getElementById("trackingForm:assignFilter"));
		</script>
	</h:panelGroup>


</f:view>