<div id="tab-content" class="content home-page-priority-content">
	<div class="home-page-priority-filter">
		<label>
			{{getMsgs('home.page.priority.skin')}}
			<select ng-model="filter.skin" ng-options="skin.name for skin in filter.skins"></select>
		</label>
		
		<button type="button" class="button get-markets-button" ng-click="getSkinMarketsPriorities()" id="filterBtn">
			{{getMsgs('home.page.priority.button.get.markets')}}
		</button>
		
		<div class="global-errors-container" data-global-errors></div>
	</div>
	
	<div ng-if="selectedSkin != ''">
		<button type="button" class="button update-markets-priorities-button" ng-click="updateMarketsPriorities()" id="saveBtnTop">
			{{getMsgs('home.page.priority.button.save')}}
		</button>
		
		<div ui-tree id="tree-root" class="angular-ui-tree">
			<ol ui-tree-nodes="" ng-model="markets" class="angular-ui-tree-nodes">
				<li ng-repeat="item in markets" ui-tree-node class="angular-ui-tree-node">
					<div ui-tree-handle class="tree-node tree-node-content angular-ui-tree-handle">
						{{item.marketName}}
					</div>
				</li>
			</ol>
		</div>
		
		<button type="button" class="button update-markets-priorities-button" ng-click="updateMarketsPriorities()" id="saveBtnBottom">
			{{getMsgs('home.page.priority.button.save')}}
		</button>
	</div>
</div>