<div id="tab-content" class="transactions-content">
	<h1>
		<span>{{getMsgs('home.platform.priority')}}</span>
	</h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box transactions-screen">
		<div class="box-header">
			<h2>{{getMsgs('skin-list')}}</h2>
		</div>
		<form name="_form" novalidate>
			<div class="box-sub-header static-filters table">
				<div class="cell w1p">
					<table class="prettier-table">
						<tr>
							<td><input type="checkbox" ng-click="ppCtrl.checkAll()" ng-model="ppCtrl.filter.checkAll"/></td>
							<td>{{getMsgs('general.skin')}}</td>
							<td>{{getMsgs('product')}}</td>
							<td>{{getMsgs('time-updated')}}</td>
							<td>{{getMsgs('enabled')}}</td>
						</tr>
						<tr ng-repeat="(id, key) in ppCtrl.skinsFilter">
							<td><input class="_check-all" type="checkbox" checklist-model="ppCtrl.filter.skinIds" checklist-value="id"/></td>
							<td class="wsN">{{getMsgs(key)}}</td>
							<td class="wsN">{{ppCtrl.loginProductTypes[ppCtrl.loginProductMap[id].loginProduct]}}</td>
							<td class="wsN">{{ppCtrl.loginProductMap[id].timeUpdated | date: 'defaultDateTime'}}</td>
							<td>{{ppCtrl.loginProductMap[id].enabled ? getMsgs('yes') : getMsgs('no')}}</td>
						</tr>
					</table>
				</div>
				<div class="cell vaT">
					<label>
						<span class="filter-label">{{getMsgs('select-product')}}:</span>
						<single-select ng-model="ppCtrl.filter.loginProduct"></single-select>
					</label>
					<label>
						<span class="filter-label">{{getMsgs('enabled')}}:</span>
						<input type="checkbox" ng-model="ppCtrl.filter.enabled"/>
					</label>
					<label>
						<button type="button" class="button blue" ng-click="ppCtrl.update(_form)">{{getMsgs('save')}}</button>
					</label>
				</div>
			</div>
		</form>
	</div>
</div>