<div id="tab-content" class="transactions-content">
	<h1>
		<span>{{getMsgs('traders-actions')}}</span>
	</h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box transactions-screen">
		<div class="box-header">
			<h2>{{getMsgs('traders-list')}}</h2>
		</div>
		<form name="_form" novalidate>
			<div class="box-sub-header static-filters">
				<label for="fromDate" class="filter-label">
					{{getMsgs('from')}}:
				</label>
				<div class="date-holder">
					<input id="fromDate" type="text" class="form-control" datetime-picker="{{trdAcCtrl.dateManager.format}}" ng-click="trdAcCtrl.dateManager.openCalendar($event, 'fromDate')" 
						ng-model="trdAcCtrl.filter.fromDate" is-open="trdAcCtrl.dateManager.openDates.fromDate" enable-time="false" min-date="trdAcCtrl.minDate" 
						max-date="trdAcCtrl.maxDate" datepicker-options="trdAcCtrl.dateManager.dateOptions" />
					<button type="button" class="btn btn-default" ng-click="trdAcCtrl.dateManager.openCalendar($event, 'fromDate')"><i class="fa fa-calendar"></i></button>
				</div>
				
				<label for="toDate" class="filter-label">
					{{getMsgs('to')}}:
				</label>
				<div class="date-holder">
					<input id="fromDate" type="text" class="form-control" datetime-picker="{{trdAcCtrl.dateManager.format}}" ng-click="trdAcCtrl.dateManager.openCalendar($event, 'toDate')" 
						ng-model="trdAcCtrl.filter.toDate" is-open="trdAcCtrl.dateManager.openDates.toDate" enable-time="false" min-date="trdAcCtrl.minDate" 
						max-date="trdAcCtrl.maxDate" datepicker-options="trdAcCtrl.dateManager.dateOptions" />
					<button type="button" class="btn btn-default" ng-click="trdAcCtrl.dateManager.openCalendar($event, 'toDate')"><i class="fa fa-calendar"></i></button>
				</div>
				
				<label>
					<span class="filter-label">{{getMsgs('user-name')}}:</span>
					<single-select ng-model="trdAcCtrl.filter.traders"></single-select>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('action')}}:</span>
					<single-select ng-model="trdAcCtrl.filter.actions"></single-select>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('asset')}}:</span>
					<single-select ng-model="trdAcCtrl.filter.assets"></single-select>
				</label>
				
				<div class="right-block">
					<button type="button" class="button blue" ng-click="trdAcCtrl.getList(_form)">{{getMsgs('search')}}</button>
					<label>
						<span class="filter-label">{{getMsgs('show-entries')}}:</span>
						<single-select ng-model="trdAcCtrl.filter.resultsPerPage"></single-select>
					</label>
				</div>
			</div>
		</form>
		<div class="box-body" ng-if="trdAcCtrl.resultList && trdAcCtrl.resultList.length == 0">
			<h2>{{getMsgs('no-results-found')}}</h2>
		</div>
		
		<div class="box-body" ng-if="trdAcCtrl.resultList && trdAcCtrl.resultList.length > 0">
			<table class="pretty-table" id="exportTable">
				<thead>
					<tr>
						<th class="clickable" ng-click="trdAcCtrl.orderList(1)">{{getMsgs('user-name')}}</th>
						<th class="clickable" ng-click="trdAcCtrl.orderList(2)">{{getMsgs('date')}}</th>
						<th class="clickable" ng-click="trdAcCtrl.orderList(3)">{{getMsgs('action')}}</th>
						<th class="clickable" ng-click="trdAcCtrl.orderList(4)">{{getMsgs('asset')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in trdAcCtrl.resultList">
						<td>{{result.traderName}}</td>
						<td>{{result.actionDate | date: "defaultDateTime"}}</td>
						<td>{{result.action}}</td>
						<td>{{result.assetType}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="box-footer" ng-if="trdAcCtrl.resultList && trdAcCtrl.resultList.length > 0">
			<pagination model="trdAcCtrl.pagination"></pagination>
		</div>
	</div>
</div>