<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	contentType="text/xml">

	
	var jsonServiceUrl = <h:outputText value="&quot;#{utils.getConfig('backend.jsonService.url')}&quot;" escape="false"/>;
	var jsonDepositBonusBalanceConstants = {
		totalAmount : 1,
		openInvestmentsAmount : 2,
		settledInvestmentsAmount : 3,
		settledInvestmentsReturn : 4
	}
	
	var currencyDecimalPoint = 2;
	var userId = null;
	var writerId = null;
	<c:if test="#{!empty facesContext.externalContext.remoteUser}">
		var currencySymbol = <h:outputText value="&quot;#{utils.getMessage(utils.getCurrencySymbol(user.currencyId), null)}&quot;" escape="false" />;
		var isLeftCurrencySymbol = true;
		var userCurrency = <h:outputText value="&quot;#{user.currency.code}&quot;" escape="false" />;
		var currencyId = #{user.currencyId}
		
		var noneTxt = <h:outputText value="&quot;#{utils.getMessage('withdrawals.total_success_withdrawals.none', null)}&quot;" escape="false" />;
		userId = #{user.id};
		var userClassId = #{user.classId};
		var userName = '#{user.userName}';
		var userSkinId = #{user.skinId};
		var writerEmail = <h:outputText value="&quot;#{writer.writer.email}&quot;" escape="false" />;
		writerId = #{writer.writer.id};
	</c:if>
	var baseUrl = <h:outputText value="&quot;#{facesContext.externalContext.requestContextPath}&quot;" escape="false"/>;
	
</f:view>