<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

<h:panelGroup>

		<h:form id="adminCMS">

   		   <h:panelGrid border="0" columns="1" width="100%">
   		   
   		   <h:panelGrid border="0" columns="12">

				<h:outputText value="#{msgs['cms.sadmin.resetusername']}" />
    	    	<t:inputText id="name" value="#{cmsBundleSelection.cmsUsernameCountReset}" />

			    <t:commandLink action="#{cmsBundleSelection.resetUsername}">
	                <h:outputText value="#{msgs['cms.sadmin.resetaction']}" />
			    </t:commandLink>

		    </h:panelGrid>
		    
		    <h:panelGrid rendered="#{cmsBundleSelection.cmsUsernameCountResetStatus=='ERR'}" id="cmsNoRows" columns="2">
    			<h:outputText value="#{msgs['menu.cms.errorupdate']}" rendered="true" style="color:red;font-weight:bold"/>
    		</h:panelGrid>
    		
    		<h:panelGrid rendered="#{cmsBundleSelection.cmsUsernameCountResetStatus=='OK'}" id="cmsOK" columns="2">
    			<h:outputText value="#{msgs['menu.cms.okupdate']}" rendered="true" style="color:black;font-weight:bold"/>
    		</h:panelGrid>
    		
    		<h:panelGrid rendered="#{cmsBundleSelection.cmsUsernameCountResetStatus!='OK' &amp;&amp; cmsBundleSelection.cmsUsernameCountResetStatus!='ERR'}" id="cmsUserError" columns="2">
    			<h:outputText value="#{cmsBundleSelection.cmsUsernameCountResetStatus}" rendered="true" style="color:red;font-weight:bold"/>
    		</h:panelGrid>
   		   
   		   </h:panelGrid>
   		   
   		</h:form>
   		
</h:panelGroup>

</ui:define>
</ui:composition>
</html>   		