<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

    <h:panelGroup>
<h:messages showDetail="true" />

        <h:form id="bonusForm">

			<t:saveState id="bonusFormSave" value="#{bonusForm.bonus}" />

			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{bonusForm.bonus.id>0}" value="#{msgs['bonus.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{bonusForm.bonus.id>0}" value="#{bonusForm.bonus.id}"></h:outputText>

                <t:outputLabel for="name" value="#{msgs['bonus.name']}" />
				<h:panelGrid border="0" columns="2">
				<h:inputText styleClass="input" style="width:110px" id="name"
						name="name" value="#{bonusForm.bonus.name}" required="true"></h:inputText>
				<t:message id="nameError" for="name" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputText for="typeId" value="#{msgs['bonus.typeId']}"/>
				<h:panelGrid border="0" columns="2">
		        <t:selectOneMenu id="typeId" value="#{bonusForm.bonus.typeId}">
			   		<f:selectItems value="#{writer.bonusTypeSI}" />
			   	</t:selectOneMenu>
				<t:message id="typeIdError" for="typeId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

		        <h:outputLabel for="from" value="#{msgs['bonus.startDate']}"/>
				<h:panelGrid border="0" columns="3">
				<h:inputText styleClass="input_text" id="from" value="#{bonusForm.bonus.startDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['bonusForm'].elements['bonusForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    <A HREF="#" onClick="cal.select(document.forms['bonusForm'].elements['bonusForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			   		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			    </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

			    <h:outputLabel for="to" value="#{msgs['bonus.endDate']}"/>
				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="to" value="#{bonusForm.bonus.endDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['bonusForm'].elements['bonusForm:to'],'anchor2','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
				    <A HREF="#" onClick="cal.select(document.forms['bonusForm'].elements['bonusForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
			       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel for="bonusWageringParameter" value="#{msgs['bonus.wageringParameter']}" />
				<h:panelGrid border="0" columns="3">
				<h:inputText styleClass="input" style="width:110px" id="wageringParameter"
						name="wageringParameter" value="#{bonusForm.bonus.wageringParameter}" required="true">
					<f:validateLongRange/>
				</h:inputText>
				<t:message id="wageringParameterError" for="wageringParameter" replaceIdWithLabel="true" styleClass="error"/>
				<t:outputText value="#{msgs['bonus.wagering.parameter.description']}"/>
				</h:panelGrid>

				<t:outputLabel for="defaultPeriod" value="#{msgs['bonus.defaultPeriod']}" />
				<h:panelGrid border="0" columns="4">
				<h:inputText styleClass="input" style="width:110px" id="defaultPeriod"
						name="defaultPeriod" value="#{bonusForm.bonus.defaultPeriod}" required="true">
					<f:validateLongRange/>
				</h:inputText>
				<t:message id="defaultPeriodError" for="defaultPeriod" replaceIdWithLabel="true" styleClass="error"/>
				<t:outputText value="#{msgs['bonus.default.period.description']}"/>
				</h:panelGrid>

				<t:outputLabel for="bonusNumberOfActions" value="#{msgs['bonus.numberOfActions']}" />
				<h:panelGrid border="0" columns="4">
				<h:inputText styleClass="input" style="width:110px" id="numberOfActions"
						name="numberOfActions" value="#{bonusForm.bonus.numberOfActions}" required="true">
					<f:validateLongRange/>
				</h:inputText>
				<t:message id="numberOfActionsError" for="bonusNumberOfActions" replaceIdWithLabel="true" styleClass="error"/>
				<t:outputText value="#{msgs['bonus.number.of.actions.description']}"/>
				</h:panelGrid>

				<t:outputLabel for="bonusWinOdds" value="#{msgs['bonus.winOdds']}" />
				<h:panelGrid border="0" columns="4">
				<h:inputText styleClass="input" style="width:110px" id="winOdds"
						name="winOdds" value="#{bonusForm.bonus.oddsWin}" required="true">
					<f:validateLongRange/>
				</h:inputText>
				<t:message id="winOddsError" for="bonusWinOdds" replaceIdWithLabel="true" styleClass="error"/>
				<t:outputText value="#{msgs['bonus.winOdds.description']}"/>
				</h:panelGrid>

				<t:outputLabel for="bonusLoseOdds" value="#{msgs['bonus.loseOdds']}" />
				<h:panelGrid border="0" columns="4">
				<h:inputText styleClass="input" style="width:110px" id="loseOdds"
						name="loseOdds" value="#{bonusForm.bonus.oddsLose}" required="true">
					<f:validateLongRange/>
				</h:inputText>
				<t:message id="loseOddsError" for="bonusLoseOdds" replaceIdWithLabel="true" styleClass="error"/>
				<t:outputText value="#{msgs['bonus.loseOdds.description']}"/>
				</h:panelGrid>

				<t:outputLabel for="bonusTimeCreated" value="#{msgs['bonus.timeCreated']}" rendered="#{bonusForm.bonus.id>0}"/>
				<h:outputText styleClass="data_display" id="timeCreated" value="#{utils.getDateFormat(bonusForm.bonus.timeCreated, utils.getUtcOffset())}" rendered="#{bonusForm.bonus.id>0}"></h:outputText>

				<t:outputLabel for="writer" value="#{msgs['bonus.writer']}" />
				<h:outputText styleClass="data_display" id="writer" value="#{utils.getWriterName(bonusForm.bonus.writerId)}"></h:outputText>

            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="2" border="0" width="40%" >

	            <t:commandLink action="#{bonusForm.updateInsert}" >
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>

			 </h:panelGrid>

			</h:panelGrid>

        </h:form>

    </h:panelGroup>

	<SCRIPT LANGUAGE="JavaScript">

		function ClipBoard() {
		 	var hold = document.getElementById('combinationsForm:holdtext');
			//alert(hold.value);
			var copied = hold.createTextRange();
			copied.execCommand("Copy");
		}

	</SCRIPT>


</ui:define>
</ui:composition>

</html>