<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
	  xmlns:c="http://java.sun.com/jsp/jstl/core"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

    <h:panelGroup >

        <h:form id="deeplinkParamsToUrlForm" enctype="multipart/form-data">

			<t:saveState id="deeplinkParamsToUrl" value="#{deeplinkParamsToUrlForm.deeplinkParamsToUrl}" />

            <h:panelGrid border="0" columns="2">
				
                <h:outputText rendered="#{deeplinkParamsToUrlForm.deeplinkParamsToUrl.id>0}" value="#{msgs['deeplinkParamsToUrl.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{deeplinkParamsToUrlForm.deeplinkParamsToUrl.id>0}" value="#{deeplinkParamsToUrlForm.deeplinkParamsToUrl.id}"> </h:outputText>
				
				<h:outputLabel for="parameterName" value="#{msgs['deeplinkParamsToUrl.parameterName']}"/>
            	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="50" maxlength="20" id="parameterName" value="#{deeplinkParamsToUrlForm.deeplinkParamsToUrl.parameterName}"
		                required="true"	validator="#{utils.validateLettersOnly}" />
	            	<t:message id="parameterNameError" for="parameterName" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>
		            	
	           <h:outputLabel for="anyoptionUrl" value="#{msgs['deeplinkParamsToUrl.anyoptionUrl']}"/>
            	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="50" maxlength="200" id="anyoptionUrl" value="#{deeplinkParamsToUrlForm.deeplinkParamsToUrl.anyoptionUrl}" />
	            	<t:message id="anyoptionUrlError" for="anyoptionUrlName" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>
	
            	<h:outputLabel for="copyopUrl" value="#{msgs['deeplinkParamsToUrl.copyopUrl']}"/>
            	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="50" maxlength="20" id="copyopUrl" value="#{deeplinkParamsToUrlForm.deeplinkParamsToUrl.copyopUrl}"/>
	            	<t:message id="copyopUrlError" for="copyopUrl" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>
            </h:panelGrid>
			
			<h:panelGrid style="text-align:left" columns="1" border="0" width="30%" >

              <t:commandLink action="#{deeplinkParamsToUrlForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			  </t:commandLink>

			</h:panelGrid>
           

        </h:form>

    </h:panelGroup>


</ui:define>
</ui:composition>

</html>