<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <t:saveState value="#{groupsForm}" />

    <h:panelGroup >

		<h:form id="groupsForm">
	      <h:panelGrid border="0" columns="1" width="100%">
		   <h:outputText styleClass="general_message" rendered="#{groupsForm.listSize==0}"
  		   				value="#{msgs['groups.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{groupsForm.list}"
           >
		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['groups.id']}"/>
               </f:facet>
               <t:commandLink action="#{groupsForm.bNavEditGroup}" immediate="true">
               		<h:outputText value="#{v.id}" />
	                <f:setPropertyActionListener target="#{groupsForm.group}" value="#{v}" />
				</t:commandLink>

           </h:column>

            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['groups.name']}"/>
               </f:facet>
               <h:outputText value="#{v.name}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['groups.displayname']}"/>
               </f:facet>
               <h:outputText value="#{msgs[v.displayName]}" />
           </h:column>

			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['groups.timecreated']}"/>
               </f:facet>
                 <h:outputText escape="false" value="#{v.timeCreated}">
               	<f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{writer.currentPageUtcOffset}" />
               	 </h:outputText>
           </h:column>

   			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['groups.writer']}"/>
               </f:facet>
               <h:outputText value="#{writer.allWritersMap[v.writerId].getUserName()}" rendered="#{!empty writer.allWritersMap[v.writerId]}" />
           </h:column>


        </t:dataTable>

		 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{groupsForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>
		 <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >

			<t:commandLink  action="#{groupsForm.bNavAddGroup}">
		                <h:outputText value="#{msgs['button.add.group']}" />
	 		</t:commandLink>
        </h:panelGrid>
       </h:panelGrid>

        </h:form>


    </h:panelGroup>

</ui:define>
</ui:composition>

</html>