<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <h:panelGroup >
        <h:form id="limitationDepositsForm">
        	<t:saveState value="#{limitationDepositsForm}" />
			<t:saveState id="limitationDepositsFormSave" value="#{limitationDepositsForm.limitationDeposit}" />
			<h:inputHidden id="limitId" value="#{limitationDepositsForm.limitationDeposit.id}" />

            <h:panelGrid border="0" columns="2" style="#{limitationDepositsForm.showConfirmation ? 'display:none;' : ''}">

            	<h:outputLabel styleClass="text_gray_12_bold" for="skins" value="#{msgs['register.skin']}"/>
				<h:outputText value="#{limitationDepositsForm.limitationDeposit.skinTxt}" />

				<h:outputLabel styleClass="text_gray_12_bold" for="countries" value="#{msgs['userstrip.countryname']}"/>
				<h:outputText value="#{limitationDepositsForm.limitationDeposit.countryTxt}" />

				<h:outputLabel styleClass="text_gray_12_bold" for="currencies" value="#{msgs['limits.currency']}" />
				<h:outputText value="#{limitationDepositsForm.limitationDeposit.currencyTxt}" />

				<h:outputLabel styleClass="text_gray_12_bold" for="paymentRecipients" value="#{msgs['campaigns.payment.recipient']}" />
				<h:outputText value="#{limitationDepositsForm.limitationDeposit.paymentRecipientTxt}" />

				<h:outputLabel styleClass="text_gray_12_bold" for="campaigns" value="#{msgs['newaccounts.campaigns']}"/>
				<h:outputText value="#{limitationDepositsForm.limitationDeposit.campaignTxt}" />

				<h:outputLabel styleClass="text_gray_12_bold" for="affiliates" value="#{msgs['menu.affilates']}"/>
				<h:outputText value="#{limitationDepositsForm.limitationDeposit.affiliateTxt}" />

				<h:outputLabel styleClass="text_gray_12_bold" for="affiliates" value="#{msgs['limits.Remarketing']}"/>
				<h:outputText value="#{limitationDepositsForm.limitationDeposit.remarketing}" />

				<t:outputLabel for="minDeposit" value="#{msgs['limits.mindeposit']}"/>
                <h:panelGrid columns="2" >
	                <t:inputText id="minDeposit" dir="ltr" size="9" maxlength="9" value="#{limitationDepositsForm.limitationDeposit.minimumDeposit}" required="true">
 						<f:validateLongRange />
        	        </t:inputText>
                    <t:message id="minDepositError" for="minDeposit" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

            	<t:outputLabel for="minFirstDeposit" value="#{msgs['limits.min.first.deposit']}"/>
                <h:panelGrid columns="2" >
	                <t:inputText id="minFirstDeposit" dir="ltr" size="9" maxlength="9" value="#{limitationDepositsForm.limitationDeposit.minimumFirstDeposit}" required="true">
 						<f:validateLongRange />
        	        </t:inputText>
                    <t:message id="minFirstDepositError" for="minFirstDeposit" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>
            	
            	<t:outputLabel for="defaultDeposit" value="#{msgs['limits.default.deposit']}"/>
                <h:panelGrid columns="2" >
	                <t:inputText id="defaultDeposit" dir="ltr" size="9" maxlength="9" value="#{limitationDepositsForm.limitationDeposit.defaultDeposit}">
        	        	<f:validateLongRange />
        	        </t:inputText>
                    <t:message id="defaultDepositError" for="defaultDeposit" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

            	<h:outputLabel for="comments" value="#{msgs['limits.comments']}"/>
            	<h:panelGrid columns="2" >
	           		<h:inputTextarea cols="50" rows="5" id="comments" value="#{limitationDepositsForm.limitationDeposit.comments}"  >
    	       			<f:validateLength maximum="100"/>
        	   		</h:inputTextarea>
            		<t:message id="commentsError" for="comments" styleClass="error"/>
				</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="isActive" value="#{msgs['user.status.active']}"/>
				<t:selectBooleanCheckbox id="isActive" value="#{limitationDepositsForm.limitationDeposit.active}"/>

				<h:outputLabel styleClass="text_gray_12_bold" for="isUpdateByGroup" value="#{msgs['limits.update.by.group']}"/>
				<t:selectBooleanCheckbox id="isUpdateByGroup" value="#{limitationDepositsForm.limitationDeposit.updateByGroup}"/>

				<h:outputLabel styleClass="text_gray_12_bold" for="writerName" value="#{msgs['changed.user.details.writer']}"/>
				<h:outputText value="#{limitationDepositsForm.limitationDeposit.writerTxt}" />

            </h:panelGrid>

            <h:panelGrid style="text-align:left;#{limitationDepositsForm.showConfirmation ? 'display:none;' : ''}" columns="1" border="0" width="30%">
				 <t:commandLink action="#{limitationDepositsForm.validateUpdate}">
		                <h:outputText value="#{msgs['traderTool.button.update']}" />
		  		 </t:commandLink>
	        </h:panelGrid>

			<h:panelGroup rendered="#{limitationDepositsForm.showConfirmation}">
		        <ui:include src="/jsp/sadmin/limitationDepositsTable.xhtml" >
			   		<ui:param name="isUpdateScreen" value="true" />
			    </ui:include>


			    <h:panelGrid border="0" columns="2" cellspacing="40">
				    <t:commandLink action="#{limitationDepositsForm.update}">
		 	        	<h:outputText value="#{msgs['limits.approve']}" />
			  		</t:commandLink>
		  		 	<t:commandLink action="#{limitationDepositsForm.cancel}">
			        	<h:outputText value="#{msgs['limits.cancel']}" />
			  		</t:commandLink>
		  		</h:panelGrid>
	  		</h:panelGroup>


        </h:form>

    </h:panelGroup>
</ui:define>
</ui:composition>

</html>