<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
	<t:saveState value="#{limitationDepositsForm}" />
    <h:panelGroup >
        <h:form id="limitationDepositsForm">

            <h:panelGrid border="0" columns="10" cellspacing="2">

            	<h:outputLabel styleClass="text_gray_12_bold" for="type" value="#{msgs['investments.type']}"/>
            	<h:panelGrid columns="2" >
					<h:selectManyListbox style="width:134px;height:80px" id="type" value="#{limitationDepositsForm.types}" converter="javax.faces.Long" required="true">
						<f:selectItems value="#{limitationDepositsForm.typeAllSI}"/>
					</h:selectManyListbox>
					<t:message id="typeError" for="type" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="skins" value="#{msgs['register.skin']}" style="margin-left:30px;"/>
				<h:panelGrid columns="2" >
					<h:selectManyListbox style="width:134px;height:80px" id="skins" value="#{limitationDepositsForm.skins}" converter="javax.faces.Long" required="true">
						<f:selectItems value="#{writer.skinsAndEmptyLongSI}"/>
					</h:selectManyListbox>
					<t:message id="skinsError" for="skins" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="currencies" value="#{msgs['limits.currency']}" style="margin-left:30px;"/>
				<h:panelGrid columns="2" >
					<h:selectManyListbox style="width:134px;height:80px" id="currencies" value="#{limitationDepositsForm.currencies}" converter="javax.faces.Long" required="true">
						<f:selectItems value="#{writer.currencySI}"/>
					</h:selectManyListbox>
					<t:message id="currenciesError" for="currencies" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="countries" value="#{msgs['userstrip.countryname']}" style="margin-left:30px;"/>
				<h:panelGrid columns="2" >
					<h:selectManyListbox style="width:134px;height:80px" id="countries" value="#{limitationDepositsForm.countries}" converter="javax.faces.Long" required="true">
						<f:selectItems value="#{applicationData.allCountriesList}"/>
					</h:selectManyListbox>
					<t:message id="countriesError" for="countries" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="campaigns" value="#{msgs['newaccounts.campaigns']}" style="margin-left:30px;"/>
				<h:panelGrid columns="2" >
					<h:selectManyListbox style="width:450px;height:80px" id="campaigns" value="#{limitationDepositsForm.campaigns}" converter="javax.faces.Long" required="true">
						<f:selectItems value="#{writer.allMarketingCampaignsLongSI}"/>
					</h:selectManyListbox>
					<t:message id="campaignsError" for="campaigns" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>
			</h:panelGrid>

			<h:panelGrid border="0" columns="10" cellspacing="2">
				<h:outputLabel styleClass="text_gray_12_bold" for="paymentRecipients" value="#{msgs['campaigns.payment.recipient']}"  />
				<h:panelGrid columns="2" >
					<h:selectManyListbox style="width:134px;height:80px" id="paymentRecipients" value="#{limitationDepositsForm.paymentRecipients}" converter="javax.faces.Long" required="true">
						<f:selectItems value="#{writer.marketingPaymentRecipientsAllWriterSkinId}"/>
					</h:selectManyListbox>
					<t:message id="paymentRecipientsError" for="paymentRecipients" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="affiliates" value="#{msgs['menu.affilates']}"  style="margin-left:30px;"/>
				<h:panelGrid columns="2" >
					<h:selectManyListbox style="width:134px;height:80px" id="affiliates" value="#{limitationDepositsForm.affiliates}" converter="javax.faces.Long" required="true">
						<f:selectItems value="#{writer.marketingAffiliatesAllSI}"/>
					</h:selectManyListbox>
					<t:message id="affiliatesError" for="affiliates" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

				<t:outputLabel for="activeId" value="#{msgs['users.market.disable.active']}" style="margin-left:30px;"/>
            	<t:selectOneMenu id="activeId" value="#{limitationDepositsForm.active}"  >
    	       		<f:selectItems value="#{limitationDepositsForm.isActiveAllSI}" />
	   	        </t:selectOneMenu>

	   	        <t:outputLabel for="remarketing" value="#{msgs['limits.Remarketing']}" style="margin-left:30px;"/>
            	<t:selectOneMenu id="remarketing" value="#{limitationDepositsForm.remarketing}"  >
    	       		<f:selectItems value="#{limitationDepositsForm.getIsRemarketingSI(true)}" />
	   	        </t:selectOneMenu>

				<h:panelGrid style="text-align:left;margin-left:30px;" columns="1" border="0" width="30%" >
				 <t:commandLink action="#{limitationDepositsForm.search}">
		                <h:outputText value="#{msgs['button.search']}" />
		  		 </t:commandLink>
	        </h:panelGrid>


            </h:panelGrid>

            <ui:include src="/jsp/sadmin/limitationDepositsTable.xhtml">
		   		<ui:param name="isUpdateScreen" value="false" />
		    </ui:include>


			<t:commandLink action="#{limitationDepositsForm.navNew}">
            	    <h:outputText value="#{msgs['users.market.disable.add']}" />
			</t:commandLink>

        </h:form>

    </h:panelGroup>
</ui:define>
</ui:composition>

</html>