<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

<h:panelGroup>

		<h:form id="OddsPairsSelectorsForm">
		
   		      <h:panelGrid border="0" columns="3">

				<h:outputText value="#{msgs['return.refun.selector.return']}" />
    	    	  <t:inputText id="return" value="#{oddsPairsSelectorsForm.oddsPair.returnSelector}"  required="true" />
    	    	  <t:message id="returnError" for="return" replaceIdWithLabel="true" styleClass="error"/>
    	    	<h:outputText value="#{msgs['return.refun.selector.refund']}"/>
    	    	  <t:inputText id="refund" value="#{oddsPairsSelectorsForm.oddsPair.refundSelector}"  required="true"/>
    	    	  <t:message id="refundError" for="refund" replaceIdWithLabel="true" styleClass="error"/>
                 </h:panelGrid>
                 
			    <t:commandLink action="#{oddsPairsSelectorsForm.insert}" immediate="false">
	                <h:outputText value="#{msgs['return.refun.selector.save']}"/>
			    </t:commandLink>
		    
   		</h:form>
   		
</h:panelGroup>

</ui:define>
</ui:composition>
</html>   		