<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

<h:panelGroup>

		<h:form id="OddsPairsSelectorsForm">   		    
   		       
         <h:panelGrid border="0" columns="1" width="100%">
            <h:panelGrid border="0" columns="2">
				 <h:outputText rendered="#{oddsPairsSelectorsGroupForm.oddsPairGroup.oddsGroupID>0}" value="#{msgs['return.refun.selector.groupid']}"/>
				 <h:outputText styleClass="data_display" rendered="#{oddsPairsSelectorsGroupForm.oddsPairGroup.oddsGroupID>0}" value="#{oddsPairsSelectorsGroupForm.oddsPairGroup.oddsGroupID}"> </h:outputText>
 
                 <h:outputText  value="#{msgs['return.refun.selector.group.value']}"/>
				 <h:outputText styleClass="data_display"  value="#{oddsPairsSelectorsGroupForm.oddsPairGroup.oddsGroupValue}"> </h:outputText>
 
            </h:panelGrid>
		 </h:panelGrid>

		  
		   <h:panelGrid border="0" columns="2" width="50%">
		   <h:panelGroup  style="high: 250px; overflow: scroll"> 
		      <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{oddsPairsSelectorsGroupForm.oddsGrouplist}"
           >
            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['return.refun.selector.id']}"/>
               </f:facet>
               <h:outputText value="#{v.selectorID}" />
           </h:column>
            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['return.refun.selector.isselected']}"/>
               </f:facet>
               <h:selectBooleanCheckbox  value="#{v.isSelected}" >
              
               </h:selectBooleanCheckbox> 
           </h:column>
            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['return.refun.selector.return']}"/>
               </f:facet>
               <h:outputText value="#{v.returnSelector}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['return.refun.selector.refund']}"/>
               </f:facet>
               <h:outputText value="#{v.refundSelector}" />
           </h:column>
           </t:dataTable>
            
            </h:panelGroup>
    	    </h:panelGrid>
    	     <h:panelGrid style="text-align:left" columns="1" border="0" width="30%" >
				 <t:commandLink action="#{oddsPairsSelectorsGroupForm.updateInsert}" immediate="false">
		                <h:outputText value="#{msgs['button.save']}" />
		  		 </t:commandLink>
	        </h:panelGrid>
    		
   		</h:form>
   		
</h:panelGroup>
 

</ui:define>
</ui:composition>
</html>   		