<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

<h:panelGroup>

		<h:form id="OddsPairsSelectorsGroupForm">

             <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="30"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{oddsPairsSelectorsGroupForm.list}"
           >
            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['return.refun.selector.groupid']}"/>
               </f:facet>
               <t:commandLink action="#{oddsPairsSelectorsGroupForm.edit}" immediate="true">
               		<h:outputText value="#{v.oddsGroupID}" />
                    <f:setPropertyActionListener target="#{oddsPairsSelectorsGroupForm.oddsPairGroup}" value="#{v}" />
			   </t:commandLink>
           </h:column>
            
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['return.refun.selector.group.value']}"/>
               </f:facet>
               <h:outputText value="#{v.oddsGroupValue}" />
           </h:column>
           
            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['return.refun.selector.group']}"/>
               </f:facet>
               <h:outputText value="#{v.oddsGroup}" />
           </h:column>
           
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['selector.group.default.pair']}"/>
               </f:facet>
               <select id="oddsPairsSelect_#{v.oddsGroupID}" onchange="selectDefaulPair(this, '#{v.oddsGroupID}')">
               </select>
               <script>
					addOptionsToSelect('#{v.oddsGroupDefault}','#{v.oddsGroupID}');
               </script>

           </h:column>
                     
          </t:dataTable>
           
           	<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
				<t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                     rendered="#{oddsPairsSelectorsGroupForm.listSize>30}">
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
	            </t:dataScroller>
    		</h:panelGrid>
   		   
   		    <t:commandLink action="#{oddsPairsSelectorsGroupForm.initValues}" immediate="true">
		                <h:outputText value="#{msgs['return.refun.group.add']}" />
 		   </t:commandLink>
   		   
   		   	<h:inputHidden value="#{oddsPairsSelectorsGroupForm.oddsGroupId}" id="oddsGroupId"/>
   		   	<h:inputHidden value="#{oddsPairsSelectorsGroupForm.oddsGroupDefaultValue}" id="oddsGroupDefaultValue"/>
   		   	<h:commandButton action="#{oddsPairsSelectorsGroupForm.updateOddsGroupDefaultValue}" id="hiddenBtn" style="display:none;"/>
   		</h:form>
   		
</h:panelGroup>

</ui:define>
</ui:composition>
</html>   		