<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <h:panelGroup>

        <h:form id="OpportunityOneTouchForm">

   			<h:panelGrid border="0" columns="1" width="100%">
            <h:panelGrid border="0" columns="2">

            	<h:outputLabel for="marketId" value="#{msgs['opportunities.templates.market_id']}"/>
            	<h:panelGrid border="0" columns="2">
	              <h:selectOneMenu id="marketId" required="true" value="#{OpportunityOneTouchForm.opportunity.marketId}" >
  					<f:selectItem itemLabel="" itemValue="" />
	   				<f:selectItems value="#{writer.marketsSI}" />
		          </h:selectOneMenu>
                  <t:message id="marketIdError" for="marketId" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

            	<h:outputLabel for="timeFirstInvestMin" value="#{msgs['opportunities.templates.time_first_invest']}"/>
            	<h:panelGrid dir="RTL" border="0" columns="6">

            	  <h:selectOneMenu id="timeFirstInvestMin" required="true" value="#{OpportunityOneTouchForm.template.timeFirstInvestMin}"  >
	   				<f:selectItems value="#{applicationData.minutes}" />
		          </h:selectOneMenu>

    			  <h:outputText value=":"/>

                  <h:selectOneMenu id="timeFirstInvestHour" required="true" value="#{OpportunityOneTouchForm.template.timeFirstInvestHour}"  >
	   				<f:selectItems value="#{applicationData.hours}" />
		          </h:selectOneMenu>

				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="firstInv" value="#{OpportunityOneTouchForm.firstInvDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['OpportunityOneTouchForm'].elements['OpportunityOneTouchForm:firstInv'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['OpportunityOneTouchForm'].elements['OpportunityOneTouchForm:firstInv'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="firstInvError" for="firstInv" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

                  <t:message id="timeFirstInvestMinError" for="timeFirstInvestMin" detailFormat="#{msgs['opportunities.templates.minutes']}" replaceIdWithLabel="true" styleClass="error"/>
                  <t:message id="timeFirstInvestHourError" for="timeFirstInvestHour" detailFormat="#{msgs['opportunities.templates.hours']}" replaceIdWithLabel="true" styleClass="error"/>

            	</h:panelGrid>

				<h:outputLabel for="timeEstClosingMin" value="#{msgs['opportunities.templates.time_est_closing']}"/>
            	<h:panelGrid dir="RTL" border="0" columns="6">

            	  <h:selectOneMenu id="timeEstClosingMin" required="true" value="#{OpportunityOneTouchForm.template.timeEstClosingMin}"  >
  					<f:selectItem itemLabel="" itemValue="" />
	   				<f:selectItems value="#{applicationData.minutes}" />
		          </h:selectOneMenu>

    			  <h:outputText value=":"/>

                  <h:selectOneMenu id="timeEstClosingHour" required="true" value="#{OpportunityOneTouchForm.template.timeEstClosingHour}"  >
	   				<f:selectItems value="#{applicationData.hours}" />
		          </h:selectOneMenu>

				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="estClosing" value="#{OpportunityOneTouchForm.estClosingDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['OpportunityOneTouchForm'].elements['OpportunityOneTouchForm:estClosing'],'anchor2','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['OpportunityOneTouchForm'].elements['OpportunityOneTouchForm:estClosing'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="estClosingError" for="estClosing" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

                  <t:message id="timeEstClosingMinError" for="timeEstClosingMin" detailFormat="#{msgs['opportunities.templates.minutes']}" replaceIdWithLabel="true" styleClass="error"/>
                  <t:message id="timeEstClosingHourError" for="timeEstClosingHour" detailFormat="#{msgs['opportunities.templates.hours']}" replaceIdWithLabel="true" styleClass="error"/>

            	</h:panelGrid>


            	<h:outputLabel for="timeLastInvestMin" value="#{msgs['opportunities.templates.time_last_invest']}"/>
            	<h:panelGrid dir="RTL" border="0" columns="6">

            	  <h:selectOneMenu id="timeLastInvestMin" required="true" value="#{OpportunityOneTouchForm.template.timeLastInvestMin}"  >
	   				<f:selectItems value="#{applicationData.minutes}" />
		          </h:selectOneMenu>

    			  <h:outputText value=":"/>

                  <h:selectOneMenu id="timeLastInvestHour" required="true" value="#{OpportunityOneTouchForm.template.timeLastInvestHour}"  >
	   				<f:selectItems value="#{applicationData.hours}" />
		          </h:selectOneMenu>

				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="lastInv" value="#{OpportunityOneTouchForm.lastInvDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['OpportunityOneTouchForm'].elements['OpportunityOneTouchForm:lastInv'],'anchor3','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['OpportunityOneTouchForm'].elements['OpportunityOneTouchForm:lastInv'],'anchor3','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor3" ID="anchor3">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="lastInvError" for="lastInv" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

                  <t:message id="timeLastInvestMinError" for="timeLastInvestMin" detailFormat="#{msgs['opportunities.templates.minutes']}" replaceIdWithLabel="true" styleClass="error"/>
                  <t:message id="timeLastInvestHourError" for="timeLastInvestHour" detailFormat="#{msgs['opportunities.templates.hours']}" replaceIdWithLabel="true" styleClass="error"/>

            	</h:panelGrid>

            	<h:outputLabel for="oddsTypeId" value="#{msgs['opportunities.templates.odds_type_id']}"/>
            	<h:panelGrid border="0" columns="4">
	              <h:selectOneMenu id="oddsTypeId" required="true" value="#{OpportunityOneTouchForm.opportunity.oddsTypeId}"  >
  					<f:selectItem itemLabel="" itemValue="" />
	   				<f:selectItems value="#{writer.oddsTypesSI}" />
		          </h:selectOneMenu>
                  <t:message id="oddsTypeIdError" for="oddsTypeId" replaceIdWithLabel="true" styleClass="error"/>

		        </h:panelGrid>

		        <h:outputLabel for="opportunityTypeId" value="#{msgs['opportunities.templates.opportunity_type_id']}"/>
		        <h:outputLabel value="#{msgs['investments.one']}"/>

				<h:outputLabel for="updown" value="#{msgs['opportunities.one.touch.upDown']}"/>
            	<h:panelGrid border="0" columns="2">
	              <h:selectOneMenu id="updown" required="true" value="#{OpportunityOneTouchForm.upDown}"  >
  					<f:selectItem itemLabel="#{msgs['opportunities.one.touch.up']}" itemValue="1" />
	   				<f:selectItem itemLabel="#{msgs['opportunities.one.touch.down']}" itemValue="0" />
		          </h:selectOneMenu>
                  <t:message id="updownError" for="updown" replaceIdWithLabel="true" styleClass="error"/>

		        </h:panelGrid>

		        <h:outputLabel for="timezone" value="#{msgs['opportunities.templates.timezone']}"/>
		        <h:panelGrid border="0" columns="2">
		          <h:selectOneMenu id="timezone" required="true" value="#{OpportunityOneTouchForm.template.timeZone}"  >
  					<f:selectItem itemLabel="" itemValue="" />
	   				<f:selectItems value="#{writer.timezoneTypesSI}" />
		          </h:selectOneMenu>
                  <t:message id="timezoneError" for="timezone" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>


	            <h:outputLabel for="scheduled" value="#{msgs['opportunities.templates.scheduled']}"/>
 	         	<h:outputLabel value="#{msgs['opportunities.one.touch.day']}"/>

                <h:outputLabel for="decimalpoint" value="#{msgs['opportunities.one.touch.decimal']}" />
				<h:panelGrid border="0" columns="2">
            	    <t:inputText id="decimalpoint" size="2" maxlength="2" value="#{OpportunityOneTouchForm.opportunity.decimalPointOneTouch}" required="true">
        	        	<f:validateLongRange/>
    	            </t:inputText>
	                <t:message id="decimalpointError" for="decimalpoint" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

                <h:outputText value="#{msgs['opportunities.one.touch.ispublished']}"/>
	            <h:selectBooleanCheckbox value="#{OpportunityOneTouchForm.isPublished}" />

                <h:outputText value="#{msgs['opportunities.one.touch.isdisable']}"/>
	            <h:selectBooleanCheckbox value="#{OpportunityOneTouchForm.opportunity.disabled}" />


		        <h:outputText value="#{msgs['opportunities.templates.writer_id']}"/>
                <h:outputText styleClass="data_display" value="#{utils.getWriterName(OpportunityOneTouchForm.opportunity.writerId)}" />

            </h:panelGrid>

             <h:panelGrid style="text-align:left" columns="1" border="0" width="30%" >

				 <t:commandLink action="#{OpportunityOneTouchForm.insert}">
		                <h:outputText value="#{msgs['button.save']}" />
		  		 </t:commandLink>
	        </h:panelGrid>
            </h:panelGrid>


        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>