table {
	border-collapse:collapse;border-spacing:0;font-size:15px;
}
th {
	border:1px solid #5a5a5a;padding:10px;font-weight:400;text-align:left;color:#fff;background:#5a5a5a;
}
td {
	border:1px solid #d7d7d7;padding:10px;transition:all 250ms;
}
tbody tr:hover td {
	background:#fdefec;transition:all 250ms;
}
table h4 {
	margin:0;font-weight:400;
}