<div class="node" ng-class="{active: node.active}">
	<span class="node-collapsed-icon">
		<span ng-if="node.nodes && node.nodes.length > 0" ng-click="CheckboxTree.toggleNode(node)">
			<i ng-if="!node.collapsed" class="uncollapsed fa fa-chevron-circle-down"></i>
			<i ng-if="node.collapsed" class="collapsed fa fa-chevron-circle-right"></i>
		</span>
	</span>
	<span ng-click="CheckboxTree.updateTree(node)">
		<span class="node-checked-icon">
			<span ng-if="node.nodes">
				<i ng-if="node.checkedStatus == 0" class="fa fa-square-o"></i>
				<i ng-if="node.checkedStatus == 1" class="fa fa-minus-square-o"></i>
				<i ng-if="node.checkedStatus == 2" class="fa fa-check-square-o"></i>
			</span>
			<span ng-if="!node.nodes">
				<i ng-if="!node.checked" class="fa fa-square-o"></i>
				<i ng-if="node.checked" class="fa fa-check-square-o"></i>
			</span>
		</span>
		<input type="checkbox" ng-model="node.checked" ng-hide="true">
		<span class="node-title">{{node.title}}</span>
	</span>
</div>
<ol class="node-tree" ng-hide="node.collapsed" ui-tree-nodes="" ng-model="node.nodes">
	<li class="node-group" ng-repeat="node in node.nodes" ui-tree-node ng-include="'html/templates/components/checkbox-tree.html'">
	</li>
</ol>
