<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">

	#{user.goCms}
	#{cmsBundleSelection.load()}

	<t:panelTabbedPane align="center"
	              
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent"
                  selectedIndex="0">

	 <t:panelTab rendered="#{!cmsBundleSelection.cmsUserMoreThanOne}" id="cmstext" label="#{msgs['menu.cms.textandlabels']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/cms/textAndLabels.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab rendered="#{!cmsBundleSelection.cmsUserMoreThanOne}" id="cmsimg" label="#{msgs['menu.cms.imagesandalt']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/cms/imagesAndAlt.jsf?refresh=true" width="100%" height="100%"></iframe>
    </t:panelTab>
    
    <h:panelGrid rendered="#{cmsBundleSelection.cmsUserMoreThanOne}" id="cmsUserError" columns="2">
    	<h:outputText 
             value="#{msgs['menu.cms.usererrortext']}"
             rendered="true"
             style="color:red;font-weight:bold"/>
    </h:panelGrid>


</t:panelTabbedPane>

</ui:define>
</ui:composition>

</html>