<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
<script>
	window.onbeforeunload =  window.top.stopThickBox();
</script>
<SCRIPT LANGUAGE="JavaScript" >
 
        var btnEntr=0;
 		document.body.onkeypress = function (event) {
             event = event || window.event;
             if (event.keycode = 13) {
                  btnEntr=1;
             }
        }
        
        var checkConfirm=0; 
		function gettext(msgType) {
			switch(msgType)
			{
			case 0:
				out='#{msgs['cms.commit.confirm']}';
				break
			}
			return out;
		}

		function confirmit(msgType) {
         if (checkConfirm!=0){
			if (!confirm(gettext(msgType))) {
				return false;
			}
			return true;
		 }
	   }

	</SCRIPT>
  <h:panelGroup>
		<h:form id="textAndLabels">

         <h:panelGrid columns="12" rendered="#{!textAndLabels.showSearch}">
         
          <h:outputLabel for="somLang" value="#{msgs['cms.label.skin']}"  />
					<h:selectOneMenu id="somLang" value="#{textAndLabels.skinId}" required="true">
						<f:selectItems value="#{textAndLabels.langList}"/>
					</h:selectOneMenu>
       
									
       <h:outputLabel for="somPage" value="#{msgs['cms.label.page']}"  />
					<h:selectOneMenu id="somPage" value="#{textAndLabels.page}" required="true">
						<t:selectItems value="#{textAndLabels.pageList}" var="ci" itemLabel="#{msgs['CMSlabel.'.concat(ci.label)]}" itemValue="#{ci.value}"/>
					</h:selectOneMenu>
				
				<h:panelGrid witdh="3px"/>
				

	  <h:outputLabel for="somType" value="#{msgs['cms.label.type']}"  />
					<h:selectOneMenu id="somType" value="#{textAndLabels.type}" required="true">
						<f:selectItems value="#{textAndLabels.typeList}"/>
					</h:selectOneMenu>

				<h:panelGrid witdh="3px"/>
	
	<h:outputLabel for="somKey" value="#{msgs['cms.label.key']}"  rendered="false"/>
					<h:selectOneMenu id="somKey" value="#{textAndLabels.key}" required="true" rendered="false">
						<f:selectItems value="#{textAndLabels.keyList}"/>
					</h:selectOneMenu>

				<h:panelGrid witdh="3px"/>
		
		<t:commandLink id="search" action="#{textAndLabels.Search}" disabled="#{textAndLabels.showSearch}" onclick="dimScreen()">
		             <h:outputText value="#{msgs['cms.search']}" />
	  			</t:commandLink>		
		</h:panelGrid>		
				
		
		 <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{textAndLabels.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
				varDetailToggler="detailToggler"
				rendered="#{textAndLabels.showEditTable}"
                value="#{textAndLabels.objectsList}">
				
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['cms.label.skin']}"/>
					</f:facet>
						<h:outputText value="#{v.skinName}"/>
				</h:column>
				
				<h:column>
					<f:facet name="header">
					<h:outputText value="#{msgs['cms.label.page']}"/>
					</f:facet>
					<h:outputText value="#{msgs['CMSlabel.'.concat(v.page)]}"/> 
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['cms.label.type']}"/>
					</f:facet>
						<h:outputText value="#{v.type}"/>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['cms.label.key']}"/>
					</f:facet>
						<h:outputText value="#{v.key}"/>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['cms.value']}"/>
					</f:facet>
						<h:outputText value="#{v.value}"/>
				</h:column>

				<h:column rendered="#{textAndLabels.showEdit}">
					<f:facet name="header">
						<h:outputText value="#{msgs['cms.button.edit']}"/>
					</f:facet>
					<t:commandLink value="" action="#{textAndLabels.Edit}" immediate="true" onclick="dimScreen()">
						<h:outputText value="#{msgs['cms.button.edit']}"/>
						 <f:setPropertyActionListener target="#{textAndLabels.cmsData}" value="#{v}" />
					</t:commandLink>
				</h:column>

				
			 </t:dataTable>
			 
			 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" rendered="#{textAndLabels.showEditTable and textAndLabels.rows>30 }">
				<t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true">
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
	            </t:dataScroller>
    		</h:panelGrid>
    		
    		
    		 <t:dataTable id="data1"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{textAndLabels.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
				varDetailToggler="detailToggler"
				rendered="#{textAndLabels.showTableForEdit}"
                value="#{textAndLabels.objectsListEdit}">
				
				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['cms.label.skin']}"/>
					</f:facet>
						<h:outputText value="#{v.skinName}"/>
				</h:column>
				
				<h:column>
					<f:facet name="header">
					<h:outputText value="#{msgs['cms.label.page']}"/>
					</f:facet>
					<h:outputText value="#{msgs['CMSlabel.'.concat(v.page)]}"/> 
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['cms.label.type']}"/>
					</f:facet>
						<h:outputText value="#{v.type}"/>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['cms.label.key']}"/>
					</f:facet>
						<h:outputText value="#{v.key}"/>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['cms.value']}"/>
					</f:facet>
						<h:outputText value="#{v.value}"/>
				</h:column>

				<h:column rendered="#{textAndLabels.showEdit}">
					<f:facet name="header">
						<h:outputText value="#{msgs['cms.button.edit']}"/>
					</f:facet>
					<t:commandLink value="" action="#{textAndLabels.Edit}" immediate="true" onclick="dimScreen()">
						<h:outputText value="#{msgs['cms.button.edit']}"/>
						 <f:setPropertyActionListener target="#{textAndLabels.cmsData}" value="#{v}" />
					</t:commandLink>
				</h:column>

				
			 </t:dataTable>
    		
		
         <h:panelGroup>
       <h:outputLabel for="edit" value="#{msgs['cms.label.editval']}" rendered="#{textAndLabels.showCommit}"/>
           <h:panelGrid witdh="3px"/>
    

        <h:panelGrid witdh="3px"/>
       <h:inputTextarea styleClass="input_text" id="editarea" value="#{textAndLabels.newValue}" rows="9" cols="50" rendered="#{textAndLabels.showCommit}"/>
       
       </h:panelGroup>
       
       <h:panelGrid columns="3" rendered="#{textAndLabels.showCommit}">
       
                <t:commandLink id="Commit" action="#{textAndLabels.Commit}" rendered="#{textAndLabels.afterPreview}" onclick="if (btnEntr==1){checkConfirm=0;btnEntr=0;}else{checkConfirm=1}; if(!confirmit(0)) return false;dimScreen()">
		             <h:outputText value="#{msgs['cms.commit']}" />
	  			</t:commandLink>
	  			
	  			<t:commandLink id="Rollback" action="#{textAndLabels.Rollback}" onclick="dimScreen()">
		             <h:outputText value="#{msgs['cms.rollback']}" />
	  			</t:commandLink>
	  			
	  			 <t:commandLink id="Review" action="#{textAndLabels.Preview}" onclick="dimScreen()">
		             <h:outputText value="#{msgs['cms.review']}" />
	  			</t:commandLink>
	  			
	  			
       </h:panelGrid> 
       
        </h:form>

  </h:panelGroup>
    <t:outputText 
             value="#{textAndLabels.cvsMsg}"
             rendered="true"
             style="color:red;font-weight:bold"/>

</ui:define>
</ui:composition>
</html>



