<div id="tab-content" class="transactions-content">
	<h1>
		<span>{{getMsgs('crypto-deposits')}}</span>
	</h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box documents-files-screen">
		<div class="box-header">
			<h2>{{getMsgs('crypto-deposits')}}</h2>
			<toggler toggle="filter" default-state="on" on-toggle="filterToggled" />
		</div>
		<form name="_form" novalidate>
			<div class="box-sub-header static-filters">
				<label for="fromDate" class="filter-label">
					{{getMsgs('from')}}:
				</label>
				<div class="date-holder">
					<input id="fromDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="cdCtrl.openCalendar($event, 'fromDate')" 
						ng-model="cdCtrl.filter.fromDate" is-open="cdCtrl.openDates.fromDate" enable-time="false" min-date="cdCtrl.minDate" max-date="cdCtrl.maxDate" datepicker-options="cdCtrl.dateOptions" />
					<button type="button" class="btn btn-default" ng-click="cdCtrl.openCalendar($event, 'fromDate')"><i class="fa fa-calendar"></i></button>
				</div>
				
				<label for="toDate" class="filter-label">
					{{getMsgs('to')}}:
				</label>
				<div class="date-holder">
					<input id="toDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="cdCtrl.openCalendar($event, 'toDate')" 
						ng-model="cdCtrl.filter.toDate" is-open="cdCtrl.openDates.toDate" enable-time="false" min-date="cdCtrl.minDate" max-date="cdCtrl.maxDate" datepicker-options="cdCtrl.dateOptions" />
					<button type="button" class="btn btn-default" ng-click="cdCtrl.openCalendar($event, 'toDate')"><i class="fa fa-calendar"></i></button>
				</div>
				
				<label>
					<span class="filter-label">{{getMsgs('transaction-id')}}:</span>
					<input ng-model="cdCtrl.filter.transactionId" type="text" restrict-digits/>
				</label>

				<label>
					<span class="filter-label">{{getMsgs('user-id')}}:</span>
					<input ng-model="cdCtrl.filter.userId" type="text" restrict-digits/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('general.email')}}:</span>
					<input ng-model="cdCtrl.filter.email" type="text"/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('first-name')}}:</span>
					<input ng-model="cdCtrl.filter.firstName" type="text"/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('last-name')}}:</span>
					<input ng-model="cdCtrl.filter.lastName" type="text"/>
				</label>
				
				<div class="right-block">
					<button type="button" class="button blue" toggable-off="filter" ng-click="cdCtrl.getAllCrytpoDeposits(_form)">{{getMsgs('search')}}</button>
					
					<label>
						<span class="filter-label">{{getMsgs('show-entries')}}:</span>
						<single-select ng-model="cdCtrl.filter.resultsPerPage"></single-select>
					</label>
				</div>
			</div>
			<div class="box-sub-header columns" toggable-on="filter">
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('country')}}:</span>
							<span>
								<multiselect model="cdCtrl.filter.countries" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('assignees')}}:</span>
							<span>
								<multiselect model="cdCtrl.filter.assignees" />
							</span>
						</label>
					</div>
				</div>
				
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('payment-method')}}:</span>
							<span>
								<multiselect model="cdCtrl.filter.transactionTypes" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('transaction-status')}}:</span>
							<span>
								<multiselect model="cdCtrl.filter.statuses" />
							</span>
						</label>
					</div>
				</div>
				
				<div class="column-one-third">
					<span class="filter-label">{{getMsgs('searchBy')}}:</span>
					<span class="">
						<single-select ng-model="cdCtrl.filter.searchBy" />
					</span>
				</div>
			</div>
			<div class="box-sub-header" toggable-on="filter">
				<button type="button" class="button blue" ng-click="cdCtrl.getAllCrytpoDeposits(_form)">{{getMsgs('search')}}</button>
			</div>
		</form>
		<div class="box-body" ng-if="cdCtrl.results && cdCtrl.results.length == 0">
			<h2>{{getMsgs('no-results-found')}}</h2>
		</div>
		
		<div class="box-body" ng-if="cdCtrl.results && cdCtrl.results.length > 0">
			<table class="pretty-table" id="exportTable">
				<thead>
					<tr>
						<th>{{getMsgs('transaction-id')}}</th>
						<th>{{getMsgs('general.user.id')}}</th>
						<th>{{getMsgs('name')}}</th>
						<th>{{getMsgs('country')}}</th>
						<th>{{getMsgs('transactions.timecreated')}}</th>
						<th>{{getMsgs('creditcards.deposit')}}</th>
						<th>{{getMsgs('deposit-rate')}}</th>
						<th>{{getMsgs('general.currency')}}</th>
						<th>{{getMsgs('execution-date')}}</th>
						<th>{{getMsgs('execution-amount')}}</th>
						<th>{{getMsgs('execution-rate')}}</th>
						<th>{{getMsgs('fee')}}</th>
						<th>{{getMsgs('clearance-fee')}}</th>
						<th>{{getMsgs('envoy.selectmethod')}}</th>
						<th>{{getMsgs('total-deposit')}}</th>
						<th>{{getMsgs('assignees')}}</th>
						<th>{{getMsgs('trans-status')}}</th>
						<th>{{getMsgs('txid')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in cdCtrl.results">
						<td class="clickable" ng-click="openUserStrip(result.userId)">{{result.transactionId}}</td>
						<td class="clickable" ng-click="openUserStrip(result.userId)">{{result.userId}}</td>
						<td>{{result.name}}</td>
						<td>{{result.country}}</td>
						<td>{{result.timeCreated | date: 'defaultDateTime'}}</td>
						<td>{{formatAmount({amount: result.depositAmount, centsPart: 2, skipCurrencySign: true})}}</td>
						<td>{{result.depositRate}}</td>
						<td>{{result.currency}}</td>
						<td>{{result.executionDate | date: 'defaultDateTime'}}</td>
						<td>{{formatAmount({amount: result.executionAmount, centsPart: 2, skipCurrencySign: true})}}</td>
						<td>{{formatAmount({amount: result.executionRate, centsPart: 2, skipCurrencySign: true})}}</td>
						<td>{{result.fee / 100}}</td>
						<td>{{result.clearanceFee / 100}}</td>
						<td>{{getMsgs(cdCtrl.transactionTypes[result.paymentMethod])}}</td>
						<td>{{formatAmount({amount: result.totalDepositUsd, centsPart: 2, skipCurrencySign: true})}}</td>
						<td>{{result.assignee}}</td>
						<td>{{getMsgs(cdCtrl.transactionStatuses[result.transactionStatus])}}</td>
						<td>{{result.txId}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="box-footer" ng-if="cdCtrl.results && cdCtrl.results.length > 0">
			<pagination model="cdCtrl.pagination">
				<div class="taR">
					<a onclick="exportSearchCSV('exportTable')" class="icons excel mr10"></a>
				</div>
			</pagination>
		</div>
	</div>
</div>
