<div ng-controller="TransactionsCtr" id="tab-content" class="transactions-content">
	<h1><span>{{getMsgs('transactions')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box transactions-screen">
		<div class="box-header">
			<h2>{{getMsgs('transactions-list')}}</h2>
			<toggler toggle="filter" default-state="on" on-toggle="filterToggled" />
		</div>
		<form name="_form" novalidate>
			<div class="box-sub-header static-filters">
				<label for="startDate" class="filter-label">
					{{getMsgs('from')}}:
				</label>
				<div class="date-holder">
					<input id="startDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="openCalendar($event, 'startDate')" 
						ng-model="filter.startDate" is-open="filter.openDates.startDate" enable-time="false" min-date="filter.minDate" max-date="filter.endDate" datepicker-options="dateOptions" />
					<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startDate')"><i class="fa fa-calendar"></i></button>
				</div>
				<label for="endDate" class="filter-label">
					{{getMsgs('to')}}:
				</label>
				<div class="date-holder">
					<input id="endDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="openCalendar($event, 'endDate')" 
						ng-model="filter.endDate" is-open="filter.openDates.endDate" enable-time="false" min-date="filter.startDate" max-date="filter.maxDate" datepicker-options="dateOptions" />
					<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'endDate')"><i class="fa fa-calendar"></i></button>
				</div>
				
				
				<span>
					<span class="filter-label">{{getMsgs('search-by')}}:</span>
					<label>
						<input type="radio" ng-model="filter.searchBy" value="1"/>
						<span class="radio-button small-radio"></span>
						{{getMsgs('time-created')}}
					</label>
					<label>
						<input type="radio" ng-model="filter.searchBy" value="2"/>
						<span class="radio-button small-radio"></span>
						{{getMsgs('time-settled')}}
					</label>
				</span>
				
				<label>
					<span class="filter-label">{{getMsgs('transaction-id')}}:</span>
					<input ng-model="filter.transactionId" type="text" restrict-digits/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('user-id')}}:</span>
					<input ng-model="filter.userId" type="text" restrict-digits/>
				</label>

				<label>
					<span class="filter-label">{{getMsgs('reference')}}:</span>
					<input ng-model="filter.referenceId" type="text" restrict-digits/>
				</label>
				
				<div class="right-block">
					<button type="button" class="button blue" toggable-off="filter" ng-click="getAll()">{{getMsgs('search')}}</button>
					
					<label>
						<span class="filter-label">{{getMsgs('show-entries')}}:</span>
						<single-select ng-model="filter.resultsPerPage"></single-select>
					</label>
				</div>
			</div>
			<div class="box-sub-header columns" toggable-on="filter">
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('class-users')}}:</span>
							<span>
								<select ng-model="filter.classUser" ng-options="classUser.name for classUser in filter.classUsers | orderBy:sortFilter"></select>
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('business-case')}}:</span>
							<span>
								<multiselect model="filter.skinBusinessCases" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('skin')}}:</span>
							<span>
								<multiselect model="filter.skins" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('country')}}:</span>
							<span>
								<multiselect model="filter.countries" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('currency')}}:</span>
							<span>
								<multiselect model="filter.currencies" />
							</span>
						</label>
						
						<label class="transactions-filter-campaign">
							<span class="filter-label">{{getMsgs('campaign')}}:</span>
							<span>
								<select ng-model="filter.campaign" ng-options="campaign.name for campaign in filter.campaigns | orderBy:sortFilter"></select>
							</span>
						</label>
					</div>
				</div>
				
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('transaction-class-type')}}:</span>
							<span>
								<multiselect model="filter.transactionClassTypes" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('transaction-type')}}:</span>
							<span>
								<multiselect model="filter.transactionTypes" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('transaction-status')}}:</span>
							<span>
								<multiselect model="filter.transactionStatuses" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('system-writer')}}:</span>
							<span>
								<multiselect model="filter.systemWriters" />
							</span>
						</label>

						<div class="row">
							<span class="cell filter-label">{{getMsgs('amount-from')}}:</span>
							<span class="cell">
								<input ng-model="filter.amountUSDFrom" type="text" class="short-input" />
								<label>
									<span class="filter-label">{{getMsgs('to')}}:</span>
									<input ng-model="filter.amountUSDTo" type="text" class="short-input" />
								</label>
							</span>
						</div>

						<div class="row">
							<span class="cell filter-label">{{getMsgs('deposit-type')}}:</span>
							<span class="cell">
								<select class="vaM" ng-model="filter.salesTypes" ng-options="salesTypes.name for salesTypes in filter.salesTypesFilter | orderBy:sortFilter"></select>
								<label>
									<span class="filter-label">{{getMsgs('deposit-attribution')}}:</span>
									<span>
										<select ng-model="filter.depositSource" ng-options="depositSource.name for depositSource in filter.depositSourceFilter | orderBy:sortFilter"></select>
									</span>
								</label>
							</span>
						</div>
					</div>
				</div>
				
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('clearing-provider')}}:</span>
							<span>
								<multiselect model="filter.clearingProviders" />
							</span>
						</label>
						
						<div class="row">
							<span class="cell filter-label">{{getMsgs('cc-bin')}}:</span>
							<span class="cell">
								<input ng-model="filter.ccBin" type="text" restrict-digits class="short-input"/>
								<label>
									<span class="filter-label">{{getMsgs('cc-last-4-digits')}}:</span>
									<input ng-model="filter.ccLast4Digits" type="text" maxlength="4" restrict-digits class="short-input"/>
								</label>
							</span>
						</div>
						
						<label>
							<span class="filter-label">{{getMsgs('ccCountry')}}:</span>
							<span>
								<multiselect model="filter.creditCardCountries" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('j4postponed')}}:</span>
							<span>
								<select ng-model="filter.j4postponed" ng-options="j4postponed.name for j4postponed in filter.j4postponedFilter | orderBy:sortFilter"></select>
						
								<label>
									<span class="filter-label">{{getMsgs('was.rerouted')}}:</span>
									<select class="vaM" ng-model="filter.wasRerouted" ng-options="wasRerouted.name for wasRerouted in filter.wasReroutedFilter | orderBy:sortFilter"></select>
								</label>
							</span>
						</label>

						<div class="row">
							<span class="cell filter-label">{{getMsgs('has-balance')}}:</span>
							<span class="cell">
								<select class="vaM" ng-model="filter.hasBalance" ng-options="hasBalance.name for hasBalance in filter.hasBalanceFilter | orderBy:sortFilter"></select>
								<label>
									<span class="filter-label">{{getMsgs('receipt-number')}}:</span>
									<input ng-model="filter.receiptNumber" type="text" restrict-digits/>
								</label>
							</span>
						</div>
						
						<div class="row">
							<span class="cell filter-label">{{getMsgs('transactions.is3dsecure')}}:</span>
							<span class="cell">
								<select class="vaM" ng-model="filter.isThreeD" ng-options="isThreeD.name for isThreeD in filter.isThreeDFilter | orderBy:sortFilter"></select>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="box-sub-header" toggable-on="filter">
				<button type="button" class="button blue" ng-click="getAll(_form)">{{getMsgs('search')}}</button>
			</div>
		</form>
		<div class="box-body" ng-if="transactions && transactions.length == 0">
			<h2>{{getMsgs('no-results-found')}}</h2>
		</div>
		
		<div class="box-body" ng-if="transactions && transactions.length > 0">
			<table class="pretty-table" id="exportTable">
				<thead>
					<tr>
						<th>{{getMsgs('transaction-id')}}</th>
						<th>{{getMsgs('user-name')}}</th>
						<th>{{getMsgs('country')}}</th>
						<th>{{getMsgs('created-at')}}</th>
						<th>{{getMsgs('settled-at')}}</th>
						<th ng-if="!permissions.get('transactions_ccNum')">{{getMsgs('cc-number')}}</th>
						<th ng-if="permissions.get('transactions_ccNum')">{{getMsgs('bin-cc-number')}}</th>
						<th>{{getMsgs('type')}}</th>
						<th>{{getMsgs('status')}}</th>
						<th>{{getMsgs('credit')}}</th>
						<th>{{getMsgs('debt')}}</th>
						<th>{{getMsgs('updated-by')}}</th>
						<th class="_noExport">{{getMsgs('action')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="transaction in transactions">
						<td class="clickable" ng-click="showAdditionalInfoFn(transaction)">{{transaction.id}}</td>
						<td>
							{{transaction.userName}}
							<i ng-if="!transaction.specialCare.timeScHouseResult && (transaction.specialCare.timeScTurnover || transaction.specialCare.timeScManual)" class="special-care-red"></i>
							<i ng-if="transaction.specialCare.timeScHouseResult" class="special-care-green"></i>
						</td>
						<td>{{filter.countries.getElNameById(transaction.countryId)}}</td>
						<td>{{transaction.timeCreated | date: 'defaultDateTime'}}</td>
						<td>{{transaction.timeSettled | date: 'defaultDateTime'}}</td>
						<td ng-if="!permissions.get('transactions_ccNum')">{{transaction.creditCard.ccNumberXXXX}}</td>
						<td ng-if="permissions.get('transactions_ccNum')">{{transaction.creditCard.binXXXXXXLastFour}}</td>
						<td>{{filter.transactionTypes.getElNameById(transaction.typeIdView)}} </td>
						<td>{{filter.transactionStatuses.getElNameById(transaction.statusId)}}</td>
						<td>{{transaction.depositOrWithdraw == TRANSACTION_IS_DEPOSIT ? formatAmount({amount: transaction.amountInUsd, centsPart: 2}) : ''}}</td>
						<td>{{transaction.depositOrWithdraw == TRANSACTION_IS_WITHDRAW ? formatAmount({amount: transaction.amountInUsd, centsPart: 2}) : ''}}</td>
						<td>{{transaction.writerUserName}}</td>
						<td>
							<button title="{{getMsgs('cancel')}}" class="button action transactions-cancel" ng-if="transaction.isAllowedCancelDepositAction" ng-disabled="!permissions.get('transactions_cancelPendingDeposit')" ng-click="cancelDeposit(transaction)"></button>
							<button title="{{getMsgs('cancel')}}" class="button action transactions-cancel" ng-if="transaction.isMaintenanceFeeCancel" ng-disabled="!permissions.get('transactions_cancelMaintenanceFee')" ng-click="cancelMaintenanceFee(transaction)"></button>
							<button title="{{getMsgs('fraud')}}" class="button action transactions-fraud" ng-if="transaction.isAllowedCancelDepositFraudAction" ng-disabled="!permissions.get('transactions_fraudCancelPendingDeposit')" ng-click="cancelDepositFraud(transaction)"></button>
							<button title="{{getMsgs('approve')}}" class="button action transactions-approve" ng-if="transaction.isAllowedApproveDepositAction" ng-disabled="!permissions.get('transactions_approveWireDeposit')" ng-click="approveDeposit(transaction)"></button>
							<button title="{{getMsgs('support-mistake')}}" class="button action transactions-mistake" ng-if="transaction.isAllowedCancelDepositMistakeAction" ng-disabled="!permissions.get('transactions_cancelBankWireMistake')" ng-click="cancelDepositMistake(transaction)"></button>
							<button title="{{getMsgs('add-chargeback')}}" class="button action transactions-chargeback" ng-if="transaction.isAllowedChargebackAddAction" ng-click="showChargeback(transaction)"></button>
							<a ng-if="transaction.isAllowedChargebackEditAction" ng-click="showChargeback(transaction)">{{getMsgs('chb-details')}}</a>
						</td>
					</tr>
					<tr ng-hide="true"></tr>
					<tr ng-hide="!transaction.showAdditionalInfo" class="additional-info-row" ng-repeat-end>
						<td colspan="100">
							<div class="additional-info-single-row">
								<span>{{getMsgs('description')}}: </span>
								<span>{{transaction.description ? getMsgs(transaction.description, {returnKeyIfNoTranslation: true}) : ''}}</span>
							</div>
							<div class="additional-info-single-row">
								<span>{{getMsgs('comments')}}: </span>
								<span>{{transaction.comments}}</span>
							</div>
							<div class="additional-info-single-row" ng-if="transaction.referenceId">
								<span>{{getMsgs('relates-to')}}: </span>
								<span><a class="user-strip-link" ng-click="getTransactionsByReferenceId(transaction)">{{transaction.referenceId}}</a></span>
							</div>
							<div class="additional-info-single-row" ng-if="transaction.typeId == TRANSACTION_TYPE_CC_DEPOSIT">
								<span>{{getMsgs('credit-amount')}}: </span>
								<span class="accent">{{transaction.creditAmountDsp}}</span>
							</div>
							<div class="additional-info-single-row">
								<div class="table half">
									<div class="cell" ng-if="transaction.typeId == TRANSACTION_TYPE_INTERNAL_CREDIT">
										<span>{{getMsgs('origWd')}}: </span>
										<span>{{transaction.splittedReferenceId}}</span>
									</div>
									<div class="cell" ng-if="transaction.isCftWithdrawal">
										<span>{{getMsgs('transactions.CFT.withdrawal')}}: </span>
										<span>{{getMsgs('general.yes')}}</span>
									</div>
									<div class="cell" ng-if="transaction.isCrWithdrawInternal">
										<span>{{getMsgs('transactions.credit.withdrawal')}}: </span>
										<span>{{getMsgs('general.yes')}}</span>
									</div>
									<div class="cell" ng-if="transaction.transactionSplittedAs">
										<span>{{getMsgs('transaction.how.splitted2')}}: </span>
										<span>{{getMsgs(transaction.transactionSplittedAs)}}</span>
									</div>
									<div class="cell" ng-if="transaction.isCrWithdrawInternal || transaction.depositReferenceId > 0">
										<span>{{getMsgs('transactions.deposit.reference.id')}}: </span>
										<span>{{transaction.depositReferenceId}}</span>
									</div>
									<div class="cell" ng-if="transaction.isRerouted">
										<span>{{transaction.reroutingTransactions.typeId == 1 ? getMsgs('transactions.rerouting.from') : getMsgs('transactions.rerouting.id')}}: </span>
										<span class="clickable" ng-click="getAllPreset(transaction)">
											<span class="normal" ng-repeat="(key, transactionId) in transaction.reroutingTransactions.reroutingTransactionId">{{$index > 0 ? ',' : ''}} {{transactionId}}</span>
										</span>
									</div>
									<div class="cell" ng-if="transaction.depositOrWithdraw == TRANSACTION_IS_WITHDRAW">
										<span>{{getMsgs('transactions.withdraw.survey.answer')}}: </span>
										<span>{{getMsgs(transaction.qmaAnswerName)}} {{transaction.qmTextAnswer}}</span>
									</div>
								</div>
							</div>
							<div class="additional-info-block">
								<div class="table">
									<div class="table-row">
										<div>{{getMsgs('amount')}}</div>
										<div>{{formatAmount({amount: transaction.amount, currencyId: transaction.currencyId, centsPart: 2})}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('currency')}}</div>
										<div>{{filter.currencies.getElNameById(transaction.currencyId)}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('ip')}}</div>
										<div>{{transaction.ip}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('source')}}</div>
										<div>{{transaction.writerUserName}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('provider')}}</div>
										<div>{{filter.clearingProviders.getElNameById(transaction.clearingProviderId) || transaction.clearingProviderName}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('gateway')}}</div>
										<div>
											<span ng-if="!transaction.XorIdAuthorize || !transaction.transactionRequestResponse">{{getMsgs('gateway-direct')}}</span>
											<span ng-if="transaction.XorIdAuthorize && transaction.transactionRequestResponse">{{getMsgs('gateway-epg')}}</span>
										</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('reference')}}</div>
										<div>{{transaction.referenceId}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('authorization-number')}}</div>
										<div>{{transaction.authNumber}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('approved-by')}}</div>
										<div>{{transaction.writerWithdrawalApprove}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('settled-at')}}</div>
										<div>{{transaction.timeSettled | date: 'defaultDateTime'}}</div>
									</div>
								</div>
							</div>
							<div class="additional-info-block" ng-if="transaction.wire">
								<div class="table">
									<div class="table-row">
										<div>{{getMsgs('transactions.wireid')}}</div>
										<div>{{transaction.wire.id}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('bank.wire.beneficiary.name')}}</div>
										<div>{{transaction.wire.beneficiaryName}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('bank.wire.account.number')}}</div>
										<div>{{transaction.wire.accountNum}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('bank.wire.swift')}}</div>
										<div>{{transaction.wire.swift}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('bank.wire.iban')}}</div>
										<div>{{transaction.wire.iban}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('bank.wire.bank.name')}}</div>
										<div>{{transaction.wire.bankName}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('bank.wire.branch.number')}}</div>
										<div>{{transaction.wire.branch}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('bank.wire.branch.address')}}</div>
										<div>{{transaction.wire.branchAddress}}</div>
									</div>
								</div>
							</div>
							<div class="additional-info-block" ng-if="transaction.creditCard">
								<div class="table">
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('cc-number')}}</div>
										<div ng-if="transaction.creditCard">
											<span ng-if="!permissions.get('transactions_ccNum')">{{transaction.creditCard.ccNumberXXXX}}</span>
											<span ng-if="permissions.get('transactions_ccNum')">{{transaction.creditCard.binXXXXXXLastFour}}</span>
										</div>
									</div>
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('expires-at')}}</div>
										<div ng-if="transaction.creditCard">{{transaction.creditCard.expMonth}}/{{transaction.creditCard.expYear}}</div>
									</div>
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('brand-by-bin')}}</div>
										<div ng-if="transaction.creditCard">
											<i class="cc-brand-imgs cc-typeByBin-{{transaction.creditCard.typeIdByBin}}"></i>
											{{transaction.creditCard.typeByBin}}
										</div>
									</div>
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('creditcards.category')}}</div>
										<div ng-if="transaction.creditCard">{{transaction.creditCard.ccBins.category}}</div>
									</div>
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('cc-country')}}</div>
										<div ng-if="transaction.creditCard">{{transaction.creditCard.countryName}}</div>
									</div>
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('cc-holder-name')}}</div>
										<div ng-if="transaction.creditCard">{{transaction.creditCard.holderName}}</div>
									</div>
									<div class="table-row" ng-show="transaction.typeId == TRANSACTION_TYPE_CC_DEPOSIT">
										<div ng-if="transaction.creditCard">{{getMsgs('postpone-j4-to')}}</div>
										<div ng-if="transaction.creditCard">
											<select ng-model="transaction.postponeDate" ng-options="postponeDate.name for postponeDate in transaction.postponeDates" ng-disabled="!isCcDepositAndPending(transaction)"></select>
											<button ng-disabled="!permissions.get('transactions_postponeJ4')" ng-click="postponeJ4(transaction)">{{getMsgs('ok')}}</button>
										</div>
									</div>
									<div class="table-row" ng-if="transaction.typeId == 42 || transaction.typeId == 1">
										<div ng-if="transaction.creditCard">{{getMsgs('was.rerouted')}}</div>
										<div ng-if="transaction.creditCard">{{transaction.isRerouted ? getMsgs('yes') : getMsgs('no')}}</div>
									</div>
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('transactions.is3dsecure')}}</div>
										<div ng-if="transaction.creditCard">{{transaction.is3D ? getMsgs('yes') : getMsgs('no')}}</div>
									</div>
								</div>
							</div>
							<div class="additional-info-block" ng-if="transaction.creditCard">
								<div class="table">
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('credit-card-id')}}</div>
										<div ng-if="transaction.creditCard">{{transaction.creditCard.id}}</div>
									</div>
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('created-at')}}</div>
										<div ng-if="transaction.creditCard">{{transaction.creditCard.timeCreated | date: 'defaultDateTime'}}</div>
									</div>
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('modified-at')}}</div>
										<div ng-if="transaction.creditCard">{{transaction.creditCard.timeModified | date: 'defaultDateTime'}}</div>
									</div>
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('visible')}}</div>
										<div ng-if="transaction.creditCard">
											<input type="checkbox" ng-disabled="true" ng-model="transaction.creditCard.visible">
										</div>
									</div>
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('blocked')}}</div>
										<div ng-if="transaction.creditCard">
											<input type="checkbox" ng-disabled="true" ng-model="transaction.creditCard.ccAllowed" ng-true-value="false" ng-false-value="true">
										</div>
									</div>
									<div class="table-row">
										<div ng-if="transaction.creditCard">{{getMsgs('blocked-deposits')}}</div>
										<div ng-if="transaction.creditCard">
											<input type="checkbox" ng-disabled="true" ng-model="transaction.creditCard.ccNotAllowedDepositOnly">
										</div>
									</div>
								</div>
							</div>
							<div class="additional-info-block" ng-if="transaction.moneybookers">
								<div class="table">
									<div class="table-row">
										<div>{{getMsgs('moneybookers.email')}}</div>
										<div>{{transaction.moneybookersEmail}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('moneybookers.customer.id')}}</div>
										<div>{{transaction.moneybookers.customer_id}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('moneybookers.status')}}</div>
										<div>{{transaction.moneybookers.status}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('moneybookers.failed.reason.code')}}</div>
										<div>{{transaction.moneybookers.failed_reason_code}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('moneybookers.payment.type')}}</div>
										<div>{{transaction.moneybookers.payment_type}}</div>
									</div>
									<div class="table-row" ng-if="transaction.moneybookers.mb_amount">
										<div>{{getMsgs('moneybookers.mb.amount')}}</div>
										<div>{{formatAmount({amount: transaction.moneybookers.mb_amount, currencyId: transaction.currencyId, centsPart: 2, skipAmountDivide: true})}}</div>
									</div>
								</div>
							</div>
							<div class="additional-info-block">
								<div class="table">
									<div class="table-row" ng-if="transaction.payPalEmail">
										<div>{{getMsgs('paypal.email')}}</div>
										<div>{{transaction.payPalEmail}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('user-name')}}</div>
										<div><a class="user-strip-link" ng-href="{{getUserStripUrl(transaction.userId)}}" target="_blank">{{transaction.userName}}</a></div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('user-id')}}</div>
										<div><a class="user-strip-link" ng-href="{{getUserStripUrl(transaction.userId)}}" target="_blank">{{transaction.userId}}</a></div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('first-name')}}</div>
										<div>{{transaction.userFirstName}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('last-name')}}</div>
										<div>{{transaction.userLastName}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('business-case')}}</div>
										<div>{{getMsgs(transaction.businessCaseName)}}</div>
									</div>
									<div class="table-row">
										<div>{{getMsgs('skin')}}</div>
										<div>{{transaction.skin}}</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr class="summary" ng-if="!isReferenceIdView">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{getMsgs('page-total')}}</td>
						<td>{{formatAmount({amount: summary.pageTotalDeposits, centsPart: 2})}}</td>
						<td>{{formatAmount({amount: summary.pageTotalWithdraws, centsPart: 2})}}</td>
						<td class="total-amount" ng-class="{red: (summary.pageTotalDeposits - summary.pageTotalWithdraws <= 0)}">{{formatAmount({amount: (summary.pageTotalDeposits - summary.pageTotalWithdraws), centsPart: 2})}}</td>
						<td></td>
					</tr>
					<tr class="summary" ng-if="!isReferenceIdView">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{getMsgs('general-total')}}</td>
						<td>{{formatAmount({amount: summary.totalSumDeposits, centsPart: 2})}}</td>
						<td>{{formatAmount({amount: summary.totalSumWithdraws, centsPart: 2})}}</td>
						<td class="total-amount" ng-class="{red: (summary.totalSumDeposits - summary.totalSumWithdraws <= 0)}">{{formatAmount({amount: (summary.totalSumDeposits - summary.totalSumWithdraws), centsPart: 2})}}</td>
						<td></td>
					</tr>
					<tr class="summary" ng-if="!isReferenceIdView">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{getMsgs('records-number')}}</td>
						<td>{{summary.totalCountDeposits}}</td>
						<td>{{summary.totalCountWithdraws}}</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="box-footer" ng-if="transactions && transactions.length > 0">
			<pagination model="pagination">
				<div class="taR">
					<a onclick="exportSearchCSV('exportTable')" class="icons excel mr10"></a>
				</div>
			</pagination>
		</div>
	</div>
</div>