<div id="tab-content" class="transactions-content">
	<h1><span>{{getMsgs('menu.transaction.update')}}</span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box transactions-screen">
		<div class="box-header">
			<h2>{{getMsgs('menu.transaction.update')}}</h2>
		</div>
		<form name="_form" novalidate>
			<div class="box-sub-header static-filters">
				<label>
					<span class="filter-label">{{getMsgs('transaction-id')}}:</span>
					<input ng-model="utCtrl.filter.transactionId" type="text" restrict-digits required/>
				</label>
	
				<div class="right-block">
					<button type="submit" class="button blue" ng-click="utCtrl.getList(_form)">{{getMsgs('search')}}</button>
				</div>
			</div>
		</form>
		
		<div class="box-body" ng-if="!utCtrl.hasResult">
			<h2>{{getMsgs('change-transaction-error')}}</h2>
		</div>
		
		<div class="box-body" ng-if="utCtrl.result">
			<table class="pretty-table">
				<tbody>
					<tr class="additional-info-row">
						<td colspan="100">
							<form name="_formSubmit" novalidate>
								<div class="table short form-box-in vam">
									<div class="cell">
										<div class="in">
											<div class="in-row"><b>{{getMsgs('transaction-id')}}:</b> {{utCtrl.result.id}}</div>
											<div class="in-row"><b>{{getMsgs('created-at')}}:</b> {{utCtrl.result.timeCreated | date: 'defaultDateTime'}}</div>
											<div class="in-row"><b>{{getMsgs('settled-at')}}:</b> {{utCtrl.result.timeSettled | date: 'defaultDateTime'}}</div>
										</div>
									</div>
									<div class="cell">
										<div class="in">
											<div class="in-row"><b>{{getMsgs('type')}}:</b> {{utCtrl.result.typeName}}</div>
											<div class="in-row">
												<input type="radio" ng-model="utCtrl.form.radioType" value="1" class="vaM" ng-disabled="!utCtrl.hasTypes"/>
												<span class="vaM">{{getMsgs('change-to')}}</span>
												<single-select ng-model="utCtrl.form.types" ng-disabled="utCtrl.form.radioType != 1 || !utCtrl.hasTypes"></single-select>
											</div>
										</div>
									</div>
									<div class="cell">
										<div class="in">
											<div class="in-row"><b>{{getMsgs('status')}}:</b> {{utCtrl.result.statusName}}</div>
											<div class="mt10">
												<input type="radio" ng-model="utCtrl.form.radioType" value="2" class="vaM" ng-disabled="!utCtrl.hasStatuses"/>
												<span class="vaM">{{getMsgs('change-to')}}</span>
												<single-select ng-model="utCtrl.form.statuses" ng-disabled="utCtrl.form.radioType != 2 || !utCtrl.hasStatuses"></single-select>
											</div>
										</div>
									</div>
									<div class="cell" ng-if="utCtrl.hasStatuses || utCtrl.hasTypes">
										<div class="in">
											<button type="button" class="button blue" ng-disabled="utCtrl.form.radioType == '0'" ng-click="utCtrl.update()">{{getMsgs('submit')}}</button>
										</div>
									</div>
								</div>
							</form>
							
							<div class="mt20">
								<div class="additional-info-single-row">
									<span>{{getMsgs('description')}}: </span>
									<span>{{utCtrl.result.description ? getMsgs(utCtrl.result.description, {returnKeyIfNoTranslation: true}) : ''}}</span>
								</div>
								<div class="additional-info-single-row">
									<span>{{getMsgs('comments')}}: </span>
									<span>{{utCtrl.result.comments}}</span>
								</div>
								<div class="additional-info-single-row" ng-if="utCtrl.result.referenceId">
									<span>{{getMsgs('relates-to')}}: </span>
									<span><a class="user-strip-link">{{utCtrl.result.referenceId}}</a></span>
								</div>
								<div class="additional-info-single-row" ng-if="utCtrl.result.typeId == utCtrl.TRANSACTION_TYPE_CC_DEPOSIT">
									<span>{{getMsgs('credit-amount')}}: </span>
									<span class="accent">{{utCtrl.result.creditAmount | formatAmount: utCtrl.result.currencyId : utCtrl.amountSettings}}</span>
								</div>
								<div class="additional-info-single-row">
									<div class="table half">
										<div class="cell" ng-if="utCtrl.result.typeId == utCtrl.TRANSACTION_TYPE_INTERNAL_CREDIT">
											<span>{{getMsgs('origWd')}}: </span>
											<span>{{utCtrl.result.splittedReferenceId}}</span>
										</div>
										<div class="cell" ng-if="utCtrl.result.isCftWithdrawal">
											<span>{{getMsgs('transactions.CFT.withdrawal')}}: </span>
											<span>{{getMsgs('general.yes')}}</span>
										</div>
										<div class="cell" ng-if="utCtrl.result.isCrWithdrawInternal">
											<span>{{getMsgs('transactions.credit.withdrawal')}}: </span>
											<span>{{getMsgs('general.yes')}}</span>
										</div>
										<div class="cell" ng-if="utCtrl.result.transactionSplittedAs">
											<span>{{getMsgs('utCtrl.result.how.splitted2')}}: </span>
											<span>{{getMsgs(utCtrl.result.transactionSplittedAs)}}</span>
										</div>
										<div class="cell" ng-if="utCtrl.result.isCrWithdrawInternal || utCtrl.result.depositReferenceId > 0">
											<span>{{getMsgs('transactions.deposit.reference.id')}}: </span>
											<span>{{utCtrl.result.depositReferenceId}}</span>
										</div>
										<div class="cell" ng-if="utCtrl.result.isRerouted">
											<span>{{utCtrl.result.reroutingTransactions.typeId == 1 ? getMsgs('transactions.rerouting.from') : getMsgs('transactions.rerouting.id')}}: </span>
											<span class="clickable">
												<span class="normal" ng-repeat="(key, transactionId) in utCtrl.result.reroutingTransactions.reroutingTransactionId">{{$index > 0 ? ',' : ''}} {{transactionId}}</span>
											</span>
										</div>
										<div class="cell" ng-if="utCtrl.result.depositOrWithdraw == TRANSACTION_IS_WITHDRAW">
											<span>{{getMsgs('transactions.withdraw.survey.answer')}}: </span>
											<span>{{getMsgs(utCtrl.result.qmaAnswerName)}} {{utCtrl.result.qmTextAnswer}}</span>
										</div>
									</div>
								</div>
								<div class="additional-info-block">
									<div class="table">
										<div class="table-row">
											<div>{{getMsgs('amount')}}</div>
											<div>{{formatAmount({amount: utCtrl.result.amount, currencyId: utCtrl.result.currencyId, centsPart: 2})}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('currency')}}</div>
											<div>{{filter.currencies.getElNameById(utCtrl.result.currencyId)}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('ip')}}</div>
											<div>{{utCtrl.result.ip}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('source')}}</div>
											<div>{{utCtrl.result.writerUserName}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('provider')}}</div>
											<div>{{filter.clearingProviders.getElNameById(utCtrl.result.clearingProviderId) || utCtrl.result.clearingProviderName}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('gateway')}}</div>
											<div>
												<span ng-if="!utCtrl.result.XorIdAuthorize || !utCtrl.result.transactionRequestResponse">{{getMsgs('gateway-direct')}}</span>
												<span ng-if="utCtrl.result.XorIdAuthorize && utCtrl.result.transactionRequestResponse">{{getMsgs('gateway-epg')}}</span>
											</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('reference')}}</div>
											<div>{{utCtrl.result.referenceId}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('authorization-number')}}</div>
											<div>{{utCtrl.result.authNumber}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('approved-by')}}</div>
											<div>{{utCtrl.result.writerWithdrawalApprove}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('settled-at')}}</div>
											<div>{{utCtrl.result.timeSettled | date: 'defaultDateTime'}}</div>
										</div>
									</div>
								</div>
								<div class="additional-info-block" ng-if="utCtrl.result.wire">
									<div class="table">
										<div class="table-row">
											<div>{{getMsgs('transactions.wireid')}}</div>
											<div>{{utCtrl.result.wire.id}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('bank.wire.beneficiary.name')}}</div>
											<div>{{utCtrl.result.wire.beneficiaryName}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('bank.wire.account.number')}}</div>
											<div>{{utCtrl.result.wire.accountNum}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('bank.wire.swift')}}</div>
											<div>{{utCtrl.result.wire.swift}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('bank.wire.iban')}}</div>
											<div>{{utCtrl.result.wire.iban}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('bank.wire.bank.name')}}</div>
											<div>{{utCtrl.result.wire.bankName}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('bank.wire.branch.number')}}</div>
											<div>{{utCtrl.result.wire.branch}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('bank.wire.branch.address')}}</div>
											<div>{{utCtrl.result.wire.branchAddress}}</div>
										</div>
									</div>
								</div>
								<div class="additional-info-block" ng-if="utCtrl.result.creditCard">
									<div class="table">
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('cc-number')}}</div>
											<div ng-if="utCtrl.result.creditCard">
												<span ng-if="!permissions.get('transactions_ccNum')">{{utCtrl.result.creditCard.ccNumberXXXX}}</span>
												<span ng-if="permissions.get('transactions_ccNum')">{{utCtrl.result.creditCard.binXXXXXXLastFour}}</span>
											</div>
										</div>
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('expires-at')}}</div>
											<div ng-if="utCtrl.result.creditCard">{{utCtrl.result.creditCard.expMonth}}/{{utCtrl.result.creditCard.expYear}}</div>
										</div>
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('brand-by-bin')}}</div>
											<div ng-if="utCtrl.result.creditCard">
												<i class="cc-brand-imgs cc-typeByBin-{{utCtrl.result.creditCard.typeIdByBin}}"></i>
												{{utCtrl.result.creditCard.typeByBin}}
											</div>
										</div>
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('creditcards.category')}}</div>
											<div ng-if="utCtrl.result.creditCard">{{utCtrl.result.creditCard.ccBins.category}}</div>
										</div>
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('cc-country')}}</div>
											<div ng-if="utCtrl.result.creditCard">{{utCtrl.result.creditCard.countryName}}</div>
										</div>
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('cc-holder-name')}}</div>
											<div ng-if="utCtrl.result.creditCard">{{utCtrl.result.creditCard.holderName}}</div>
										</div>
										<div class="table-row" ng-show="utCtrl.result.typeId == utCtrl.TRANSACTION_TYPE_CC_DEPOSIT">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('postpone-j4-to')}}</div>
											<div ng-if="utCtrl.result.creditCard">
												<select ng-model="utCtrl.result.postponeDate" ng-options="postponeDate.name for postponeDate in utCtrl.result.postponeDates" ng-disabled="true"></select>
											</div>
										</div>
										<div class="table-row" ng-if="utCtrl.result.typeId == 42 || utCtrl.result.typeId == 1">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('was.rerouted')}}</div>
											<div ng-if="utCtrl.result.creditCard">{{utCtrl.result.isRerouted ? getMsgs('yes') : getMsgs('no')}}</div>
										</div>
									</div>
								</div>
								<div class="additional-info-block" ng-if="utCtrl.result.creditCard">
									<div class="table">
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('credit-card-id')}}</div>
											<div ng-if="utCtrl.result.creditCard">{{utCtrl.result.creditCard.id}}</div>
										</div>
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('created-at')}}</div>
											<div ng-if="utCtrl.result.creditCard">{{utCtrl.result.creditCard.timeCreated | date: 'defaultDateTime'}}</div>
										</div>
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('modified-at')}}</div>
											<div ng-if="utCtrl.result.creditCard">{{utCtrl.result.creditCard.timeModified | date: 'defaultDateTime'}}</div>
										</div>
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('visible')}}</div>
											<div ng-if="utCtrl.result.creditCard">
												<input type="checkbox" ng-disabled="true" ng-model="utCtrl.result.creditCard.visible">
											</div>
										</div>
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('blocked')}}</div>
											<div ng-if="utCtrl.result.creditCard">
												<input type="checkbox" ng-disabled="true" ng-model="utCtrl.result.creditCard.ccAllowed" ng-true-value="false" ng-false-value="true">
											</div>
										</div>
										<div class="table-row">
											<div ng-if="utCtrl.result.creditCard">{{getMsgs('blocked-deposits')}}</div>
											<div ng-if="utCtrl.result.creditCard">
												<input type="checkbox" ng-disabled="true" ng-model="utCtrl.result.creditCard.ccNotAllowedDepositOnly">
											</div>
										</div>
									</div>
								</div>
								<div class="additional-info-block" ng-if="utCtrl.result.moneybookers">
									<div class="table">
										<div class="table-row">
											<div>{{getMsgs('moneybookers.email')}}</div>
											<div>{{utCtrl.result.moneybookersEmail}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('moneybookers.customer.id')}}</div>
											<div>{{utCtrl.result.moneybookers.customer_id}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('moneybookers.status')}}</div>
											<div>{{utCtrl.result.moneybookers.status}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('moneybookers.failed.reason.code')}}</div>
											<div>{{utCtrl.result.moneybookers.failed_reason_code}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('moneybookers.payment.type')}}</div>
											<div>{{utCtrl.result.moneybookers.payment_type}}</div>
										</div>
										<div class="table-row" ng-if="utCtrl.result.moneybookers.mb_amount">
											<div>{{getMsgs('moneybookers.mb.amount')}}</div>
											<div>{{formatAmount({amount: utCtrl.result.moneybookers.mb_amount, currencyId: utCtrl.result.currencyId, centsPart: 2, skipAmountDivide: true})}}</div>
										</div>
									</div>
								</div>
								<div class="additional-info-block">
									<div class="table">
										<div class="table-row" ng-if="utCtrl.result.payPalEmail">
											<div>{{getMsgs('paypal.email')}}</div>
											<div>{{utCtrl.result.payPalEmail}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('user-name')}}</div>
											<div><a class="user-strip-link" ng-href="{{getUserStripUrl(utCtrl.result.userId)}}" target="_blank">{{utCtrl.result.userName}}</a></div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('user-id')}}</div>
											<div><a class="user-strip-link" ng-href="{{getUserStripUrl(utCtrl.result.userId)}}" target="_blank">{{utCtrl.result.userId}}</a></div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('first-name')}}</div>
											<div>{{utCtrl.result.userFirstName}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('last-name')}}</div>
											<div>{{utCtrl.result.userLastName}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('business-case')}}</div>
											<div>{{getMsgs(utCtrl.result.businessCaseName)}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('skin')}}</div>
											<div>{{utCtrl.result.skin}}</div>
										</div>
										<div class="table-row">
											<div>{{getMsgs('country')}}</div>
											<div>
												<img class="vaM" ng-src="/backend/images/flags/{{utCtrl.result.countryId}}.png"> 
												<span class="veM">{{getMsgs(utCtrl.result.countryName)}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>