<nav class="disable-text-selection" ui-tree data-drag-enabled="false">
	<ul class="tree-root navigation" ui-tree-nodes="" ng-model="menu.root" id="tree-root">
		<li class="node-group" ng-if="node.nodes.length > 0" ng-repeat="node in menu.root" ui-tree-node ng-include="'html/templates/components/menu-tree.html'"></li>
	</ul>
</nav>
