<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
	<div class="balancePopUp" id="balancePopup">
		<i class="_arrow arrow"></i>
		<div class="balancePopUp_holder">
			<div class="balancePopUp_header"><h:outputText value="#{msgs['CMS.balance_popUp.text.heading']}" escape='false'/></div>
			<div class="balancePopUp_in">
				<div class="balancePopUp_content">
					<span><h:outputText value="#{msgs['CMS.balance_popUp.text.txt1']}" escape='false'/></span>
					<span id="depositCashBalance"></span>
				</div>
				<div class="balancePopUp_content">
					<span><h:outputText value="#{msgs['CMS.balance_popUp.text.txt2']}" escape='false'/></span>
					<span id="bonusBalance"></span>
				</div>
				<div class="balancePopUp_content">
					<span><h:outputText value="#{msgs['CMS.balance_popUp.text.txt6']}" escape='false'/></span>
					<span id="bonusProfit"></span>
				</div>
				<div class="balancePopUp_content b">
					<span class="totalTxts" id="totalTxtHolder">
						<span class="totalTxt"><h:outputText value="#{msgs['CMS.balance_popUp.text.txt3']}" escape='false'/></span>
						<span class="totalTxtAmount"><h:outputText value="#{msgs['CMS.balance_popUp.text.txt4']}" escape='false'/></span>
						<span class="totalTxtReturn"><h:outputText value="#{msgs['CMS.balance_popUp.text.txt5']}" escape='false'/></span>
					</span>
					<span id="totalBalance"></span>
				</div>
			</div>
			<div class="balancePopUp_info">
				<div class="balancePopUp_info_more" id="balancePopUp_info_more">
					<div class="balancePopUp_info_more_text"><h:outputText value="#{msgs['CMS.balance_popUp.text.txt7']}" escape='false'/><i /></div>
				</div>
				<div class="balancePopUp_info_less" id="balancePopUp_info_less">
					<div class="balancePopUp_info_less_text"><h:outputText value="#{msgs['CMS.balance_popUp.text.txt8']}" escape='false'/><i /></div>
					<h:outputText value="#{msgs['CMS.balance_popUp.text.txt9']}" escape="false"/>
				</div>
			</div>
		</div>
	</div>
	<script>
	$('#balancePopUp_info_more').on('click', function(event){
		$(this).css('display', 'none');
		$('#balancePopUp_info_less').css('display', 'block');
	});
	$('#balancePopUp_info_less').on('click', function(event){
		$(this).css('display', 'none');
		$('#balancePopUp_info_more').css('display', 'block');
	});
	</script>
	
</f:view>