<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >

	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/hints.js"></script>
	<script language="javascript">
	    function filterChanged(){
	        document.getElementById("analForm:updateButton").click();
	    }

	    function changeMin(obj1, obj2Name){
			if(obj1.selectedIndex > 0) {
				if (document.getElementById(obj2Name).selectedIndex == 0) {
					document.getElementById(obj2Name).selectedIndex = 1;
				}
			} else {
				document.getElementById(obj2Name).selectedIndex = 0;
			}
		}

		function changeHour(obj1, obj2Name){
			if(obj1.selectedIndex > 0) {
				if (document.getElementById(obj2Name).selectedIndex == 0) {
					document.getElementById(obj2Name).selectedIndex = 1;
				}
			} else {
				document.getElementById(obj2Name).selectedIndex = 0;
			}
		}
	</script>

 <h:panelGroup align="center">
	<h:form id="analForm">
		<h:panelGrid columns="65" >
        	<t:outputText value="#{msgs['anal.filter.group.by']}"/>
   		  	<t:selectOneMenu id="groupType" value="#{analForm.groupBy}" onchange="filterChanged()">
	   			<f:selectItems value="#{analForm.groupByList}" />
	        </t:selectOneMenu>

	        <h:panelGrid border="0" columns="1" width="5px"/>

			<t:outputText value="#{msgs['anal.filter.skin']}"/>
   		  	<t:selectOneMenu id="skinId" value="#{analForm.skinId}" onchange="filterChanged()">
        		<f:selectItems value="#{writer.skinsAndEmptySI}" />
    	    </t:selectOneMenu>

    	    <!-- NEW FILTERS START -->
    	    <t:outputLabel  for="skinBCId" value="#{msgs['newaccounts.skin.business.case']}" />
		    <t:selectOneMenu id="skinBCId" value="#{analForm.skinBusinessCaseId}" onchange="filterChanged()">
		        	<f:selectItems value="#{writer.skinBusinessCasesSI}"/>
		        </t:selectOneMenu>
		        
		    <t:outputLabel  for="scheduled" value="#{msgs['newaccounts.scheduled']}" />
		    <t:selectOneMenu id="scheduled" value="#{analForm.scheduledId}" onchange="filterChanged()">
		        	<f:selectItems value="#{writer.scheduledListAllSI}"/>
		        </t:selectOneMenu>

			<t:outputText value="#{msgs['opportunities.market']}"/>
   		  	<t:selectOneMenu id="market" value="#{analForm.market}" onchange="filterChanged()">
		   			<f:selectItems value="#{writer.getMarketsAndGroupsWithoutUnnecessarySI(true)}" />
		    </t:selectOneMenu>

	 		<t:outputLabel  for="countryId" value="#{msgs['newaccounts.countries']}" />
	     	<t:selectOneMenu id="countryId" value="#{analForm.countryId}" onchange="filterChanged()">
		        	<f:selectItems value="#{analForm.countriesSI}" />
	        </t:selectOneMenu>
			<!-- NEW FILTERS END -->

			<h:panelGrid border="0" columns="1" width="4px"/>

			<h:outputLabel for="date" value="#{msgs['anal.filter.date']}"/>
			<h:inputText styleClass="input_text" id="date" value="#{analForm.date}" maxlength="10" size="8" dir="ltr" required="true"
					onclick="cal.select(document.forms['analForm'].elements['analForm:date'],'anchor1','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
		    </h:inputText>
		    <A HREF="#" onClick="cal.select(document.forms['analForm'].elements['analForm:date'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        </A>
			<t:message id="dateError" for="date" replaceIdWithLabel="true" styleClass="error"/>

    	    <h:panelGrid border="0" columns="1" width="1px"/>

	    	<h:outputText value="#{msgs['transactions.searchby']}"/>
	           	<t:selectOneRadio value="#{analForm.searchBy}" >
	          		<f:selectItem itemLabel="Created" itemValue="0" />
					<f:selectItem itemLabel="settled" itemValue="1" />
	           	</t:selectOneRadio>

			<t:outputLabel id="aa1" for="fromHour" value="#{msgs['anal.filter.from']}"/>
	     	<h:selectOneMenu id="fromHour" onchange="changeMin(this, 'analForm:fromMin')" value="#{analForm.fromHour}" >
        		<f:selectItems value="#{writer.investmentClosingHoursSI}"/>
    	    </h:selectOneMenu>
    	    <h:outputText id="ab1" value=":"/>
    	    <h:selectOneMenu id="fromMin" onchange="changeHour(this, 'analForm:fromHour')" value="#{analForm.fromMin}">
        		<f:selectItems value="#{writer.investmentClosingMinutesSI}"/>
    	    </h:selectOneMenu>

			<h:panelGrid id="ac1" border="0" columns="1" width="1px"/>

			<t:outputLabel id="aa2" for="fromHour" value="#{msgs['anal.filter.to']}"/>
	     	<h:selectOneMenu id="toHour" onchange="changeMin(this, 'analForm:toMin')" value="#{analForm.toHour}">
        		<f:selectItems value="#{writer.investmentClosingHoursSI}"/>
    	    </h:selectOneMenu>
    	    <h:outputText id="ab2" value=":"/>
    	    <h:selectOneMenu id="toMin" onchange="changeHour(this, 'analForm:toHour')" value="#{analForm.toMin}">
        		<f:selectItems value="#{writer.investmentClosingMinutesSI}"/>
    	    </h:selectOneMenu>
    	    
    	    <h:outputLabel for="opportunityTypeId" value="#{msgs['opportunities.product.type']}" />
			<h:selectOneMenu id="opportunityTypeId" value="#{analForm.opportunityTypeId}" >
				<f:selectItems value="#{writer.opportunityProductTypesWithAllOptionSI}" />
			</h:selectOneMenu>

		</h:panelGrid>
		
		<h:panelGrid columns="63" >
			
			<t:outputText value="#{msgs['markets.groupid']}"/>
	        <t:selectOneMenu id="select_group" value="#{analForm.groupId}" onchange="filterChanged()">
	    	   	<f:selectItems value="#{writer.marketGroups.entrySet()}"
               					   var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
    	   	</t:selectOneMenu>
			
			<t:outputLabel  for="insertedFrom" value="#{msgs['investments.insertedFrom']}" />
		    <h:selectManyListbox style="width:145px;height:85px" id="insertedFrom" value="#{analForm.insertedFrom}" >
		    	<f:selectItem  itemLabel="#{msgs['general.all']}" itemValue="-1" />
		    	<f:selectItems value="#{writer.invWritersSI}" />
		    </h:selectManyListbox>
		    
		    <t:outputLabel  for="copyopInvTypeId" value="#{msgs['copyop.investments.copyop.inv.type']}" />
     		<t:selectOneMenu id="copyopInvTypeId" value="#{analForm.copyopInvTypeId}" >
     			<f:selectItem  itemLabel="#{msgs['general.all']}" itemValue="-1" />
        		<f:selectItems value="#{writer.copyopInvTypeSI}" />
        	</t:selectOneMenu>		    

		    <t:outputLabel  for="fromUserId" value="#{msgs['copyop.investments.copyop.from']}" />
		    <h:inputText id="fromUserId" size="5" value="#{analForm.fromUserId}" />
		    
		    <t:outputLabel  for="statusId" value="#{msgs['investments.search.status']}" />
		    <t:selectOneMenu id="statusId" value="#{analForm.statusId}" >
	    	    <f:selectItems value="#{writer.investmentStatusesSI}" />
			</t:selectOneMenu>
			
			<t:commandLink id="updateLink" action="#{analForm.updateList}">
				<h:outputText value="#{msgs['button.search']}" />
			</t:commandLink>

			<h:commandButton style="visibility: hidden;" id="updateButton" value="Submit" action="#{analForm.updateList}"/>
		</h:panelGrid>


		<t:dataTable id="data"
	                styleClass="scrollerTable"
	                headerClass="standardTable_Header"
	                footerClass="standardTable_Header"
	                rowClasses="standardTable_Row1,standardTable_Row2"
	                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
	                var="v"
	                preserveDataModel="false"
	                rows="#{analForm.rowNum}"
	                renderedIfEmpty="false"
	                cellpadding="0"
	                cellspacing="1"
	                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
  	                value="#{analForm.investmentsGroups}"
	           >

	           	<t:column rendered="#{analForm.isGroupByUser or analForm.isGroupByWithExternal}" style="text-align:#{writer.localInfo.align};" width="100">
	               	<f:facet name="header">
		               	<h:outputText value="#{msgs['anal.user.name']}" />
	               	</f:facet>
	               	<t:commandLink rendered="#{v.isVal and v.apiExternalUserId == 0}" action="#{user.selectUserNoPopUp}" immediate="true">
	               		<h:outputText value="#{v.userName}"/>
						<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
				   </t:commandLink>
				    <t:commandLink rendered="#{v.isVal and v.apiExternalUserId > 0}" action="#{apiExternalUserStripForm.loadNewUserFromInv}" immediate="true">
	               		<h:outputText value="#{v.apiExternalUserReference}(#{v.userName})"/>
						<f:setPropertyActionListener target="#{apiExternalUserStripForm.id}" value="#{v.apiExternalUserId}" />
				   </t:commandLink>
	               	<h:outputText rendered="#{v.isVal}" style="font-weight:bold;color:#000000;" value=" #{v.country}"  />
	               	<h:outputText rendered="#{v.isSum}" id="sum1" value="#{msgs['anal.sum.page']}" />
	               	<h:outputText rendered="#{v.isTotal}" id="sum2" value="#{msgs['anal.sum.general']}" />
	           	</t:column>

	           	<t:column rendered="#{analForm.isGroupByAsset}" style="text-align:#{writer.localInfo.align};" width="200">
	               	<f:facet name="header">
	           			<t:commandLink style="color: #ffffff" action="#{analForm.sortList}" >
			               	<h:outputText value="#{msgs['anal.asset']}" />
							<f:setPropertyActionListener target="#{analForm.sortColumn}" value="asset" />
						</t:commandLink>
	               	</f:facet>
	               	<h:outputText rendered="#{v.isVal}" value="#{v.asset}" />
	               	<h:outputText rendered="#{v.isSum}" id="sum3" value="#{msgs['anal.sum.page']}" />
	               	<h:outputText rendered="#{v.isTotal}" id="sum4" value="#{msgs['anal.sum.general']}" />
	           	</t:column>
	           	
	           	<t:column rendered="#{analForm.isGroupBySkin}" style="text-align:#{writer.localInfo.align};" width="100">
	               	<f:facet name="header">
						<h:outputText value="#{msgs['anal.skin']}" />
	               	</f:facet>
	               	<h:outputText rendered="#{v.isVal}" value="#{msgs[v.skin]}" />
	               	<h:outputText rendered="#{v.isSum}" id="sum5" value="#{msgs['anal.sum.page']}" />
	               	<h:outputText rendered="#{v.isTotal}" id="sum6" value="#{msgs['anal.sum.general']}" />
	           	</t:column>

	           	<t:column style="text-align:#{writer.localInfo.align};" width="80">
	               	<f:facet name="header">
		               	<t:commandLink style="color: #ffffff" action="#{analForm.sortList}" >
  			 		 	   <h:outputText value="#{msgs['anal.inv.count']}"/>
  			 		 	   <f:setPropertyActionListener target="#{analForm.sortColumn}" value="invCount" />
				  	    </t:commandLink>
	               	</f:facet>
	               	<h:outputText rendered="#{!v.isLine}" value="#{v.count}"  />
	               	<h:outputText rendered="#{v.isLine}" id="line1" value="---------------"  />
	           	</t:column>

	           	<t:column style="text-align:#{writer.localInfo.align};" width="80">
	               	<f:facet name="header">
		               	<t:commandLink style="color: #ffffff" action="#{analForm.sortList}" >
  			 		 	   <h:outputText value="#{msgs['anal.total.inv']}"/>
  			 		 	   <f:setPropertyActionListener target="#{analForm.sortColumn}" value="totalInv" />
				  	    </t:commandLink>
	               	</f:facet>
	               	<h:outputText rendered="#{!v.isLine}" value="#{v.totalInvTxt}"  />
	               	<h:outputText rendered="#{v.isLine}" id="line2" value="---------------"  />
	           	</t:column>

	           	<t:column style="text-align:#{writer.localInfo.align};" width="80">
	               	<f:facet name="header">
		               	<t:commandLink style="color: #ffffff" action="#{analForm.sortList}" >
  			 		 	   <h:outputText value="#{msgs['anal.total.rtn']}"/>
    	                   <f:setPropertyActionListener target="#{analForm.sortColumn}" value="totalRtn" />
				  	    </t:commandLink>
	               	</f:facet>
	               	<h:outputText rendered="#{!v.isLine}" value="#{v.totalReturnTxt}"  />
	               	<h:outputText rendered="#{v.isLine}" id="line3" value="---------------"  />
	           	</t:column>

	           	<t:column style="text-align:#{writer.localInfo.align};" width="80">
	               	<f:facet name="header">
		               	<t:commandLink style="color: #ffffff" action="#{analForm.sortList}" >
  			 		 	   <h:outputText value="#{msgs['anal.prec.rtn']}"/>
    	                   <f:setPropertyActionListener target="#{analForm.sortColumn}" value="precRtn" />
				  	    </t:commandLink>
	               	</f:facet>
	               	<h:outputText rendered="#{!v.isLine}" value="#{v.returnPrecentTxt}"  />
	               	<h:outputText rendered="#{v.isLine}" id="line4" value="---------------"  />
	           	</t:column>

	           	<t:column style="text-align:#{writer.localInfo.align};" width="80">
	               	<f:facet name="header">
		               	<t:commandLink style="color: #ffffff" action="#{analForm.sortList}" >
  			 		 	   <h:outputText value="#{msgs['anal.total.profit']}"/>
    	                   <f:setPropertyActionListener target="#{analForm.sortColumn}" value="totalProf" />
				  	    </t:commandLink>
	               	</f:facet>
	               	<h:outputText rendered="#{v.totalProfit>=0 &amp;&amp; !v.isLine}" styleClass="user_strip_value_darkgreen" value="#{v.totalProfitTxt}"  />
	               	<h:outputText rendered="#{!(v.totalProfit>=0) &amp;&amp; !v.isLine}" styleClass="user_strip_value_red" value="#{v.totalProfitTxt}"  />
	               	<h:outputText rendered="#{v.isLine}" id="line5" value="---------------"  />
	           	</t:column>

	           	<t:column style="text-align:#{writer.localInfo.align};" width="80">
	               	<f:facet name="header">
		               	<t:commandLink style="color: #ffffff" action="#{analForm.sortList}" >
  			 		 	   <h:outputText value="#{msgs['anal.prec.hit']}"/>
    	                   <f:setPropertyActionListener target="#{analForm.sortColumn}" value="precHit" />
				  	    </t:commandLink>
	               	</f:facet>
	               	<h:outputText rendered="#{!v.isLine}" value="#{v.hitsPrecentTxt}"  />
	               	<h:outputText rendered="#{v.isLine}" id="line6" value="---------------"  />
	           	</t:column>

	           	<t:column rendered="#{analForm.isGroupByUser or analForm.isGroupByWithExternal}" style="text-align:#{writer.localInfo.align};" width="80">
	               	<f:facet name="header">
	               		<t:commandLink style="color: #ffffff" action="#{analForm.sortList}" >
		               		<h:outputText value="#{msgs['anal.user.balance']}" />
		               			<f:setPropertyActionListener target="#{analForm.sortColumn}" value="usersBalanceBase" />
		               		<f:setPropertyActionListener target="#{analForm.sortColumn}" value="usersBalanceBase" />
		               	 </t:commandLink>
	               	</f:facet>
	               	<h:outputText rendered="#{v.usersBalance>=0 &amp;&amp; !v.isLine and v.apiExternalUserId == 0}"  value="#{v.usersBalanceBaseTxt}"/>
	               	<h:outputText rendered="#{!(v.usersBalance>=0) &amp;&amp; !v.isLine and v.apiExternalUserId == 0}" value="#{v.usersBalanceBaseTxt}"/>
	               	<h:outputText rendered="#{v.isLine}" id="line7" value="---------------"  />
	           	</t:column>
			</t:dataTable>

		    <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
						paginatorRenderLinkForActive="false"
						renderFacetsIfSinglePage="false"
	                    rendered="#{analForm.scrollerNeeded}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
	            </t:dataScroller>
			</h:panelGrid>

			<h:panelGroup rendered="#{analForm.listSize&lt;0}">
				<h:outputText styleClass="general_message" value="#{msgs['investments.emptylist']}"/>
				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			</h:panelGroup>
		</h:form>
	</h:panelGroup>
</html>
