<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<ui:composition template="/jsp/templates/template_general.xhtml">		
		<ui:define name="content">
			<SCRIPT language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js" />
			<h:panelGroup >
        		<h:form id="apiIssueForm">        			
			   	    <t:saveState id="apiIssuestate" value="#{apiIssueForm.apiIssue}" />
        			<h:inputHidden value="#{visit.generate}" />
		    		<h:inputHidden value="#{visit.saveToken}" />
   					<h:panelGrid border="0" columns="2">
   						<h:panelGrid style="text-align:left" columns="2" border="0" width="60%" >
	   						<h:outputText rendered="#{apiIssueForm.apiIssue.id > 0}" value="#{msgs['issues.id']}"/>
							<h:outputText styleClass="data_display" rendered="#{apiIssueForm.apiIssue.id > 0}" value="#{apiIssueForm.apiIssue.id}"> </h:outputText>
   							<h:outputLabel for="statusId" value="#{msgs['issues.status']}"/>
	    	        		<h:panelGrid border="0" columns="2">
	        	       			<h:selectOneMenu id="statusId" value="#{apiIssueForm.apiIssue.apiIssueStatusId}" required="true" >
	        	       			    <f:selectItem itemLabel="" itemValue="" />
	            	   				<f:selectItems value="#{writer.apiIssueStatusSI}" />
		            	   		</h:selectOneMenu>
		            			<t:message id="statusIdError" for="statusId" replaceIdWithLabel="true" styleClass="error"/>
							</h:panelGrid>
		            		<h:outputLabel for="subjectId" value="#{msgs['issues.subject']}"/>
		            		<h:panelGrid border="0" columns="2">		    	        		
	        	       			<h:selectOneMenu id="subjectId" value="#{apiIssueForm.apiIssue.apiIssueSubjectId}" required="true">
									<f:selectItem  itemLabel="" itemValue="" />
	            	   				<f:selectItems value="#{writer.apiIssueSubjectSI}" />
		            	   		</h:selectOneMenu>
	    	        			<t:message id="subjectIdError" for="subjectId" replaceIdWithLabel="true" styleClass="error"/>
							</h:panelGrid>
							<h:outputLabel for="channelId" value="#{msgs['issues.actions.channel']}"/>
							<h:panelGrid border="0" columns="2">
	               				<h:selectOneMenu id="channelId" value="#{apiIssueForm.apiIssue.apiIssueChannelId}" required="true">
	               					<f:selectItem  itemLabel="" itemValue="" />
		               				<f:selectItems value="#{writer.apiIssueChannelSI}" />
			               	    </h:selectOneMenu>
	            	  			<t:message id="channelIdError" for="channelId" replaceIdWithLabel="true" styleClass="error"/>
			            	</h:panelGrid>															 
			            	<h:outputLabel for="newComments" value="#{msgs['issues.actions.comments']}"/>
			            	<h:panelGrid border="0" columns="2">
				          		<h:inputTextarea escape="false" cols="50" rows="3" id="newComments" value="#{apiIssueForm.apiIssue.comments}" required="true"  >
			   			           			<f:validateLength maximum="2000"/>
			        	   		</h:inputTextarea>
			            		<t:message id="commentsError" for="newComments" replaceIdWithLabel="true" styleClass="error"/>
			            	</h:panelGrid>		
					  		 <t:commandButton
				         			id="btnImage"
					         		image="/images/submit_u.jpg"
					         		onmouseover="Changepic('apiIssueForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
					         		onmouseout="Changepic('apiIssueForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
					         		onclick="gowait('apiIssueForm:btnImage','apiIssueForm:hiddenSubmit','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
					         				 return myfaces.oam.submitForm('apiIssueForm','apiIssueForm:hiddenSubmit');" >
				         	 </t:commandButton>
				         	 <h:commandLink
					         	    id="hiddenSubmit"
								    action="#{apiIssueForm.insertUpdateApiIssue}"
								    style="display:none">
						     </h:commandLink>			            	
				        </h:panelGrid>	
					</h:panelGrid>
				</h:form>	
			</h:panelGroup>											
		</ui:define>
	</ui:composition>
</html>