<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >
	<ui:composition template="/jsp/templates/template_general.xhtml">
		<ui:define name="content">
		   <script language="JavaScript" >
				function confirmit() {

					if (!confirm('#{msgs['menu.retention.background.confirm']}')) {
						return false;
					}
					return true;
				}
			</script>
		    <t:saveState id="backgroundFormSave" value="#{backgroundForm}" />
		    <h:panelGroup >
		        <h:form id="backgroundForm" enctype="multipart/form-data">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<h:panelGrid columns="1">
										<h:outputLabel for="tag" value="#{msgs['menu.retention.background.tag']}"/>
										<t:selectOneMenu id="tag" value="#{backgroundForm.tag}" style="font-weight:bold">
											<f:selectItems value="#{backgroundForm.tagList}"/>
										</t:selectOneMenu>

										<h:outputLabel for="background" value="#{msgs['menu.retention.background.background']}"/>
						          		<h:inputTextarea escape="false" cols="50" rows="3" id="background" value="#{backgroundForm.background}"  >
					   			        	<f:validateLength maximum="100" />
					        	   		</h:inputTextarea>
					            		<t:message id="backgoundError" for="background" replaceIdWithLabel="true" styleClass="error"/>

										<h:outputLabel for="tip" value="#{msgs['menu.retention.background.tip']}"/>
						          		<h:inputTextarea escape="false" cols="50" rows="3" id="tip" value="#{backgroundForm.tip}">
					   			        	<f:validateLength maximum="100"/>
					        	   		</h:inputTextarea>
					            		<t:message id="tipError" for="tip" replaceIdWithLabel="true" styleClass="error"/>
										<h:panelGrid rendered="#{user.retentionSelected || user.retentionMSelected}">
						            		<t:commandLink action="#{backgroundForm.update}" onclick="if(!confirmit()) return false;">
								                <h:outputText value="#{msgs['button.save']}" />
								 			</t:commandLink>
							 			</h:panelGrid>
						 			</h:panelGrid>
				            	</td>
				            	<td width="40px;" ></td>
				            	<td valign="top">
									<div style="height:20px;"></div>
				            		<h:panelGrid columns="2">
					            		<h:outputLabel value="#{msgs['menu.retention.background.convertion.date']}"/>
					            		<h:outputLabel value="#{backgroundForm.converstionDate}"/>
					            		<h:outputLabel value="#{msgs['menu.retention.background.convertion.amount']}"/>
					            		<h:outputLabel value="#{backgroundForm.convertionAmount}"/>
					            		<h:outputLabel value="#{msgs['menu.retention.background.convertion.by']}"/>
					            		<h:outputLabel value="#{backgroundForm.convertionBy}"/>
					            		<h:outputLabel value="#{msgs['menu.retention.background.marketing.campaign']}"/>
					            		<h:outputLabel value="#{backgroundForm.marketingCampaign}"/>
									</h:panelGrid>
				            	</td>
			            	</tr>
						</table>
		        </h:form>
		    </h:panelGroup>
		</ui:define>
	</ui:composition>
</html>