<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="head">
    <SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
</ui:define>
<ui:define name="content">
	<script>
		<!--
			/*
				Handles all actions upon bank name change
			*/
			function handleBankNameChange() {
				if (null != document.getElementById("wireForm:bankNameList")) {
					var bankNameId = document.getElementById("wireForm:bankNameList").value;
					if (bankNameId == 40) {
						if(navigator.userAgent.toLowerCase().indexOf("msie") != -1) {
							document.getElementById("wireForm:bankNameLabel").parentNode.parentNode.style.display="block";
							document.getElementById("wireForm:bankNameText").parentNode.parentNode.style.display="block";
						} else {
							document.getElementById("wireForm:bankNameLabel").parentNode.parentNode.style.display="table-row";
							document.getElementById("wireForm:bankNameText").parentNode.parentNode.style.display="table-row";
						}
					} else {
						document.getElementById("wireForm:bankNameLabel").parentNode.parentNode.style.display="none";
						document.getElementById("wireForm:bankNameText").parentNode.parentNode.style.display="none";
					}
				}
			}
		-->
	</script>

	<t:saveState value="#{withdrawForm}" />

    <h:panelGroup>

        <h:form id="wireForm">

        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="3">

				<h:outputLabel rendered="#{!utils.hebrewSkin}" styleClass="lable_text_bold" for="beneficiaryName" value="#{msgs['bank.wire.beneficiary.name']}"/>
	            <h:inputText rendered="#{!utils.hebrewSkin}" styleClass="input_text" size="20" maxlength="30" dir="ltr" id="beneficiaryName" value="#{withdrawForm.wire.beneficiaryName}" required="true"></h:inputText>
				<h:panelGroup columns="2">
					<t:message rendered="#{!utils.hebrewSkin}" id="beneficiaryNameError" for="beneficiaryName" replaceIdWithLabel="true" styleClass="error"/>
					<h:outputText rendered="#{user.skinId == '15' || user.skinId == '22'}" escape="false" value="#{msgs['beneficiary.name.tooltip']}" />
				</h:panelGroup>

				<h:outputLabel rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15'}" styleClass="lable_text_bold" for="swift" value="#{msgs['bank.wire.swift']}"/>
	            <h:inputText rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15'}" styleClass="input_text" size="20" maxlength="30" dir="ltr" id="swift" value="#{withdrawForm.wire.swift}" required="true"></h:inputText>
				<t:message rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15'}" id="swiftError" for="swift" replaceIdWithLabel="true" styleClass="error"/>


				<h:outputLabel rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15'}" styleClass="lable_text_bold" for="iban" value="#{msgs['bank.wire.iban']}"/>
	            <h:inputText rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15'}" styleClass="input_text" size="20" maxlength="30" dir="ltr" id="iban" value="#{withdrawForm.wire.iban}"></h:inputText>
				<t:message rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15'}" id="ibanError" for="iban" replaceIdWithLabel="true" styleClass="error"/>

				<h:outputLabel styleClass="lable_text_bold" for="accountNum" value="#{msgs['bank.wire.account.number']}"/>
	            <h:inputText styleClass="input_text" size="20" maxlength="25" dir="ltr" id="accountNum" value="#{withdrawForm.wire.accountNum}" >
	            	<f:validateDoubleRange />
		        </h:inputText>
				<t:message id="accountNumError" for="accountNum" replaceIdWithLabel="true" styleClass="error"/>

				<h:outputLabel rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15' &amp;&amp; user.skinId != '22'}" styleClass="lable_text_bold" for="accountInfo" value="#{msgs['bank.wire.account.info']}"/>
		        <h:inputText rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15' &amp;&amp; user.skinId != '22'}" styleClass="input_text" size="20" dir="ltr" id="accountInfo" value="#{withdrawForm.wire.accountInfo}" ></h:inputText>
				<t:message rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15' &amp;&amp; user.skinId != '22'}" id="accountInfoError" for="accountInfo" replaceIdWithLabel="true" styleClass="error"/>

				<h:outputLabel rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15' &amp;&amp; user.skinId != '22'}" styleClass="lable_text_bold" for="bankName" value="#{msgs['bank.wire.bank.name']}"/>
		        <h:inputText rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15' &amp;&amp; user.skinId != '22'}" styleClass="input_text" size="20" maxlength="30" dir="ltr" id="bankName" value="#{withdrawForm.wire.bankNameTxt}" ></h:inputText>
				<t:message rendered="#{!utils.hebrewSkin &amp;&amp; user.skinId != '15' &amp;&amp; user.skinId != '22'}" id="bankNameError" for="bankName" replaceIdWithLabel="true" styleClass="error"/>

				<h:outputLabel rendered="#{utils.hebrewSkin}" styleClass="lable_text_bold" for="bankNameheb" value="#{msgs['bank.wire.bank.name']}"/>
				<h:selectOneMenu rendered="#{utils.hebrewSkin}" styleClass="input_text" id="bankNameheb" value="#{withdrawForm.wire.bankId}"  required="true">
          			<f:selectItems value="#{applicationData.banksSI}" />
               	</h:selectOneMenu>
				<t:message rendered="#{utils.hebrewSkin}"  id="bankNamehebError" for="bankNameheb" replaceIdWithLabel="true" styleClass="error"/>
				
				<h:outputLabel rendered="#{user.skinId == 15 || user.skinId == '22'}" styleClass="new_lable" for="bankNameList" value="#{msgs['bank.wire.bank.name']}"/>
				<h:panelGroup rendered="#{user.skinId == 15 || user.skinId == '22'}" border="0" styleClass="" align="">
					<h:selectOneMenu styleClass="input_text" style="width:122px;" id="bankNameList" value="#{withdrawForm.bankWireWithdrawalId}" 
							onchange="handleBankNameChange();">
		            	<f:selectItems value="#{withdrawForm.bankWireWithdrawal}" />
		            </h:selectOneMenu>
				</h:panelGroup>
				<h:outputLabel rendered="#{user.skinId == 15 || user.skinId == '22'}" value="&#160;"/>
				
				<h:outputLabel rendered="#{user.skinId == 15 || user.skinId == '22'}" id="bankNameLabel" styleClass="new_lable" for="bankNameText" value="#{msgs['bank.wire.bank.name']}"/>
				<h:panelGroup rendered="#{user.skinId == 15 || user.skinId == '22'}" id="bankNameGrid" columns="1" border="0">
		            <h:inputText styleClass="input_text"  maxlength="30" dir="ltr" id="bankNameText" value="#{withdrawForm.bankOtherNameTxt}"></h:inputText>
					<t:message id="bankNameTextError" for="bankNameText" replaceIdWithLabel="true" styleClass="error_messages"/>
				</h:panelGroup>
				<h:outputLabel rendered="#{user.skinId == 15 || user.skinId == '22'}" value="&#160;"/>

				<h:outputLabel rendered="#{user.skinId != '8'}" styleClass="lable_text_bold" for="branchNumber" value="#{msgs['bank.wire.branch.number']}"/>
			    <h:inputText rendered="#{user.skinId != '8'}" styleClass="input_text" size="20" maxlength="30" dir="ltr" id="branchNumber" value="#{withdrawForm.wire.branch}">
		        </h:inputText>
				<t:message rendered="#{user.skinId != '8'}" id="branchNumberError" for="branchNumber" replaceIdWithLabel="true" styleClass="error"/>

				<h:outputLabel rendered="#{user.skinId != '8' &amp;&amp; !utils.hebrewSkin &amp;&amp; user.skinId != '15'}" tyleClass="lable_text_bold" for="bankName" value="#{msgs['bank.wire.branch.address']}"/>
				<h:inputText rendered="#{user.skinId != '8' &amp;&amp; !utils.hebrewSkin &amp;&amp; user.skinId != '15'}" styleClass="input_text" size="20" maxlength="30" dir="ltr" id="branchAddress" value="#{withdrawForm.wire.branchAddress}" required="true"></h:inputText>
				<t:message rendered="#{user.skinId != '8' &amp;&amp; !utils.hebrewSkin &amp;&amp; user.skinId != '15'}" id="branchAddressError" for="branchAddress" replaceIdWithLabel="true" styleClass="error"/>

				<h:outputLabel rendered="#{user.skinId == '15'}" tyleClass="lable_text_bold" for="branchName" value="#{msgs['bank.wire.branch.name']}"/>
				<h:inputText rendered="#{user.skinId == '15'}" styleClass="input_text" size="20" maxlength="30" dir="ltr" id="branchName" value="#{withdrawForm.wire.branchName}" required="true"></h:inputText>
				<t:message rendered="#{user.skinId == '15'}" id="branchNameError" for="branchName" replaceIdWithLabel="true" styleClass="error"/>
				
				
				
				
				<h:outputLabel styleClass="lable_text_bold" for="amount" value="#{msgs['bank.wire.amount']}"/>
		        <h:panelGrid columns="2">
  	                	<h:outputText rendered="#{user.currency.isLeftSymbolBool}" value="#{user.currency.code}" styleClass="lable_text_bold"/>
	      	          	<h:inputText dir="ltr" styleClass="input_text" maxlength="9" id="amount" value="#{withdrawForm.wire.amount}" required="true">
	 						<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
	                	</h:inputText>
            	</h:panelGrid>
				<t:message id="amountError" for="amount" replaceIdWithLabel="true" styleClass="error"/>
<!-- 
				<t:selectBooleanCheckbox rendered="#{user.skinId == 3}" id="eftWithdraw" value="#{withdrawForm.eftWithdraw}" ></t:selectBooleanCheckbox>
                <t:outputLabel rendered="#{user.skinId == 3}" styleClass="data_display" for="eftWithdraw" value="#{msgs['bank.wire.withdrawal.eft']}"/>
                <t:message id="eftDepositError" for="eftWithdraw" replaceIdWithLabel="true" styleClass="error"/>
 -->



                </h:panelGrid>
                
            	<h:panelGrid style="text-align:left" columns="1" border="0" width="30%" >
            	
				<h:panelGrid columns="2" border="0" width="30%" rendered = "false">
					<h:outputText value="#{msgs['withdraw.fee.global.exempt']}" />
	                	<t:selectBooleanCheckbox value="#{withdrawForm.feeCancel}"  disabled = "#{!user.hasAccountingRole}"  />                	
	                <h:outputText/>
                </h:panelGrid>
            	
					<t:commandButton
		         		id="btnImage"
		         		image="/images/submit_u.jpg"
		         		onmouseover="Changepic('wireForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
		         		onmouseout="Changepic('wireForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
		         		onclick="gowait('wireForm:btnImage','withdrawForm:hiddenWithdraw','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
		         				 return myfaces.oam.submitForm('wireForm','wireForm:hiddenWithdraw');" >
		         	</t:commandButton>

		         	<h:commandLink
		         	    id="hiddenWithdraw"
					    action="#{withdrawForm.insertBankWire}"
					    style="display:none">
				   </h:commandLink>
	            </h:panelGrid>
            </h:panelGrid>
        </h:form>

    </h:panelGroup>
	<SCRIPT language="JavaScript">
		handleBankNameChange();
	</SCRIPT>
</ui:define>
</ui:composition>

</html>


