<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
	<SCRIPT LANGUAGE="JavaScript" >

		function gettext() {

			amount=document.forms['withdrawForm'].elements['withdrawForm:amount'].value;
			currencySymbol='#{msgs[user.currency.symbol]}';

			out1='#{msgs['bonus.withdraw.confirm.text1']}';
			out2='#{msgs['bonus.withdraw.confirm.text2']}';

			return out1+' '+currencySymbol+addCommas(amount)+' '+out2;
		}

		function confirmit() {

			amount=document.forms['withdrawForm'].elements['withdrawForm:amount'].value;

			if (amount==''){
				return true;
			}

			if (amount &lt;  0) {
				return true;
			}
			if (amount == 0) {
				return true;
			}

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}

		function addCommas(nStr)
		{
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}
	</SCRIPT>
	<t:saveState value="#{withdrawForm}" />

    <h:panelGroup >

        <h:form id="withdrawForm">

        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputLabel for="amount" value="#{msgs['withdraw.amount']}"/>
				<h:panelGrid columns="3" >
                	<h:inputText dir="ltr" id="amount" size="9" maxlength="9" value="#{withdrawForm.amount}" required="true" validator="#{utils.validateBonusWithdrawNegative}">
        	        	<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
        	        </h:inputText>
    	            <h:outputText value="#{user.currency.code}"/>
	                <t:message id="amountError" for="amount" replaceIdWithLabel="true" styleClass="error"/>
                </h:panelGrid>


                <h:outputText value="#{msgs['bonus.withdraw.comments']}"/>
                <h:panelGrid columns="2" >
	           		<h:inputTextarea id="comment" cols="50" rows="5" value="#{withdrawForm.comments}" required="true" >
						<f:validateLength maximum="100"/>
	           		</h:inputTextarea>
					<t:message id="commentError" for="comment" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

			</h:panelGrid>
			<h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

		         	<t:commandButton
		         		id="btnImage"
		         		image="/images/submit_u.jpg"
		         		onmouseover="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
		         		onmouseout="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
		         		onclick="if(!confirmit()) return false;
		         				 gowait('withdrawForm:btnImage','withdrawForm:hiddenWithdraw','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
		         				 return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenWithdraw');" >
		         	</t:commandButton>

		         	<h:commandLink
		         	    id="hiddenWithdraw"
					    action="#{withdrawForm.insertBonusWithdraw}"
					    style="display:none">
				   </h:commandLink>
            </h:panelGrid>
            </h:panelGrid>
        </h:form>

    </h:panelGroup>



</ui:define>
</ui:composition>

</html>
