<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"/>

	<SCRIPT LANGUAGE="JavaScript" >

		function gettext() {

			amount=document.forms['depositForm'].elements['depositForm:deposit'].value;

			currencySymbol='#{msgs[user.currency.symbol]}';

			out1='#{msgs['bonus.deposit.confirm.text1']}';;

			return out1+' '+currencySymbol+addCommas(amount);
		}

		function confirmit() {

			amount=document.forms['depositForm'].elements['depositForm:deposit'].value;

			if (amount==''){
				return true;
			}


			if (amount == 0) {
				return true;
			}

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}

		function addCommas(nStr)
		{
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}

	</SCRIPT>

	<t:saveState value="#{depositForm}" />

    <h:panelGroup>

        <h:form id="depositForm">

	        <h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <t:outputLabel for="deposit" value="#{msgs['deposit.deposit']}"/>
                <h:panelGrid columns="4" >
	                <t:inputText dir="ltr" id="deposit" size="6" maxlength="6" value="#{depositForm.deposit}" required="true" validator="#{utils.validateBonusDepositNegative}">
	                	<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
        	        </t:inputText>
            	    <h:outputText value="#{msgs[user.currency.symbol]}" rendered="#{!depositForm.firstDeposit}"/>
            	    <h:panelGroup rendered="#{depositForm.firstDeposit}">
			            <h:selectOneMenu id="currenciesList" value="#{depositForm.currencyId}" onchange="handleCurrencyChange();" required="true">
			            	<f:selectItem itemLabel="" itemValue=""/>
				        	<f:selectItems value="#{applicationData.getCurrenciesBySkin()}"/>
				        </h:selectOneMenu>
            	    </h:panelGroup>
	                <t:message id="depositError" for="deposit" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

                <t:outputLabel rendered="#{user.hasSAdminRole || user.hasAdminRole || user.hasSalesMExt}" for="wagering" value="#{msgs['deposit.wagering']}"/>
                <h:panelGrid columns="2" rendered="#{user.hasSAdminRole || user.hasAdminRole || user.hasSalesMExt}" >
	                <t:inputText dir="ltr" id="wagering" size="6" maxlength="2" value="#{depositForm.wagering}" >
		                <f:validateDoubleRange />
        	        </t:inputText>
	                <t:message id="wageringError" for="wagering" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

                <t:outputLabel for="comments" value="#{msgs['bonus.deposit.comments']}"/>
                <h:panelGrid columns="2" >
	                <h:inputTextarea id="comments" cols="50" rows="5" value="#{depositForm.comments}"  required="true">
	 	          		<f:validateLength maximum="200"/>
	           		</h:inputTextarea>
	           		<t:message id="commentsError" for="comments" replaceIdWithLabel="true" styleClass="error"/>
           		</h:panelGrid>
           		
		    	 	 <h:outputLabel styleClass="text_gray_12_bold" for="street" value="#{msgs['register.street']}" rendered="#{depositForm.firstDepositExcludeBonus}"/>
			            <h:panelGrid columns="2" border="0" rendered="#{depositForm.firstDepositExcludeBonus}">
			                <h:inputText size="20" maxlength="40" id="street" value="#{depositForm.street}" required="true"
				                validator="#{utils.validateStreet}" >
			                </h:inputText>
			                <t:message id="streetError" for="street" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
		    	    
		    	     <h:outputLabel styleClass="text_gray_12_bold" for="cityId" value="#{msgs['register.city']}" rendered="#{depositForm.firstDepositExcludeBonus}"/>
			            <h:panelGrid columns="2" border="0" rendered="#{depositForm.firstDepositExcludeBonus}">
					         <t:inputText size="24" maxlength="24" autocomplete="off" id="cityId" name="cityId" value="#{depositForm.cityNameAO}" required="true"
					         	validator="#{utils.validateCity}" />
		 			  	     <t:message id="cityIdError" for="cityId" replaceIdWithLabel="true" styleClass="error"/>
			        	</h:panelGrid>
			        	
			         <h:outputLabel styleClass="text_gray_12_bold" for="zipCode" value="#{msgs['register.postcode']}" rendered="#{depositForm.firstDepositExcludeBonus}"/>
			            <h:panelGrid columns="2" border="0" rendered="#{depositForm.firstDepositExcludeBonus}">
			                <h:inputText dir="ltr" maxlength="6" id="zipCode" size="6" value="#{depositForm.zipCode}" required="true"></h:inputText>
			                <t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true" styleClass="error"/>
					    </h:panelGrid>
					    
				<h:outputText id="birth" styleClass="text_gray_12_bold" value="#{msgs['register.birthdate']}" rendered="#{depositForm.firstDepositExcludeBonus}"/>
				<h:panelGrid columns="2" border="0" rendered="#{depositForm.firstDepositExcludeBonus}">
					<h:panelGrid dir="LTR" border="0" columns="10">
	 					<h:outputLabel styleClass="text_gray_12" for="birthDay" value="#{msgs['register.birthday']}"/>
	                	<h:selectOneMenu styleClass="input_text" id="birthDay" value="#{depositForm.birthDateDay}" required="true">
	                		<f:selectItem  itemLabel="" itemValue="" />
	                		<f:selectItems value="#{applicationData.days}" />
	                	</h:selectOneMenu>
	                	<h:outputLabel styleClass="text_gray_12" for="birthMonth" value="#{msgs['register.birthmonth']}"/>
	               		<h:selectOneMenu styleClass="input_text" id="birthMonth" value="#{depositForm.birthDateMonth}" required="true" >
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.months}" />
	               		</h:selectOneMenu>
	               		<h:outputLabel styleClass="text_gray_12" for="birthYear" value="#{msgs['register.birthyear']}"/>
	               		<h:selectOneMenu styleClass="input_text" id="birthYear" value="#{depositForm.birthDateYear}"  required="true">
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.years}" />
	               		</h:selectOneMenu>
						<t:message id="birthDayError" for="birthDay" replaceIdWithLabel="true" styleClass="error"/>
						<t:message id="birthMonthError" for="birthMonth" replaceIdWithLabel="true" styleClass="error"/>
						<t:message id="birthYearError" for="birthYear" replaceIdWithLabel="true" styleClass="error"/>
	    	        </h:panelGrid>
	       		</h:panelGrid>
	       		
					    
            </h:panelGrid>
	             <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

						<t:commandButton
			         		id="btnImage"
			         		image="/images/submit_u.jpg"
			         		onmouseover="Changepic('depositForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
			         		onmouseout="Changepic('depositForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
			         		onclick="if(!confirmit()) return false;
			         				 gowait('depositForm:btnImage','depositForm:hiddenDeposit','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
			         				 return myfaces.oam.submitForm('depositForm','depositForm:hiddenDeposit');" >
		         		</t:commandButton>
			         	<h:commandLink
			         	    id="hiddenDeposit"
						    action="#{depositForm.insertBonusDeposit}"
						    style="display:none">
					   </h:commandLink>
	 			 </h:panelGrid>

            </h:panelGrid>
        </h:form>

    </h:panelGroup>


</ui:define>
</ui:composition>

</html>
