<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>

    <h:panelGroup >
		<t:saveState id="bonusUsersFormSave" value="#{bonusUsersForm.bonusUser}" />
		<t:saveState id="bonusUsersFormSave1" value="#{bonusUsersForm}" />
        <h:form id="bonusUsersForm">

			
			<h:panelGrid border="0" columns="2" width="100%">
			<h:panelGroup >
            <h:panelGrid border="0" columns="2" style="text-align:left">

				<t:outputLabel for="bonusId" value="#{msgs['bonus.select']}" />
				<h:panelGrid rendered="#{user.supportSelected}" border="0" columns="2">
			     	<t:selectOneMenu id="bonusId" value="#{bonusUsersForm.bonusUser.bonusId}" onchange="document.bonusUsersForm.submit(this);" 
			     			required="true" valueChangeListener="#{bonusUsersForm.updateChangeBonus}">
			     		<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems value="#{writer.bonusesByWriterGroup}" />
			        </t:selectOneMenu>
			        <t:message id="bonusIdError" for="bonusId" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>
				
				
				<h:panelGrid rendered="#{user.retentionSelected || user.retentionMSelected}" border="0" columns="2">
			     	<t:selectOneMenu id="bonusIdR" value="#{bonusUsersForm.bonusUser.bonusId}" onchange="document.bonusUsersForm.submit(this);" 
			     			required="true" valueChangeListener="#{bonusUsersForm.updateChangeBonus}">
				     	<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems value="#{writer.bonusesByWriterGroupPop}" />
			        </t:selectOneMenu>
			        <t:message id="bonusIdRError" for="bonusIdR" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>
		   </h:panelGrid>
				
			<h:panelGrid columns="3" rendered="#{bonusUsersForm.displaySumInvestAndAmount}">
		    	<t:selectOneRadio immediate="true" id="isBonusAmount" value="#{bonusUsersForm.isBonusAmount}" valueChangeListener="#{bonusUsersForm.updateChange}"
       					onclick="">
          			<f:selectItem  itemLabel="#{msgs['bonus.dynamic.sum.invest']}" itemValue="0" />
					<f:selectItem  itemLabel="#{msgs['bonus.dynamic.amount']}" itemValue="1"/>
	           	</t:selectOneRadio>
		        <h:panelGrid border="0" columns="2">
			     	<t:inputText id="sumInvestOrAmount" value="#{bonusUsersForm.sumInvestOrAmount}" onchange="document.bonusUsersForm.submit(this);" size="10">
				     	<f:validateLongRange minimum = "1" />
			     	</t:inputText>
				    <t:message id="sumInvestOrAmountError" for="sumInvestOrAmount" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>
			</h:panelGrid>  
				
			<h:panelGrid rendered="#{(user.hasAdminRole || user.hasSAdminRole || user.hasSalesMExt) &amp;&amp; bonusUsersForm.displayDinamicWagering}" border="0" columns="3">
	            <h:outputLabel for="dynamicWagering" value="#{msgs['bonus.wagering.param']}"/>
	        	<h:inputText dir="ltr" styleClass="input" style="width:70px" maxlength="9" id="dynamicWagering" value="#{bonusUsersForm.dynamicWagering}" onchange="document.bonusUsersForm.submit(this);" required="true" />
	        	<t:message id="dynamicWageringError" for="dynamicWagering" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>
				
			<h:panelGrid border="0" columns="2" style="text-align:left">
				
				<t:outputLabel for="dynamicSumDeposits" value="#{msgs['bonus.dynamic.sum.deposits']}" rendered="#{!bonusUsersForm.displaySumInvestAndAmount}"/>
				<h:panelGrid border="0" columns="2" rendered="#{!bonusUsersForm.displaySumInvestAndAmount &amp;&amp; !bonusUsersForm.displayDynamicSumDeposits}">
			     	<t:inputText id="dynamicSumDeposits" value="#{bonusUsersForm.dynamicSumDeposits}" size="10"/>
				    <t:message id="dynamicSumDepositsError" for="dynamicSumDeposits" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>
		        <h:panelGrid border="0" columns="2" rendered="#{bonusUsersForm.displayDynamicSumDeposits}">
			     	<t:inputText id="dynamicSumDepositsAndInvest" value="#{bonusUsersForm.dynamicSumDeposits}" onchange="document.bonusUsersForm.submit(this);" size="10">
			     		<f:validateLongRange minimum = "1" />
			     	</t:inputText>	
				    <t:message id="dynamicSumDepositsAndInvestError" for="dynamicSumDepositsAndInvest" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

				<h:panelGrid columns="1"/>
				<h:inputHidden  value="#{bonusUsersForm.bonusUser.bonusStateId}"/>

				<t:outputLabel  for="writer" value="#{msgs['bonus.writer']}" />
				<h:outputText styleClass="data_display" value="#{bonusFormater.getWriterTxt(bonusUsersForm.bonusUser)}"></h:outputText>

				<t:commandLink action="#{bonusUsersForm.insert}">
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>
            </h:panelGrid>

			</h:panelGroup >
            <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
 			<h:panelGrid border="0" columns="1" width="100%">
            	<h:outputText id="description" value="#{bonusUsersForm.descriptions}" escape="false"/>
            </h:panelGrid>

			 </h:panelGrid>

			 </h:panelGrid>

        </h:form>

    </h:panelGroup>

<script>

</script>
</ui:define>
</ui:composition>

</html>