<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition>

<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/salesAssignments.js"></script>
 <script LANGUAGE="JavaScript" >

		//change color of filter that has been changed
 		function changeColor(color, button){
 			var button = document.getElementById(button);
 			button.style.color = color;
 		}

		function openPopualtionsWindow() {
			var popupWin = window.open("#{facesContext.externalContext.requestContextPath}/jsp/retention/populationSelectCallMe.jsf" ,'actionWindow','width=300,height=500,scrollbars=1');
		    if (window.focus) {
		   		popupWin.focus();
		   	}
		}

		function openAffiliatesWindow() {
			var popupWin = window.open("#{facesContext.externalContext.requestContextPath}/jsp/retention/affiliatesSelectCallMe.jsf" ,'actionWindow','width=550,height=450,scrollbars=1');
		    if (window.focus) {
		   		popupWin.focus();
		   	}
		}

		function openTimeZoneWindow() {
			var popupWin = window.open("#{facesContext.externalContext.requestContextPath}/jsp/retention/timeZoneSelectCallMe.jsf" ,'actionWindow','width=300,height=850,scrollbars=1');
		    if (window.focus) {
		   		popupWin.focus();
		   	}
		}

		/*
			Auto Refresh Page with Time script
			By JavaScript Kit (javascriptkit.com)

			can display the remaining time by printing curtime
		*/

		//enter refresh time in "minutes:seconds" Minutes should range from 0 to inifinity. Seconds should range from 0 to 59
		var limit="05:00"

		if (document.images){
			var parselimit=limit.split(":")
			parselimit=parselimit[0]*60+parselimit[1]*1
		}

		function beginrefresh(){
			if (!document.images)
				return
			if (parselimit==1) {
				document.getElementById("declineAfterApproved:searchInitFilter").onclick();
			}
			else{
				parselimit-=1
				curmin=Math.floor(parselimit/60)
				cursec=parselimit%60
				if (curmin!=0)
					curtime=curmin+" minutes and "+cursec+" seconds left until page refresh!"
				else
					curtime=cursec+" seconds left until page refresh!"
					window.status=curtime
					setTimeout("beginrefresh()",1000)
			}
		}

		window.onload=beginrefresh

		function gettext(msgType) {
			return '#{msgs['retention.submit.assign.confirm']}';
		}

		function confirmit(msgType) {
		    if (msgType == '3') {  // assign submit
				// check assignRows
				var allEntriesNum = new Number(document.getElementById("declineAfterApproved:allEntries").innerHTML);
				var assignedNum = new Number(document.getElementById("declineAfterApproved:pressedRecords").innerHTML);
				if (assignedNum > allEntriesNum) {
					alert("Assign error: selected tasks > number of entries ");
					return false;
				}
		    }
			if (!confirm(gettext(msgType))) {
				return false;
			}
			return true;
		}

		function activateSearchUser(id) {
			  if (null != event &amp;&amp; 'undefined' != event &amp;&amp; event.keyCode == 13) {
				document.getElementById('declineAfterApproved:searchBtn').focus();
			  }
			  else {
				  	if(id == "declineAfterApproved:userId") {
				  		document.getElementById("declineAfterApproved:username").value = "";
				  		document.getElementById("declineAfterApproved:contactId").value = "";
				  	}
				  	if(id == "declineAfterApproved:username") {
				  		document.getElementById("declineAfterApproved:userId").value = "";
				  		document.getElementById("declineAfterApproved:contactId").value = "";
				  	}
				  	if(id == "declineAfterApproved:contactId") {
				  		document.getElementById("declineAfterApproved:userId").value = "";
				  		document.getElementById("declineAfterApproved:username").value = "";
				  	}
  			  }
		}

		// assignWriters js code
		function updateWhenAllAssignPressed() {
			var assignAllVal = document.getElementById("declineAfterApproved:assignAll").checked;
			var url = "ajax.jsf?assignRequest=assignAll&amp;assignVal=" + assignAllVal + "&amp;beanName=callMeForm";
		    var ajax = new AJAXInteraction(url, updateWhenAllAssignPressedCallback);
			ajax.doGet();
		}

		function updateWhenAllAssignPressedCallback(responseXML) {
	 	  var descriptionValue = responseXML.getElementsByTagName("assignRes")[0].firstChild.nodeValue;
	   	  var assignAllVal = document.getElementById("declineAfterApproved:assignAll").checked;
	   	  var assignsList = document.getElementsByTagName("input");
		  for (var i = 0 ; i &lt; assignsList.length ; i++ ) {
				var elm = assignsList[i];
				//alert("id: " + elm.id + "value: " + elm.value);
				if (elm.id.indexOf("assignWriter") > -1 || elm.id.indexOf("assignSkinAll") > -1 ) {
					elm.checked = assignAllVal;
				}
			}
		}

		function updateWhenSkinAllPressed(skinId) {
			var assignAllVal = document.getElementById("assignSkinAll" + skinId).checked;
			//alert(assignAllVal);
			var url = "ajax.jsf?assignRequest=assignSkinAll&amp;assignVal=" + assignAllVal + "&amp;assignSkinId=" + skinId + "&amp;beanName=callMeForm";
		    var ajax = new AJAXInteraction(url, updateWhenSkinAllPressedCallback);
			ajax.doGet();
		}

		function updateWhenSkinAllPressedCallback(responseXML) {
	 		var skinId = responseXML.getElementsByTagName("assignRes")[0].firstChild.nodeValue;
	 		//alert(skinId);
	   	  	var assignAllVal = document.getElementById("assignSkinAll" + skinId).checked;
	   	  	var assignsList = document.getElementsByTagName("input");
		  	for (var i = 0 ; i &lt; assignsList.length ; i++ ) {
				var elm = assignsList[i];
				if (elm.id.indexOf("assignWriter_skin" + skinId) > -1 ) {
					elm.checked = assignAllVal;
				}
			}
			// set assignAll in case that we pressed on not checked for all skin
			if (assignAllVal == false) {
				var assignAllE = document.getElementById("declineAfterApproved:assignAll");
				assignAllE.checked = assignAllVal;
			}
		}

		function updateWhenWriterPressed(skinId, writerId) {
			var assignVal = document.getElementById("assignWriter_skin" + skinId + writerId).checked;
			var url = "ajax.jsf?assignRequest=assignWriter&amp;assignVal=" + assignVal + "&amp;assignSkinId=" + skinId + "&amp;assignWriterId=" + writerId + "&amp;beanName=callMeForm";
		    var ajax = new AJAXInteraction(url, updateWhenWriterPressedCallback);
			ajax.doGet();
		}

		function updateWhenWriterPressedCallback(responseXML) {
	 		var res = responseXML.getElementsByTagName("assignRes")[0].firstChild.nodeValue;
	 		res = res.split(",");
	 		var skinId = res[0];
	 		var writerId = res[1];
			// set assignAll and assignSkinAll to false in case that we pressed on not checked on some writer
			var assignVal = document.getElementById("assignWriter_skin" + skinId + writerId).checked;
			if (assignVal == false) {
				var assignSkinsAllE = document.getElementById("assignSkinAll" + skinId);
				assignSkinsAllE.checked = assignVal;
				var assignAllE = document.getElementById("declineAfterApproved:assignAll");
				assignAllE.checked = assignVal;
			}
		}

		function handleAssignClick(elm) {
			var repLable = document.getElementById("declineAfterApproved:repLable");
			var repid = document.getElementById("declineAfterApproved:repId");
			if (elm.checked) {
				repLable.style.display="inline";
				repid.style.display="inline";
			} else {
				repLable.style.display="none";
				repid.style.display="none";
			}
		}

	</script>


    <h:panelGroup >
        <h:form id="declineAfterApproved">
			
	<h:panelGrid border="0" columns="2">
	<h:panelGrid border="0">				
   		<h:outputLabel for="skinId" value="#{msgs['population.entry.skin']}"/>
			<h:selectManyListbox id="skinId" value="#{callMeForm.skinList}" style="height:150px" >
   				<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
   			</h:selectManyListbox>
	</h:panelGrid>			
	<h:panelGrid border="0" >			
			<h:panelGrid border="0" columns="8">
					<h:outputLabel for="from" value="#{msgs['retention.from']}"/>
					<h:panelGrid border="0" columns="3">
						<h:inputText styleClass="input_text" id="from" value="#{callMeForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['declineAfterApproved'].elements['declineAfterApproved:from'],'anchor1','dd/MM/yyyy'); return false;">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    </h:inputText>
				    	<A HREF="#" onClick="cal.select(document.forms['declineAfterApproved'].elements['declineAfterApproved:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				        </A>
						<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

			        <h:outputLabel for="to" value="#{msgs['tracking.to']}"/>
					<h:panelGrid border="0" columns="3">
	  					<h:inputText styleClass="input_text" id="to" value="#{callMeForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['declineAfterApproved'].elements['declineAfterApproved:to'],'anchor2','dd/MM/yyyy'); return false;">
		    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
						</h:inputText>
						<A HREF="#" onClick="cal.select(document.forms['declineAfterApproved'].elements['declineAfterApproved:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
							<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
						</A>
						<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

					<h:outputText value="#{msgs['newaccounts.campaigns']}"/>
					<h:panelGrid>
		               		<h:selectOneMenu id="campaignName" value="#{callMeForm.campaignId}"  >
		               			<f:selectItems value="#{writer.allSalesMarketingCampaignsLongSI}" />
			               	</h:selectOneMenu>
					</h:panelGrid>

					<h:commandButton id="timeOffset" href="#" style="color:#{callMeForm.affiliatesNamesEmpty ? 'black' : 'blue'}"
					 	onclick="openTimeZoneWindow()"  value="#{msgs['retention.timezone']}" >
					</h:commandButton>

			</h:panelGrid>

			<h:panelGrid border="0" columns="12">
				<t:outputLabel rendered="#{user.retentionMSelected &amp;&amp; !user.partnerWriter}" for="skinBCId" value="#{msgs['newaccounts.skin.business.case']}" />
				<t:selectOneMenu rendered="#{user.retentionMSelected &amp;&amp; !user.partnerWriter}" id="skinBCId" value="#{callMeForm.businessCaseId}" >
				    <f:selectItems value="#{writer.skinBusinessCasesSI}" />
				</t:selectOneMenu>

				<h:panelGroup rendered="#{user.retentionMSelected}" >
					<h:outputLabel for="assignCB" value="#{msgs['retention.assign.entries']}"/>
					<t:selectBooleanCheckbox disabled="false" id="assignCB" value="#{callMeForm.assignFilter}" onclick="handleAssignClick(this);" />

					<t:outputLabel id="repLable" for="repId" value="#{msgs['retention.assign.representative']} " />
					<t:selectOneMenu id="repId" value="#{callMeForm.writerFilter}" >
					    <f:selectItems value="#{writer.assignedRepList}" />
					</t:selectOneMenu>
				</h:panelGroup>

				<h:panelGroup rendered="#{user.retentionMSelected}">
					<t:outputLabel  for="verifiedUsersFilter" value="#{msgs['newaccounts.verified.users']}" />
			     	<t:selectOneMenu id="verifiedUsersFilter" value="#{callMeForm.verifiedUsersFilter}"  >
			        	<f:selectItems value="#{writer.yesNoAllSI}" />
			        </t:selectOneMenu>
			    </h:panelGroup>

				<t:outputLabel id="forLastSalesDepRep" for="lastSalesDepRep" value="#{msgs['population.entry.last.saled.dep.rep']} " />
				<t:selectOneMenu id="lastSalesDepRep" value="#{callMeForm.lastSalesDepRepId}" >
				    <f:selectItems value="#{writer.retentionWritersAll}" />
				</t:selectOneMenu>

				<h:panelGroup rendered="#{user.retentionMSelected}" >
					<h:outputLabel for="specialCare" value="#{msgs['retention.special.care']}"/>
					<t:selectBooleanCheckbox id="specialCare" value="#{callMeForm.specialCare}"/>
				</h:panelGroup>

	   		</h:panelGrid>

			<h:panelGrid border="0" columns="15">

				<h:panelGroup >
	               	<h:outputLabel for="userId" value="#{msgs['population.entry.user.id']}"/>
	               	<t:inputText id="userId" size="10" styleClass="input_text"
		   				value="#{callMeForm.userId}"
		   				onkeydown="activateSearchUser(id);"/>
				</h:panelGroup>

				<h:panelGroup >
					<h:outputLabel for="username" value="#{msgs['population.entry.user.username']}"/>
				    <t:inputText id="username" size="10" styleClass="input_text"
		   				value="#{callMeForm.username}"
		   				onkeydown="activateSearchUser(id);"/>
				</h:panelGroup>

				<h:panelGroup >
					<h:outputLabel for="contactId" value="#{msgs['population.entry.contact.id']}"/>
				    <t:inputText id="contactId" size="10" styleClass="input_text"
		   				value="#{callMeForm.contactId}"
		   				onkeydown="activateSearchUser(id);"/>
				</h:panelGroup>

				<h:panelGrid rendered="#{user.retentionMSelected}" columns="2" >
					<h:outputLabel for="hideNoAnswer" value="#{msgs['retention.hide.no.answer']}"/>
					<t:selectBooleanCheckbox disabled="false" id="hideNoAnswer" value="#{callMeForm.hideNoAnswer}" />
				</h:panelGrid>

				<h:panelGrid rendered="#{user.retentionMSelected || user.supportMoreOptionsSelected}" columns="2" >
					<h:outputLabel for="notCalledEntries" value="#{msgs['retention.not.called.entries']}"/>
					<t:selectBooleanCheckbox disabled="false" id="notCalledEntries" value="#{callMeForm.notCalledPops}" />
				</h:panelGrid>

				<h:panelGroup rendered="#{user.retentionMSelected}" >
				   	<h:outputText value="#{msgs['retention.countries.group']}"/>
	               	<h:selectOneMenu id="countriesGroup" value="#{callMeForm.countriesGroup}"  >
						<f:selectItems value="#{writer.countriesGroupSI}" />
	               	</h:selectOneMenu>
               	</h:panelGroup>

               	<h:panelGroup>
	               	<h:outputLabel for="callsCount" value="#{msgs['population.entry.calls.count']}"/>
	               	<t:inputText id="callsCount" size="5" styleClass="input_text"
		   					value="#{callMeForm.callsCount}" validator="#{utils.validateNumbersAndCommasOnly}">
		   			</t:inputText>
		   			&#160;
		   			<t:message id="callsCountError" for="callsCount" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGroup>



			</h:panelGrid>


			<h:panelGrid border="0" columns="25">

				<h:panelGroup rendered="#{user.retentionMSelected}" >
				   	<h:outputText value="#{msgs['retention.campaign.priority']}"/>
	               	<h:selectOneMenu id="campaignPriority" value="#{callMeForm.campaignPriority}"  >
	               		<f:selectItem itemLabel="All" itemValue="0" />
						<f:selectItems value="#{applicationData.prioritySI}" />
	               	</h:selectOneMenu>
               	</h:panelGroup>
				<h:outputLabel value="#{msgs['retention.writer.from']}"  rendered="#{user.retentionMSelected }"/>
				<h:panelGrid border="0" columns="3"  rendered="#{user.retentionMSelected }">
					<h:inputText styleClass="input_text" id="fromLogin" value="#{callMeForm.fromLogin}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['declineAfterApproved'].elements['declineAfterApproved:fromLogin'],'anchor3','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
				    	<A HREF="#" onClick="cal.select(document.forms['declineAfterApproved'].elements['declineAfterApproved:fromLogin'],'anchor3','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor3" ID="anchor3">
			       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				        </A>
						<t:message id="fromLoginError" for="fromLogin" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

			        <h:outputLabel value="#{msgs['retention.writer.to']}"  rendered="#{user.retentionMSelected }"/>
					<h:panelGrid border="0" columns="3"  rendered="#{user.retentionMSelected }">
	  					<h:inputText styleClass="input_text" id="toLogin" value="#{callMeForm.toLogin}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['declineAfterApproved'].elements['declineAfterApproved:toLogin'],'anchor4','dd/MM/yyyy'); return false;">
		    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
						</h:inputText>
						<A HREF="#" onClick="cal.select(document.forms['declineAfterApproved'].elements['declineAfterApproved:toLogin'],'anchor4','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor4" ID="anchor4">
							<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
						</A>
						<t:message id="toLoginError" for="toLogin" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

				<h:commandButton id="countriesButton" class="countries" href="#" style="color:#{callMeForm.countriesEmpty ? 'black' : 'blue'}"
				 onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/support/countriesSelectCallMe.jsf','',
				 'scrollbars=yes,status=no,menubar=no,toolbar=no,height=450,width=550,resizable=no,screenX=100,left=0,screenY=200,top=400');" value="#{msgs['countries.name']}" >
				</h:commandButton>

				<h:commandButton id="populationButton" href="#" style="color:#{callMeForm.populationTypesEmpty ? 'black' : 'blue'}"
				 onclick="openPopualtionsWindow()" value="#{msgs['population.entry.populations']}" >
				</h:commandButton>

				<h:commandButton id="affiliatesButton" href="#" style="color:#{callMeForm.affiliatesNamesEmpty ? 'black' : 'blue'}"
				 	onclick="openAffiliatesWindow()" value="#{msgs['affilate']}" >
				</h:commandButton>

				<h:panelGrid columns="2" border="0">
					<h:outputLabel for="lastLoginId" value="#{msgs['last.login']}"/>
	                <h:selectOneMenu styleClass="data_display"  id="lastLoginId" value="#{callMeForm.lastLoginInXMinutes}" >
						<f:selectItem itemLabel="#{msgs['general.all']}" itemValue="0" />
						<f:selectItems value="#{writer.lastLoginSI}" />
	            	</h:selectOneMenu>
	            	<t:message id="lastLoginIdError" for="lastLoginId" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

				<h:panelGrid border="0" columns="1" witdh="20px"/>

				<t:commandLink id="searchBtn" action="#{callMeForm.search}">
			        <h:outputText value="#{msgs['button.search']}" />
		  		</t:commandLink>

		  		<t:commandLink id="searchInitFilter" action="#{callMeForm.searchInitFilter}" style="display:none">
		  		</t:commandLink>
				</h:panelGrid>
				</h:panelGrid>		
		</h:panelGrid>				
		   	<t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_SortHeader"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                rows="#{callMeForm.salesPageSize}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
				varDetailToggler="detailToggler"
                value="#{callMeForm.dataModel}">

				<h:column>
	               <f:facet name="header">
				       <h:outputText value="#{msgs['population.entry.lock']}"/>
	               </f:facet>
	               <t:commandLink rendered="#{!v.entryLocked}" action="#{callMeForm.lockEntry}" immediate="true">
	               		<img src="#{facesContext.externalContext.requestContextPath}/images/notlocked.png" alt="" align="top" width="20" height="19" border="0"/>
	               		<f:setPropertyActionListener target="#{callMeForm.populationEntry}" value="#{v}" />
					</t:commandLink>
					<t:commandLink rendered="#{v.entryLocked}" action="#{callMeForm.unLockEntry}" immediate="true">
	               		<img src="#{facesContext.externalContext.requestContextPath}/images/locked.jpg" alt="" align="top" width="20" height="19" border="0"/>
	               		<f:setPropertyActionListener target="#{callMeForm.populationEntry}" value="#{v}" />
					</t:commandLink>
	           </h:column>

		      <t:column >
					<f:facet name="header">
						<t:outputText value="#{msgs['population.entry.user.id']}"/>
	               </f:facet>
	             	  <h:outputText value="#{v.userId}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" />
	             	  <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/#{v.specialCare.image}" rendered="#{v.specialCare.specialCare}" border="0"/>
	           </t:column>

	           <t:column rendered="#{!user.supportMoreOptionsSelected}" >
	               <f:facet name="header">
		               <t:outputText value="#{msgs['population.entry.contact.id']}"/>
	               </f:facet>
	                   <h:outputText value="#{v.contactId}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" />
	           </t:column>
			   <h:column>
	               <f:facet name="header">
	               		<h:outputText value="#{msgs['population.entry.time.created']}"/>
	               </f:facet>
	               <h:outputText value="#{v.qualificationTimeTxt}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" escape="false"/>
	           </h:column>
	           <t:column rendered="#{user.retentionSelected}">
	               <f:facet name="header">
		               <h:outputText value="#{msgs['population.entry.user.name']}"/>
	               </f:facet>
	         	   <h:outputText value="#{v.populationUserName}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" />
	           </t:column>
	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['population.entry.population']}"/>
	               </f:facet>
	               <h:outputText value="#{v.currPopulationName}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" />
	           </h:column>
	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['population.entry.language']}"/>
	               </f:facet>
	               <h:outputText value="#{v.language}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" />
	           </h:column>
	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['population.entry.country']}"/>
	               </f:facet>
	               <h:outputText value="#{v.countryWithOffsetDiff}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" />
	           </h:column>
	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['population.entry.campaign']}"/>
	               </f:facet>
	               <u><h:outputText value="#{v.campaignIdAndPriorty}" alt="#{v.campaignName}" title="#{v.campaignName}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" /></u>
	           </h:column>
	           <h:column>
	               <f:facet name="header">
	               		<h:outputText value="#{msgs['population.entry.time.last.login']}"/>
	               </f:facet>
	               <h:outputText value="#{v.timeLastLoginTxt}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" escape="false"/>
	           	   <h:graphicImage rendered="#{v.lastLoginHighlight}" title="#{v.lastLoginText}" value="/images/eye-icon.gif"/>
	           </h:column>
	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['population.entry.last.call.writer']}"/>
	               </f:facet>
	               <h:outputText value="#{v.lastCallWriter}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" />
	           </h:column>
	                 <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['population.entry.last.call.time']}"/>
	               </f:facet>
	               <h:outputText value="#{v.lastCallTimeTxt}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" escape="false" />
	           </h:column>
	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['population.entry.last.saled.dep.rep']}"/>
	               </f:facet>
	               <h:outputText value="#{v.lastSalesDepRep}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['population.entry.calls.count']}"/>
	               </f:facet>

	               <h:outputText value="#{v.callsCounts}" style="font-weight: bold;color: #{v.rowColor};#{v.rowColor == '#000000'? 'background-color: #FFFF00;': ''}" />
	               <h:graphicImage rendered="#{v.fddPreviousCallIndicator}" title="This FDD lead has a reached call from a different population which took place within the past 4 hours" value="/images/bonus_star.gif"/>
	           </h:column>

	           <t:column rendered="#{user.retentionMSelected}">
	               <f:facet name="header">
		               <h:outputText value="#{msgs['retention.writer.assign']}"/>
	               </f:facet>
		   			<h:selectOneMenu style="height:20px;font-size:10px;font-weight:bold;vertical-align:middle;width:90px" immediate="true" id="assignWriterId"
		   				value="#{v.tempAssignWriterId}" onchange="this.form.submit();"
	   		  			valueChangeListener="#{callMeForm.updateAssignedWriter}">
		   				<f:selectItems value="#{v.writersToAssign}" />
			   		</h:selectOneMenu>
	           </t:column>

	      	 </t:dataTable>

			 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    paginatorRenderLinkForActive="false"
						renderFacetsIfSinglePage="false"
						rendered="#{callMeForm.rowsNumber > 10}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            </t:dataScroller>

	        </h:panelGrid>

			<h:panelGrid columns="2" align="right" rendered="#{callMeForm.updateAssigningNeeded}" >
				<t:outputText value="#{msgs['retention.update.assigned.leads']}"/>
				<t:commandButton id="assignBtn" action="#{callMeForm.updateAssignedLeads}" alt="assign"
					image="/images/assigned.gif" onclick="if(!confirmit(0)) return false;"
					/>
			</h:panelGrid>

			<h:panelGrid columns="2">
				<h:outputLabel for="rowsNum" value="#{msgs['population.entry.rows.number']}"/>
	   			<h:outputLabel immediate="true" id="rowsNum" value="#{callMeForm.rowsNumber} "/>
			</h:panelGrid>

			<h:panelGrid columns="2">
				<h:outputText value="#{msgs['populations.select.chosen']}"/>
				<h:outputText value="#{callMeForm.populationTypesNames}"/>
			</h:panelGrid>
	<br/>
	<h:panelGrid columns="1" rendered="#{callMeForm.skinListSize != 0 &amp;&amp; user.retentionMSelected &amp;&amp; !callMeForm.assignFilter}">
		<t:commandLink rendered="#{callMeForm.assignOption}" action="#{callMeForm.assignPressed}">
			 <t:outputText value="#{msgs['retention.assign.hide.option']}"/>
		</t:commandLink>
		<t:commandLink rendered="#{!callMeForm.assignOption}" action="#{callMeForm.assignPressed}">
			 <t:outputText value="#{msgs['retention.assign.option']}"/>
		</t:commandLink>
	</h:panelGrid>


	<h:panelGrid columns="3" rendered="#{callMeForm.skinListSize != 0 &amp;&amp; user.retentionMSelected &amp;&amp; callMeForm.assignOption &amp;&amp; !callMeForm.assignFilter}" align="center">
		<h:outputLabel styleClass="assign_info" id="pressedRecords" value="0"/>
		<h:outputLabel styleClass="assign_info" id="sdsd" value="&#160; / &#160;"/>
		<h:outputLabel styleClass="assign_info" id="allEntries" value="#{callMeForm.rowsNumber}"/>
	</h:panelGrid>


	<h:panelGrid rendered="#{callMeForm.skinListSize != 0 &amp;&amp; user.retentionMSelected &amp;&amp; callMeForm.assignOption &amp;&amp; !callMeForm.assignFilter}" border="0" columns="1">
		<h:panelGrid  width="110px" columns="2" style="cursor:pointer;" onmouseover="this.style.backgroundColor='#A5CBFF'" onmouseout="this.style.backgroundColor='#DFE6E4'" >
			<h:selectBooleanCheckbox id="assignAll" value="#{callMeForm.assignAll}"
				 onclick="updateWhenAllAssignPressed();" />
			<h:outputText value="#{msgs['assign.all.writers']}" />
		</h:panelGrid>
	</h:panelGrid>

	<h:panelGrid rendered="#{callMeForm.skinListSize != 0 &amp;&amp; user.retentionMSelected &amp;&amp; callMeForm.assignOption &amp;&amp; !callMeForm.assignFilter}" border="0" columns="3" width="100%" align="center" columnClasses="top_align,top_align,top_align">

		<h:panelGrid border="0" columns="2" width="200px" align="left">

			<h:panelGrid border="0" columns="1" width="10px" />

			 <t:dataTable id="dataW"
		                var="v"
		                preserveDataModel="false"
		                rows=""
		                renderedIfEmpty="false"
		                cellpadding="0"
		                cellspacing="1"
		                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
		                varDetailToggler="detailToggler"
		                value="#{callMeForm.skinsAssigns}"
		               >
		           <t:column style="text-align:left;">
			           <h:panelGroup rendered="#{v.assignAll}" >
							<input type="checkbox" value="#{v.assignAll}" id="assignSkinAll#{v.skinId}" checked="#{v.assignAll}"
								onclick="updateWhenSkinAllPressed('#{v.skinId}');" />
						</h:panelGroup>
			           <h:panelGroup rendered="#{!v.assignAll}" >
							<input type="checkbox" value="#{v.assignAll}" id="assignSkinAll#{v.skinId}" checked=""
								onclick="updateWhenSkinAllPressed('#{v.skinId}');" />
						</h:panelGroup>
						&#160;
		                <h:commandLink action="#{detailToggler.toggleDetail}" >
			               <h:outputText value="#{msgs[v.skinDescription]}" />
						 </h:commandLink>
		           </t:column>

				   <f:facet name="detailStamp">
		   				 <h:panelGrid class="writersDetailsBGColor" border="0" columns="1" width="100%">

		   					 <h:panelGrid border="0" columns="2" width="100%">
		   					    <h:panelGrid border="0" columns="1" width="10px" />
								<t:dataTable id="dataWriters"
					                var="writer"
					                preserveDataModel="false"
					                rows=""
					                renderedIfEmpty="false"
					                cellpadding="0"
					                cellspacing="1"
					                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
									rowOnMouseOut="this.style.backgroundColor=old"
					                varDetailToggler="detailToggler"
					                value="#{v.writers}"
					               >
					           <t:column style="text-align:left;">
					    			<h:panelGroup rendered="#{writer.assign}" >
										<input type="checkbox" value="#{writer.assign}" id="assignWriter_skin#{v.skinId}#{writer.writerId}" checked="#{writer.assign}" onclick="updateWhenWriterPressed('#{v.skinId}','#{writer.writerId}');"/>
									</h:panelGroup>
									<h:panelGroup rendered="#{!writer.assign}" >
										<input type="checkbox" value="#{writer.assign}" id="assignWriter_skin#{v.skinId}#{writer.writerId}" checked="" onclick="updateWhenWriterPressed('#{v.skinId}','#{writer.writerId}');"/>
									</h:panelGroup>
									&#160;
					                <h:outputText value="#{writer.writerName}"/>
					           </t:column>
				           </t:dataTable>

						 	</h:panelGrid>

						 </h:panelGrid>
					</f:facet>

		      </t:dataTable>

		</h:panelGrid>


		<h:panelGrid border="0" columns="1" width="70px" columnClasses="top_align" style="vertical-align:top;text-align:left;">
	       <h:commandLink action="#{callMeForm.reload}" style="text-decoration:none;vertical-align: top;" columnClasses="top_align">
	            <img src="#{facesContext.externalContext.requestContextPath}/images/arrow_right.png" height="32px" width="32px" border="0"/>
			</h:commandLink>
		</h:panelGrid>

		<h:panelGrid border="0" columns="1" width="750px" align="left" >

			<h:panelGrid border="0" columns="4" width="50px" align="left" >
				<h:panelGrid columns="1" width="9px;" />
				<t:commandLink rendered="#{callMeForm.equallyAvailable}" action="#{callMeForm.equally}">
			 		<t:outputText value="#{msgs['retention.equally.option']}"/>
				</t:commandLink>
				<h:panelGrid columns="1" width="15px;" />
				<t:commandLink rendered="#{callMeForm.equallyAvailable}" action="#{callMeForm.giveTasks}" onclick="if(!confirmit(3)) return false;">
			 		<t:outputText value="#{msgs['retention.submit.assign.option']}"/>
				</t:commandLink>
			</h:panelGrid>

			<table border="0" cellpadding="0" cellspacing="0" align="left" width="750px" id="assignTable">
				<tr align="left">
					<td align="left" width="230px">
						<t:dataList value="#{callMeForm.skinsAssigns}" var="skinWriters" rowIndexVar="crrIndex" layout="simple">
						 	<h:panelGroup rendered="#{skinWriters.hasAssignWriters}">
							 	<table border="0" cellpadding="0" cellspacing="0" width="200px" align="center">
							 		<tr bgcolor="#3BB9FF" align="center">
							 			<td colspan="2" style="border: 1px solid #000000;">
							 				 <b><h:outputText style="color:black;" value="#{msgs[skinWriters.skinDescription]}"/></b>
							 			</td>
							 		</tr>
							 		<tr bgcolor="#357EC7" align="center">
							 			<td style="color:black;border: 1px solid #000000;"><b><h:outputText value="#{msgs['assign.writer.name']}"/></b></td>
							 			<td style="color:black;border: 1px solid #000000;"><b><h:outputText value="#{msgs['assign.tasks']}"/></b></td>
							 		</tr>
			  						    <t:dataList value="#{skinWriters.writers}" var="w" rowIndexVar="crrIndexW" layout="simple">
										<tr align="center" bgcolor="#E6ECEC">
											<td style="border: 1px solid #000000;" width="100px"><b><h:outputText rendered="#{w.assign}" value="#{w.writerName}"/></b></td>
											<td style="border: 1px solid #000000;">
												<h:inputText dir="ltr" rendered="#{w.assign}" styleClass="input_text" size="10" maxlength="20" id="tasks"
							                		value="#{w.tasks}" onkeyup="updateAssignments(this, event); return false;" onFocus="javascript:this.select();" >
								                		<f:validateLongRange minimum="0" />
					            			    </h:inputText>
					            			</td>
										</tr>
									</t:dataList>
								 	<h:panelGroup rendered="#{skinWriters.hasAssignWriters}">
									<tr><td height="3px;">&#160;</td></tr>
									</h:panelGroup>
						 	   	</table>
						 	 </h:panelGroup>
						</t:dataList>
					</td>
					<td width="540px">&#160;</td>
				</tr>
			</table>
		</h:panelGrid>

	  </h:panelGrid>

	<h:panelGrid border="0" columns="1" rendered="#{user.retentionMSelected}">
  		<t:commandLink action="#{callMeForm.exportEnteriesResultToMail}">
       		<h:outputText value="#{msgs['enteries.report.export']}" />
  		</t:commandLink>
	</h:panelGrid>
	</h:form>
		<h:panelGroup rendered="#{user.retentionMSelected}" >
			<a href="#{facesContext.externalContext.requestContextPath}/app_docs/retentionManager/glossary_for_sales_managers.doc"  >
				<h:outputText value="#{msgs['sales.glossary.manager']}"/>
			</a>
		</h:panelGroup>
		<h:panelGroup rendered="#{!user.retentionMSelected}" >
			<a href="#{facesContext.externalContext.requestContextPath}/app_docs/glossary_for_sales.doc"  >
				<h:outputText value="#{msgs['sales.glossary']}"/>
			</a>
		</h:panelGroup>
    </h:panelGroup>
    <h:panelGroup rendered="#{user.retentionMSelected}" >
		<script>
			handleAssignClick(document.getElementById("declineAfterApproved:assignCB"));
			updateAllAssignments();
		</script>
	</h:panelGroup>
</ui:composition>

</html>