<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"/>

	<SCRIPT LANGUAGE="JavaScript" >

		function gettext() {

			out1='#{msgs['transactions.cancel.deposit']}';
			return out1;
		}

		function confirmit() {

			comments = document.forms['depositForm'].elements['depositForm:comments'].value;

			if (comments==''){
				return true;
			}

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}

	</SCRIPT>

	<t:saveState value="#{depositForm}" />

    <h:panelGroup >

		Please note that this action is only intended for deposits where the money was not actually received, even though the deposit was initially approved.<br/><br/>

        <h:form id="depositForm">

	        <h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid border="0" columns="1" width="100%">

			<h:panelGrid border="0" columns="2" width="20%" align="left">
				<h:outputLabel for="trxid" value="#{msgs['cancel.deposit.trx.id']}"/>
           		<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="10" id="trxid"
	                	value="#{depositForm.transactionId}" >
	                </h:inputText>
	            	<t:message id="trxidError" for="trxid" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>
			</h:panelGrid>
			<t:commandLink id="updateBtn" action="#{depositForm.getTransactionForCancel}">
		        <h:outputText value="#{msgs['button.search']}" />
	 		</t:commandLink>

			<br/><br/>

			<h:panelGrid border="0" columns="1" width="100%">
				<t:dataTable id="data"
	                styleClass="scrollerTable"
	                headerClass="standardTable_Header"
	                footerClass="standardTable_Header"
	                rowClasses="standardTable_Row1,standardTable_Row2"
	                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
	                var="v"
	                preserveDataModel="false"
	                rows="1"
	                renderedIfEmpty="false"
	                cellpadding="0"
	                cellspacing="1"
	                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
	                varDetailToggler="detailToggler"
	                value="#{depositForm.transactionsList}"
	               >

		           <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['transactions.id']}"/>
		               </f:facet>
		               <h:outputText value="#{v.id}" />
		           </h:column>

		           <h:column>
		               <f:facet name="header">
		                   <h:outputText value="#{msgs['transactions.timecreated']}"/>
		               </f:facet>
		               <h:outputText escape="false" value="#{v.timeCreatedTxt}" />
		           </h:column>

		           <h:column>
		               <f:facet name="header">
		                   <h:outputText value="#{msgs['transactions.timesettled']}"/>
		               </f:facet>
		               <h:outputText escape="false" value="#{v.timeSettledTxt}" />
		           </h:column>

		           <h:column>
		               <f:facet name="header">
		                   <h:outputText value="#{msgs['transactions.type']}"/>
		               </f:facet>
		               <h:outputText value="#{v.typeNameTxt}" />
		           </h:column>

		            <h:column>
		               <f:facet name="header">
		                   <h:outputText value="#{msgs['transactions.status']}"/>
		               </f:facet>
		               <h:outputText value="#{msgs[v.statusName]}" />
		           </h:column>

		           <h:column>
		               <f:facet name="header">
		                   <h:outputText value="#{msgs['transactions.credit']}"/>
		               </f:facet>
		               <h:outputText dir="ltr" value="#{v.amountTxt}" />
		           </h:column>

		           <h:column>
		               <f:facet name="header">
		                   <h:outputText value="#{msgs['transactions.writername']}"/>
		               </f:facet>
		               <h:outputText value="#{v.writerName}" />
		           </h:column>

				</t:dataTable>
			</h:panelGrid>

            <h:panelGrid border="0" columns="2" rendered="#{depositForm.listSize > 0}" columnClasses="right_align,left_align">

                <t:outputLabel for="comments" value="#{msgs['cancel.deposit.success.comments']}"/>
                <h:panelGrid columns="2" >
	                <h:inputTextarea id="comments" cols="50" rows="5" value="#{depositForm.comments}" required="true">
	 	          		<f:validateLength maximum="200"/>
	           		</h:inputTextarea>
	           		<t:message id="commentsError" for="comments" replaceIdWithLabel="true" styleClass="error"/>
           		</h:panelGrid>

				<h:panelGrid border="0" columns="1" />
	            <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >
						<t:commandButton
			         		id="btnImage"
			         		image="/images/submit_u.jpg"
			         		onmouseover="Changepic('depositForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
			         		onmouseout="Changepic('depositForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
			         		onclick="if(!confirmit()) return false;
			         				 gowait('depositForm:btnImage','depositForm:hiddenDeposit','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
			         				 return myfaces.oam.submitForm('depositForm','depositForm:hiddenDeposit');" >
			         	</t:commandButton>
			         	<h:commandLink
			         	    id="hiddenDeposit"
						    action="#{depositForm.cancelDepositAfterSuccess}"
						    style="display:none">
					   </h:commandLink>
	 			 </h:panelGrid>

            </h:panelGrid>
            </h:panelGrid>
        </h:form>

    </h:panelGroup>


</ui:define>
</ui:composition>

</html>
