<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >
      
<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">
	<f:view locale="#{user.locale}">
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"/>
	
		<script language="JavaScript">
	
			function gettext() {			
	
				out='#{msgs['questionnaire.mandatory.confirm.text']}';			
				return out;
			}
	
			function confirmit() {
	
	
				if (!confirm(gettext())) {
					return false;
				}
				return true;
	
			}	
	
		</script>
	
	
	    <h:panelGroup >
	
	        <h:form id="regCapQuestionnaireForm">
				    <ui:remove>
			        <t:dataList layout="orderedList" value="#{regCapQuestionnaireForm.questions}" var="question">
					    <span>
					    	<h:outputText value="#{msgs[question.name]}"/>
				    	</span><br/>
				    	<h:selectOneRadio id="#{'question_'}#{question.name}" value="" required="true">
			   				<f:selectItems value="#{question.answers}" var="answer" itemLabel="#{msgs[answer.name]}" itemValue="#{answer.id}" />
				   		</h:selectOneRadio>
				   		<div class="error">
			   					<t:message id="#{'error_'}#{question.name}" for= "#{'question_'}#{question.name}" replaceIdWithLabel="true"/>
			   			</div>
					</t:dataList>
				</ui:remove>
				
				<h:panelGroup rendered="#{regCapQuestionnaireForm.submitted}" >
	           			<span class="optional_qr_container_span capital_qr_container_span">
							<center><b><h:outputText value="#{regCapQuestionnaireForm.questionnaireCompleteMessage()}" /></b></center>
						</span>
				</h:panelGroup>
				
				<ul>
					<li>
						<span class="optional_qr_container_span capital_qr_container_span">
							<b><h:outputText value="#{msgs['CMS.popup.binary_options_knowledge.text']}" /></b>
						</span>
						<div class="select-wrapper capital_questionnaire_select_wrapper">
							<t:selectOneMenu id="knowledgeQuestionId"
												styleClass="funnel_inp funnel_inp_sel_content"
												value="#{regCapQuestionnaireForm.knoledgeQuestionId}"
												requiredMessage="#{msgs['error.mandatory']}"
												disabled="#{regCapQuestionnaireForm.knoledgeQuestionId == 1}"
												dir="rtl">
								<f:selectItem itemLabel="#{msgs['CMS.reg_cap_quest.text.answer.trading_activity.no']}" itemValue="0" dir="rtl"/>
								<f:selectItem itemLabel="#{msgs['CMS.reg_cap_quest.text.answer.trading_activity.yes']}" itemValue="1" dir="rtl"/>
							</t:selectOneMenu>
						</div>
					</li>
				</ul>
			<ol>
				<li>
					<span class="optional_qr_container_span capital_qr_container_span">
						<h:outputText value="#{msgs[regCapQuestionnaireForm.questions[0].name]}" />
					</span>
					<div class="select-wrapper capital_questionnaire_select_wrapper">
						<t:selectOneMenu id="#{'question_'}#{regCapQuestionnaireForm.questions[0].id}"
											styleClass="funnel_inp funnel_inp_sel_content"
											value="#{regCapQuestionnaireForm.userAnswers[0].answerId}"
											disabled="#{regCapQuestionnaireForm.submitted}"
											dir="rtl">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regCapQuestionnaireForm.questions[0].answers}"
												var="answer"
												itemLabel="#{msgs[answer.name]}"
												itemValue="#{answer.id}"
												dir="rtl"/>
						</t:selectOneMenu>
					</div>
					<t:message id="#{'error_'}#{regCapQuestionnaireForm.questions[0].id}"
									for="#{'question_'}#{regCapQuestionnaireForm.questions[0].id}"
									styleClass="error_msg_question"/>
				</li>
				
				<li>
					<span class="optional_qr_container_span capital_qr_container_span">
						<h:outputText value="#{msgs[regCapQuestionnaireForm.questions[1].name]}" />
					</span>
					<div class="select-wrapper capital_questionnaire_select_wrapper">
						<t:selectOneMenu id="#{'question_'}#{regCapQuestionnaireForm.questions[1].id}"
											styleClass="funnel_inp funnel_inp_sel_content"
											value="#{regCapQuestionnaireForm.userAnswers[1].answerId}"
											disabled="#{regCapQuestionnaireForm.submitted}"
											dir="rtl">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regCapQuestionnaireForm.questions[1].answers}"
												var="answer"
												itemLabel="#{msgs[answer.name]}"
												itemValue="#{answer.id}"
												dir="rtl"/>
						</t:selectOneMenu>
					</div>
					<t:message id="#{'error_'}#{regCapQuestionnaireForm.questions[1].id}"
									for="#{'question_'}#{regCapQuestionnaireForm.questions[1].id}"
									styleClass="error_msg_question"/>
				</li>
				
				<li>
					<span class="optional_qr_container_span capital_qr_container_span">
						<h:outputText value="#{msgs[regCapQuestionnaireForm.questions[2].name]}" />
					</span>
					<div class="select-wrapper capital_questionnaire_select_wrapper">
						<t:selectOneMenu id="#{'question_'}#{regCapQuestionnaireForm.questions[2].id}"
											styleClass="funnel_inp funnel_inp_sel_content"
											value="#{regCapQuestionnaireForm.userAnswers[2].answerId}"
											disabled="#{regCapQuestionnaireForm.submitted}"
											dir="rtl">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regCapQuestionnaireForm.questions[2].answers}"
												var="answer"
												itemLabel="#{msgs[answer.name]}"
												itemValue="#{answer.id}"
												dir="rtl"/>
						</t:selectOneMenu>						
					</div>
					<t:message id="#{'error_'}#{regCapQuestionnaireForm.questions[2].id}"
									for="#{'question_'}#{regCapQuestionnaireForm.questions[2].id}"
									styleClass="error_msg_question"/>
				</li>
				
				<li>
					<span class="optional_qr_container_span capital_qr_container_span">
						<h:outputText value="#{msgs[regCapQuestionnaireForm.questions[3].name]}" />
					</span>
					<div class="select-wrapper capital_questionnaire_select_wrapper">
						<t:selectOneMenu id="#{'question_'}#{regCapQuestionnaireForm.questions[3].id}"
											styleClass="funnel_inp funnel_inp_sel_content"
											value="#{regCapQuestionnaireForm.userAnswers[3].answerId}"
											disabled="#{regCapQuestionnaireForm.submitted}"
											dir="rtl">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regCapQuestionnaireForm.questions[3].answers}"
												var="answer"
												itemLabel="#{msgs[answer.name]}"
												itemValue="#{answer.id}"
												dir="rtl"/>
						</t:selectOneMenu>
					</div>
					<t:message id="#{'error_'}#{regCapQuestionnaireForm.questions[3].id}"
									for="#{'question_'}#{regCapQuestionnaireForm.questions[3].id}"
									styleClass="error_msg_question"/>
				</li>
				
				<li>
					<span class="optional_qr_container_span capital_qr_container_span">
						<h:outputText value="#{msgs[regCapQuestionnaireForm.questions[4].name]}" />
					</span>
					<div class="select-wrapper capital_questionnaire_select_wrapper">
						<t:selectOneMenu id="#{'question_'}#{regCapQuestionnaireForm.questions[4].id}"
											styleClass="funnel_inp funnel_inp_sel_content"
											value="#{regCapQuestionnaireForm.userAnswers[4].answerId}"
											disabled="#{regCapQuestionnaireForm.submitted}"
											dir="rtl">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regCapQuestionnaireForm.questions[4].answers}"
												var="answer"
												itemLabel="#{msgs[answer.name]}"
												itemValue="#{answer.id}"
												dir="rtl"/>
						</t:selectOneMenu>
					</div>
					<t:message id="#{'error_'}#{regCapQuestionnaireForm.questions[4].id}"
									for="#{'question_'}#{regCapQuestionnaireForm.questions[4].id}"
									styleClass="error_msg_question"/>
				</li>
				
				<li>
					<span class="optional_qr_container_span capital_qr_container_span">
						<h:outputText value="#{msgs[regCapQuestionnaireForm.questions[5].name]}" />
					</span>
					<div class="select-wrapper capital_questionnaire_select_wrapper">
						<t:selectOneMenu id="#{'question_'}#{regCapQuestionnaireForm.questions[5].id}"
											styleClass="funnel_inp funnel_inp_sel_content"
											value="#{regCapQuestionnaireForm.userAnswers[5].answerId}"
											disabled="#{regCapQuestionnaireForm.submitted}"
											dir="rtl">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regCapQuestionnaireForm.questions[5].answers}"
												var="answer"
												itemLabel="#{msgs[answer.name]}"
												itemValue="#{answer.id}"
												dir="rtl"/>
						</t:selectOneMenu>
					</div>
					<t:message id="#{'error_'}#{regCapQuestionnaireForm.questions[5].id}"
									for="#{'question_'}#{regCapQuestionnaireForm.questions[5].id}"
									styleClass="error_msg_question"/>
				</li>
				
			</ol>
			
				<h:panelGroup rendered="#{!regCapQuestionnaireForm.submitted}" >
					<h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >
						<t:commandButton
			         		id="btnImage"
			         		image="/images/submit_u.jpg"
			         		onmouseover="Changepic('regCapQuestionnaireForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
			         		onmouseout="Changepic('regCapQuestionnaireForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
			         		onclick="if(!confirmit()) return false;
			         				 gowait('regCapQuestionnaireForm:btnImage','regCapQuestionnaireForm:hiddenDeposit','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
			         				 return myfaces.oam.submitForm('regCapQuestionnaireForm','regCapQuestionnaireForm:hiddenDeposit');" >
		         		</t:commandButton>
		 		   		<h:commandLink
			         	    id="hiddenDeposit"
						    action="#{regCapQuestionnaireForm.insertQuestionnaire}"
						    style="display:none">
					   </h:commandLink>
	 		   		</h:panelGrid>
				</h:panelGroup>
	        </h:form>	
	    </h:panelGroup>
	</f:view>
</ui:define>
</ui:composition>
</html>