<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="content">

	<t:saveState value="#{cardsForm}" />

    <h:panelGroup>

		<h:form id="cardsForm">
		
			<h:panelGroup rendered="#{user.isEtRegulated()}" >
	           			<span class="optional_qr_container_span capital_qr_container_span">
							<center><b><h:outputText styleClass="user_strip_value_red" value="#{user.getEtUserSuspendMessage()}" /></b></center>
						</span>
			</h:panelGroup>
          <h:panelGrid border="0" columns="1" width="100%">

          <h:panelGrid columns="6">
          	   	<t:outputLabel  for="depositsStatusFilter" value="#{msgs['creditcards.deposit.status']}"/>
		     	<t:selectOneMenu id="depositsStatusFilter" value="#{cardsForm.depositsStatusFilter}" >
		        	<f:selectItems value="#{writer.ccDepositsStatusSI}" />
		        </t:selectOneMenu>

		        <t:outputLabel  for="documentStatusFilter" value="#{msgs['creditcards.sent.documnet']}"/>
		     	<t:selectOneMenu id="documentStatusFilter" value="#{cardsForm.documentStatusFilter}" >
		        	<f:selectItems value="#{writer.yesNoAllSI}" />
		        </t:selectOneMenu>
		        
		        <t:outputLabel  for="documentsRequiredFilter" value="#{msgs['creditcards.documents.required']}"/>
		     	<t:selectOneMenu id="documentsRequiredFilter" value="#{cardsForm.documentsRequiredFilter}" >
		        	<f:selectItems value="#{writer.yesNoAllSI}" />
		        </t:selectOneMenu>

				<h:panelGrid border="0" width="5px" />

				 <t:commandLink action="#{cardsForm.search}">
		                <h:outputText value="#{msgs['button.search']}" />
	  			 </t:commandLink>

		  </h:panelGrid>

  		   <h:outputText styleClass="general_message" rendered="#{cardsForm.listSize==0}"
  		   				value="#{msgs['creditcards.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_ColumnstandardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{cardsForm.cardsList}"
           >

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['creditcards.type']}"/>
               </f:facet>
               <h:outputText value="#{v.type.name}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.ccNum']}"/>
               </f:facet>

               <t:commandLink action="card" immediate="true">
					<h:outputText rendered="#{!utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.ccNumberLast4NotMasked}" />
					<h:outputText rendered="#{utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.ccNumberXXXX}" />
               		<f:setPropertyActionListener target="#{cardsForm.card}" value="#{v}" />
				</t:commandLink>

           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.expDate']}"/>
               </f:facet>
               <h:outputText value="#{v.expMonth}/#{v.expYear}" />
           </h:column>

            <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['user.is.sent.id.copy']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.userHaveIdCopy}" > </h:selectBooleanCheckbox>
           </h:column>

            <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['user.is.sent.withdraw.form']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.userSentWithdrawalForm}" > </h:selectBooleanCheckbox>
           </h:column>

            <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.visible']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.visible}" > </h:selectBooleanCheckbox>
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.block']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.blocked}" > </h:selectBooleanCheckbox>
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.block.deposit']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.blockedForDeposit}" > </h:selectBooleanCheckbox>
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.is.sent.cc.copy']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.sentCcCopy}" > </h:selectBooleanCheckbox>
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.is.accounts.holder.cc']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.belongsToAccountHolder}" > </h:selectBooleanCheckbox>
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.is.powera.of.attorney']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.powerOfAttorney}" > </h:selectBooleanCheckbox>
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.is.verification.call']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.verificationCall}" > </h:selectBooleanCheckbox>
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.is.sent.holder.id.copy']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.sentHolderIdCopy}" > </h:selectBooleanCheckbox>
           </h:column>

			<h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.sent.documnet']}"/>
               </f:facet>
                <t:commandLink action="#{cardsForm.updateDocumentsSent}" immediate="true" >
	               		<h:selectBooleanCheckbox id="documentsSent" value="#{v.documentsSent}" />
	                    <f:setPropertyActionListener target="#{cardsForm.card}" value="#{v}" />
					</t:commandLink>
           </h:column>
           
           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.docs.are.not.required']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.docsAreNotRequired}" > </h:selectBooleanCheckbox>
           </h:column>
                      
            <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.is.3D.cc']}"/>
               </f:facet>
                 
               		<h:outputText   rendered="#{!v.is3DAttempt}" value="N" />
               		<h:outputText   rendered="#{v.is3DAttempt}" value="Y" />					
           </h:column>


           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['action']}"/>
               </f:facet>
               <t:commandLink action="copyCard" immediate="true">
               			<h:outputText value="#{msgs['duplicate']}" />
               			<f:setPropertyActionListener target="#{cardsForm.card}" value="#{v}" />
			   </t:commandLink>
           </h:column>

        </t:dataTable>

			<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{cardsForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>

        <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >

        <h:panelGrid columns="2"  cellspacing="10">
           <t:commandLink action="newCard">
		                <h:outputText value="#{msgs['button.add.creditcard']}" />
 		   </t:commandLink>

           <t:commandLink rendered="#{cardsForm.listSize>0}" action="#{cardsForm.delete}">
		                <h:outputText value="#{msgs['button.delete']}" />
 		   </t:commandLink>
 		  </h:panelGrid>

		</h:panelGrid>

		</h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>