<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">
    <h:panelGroup class="tabBGColor">

        <h:form id="changeWriterPassForm">

         <t:saveState value="#{changeWriterPassForm}" />
         <h:panelGrid columns="1" border="0" width="95%" align="center">
     	    <t:div styleClass="tableborder1"><t:div styleClass="tableborder2"><t:div styleClass="tableborder3"><t:div styleClass="tableborder4"><t:div styleClass="tableborder5"><t:div styleClass="tableborder6"><t:div styleClass="tableborder7"><t:div styleClass="tableborder8">
	 	      <h:panelGrid columns="1" border="0" width="100%" align="center" styleClass="login">
	       
    	       <h:outputText styleClass="text_gray_14_bold" value="#{msgs['header.loggedin.changepass']}"/>
 	           <h:panelGrid border="0" columns="1" width="100%">

 		           	<h:panelGrid border="0" columns="3">

	 	               <h:outputText value="#{msgs['register.oldpassword']}"/>
    		            <h:inputText dir="ltr" id="oldpassword" size="15" maxlength="15" value="#{changeWriterPassForm.oldPassword}" required="true"
			           	     validator="#{utils.validateLettersAndNumbersOnly}">
          		      	</h:inputText>
    	   	            <t:message id="oldpasswordError" for="oldpassword" replaceIdWithLabel="true" styleClass="error"/>

                		<h:outputLabel for="password" value="#{msgs['register.newpassword']}"/>
                		<h:inputText dir="ltr" id="password" size="15" maxlength="15" value="#{changeWriterPassForm.newPassword}" required="true"
		           	     	validator="#{utils.validateLettersAndNumbersOnly}">
                		</h:inputText>
                		<t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>

                		<h:outputLabel for="password2" value="#{msgs['register.retype']}"/>
                		<h:inputText dir="ltr" id="password2" size="15" maxlength="15" value="#{changeWriterPassForm.verifyPass}" required="true"
	                	 	validator="#{utils.validateEqualPass}" equalPassFor="password">
                		</h:inputText>
                		<t:message id="passwordError2" for="password2" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
            	</h:panelGrid>


	        	<h:panelGrid style="text-align:left" columns="1" border="0" width="230px" >
					<h:commandLink styleClass="link_gray_12_bold" action="#{changeWriterPassForm.changePass}">
	            		<h:outputText value="#{msgs['button.continue']}"/>
			    	</h:commandLink>
				</h:panelGrid>
          	</h:panelGrid>
			</t:div></t:div></t:div></t:div></t:div></t:div></t:div></t:div>
		</h:panelGrid>
        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>