<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<ui:composition template="/jsp/templates/prime_template.xhtml">		
		<ui:define name="content">
		  	<script type="text/javascript">
				var context_path = "#{facesContext.externalContext.requestContextPath}";
			</script>	
			<SCRIPT language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js" />
    		<h:form id="copyopStatsForm">
    			<h:panelGroup>    			
    				<!-- Hit -->
    				<h:panelGrid border="0" columns="2">
	    				<p:outputLabel value="#{msgs['copyop.stats.hit']}"/>
	    				<h:outputText styleClass="data_display" value="#{copyopStatsForm.hitRate}" />
					</h:panelGrid>
    				<!-- Best Asset  -->
    				<h:panelGrid border="0" columns="4">
		    			<p:outputLabel value="#{msgs['copyop.stats.best.asset']}"/>
		    			<h:outputText styleClass="data_display" value="#{copyopStatsForm.bestAssetName}" /> |
		    			<h:outputText styleClass="data_display" value="#{copyopStatsForm.bestAssetProfit}" />		    			
					</h:panelGrid>
    				<!-- Best Streak  -->
    				<h:panelGrid border="0" columns="4">
		    			<p:outputLabel value="#{msgs['copyop.stats.best.streak']}"/>
		    			<h:outputText styleClass="data_display" value="#{copyopStatsForm.bestStreak}" /> |
		    			<h:outputText styleClass="data_display" value="#{copyopStatsForm.bestStreakProfit}" /> 
	    			</h:panelGrid>	    										    					    				    				    			    				    				
    				<!-- Trades  -->
    				<h:panelGrid border="0" columns="3">
		    			<p:outputLabel value="#{msgs['copyop.stats.trades']}"/>
		    			<h:outputText styleClass="data_display" value="#{copyopStatsForm.trades}" />
		    			<h:outputText styleClass="data_display" value="#{msgs[copyopStatsForm.tradesPeriodMsg]}" />
					</h:panelGrid>						
					<!-- Hot statistics -->
					<h:panelGroup rendered="#{copyopStatsForm.numOfInvestments ge 10}" >							
						<h:panelGrid columns="2" columnClasses="left,right">								
							<h:panelGrid columns="3">							
								<!-- Trades Breakdown  -->
								<p:chart type="bar" model="#{copyopStatsForm.tradesBreakdownAnimatedModel}" style="width:400px;" />    					    			    			
			    				<h:panelGrid border="0" columns="1">
			    					<p:dataTable id="copyop_trade_breakdown"
						                var="item"
						                preserveDataModel="true"
						                rows="10"
						                renderedIfEmpty="false"
						                paginator="true"
						                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						                rowsPerPageTemplate="5,10,15"
										value="#{copyopStatsForm.tradesBreakdownList}">	
									   <p:column>
							               <f:facet name="header">
								               <h:outputText value="#{msgs['copyop.stats.trades']}"/>
							               </f:facet>		               		                    	   		               								             
										   <h:outputText value="#{item.startIndex}" />-<h:outputText value="#{item.endIndex}" />		           	   
							          </p:column>	
									   <p:column>
							               <f:facet name="header">
								               <h:outputText value="#{msgs['copyop.stats.hit']}"/>
							               </f:facet>		               		                    	   		               								             
										   <h:outputText value="#{item.hitRate}" />%		           	   
							          </p:column>				           
					    			</p:dataTable>
								</h:panelGrid>	
							</h:panelGrid>																																				    					    				    				    				    			    				
		    				<h:panelGrid columns="3">
		    					<!-- Assets Breakdown  -->
		    					<p:chart type="donut" model="#{copyopStatsForm.assetsBreakdowDonutModel}" style="width:400px" />	
			    				<h:panelGrid border="0" columns="1">				    				    				    		       			
			    					<p:dataTable id="copyop_asset_breakdown"										
						                var="item"
						                preserveDataModel="true"
						                rows="10"
						                renderedIfEmpty="false"
						                paginator="true"
						                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						                rowsPerPageTemplate="5,10,15"
										value="#{copyopStatsForm.assetsBreakdownList}">								
									   <p:column>
							               <f:facet name="header">
								               <h:outputText value="#{msgs['stats.asset.name']}"/>
							               </f:facet>		               		                    	   		               								             
										   <h:outputText value="#{item.marketName}" />		           	   
							          </p:column>	
									   <p:column>
							               <f:facet name="header">
								               <h:outputText value="#{msgs['copyop.stats.hit']}"/>
							               </f:facet>		               		                    	   		               								             
										   <h:outputText value="#{item.hitRate}" />%		           	   
							          </p:column>				           
					    			</p:dataTable>
								</h:panelGrid>
							</h:panelGrid>
						</h:panelGrid>														
					</h:panelGroup>								    				    				    			    				    					    			
				</h:panelGroup>	  
    		</h:form>
		</ui:define>
	</ui:composition>
</html>  		