<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<body>
		<style type="text/css">
			.multipleSelectBoxControl span{	/* Labels above select boxes*/
				font-family:arial;
				font-size:11px;
				font-weight:bold;
			}
			.multipleSelectBoxControl div select{	/* Select box layout */
				font-family:arial;
				height:100%;
			}
			.multipleSelectBoxControl input{	/* Small butons */
				width:30px;
			}

			.multipleSelectBoxControl div{
				float:left;
			}

			.multipleSelectBoxDiv
		</style>
		<h:panelGroup rendered="#{trackingForm.countriesEmpty}">
			<script>
					window.opener.changeColor('black','trackingForm:countriesButton');
			</script>
		</h:panelGroup>
		<h:panelGroup rendered="#{!trackingForm.countriesEmpty}">
			<script>
					window.opener.changeColor('blue','trackingForm:countriesButton');
			</script>
		</h:panelGroup>
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/multipleSelectBox.js"></script>
			<h:form id="trackingForm">

				<h:panelGrid columns="2">
					<h:selectManyListbox id="fromBox" value="#{trackingForm.selectedCountriesList}">
						<f:selectItems value="#{trackingForm.countriesList}" />
					</h:selectManyListbox>
					<h:selectManyListbox id="toBox" value="#{trackingForm.selectedCountriesList}">
						<f:selectItems value="#{trackingForm.countriesList}" />
					</h:selectManyListbox>
				</h:panelGrid>
				<h:panelGrid align="center" columns="4" border="0" >
		     		<INPUT type="button" onClick="multipleSelectOnSubmitTracking(this);" value="Save" />
		   	  		<h:panelGrid witdh="40"/>
		     		<INPUT type="button" onClick="window.close();" value="Cancel" />
		     		<h:inputHidden id="include" value="#{trackingForm.includeCountries}"/>
				</h:panelGrid>
			</h:form>
		<script type="text/javascript">
			createMovableOptions("trackingForm:fromBox","trackingForm:toBox",500,300,'Include','Exclude');
		</script>
	</body>
</html>