<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"
	      
 		  locale="#{writer.localInfo.locale}">



<HEAD>
	<title></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></script>
</HEAD>
<BODY>

	<t:saveState value="#{creditWithdrawForm}" />

    <h:panelGroup >

        <h:form id="withdrawForm">

        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid columns="1" width="100%">

  	            <h:outputText styleClass="credit_msg_lable" escape="false" value="#{creditWithdrawForm.ccApproveMessage}" />

   	            <h:outputText styleClass="credit_msg_lable" value="#{msgs['withdraw.approve.question']}"/>
   	            
   	            <br/><h:outputText rendered="#{withdrawForm.hasBonuses()}" escape="false" value="#{withdrawForm.approveMessageForBonuses}" />

				<h:panelGrid columns="2" style="text-align:center" width="50%">
				
					<t:commandButton
		         		id="withdrawApprove"
		         		action="#{creditWithdrawForm.approveCreditWithdraw}"
		         		onclick="goDisabled('withdrawForm:withdrawApprove');goDisabled('withdrawForm:withdrawDeny');"
        				value="#{msgs['withdraw.approve.yes']}"
        				styleClass="link_gray_12_bold">
		         	</t:commandButton>
		         	
		         	<t:commandButton
		         		id="withdrawDeny"
		         		action="#{creditWithdrawForm.notApproveWithdraw}"
		         		onclick="goDisabled('withdrawForm:withdrawApprove');goDisabled('withdrawForm:withdrawDeny');"
        				value="#{msgs['withdraw.approve.no']}"
        				styleClass="link_gray_12_bold">
		         	</t:commandButton>

     	        </h:panelGrid>


            </h:panelGrid>

            </h:form>

    </h:panelGroup>

</BODY>
</f:view>
