<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"
	      
 		  locale="#{writer.localInfo.locale}">



<HEAD>
	<title></title>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
</HEAD>
<BODY>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
	<t:saveState value="#{creditWithdrawForm}" />

    <h:panelGroup >
        <h:form id="withdrawForm">

        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid border="0" columns="1" width="100%">

			<h:outputLabel styleClass="credit_header_msg" value="#{msgs['credit.action']}"/>

            <h:panelGrid columns="2" border="0">

			<h:outputLabel styleClass="credit_msg_lable" value="#{msgs['credit.depositTrx']}"/>
			<h:outputLabel styleClass="credit_msg_value" value="#{creditWithdrawForm.depositTrxId}"/>

			<h:outputLabel styleClass="credit_msg_lable" value="#{msgs['credit.available.amount']}"/>
			<h:outputLabel styleClass="credit_msg_value" value="#{creditWithdrawForm.creditAmountTxt}"/>

			<h:outputLabel styleClass="credit_msg_lable" value="#{msgs['credit.card.number']}"/>
			<h:outputLabel rendered="#{!utils.isWriterAllowedToViewCcFirst6Digits()}" styleClass="credit_msg_value" value="#{creditWithdrawForm.creditCard.ccNumberLast4NotMasked}"/>
			<h:outputLabel rendered="#{utils.isWriterAllowedToViewCcFirst6Digits()}" styleClass="credit_msg_value" value="#{creditWithdrawForm.creditCard.ccNumberXXXX}" />

            <h:outputLabel styleClass="credit_msg_lable" for="amount" value="#{msgs['withdraw.amount']}"/>
            <h:panelGrid columns="3" >
	                <h:inputText size="5" maxlength="9" dir="ltr" id="amount" value="#{creditWithdrawForm.amount}" required="true">
 						<f:validateDoubleRange />
	                </h:inputText>
	         <h:outputText value="#{msgs[user.currency.symbol]}"/>
	         <t:message id="amountError" for="amount" replaceIdWithLabel="true" styleClass="error"/>
             </h:panelGrid>
            </h:panelGrid>
        	<h:panelGrid style="text-align:left" columns="1" border="0" width="30%" >
					<t:commandButton
		         		id="btnImage"
		         		image="/images/submit_u.jpg"
		         		onmouseover="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
		         		onmouseout="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
		         		onclick="gowait('withdrawForm:btnImage','withdrawForm:hiddenWithdraw','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
		         				 return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenWithdraw');" >
		         	</t:commandButton>

		         	<h:commandLink
		         	    id="hiddenWithdraw"
					    action="#{creditWithdrawForm.insertCreditWithdraw}"
					    style="display:none">
				   </h:commandLink>
            </h:panelGrid>
        </h:panelGrid>
        </h:form>

    </h:panelGroup>

</BODY>
</f:view>
