<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">


<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/hints.js"></script>
<SCRIPT LANGUAGE="JavaScript" >
		var HINTS_CFG = {
			'smart'      : true, // don't go off screen, don't overlap the object in the document
			'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
			'gap'        : -7, // minimum allowed distance between the hint and the origin (negative values accepted)
			'align'      : 'bltr', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
			'css'        : 'hintsClass', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
			'show_delay' : 200, // a delay between initiating event (mouseover for example) and hint appearing
			'hide_delay' : 500, // a delay between closing event (mouseout for example) and hint disappearing
			'follow'     : false, // hint follows the mouse as it moves
			'z-index'    : 100, // a z-index for all hint layers
			'IEfix'      : true, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
			'IEtrans'    : ['blendTrans(DURATION=.3)'], // [show transition, hide transition] - transition effects, only work in IE5+
			'opacity'    : 90 // opacity of the hint in %%
		};

		var HINTS_ITEMS = [
			'#{msgs["hint.user.strip.advancedsearch"]}',''
		];



		var myHint = new THints (HINTS_ITEMS, HINTS_CFG);

		function checkAdvanced(){

		if(document.getElementById("investmentsForm:showAdvanced").value == 0)
			document.getElementById("investmentsForm:advDiv").style.display='none';
		else
			document.getElementById("investmentsForm:advDiv").style.display='inline';

		}

		// text/HTML of the hints
		var ROLLEDUP_HINT = ['<h:outputText value="#{msgs['investments.rolledUp']}" />'];
		var rolledUpHint = new THints(ROLLEDUP_HINT,UTC_HINTS_CFG);

		// roll up and GM text
		var rollUpBoughtMsg1 = "#{msgs['investments.rollUpBought1']}";
		var rollUpBoughtMsg2 = "#{msgs['investments.rollUpBought2']}";
		var GMBoughtMsg1 = "#{msgs['investments.goldenMinutes1']}";
		var GMBoughtMsg2 = "#{msgs['investments.goldenMinutes2']}";
		//bonus text
		var oddsChangeNotSettledMsg1 = "#{msgs['investments.not.settled.odds.change.bonus.msg1']}";
		var oddsChangeNotSettledMsg2 = "#{msgs['investments.not.settled.odds.change.bonus.msg2']}";
		var oddsChangeSettledMsg1 = "#{msgs['investments.settled.odds.change.bonus.msg1']}";
		var oddsChangeSettledMsg2 = "#{msgs['investments.settled.odds.change.bonus.msg2']}";
		var oddsChangeSettledMsg3 = "#{msgs['investments.settled.odds.change.bonus.msg3']}";
		var optionPlusTip = "#{msgs['optionPlus.toolTip']}";


</SCRIPT>

<script>
	    function changeMin(obj1, obj2Name){
			if(obj1.selectedIndex > 0) {
				if (document.getElementById(obj2Name).selectedIndex == 0) {
					document.getElementById(obj2Name).selectedIndex = 1;
				}
			} else {
				document.getElementById(obj2Name).selectedIndex = 0;
			}
		}

		function changeHour(obj1, obj2Name){
			if(obj1.selectedIndex > 0) {
				if (document.getElementById(obj2Name).selectedIndex == 0) {
					document.getElementById(obj2Name).selectedIndex = 1;
				}
			} else {
				document.getElementById(obj2Name).selectedIndex = 0;
			}
		}

		window.onload = startTimers;

		function startTimers() {
		    var userNameField = document.getElementById("dailyInvestmentsForm:userName")
		    if ( userNameField.value != ""){
		    	var onlineTimeId = setInterval( "updateList()", 5000 );
		    } else {
		        var onlineTimeId = setInterval( "updateList()", 20000 );
		    }


		}

		function updateList(){
			document.getElementById("dailyInvestmentsForm:searchBtn").onclick();
		}
</script>
    <h:panelGroup>
		<h:form id="dailyInvestmentsForm">
		<t:saveState id="dailyInvestmentsFormSave" value="#{dailyInvestmentsForm}" />
			<t:panelGrid border="0" columns="1" width="100%">
				<h:panelGrid columns="25" >
					<t:outputText value="#{msgs['investments.username']}" />
					<t:inputText dir="ltr" size="30" maxlength="50" id="userName" value="#{dailyInvestmentsForm.userName}" />

					<t:outputLabel id="from" for="fromHour" value="#{msgs['anal.filter.from']}"/>
			     	<h:selectOneMenu id="fromHour" onchange="changeMin(this, 'dailyInvestmentsForm:fromMin')" value="#{dailyInvestmentsForm.fromHour}" >
		        		<f:selectItems value="#{writer.investmentClosingHoursSI}"/>
		    	    </h:selectOneMenu>
		    	    <h:outputText id="colon" value=":"/>
		    	    <h:selectOneMenu id="fromMin" onchange="changeHour(this, 'dailyInvestmentsForm:fromHour')" value="#{dailyInvestmentsForm.fromMin}">
		        		<f:selectItems value="#{writer.investmentClosingMinutesSI}"/>
		    	    </h:selectOneMenu>

					<h:panelGrid id="ac1" border="0" columns="1" width="5px"/>

					<t:outputLabel id="to" for="fromHour" value="#{msgs['anal.filter.to']}"/>
			     	<h:selectOneMenu id="toHour" onchange="changeMin(this, 'dailyInvestmentsForm:toMin')" value="#{dailyInvestmentsForm.toHour}">
		        		<f:selectItems value="#{writer.investmentClosingHoursSI}"/>
		    	    </h:selectOneMenu>
		    	    <h:outputText id="colon2" value=":"/>
		    	    <h:selectOneMenu id="toMin" onchange="changeHour(this, 'dailyInvestmentsForm:toHour')" value="#{dailyInvestmentsForm.toMin}">
		        		<f:selectItems value="#{writer.investmentClosingMinutesSI}"/>
		    	    </h:selectOneMenu>

			       	<t:outputLabel for="invCloseHour" value="#{msgs['investments.closingHour']}" />
			     	<t:selectOneMenu id="invCloseHour" onchange="changeMins(this);" value="#{dailyInvestmentsForm.invCloseHour}" >
		        		<f:selectItems value="#{writer.investmentClosingHoursSI}" />
		    	    </t:selectOneMenu><h:outputText value=":"/>

		    	    <t:selectOneMenu id="invCloseMin" onchange="checkMinutes(this)" value="#{dailyInvestmentsForm.invCloseMin}" >
		        		<f:selectItems value="#{writer.investmentClosingMinutesSI}" />
		    	    </t:selectOneMenu>

			       	<t:outputLabel  for="invType" value="#{msgs['investments.invType']}" />
					<t:selectOneMenu id="invType" value="#{dailyInvestmentsForm.invType}" >
			        	<f:selectItems value="#{writer.investmentTypesSI}" />
			    	</t:selectOneMenu>
				<!-- NEW FILTERS START -->
					<t:outputLabel  for="skinBCId" value="#{msgs['newaccounts.skin.business.case']}" />
				    <t:selectOneMenu id="skinBCId" value="#{dailyInvestmentsForm.skinBusinessCaseId}" >
		    	    	<f:selectItems value="#{writer.skinBusinessCasesSI}"/>
		        	</t:selectOneMenu>
					<t:outputLabel  for="countryId" value="#{msgs['newaccounts.countries']}" />
				  	<t:selectOneMenu id="countryId" value="#{dailyInvestmentsForm.countryId}" >
				      	<f:selectItems value="#{dailyInvestmentsForm.countriesSI}" />
				     </t:selectOneMenu>
				     
				    <t:outputLabel  for="scheduled" value="#{msgs['newaccounts.scheduled']}" />
				  	<t:selectOneMenu id="scheduled" value="#{dailyInvestmentsForm.scheduled}" >
				      	<f:selectItems value="#{writer.scheduledListAllSI}" />
				     </t:selectOneMenu>
				     
				<!-- NEW FILTERS END -->
		    	</h:panelGrid>
				<h:panelGrid columns="15" >
			    	<t:selectOneRadio immediate="true" id="isSettled" value="#{dailyInvestmentsForm.isSettled}" valueChangeListener="#{dailyInvestmentsForm.updateChange}"
           					onclick="this.form.submit();">
	          			<f:selectItem  itemLabel="#{msgs['investments.open']}" itemValue="0" />
						<f:selectItem  itemLabel="#{msgs['investments.close']}" itemValue="1"/>
		           	</t:selectOneRadio>

	    			<t:outputLabel for="invAmount" value="#{msgs['investments.invAmount']}" />
					<h:inputText id="invAmount" size="5" value="#{dailyInvestmentsForm.invAmount}" />

	                <h:panelGrid border="0" columns="3" width="5px" />

	                <t:outputLabel for="invAmountBelow" value="#{msgs['investments.invAmountBelow']}" />
					<h:inputText id="invAmountBelow" size="5" value="#{dailyInvestmentsForm.invAmountBelow}" />
										
					<h:panelGroup rendered="#{writer.isWriterHaveSkin(7)}">
						<t:outputLabel for="apiUserId" value="#{msgs['api.user']}" />
						<t:selectOneMenu id="apiUserId" value="#{dailyInvestmentsForm.apiUserId}" >
				        	<f:selectItems value="#{writer.apiUsersTypeExternaWithNoneSI}" />
				    	</t:selectOneMenu>

				    	<t:outputLabel for="apiUserReference" value="#{msgs['external.user.strip.reference']}" />
						<t:inputText dir="ltr" size="10" maxlength="200" id="apiUserReference" value="#{dailyInvestmentsForm.apiExternalReference}" />
					</h:panelGroup>

					<h:panelGroup rendered="#{dailyInvestmentsForm.isSettledBoolean}">
				       	<t:outputLabel  for="wonAssets" value="#{msgs['opportunities.investments.winlose']}" />
						<t:selectOneMenu id="wonAssets" value="#{dailyInvestmentsForm.houseResult}" >
				        	<f:selectItems value="#{writer.wonLostAllSI}" />
				    	</t:selectOneMenu>
				    </h:panelGroup>
				    
				    <t:outputLabel  for="copyopInvTypeId" value="#{msgs['copyop.investments.copyop.inv.type']}" />
		     		<t:selectOneMenu id="copyopInvTypeId" value="#{dailyInvestmentsForm.copyopInvTypeId}" >
		     			<f:selectItem  itemLabel="#{msgs['general.all']}" itemValue="-1" />
		        		<f:selectItems value="#{writer.copyopInvTypeSI}" />
		        	</t:selectOneMenu>
		        	
		        	<t:outputLabel  for="fromUserId" value="#{msgs['copyop.investments.copyop.from']}" />
		       		<h:inputText id="fromUserId" size="5" value="#{dailyInvestmentsForm.fromUserId}" />
		        					    				    
				</h:panelGrid>
				<h:panelGrid columns="17" >
				
					<t:outputLabel  for="insertedFrom" value="#{msgs['investments.insertedFrom']}" />
		     		<h:selectManyListbox style="width:145px;height:85px" id="insertedFrom" value="#{dailyInvestmentsForm.insertedFrom}" >
		     			<f:selectItem  itemLabel="#{msgs['general.all']}" itemValue="-1" />
		     			<f:selectItems value="#{writer.invWritersSI}" />
		        	</h:selectManyListbox>

		            <h:outputLabel styleClass="text_gray_12_bold" for="skins" value="#{msgs['register.skin']}"/>
					<h:selectManyListbox style="width:134px;height:80px" id="skins" value="#{dailyInvestmentsForm.skins}" >
						<f:selectItems value="#{writer.skinsStringSI}"/>
					</h:selectManyListbox>

					<t:outputText value="#{msgs['markets.groupid']}"/>
					<h:selectManyListbox style="width:134px;height:80px" id="select_group" value="#{dailyInvestmentsForm.groups}" immediate="true" valueChangeListener="#{dailyInvestmentsForm.updateMarkets}"
           					onclick="this.form.submit();" >
						<f:selectItems value="#{writer.marketGroupStringSI}"/>
					</h:selectManyListbox>

					<t:outputText value="#{msgs['opportunities.market']}"/>
					<h:selectManyListbox style="width:134px;height:80px" id="select_group1" value="#{dailyInvestmentsForm.markets}" >
			   			<f:selectItem itemLabel="#{msgs['opportunities.all']}" itemValue="0" />
						<f:selectItems value="#{dailyInvestmentsForm.marketsList}"/>
					</h:selectManyListbox>

					<h:outputLabel for="opportunities" value="#{msgs['opportunities.product.type']}"/>
					<h:selectManyListbox style="width:134px;height:80px" id="opportunities" value="#{dailyInvestmentsForm.opportunitiesList}" >
						<f:selectItems value="#{writer.opportunityProductTypesStringSI}"/>
					</h:selectManyListbox>
					
			  	  	<t:outputLabel  for="statusId" value="#{msgs['investments.search.status']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
	        		<t:selectOneMenu id="statusId" value="#{dailyInvestmentsForm.statusId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" >
    		    		<f:selectItems value="#{writer.investmentStatusesSI}" />
		    		</t:selectOneMenu>
		    		
				 	<t:commandLink id="searchBtn" action="#{dailyInvestmentsForm.updateList}">
				     	<h:outputText value="#{msgs['button.search']}" />
			  	  	</t:commandLink>

				</h:panelGrid>

					<h:outputText styleClass="general_message" rendered="#{dailyInvestmentsForm.investmentsListSize==0}" value="#{msgs['investments.emptylist']}"/>

					<h:panelGrid style="text-align:left" rendered="#{user.hasTraderRole &amp;&amp; (user.traderSelected || user.sadminSelected)}" columns="1" border="0" width="100%">
						<h:commandLink action="#{dailyInvestmentsForm.exportTableToCSV}">
							<h:outputText value="#{msgs['investment.exportexcel']}" />
						</h:commandLink>
					</h:panelGrid>

					<t:dataTable id="data"
			        styleClass="scrollerTable"
			        headerClass="standardTable_Header"
			        footerClass="standardTable_Header"
			        rowClasses="standardTable_Row1,standardTable_Row2"
			        columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
			        var="v"
			        preserveDataModel="false"
			        rows="#{dailyInvestmentsForm.rowsNum}"
			        renderedIfEmpty="false"
			        cellpadding="0"
			        cellspacing="1"
			        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
					varDetailToggler="detailToggler"
			        value="#{dailyInvestmentsForm.investmentsList}" >

		   		   <ui:include src="/jsp/support/investmentsContentColumns.xhtml">
				    	<ui:param name="formName" value="#{dailyInvestmentsForm}" />
				    	<ui:param name="isDaily" value="true" />
				    </ui:include>
				</t:dataTable>

				<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center;" columns="1" border="0" width="100%" >
			    	<t:dataScroller id="scroll_1"
			            for="data"
			            fastStep="10"
			            pageCountVar="pageCount"
			            pageIndexVar="pageIndex"
			            paginator="true"
			            paginatorMaxPages="9"
			            styleClass="scroller"
			            paginatorActiveColumnClass="paginator_active"
			            paginatorColumnClass="paginator"
			            paginatorTableClass="paginator"
			            immediate="true"
			            rendered="#{dailyInvestmentsForm.investmentsListSize>dailyInvestmentsForm.rowsNum}">
			            <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
					</t:dataScroller>
			    </h:panelGrid>
			</t:panelGrid>
    	</h:form>
	</h:panelGroup>
	<h:panelGroup rendered="#{dailyInvestmentsForm.investmentsListSize!=0}">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="80%">
					<h:outputLabel for="rowsNum" value="#{msgs['population.entry.rows.number']}"/>
			   		<h:outputLabel immediate="true" id="rowsNum" value="#{dailyInvestmentsForm.investmentsListSize}"/>
				</td>
				<td align="left" width="10%">
					<h:outputLabel for="rowsNum" value="#{msgs['investments.total.amount']}:"/>
				</td>
				<td align="left" width="10%">
					&#160;&#160;
					<h:outputLabel value="#{dailyInvestmentsForm.getBaseAmountTxt(dailyInvestmentsForm.baseSumInvestments)}"/>
				</td>
			</tr>
		</table>
	</h:panelGroup>
	<h:panelGroup rendered="#{dailyInvestmentsForm.investmentsListSize!=0 &amp;&amp; dailyInvestmentsForm.isSettledBoolean}">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="80%"> &#160; </td>
				<td align="left" width="10%">
					<h:outputLabel for="rowsNum" value="#{msgs['investments.total.return']}:"/>
				</td>
				<td align="left" width="10%">
					&#160;&#160;
					<h:outputLabel value="#{dailyInvestmentsForm.baseRefundTxt}"/>
				</td>
			</tr>
		</table>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="80%"> &#160; </td>
				<td align="left" width="10%">
					<h:outputLabel for="rowsNum" value="#{msgs['investments.pnl']}:"/>
				</td>
				<td align="left" width="10%">
					&#160;&#160;
					<h:outputLabel value="#{dailyInvestmentsForm.getBaseProfitTxt(dailyInvestmentsForm.baseSumInvestments)}" styleClass="#{dailyInvestmentsForm.getProfitStyleColor(dailyInvestmentsForm.baseSumInvestments)}"/>
				</td>
			</tr>
		</table>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>



