<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"/>

	<SCRIPT LANGUAGE="JavaScript" >

		function gettext() {

			amount=document.forms['depositForm'].elements['depositForm:deposit'].value;
			currencySymbol='#{msgs[user.currency.symbol]}';

			out1='#{msgs['admin.deposit.confirm.text1']}';
			out2='#{msgs['admin.deposit.confirm.text2']}';

			return out1+' '+out2+' '+currencySymbol+addCommas(amount)+' ?';
		}

		function confirmit() {

			amount = document.forms['depositForm'].elements['depositForm:deposit'].value;
			comments = document.forms['depositForm'].elements['depositForm:comments'].value;

			if (amount=='' || comments==''){
				return true;
			}
			if (amount &lt;  0) {
				return true;
			}
			if (amount == 0) {
				return true;
			}

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}

		function addCommas(nStr)
		{
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}

	</SCRIPT>

	<t:saveState value="#{depositForm}" />

    <h:panelGroup>

		This action is intended strictly for correcting W/L inconsistencies and should not be used for correcting deposits/withdrawals under any circumstances.<br/>

        <h:form id="depositForm">

	        <h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2" columnClasses="right_align,left_align">

                <t:outputLabel for="deposit" value="#{msgs['fix.balance.deposit.deposit']}"/>
                <h:panelGrid columns="3" >
	                <t:inputText dir="ltr" id="deposit" size="6" maxlength="8" value="#{depositForm.deposit}" required="true">
 						<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
        	        </t:inputText>
            	    <h:outputText value="#{user.currency.code}"/>
	                <t:message id="depositError" for="deposit" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

                <t:outputLabel for="comments" value="#{msgs['fix.balance.deposit.comments']}"/>
                <h:panelGrid columns="2" >
	                <h:inputTextarea id="comments" cols="50" rows="5" value="#{depositForm.comments}" required="true">
	 	          		<f:validateLength maximum="200"/>
	           		</h:inputTextarea>
	           		<t:message id="commentsError" for="comments" replaceIdWithLabel="true" styleClass="error"/>
           		</h:panelGrid>

				<h:panelGrid border="0" columns="1" />
                <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >
					<t:commandButton
		         		id="btnImage"
		         		image="/images/submit_u.jpg"
		         		onmouseover="Changepic('depositForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
		         		onmouseout="Changepic('depositForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
		         		onclick="if(!confirmit()) return false;
		         				 gowait('depositForm:btnImage','depositForm:hiddenDeposit','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
		         				 return myfaces.oam.submitForm('depositForm','depositForm:hiddenDeposit');" >
		         	</t:commandButton>
		         	<h:commandLink
		         	    id="hiddenDeposit"
					    action="#{depositForm.insertFixBalanceDeposit}"
					    style="display:none">
				   </h:commandLink>
 			   </h:panelGrid>

             </h:panelGrid>

            </h:panelGrid>
        </h:form>

    </h:panelGroup>


</ui:define>
</ui:composition>

</html>
