<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

    <t:saveState id="informationFormSave" value="informationForm" />

    <h:panelGroup >

        <h:form id="informationForm" enctype="multipart/form-data">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top">
						<h:panelGrid columns="2">
							<h:outputLabel for="background" value="#{msgs['menu.retention.information.current.population']}"/>
							<h:outputLabel for="background" value="#{informationForm.currentPopulation}"/>

							<h:outputLabel for="background" value="#{msgs['menu.retention.information.privious.population']}"/>
							<h:outputLabel for="background" value="#{informationForm.priviousPopulation}"/>

							<h:outputLabel for="background" value="#{msgs['menu.retention.information.current.status']}"/>
							<h:outputLabel for="background" value="#{user.statusTxt}"/>
							
							<h:outputLabel for="background" value="#{msgs['menu.retention.information.control.group']}"/>
							<h:outputLabel for="background" value="#{informationForm.isControlGroup}"/>
							
						</h:panelGrid>
					</td>
					<td width="80px;"></td>
					<td valign="top">
						<h:panelGrid columns="3">
							<h:outputLabel value="#{msgs['menu.retention.information.sum.of.deposits']}"/>
							<h:outputLabel value="#{informationForm.sumOfDeposits}"/>
							<h:outputLabel/>

							<h:panelGrid border="0" columns="3">
								<h:inputText styleClass="input_text" id="sumOfDepositsDateFrom" value="#{informationForm.sumOfDepositsDateFrom}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['informationForm'].elements['informationForm:sumOfDepositsDateFrom'],'anchor1','dd/MM/yyyy'); return false;">
									<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    		</h:inputText>
				    			<a href="#" onClick="cal.select(document.forms['informationForm'].elements['informationForm:sumOfDepositsDateFrom'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       					<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				        		</a>
								<t:message id="sumOfDepositsDateFromError" for="sumOfDepositsDateFrom" replaceIdWithLabel="true" styleClass="error"/>
							</h:panelGrid>

							<h:outputLabel value="#{msgs['menu.retention.information.date.to']}"/>

							<h:panelGrid border="0" columns="3">
								<h:inputText styleClass="input_text" id="sumOfDepositsDateTo" value="#{informationForm.sumOfDepositsDateTo}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['informationForm'].elements['informationForm:sumOfDepositsDateTo'],'anchor1','dd/MM/yyyy'); return false;">
									<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    		</h:inputText>
				    			<a href="#" onClick="cal.select(document.forms['informationForm'].elements['informationForm:sumOfDepositsDateTo'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       					<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				        		</a>
								<t:message id="sumOfDepositsDateToError" for="sumOfDepositsDateTo" replaceIdWithLabel="true" styleClass="error"/>
							</h:panelGrid>

							<h:outputLabel/>
							<h:outputLabel/>
							<t:commandLink action="#{informationForm.sumDeposits}">
								<h:outputText value="#{msgs['button.search']}" />
							</t:commandLink>
							<h:outputLabel value="#{msgs['menu.retention.information.sum.of.investments']}"/>
							<h:outputLabel value="#{informationForm.sumOfInvestments}"/>
							<h:outputLabel/>

							<h:panelGrid border="0" columns="3">
								<h:inputText styleClass="input_text" id="sumOfInvestmentsDateFrom" value="#{informationForm.sumOfInvestmentsDateFrom}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['informationForm'].elements['informationForm:sumOfInvestmentsDateFrom'],'anchor1','dd/MM/yyyy'); return false;">
									<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    		</h:inputText>
				    			<a href="#" onClick="cal.select(document.forms['informationForm'].elements['informationForm:sumOfInvestmentsDateFrom'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       					<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				        		</a>
								<t:message id="sumOfInvestmentsDateFromError" for="sumOfInvestmentsDateFrom" replaceIdWithLabel="true" styleClass="error"/>
							</h:panelGrid>

							<h:outputLabel value="#{msgs['menu.retention.information.date.to']}"/>
							<h:panelGrid border="0" columns="3">
								<h:inputText styleClass="input_text" id="sumOfInvestmentsDateTo" value="#{informationForm.sumOfInvestmentsDateTo}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['informationForm'].elements['informationForm:sumOfInvestmentsDateTo'],'anchor1','dd/MM/yyyy'); return false;">
									<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    		</h:inputText>
				    			<a href="#" onClick="cal.select(document.forms['informationForm'].elements['informationForm:sumOfInvestmentsDateTo'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       					<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				        		</a>
								<t:message id="sumOfInvestmentsDateToError" for="sumOfInvestmentsDateTo" replaceIdWithLabel="true" styleClass="error"/>
							</h:panelGrid>
							<h:outputLabel/>
							<h:outputLabel/>
							<t:commandLink action="#{informationForm.sumInvestments}">
								<h:outputText value="#{msgs['button.search']}" />
							</t:commandLink>
						</h:panelGrid>
					</td>
					<td width="80px;"></td>
					<td valign="top">
						<h:panelGrid border="0" columns="1">
							<h:outputLabel value="#{msgs['menu.retention.information.top.three.assets']}"/>
							<h:outputLabel value="1. #{informationForm.firstAsset}"/>
							<h:outputLabel value="2. #{informationForm.secondAsset}"/>
							<h:outputLabel value="3. #{informationForm.thirdAsset}"/>
						</h:panelGrid>
					</td>
				</tr>
			</table>
        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>
</html>