<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

	<h:panelGroup >

		<h:form id="investmentsForm">

	    <t:buffer into="#{investmentsForm.htmlBuffer}">

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="0"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                varDetailToggler="detailToggler"
                value="#{investmentsForm.listWithoutSummary}"
           >
		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['investments.id']}"/>
               </f:facet>
               <h:outputText rendered="#{v.totalLine==0}" value="#{v.id}" />
           </h:column>

			<h:column rendered="#{!user.supportSelected}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['investments.username']}"/>
               </f:facet>
               <h:outputText value="#{v.userName}" rendered="#{!user.supportSelected}"/>
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['investments.marketname']}"/>
               </f:facet>
               <h:outputText value="#{v.marketName}" />
           </h:column>

            <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['investments.level']}"/>
               </f:facet>
               <h:outputText value="#{investmentsForm.getCurrentLevelTxt(v)} #{v.typeName}" />
           </h:column>

           <h:column rendered="#{user.hasSAdminRole || user.hasTraderRole}">
               <f:facet name="header">
                   <h:outputText value="#{msgs['investments.wwwlevel']}"/>
               </f:facet>
               <h:outputText dir="ltr" value="#{investmentsForm.getWwwLevelTxt(v)}" />
           </h:column>

            <h:column rendered="#{user.hasSAdminRole || user.hasTraderRole}">
               <f:facet name="header">
                   <h:outputText value="#{msgs['investments.reallevel']}"/>
               </f:facet>
               <h:outputText dir="ltr" value="#{investmentsForm.getRealLevelTxt(v)}" />
           </h:column>

           <h:column rendered="#{investmentsForm.isSettledBoolean}">
               <f:facet name="header">
                   <h:outputText value="#{msgs['investments.timecreated']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeCreated}">
				<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
               </h:outputText>
           </h:column>

	           <h:column rendered="#{investmentsForm.isSettledBoolean}">
               <f:facet name="header">
                   <h:outputText value="#{msgs['investments.timeestclosing']}"/>
               </f:facet>
               <h:outputText rendered="#{v.totalLine==0}" escape="false" value="#{investmentsForm.getTimeEstClosingTxt(v)}" />
    	       </h:column>


	            <h:column rendered="#{investmentsForm.isSettledBoolean}">
               <f:facet name="header">
                   <h:outputText value="#{msgs['investments.refundup']}"/>
               </f:facet>
               <h:outputText rendered="#{v.totalLine==0}" dir="ltr" value="#{investmentsForm.getRefundUp(v)}" />

    	       </h:column>

	            <h:column rendered="#{investmentsForm.isSettledBoolean}">
               <f:facet name="header">
                   <h:outputText value="#{msgs['investments.refunddown']}"/>
               </f:facet>
               <h:outputText rendered="#{v.totalLine==0}" dir="ltr" value="#{investmentsForm.getRefundDown(v)}" />
    	       </h:column>

               <h:column rendered="#{!investmentsForm.isSettledBoolean}">
               <f:facet name="header">
                   <h:outputText value="#{msgs['investments.closinglevel']}"/>
               </f:facet>
               <h:outputText value="#{investmentsForm.getClosingLevelTxt(v)}" />
               </h:column>

			   <h:column rendered="#{!investmentsForm.isSettledBoolean}">
               <f:facet name="header">
                   <h:outputText value="#{msgs['investments.timecreated']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeCreated}">
	               <f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
               </h:outputText>
	           </h:column>

	           <h:column rendered="#{!investmentsForm.isSettledBoolean}">
               <f:facet name="header">
                   <h:outputText value="#{msgs['investments.timeestclosing']}"/>
               </f:facet>
               <h:outputText rendered="#{v.totalLine==0}" escape="false" value="#{investmentsForm.getTimeEstClosingTxt(v)}" />
    	       </h:column>

  	           <h:column rendered="#{!investmentsForm.isSettledBoolean}">
               <f:facet name="header">
                   <h:outputText value="#{msgs['investments.refund']}"/>
               </f:facet>
               <h:outputText rendered="#{v.totalLine==0}" dir="ltr" value="#{v.refund}" />
    	       </h:column>

		    <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['investments.ip']}"/>
               </f:facet>
               <h:outputText value="#{v.ip}" />
           </h:column>

        </t:dataTable>

    </t:buffer>

    <h:outputText value="#{investmentsForm.htmlBuffer}" escape="false" />

	<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
	  	<h:commandLink action="#{investmentsForm.exportHtmlTableToExcel}" >
			<h:outputText value="#{msgs['investment.exportexcel']}"/>
		</h:commandLink>
	</h:panelGrid>

 </h:form>

</h:panelGroup>

	</ui:define>
  </ui:composition>
</html>


