<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      locale="#{writer.localInfo.locale}">

	<t:saveState id="issueformstate" value="#{issuesForm}" />
	<t:saveState id="issuestate" value="#{issuesForm.issue}" />
	<t:saveState id="issuestate2" value="#{issue}" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/hints.js"></script>

	<script>
		function openChatBox() {
			window.open('#{facesContext.externalContext.requestContextPath}/jsp/support/chat.jsf','chatWin','height=600,width=700,resizable=1,menubar=0,toolbar=0,location=0,directories=0,scrollbars=yes,status=0');
		}
		function confirmSelect() {
			var s = document.getElementById('issuesForm:changeSkinId');
			if(s != null) {
				var skin = s.options[s.selectedIndex].text;
				if(skin == "Review"){
					window.top.frames[ "content" ].location.href= "#{facesContext.externalContext.requestContextPath}/jsp/retention/review.jsf?refresh=true";
					return false;
				}
				if(skin == 'EN_US' ||  skin == 'ES_US' || skin == 'EN US' ||  skin == 'ES US') {
					return false;
				} else {
					 if( confirm("Are you sure, you want to change customers' language to "+skin)) {
					 	window.top.frames[ "content" ].location.href= "#{facesContext.externalContext.requestContextPath}/jsp/retentionManager/phoneRetention.jsf?refresh=true";
					 	return true;
					 } else { 
						 return false;
					 }
				}
			} else {
				return true;
			}
		}
	</script>

    <h:panelGroup>

		<h:form id="issuesForm" onsubmit="confirmSelect();">
			<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

	<h:panelGrid border="0" columns="2">
	<h:panelGrid border="0">				
				<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; writer.skinsSize>1}"/>
		     	<h:selectManyListbox id="skinId" value="#{issuesForm.skinList}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; writer.skinsSize>1}" style="height:150px">
	        		<f:selectItems value="#{writer.skinsAndEmptySI}" />
	    	    </h:selectManyListbox>
	</h:panelGrid>			
	<h:panelGrid border="0" >	
			<h:panelGrid border="0" columns="12">

				<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="from" value="#{issuesForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['issuesForm'].elements['issuesForm:from'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['issuesForm'].elements['issuesForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

		        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
				<h:panelGrid border="0" columns="3">
	  			  <h:inputText styleClass="input_text" id="to" value="#{issuesForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['issuesForm'].elements['issuesForm:to'],'anchor2','dd/MM/yyyy'); return false;">
	    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			      </h:inputText>
			      <A HREF="#" onClick="cal.select(document.forms['issuesForm'].elements['issuesForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		          </A>
				  <t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<h:outputText value="#{msgs['issues.status']}" rendered="#{!user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
	       		<h:selectOneMenu id="statusId" value="#{issuesForm.statusId}"   rendered="#{!user.retentionSelected &amp;&amp; !user.retentionMSelected}">
	       			<f:selectItem  itemLabel="" itemValue="" />
	       			<f:selectItems value="#{writer.issueStatusesSI}" />
	        	</h:selectOneMenu>

	        	<h:outputText value="#{msgs['issues.subject']}"/>
	       		<h:selectOneMenu id="subjectId" value="#{issuesForm.subjectId}"  >
	       			<f:selectItem  itemLabel="" itemValue="" />
	       			<f:selectItems value="#{writer.issueSubjectsSI}" />
	       		</h:selectOneMenu>

				<h:outputText value="#{msgs['issues.priority']}"/>
	           	<h:selectOneMenu id="priorityId" value="#{issuesForm.priorityId}"  >
	           			<f:selectItem  itemLabel="" itemValue="" />
	           			<f:selectItems value="#{writer.issuePrioritiesSI}" />
	           	</h:selectOneMenu>
	           	
	           	<h:panelGroup>
	   				<h:outputText value="#{msgs['population.name']}"/>
       				<h:selectOneMenu id="userStatus" value="#{issuesForm.populationType}"  >
       					<f:selectItem  itemLabel="" itemValue="0" />
						<f:selectItems value="#{writer.populationTypesSI}" />
       				</h:selectOneMenu>
   				</h:panelGroup>

			</h:panelGrid>

           	<h:panelGrid border="0" columns="22">

	           	<h:outputText value="#{msgs['issues.rep']}"/>
	       		<t:selectOneMenu id="repId" value="#{issuesForm.writerFilter}" >
				    <f:selectItems value="#{writer.assignedRepListByDepartment}" />
				</t:selectOneMenu>

				<h:outputLabel for="callDirectionId" value="#{msgs['issues.actions.call.direction']}"/>
    			<h:selectOneMenu id="callDirectionId" value="#{issuesForm.callDirectionId}" required="true" >
	   				<f:selectItems value="#{writer.callDirectionSI}" />
    	   		</h:selectOneMenu>

               	<h:outputText value="#{msgs['issues.reachedStatus']}"/>
               	<h:selectOneMenu id="reachedStatusId" value="#{issuesForm.reachedStatusId}"  >
               			<f:selectItem  itemLabel="" itemValue="" />
               			<f:selectItems value="#{writer.issueReachedStatusesSI}" />
               	</h:selectOneMenu>

				<h:panelGrid rendered="#{user.supportSelected || user.retentionSelected || user.retentionMSelected}" columns="3">
		            <h:outputText value="#{msgs['issues.significant']}" />
		            <h:selectBooleanCheckbox value="#{issuesForm.bySignificantNotes}"/>
	            </h:panelGrid>

				<h:panelGrid width="3px" rendered="#{!user.partnerSelected &amp;&amp; !user.adminSelected }"/>
				<h:outputText value="#{msgs['issues.by.writer']}" rendered="#{!user.partnerSelected &amp;&amp; !user.adminSelected &amp;&amp; !(user.hasRetentionMRole &amp;&amp; (user.retentionSelected || user.retentionMSelected))}"/>
	            <h:selectBooleanCheckbox rendered="#{!user.partnerSelected &amp;&amp; !user.adminSelected &amp;&amp;  !(user.hasRetentionMRole &amp;&amp; (user.retentionSelected || user.retentionMSelected))}"/>

				<h:outputLabel rendered="#{user.hasRetentionMRole &amp;&amp; (user.retentionSelected || user.retentionMSelected)}" for="writerId" value="#{msgs['population.entry.writer']}"/>
	   			<h:selectOneMenu rendered="#{user.hasRetentionMRole &amp;&amp; (user.retentionSelected || user.retentionMSelected)}" id="writerId" value="#{issuesForm.writerId}">
	   				<f:selectItems value="#{issuesForm.retentionWriters}" />
		   		</h:selectOneMenu>

				<h:panelGrid width="10px"/>
				<h:outputText value="#{msgs['issues.username']}" rendered="#{user.adminSelected || user.supportMoreOptionsSelected}" />
            	<h:inputText dir="ltr" size="30" maxlength="50" id="userName" value="#{issuesForm.userName}" rendered="#{user.adminSelected || user.supportMoreOptionsSelected}" />

				 <h:panelGrid width="3px" />
            	 <t:outputLabel  for="classId" value="#{msgs['user.classes.type']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
               	 <t:selectOneMenu id="classId" value="#{issuesForm.classId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" >
    	         	<f:selectItems value="#{writer.userClassesSI}" />
	             </t:selectOneMenu>

				<h:panelGrid width="3px" />
	    	    <h:outputText value="#{msgs['issues.channel']}"/>
	           	<h:selectOneMenu id="channelId" value="#{issuesForm.channelId}"  >
	           		<f:selectItem  itemLabel="" itemValue="" />
	           		<f:selectItems value="#{writer.issueChannelsSI}" />
	           	</h:selectOneMenu>

			</h:panelGrid>

			<h:panelGrid border="0" columns="9">
			    <h:outputText value="#{msgs['issues.action.type']}"/>
	           	<h:selectOneMenu id="actionTypeId" value="#{issuesForm.actionTypeId}"  valueChangeListener="#{issuesForm.actionTypeChanged}" onchange="this.form.submit();">
	           			<f:selectItem  itemLabel="" itemValue="" />
	           			<f:selectItems value="#{writer.issueActionTypeFilterSI}" />
	           	</h:selectOneMenu>
	           	
			    <h:outputText value="#{msgs['issues.component']}"/>
	           	<h:selectOneMenu id="componentId" value="#{issuesForm.componentId}" >
	           			<f:selectItem  itemLabel="" itemValue="0" />
	           			<f:selectItems value="#{writer.issueComponentSI}" />
	           	</h:selectOneMenu>	           	

	           	<h:selectOneMenu id="changeSkinId" value="#{issuesForm.actionTypeId}"  rendered="#{issuesForm.showChangeSkinDropdown}" valueChangeListener="#{issuesForm.retManChangeSkin}" onchange="this.form.submit();">
						<f:selectItem  itemLabel="" itemValue="-2" />
	           			<f:selectItem  itemLabel="Review" itemValue="-1" />
	           			<f:selectItems value="#{writer.skinsLongSI}" />
	           	</h:selectOneMenu>

			    <h:outputText value="#{msgs['mailbox.template.type']}"/>
	           	<h:selectOneMenu id="issueType" value="#{issuesForm.issueType}"  >
	           			<f:selectItems value="#{writer.issueTypesSI}" />
	           	</h:selectOneMenu>

				<h:panelGrid rendered="#{!user.adminSelected &amp;&amp; !user.supportMoreOptionsSelected}" border="0" columns="4">
					<t:commandLink action="#{issuesForm.search}">
			             <h:outputText value="#{msgs['button.search']}" />
		  			 </t:commandLink>

   					 <h:panelGrid width="10px" />
					 <t:commandLink action="#{issuesForm.addNewIssue}" rendered="#{!user.partnerSelected &amp;&amp; (user.retentionSelected || writer.supportEnable || user.retentionMSelected)}">
			     		<h:outputText value="#{msgs['button.add.issue']}" />
			 		 </t:commandLink>
    			</h:panelGrid>

    			<t:commandLink rendered="#{user.supportSelected &amp;&amp; (user.hasSAdminRole || writer.writer.id == 13 || writer.writer.id == 16 || writer.writer.id == 237 || writer.writer.id == 388 || writer.writer.id == 264 || writer.writer.id == 213 || writer.writer.id == 827 || writer.writer.id == 282 || writer.writer.id == 507 || writer.writer.id == 898 || writer.writer.id == 1444 || writer.writer.id == 1428)}" action="#{issuesForm.addNewRiskIssue}">
		     		<h:outputText value="#{msgs['risk.add.new.risk']}" />
		 		</t:commandLink>
			</h:panelGrid>

            <h:panelGrid rendered="#{user.adminSelected || user.supportMoreOptionsSelected}" border="0" columns="2">
				<t:commandLink action="#{issuesForm.search}">
	                <h:outputText value="#{msgs['button.search']}" />
	  			</t:commandLink>
   			</h:panelGrid>

		   <h:outputText styleClass="general_message" rendered="#{issuesForm.listSize==0}"
  		   				value="#{msgs['issues.emptylist']}"/>
		</h:panelGrid>
	</h:panelGrid>
		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
				varDetailToggler="detailToggler"
                value="#{issuesForm.list}"
           >
		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.id']}"/>
               </f:facet>
               <t:commandLink action="#{issuesForm.navigateToIssueActions}" immediate="true"
                    actionListener="#{issuesForm.beforeFileList}" >
               		<h:outputText title="#{v.issueActionsCount} #{msgs['issue.actions']}" value="#{v.id}" style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}"  />
                    <f:setPropertyActionListener target="#{issuesForm.issue}" value="#{v}" />
				</t:commandLink>
           </h:column>

           <t:column rendered="#{user.adminSelected || user.supportMoreOptionsSelected}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.userid']}"/>
               </f:facet>
			   <t:commandLink action="#{user.selectUserNoPopUpById}" immediate="true" >
               		<h:outputText value="#{v.userId}" />
					<f:setPropertyActionListener target="#{user.id}" value="#{v.userId}" />
			   </t:commandLink>
           </t:column>

           <t:column rendered="#{user.adminSelected}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.username']}"/>
               </f:facet>
			   <t:commandLink action="#{user.selectUserNoPopUpById}" immediate="true" >
               		<h:outputText value="#{v.username}" />
					<f:setPropertyActionListener target="#{user.id}" value="#{v.userId}" />
			   </t:commandLink>
           </t:column>

            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.timeUpdated']}"/>
               </f:facet>
               <h:outputText value="#{v.lastActionTime}">
				    <f:converter converterId="extendedDateTimeConverter" />
				    <f:attribute name="pattern" value="#{presentationPatterns.timeAndDatePattern}" />
				    <f:attribute name="timeZone" value="#{v.lastActionTimeOffset}" />
				</h:outputText>
           </h:column>
           <h:column rendered="#{user.supportSelected}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.status']}"/>
               </f:facet>
               <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.status.name}" />
           </h:column>
           <h:column rendered="#{user.retentionSelected || user.retentionMSelected}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['issue.action.last.rep']}"/>
               </f:facet>
               <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.lastRepForIssue}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.subject']}"/>
               </f:facet>
               <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.subject.name}" />
           </h:column>
			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.priority']}"/>
               </f:facet>
               <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.priority.name}" />
           </h:column>
			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.significant']}"/>
               </f:facet>
               <t:selectBooleanCheckbox style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" id="significant" value="#{v.lastSignificant}" disabled="true" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.channel']}"/>
               </f:facet>
               <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}#{v.smsStatus != null ? 'cursor:pointer;' : ''}" value="#{v.lastChannel.name}" onmouseover="regLeadsHintDisplay('#{v.smsStatus}')"
               		onmouseout="regLeadsHint.hide()"/>
           </h:column>
            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.actions.call.direction']}"/>
               </f:facet>
               <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{msgs[v.lastCallDirectionName]}" />
	       </h:column>
			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.reachedStatus']}"/>
               </f:facet>
               <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.lastReachedStatus.name}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['issues.reaction.activity']}"/>
               </f:facet>
              <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.lastIssueActionType}" />
           </h:column>
        <h:column rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}">
        	<f:facet name="header">
        		<h:outputText value="#{msgs['userstrip.skinname']}"/>
            </f:facet>
            <h:outputText value="#{v.skin}" />
		</h:column>
        <h:column>
        	<f:facet name="header">
        		<h:outputText value="#{msgs['issues.comments']}"/>
            </f:facet>
            <t:commandLink rendered="#{v.chat == null}" style="text-decoration:none;" action="#{detailToggler.toggleDetail}" immediate="true">
	              <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.commentsLittleThenMax}" dir="#{user.dir}"/>
			</t:commandLink>
			<t:commandLink styleClass="general_link_blue" rendered="#{v.chat != null}" action="#{issuesForm.embedChat}" id="chatTranscript"
	               onclick="setTimeout('openChatBox()',100);">
				<h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.commentsLittleThenMax} - #{v.chatType}" dir="#{user.dir}"/>
				<f:setPropertyActionListener target="#{issuesForm.issue}" value="#{v}" />
	  	    </t:commandLink>
		</h:column>

		<f:facet name="detailStamp">
       		<h:panelGrid class="detailsBGColor" border="0" columns="1" width="100%" dir="#{user.dir}">
       			<f:facet name="header">
	               <h:outputText value="#{msgs['issues.actions.comments']}"/>
               </f:facet>
			   <h:outputText escape="false" value="#{v.lastCommentsWithBr}"/>
			</h:panelGrid>
		</f:facet>

        </t:dataTable>

		 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_10"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{issuesForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>
		<h:panelGrid border="0" columns="1" rendered="#{user.adminSelected}">
	  		<t:commandLink action="#{issuesForm.exportIssuesResultToMail}">
	       		<h:outputText value="#{msgs['issues.report.export']}" />
	  		</t:commandLink>
		</h:panelGrid>
        </h:form>

    </h:panelGroup>

</f:view>