<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

    <t:saveState value="#{loyaltyHistoryForm}" />

    <h:panelGroup >

		<h:form id="loyaltyHistoryForm">

		<t:messages styleClass="general_message" globalOnly="true"/>

       <h:outputText styleClass="general_message" rendered="#{loyaltyHistoryForm.listSize==0}"
  		   				value="#{msgs['points.hist.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{loyaltyHistoryForm.list}"
                varDetailToggler="detailToggler"
           >

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['points.hist.tier']}"/>
               </f:facet>
               <h:outputText value="#{msgs[v.tierName]}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['points.hist.action']}"/>
               </f:facet>
               <h:outputText value="#{msgs[v.tierHisAction]}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['points.hist.points']}"/>
               </f:facet>
               <h:outputText value="#{v.points}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['points.hist.action.points']}"/>
               </f:facet>
               <h:outputText value="#{v.actionPoints}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['points.hist.time.created']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeCreated}">
    	           	<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
	           </h:outputText>
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transinvestments.writer']}"/>
               </f:facet>
               <h:outputText value="#{v.writer}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['points.hist.key.value']}"/>
               </f:facet>
              <h:commandLink rendered="#{v.keyValue > 0}" action="#{detailToggler.toggleDetail}">
	               <h:outputText value="#{v.keyValue}" />
				</h:commandLink>
           </h:column>


           <f:facet name="detailStamp">

	           <h:panelGrid class="detailsBGColor" border="0" columns="1" width="100%">

					 <h:panelGrid rendered="#{v.investmentKey}" border="0" columns="6" width="100%">

						  <h:outputText value="#{msgs['investments.det.cancel']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{loyaltyHistoryForm.getIsCanceledTxt(v.investment)}" />

						  <h:outputText value="#{msgs['investments.det.canceltime']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{v.investment.timeCanceled}">
							  <f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
						  </h:outputText>

 						  <h:outputText value="#{msgs['investments.det.cancelby']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{loyaltyHistoryForm.getCanceledWriterName(v.investment)}" />

						  <h:outputText value="#{msgs['investments.scheduled']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{loyaltyHistoryForm.getScheduledTxt(v.investment)}" />

						  <h:outputText value="#{msgs['investments.writer']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{utils.getWriterName(v.investment.writerId)}" />

						  <h:outputText value="#{msgs['investments.timecreated']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{v.investment.timeCreated}">
							  <f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
						  </h:outputText>

						  <h:outputText value="#{msgs['investments.marketname']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{v.investment.marketName}" />

						  <h:outputText value="#{msgs['investments.level']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{loyaltyHistoryForm.getCurrentLevelTxt(v.investment)} #{v.investment.typeName}" />

						  <h:outputText value="#{msgs['investments.closinglevel']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{loyaltyHistoryForm.getClosingLevelTxt(v.investment)}" />

						  <h:outputText value="#{msgs['investments.timeestclosing']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{loyaltyHistoryForm.getTimeEstClosingTxt(v.investment)}" />

						  <h:outputText value="#{msgs['investments.amount']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{loyaltyHistoryForm.getAmountTxt(v.investment)}" />

						  <h:outputText value="#{msgs['investments.refundup']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{loyaltyHistoryForm.getRefundUpTxt(v.investment)}" />

						  <h:outputText value="#{msgs['investments.refunddown']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{loyaltyHistoryForm.getRefundDownTxt(v.investment)}" />

					</h:panelGrid>

 				    <h:panelGrid rendered="#{v.transactionKey}" border="0" columns="4" width="100%">

  						  <h:outputText value="#{msgs['transactions.ip']}" />
						  <h:outputText styleClass="data_display" value="#{v.transaction.ip}" />

						  <h:outputText value="#{msgs['transactions.timesettled']}" />
						  <h:outputText styleClass="data_display" escape="false" value="#{transactionFormater.getTimeSettledTxt(v.transaction)}" />

						  <h:outputText value="#{msgs['transactions.processedwriter']}" />
						  <h:outputText styleClass="data_display" value="#{v.transaction.processedWriterName}" />

						  <h:outputText value="#{msgs['transactions.amount']}" />
						  <h:outputText styleClass="data_display" value="#{transactionFormater.getAmountTxt(v.transaction)}" />

						  <h:outputText value="#{msgs['points.hist.trans.type']}" />
						  <h:outputText styleClass="data_display" value="#{msgs[v.transaction.typeName]}" />

						  <h:outputText rendered="#{v.transaction.description != ''}" value="#{msgs['transactions.description']}" />
					      <h:outputText rendered="#{v.transaction.description != ''}" styleClass="data_display" value="#{v.transaction.description}" />

						  <h:outputText rendered="#{v.transaction.bonusUserId > 0 }" value="#{msgs['points.hist.bonus.id']}" />
						  <h:outputText rendered="#{v.transaction.bonusUserId > 0 }" styleClass="data_display" value="#{v.transaction.bonusUserId}" />

 				   </h:panelGrid>

			</h:panelGrid>

			</f:facet>

        </t:dataTable>

		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{loyaltyHistoryForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>



        </h:form>

    </h:panelGroup>


</html>


