<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"/>

<t:saveState value="#{newCardForm}" />

    <h:panelGroup >

        <h:form id="newCardForm">
        
			<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />
	  			<h:panelGrid border="0" columns="2"  > 
	            	<h:outputLabel value="Choose specific provider"/>
					<h:selectOneMenu id="providerType" value="#{newCardForm.providerId}" immediate="true"> 
						<f:selectItems value="#{newCardForm.clearingProviderRoutes}"/>
						<f:ajax/>
					</h:selectOneMenu>
					
					<h:outputLabel for="comment" value="Comment"/>
					<h:inputText id="comment" size="80" maxlength="80" value="#{newCardForm.rootingComment}"/>

					<h:panelGrid style="text-align:left" columns="2" border="0" width="30%" >
						<h:commandLink id="deposit" action="#{newCardForm.insertCreditCardAndDeposit}" value="#{msgs['retention.submit.assign.option']}"/>
						<h:commandLink id="cancel" action="#{newCardForm.cancel}" value="#{msgs['button.cancel']}"/>
					</h:panelGrid>
					<t:message id="generalError" for="providerType" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid> 
        </h:form>
    </h:panelGroup>

</ui:define>
</ui:composition>

</html>