<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="head">
    <SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
</ui:define>
<ui:define name="content">
	<t:saveState value="#{withdrawForm}" />
    <h:panelGroup>
        <h:form id="withdrawForm">
        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />
	        <h:panelGrid border="0" columns="1" width="100%">
		            <h:panelGrid columns="2" cellspacing="0" cellpadding="0" border="0">
						<h:outputLabel styleClass="text_gray_12_bold" for="email" value="#{msgs['moneybookers.email']}"/>
						<h:panelGrid columns="3" border="0" styleClass="" align="">
			                <h:inputText dir="ltr" size="25" maxlength="50" styleClass="new_input" id="email" value="#{withdrawForm.moneybookersEmail}" required="true">
			                    <f:validator validatorId="org.apache.myfaces.validator.Email"/>
			                </h:inputText>
			                <h:outputLabel value="&#160;"/>
							<t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>

						<h:panelGrid columns="2" border="0" width="100%" cellspacing="0" cellpading="0">
							<h:outputLabel styleClass="text_gray_12_bold" for="amount" value="#{msgs['bank.wire.amount']}"/>
						   	<h:outputText align="right"  styleClass="text_gray_12_bold" value="&#160;#{user.currency.code}"/>
						</h:panelGrid>

			            <h:panelGrid  columns="2" border="0" styleClass="" align="" >
		      	          	<h:inputText dir="ltr" styleClass="text_gray_12_bold" size="25" maxlength="9" id="amount" value="#{withdrawForm.amount}" required="true">
		 						<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
		                	</h:inputText>
	                    	<t:message id="amountError" for="amount" replaceIdWithLabel="true" styleClass="error"/>
		            	</h:panelGrid>

		                <t:outputLabel for="comments" value="#{msgs['transactions.comments']}"/>
		                <h:panelGrid columns="2" >
			                <h:inputTextarea id="comments" cols="50" rows="5" value="#{withdrawForm.comments}">
			 	          		<f:validateLength maximum="200"/>
			           		</h:inputTextarea>
			           		<t:message id="commentsError" for="comments" replaceIdWithLabel="true" styleClass="error"/>
		           		</h:panelGrid>
		           		

		           		
								<h:outputText value="#{msgs['withdraw.fee.global.exempt']}" />
		                			<t:selectBooleanCheckbox value="#{withdrawForm.feeCancel}" disabled = "#{!user.hasAccountingRole}"/>                	
		                		<h:outputText/>
	                    
		            	<h:panelGrid style="text-align:left" columns="1" border="0" width="30%" >
		            	

		            	
							<t:commandButton
				         		id="btnImage"
				         		image="/images/submit_u.jpg"
				         		onmouseover="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
				         		onmouseout="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
				         		onclick="gowait('withdrawForm:btnImage','withdrawForm:hiddenWithdraw','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
				         				 return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenWithdraw');" >
				         	</t:commandButton>

				         	<h:commandLink
				         	    id="hiddenWithdraw"
							    action="#{withdrawForm.insertMoneybookersWithdraw}"
							    style="display:none">
						   </h:commandLink>
			            </h:panelGrid>
            		</h:panelGrid>
            	</h:panelGrid>
        </h:form>
    </h:panelGroup>
</ui:define>
</ui:composition>

</html>