<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js">
</script>

	<SCRIPT language="javascript">
		function setCVVLength(ccType) {
			var EMPTY_STRING='';
			var AMEX_CVV_LENGTH=4;
			var NON_AMEX_CVV_LENGTH=3;
			var AMEX_TYPE_ID = 5;
			var ccPass = document.getElementById('withdrawForm:ccPass');
			ccPass.value=EMPTY_STRING;
			var len = ccType.value==AMEX_TYPE_ID ? AMEX_CVV_LENGTH : NON_AMEX_CVV_LENGTH
			ccPass.setAttribute('maxLength', len);
		}
	</SCRIPT>

	<t:saveState value="#{withdrawForm}" />

    <h:panelGroup >

        <h:form id="withdrawForm">

        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

            	<h:outputLabel for="typeId" value="#{msgs['creditcards.type']}"/>

	            <h:panelGrid border="0" columns="2">

          		  <h:selectOneMenu id="typeId" value="#{withdrawForm.typeId}" required="true" >
               			<f:selectItem  itemLabel="" itemValue="" />
               			<f:selectItems value="#{withdrawForm.ccTypes}" />
               	  </h:selectOneMenu>
            	  <t:message id="typeError" for="typeId" replaceIdWithLabel="true" styleClass="error"/>

    	       </h:panelGrid>

                <h:outputLabel for="ccNum" value="#{msgs['creditcards.ccNum']}"/>
			    <h:panelGrid border="0" columns="2">
        	        <h:inputText size="20" maxlength="20" dir="ltr" id="ccNum" value="#{withdrawForm.ccNum}" required="true">
 	        	    </h:inputText>
 	        	    <t:message id="ccNumError" for="ccNum" rendered="#{!withdrawForm.ccError}" replaceIdWithLabel="true" styleClass="error"/>
                	<h:outputText styleClass="error" rendered="#{withdrawForm.ccError}" value="#{msgs['error.creditcard.num']}"/>
    	       </h:panelGrid>


                 <h:outputLabel for="ccPass" value="#{msgs['creditcards.ccPass']}"/>
  			   <h:panelGrid border="0" columns="2">
                <h:inputText dir="ltr" size="1" maxlength='3' id="ccPass" value="#{withdrawForm.ccPass}" required="true">
                	<f:validateLongRange/>
 	            </h:inputText>
                <t:message id="ccPassError" for="ccPass" replaceIdWithLabel="true" styleClass="error"/>
              </h:panelGrid>

                <h:outputText id="exp" value="#{msgs['creditcards.expDate']}"/>
	            <h:panelGrid columns="2" border="0">
	            	<h:panelGrid dir="LTR" border="0" columns="4">
	            		<h:outputLabel for="expMonth" value="#{msgs['creditcards.month']}"/>
	            		<h:selectOneMenu id="expMonth" value="#{withdrawForm.expMonth}" >
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.months}" />
	               		</h:selectOneMenu>
	            		<h:outputLabel for="expYear" value="#{msgs['creditcards.year']}"/>
	               		<h:selectOneMenu id="expYear" value="#{withdrawForm.expYear}"  >
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.creditCardYears}" />
	               		</h:selectOneMenu>
			  		</h:panelGrid>
					<h:panelGrid border="0" columns="2">
	    	   		  <t:message id="expError" for="expMonth" replaceIdWithLabel="true" styleClass="error"/>
					  <t:message id="expError2" for="exp" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
         	  </h:panelGrid>

              <h:outputLabel for="holderName" value="#{msgs['creditcards.holderName']}"/>
              <h:panelGrid border="0" columns="2">
                <h:inputText size="30" maxlength="30" id="holderName" value="#{withdrawForm.holderName}" required="true"
                         validator="#{utils.validateLettersOnly}" >
 	            </h:inputText>
                <t:message id="holderNameError" for="holderName" replaceIdWithLabel="true" styleClass="error"/>
             </h:panelGrid>

             <h:outputLabel rendered="#{user.etrader}" for="holderIdNum" value="#{msgs['creditcards.holderIdNum']}"/>
             <h:panelGrid rendered="#{user.etrader}" border="0" columns="2">
                <h:inputText size="10" maxlength="10" dir="ltr" id="holderIdNum" value="#{withdrawForm.holderIdNum}" required="true"
						validator="#{utils.validateIdNum}" >
                </h:inputText>
                <t:message id="holderIdNumError" for="holderIdNum" replaceIdWithLabel="true" styleClass="error"/>
            </h:panelGrid>


             <h:outputLabel for="deposit" value="#{msgs['withdraw.amount']}"/>
			<h:panelGrid border="0" columns="3">
                <h:inputText dir="ltr" size="9" maxlength="9" id="deposit" value="#{withdrawForm.amount}" required="true">
 					<f:validateDoubleRange />
                </h:inputText>
                <h:outputText value="#{msgs[user.currency.symbol]}"/>
                <t:message id="depositError" for="deposit" replaceIdWithLabel="true" styleClass="error"/>
           </h:panelGrid>

           <t:selectBooleanCheckbox id="sendRecipt" value="#{withdrawForm.sendReceipt}" />
            <h:panelGrid border="0" columns="2">
                <t:outputLabel for="sendRecipt" value="#{msgs['deposit.sendreceipt']}"/>
                <t:message id="sendReciptError" for="sendRecipt" replaceIdWithLabel="true" styleClass="error"/>
           </h:panelGrid>

   		   </h:panelGrid>

			 <h:panelGrid style="text-align:left" columns="1" border="0" width="30%" >
					<t:commandButton
		         		id="btnImage"
		         		image="/images/submit_u.jpg"
		         		onmouseover="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
		         		onmouseout="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
		         		onclick="gowait('withdrawForm:btnImage','withdrawForm:hiddenDeposit','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
		         				 return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenDeposit');" >
		         	</t:commandButton>

		         	<h:commandLink
		         	    id="hiddenDeposit"
					    action="#{withdrawForm.insertCreditCardAndWithdraw}"
					    style="display:none">
				   </h:commandLink>

 			  </h:panelGrid>

            </h:panelGrid>

        </h:form>

    </h:panelGroup>


</ui:define>
</ui:composition>

</html>