<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="head">
    <script src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></script>
</ui:define>
<ui:define name="content">
	<t:saveState value="#{withdrawForm}" />
    <h:panelGroup >
        <h:form id="payPalForm">
			<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />
            <h:panelGrid columns="1" width="100%">
	            <h:outputText escape="false" value="#{withdrawForm.payPalApproveMessage}" />
   	            <h:outputText value="#{msgs['bank.wire.approve.question']}" />
   	            <br/><h:outputText rendered="#{withdrawForm.hasBonuses()}" escape="false" value="#{withdrawForm.approveMessageForBonuses}" />
				<h:panelGrid columns="2" style="text-align:center" width="50%">
				
					<t:commandButton
		         		id="withdrawApprove"
		         		action="#{withdrawForm.payPalApprove}"
		         		onclick="goDisabled('payPalForm:withdrawApprove');goDisabled('payPalForm:withdrawDeny');"
        				value="#{msgs['paypal.approve.yes']}"
        				styleClass="link_gray_12_bold">
		         	</t:commandButton>
		         	
		         	<t:commandButton
		         		id="withdrawDeny"
		         		action="#{withdrawForm.payPalNotApprove}"
		         		onclick="goDisabled('payPalForm:withdrawApprove');goDisabled('payPalForm:withdrawDeny');"
        				value="#{msgs['bank.wire.approve.no']}"
        				styleClass="link_gray_12_bold">
		         	</t:commandButton>
		         	
     	        </h:panelGrid>
            </h:panelGrid>
    	</h:form>
    </h:panelGroup>
</ui:define>
</ui:composition>

</html>

