<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition>
		<t:panelTab id="phoneRetentionContent" label="Sales" >
		<t:panelTabbedPane align="center"
	                  serverSideTabSwitch="true"
	                  styleClass="tabbedPane"
	                  activeTabStyleClass="activeTab"
	                  inactiveTabStyleClass="inactiveTab"
	                  disabledTabStyleClass="disabledTab"
	                  activeSubStyleClass="activeSub"
	                  inactiveSubStyleClass="inactiveSub"
	                  tabContentStyleClass="tabContent"
	                   >

	     	<t:panelTab id="con" label="#{msgs['menu.convertion']}"  >
			    <iframe name="content" id="contentCon" scrolling="yes" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/phoneRetention_conversion.jsf?refresh=true" width="100%" height="700px"></iframe>
			</t:panelTab>

			<t:panelTab id="ret" label="#{msgs['menu.retention']}"  >
			    <iframe name="content" id="contentRet" scrolling="yes" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/phoneRetention_retention.jsf?refresh=true" width="100%" height="700px"></iframe>
			</t:panelTab>
		</t:panelTabbedPane>
    </t:panelTab>
</ui:composition>
</f:view>