<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

    <t:saveState value="#{depositForm}" />

    <h:panelGroup >

		<h:form id="depositForm">

			<table border="0" cellpadding="0" cellspacing="0" align="center" class="points_balance_table">
				<tr><td height="10px"></td></tr>
				<tr>
					<td width="270px">
						<h:panelGrid border="0" columns="2" >
							<h:outputText styleClass="link_gray_12_bold" value="#{msgs['tier.points.info.tier.name']}"/>
							<h:outputText styleClass="data_display" value="#{msgs[user.tierUser.tierName]}" />

							<h:outputText styleClass="link_gray_12_bold" value="#{msgs['tier.points.info.tier.qualification.time']}"/>
							<h:outputText styleClass="data_display" value="#{user.tierUser.qualificationTimeTxt}" />

							<h:outputText styleClass="link_gray_12_bold" value="#{msgs['tier.points.info.tier.points.accumulate']}"/>
							<h:outputText styleClass="data_display" value="#{user.accumulatedPoints}"  />

							<h:outputText styleClass="link_gray_12_bold" value="#{msgs['tier.points.info.tier.points']}"/>
							<h:outputText styleClass="data_display" value="#{user.tierUser.points}"  />

							<h:outputText rendered="#{user.tierUser.tierId > 0}" styleClass="link_gray_12_bold" value="#{msgs['tier.points.info.tier.maintenance']}"/>
							<h:outputText rendered="#{user.tierUser.tierId > 0}" styleClass="data_display" value="#{user.maintenancePointsTxt}"  />

							<h:outputText rendered="#{!user.higherLvlTier}" styleClass="link_gray_12_bold" value="#{user.tierUpgrateMsg}"/>
							<h:outputText rendered="#{!user.higherLvlTier}" styleClass="data_display" value="#{user.pointsToNextLevelTxt}" />

						</h:panelGrid>
						<br/>
						<h:outputText styleClass="data_display" value="#{user.daysMsg}"/>
					</td>
					<td width="150px" align="center" valign="middle">
						<t:graphicImage value="/images/tier_#{user.tierUser.tierId}.jpg" border="0"/>
					</td>
				</tr>
			</table>

        </h:form>

    </h:panelGroup>



</ui:define>
</ui:composition>

</html>