<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">
	<f:view locale="#{user.locale}">
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"/>
	
		<SCRIPT LANGUAGE="JavaScript" >
	
			function gettext() {			
	
				out='#{msgs['questionnaire.optional.confirm.text']}';			
				return out;
			}
	
			function confirmit() {
	
	
				if (!confirm(gettext())) {
					return false;
				}
				return true;
	
			}	
			
			function validateInputText() {
				
				var checkBoxs = document.getElementsByName("questionnaireOptionalForm:question_47");
				var inputTxt = document.getElementById('questionnaireOptionalForm:other_text');
				var elementText = inputTxt.value;
				elementText = elementText.replace(/\s/g,"");
				
			if (elementText.length>0){				
					checkBoxs[3].checked=true
				} else {
					checkBoxs[3].checked=false
	
				}	
			}
	
		</SCRIPT>
	
	
	    <h:panelGroup >
	
	        <h:form id="questionnaireOptionalForm">
	        <ol>
		        	<li>
		        		<span>
		        			<h:outputText value="#{msgs[questionnaireOptionalForm.questions[0].name]}" />
		        		</span>
		        		<h:panelGrid  columns="2" border="0">
		        			<t:selectOneMenu id="#{'question_'}#{questionnaireOptionalForm.questions[0].id}"
												value="#{questionnaireOptionalForm.userAnswers[0].answerId}"
												required="true"
												disabled="#{questionnaireOptionalForm.edit}"
												requiredMessage="#{msgs['error.mandatory']}">
								<f:selectItem itemLabel="" noSelectionOption="true" />
								<f:selectItems value="#{questionnaireOptionalForm.questions[0].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
							</t:selectOneMenu>
							<t:message id="#{'error_'}#{questionnaireOptionalForm.questions[0].id}"
			   								for="#{'question_'}#{questionnaireOptionalForm.questions[0].id}"
			   								styleClass="error"/>
		        		</h:panelGrid>
		        	</li>
		        	<li>
		        		<span>
		        			<h:outputText value="#{msgs[questionnaireOptionalForm.questions[1].name]}"/>
		        		</span>
		        		<h:panelGrid  columns="2" border="0">
		        			<t:selectOneMenu id="#{'question_'}#{questionnaireOptionalForm.questions[1].id}"
												value="#{questionnaireOptionalForm.userAnswers[1].answerId}"
												required="true"
												disabled="#{questionnaireOptionalForm.edit}"
												requiredMessage="#{msgs['error.mandatory']}">
								<f:selectItem itemLabel="" noSelectionOption="true" />
								<f:selectItems value="#{questionnaireOptionalForm.questions[1].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
							</t:selectOneMenu>
							<t:message id="#{'error_'}#{questionnaireOptionalForm.questions[1].id}"
			   								for="#{'question_'}#{questionnaireOptionalForm.questions[1].id}"
			   								styleClass="error"/>
		        		</h:panelGrid>
		        	</li>
		        	<li>
		        		<span>
		        			<h:outputText value="#{msgs[questionnaireOptionalForm.questions[2].name]}"/>
		        		</span>
		        		<h:panelGrid  columns="2" border="0">
		        			<t:selectOneMenu id="#{'question_'}#{questionnaireOptionalForm.questions[2].id}"
												value="#{questionnaireOptionalForm.userAnswers[2].answerId}"
												required="true"
												disabled="#{questionnaireOptionalForm.edit}"
												requiredMessage="#{msgs['error.mandatory']}">
								<f:selectItem itemLabel="" noSelectionOption="true" />
								<f:selectItems value="#{questionnaireOptionalForm.questions[2].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
							</t:selectOneMenu>
							<t:message id="#{'error_'}#{questionnaireOptionalForm.questions[2].id}"
			   								for="#{'question_'}#{questionnaireOptionalForm.questions[2].id}"
			   								styleClass="error"/>
		        		</h:panelGrid>
		        	</li>
		        	<li>
		        		<span>
		        			<h:outputText value="#{msgs[questionnaireOptionalForm.questions[3].name]}"/>
		        		</span>
		        		<h:panelGrid  columns="2" border="0">
		        			<t:selectOneMenu id="#{'question_'}#{questionnaireOptionalForm.questions[3].id}"
												value="#{questionnaireOptionalForm.userAnswers[3].answerId}"
												required="true"
												disabled="#{questionnaireOptionalForm.edit}"
												requiredMessage="#{msgs['error.mandatory']}">
								<f:selectItem itemLabel="" noSelectionOption="true" />
								<f:selectItems value="#{questionnaireOptionalForm.questions[3].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
							</t:selectOneMenu>
							<t:message id="#{'error_'}#{questionnaireOptionalForm.questions[3].id}"
			   								for="#{'question_'}#{questionnaireOptionalForm.questions[3].id}"
			   								styleClass="error"/>
		        		</h:panelGrid>
		        	</li>
		        	<li>
		        		<span>
		        			<h:outputText value="#{msgs[questionnaireOptionalForm.questions[4].name]}"/>
		        		</span>
		        		<h:panelGrid  columns="2" border="0">
		        			<t:selectOneMenu id="#{'question_'}#{questionnaireOptionalForm.questions[4].id}"
												value="#{questionnaireOptionalForm.userAnswers[4].answerId}"
												required="true"
												disabled="#{questionnaireOptionalForm.edit}"
												requiredMessage="#{msgs['error.mandatory']}">
								<f:selectItem itemLabel="" noSelectionOption="true" />
								<f:selectItems value="#{questionnaireOptionalForm.questions[4].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
							</t:selectOneMenu>
							<t:message id="#{'error_'}#{questionnaireOptionalForm.questions[4].id}"
			   								for="#{'question_'}#{questionnaireOptionalForm.questions[4].id}"
			   								styleClass="error"/>
		        		</h:panelGrid>
		        	</li>
		        	<li class="optional_qr_container_many">
		        		<span>
		        			<h:outputText value="#{msgs[questionnaireOptionalForm.questions[10].name]}"/>
		        		</span>
		        		<h:panelGrid  columns="2" border="0">
		        			
		        			<t:selectManyCheckbox id="#{'question_'}#{questionnaireOptionalForm.questions[10].id}"
		        									value="#{questionnaireOptionalForm.checkedAnsweredIds}"
		        									required="true"
		        									disabled="#{questionnaireOptionalForm.edit}"
													requiredMessage="#{msgs['error.mandatory']}"
													layout="pageDirection" >
								<f:selectItems value="#{questionnaireOptionalForm.questions[10].answers}"
		        								var="answer"
		        								itemLabel="#{msgs[answer.name]}"
		        								itemValue="#{answer.id}" />
		        			</t:selectManyCheckbox>
		        			
							<t:message id="#{'error_'}#{questionnaireOptionalForm.questions[10].id}"
			   								for="#{'question_'}#{questionnaireOptionalForm.questions[10].id}"
			   								styleClass="error"/>
			   				<h:inputText  size="37" maxlength="15" value="#{questionnaireOptionalForm.multipleUserAnswers[3].textAnswer}"  disabled="#{questionnaireOptionalForm.edit}"
			   					onchange="validateInputText();" id="other_text">
			   				</h:inputText>		
			   				<t:message for="other_text" styleClass="error" />
		        		</h:panelGrid>
		        	</li>
		        	<li>
		        		<span>
		        			<h:outputText value="#{msgs[questionnaireOptionalForm.questions[5].name]}"/>
		        		</span>
		        		<h:panelGrid  columns="2" border="0">
		        			<t:selectOneMenu id="#{'question_'}#{questionnaireOptionalForm.questions[5].id}"
												value="#{questionnaireOptionalForm.userAnswers[5].answerId}"
												required="true"
												disabled="#{questionnaireOptionalForm.edit}"
												requiredMessage="#{msgs['error.mandatory']}">
								<f:selectItem itemLabel="" noSelectionOption="true" />
								<f:selectItems value="#{questionnaireOptionalForm.questions[5].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
							</t:selectOneMenu>
							<t:message id="#{'error_'}#{questionnaireOptionalForm.questions[5].id}"
			   								for="#{'question_'}#{questionnaireOptionalForm.questions[5].id}"
			   								styleClass="error"/>
		        		</h:panelGrid>
		        	</li>
		        	<li>
		        		<span>
		        			<h:outputText value="#{msgs[questionnaireOptionalForm.questions[6].name]}"/>
		        		</span>
		        		<h:panelGrid  columns="2" border="0">
		        			<t:selectOneMenu id="#{'question_'}#{questionnaireOptionalForm.questions[6].id}"
												value="#{questionnaireOptionalForm.userAnswers[6].answerId}"
												required="true"
												disabled="#{questionnaireOptionalForm.edit}"
												requiredMessage="#{msgs['error.mandatory']}">
								<f:selectItem itemLabel="" noSelectionOption="true" />
								<f:selectItems value="#{questionnaireOptionalForm.questions[6].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
							</t:selectOneMenu>
							<t:message id="#{'error_'}#{questionnaireOptionalForm.questions[6].id}"
			   								for="#{'question_'}#{questionnaireOptionalForm.questions[6].id}"
			   								styleClass="error"/>
		        		</h:panelGrid>
		        	</li>
		        	<li>
		        		<span>
		        			<h:outputText value="#{msgs[questionnaireOptionalForm.questions[7].name]}"/>
		        		</span>
		        		<h:panelGrid  columns="2" border="0">
		        			<t:selectOneMenu id="#{'question_'}#{questionnaireOptionalForm.questions[7].id}"
												value="#{questionnaireOptionalForm.userAnswers[7].answerId}"
												required="true"
												disabled="#{questionnaireOptionalForm.edit}"
												requiredMessage="#{msgs['error.mandatory']}">
								<f:selectItem itemLabel="" noSelectionOption="true" />
								<f:selectItems value="#{questionnaireOptionalForm.questions[7].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
							</t:selectOneMenu>
							<t:message id="#{'error_'}#{questionnaireOptionalForm.questions[7].id}"
			   								for="#{'question_'}#{questionnaireOptionalForm.questions[7].id}"
			   								styleClass="error"/>
		        		</h:panelGrid>
		        	</li>
		        	<li>
		        		<span>
		        			<h:outputText value="#{msgs[questionnaireOptionalForm.questions[8].name]}"/>
		        		</span>
		        		<h:panelGrid  columns="2" border="0">
		        			<t:selectOneMenu id="#{'question_'}#{questionnaireOptionalForm.questions[8].id}"
												value="#{questionnaireOptionalForm.userAnswers[8].answerId}"
												required="true"
												disabled="#{questionnaireOptionalForm.edit}"
												requiredMessage="#{msgs['error.mandatory']}">
								<f:selectItem itemLabel="" noSelectionOption="true" />
								<f:selectItems value="#{questionnaireOptionalForm.questions[8].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
							</t:selectOneMenu>
							<t:message id="#{'error_'}#{questionnaireOptionalForm.questions[8].id}"
			   								for="#{'question_'}#{questionnaireOptionalForm.questions[8].id}"
			   								styleClass="error"/>
		        		</h:panelGrid>
		        	</li>
		        	<li>
		        		<span>
		        			<h:outputText value="#{msgs[questionnaireOptionalForm.questions[9].name]}"/>
		        		</span>
		        		<h:panelGrid  columns="2" border="0">
		        			<t:selectOneMenu id="#{'question_'}#{questionnaireOptionalForm.questions[9].id}"
												value="#{questionnaireOptionalForm.userAnswers[9].answerId}"
												required="true"
												disabled="#{questionnaireOptionalForm.edit}"
												requiredMessage="#{msgs['error.mandatory']}">
								<f:selectItem itemLabel="" noSelectionOption="true" />
								<f:selectItems value="#{questionnaireOptionalForm.questions[9].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
							</t:selectOneMenu>
							<t:message id="#{'error_'}#{questionnaireOptionalForm.questions[9].id}"
			   								for="#{'question_'}#{questionnaireOptionalForm.questions[9].id}"
			   								styleClass="error"/>
		        		</h:panelGrid>
		        	</li>
		        </ol>
		        <h:panelGrid style="text-align:left" columns="1" border="0" width="150px" >
					<t:commandButton
		         		id="btnImage"
		         		image="/images/submit_u.jpg"
		         		rendered="#{!questionnaireOptionalForm.edit}"
		         		onmouseover="Changepic('questionnaireOptionalForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
		         		onmouseout="Changepic('questionnaireOptionalForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
		         		onclick="if(!confirmit()) return false;
		         				 gowait('questionnaireOptionalForm:btnImage','questionnaireOptionalForm:hiddenQuestMand','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
		         				 return myfaces.oam.submitForm('questionnaireOptionalForm','questionnaireOptionalForm:hiddenQuestMand');" >
		         	</t:commandButton>
		
		         	<h:commandLink
		         	    id="hiddenQuestMand"
		         	    disabled="#{questionnaireOptionalForm.edit}"
					    action="#{questionnaireOptionalForm.submitQuestionnaire}"
					    style="display:none">
				   </h:commandLink>
				</h:panelGrid>
	        </h:form>	
	    </h:panelGroup>
	</f:view>
</ui:define>
</ui:composition>
</html>