<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >
      
<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">
	<f:view locale="#{user.locale}">
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"/>
	
		<script language="JavaScript">
	
			function gettext() {			
	
				out='#{msgs['questionnaire.mandatory.confirm.text']}';			
				return out;
			}
	
			function confirmit() {
	
	
				if (!confirm(gettext())) {
					return false;
				}
				return true;
	
			}	
	
		</script>
	
	
	    <h:panelGroup >
	
	        <h:form id="questionnaireMandatoryForm">
				    <ui:remove>
			        <t:dataList layout="orderedList" value="#{questionnaireMandatoryForm.questions}" var="question">
					    <span>
					    	<h:outputText value="#{msgs[question.name]}"/>
				    	</span><br/>
				    	<h:selectOneRadio id="#{'question_'}#{question.name}" value="" required="true">
			   				<f:selectItems value="#{question.answers}" var="answer" itemLabel="#{msgs[answer.name]}" itemValue="#{answer.id}" />
				   		</h:selectOneRadio>
				   		<div class="error">
			   					<t:message id="#{'error_'}#{question.name}" for= "#{'question_'}#{question.name}" replaceIdWithLabel="true"/>
			   			</div>
					</t:dataList>
				</ui:remove>
				<!-- 1Q -->
				<ol>
					<li>					
						<span>
							<h:outputText value="#{msgs[questionnaireMandatoryForm.questions[0].name]}"/>
						</span><br/>
						<h:panelGrid  columns="2" border="0">
							<t:selectOneRadio id="#{'question_'}#{questionnaireMandatoryForm.questions[0].id}"
												value="#{questionnaireMandatoryForm.userAnswers[0].answerId}"
												disabled="#{questionnaireMandatoryForm.edit}"
												required="true"
												requiredMessage="#{msgs['error.mandatory']}">								
				   				<f:selectItems value="#{questionnaireMandatoryForm.questions[0].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
					   		</t:selectOneRadio>
		   					<t:message id="#{'error_'}#{questionnaireMandatoryForm.questions[0].id}"
			   								for="#{'question_'}#{questionnaireMandatoryForm.questions[0].id}"
			   								styleClass="error"/>
						</h:panelGrid>
					</li>
					<!-- 2Q -->
					<li>					
						<span>
							<h:outputText value="#{msgs[questionnaireMandatoryForm.questions[1].name]}"/>
						</span><br/>
						<h:panelGrid  columns="2" border="0">
							<t:selectOneRadio id="#{'question_'}#{questionnaireMandatoryForm.questions[1].id}"
												value="#{questionnaireMandatoryForm.userAnswers[1].answerId}"
												disabled="#{questionnaireMandatoryForm.edit}"
												required="true"
												requiredMessage="#{msgs['error.mandatory']}">
				   				<f:selectItems value="#{questionnaireMandatoryForm.questions[1].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
					   		</t:selectOneRadio>
		   					<t:message id="#{'error_'}#{questionnaireMandatoryForm.questions[1].id}"
			   								for="#{'question_'}#{questionnaireMandatoryForm.questions[1].id}"
			   								styleClass="error"/>
						</h:panelGrid>
					</li>
					
									<li>					
						<span>
							<h:outputText value="#{msgs[questionnaireMandatoryForm.questions[2].name]}"/>
						</span><br/>
						<h:panelGrid  columns="2" border="0">
							<t:selectOneRadio id="#{'question_'}#{questionnaireMandatoryForm.questions[2].id}"
												value="#{questionnaireMandatoryForm.userAnswers[2].answerId}"
												disabled="#{questionnaireMandatoryForm.edit}"
												required="true"
												requiredMessage="#{msgs['error.mandatory']}">
				   				<f:selectItems value="#{questionnaireMandatoryForm.questions[2].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
					   		</t:selectOneRadio>
		   					<t:message id="#{'error_'}#{questionnaireMandatoryForm.questions[2].id}"
			   								for="#{'question_'}#{questionnaireMandatoryForm.questions[2].id}"
			   								styleClass="error"/>
						</h:panelGrid>
					</li>
					<li>					
						<span>
							<h:outputText value="#{msgs[questionnaireMandatoryForm.questions[3].name]}"/>
						</span><br/>
						<h:panelGrid  columns="2" border="0">
							<t:selectOneRadio id="#{'question_'}#{questionnaireMandatoryForm.questions[3].id}"
												value="#{questionnaireMandatoryForm.userAnswers[3].answerId}"
												disabled="#{questionnaireMandatoryForm.edit}"
												required="true"
												requiredMessage="#{msgs['error.mandatory']}">											
				   				<f:selectItems value="#{questionnaireMandatoryForm.questions[3].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
					   		</t:selectOneRadio>
		   					<t:message id="#{'error_'}#{questionnaireMandatoryForm.questions[3].id}"
			   								for="#{'question_'}#{questionnaireMandatoryForm.questions[3].id}"
			   								styleClass="error"/>
						</h:panelGrid>
					</li>
					<ui:remove>
						<!-- TODO Show this list item when question 5 QUESTION_FUNDS_ORIGIN is viewable again. -->
						<li>					
							<span>
								<h:outputText value="#{msgs[questionnaireMandatoryForm.questions[4].name]}"/>
							</span><br/>
							<h:panelGrid  columns="2" border="0">
								<t:selectOneRadio id="#{'question_'}#{questionnaireMandatoryForm.questions[4].id}"
													value="#{questionnaireMandatoryForm.userAnswers[4].answerId}"
													disabled="#{questionnaireMandatoryForm.edit}"
													required="true"
													requiredMessage="#{msgs['error.mandatory']}">
					   				<f:selectItems value="#{questionnaireMandatoryForm.questions[4].answers}"
					   									var="answer"
					   									itemLabel="#{msgs[answer.name]}"
					   									itemValue="#{answer.id}"/>
						   		</t:selectOneRadio>
			   					<t:message id="#{'error_'}#{questionnaireMandatoryForm.questions[4].id}"
				   								for="#{'question_'}#{questionnaireMandatoryForm.questions[4].id}"
				   								styleClass="error"/>
							</h:panelGrid>
						</li>
					</ui:remove>
					<li>					
						<span>
							<h:outputText value="#{msgs[questionnaireMandatoryForm.questions[5].name]}"/>
						</span><br/>
						<h:panelGrid  columns="2" border="0">
							<t:selectOneRadio id="#{'question_'}#{questionnaireMandatoryForm.questions[5].id}"
												value="#{questionnaireMandatoryForm.userAnswers[5].answerId}"
												disabled="#{questionnaireMandatoryForm.edit}"
												required="true"
												requiredMessage="#{msgs['error.mandatory']}">
				   				<f:selectItems value="#{questionnaireMandatoryForm.questions[5].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
					   		</t:selectOneRadio>
		   					<t:message id="#{'error_'}#{questionnaireMandatoryForm.questions[5].id}"
			   								for="#{'question_'}#{questionnaireMandatoryForm.questions[5].id}"
			   								styleClass="error"/>
						</h:panelGrid>
					</li>
					<li>								
				   		<h:selectBooleanCheckbox id="#{'question_'}#{questionnaireMandatoryForm.questions[6].id}"
			   									value="#{questionnaireMandatoryForm.PEPanswer}" 
			   									disabled="#{questionnaireMandatoryForm.edit}"
			   									required="true"
			   									requiredMessage="#{msgs['error.mandatory']}"
												onchange="updateMandQuestValues();"
												style="margin: 0 6px 0 0; vertical-align: middle;"/>
						<h:outputText value="#{msgs[questionnaireMandatoryForm.questions[6].name]}"/>						
	   					<t:message id="#{'error_'}#{questionnaireMandatoryForm.questions[6].id}"
		   								for="#{'question_'}#{questionnaireMandatoryForm.questions[6].id}"
		   								styleClass="error"/>
					</li>
					</ol>
					<h:panelGrid style="text-align:left" columns="1" border="0" width="150px" >
							<t:commandButton
				         		id="btnImage"
				         		rendered="#{!questionnaireMandatoryForm.edit}"
				         		image="/images/submit_u.jpg"
				         		onmouseover="Changepic('questionnaireMandatoryForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
				         		onmouseout="Changepic('questionnaireMandatoryForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
				         		onclick="if(!confirmit()) return false;
				         				 gowait('questionnaireMandatoryForm:btnImage','questionnaireMandatoryForm:hiddenQuestMand','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
				         				 return myfaces.oam.submitForm('questionnaireMandatoryForm','questionnaireMandatoryForm:hiddenQuestMand');" >
				         	</t:commandButton>
	
				         	<h:commandLink
				         	    id="hiddenQuestMand"
				         	    disabled="#{questionnaireMandatoryForm.edit}"
							    action="#{questionnaireMandatoryForm.submitQuestionnaire}"
							    style="display:none">
						   </h:commandLink>
				   </h:panelGrid>
	        </h:form>	
	    </h:panelGroup>
	</f:view>
</ui:define>
</ui:composition>
</html>