<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >
      
<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">
	<f:view locale="#{user.locale}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/jquery.js" type="text/javascript"/>
		
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"/>
	
		<script language="JavaScript">
	
			function gettext() {			
	
				out='#{msgs['questionnaire.mandatory.confirm.text']}';			
				return out;
			}
	
			function confirmit() {
	
	
				if (!confirm(gettext())) {
					return false;
				}
				return true;
	
			}	
			
			function checkOther(el, otherEl, otherValue){
				if(el.value == otherValue){
					$("#"+otherEl).css("display", "block");
				}else{
					$("#"+otherEl).css("display", "none");
					$("#"+otherEl).find("input").val("");
				}
			}
	
		</script>
	
	
	    <h:panelGroup >
	
	        <h:form id="regSingleQuestionnaireForm">
				<!-- 1Q -->
				<ol>
					<li>					
						<span>
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[0].name]}"/>
						</span><br/>
						
					<div>
						<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[0].id}"
											value="#{regSingleQuestionnaireForm.userAnswers[0].answerId}"
											disabled="#{!regSingleQuestionnaireForm.edit}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regSingleQuestionnaireForm.questions[0].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
						</t:selectOneMenu>
							<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[0].id}"
			   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[0].id}"
			   								styleClass="error"/>
					</div>
					</li>
					<!-- 2Q -->
					<li>					
						<span>
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[1].name]}"/>
						</span><br/>
						
					<div>
						<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[1].id}"
											value="#{regSingleQuestionnaireForm.userAnswers[1].answerId}"
											disabled="#{!regSingleQuestionnaireForm.edit}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regSingleQuestionnaireForm.questions[1].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
						</t:selectOneMenu>
							<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[1].id}"
			   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[1].id}"
			   								styleClass="error"/>
					</div>
					</li>
					<!-- 3Q -->
					<li>					
						<span>
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[2].name]}"/>
						</span><br/>
						
					<div class="select-wrapper ">
						<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[2].id}"
											value="#{regSingleQuestionnaireForm.userAnswers[2].answerId}"
											disabled="#{!regSingleQuestionnaireForm.edit}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regSingleQuestionnaireForm.questions[2].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
						</t:selectOneMenu>
							<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[2].id}"
			   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[2].id}"
			   								styleClass="error"/>
					</div>
					</li>
					<!-- 4Q -->
					<li>					
						<span>
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[3].name]}"/>
						</span><br/>
						
					<div class="select-wrapper ">
						<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[3].id}"
											value="#{regSingleQuestionnaireForm.userAnswers[3].answerId}"
											disabled="#{!regSingleQuestionnaireForm.edit}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regSingleQuestionnaireForm.questions[3].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
						</t:selectOneMenu>
							<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[3].id}"
			   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[3].id}"
			   								styleClass="error"/>
					</div>
					</li>
					<!-- 5Q -->
					<li>					
						<span>
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[4].name]}"/>
						</span><br/>
						
						<div class="select-wrapper ">
							<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[4].id}"
												value="#{regSingleQuestionnaireForm.userAnswers[4].answerId}"
												disabled="#{!regSingleQuestionnaireForm.edit}"
												required="true"
												onchange="checkOther(this, '#{'question_'}#{regSingleQuestionnaireForm.questions[4].id}_other', 365);"
												requiredMessage="#{msgs['error.mandatory']}">
								<f:selectItem itemLabel="" noSelectionOption="true" />
								<f:selectItems value="#{regSingleQuestionnaireForm.questions[4].answers}"
					   									var="answer"
					   									itemLabel="#{msgs[answer.name]}"
					   									itemValue="#{answer.id}"/>
							</t:selectOneMenu>
								<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[4].id}"
				   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[4].id}"
				   								styleClass="error"/>
						</div>
						<div id="#{'question_'}#{regSingleQuestionnaireForm.questions[4].id}_other" style="#{(regSingleQuestionnaireForm.userAnswers[4].answerId != 365) ? 'display:none;' : ''}">
				          <h:inputText size="37" maxlength="15" value="#{regSingleQuestionnaireForm.userAnswers[4].textAnswer}"
				             id="other_text"
				             styleClass="funnel_inp mt5"
				             onblur="updateSingleQuestValues();"
				             disabled="#{!regSingleQuestionnaireForm.edit}">
				          </h:inputText> 
				         </div>
					</li>
					<!-- 6Q -->
					<li>					
						<span>
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[5].name]}"/>
						</span><br/>
						
					<div class="select-wrapper ">
						<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[5].id}"
											value="#{regSingleQuestionnaireForm.userAnswers[5].answerId}"
											disabled="#{!regSingleQuestionnaireForm.edit}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regSingleQuestionnaireForm.questions[5].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
						</t:selectOneMenu>
							<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[5].id}"
			   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[5].id}"
			   								styleClass="error"/>
					</div>
					</li>
					<!-- 7Q -->
					<li>					
						<span>
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[6].name]}"/>
						</span><br/>
						
					<div class="select-wrapper ">
						<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[6].id}"
											value="#{regSingleQuestionnaireForm.userAnswers[6].answerId}"
											disabled="#{!regSingleQuestionnaireForm.edit}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regSingleQuestionnaireForm.questions[6].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
						</t:selectOneMenu>
							<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[6].id}"
			   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[6].id}"
			   								styleClass="error"/>
					</div>
					</li>
					<!-- 8Q -->
					<li>					
						<span>
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[7].name]}"/>
						</span><br/>
						
					<div class="select-wrapper ">
						<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[7].id}"
											value="#{regSingleQuestionnaireForm.userAnswers[7].answerId}"
											disabled="#{!regSingleQuestionnaireForm.edit}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regSingleQuestionnaireForm.questions[7].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
						</t:selectOneMenu>
							<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[7].id}"
			   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[7].id}"
			   								styleClass="error"/>
					</div>
					</li>
					<!-- 9Q -->
					<li>					
						<span>
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[8].name]}"/>
						</span><br/>
						
					<div class="select-wrapper ">
						<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[8].id}"
											value="#{regSingleQuestionnaireForm.userAnswers[8].answerId}"
											disabled="#{!regSingleQuestionnaireForm.edit}"
											required="true"
											
											requiredMessage="#{msgs['error.mandatory']}">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regSingleQuestionnaireForm.questions[8].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
						</t:selectOneMenu>
						<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[8].id}"
			   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[8].id}"
			   								styleClass="error"/>
					</div>
					</li>
					<!-- 10Q -->
					<li>
						<span>								
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[9].name]}"/>
						</span><br/>						
				   		<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[9].id}"
				   								value="#{regSingleQuestionnaireForm.userAnswers[9].answerId}"
			   									disabled="#{!regSingleQuestionnaireForm.edit}"
			   									requiredMessage="#{msgs['error.mandatory']}"
												style="margin: 0 6px 0 0; vertical-align: middle;">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regSingleQuestionnaireForm.questions[9].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
   						</t:selectOneMenu>				
	   					<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[9].id}"
		   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[9].id}"
		   								styleClass="error"/>
					</li>
					<!-- 11Q -->
					<li>
						<span>								
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[10].name]}"/>						
						</span><br/>								
				   		<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[10].id}"
				   								value="#{regSingleQuestionnaireForm.userAnswers[10].answerId}"
			   									disabled="#{!regSingleQuestionnaireForm.edit}"
			   									requiredMessage="#{msgs['error.mandatory']}"
												style="margin: 0 6px 0 0; vertical-align: middle;">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regSingleQuestionnaireForm.questions[10].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
   						</t:selectOneMenu>
	   					<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[10].id}"
		   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[10].id}"
		   								styleClass="error"/>
					</li>
					<!-- 12Q -->
					<li>
						<span>								
							<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[11].name]}"/>						
						</span><br/>								
				   		<t:selectOneMenu id="#{'question_'}#{regSingleQuestionnaireForm.questions[11].id}"
				   								value="#{regSingleQuestionnaireForm.userAnswers[11].answerId}"
			   									disabled="#{!regSingleQuestionnaireForm.edit}"
												style="margin: 0 6px 0 0; vertical-align: middle;" rendered="#{!regSingleQuestionnaireForm.missing12Quest}">
							<f:selectItem itemLabel="" noSelectionOption="true" />
							<f:selectItems value="#{regSingleQuestionnaireForm.questions[11].answers}"
				   									var="answer"
				   									itemLabel="#{msgs[answer.name]}"
				   									itemValue="#{answer.id}"/>
   						</t:selectOneMenu>												
						<h:inputText value="NULL" rendered="#{regSingleQuestionnaireForm.missing12Quest}" disabled="true" size="5"/>													
	   					<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[11].id}"
		   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[11].id}"
		   								styleClass="error"/>
		   								
					</li>
<!-- Checkboxes-->	
					<!-- 13Q -->
					<li>		
				   		<h:selectBooleanCheckbox id="#{'question_'}#{regSingleQuestionnaireForm.questions[12].id}"
				   								value="#{regSingleQuestionnaireForm.answer12}"
			   									disabled="#{!regSingleQuestionnaireForm.edit}"
			   									requiredMessage="#{msgs['error.mandatory']}"
												style="margin: 0 6px 0 0; vertical-align: middle;"/>
						<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[12].name]}"/>						
	   					<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[12].id}"
		   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[12].id}"
		   								styleClass="error"/>
					</li>
					<!-- 14Q -->
					<li>								
				   		<h:selectBooleanCheckbox id="#{'question_'}#{regSingleQuestionnaireForm.questions[13].id}"
				   								value="#{regSingleQuestionnaireForm.answer13}"
			   									disabled="#{!regSingleQuestionnaireForm.edit}"
			   									requiredMessage="#{msgs['error.mandatory']}"
												style="margin: 0 6px 0 0; vertical-align: middle;"/>
						<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[13].name]}"/>						
	   					<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[13].id}"
		   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[13].id}"
		   								styleClass="error"/>
					</li>
					<!-- 15Q -->
					<li>								
				   		<h:selectBooleanCheckbox id="#{'question_'}#{regSingleQuestionnaireForm.questions[14].id}"
				   								value="#{regSingleQuestionnaireForm.answer14}"
			   									disabled="#{!regSingleQuestionnaireForm.edit}"
												style="margin: 0 6px 0 0; vertical-align: middle;" rendered="#{!regSingleQuestionnaireForm.missing12Quest}"/>
						<h:inputText value="NULL" rendered="#{regSingleQuestionnaireForm.missing12Quest}" disabled="true" size="5"/>													
						<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[14].name]}"/>						
	   					<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[14].id}"
		   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[14].id}"
		   								styleClass="error"/>
					</li>
				<!-- 16Q -->
					<li>								
				   		<h:selectBooleanCheckbox id="#{'question_'}#{regSingleQuestionnaireForm.questions[15].id}"
				   								value="#{regSingleQuestionnaireForm.answer15}"
			   									disabled="#{!regSingleQuestionnaireForm.edit}"
			   									validator="#{regSingleQuestionnaireForm.validateCheckBox}"
			   									requiredMessage="#{msgs['error.mandatory']}"
												style="margin: 0 6px 0 0; vertical-align: middle;"/>
						<h:outputText value="#{msgs[regSingleQuestionnaireForm.questions[15].name]}"/>						
	   					<t:message id="#{'error_'}#{regSingleQuestionnaireForm.questions[15].id}"
		   								for="#{'question_'}#{regSingleQuestionnaireForm.questions[15].id}"
		   								styleClass="error"/>
					</li>
					</ol>
<!-- Q end-->					
					<h:panelGrid style="text-align:left" columns="1" border="0" width="150px" >
							<t:commandButton
				         		id="btnImage"
				         		rendered="#{regSingleQuestionnaireForm.edit}"
				         		image="/images/submit_u.jpg"
				         		onmouseover="Changepic('regSingleQuestionnaireForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
				         		onmouseout="Changepic('regSingleQuestionnaireForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
				         		onclick="if(!confirmit()) return false;
				         				 gowait('regSingleQuestionnaireForm:btnImage','regSingleQuestionnaireForm:hiddenQuestMand','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
				         				 return myfaces.oam.submitForm('regSingleQuestionnaireForm','regSingleQuestionnaireForm:hiddenQuestMand');" >
				         	</t:commandButton>
						 <h:commandLink
								id="hiddenQuestMand"
								disabled="true"
								action="#{regSingleQuestionnaireForm.submitQuestionnaire}"
								style="display:none">
							</h:commandLink>
				   </h:panelGrid>
	        </h:form>	
	    </h:panelGroup>
	</f:view>
</ui:define>
</ui:composition>
</html>