<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"/>

	<t:saveState value="#{reverseWithdrawForm}" />

    <h:panelGroup >

		<h:form id="reverseWithdrawForm">

		<h:inputHidden value="#{visit.generate}" />
        <h:inputHidden value="#{visit.saveToken}" />

		<h:panelGrid border="0" columns="1" width="100%">

        <h:outputText styleClass="general_message" rendered="#{reverseWithdrawForm.listSize==0}"
  		   				value="#{msgs['reverseWithdraw.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{reverseWithdrawForm.transactionsList}"
           >
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.id']}"/>
               </f:facet>
               <h:outputText value="#{v.id}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.date']}"/>
               </f:facet>
               <h:outputText escape="false" dir="ltr" value="#{transactionFormater.getTimeCreatedTxt(v)}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.desc']}"/>
               </f:facet>
               <h:outputText value="#{msgs[v.typeName]}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.debit']}"/>
               </f:facet>
               <h:outputText rendered="#{!v.credit}" value="#{transactionFormater.getAmountTxt(v)}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['reverseWithdraw.select']}"/>
               </f:facet>
               <h:selectBooleanCheckbox id="select" value="#{v.selected}" > </h:selectBooleanCheckbox>

           </h:column>

        </t:dataTable>

            <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{reverseWithdrawForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>

		 <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
					<t:commandButton
		         		id="btnImage"
		         		image="/images/submit_u.jpg"
		         		onmouseover="Changepic('reverseWithdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
		         		onmouseout="Changepic('reverseWithdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
		         		onclick="gowait('reverseWithdrawForm:btnImage','reverseWithdrawForm:hiddenWithdraw','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
		         				 return myfaces.oam.submitForm('reverseWithdrawForm','reverseWithdrawForm:hiddenWithdraw');" >
		         	</t:commandButton>

		         	<h:commandLink
		         	    id="hiddenWithdraw"
					    action="#{reverseWithdrawForm.reverseWithdraw}"
					    style="display:none">
				   </h:commandLink>
        </h:panelGrid>
        </h:panelGrid>

        </h:form>



    </h:panelGroup>

</ui:define>
</ui:composition>

</html>