<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
      
	<head>
		<title></title>
	    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
		<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
	</head>
	<body>		
		<h:form id="editRewardUserForm">
			#{editRewardUserForm.init}
			
			<h:panelGrid style="text-align:center" columns="1" border="0" width="100%" >
				<h:outputText styleClass="trader_tool_title" value="#{msgs['rewards.edit.exp.pnts']}"/>
			</h:panelGrid>
			<br/><br/>
		    	
			<h:panelGrid  columns="3">	
				<h:outputText styleClass="info_messages" value="#{msgs['rewards.exp.pnts']}"/>
				<h:inputText styleClass="input" style="width:110px" maxlength="10" id="expPnts" value="#{editRewardUserForm.experiencePoints}" required="true">
					<f:convertNumber pattern="#{presentationPatterns.displayDecimalPattern}" />
				</h:inputText>
				<t:message id="expPntsError" for="expPnts" replaceIdWithLabel="true" styleClass="error"/>
						
				<h:outputText styleClass="info_messages" value="#{msgs['login.username']}"/>
				<h:inputText styleClass="input" style="width:110px" maxlength="9" id="userName" value="#{editRewardUserForm.userName}" required="true"></h:inputText>
				<t:message id="userNameError" for="userName" replaceIdWithLabel="true" styleClass="error"/>
		
				<h:outputText styleClass="info_messages" value="#{msgs['login.password']}"/>
				<h:inputSecret  type="password" styleClass="input" style="width:110px" maxlength="9" id="password" value="#{editRewardUserForm.password}" required="true"></h:inputSecret>
				<t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>
		
		    <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
		     	<h:commandLink action="#{editRewardUserForm.submit}">
		            <h:outputText styleClass="info_messages"  value="#{msgs['submit']}" style="font-size:20px;"/>
				</h:commandLink>
			</h:panelGrid>
			
			<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
				<t:messages styleClass="general_message" globalOnly="true"/>
			</h:panelGrid>		
		</h:form>
	</body>						
</html>