<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

	<t:saveState value="#{issuesForm}" />
	<h:form id="issuesForm">
		<h:inputHidden value="#{visit.generate}" />
	    <h:inputHidden value="#{visit.saveToken}" />
	    <h:panelGroup>
	    
	    			
	<h:panelGrid border="0" columns="2">
	<h:panelGrid border="0">				
			<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" />
		   	<h:selectManyListbox id="skinId" value="#{issuesForm.skinList}" rendered="#{writer.skinsSize>1}" style="height:150px">
	       		<f:selectItems value="#{writer.skinsAndEmptySI}" />
	        </h:selectManyListbox>
	</h:panelGrid>			
	<h:panelGrid border="0" >			
	    
			<h:panelGrid border="0" columns="16" style="display: vertical-align: top;">
				
				<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="from" value="#{issuesForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['issuesForm'].elements['issuesForm:from'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['issuesForm'].elements['issuesForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

		        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
		        
				<h:panelGrid border="0" columns="3">
	  			  <h:inputText styleClass="input_text" id="to" value="#{issuesForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['issuesForm'].elements['issuesForm:to'],'anchor2','dd/MM/yyyy'); return false;">
	    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			      </h:inputText>
			      <A HREF="#" onClick="cal.select(document.forms['issuesForm'].elements['issuesForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		          </A>
				  <t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
                
                <h:panelGrid border="0" columns="11" style="display: vertical-align: middle;">
                
				<h:outputText value="#{msgs['transactions.searchby']}" rendered="true"/>
	           	<t:selectOneRadio value="#{issuesForm.searchBy}" rendered="true" style="display: vertical-align: top ,text-align:center; margin-top: -3px;">
	          		<f:selectItem itemLabel="#{msgs['issues.timeCreatedAt']}" itemValue="1" />
					<f:selectItem itemLabel="#{msgs['issues.timeUpdatedAt']}" itemValue="0" />
	           	</t:selectOneRadio>
                
   				<t:outputText value="#{msgs['pendingwithdraws.userid']}" style="margin-top: 1px;"/>
				<t:inputText id="userid" size="10" maxlength="10" dir="ltr" value="#{issuesForm.userId}" >
				  	  	<f:validateLongRange/>
				</t:inputText>
				<t:message id="useridError" for="userid" replaceIdWithLabel="true" styleClass="error"/>
               
	           	<h:outputText value="#{msgs['transactions.username']}" />
	            <h:inputText dir="ltr" size="30" maxlength="50" id="userName" value="#{issuesForm.userName}" />
				<h:outputText value="#{msgs['issues.priority']}"/>
               	<h:selectOneMenu id="priority" value="#{issuesForm.priorityId}" >
           			<f:selectItem  itemLabel="" itemValue="" />
           			<f:selectItems value="#{writer.issuePrioritiesSI}" />
               	</h:selectOneMenu>
               	</h:panelGrid>
			</h:panelGrid>

			<h:panelGrid border="0" columns="8">
                <h:outputLabel rendered="#{!user.adminSelected}" value="#{msgs['risk.status']}"/>
				<h:selectManyListbox rendered="#{!user.adminSelected}" id="supportStatus"  value="#{issuesForm.statuses}" >
					<f:selectItems 	value="#{writer.supportRiskStatusesSI}"/>
				</h:selectManyListbox>

	            <h:outputLabel rendered="#{user.adminSelected}" value="#{msgs['risk.status']}"/>
				<h:selectManyListbox rendered="#{user.adminSelected}" id="statusAdmin"  value="#{issuesForm.statuses}" >
					<f:selectItems value="#{writer.allRiskStatusesSI}"/>
				</h:selectManyListbox>

				<h:outputText value="#{msgs['risk.reason']}"/>
               	<h:selectOneMenu id="reason" value="#{issuesForm.subjectId}" >
           			<f:selectItem  itemLabel="" itemValue="" />
           			<f:selectItems value="#{writer.riskReasonSI}" />
               	</h:selectOneMenu>

				<t:outputLabel  for="classId" value="#{msgs['user.classes.type']}"/>
				<t:selectOneMenu id="classId" value="#{issuesForm.classId}">
					<f:selectItems value="#{writer.userClassesSI}" />
				</t:selectOneMenu>

	  		</h:panelGrid>

	  		<h:panelGrid border="0" columns="3">
				<t:outputLabel  for="riskTyoe" value="#{msgs['risk.request']}"/>
				<t:selectOneMenu id="riskType" value="#{issuesForm.riskIssueType}">
					<f:selectItems value="#{writer.riskIssueTypesSI}" />
				</t:selectOneMenu>

				<t:commandLink id="search" action="#{issuesForm.searchRisk}">
		             <h:outputText value="#{msgs['button.search']}" />
	  			</t:commandLink>
	  		</h:panelGrid>
	  			</h:panelGrid>		</h:panelGrid>	
		</h:panelGroup>
			<br/><br/>
			<h:outputText styleClass="general_message" rendered="#{issuesForm.listSize==0}"
  		   				value="#{msgs['issues.emptylist']}"/>

			<t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
				varDetailToggler="detailToggler"
                value="#{issuesForm.list}">

				<h:column>
					<f:facet name="header">
					</f:facet>
					<t:commandLink rendered="#{v.expandCollapseRI != 0}" action="#{issuesForm.updateCollapseExpand}" immediate="true">
						<h:graphicImage  rendered="#{v.expandCollapseRI == 1}"  value="/images/collapse.gif" style="border:none; cursor:pointer" />
						<h:graphicImage  rendered="#{v.expandCollapseRI == 2}"  value="/images/expand.gif" style="border:none; cursor:pointer" />
						<f:setPropertyActionListener target="#{issuesForm.issue}" value="#{v}" />
					</t:commandLink>
				</h:column>


				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['issues.id']}"/>
					</f:facet>
					<t:commandLink action="#{issuesForm.navigateToIssueActions}" immediate="true">
						<h:outputText value="#{v.id}" style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}"  />
						<f:setPropertyActionListener target="#{issuesForm.issue}" value="#{v}" />
					</t:commandLink>
				</h:column>

				<h:column>
					<f:facet name="header">
						<t:commandLink style="color:#FFFFFF;" action="#{issuesForm.sortList}" >
							<h:outputText value="#{msgs['risk.days.till.update.short']}" title="#{msgs['risk.days.till.update']}"/>
							<f:setPropertyActionListener target="#{issuesForm.sortColumn}" value="daysTillUpdate" />
						</t:commandLink>
					</f:facet>
					<h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.daysInProgress}" />
				</h:column>

				<h:column>
					<f:facet name="header">
						<t:commandLink style="color:#FFFFFF;" action="#{issuesForm.sortList}" >
							<h:outputText value="#{msgs['mailbox.email.timecreated']}"/>
							<f:setPropertyActionListener target="#{issuesForm.sortColumn}" value="timeCreated" />
						</t:commandLink>
					</f:facet>
					<h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" escape="false" value="#{v.timeCreated}">
						<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{applicationData.getUtcOffset(v.lastActionTimeOffset)}" />
					</h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<t:commandLink style="color:#FFFFFF;" action="#{issuesForm.sortList}" >
							<h:outputText value="#{msgs['issues.timeUpdated']}"/>
							<f:setPropertyActionListener target="#{issuesForm.sortColumn}" value="timeUpdated" />
						</t:commandLink>
					</f:facet>
					<h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" escape="false" value="#{v.lastActionTime}">
	               		<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{applicationData.getUtcOffset(v.lastActionTimeOffset)}" />
	                </h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						<t:commandLink style="color:#FFFFFF;" action="#{issuesForm.sortList}" >
							<h:outputText value="#{msgs['risk.days.without.treatment.short']}" title="#{msgs['risk.days.without.treatment']}"/>
							<f:setPropertyActionListener target="#{issuesForm.sortColumn}" value="daysWithoutTreatment" />
						</t:commandLink>
					</f:facet>
					<h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.daysWithoutTreatment}" />
				</h:column>

				<t:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['issues.userid']}"/>
					</f:facet>
					<t:commandLink action="#{user.selectUserNoPopUpById}" immediate="true" >
						<h:outputText value="#{v.userId}" style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}"  />
						<f:setPropertyActionListener target="#{user.id}" value="#{v.userId}" />
					</t:commandLink>
				</t:column>

				<t:column>
	            	<f:facet name="header">
		            	<h:outputText value="#{msgs['issues.username']}"/>
					</f:facet>
					<t:commandLink rendered="#{user.hasAdminRole || writer.writer.id == 43 || writer.writer.id == 312 || writer.writer.id == 264 || writer.writer.id == 1428 || writer.writer.id == 1444}" action="#{issuesForm.navigateToRiskUsersFiles}" immediate="true" >
						<h:outputText value="#{v.username}" style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}"  />
						<f:setPropertyActionListener target="#{issuesForm.riskIssueToUserFiles}" value="#{v}" />
					</t:commandLink>
					<h:outputText rendered="#{!(user.hasAdminRole || writer.writer.id == 43 || writer.writer.id == 312 || writer.writer.id == 264 || writer.writer.id == 1428 || writer.writer.id == 1444)}" value="#{v.username}" style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}"  />
	           	</t:column>

				<t:column>
	            	<f:facet name="header">
						<t:commandLink style="color:#FFFFFF;" action="#{issuesForm.sortList}" >
			            	<h:outputText value="#{msgs['retention.column.country']}"/>
							<f:setPropertyActionListener target="#{issuesForm.sortColumn}" value="country" />
						</t:commandLink>
					</f:facet>
					<h:outputText value="#{v.country}" style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}"  />
	           	</t:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['issues.status']}"/>
					</f:facet>
					<h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.status.name}" />
				</h:column>

				<h:column>
	            	<f:facet name="header">
	            		<t:commandLink style="color:#FFFFFF;" action="#{issuesForm.sortList}" >
	  						<h:outputText value="#{msgs['issues.priority']}"/>
							<f:setPropertyActionListener target="#{issuesForm.sortColumn}" value="priority" />
						</t:commandLink>
	               </f:facet>
	               <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.priority.name}" />
	            </h:column>

				<h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['userstrip.skinname']}"/>
	               </f:facet>
	               <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" value="#{v.skin}" />
	            </h:column>

   				<h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['risk.last.reached']}"/>
	               </f:facet>
	               <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" escape="false" value="#{v.lastReachedCallDate}">
	               		<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{applicationData.getUtcOffset(v.lastActionTimeOffset)}" />
	               </h:outputText>
	            </h:column>

				<h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['risk.last.call']}"/>
	               </f:facet>
	               <h:outputText style="#{v.getHighLightRecord(issuesForm.populationCurrentEntryId)}" escape="false" value="#{v.lastCallDate}">
	               		<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{applicationData.getUtcOffset(v.lastActionTimeOffset)}" />
	               </h:outputText>
	            </h:column>

			 </t:dataTable>

			<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
				<t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    rendered="#{issuesForm.listSize > 10}">
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
	            </t:dataScroller>
    		</h:panelGrid>

			<h:outputLabel for="rowsNum" value="#{msgs['population.entry.rows.number']}"/>
	   		<h:outputLabel immediate="true" id="rowsNum" value="#{issuesForm.listSize}"/>
	</h:form>
</f:view>