<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js">
		</script>
	    <t:saveState value="#{riskUsersFilesForm}" />
		<h:form id="riskUsersFilesForm">
			<h:panelGrid border="0" columns="14">
				<t:outputText value="#{msgs['pendingwithdraws.userid']}"/>
				<t:inputText id="userid" size="10" maxlength="10" dir="ltr" value="#{riskUsersFilesForm.userId}" style="#{riskUsersFilesForm.disableSelection?'background-color:#f0f0f0;':''}" readonly="#{riskUsersFilesForm.disableSelection}" >
				  	  	<f:validateLongRange/>
				</t:inputText>
				<t:message id="useridError" for="userid" replaceIdWithLabel="true" styleClass="error"/>

	           	<h:outputText value="#{msgs['transactions.username']}" />
	            <h:inputText dir="ltr" size="30" maxlength="50" id="userName" value="#{riskUsersFilesForm.userName}" style="#{riskUsersFilesForm.disableSelection?'background-color:#f0f0f0;':''}" readonly="#{riskUsersFilesForm.disableSelection}"  />

				<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" />
		     	<t:selectOneMenu id="skinId" value="#{riskUsersFilesForm.skinId}" rendered="#{writer.skinsSize>1}" style="#{riskUsersFilesForm.disableSelection?'background-color:#f0f0f0;':''}" readonly="#{riskUsersFilesForm.disableSelection}">
	        		<f:selectItems value="#{writer.skinsAndEmptySI}" />
	    	    </t:selectOneMenu>

                <h:outputLabel rendered="#{!user.adminSelected}" value="#{msgs['risk.status']}"/>
				<h:selectManyListbox rendered="#{!user.adminSelected}" id="supportStatus"  value="#{riskUsersFilesForm.statuses}" >
					<f:selectItems 	value="#{writer.supportRiskStatusesSI}"/>
				</h:selectManyListbox>

				<t:outputLabel  for="classId" value="#{msgs['user.classes.type']}"/>
				<t:selectOneMenu id="classId" value="#{riskUsersFilesForm.classId}">
					<f:selectItems value="#{writer.userClassesSI}" />
				</t:selectOneMenu>

	            <h:outputLabel rendered="#{user.adminSelected}" value="#{msgs['risk.status']}"/>
				<h:selectManyListbox rendered="#{user.adminSelected}" id="statusAdmin" style="height:135px;"  value="#{riskUsersFilesForm.statuses}" >
					<f:selectItems value="#{writer.allRiskStatusesSI}"/>
				</h:selectManyListbox>

				<t:commandLink id="search" action="#{riskUsersFilesForm.search}">
		             <h:outputText value="#{msgs['button.search']}" />
	  			</t:commandLink>
	  		</h:panelGrid>

			<br/><br/>
			<h:outputText styleClass="general_message" rendered="#{riskUsersFilesForm.listSize==0}"
  		   				value="#{msgs['calcalist.investments.empty']}"/>

			<t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
				varDetailToggler="detailToggler"
                value="#{riskUsersFilesForm.riskUsersFilesList}">

				<t:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['issues.userid']}"/>
					</f:facet>
					<t:commandLink action="#{user.selectUserNoPopUpById}" immediate="true" >
						<h:outputText value="#{v.userId}" style=""  />
						<f:setPropertyActionListener target="#{user.id}" value="#{v.userId}" />
					</t:commandLink>
				</t:column>

				<t:column>
	            	<f:facet name="header">
		            	<h:outputText value="#{msgs['issues.username']}"/>
					</f:facet>
					<h:outputText value="#{v.userName}" style=""  />
	           	</t:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{msgs['issues.status']}"/>
					</f:facet>
					<h:outputText style="" value="#{v.filesRiskStatus}" />
				</h:column>

				<h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['userstrip.skinname']}"/>
	               </f:facet>
	               <h:outputText style="" value="#{v.skin}" />
	            </h:column>

   				<h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['risk.user.files.ccnumber']}"/>
	               </f:facet>
	               <h:outputText style=""  rendered="#{utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.ccNumberXXXX}" />
	               <h:outputText style=""  rendered="#{!utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.ccNumberLast4NotMasked}" />
	            </h:column>
			 </t:dataTable>

			<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
				<t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    rendered="#{riskUsersFilesForm.listSize > 10}">
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
	            </t:dataScroller>
    		</h:panelGrid>

			<br/><br/>
			<h:outputLabel for="rowsNum" value="#{msgs['population.entry.rows.number']}"/>
	   		<h:outputLabel immediate="true" id="rowsNum" value="#{riskUsersFilesForm.listSize}"/>

		</h:form>
</f:view>