<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js">
	</script>
    <t:saveState value="#{issuesForm}" />
		<h:form id="issuesForm">
        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

			<t:saveState id="issueformstate" value="#{issuesForm}" />
			<t:saveState id="issuestate" value="#{issuesForm.issue}" />
	   	    <t:saveState id="issuestate2" value="#{issue}" />

			<h:panelGrid columns="2">
				<h:outputLabel for="reason" value="#{msgs['risk.reason']}"  />
				<h:panelGroup  border="0">
					<h:selectOneMenu id="reason" value="#{issuesForm.issueAction.riskReasonId}" required="true"
							valueChangeListener="#{issuesForm.updateCopyopBlockRemoveReason}"
               				onchange="this.form.submit();">
						<f:selectItem  itemLabel="" itemValue="" />
						<f:selectItems value="#{issuesForm.riskReasonsList}"/>
					</h:selectOneMenu>
					<t:message id="reasonError" for="reason" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGroup>
	    		<h:outputLabel  for="priorityId" value="#{msgs['issues.priority']}"/>
				<h:panelGroup  border="0">
		       		<h:selectOneMenu id="priorityId" value="#{issuesForm.issue.priorityId}" required="true" >
	       				<f:selectItem  itemLabel="" itemValue="" />
	       				<f:selectItems value="#{writer.issuePrioritiesSI}" />
		       	   </h:selectOneMenu>
	    		   <t:message id="priorityIdError" for="priorityId" replaceIdWithLabel="true" styleClass="error"/>
	    		</h:panelGroup>

				<c:if test="${!issuesForm.copyopBlockRemoveFields}">
				
					<h:outputLabel for="status" value="#{msgs['risk.status']}"  />
					<h:selectOneMenu id="status" value="#{issuesForm.issue.filesRiskStatusId}">
						<f:selectItems value="#{issuesForm.iaRiskStatuses}"/>
					</h:selectOneMenu>
							   	<h:outputLabel for="newComments" value="#{msgs['issues.actions.comments']}"/>
	            	<h:panelGroup border="0" columns="2">
		          		<h:inputTextarea escape="false" cols="50" rows="3" id="newComments" value="#{issuesForm.issueAction.comments}">
	   			           			<f:validateLength maximum="2000"/>
	        	   		</h:inputTextarea>
	            		<t:message id="commentsError" for="newComments" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGroup>
            	
				</c:if>

				<c:if test="${!issuesForm.copyopBlockRemoveFields}">
					
					<h:outputLabel  for="request" value="#{msgs['risk.request']}"/>
		   		  	<h:selectOneMenu id="request" immediate="true" value="#{issuesForm.issueAction.actionTypeId}" onchange="this.form.submit();"
			   		  	valueChangeListener="#{issuesForm.updateRequestChange}" >
			   		  	<f:selectItems value="#{issuesForm.requestList}"/>
					</h:selectOneMenu>
	
					<h:outputLabel value=""/>
					<h:panelGroup rendered="#{issuesForm.documentAvailable}">
	
						<h:selectBooleanCheckbox rendered="#{issuesForm.riskIdRequest}"  style="background-color:#007FFF;" value="#{issuesForm.idDocumentSent}" disabled="true" />
						<h:selectBooleanCheckbox rendered="#{!issuesForm.riskIdRequest &amp;&amp; issuesForm.idDocumentSent }" value="#{issuesForm.idDocumentSent}" disabled="true"  />
						<h:selectBooleanCheckbox rendered="#{!issuesForm.riskIdRequest &amp;&amp; !issuesForm.idDocumentSent }" value="#{issuesForm.riskIdSelected}" disabled="false"  />
						&#160;<h:outputLabel value="#{msgs['risk.id.copy']}"/><br/>
	
						<br/><h:outputLabel value="#{msgs['risk.credit.cards']}"/><br/>
						<!-- CC LIST -->
						<h:outputText styleClass="general_message" rendered="#{issuesForm.cardsListSize==0}" value="#{msgs['creditcards.emptylist']}"/>
						<t:dataTable id="data"
						    styleClass="scrollerTable"
						    headerClass="standardTable_Header"
						    footerClass="standardTable_Header"
						    rowClasses="standardTable_Row1,standardTable_Row2"
						    columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
						    var="v"
						    preserveDataModel="false"
						    rows="#{user.rowsByMenu}"
						    renderedIfEmpty="false"
						    cellpadding="0"
						    cellspacing="1"
						    rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
							rowOnMouseOut="this.style.backgroundColor=old"
						    value="#{issuesForm.cardsList}">
	
							<h:column>
							   <f:facet name="header">
							       <h:outputText value="#{msgs['creditcards.type']}"/>
							   </f:facet>
							   <h:outputText value="#{v.type.name}" />
							</h:column>
	
							<h:column>
								<f:facet name="header">
							    	<h:outputText value="#{msgs['creditcards.ccNum']}"/>
								</f:facet>
								<h:outputText rendered="#{!utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.ccNumberLast4NotMasked}"/>
								<h:outputText rendered="#{utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.ccNumberXXXX}" />
							</h:column>
	
							<h:column>
								<f:facet name="header">
							    	<h:outputText value="#{msgs['creditcards.expDate']}"/>
								</f:facet>
								<h:outputText value="#{v.expMonth}/#{v.expYear}" />
							</h:column>
	
							<h:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['creditcards.visible']}"/>
								</f:facet>
								<h:selectBooleanCheckbox disabled="true" value="#{v.visible}" > </h:selectBooleanCheckbox>
							</h:column>
	
							<h:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['creditcards.allowed']}"/>
								</f:facet>
								<h:selectBooleanCheckbox disabled="true" value="#{v.allowed}" > </h:selectBooleanCheckbox>
							</h:column>
	
							<h:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['creditcards.is.sent.cc.copy']}"/>
								</f:facet>
								<h:selectBooleanCheckbox rendered="#{v.request.sentCcCopy}" style="background-color:#007FFF;" disabled="true" value="#{v.sentCcCopy}" > </h:selectBooleanCheckbox>
								<h:selectBooleanCheckbox rendered="#{!v.request.sentCcCopy &amp;&amp; v.sentCcCopy}" disabled="true" value="#{v.sentCcCopy}"></h:selectBooleanCheckbox>
								<h:selectBooleanCheckbox rendered="#{!v.request.sentCcCopy &amp;&amp; !v.sentCcCopy}" disabled="false" value="#{v.reqRiskIssueScreen.sentCcCopy}"></h:selectBooleanCheckbox>
							</h:column>
	
							<h:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['creditcards.is.belongs.to.account.holder']}"/>
								</f:facet>
								<h:selectBooleanCheckbox disabled="true" value="#{v.belongsToAccountHolder}" />
							</h:column>
	
							<h:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['creditcards.is.powera.of.attorney']}"/>
								</f:facet>
								<h:selectBooleanCheckbox rendered="#{v.request.powerOfAttorney}" style="background-color:#007FFF;" disabled="true" value="#{v.powerOfAttorney}" > </h:selectBooleanCheckbox>
								<h:selectBooleanCheckbox rendered="#{!v.request.powerOfAttorney &amp;&amp; v.powerOfAttorney}" disabled="true" value="#{v.powerOfAttorney}"></h:selectBooleanCheckbox>
								<h:selectBooleanCheckbox rendered="#{!v.request.powerOfAttorney &amp;&amp; !v.powerOfAttorney}" disabled="false" value="#{v.reqRiskIssueScreen.powerOfAttorney}"></h:selectBooleanCheckbox>
							</h:column>
	
							<h:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['creditcards.is.verification.call']}"/>
								</f:facet>
								<h:selectBooleanCheckbox rendered="#{v.request.verificationCall}" style="background-color:#007FFF;" disabled="true" value="#{v.verificationCall}" > </h:selectBooleanCheckbox>
								<h:selectBooleanCheckbox rendered="#{!v.request.verificationCall &amp;&amp; v.verificationCall}" disabled="true" value="#{v.verificationCall}"></h:selectBooleanCheckbox>
								<h:selectBooleanCheckbox rendered="#{!v.request.verificationCall &amp;&amp; !v.verificationCall}" disabled="false" value="#{v.reqRiskIssueScreen.verificationCall}"> </h:selectBooleanCheckbox>
							</h:column>
	
							<h:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['creditcards.is.sent.holder.id.copy']}"/>
								</f:facet>
								<h:selectBooleanCheckbox rendered="#{v.request.sentHolderIdCopy}" style="background-color:#007FFF;" disabled="true" value="#{v.sentHolderIdCopy}" > </h:selectBooleanCheckbox>
								<h:selectBooleanCheckbox rendered="#{!v.request.sentHolderIdCopy &amp;&amp; v.sentHolderIdCopy}" disabled="true" value="#{v.sentHolderIdCopy}"></h:selectBooleanCheckbox>
								<h:selectBooleanCheckbox rendered="#{!v.request.sentHolderIdCopy &amp;&amp; !v.sentHolderIdCopy}" disabled="false" value="#{v.reqRiskIssueScreen.sentHolderIdCopy}"></h:selectBooleanCheckbox>
							</h:column>
	
							<h:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['risk.succeed.deposits']}"/>
								</f:facet>
								<h:outputText id="documentsSent" value="#{v.succeedDeposits}" />
							</h:column>
	
						</t:dataTable>
	
						<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
							<t:dataScroller id="scroll_1"
				                    for="data"
				                    fastStep="10"
				                    pageCountVar="pageCount"
				                    pageIndexVar="pageIndex"
				                    paginator="true"
				                    paginatorMaxPages="9"
				                    styleClass="scroller"
				                    paginatorActiveColumnClass="paginator_active"
				                    paginatorColumnClass="paginator"
				                    paginatorTableClass="paginator"
				                    immediate="true"
				                    rendered="#{issuesForm.cardsListSize > 10}">
					                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
				            </t:dataScroller>
			    		</h:panelGrid>
	
			  		</h:panelGroup>

				</c:if>

		  		<t:commandButton
	         			id="btnImage"
	         			disabled="#{issuesForm.disabledBlockRemoveReason}"
		         		image="/images/submit_u.jpg"
		         		onmouseover="Changepic('issuesForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
		         		onmouseout="Changepic('issuesForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
		         		onclick="gowait('issuesForm:btnImage','issuesForm:hiddenSubmit','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
		         				 return myfaces.oam.submitForm('issuesForm','issuesForm:hiddenSubmit');" >
	         	</t:commandButton>
		        <h:commandLink id="hiddenSubmit" action="#{issuesForm.insertRiskIssue}" style="display:none" />

			</h:panelGrid>
		</h:form>
</ui:define>
</ui:composition>

</html>



