
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">

<iframe name="content" id="content" scrolling="yes" frameborder="no"
                src="#{facesContext.externalContext.requestContextPath}/jsp/support/searchUser.jsf" width="100%" height="100%"></iframe>

   	<!--  t:panelTabbedPane
	      serverSideTabSwitch="true"
	      styleClass="subtabbedPane"
	      activeTabStyleClass="subactiveTab"
	      inactiveTabStyleClass="subinactiveTab"
	      disabledTabStyleClass="disabledTab"
	      activeSubStyleClass="subactiveSub"
	      inactiveSubStyleClass="subinactiveSub"
	      tabContentStyleClass="subtabContent">

		<t:panelTab id="allRisk" label="#{msgs['register.serach.user']}" >
    		<iframe name="content" id="content" scrolling="yes" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/searchUser.jsf" width="100%" height="100%"></iframe>
    	</t:panelTab>

    	<t:panelTab id="userRisk" label="#{msgs['register.serach.contact']}" >
    		<iframe name="content" id="content" scrolling="yes" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/searchContact.jsf" width="100%" height="100%"></iframe>
    	</t:panelTab>

	</t:panelTabbedPane-->

</ui:define>
</ui:composition>

</html>