<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

    <t:saveState id="templatesFormSave" value="#{templatesForm}" />

    <h:panelGroup>
		<div id="previewHolder" style="float:right;width:50%;height:400px;"></div>
		
        <h:form id="templatesForm" enctype="multipart/form-data" style="margin-right:50%;">
		    <h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="4">

				<t:outputLabel styleClass="text_gray_12_bold" for="templateId" value="#{msgs['templates.select.subject']}"/>
	          	<t:selectOneMenu styleClass="input_text" id="templateId" value="#{templatesForm.templateId}" onchange="closePreview();" required="true">
	               		<f:selectItem  itemLabel="" itemValue="" />
	               		<f:selectItems value="#{templatesForm.templateSubjects}" />
	               		<f:ajax listener="#{templatesForm.updateChange}" render="@form" />
	            </t:selectOneMenu>
	            <t:message id="templateIdError" for="templateId" replaceIdWithLabel="true" styleClass="error"/>
				<h:outputText value="#{msgs['button.preview']}" onclick="showPreview()" style="cursor:pointer;font-weight:bold;text-decoration:underline;" />
	           
	        <h:panelGrid  columns="2" rendered="#{templatesForm.displayYearsList}">  
	           <h:outputLabel rendered="#{templatesForm.displayYearsList}" for="year" value="#{msgs['templates.select.years']}"/>
	           	<h:selectOneMenu rendered="#{templatesForm.displayYearsList}" id="year" value="#{templatesForm.year}" required="true">
	       			<f:selectItems value="#{templatesForm.yearsList}" />
		       	</h:selectOneMenu>
			</h:panelGrid>

			<c:if test="#{templatesForm.displayDates}">
				<h:outputLabel style="color:#0284d6;" value="#{msgs['templates.warning.msg']}"/>
				<h:outputLabel value="&nbsp;"/>
				<h:outputLabel value="&nbsp;"/>
				<h:outputLabel value="&nbsp;"/>
			</c:if>
			
			
			<h:panelGrid  columns="4" rendered="#{templatesForm.displayDates}">
				<h:outputLabel for="from" value="#{msgs['templates.from']}"/>
				<h:inputText styleClass="input_text" id="from" value="#{templatesForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['templatesForm'].elements['templatesForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    
			    <A HREF="#" onClick="cal.select(document.forms['templatesForm'].elements['templatesForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				
				<h:outputLabel for="to" value="#{msgs['templates.to']}"/>
				<h:inputText styleClass="input_text" id="to" value="#{templatesForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['templatesForm'].elements['templatesForm:to'],'anchor2','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    
			    
			    <A HREF="#" onClick="cal.select(document.forms['templatesForm'].elements['templatesForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>

				<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>
			
	        	<h:outputLabel rendered="#{templatesForm.displayCcList}" for="ccNum" value="#{msgs['deposit.select']}"/>
	           	<h:selectOneMenu rendered="#{templatesForm.displayCcList}" id="ccNum" value="#{templatesForm.cardId}" required="true" >
					<f:selectItem  itemLabel="" itemValue="" />
	       			<f:selectItems value="#{user.allCcList}" />
		       	</h:selectOneMenu>
	        	<t:message  rendered="#{templatesForm.displayCcList}" id="cardIdError" for="ccNum" replaceIdWithLabel="true" styleClass="error"/>	        	

            </h:panelGrid>
            <h:panelGrid style="text-align:left" columns="1" border="0" width="20%" >

				<t:commandLink action="#{templatesForm.send}">
		                <h:outputText value="#{msgs['button.send']}" />
		 		</t:commandLink>
	 		</h:panelGrid>
	 		
	 		<h:panelGrid style="text-align:left" columns="1" border="0" width="50%" rendered="#{user.supportSelected &amp;&amp; templatesForm.displaySendMailToSupport}">
	 			<t:selectOneRadio layout="pageDirection" immediate="true" id="templateSendTo" value="#{templatesForm.templateSendTo}" valueChangeListener="#{templatesForm.updateChangeSendTo}"
	 					onclick="this.form.submit();">
          			<f:selectItem  itemLabel="#{msgs['support.templates.send.customer']}" itemValue="0" />
					<f:selectItem  itemLabel="#{msgs['support.templates.send.support']}" itemValue="1"/>
					<f:selectItem  itemLabel="#{msgs['support.templates.send.customer.and.support']}" itemValue="2"/>
	           	</t:selectOneRadio>
	        </h:panelGrid>
	 		</h:panelGrid>
	 		<h:panelGroup rendered="#{templatesForm.templateId == 77}">
		 		<div id="blankTextInput">
		 			<div style="margin-top:10px;">Subject</div>
	                <h:inputText size="70" maxlength="78" id="blankTemplateSubject" value="#{templatesForm.blankTemplateSubject}" required="true" />
	                <t:message id="blankTemplateSubjectError" for="blankTemplateSubject" replaceIdWithLabel="true" styleClass="error"/>
	                <div style="margin-top:10px;">E-mail body</div>
					<t:inputTextarea required="true" cols="70" rows="5" id="blankTemplateContent" value="#{templatesForm.blankTemplateContent}" onkeyup="updatePreview(this)"></t:inputTextarea>
					<t:message id="blankTemplateContentError" for="blankTemplateContent" replaceIdWithLabel="true" styleClass="error"/>
		 		</div>
	 		</h:panelGroup>
	 		<script>
		 		function updatePreview(el) {
					var text = $(el).val();
					var previewText = text.replace(/\r\n/g, "\n").replace(/\r/g, "\n").replace(/\n/g, "<br/>");
					
		 			var iframe = document.getElementById('previewIframe');
		 			if (typeof iframe != 'undefined') {
			 			var innerDoc = iframe.contentDocument || iframe.contentWindow.document;
			 			innerDoc.getElementById('blackEmailText').innerHTML = previewText;
			 		}
					
		 	        var limit = 2000;
 		 	        var chars = text.length;
		 	        if(chars > limit){
 		 	            var new_text = text.substr(0, limit);
		 	            $(el).val(new_text);
		 	        }
		 		}
				function showPreview(){
					try{
						if(#{templatesForm.templateId > 0 ? true : false}){
							document.getElementById('previewHolder').innerHTML = "";
							var iframe = document.createElement('iframe');
							iframe.style.width = '90%';
							iframe.style.height = '100%';
							iframe.id = "previewIframe";
							var html = "#{templatesForm.templateContent}";
							document.getElementById('previewHolder').appendChild(iframe);
							iframe.contentWindow.document.open();
							iframe.contentWindow.document.write(html);
							iframe.contentWindow.document.close();
							iframe = null;
						}
					}catch(e){}
				}
				
				function closePreview(){
					document.getElementById('previewHolder').innerHTML = "";
				}
			</script>
        </h:form>
		
		<div style="clear:both;"></div>
    </h:panelGroup>


</ui:define>
</ui:composition>

</html>