<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"

      locale="#{writer.localInfo.locale}">

	

	<html dir="#{writer.localInfo.dir}">
		<head>
		    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
			<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
			<script language="Javascript">
				#{statsForm.updateAssetProfitList}
				if (#{statsForm.assetProfitList != null}) {
					var el = window.parent.document.getElementById('noDataLabel');
					if (el != null) {
						el.style.display = 'none';
					}
					var h = 240;
					if (#{statsForm.assetProfitListSize} &lt; 10) {
						h -= (10 - #{statsForm.assetProfitListSize}) * 15;
					}
					window.parent.document.getElementById('i1').height = h + 'px';
				}
			</script>
		</head>
		<body class="subtabBGColor">
		 	<h:form id="statsForm">
			 	<h:panelGroup>
			 		#{msgs['stats.table.asset.profit']}
					<t:dataTable id="stats1"
						styleClass="scrollerTable"
						headerClass="standardTable_Header"
						footerClass="standardTable_Header"
						rowClasses="standardTable_Row1,standardTable_Row2"
						columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
						var="v"
						preserveDataModel="false"
						rows="10"
						cellpadding="0"
						cellspacing="1"
						rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
						varDetailToggler="detailToggler"
						value="#{statsForm.assetProfitList}" >
						<t:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['stats.asset.name']}"/>
							</f:facet>
							<h:outputText value="#{v.groupName}" />
				 		</t:column>

				 		<t:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['stats.investments.number']}"/>
							</f:facet>
							<h:outputText value="#{v.investmentsNumber}" />
				 		</t:column>

				 		<t:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['stats.turnover']}"/>
							</f:facet>
							<h:outputText value="#{v.turnoverTxt}" />
				 		</t:column>

				 		<t:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['stats.customer.profit']}"/>
							</f:facet>
							<h:outputText value="#{v.customerProfitTxt}" />
				 		</t:column>

				 		<t:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['stats.customer.profit.percent']}"/>
							</f:facet>
							<h:outputText value="#{v.profitRatioTxt}" />
				 		</t:column>

					</t:dataTable>
				</h:panelGroup>

				<table width="100%" align="center">
					<tr>
						<td align="center">
							<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0">
					            <t:dataScroller id="scroll_1"
					                    for="stats1"
					                    fastStep="10"
					                    pageCountVar="pageCount"
					                    pageIndexVar="pageIndex"
					                    paginator="true"
					                    paginatorMaxPages="9"
					                    styleClass="scroller"
					                    paginatorActiveColumnClass="paginator_active"
					                    paginatorColumnClass="paginator"
					                    paginatorTableClass="paginator"
					                    immediate="false"
										paginatorRenderLinkForActive="false"
										renderFacetsIfSinglePage="false"
					                    rendered="true"
					                    >
						                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
					            </t:dataScroller>
							</h:panelGrid>
						</td>
					</tr>
				</table>
			</h:form>
		</body>
	</html>
</f:view>