<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"

      locale="#{writer.localInfo.locale}">

	

	<html dir="#{writer.localInfo.dir}">
		<head>
		    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
			<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
			<script language="Javascript">
				#{statsForm.updateProfitPeakList}
				if (#{statsForm.profitPeakList != null}) {
					var el = window.parent.document.getElementById('noDataLabel');
					if (el != null) {
						el.style.display = 'none';
					}
					var h = 240;
					if (#{statsForm.profitPeakListSize} &lt; 10) {
						h -= (10 - #{statsForm.profitPeakListSize}) * 15;
					}
					window.parent.document.getElementById('i9').height = h + 'px';
				}
			</script>
		</head>
		<body class="subtabBGColor">
		 	<h:form id="statsForm">
			 	<h:panelGroup>
			 		#{msgs['stats.table.profit.peaks']}
					<t:dataTable id="stats9"
							styleClass="scrollerTable"
							headerClass="standardTable_Header"
							footerClass="standardTable_Header"
							rowClasses="standardTable_Row1,standardTable_Row2"
							columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
							var="v"
							preserveDataModel="false"
							rows="10"
							cellpadding="0"
							cellspacing="1"
							rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
							rowOnMouseOut="this.style.backgroundColor=old"
							varDetailToggler="detailToggler"
							value="#{statsForm.profitPeakList}"
							>
						<t:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['stats.date.from']}"/>
							</f:facet>
							<h:outputText value="#{v.date1Txt}" />
				 		</t:column>

				 		<t:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['stats.date.to']}"/>
							</f:facet>
							<h:outputText value="#{v.date2Txt}" />
				 		</t:column>

				 		<t:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['stats.days.number']}"/>
							</f:facet>
							<h:outputText value="#{v.daysNumber}" />
				 		</t:column>

				 		<t:column>
							<f:facet name="header">
								<h:outputText value="#{msgs['stats.customer.profit']}"/>
							</f:facet>
							<h:outputText value="#{v.totalCustomerProfitTxt}" />
				 		</t:column>

						<t:column>
							<h:outputLink target="i10"
									value="#{facesContext.externalContext.requestContextPath}/jsp/support/statsContent10.jsf?from=#{v.date1Txt}&amp;to=#{v.date2Txt}"
									>
								<h:outputText value="#{msgs['stats.peak.show']}" />
							</h:outputLink>
				 		</t:column>
					</t:dataTable>
				</h:panelGroup>

				<table width="100%" align="center">
					<tr>
						<td align="center">
							<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0">
					            <t:dataScroller id="scroll_1"
					                    for="stats9"
					                    fastStep="10"
					                    pageCountVar="pageCount"
					                    pageIndexVar="pageIndex"
					                    paginator="true"
					                    paginatorMaxPages="9"
					                    styleClass="scroller"
					                    paginatorActiveColumnClass="paginator_active"
					                    paginatorColumnClass="paginator"
					                    paginatorTableClass="paginator"
					                    immediate="false"
										paginatorRenderLinkForActive="false"
										renderFacetsIfSinglePage="false"
					                    rendered="true"
					                    >
						                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
					            </t:dataScroller>
							</h:panelGrid>
						</td>
					</tr>
				</table>
			</h:form>
		</body>
	</html>
</f:view>