<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >

 	<h:panelGroup>
 		<div id="noDataLabel">#{msgs['stats.noData']}</div>
 	</h:panelGroup>
 	<h:panelGroup>
		<iframe name="i1" id="i1" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/statsContent1.jsf"
			width="100%" height="0px" />
		<br />
	</h:panelGroup>
	<h:panelGroup>
		<iframe name="i2" id="i2" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/statsContent2.jsf"
			width="100%" height="0px" />
		<br />
	</h:panelGroup>
	<h:panelGroup>
		<iframe name="i3" id="i3" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/statsContent3.jsf"
			width="100%" height="0px" />
		<br />
	</h:panelGroup>
	<h:panelGroup>
		<iframe name="i4" id="i4" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/statsContent4.jsf"
			width="100%" height="0px" />
		<br />
	</h:panelGroup>
	<h:panelGroup>
		<iframe name="i5" id="i5" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/statsContent5.jsf"
			width="100%" height="0px" />
		<br />
	</h:panelGroup>
	<h:panelGroup>
		<iframe name="i6" id="i6" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/statsContent6.jsf"
			width="100%" height="0px" />
		<br />
	</h:panelGroup>
	<h:panelGroup>
		<iframe name="i7" id="i7" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/statsContent7.jsf"
			width="100%" height="0px" />
		<br />
	</h:panelGroup>
	<h:panelGroup>
		<iframe name="i8" id="i8" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/statsContent8.jsf"
			width="100%" height="0px" />
	</h:panelGroup>
	<h:panelGroup>
		<table width="100%">
			<tr>
				<td align="left" valign="top">
					<iframe name="i9" id="i9" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/statsContent9.jsf"
						width="410px" height="0px" />
				</td>
				<td align="right" valign="top">
					<iframe name="i10" id="i10" scrolling="no" frameborder="no"
						src=""
						width="600px" height="0px" />
				</td>
			</tr>
		</table>
	</h:panelGroup>
</html>
