<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jsp/jstl/core"

      locale="#{writer.localInfo.locale}">

<ui:composition template="/jsp/templates/template_with_contact_strip.xhtml">

	<t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
       	          disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent"
                  selectedIndex="#{user.supportTabIndex}">

    <t:panelTab id="issues" label="#{msgs['menu.issues']}">
	     <iframe name="issues" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/issues.jsf?refresh=true" width="100%" height="750px"></iframe>
    </t:panelTab>

	<t:panelTab id="userdet" label="#{msgs['menu.customerdet']}" rendered="#{!user.hasBTraderRole}">

		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

		  <t:panelTab id="userdet" label="#{msgs['menu.customerdet']}" >
	    	 <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/user.jsf?refresh=true" width="100%" height="1000px"></iframe>
	      </t:panelTab>
		</t:panelTabbedPane>

    </t:panelTab>

    <t:panelTab id="templates" label="#{msgs['menu.templates']}" rendered="#{!user.hasBTraderRole}">
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/sendTemplate.jsf?refresh=true" width="100%" height="450px"></iframe>
    </t:panelTab>

    <t:panelTab id="bonuses" label="#{msgs['menu.bonuses']}" rendered="#{!user.hasBTraderRole}">
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/bonusUsers.jsf?refresh=true" width="100%" height="450px"></iframe>
    </t:panelTab>

	<t:panelTab id="loyaltydet" label="#{msgs['menu.loyalty']}" rendered="#{user.inTier}" >

		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

			    <t:panelTab id="loyalty" label="#{msgs['menu.loyalty.card']}" >
				     <iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/pointsBalance.jsf?refresh=true" width="100%" height="450px"></iframe>
			    </t:panelTab>

			    <t:panelTab id="loyaltyHis" label="#{msgs['menu.points.history']}" >
				     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/loyaltyHistory.jsf?refresh=true" width="100%" height="1000px"></iframe>
		    	</t:panelTab>

			    <t:panelTab id="pointsConvert" label="#{msgs['menu.points.to.cash']}" >
			   	    <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/pointsToCash.jsf?refresh=true" width="100%" height="600px"></iframe>
				</t:panelTab>

			    <t:panelTab id="tierUpdate" label="#{msgs['menu.tier.update']}" visibleOnUserRole="admin,sadmin">
			   	    <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/userTierUpdate.jsf?refresh=true" width="100%" height="600px"></iframe>
				</t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>

    <t:panelTab id="invlimits" rendered="#{user.hasSAdminRole || hasASTraderRole || user.hasSTraderRole}" label="#{msgs['menu.invlimits']}" >
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/trader/invLimits.jsf?refresh=true" width="100%" height="750px"></iframe>
    </t:panelTab>

    <t:tabChangeListener type="il.co.etrader.backend.mbeans.SupportTabManager"/>

</t:panelTabbedPane>
</ui:composition>

</html>