<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jsp/jstl/core"

      locale="#{writer.localInfo.locale}">

<ui:composition template="/jsp/templates/template_with_user_strip.xhtml">

<ui:define name="content">

	#{user.goSupport}

	<h:panelGroup rendered="#{user.hasSSupportRole || (user.hasSupportRole &amp;&amp; !user.hasBTraderRole &amp;&amp; !user.hasAdminRole &amp;&amp; !user.hasTraderRole &amp;&amp; !user.hasAccountingRole &amp;&amp; !user.hasSAdminRole)}">
		#{writer.writerHasLockedEntry}
	</h:panelGroup>

	<t:panelTabbedPane rendered="#{user.id!=0 &amp;&amp; user.loadUserStrip}"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
       	          disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent"
                  selectedIndex="0">
    <t:panelTab id="cryptoTransaction" label="#{msgs['menu.cryptoTransaction']}" >
    	<ui:include src="/jsp/index.html" />
    	<script>
    		setTab("users.crypto-transactions", true, true);
    	</script>
    </t:panelTab>
	<t:panelTab id="transactions" label="#{msgs['menu.account.actions']}" >
		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">



                 <t:panelTab id="transactions" label="#{msgs['submenu.transactions']}" >
			  	     <iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/transactions.jsf?refresh=true" width="100%" height="600px"></iframe>
			    </t:panelTab>
		    	
		    	<t:panelTab id="depositsSummary" label="#{msgs['menu.deposits.summary']}" >
	    		    <ui:include src="/jsp/index.html" />
			    	<script>
			    		setTab("users.account-transactions.deposits-summary", true, true);
			    	</script>
		    	</t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>

    <t:panelTab id="deposit" label="#{msgs['menu.deposits']}"  >

		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

                  <t:panelTab rendered="#{user.skin.creditDepositAllowed}" id="deposit" label="#{msgs['menu.depositbycc']}" >
				     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/deposit.jsf?refresh=true" width="100%" height="450px"></iframe>
			      </t:panelTab>

    		      <t:panelTab rendered="#{user.skin.creditDepositAllowed}" id="cards" label="#{msgs['menu.cards']}" >
				     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/cards.jsf?refresh=true" width="100%" height="450px"></iframe>
			      </t:panelTab>

       			  <t:panelTab rendered="#{user.skin.wireDepositAllowed}" id="addwire"  visibleOnUserRole="support,admin" label="#{msgs['menu.newwire']}" >
       			  	<c:if test="${user.skinId==1}">
		     	  	   <iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/wire.jsf?refresh=true" width="100%" height="450px"></iframe>
					</c:if>
					<c:if test="${user.skinId!=1}">
						<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/wireAO.jsf?refresh=true" width="100%" height="450px"></iframe>
					</c:if>
				  </t:panelTab>

    		      <t:panelTab rendered="#{!user.etrader}" id="paypal" label="#{msgs['menu.paypal']}" >
				     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/payPalDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
			      </t:panelTab>

				  <t:panelTab rendered="#{user.skin.bonusDepositAllowed}" visibleOnUserRole="sadmin,admin" id="bonusdeposit" label="#{msgs['menu.bonusdeposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/bonusDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				 </t:panelTab>

				 <t:panelTab rendered="#{user.hasSalesMExt}" id="bonusdeposit1" label="#{msgs['menu.bonusdeposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/bonusDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				 </t:panelTab>

			      <t:panelTab rendered="#{user.skin.adminDepositAllowed}" visibleOnUserRole="sadmin,admin" id="admindeposit" label="#{msgs['menu.admindeposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/adminDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				 </t:panelTab>

	 		     <t:panelTab rendered="#{user.skin.cashDepositAllowed}" id="cashdeposit" label="#{msgs['menu.cashdeposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/cashDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				 </t:panelTab>

				  <t:panelTab rendered="#{user.skin.phoneDepositAllowed}" id="phonedeposit" label="#{msgs['menu.phonedeposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/phoneDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				 </t:panelTab>

			      <t:panelTab rendered="#{user.skin.chargebackWithdrawAllowed}" visibleOnUserRole="admin" id="chargebacks" label="#{msgs['menu.chargebacks']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/chargebacks.jsf?refresh=true" width="100%" height="600px"></iframe>
				  </t:panelTab>

			      <t:panelTab visibleOnUserRole="admin" id="fixBD" label="#{msgs['menu.fix.balance.deposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/fixBalanceDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				  </t:panelTab>

			  <!--<t:panelTab visibleOnUserRole="admin" id="depositBC" label="#{msgs['menu.deposit.by.company']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/companyDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				  </t:panelTab> -->

			      <t:panelTab visibleOnUserRole="admin" id="cancelDeposit" label="#{msgs['menu.cancel.deposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/cancelSuccessDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				  </t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>

    <t:panelTab id="withdraw" label="#{msgs['menu.withdraws']}" >
		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent"
                  selectedIndex="#{user.skin.chequeWithdrawAllowed ? 0 : 1}">

    		<t:panelTab rendered="#{user.skin.chequeWithdrawAllowed}" id="withdraw" label="#{msgs['menu.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/withdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

		    <t:panelTab rendered="#{user.skin.creditWithdrawAllowed}" id="cc_withdraw" label="#{msgs['menu.cc.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/creditCard_withdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

  		    <t:panelTab rendered="#{user.skin.reverseWithdrawAllowed}" id="reverse" label="#{msgs['menu.reverse']}" >
		     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/reverseWithdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

  		    <t:panelTab rendered="#{user.skin.bonusWithdrawAllowed}" id="bonuswithdraw" label="#{msgs['menu.bonuswithdraw']}" visibleOnUserRole="sadmin,admin">
		     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/bonusWithdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

	        <t:panelTab rendered="#{user.skin.adminWithdrawAllowed}" visibleOnUserRole="sadmin,admin" id="adminwithdraw" label="#{msgs['menu.adminwithdraw']}" >
		   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/adminWithdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

		    <t:panelTab rendered="#{user.skin.bankWithdrawAllowed}" id="bankWire" label="#{msgs['menu.bank.wire']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/bank_wire.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>
			
			<t:panelTab id="apm_withdrawals" label="#{msgs['menu.apm-withdrawals']}">
		    	<ui:include src="/jsp/index.html" />
		    	<script>
					setTab("users.withdrawals.apmWithdrawals", true, true);
		    	</script>
		    </t:panelTab>
			
		    <t:panelTab visibleOnUserRole="admin" id="fixBW" label="#{msgs['menu.fix.balance.withdrawal']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/fixBalanceWithdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

		    <t:panelTab rendered="#{user.currencyId != 5 &amp;&amp; user.skinId != 1 &amp;&amp; (user.hasSSupportRole || user.hasAdminRole || user.hasSAdminRole)}" id="cft_withdraw" label="#{msgs['menu.cft.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/cft_withdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>
		    <t:panelTab rendered="#{user.currencyId == 6 &amp;&amp; user.skinId == 10}" id="webmoney_withdraw" label="#{msgs['menu.webmoney.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/webmoneyWithdrawal.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>
			
			<!-- only for chinese person with currency yuan and skin 15 -->
		    <t:panelTab rendered="#{(user.currencyId == 7 &amp;&amp; user.countryId == 44) &amp;&amp; (user.skinId == 15 || user.skinId == 22)}" id="deltaPay_withdraw" label="#{msgs['menu.deltapay.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/deltaPay_withdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>
		    <t:panelTab rendered="#{user.currencyId == 8 &amp;&amp; user.skinId == 17 &amp;&amp; user.countryId == 191}"  id="baroPay_withdraw" label="#{msgs['menu.baropay.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/baroPayWithdrawal.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>
		    
		    <t:panelTab id="insertRecord" label="#{msgs['menu.insert.record']}" >
		    	<ui:include src="/jsp/index.html" />
		    	<script>
		    		setTab("users.withdrawals.insert_record", true, true);
		    	</script>
		    </t:panelTab>		    

		</t:panelTabbedPane>
    </t:panelTab>

    <t:panelTab id="issues" label="#{msgs['menu.issues']}" >
	     <iframe name="issues" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/issues.jsf?refresh=true" width="100%" height="750px"></iframe>
    </t:panelTab>

	<t:panelTab id="userdet" label="#{msgs['menu.customerdet']}" >

		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

		  <t:panelTab id="userdet" label="#{msgs['menu.customerdet']}" >
	    	 <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/user.jsf?refresh=true" width="100%" height="1000px"></iframe>
	      </t:panelTab>
	      
	      <t:panelTab id="bank-skrill" label="#{msgs['menu.bank-skrill']}" >
		    	<ui:include src="/jsp/index.html" />
		    	<script>
		    		setTab("users.userDetails.bankSkrillDetails", true, true);
		    	</script>
		  </t:panelTab>
			
    	  <t:panelTab rendered="#{user.hasSAdminRole || writer.writer.id==13 || writer.writer.id==388 || writer.writer.id==827 || writer.writer.id==282 || writer.writer.id==507 || writer.writer.id==898}" id="changepass"  label="#{msgs['menu.changepass']}" >
	    	 <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/changePass.jsf?refresh=true" width="100%" height="400px"></iframe>
	      </t:panelTab>
	      
	      <t:panelTab id="userhist" label="#{msgs['menu.history']}" >
	    	 <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/userDetailsHistoryChanges.jsf?refresh=true" width="100%" height="1000px"></iframe>
	      </t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>

    <t:panelTab id="frauds" label="#{msgs['menu.frauds']}" >
	   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/frauds.jsf?refresh=true" width="100%" height="450px"></iframe>

    </t:panelTab>

    <t:panelTab id="templates" label="#{msgs['menu.templates']}" >
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/sendTemplate.jsf?refresh=true" width="100%" height="450px"></iframe>
    </t:panelTab>


    <t:tabChangeListener type="il.co.etrader.backend.mbeans.SupportTabManager"/>

</t:panelTabbedPane>
</ui:define>
</ui:composition>

</html>