<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<ui:composition>
 <SCRIPT LANGUAGE="JavaScript" >

		function gettext(msgType) {
			switch(msgType)
			{
			case 0:
				out='#{msgs['investments.cancel.confirm']}';
				break
			case 1:
			 	out='#{msgs['transactions.cancel.deposit']}';
		  		break
		  	case 2:
			 	out='#{msgs['transactions.cancel.deposit.have.withdrawals']}';
		  		break
		  	case 3:
			 	out='#{msgs['transactions.charge.back.have.withdrawals']}';
		  		break
		  	case 4:
			 	out='#{msgs['transactions.status.request.call.option']}';
		  		break
		  	case 5:
		  		out ='#{msgs['transactions.cancel.maintenance.fee.msg']}';
		  		break
			}
			return out;
		}

		function confirmit(msgType, e) {
			var el = e.target || e.srcElement;
			if (!confirm(gettext(msgType))) {
				return false;
			}
			el.style.display = "none";
			return true;
		}

		function reloadPageSlow() {
			setTimeout("reloadPage()",1000);
		}

		function reloadPage() {
			document.getElementById("transactionsForm:updateBtn").onclick();
		}
		
    	function approvePostpone() {
		    	return confirm("#{msgs['transaction.postpone.approve.msg']}");
		}

	</SCRIPT>

    <t:saveState value="#{transactionsForm}" />

    <h:panelGroup >

		<h:form id="transactionsForm">
		
       <h:panelGrid border="0" columns="13">

		   <h:outputLabel for="fromtest" value="test"/>
		   <h:inputText styleClass="input_text" id="fromtest" required="true" value="#{transactionsForm.from}" />
			<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>    
           	<h:panelGrid columns="3">
			<h:inputText styleClass="input_text" id="from" required="true" value="#{transactionsForm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone=""/>
		    </h:inputText>
		    <A HREF="#" onClick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        </A>
			<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

	        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
           	<h:panelGrid columns="3">
			<h:inputText styleClass="input_text" id="to" required="true" value="#{transactionsForm.to}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone=""/>
		    </h:inputText>
		    <A HREF="#" onClick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
	       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        </A>
			<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:outputText value="#{msgs['transactions.searchby']}"/>
           	<t:selectOneRadio value="#{transactionsForm.searchBy}" >
          		<f:selectItem itemLabel="#{msgs['transactions.timecreated']}" itemValue="0" />
				<f:selectItem itemLabel="#{msgs['transactions.timesettled']}" itemValue="1" />
           	</t:selectOneRadio>

			<h:panelGrid witdh="3px"/>

           	<h:outputText value="#{msgs['transactions.username']}" rendered="#{user.adminSelected}"/>
            <h:inputText dir="ltr" size="30" maxlength="50" id="userName" value="#{transactionsForm.userName}" rendered="#{user.adminSelected}"/>

			<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" rendered="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; writer.skinsSize>1}"/>
	     	<t:selectOneMenu id="skinId" value="#{transactionsForm.skinId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; writer.skinsSize>1}" >
        		<f:selectItems value="#{writer.skinsAndEmptySI}" />
    	    </t:selectOneMenu>
    	    
    	    <t:outputLabel  for="transactionId" value="#{msgs['transactions.id']}"/>
    	    <h:inputText dir="ltr" size="30" maxlength="20" id="transactionId" value="#{transactionsForm.id}"/>

           	</h:panelGrid>
       	    <h:panelGrid border="0" columns="15">

          	 <t:outputLabel  for="classId" value="#{msgs['user.classes.type']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
             <t:selectOneMenu id="classId" value="#{transactionsForm.classId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" >
    	       	<f:selectItems value="#{writer.userClassesSI}" />
    	     </t:selectOneMenu>

			<h:panelGrid border="0" columns="1" width="3px"/>

			<h:outputText value="#{msgs['transinvestments.type']}"/>
   		  	<h:selectOneMenu id="typeId" immediate="true" value="#{transactionsForm.typeId}" onchange="this.form.submit();" 
				valueChangeListener="#{transactionsForm.updateStatuses}" >
	   			<f:selectItems value="#{transactionsForm.selectionTypes}" />
	        </h:selectOneMenu>

   			<h:outputText value="#{msgs['transinvestments.status']}"/>
	   	  	<h:selectOneMenu id="statusId" value="#{transactionsForm.statusId}" immediate="true"  >
   				<f:selectItems value="#{transactionsForm.selectionStatuses}" />
	        </h:selectOneMenu>

            <h:outputLabel rendered="#{transactionsForm.showcCCnum}" for="ccNum" value="#{msgs['transactions.ccnum']}"/>
           	<h:panelGrid rendered="#{transactionsForm.showcCCnum}" border="0" columns="2">
				<h:inputText dir="ltr" styleClass="input_text" size="20" maxlength="20" id="ccNum" value="#{transactionsForm.ccNum}" >
                	<f:validateLongRange minimum="0" />
                </h:inputText>
            	<t:message id="ccNumError" for="ccNum" replaceIdWithLabel="true" styleClass="error"/>
            </h:panelGrid>

            <h:outputLabel rendered="#{transactionsForm.showBankWithdrawal}" value="#{msgs['pendingwithdraws.banks']}"/>
			<h:selectOneMenu rendered="#{transactionsForm.showBankWithdrawal}" id="bankId1" value="#{transactionsForm.chosenBankId}"  >
					<f:selectItems value="#{user.skinId != 1 ? writer.wireBanksAnyoptionAllSI : writer.wireBanksEtraderAllSI}" />
			</h:selectOneMenu>

	         <h:outputLabel for="receiptNum" value="#{msgs['transactions.receiptnum']}"/>
           	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="10" maxlength="10" id="receiptNum"
	                	value="#{transactionsForm.receiptNum}" >
	                </h:inputText>
	            	<t:message id="receiptNumError" for="receiptNum" replaceIdWithLabel="true" styleClass="error"/>
            </h:panelGrid>
            
            <h:outputLabel for="ccBin" value="#{msgs['transactions.ccbin']}"/>
           	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="10" maxlength="10" id="ccBin"
	                	value="#{transactionsForm.ccBin}" validatorMessage="only 6 digits">
	                	<f:validateRegex id="ccBinPatVal" pattern="[1-9][0-9][0-9][0-9][0-9][0-9]" for="ccBin"/>
	                </h:inputText>
	            	<t:message id="ccBinError" for="ccBin" replaceIdWithLabel="true" styleClass="error"/>
            </h:panelGrid>
            
			<h:panelGroup rendered="#{transactionsForm.displayPostponed}">
	            <h:outputLabel for="transPostponed" value="#{msgs['trans.postponed']}    "/>
	   			<h:selectOneMenu id="transPostponed" value="#{transactionsForm.isPostponed}">
	   				<f:selectItems value="#{writer.yesNoAllSI}" />				
		   		</h:selectOneMenu>            
			</h:panelGroup>
			
	 		</h:panelGrid>

	 		<h:panelGrid border="0" columns="16">
		 		<t:outputLabel  for="countryId" value="#{msgs['newaccounts.countries']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
		     	<t:selectOneMenu id="countryId" value="#{transactionsForm.countryId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" >
		        	<f:selectItems value="#{transactionsForm.countriesSI}" />
		        </t:selectOneMenu>

	   	        <t:outputLabel  for="skinBCId" value="#{msgs['newaccounts.skin.business.case']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
		     	<t:selectOneMenu id="skinBCId" value="#{transactionsForm.skinBusinessCaseId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}">
		        	<f:selectItems value="#{writer.skinBusinessCasesSI}"/>
		        </t:selectOneMenu>

                <t:outputLabel  for="hasInv" value="#{msgs['investments.has.investments']}" rendered="#{transactionsForm.showcCCnum &amp;&amp; user.accountingSelected}"/>
		     	<t:selectOneMenu id="hasInv" value="#{transactionsForm.hasInvestments}" rendered="#{transactionsForm.showcCCnum &amp;&amp; user.accountingSelected}">
		        	<f:selectItems value="#{writer.hasInvestmentsSI}" />
		        </t:selectOneMenu>


		        <t:outputLabel for="startHour" value="#{msgs['transactions.start.hour']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
		     	<t:selectOneMenu id="startHour" value="#{transactionsForm.startHour}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" >
	        		<f:selectItems value="#{writer.investmentClosingHoursSI}" />
				</t:selectOneMenu>

				<t:outputLabel for="endHour" value="#{msgs['transactions.end.hour']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
		     	<t:selectOneMenu id="endHour" value="#{transactionsForm.endHour}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" >
	        		<f:selectItems value="#{writer.investmentClosingHoursSI}" />
				</t:selectOneMenu>

				<t:outputLabel  for="currencies" value="#{msgs['investments.currency']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
	     		<t:selectOneMenu id="currencies" value="#{transactionsForm.currencyId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" >
	        		<f:selectItems value="#{writer.currencySI}" />
	        	</t:selectOneMenu>

	        	<t:outputLabel  for="paymentMethods" value="#{msgs['transactions.payment.method']}" rendered="#{!user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
	     		<t:selectOneMenu id="paymentMethods" value="#{transactionsForm.paymentMethodId}" rendered="#{!user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" >
	        		<f:selectItems value="#{writer.paymentMethodsSI}" />
	        	</t:selectOneMenu>
	        	
	        	<t:outputLabel  for="clearingProvider" value="#{msgs['transactions.cProvider']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
	     		<t:selectOneMenu id="clearingProvider" value="#{transactionsForm.clearingProvider}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" >
	        		<f:selectItems value="#{writer.CCProvidersSI}" />
	        	</t:selectOneMenu>
            </h:panelGrid>

			<h:panelGrid border="0" columns="12">
				<h:outputText value="#{msgs['newaccounts.campaigns']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
           		<h:selectOneMenu id="campaignName" value="#{transactionsForm.campaignId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" >
       				<f:selectItems value="#{writer.allMarketingCampaignsBySkinsLongSI}" />
               	</h:selectOneMenu>

				<h:outputLabel rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" for="writerId" value="#{msgs['population.entry.writer']}"/>
	   			<h:selectOneMenu rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" id="writerId" value="#{transactionsForm.writerId}">
	   				<f:selectItems value="#{transactionsForm.writerFilterList}" />
		   		</h:selectOneMenu>

				<h:outputLabel rendered="#{user.accountingSelected}" for="hasBalance" value="#{msgs['transactions.has.balance']}"/>
	   			<h:selectOneMenu rendered="#{user.accountingSelected}" id="hasBalance" value="#{transactionsForm.hasBalance}">
	   				<f:selectItems value="#{writer.yesNoAllSI}" />
		   		</h:selectOneMenu>

				<t:outputLabel for="depositType" value="#{msgs['transactions.sales.deposit.sales.type']} " rendered="#{user.adminSelected or user.supportMoreOptionsSelected}"/>
				<t:selectOneMenu id="depositType" value="#{transactionsForm.salesDepositsType}" rendered="#{user.adminSelected or user.supportMoreOptionsSelected}">
				    <f:selectItems value="#{writer.salesDepositsTypes}" />
				</t:selectOneMenu>

				<t:outputLabel for="depositSource" value="#{msgs['transactions.sales.deposit.source']} " rendered="#{user.adminSelected or user.supportMoreOptionsSelected}"/>
				<t:selectOneMenu id="depositSource" value="#{transactionsForm.salesDepositsSource}" rendered="#{user.adminSelected or user.supportMoreOptionsSelected}">
				    <f:selectItems value="#{writer.salesDepositsSources}" />
				</t:selectOneMenu>
								
				<t:outputLabel for="wasRerouted" value="#{msgs['was.rerouted']}" />
				<t:selectOneMenu id="wasRerouted" value="#{transactionsForm.wasRerouted}">
				    <f:selectItems value="#{transactionsForm.selectWasRerouted}" />	
				</t:selectOneMenu>

				<t:outputLabel for="isManualRouted" value="#{msgs['transactions.manualRouted']}" />
				<t:selectOneMenu id="isManualRouted" value="#{transactionsForm.isManualRouted}">
				    <f:selectItems value="#{transactionsForm.selectIsManualRoute}" />	
				</t:selectOneMenu>
			</h:panelGrid>
			<h:panelGrid border="0" columns="7">
				<t:outputLabel for="isThreeD" value="#{msgs['transactions.is3dsecure']}" />
   				<t:selectOneMenu id="isThreeD" value="#{transactionsForm.threeD}">
				    <f:selectItems value="#{transactionsForm.selectIs3d}" />	
				</t:selectOneMenu>
				<!-- EPG Transaction Id -->
				<t:outputLabel  for="epgTransactionId" value="#{msgs['epg.transaction.id']}"/>
    	    	<h:inputText dir="ltr" size="30" maxlength="20" id="epgTransactionId" value="#{transactionsForm.providerTransactionId}"/>
    	    	<!-- Affiliates -->
    	    	<t:outputLabel for="affiliateKey" value="#{msgs['affilate']}" rendered="#{user.adminSelected}"/>
			    <h:selectManyListbox style="width:145px;height:85px" id="affiliateKey" value="#{transactionsForm.affiliatesKeys}" rendered="#{user.adminSelected}">
			    	<f:selectItem itemLabel="#{msgs['general.all']}" itemValue="0" />
			    	<f:selectItems value="#{writer.marketingAffNameKeySI}" />
			    </h:selectManyListbox>
    	    	<!-- search -->
				<t:commandLink id="updateBtn" action="#{transactionsForm.updateTransactionsList}">
			                <h:outputText value="#{msgs['button.search']}" />
		 		</t:commandLink>
		 		
		        <h:panelGrid rendered="#{writer.writer.id == 592 || writer.writer.id == 704}" style="text-align:left" columns="1" border="0" width="100%" >
			  	 <h:commandLink action="#{transactionsForm.exportHtmlTableToExcel}">
				     <h:outputText value="#{msgs['data.exportexcel']}"/>
				  </h:commandLink>
			    </h:panelGrid>

		    </h:panelGrid>


	        <h:outputText styleClass="general_message" rendered="#{transactionsForm.listSize==0}"
  		   				value="#{msgs['transactions.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_ColumnstandardTable_ColumnCentered,standardTable_ColumnstandardTable_ColumnCentered,standardTable_ColumnstandardTable_ColumnCentered,standardTable_ColumnstandardTable_ColumnCentered"
                var="v"
                rowIndexVar="rowNumber"
                preserveDataModel="false"
                rows="#{user.rowsByMenu + 4}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                varDetailToggler="detailToggler"
                value="#{transactionsForm.transactionsList}"
               >

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.id']}"/>
               </f:facet>
               <h:commandLink action="#{detailToggler.toggleDetail}">
	               <h:outputText rendered="#{v.totalLine==0}" value="#{v.id}" />
				</h:commandLink>
           </h:column>

		   <t:column rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.username']}"/>
               </f:facet>
               <t:commandLink rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" action="#{user.selectUserNoPopUp}" immediate="true" disabled="#{user.partnerSelected}">
               		<h:outputText value="#{v.userName}"/>
					<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
			   </t:commandLink>
			   <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/#{v.specialCare.image}" rendered="#{v.specialCare.specialCare}" border="0"/>
			   <h:outputText style="font-weight:bold;color:#000000;" value=" #{v.userCountryCode}" />
           </t:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.timecreated']}"/>
               </f:facet>
               <h:outputText escape="false" rendered="#{v.totalLine==0 || v.totalLine>1 }" value="#{transactionFormater.getTimeCreatedTxt(v)}" />

           </h:column>
           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.timesettled']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{transactionFormater.getTimeSettledTxt(v)}" />
           </h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="#{msgs['transactions.ccnum']}"/>
				</f:facet>
				<h:outputText rendered="#{v.creditCardId!=null &amp;&amp; !utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.creditCard.ccNumberLast4NotMasked}" />
				<h:outputText rendered="#{v.creditCardId!=null &amp;&amp; utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.creditCard.ccNumberXXXX}" />
			</h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.type']}"/>
               </f:facet>
               <h:outputText value="#{transactionFormater.getTypeNameTxt(v)}" />
           </h:column>

            <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.status']}"/>
               </f:facet>
               <h:outputText rendered="#{v.totalLine==0}" value="#{msgs[transactionFormater.getStatusName(v)]}" />
               <h:outputText rendered="#{v.totalLine==2}" value="#{msgs['general.totalpage']}" />
                <h:outputText rendered="#{v.totalLine==3}" value="#{msgs['general.totalall']}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.credit']}"/>
               </f:facet>
               <h:outputText dir="ltr" rendered="#{v.credit &amp;&amp; v.totalLine==0}" value="#{transactionsForm.currencyAllSelected ? transactionFormater.getBaseAmountTxt(v) : transactionFormater.getAmountTxt(v)}" />
               <h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />
               <h:outputText rendered="#{v.totalLine>1 &amp;&amp; !v.bookBack}" value="#{transactionsForm.currencyAllSelected ? v.baseTotalCreditAmountTxt : v.totalCreditAmountTxt}" />
               <h:outputText rendered="#{v.totalLine>1 &amp;&amp; v.bookBack}" value=""/>
	           <img src="spacer" width="0" height="0" border="0" />
           </h:column>
          
           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.is3dsecure']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.threeD}" />
           </h:column>
           
           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.debit']}"/>
               </f:facet>
					<h:outputText dir="ltr"
						rendered="#{!v.credit &amp;&amp; v.totalLine==0}"
						value="#{transactionsForm.currencyAllSelected ? transactionFormater.getBaseAmountTxt(v) : transactionFormater.getAmountTxt(v)}" />
					<h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />
               <h:outputText rendered="#{v.totalLine>1 &amp;&amp; !v.bookBack}" value="#{transactionsForm.currencyAllSelected ? v.baseTotalDebtAmountTxt : v.totalDebtAmountTxt}" />
               <h:outputText rendered="#{v.totalLine>1 &amp;&amp; v.bookBack}" value=""/>
               <img src="spacer" width="0" height="0" border="0" />
           </h:column>
           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.writername']}"/>
               </f:facet>
               <h:outputText rendered="#{v.totalLine==0}" value="#{transactionFormater.getWriterName(v)}" />
               <h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />
               <h:outputText rendered="#{v.totalLine>1 and !v.bookBack}" styleClass="#{v.styleColor}" value="#{transactionsForm.currencyAllSelected ? v.baseTotalprofitAmountTxt : v.totalprofitAmountTxt}" />
           </h:column>

           <h:column rendered="#{!user.partnerSelected}">
               <f:facet name="header" >
	               <t:outputText value="#{msgs['action']}"/>

               </f:facet>
			  <h:panelGroup rendered="#{(v.isTransactionCanceled())}"> 
				<t:commandLink visibleOnUserRole="admin" rendered="#{v.maintenanceFee}"
					onclick="if(!confirmit(5, event)) return false;" 
	              		action="#{transactionsForm.cancelMaintenanceFee}" immediate="true" >
	              		<h:outputText value="#{msgs['transactions.cancel.maintenance.fee']}" />
	              	   <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
				</t:commandLink>
			  </h:panelGroup>
               <t:commandLink visibleOnUserRole="accounting" rendered="#{(v.wireDepositAndPending ||v.cashDepositAndPending || v.paypalDepositAndPending) &amp;&amp; (user.accountingSelected || user.supportSelected)}"
               		action="#{transactionsForm.approveDeposit}" immediate="true">
               		<h:outputText value="#{msgs['general.approve']}" />
                    <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
				</t:commandLink>
				<h:panelGroup rendered="#{v.allowedChargebackEditAction}">
					<a href="#{facesContext.externalContext.requestContextPath}/index.html#/en/risk/chargebacks/view/#{v.id}" target="_top"><h:outputText value="#{msgs['transactions.chargeback']}" /></a>
				</h:panelGroup>
				<h:panelGroup rendered="#{v.allowedChargebackAddAction}">
					<a href="#{facesContext.externalContext.requestContextPath}/index.html#/en/risk/chargebacks/view/#{v.id}" target="_top"><h:outputText value="#{msgs['transactions.chargeback']}" /></a>
				</h:panelGroup>
				<h:panelGroup rendered="#{v.allowedChargebackEditAction}">
					<a href="#{facesContext.externalContext.requestContextPath}/index.html#/en/risk/chargebacks/view/#{v.id}" target="_top"><h:outputText value="#{msgs['transactions.chargebackdetails']}" /></a>
				</h:panelGroup>
				<t:commandLink visibleOnUserRole="sadmin" rendered="#{v.inatecInProgress}"
					onclick="if(!confirmit(4, event)) return false;"
               		action="#{transactionsForm.statusReqCall}" immediate="true">
               		<h:outputText value="#{msgs['transactions.status.request.call']}" />
                    <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
				</t:commandLink>
				<h:panelGroup rendered="#{(v.achDeposit || v.payPalDeposit || v.wireDeposit || v.cashDeposit || v.envoyBankingDeposit) &amp;&amp; v.statusId == 7}"> <!--  ACH ,PayPal ,Wire ,cash deposit -->
					<t:commandLink visibleOnUserRole="sadmin,accounting" rendered="#{!v.epgProvider}"
						onclick="if(!confirmit(1, event)) return false;"
	               		action="#{transactionsForm.cancelDeposit}" immediate="true">
	               		<h:outputText value="#{msgs['investments.cancel']}" />
	                    <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
					</t:commandLink>
					<h:outputText rendered="#{user.hasSAdminRole || user.hasAccountingRole}" value="&#160;&#160;|&#160;&#160;" />
			   		<t:commandLink style="text-decoration: none;"  border="0" visibleOnUserRole="sadmin,accounting"
						onclick="if(!confirmit(1, event)) return false;" rendered="#{!v.epgProvider}"
	               		action="#{transactionsForm.cancelDepositFrauds}" immediate="true">
						<t:graphicImage border="0" style="text-decoration:none;vertical-align:bottom" value="/images/x.gif" alt="#{msgs['trans.cancel.fraud']}" />
	                    <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
					</t:commandLink>
					<h:outputText rendered="#{(user.hasSAdminRole &amp;&amp; (v.wireDeposit || v.cashDeposit))  || writer.writer.id == '16' &amp;&amp; (v.wireDeposit || v.cashDeposit)}" value="&#160;&#160;|&#160;&#160;" />
			   		<t:commandLink rendered="#{(user.hasSAdminRole &amp;&amp; (v.wireDeposit || v.cashDeposit))  || writer.writer.id == '16' &amp;&amp; (v.wireDeposit || v.cashDeposit)}" style="text-decoration: none;"  border="0"
						onclick="if(!confirmit(1, event)) return false;"
	               		action="#{transactionsForm.cancelDepositSupportMistake}" immediate="true">
						<t:graphicImage border="0" style="text-decoration:none;vertical-align:bottom" value="/images/supportError.png" alt="#{msgs['trans.cancel.support.mistake']}" />
	                    <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
					</t:commandLink>
				</h:panelGroup>
				<h:panelGroup rendered="#{v.ccDepositAndPending &amp;&amp; !v.haveCredits}">
					<t:commandLink visibleOnUserRole="sadmin,accounting" rendered="#{v.ccDepositAndPending &amp;&amp; !v.haveCredits and !v.epgProvider}"
						onclick="if(!confirmit(1, event)) return false;"
	               		action="#{transactionsForm.cancelDeposit}" immediate="true">
	               		<h:outputText value="#{msgs['investments.cancel']}" />
	                    <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
					</t:commandLink>
					<h:outputText rendered="#{user.hasSAdminRole || user.hasAccountingRole}" value="&#160;&#160;|&#160;&#160;" />
			   		<t:commandLink style="text-decoration: none;"  border="0" visibleOnUserRole="sadmin,accounting" rendered="#{v.ccDepositAndPending &amp;&amp; !v.haveCredits and !v.epgProvider}"
						onclick="if(!confirmit(1, event)) return false;"
	               		action="#{transactionsForm.cancelDepositFrauds}" immediate="true">
						<t:graphicImage border="0" style="text-decoration:none;vertical-align:bottom" value="/images/x.gif" alt="#{msgs['trans.cancel.fraud']}" />
	                    <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
					</t:commandLink>
				</h:panelGroup>
				<h:panelGroup rendered="#{v.ccDepositAndPending &amp;&amp; v.haveCredits}">
					<t:commandLink visibleOnUserRole="sadmin,accounting" rendered="#{v.ccDepositAndPending &amp;&amp; v.haveCredits and !v.epgProvider}" 
						onclick="if(!confirmit(2, event)) return false;" 
	               		action="#{transactionsForm.cancelDeposit}" immediate="true">
	               		<h:outputText value="#{msgs['investments.cancel']}" />
	                    <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
					</t:commandLink>
					<h:outputText rendered="#{user.hasSAdminRole || user.hasAccountingRole}" value="&#160;&#160;|&#160;&#160;" />
					<t:commandLink style="text-decoration: none;" border="0" visibleOnUserRole="sadmin,accounting" rendered="#{v.ccDepositAndPending &amp;&amp; v.haveCredits and !v.epgProvider}"
						onclick="if(!confirmit(2, event)) return false;"
	               		action="#{transactionsForm.cancelDepositFrauds}" immediate="true">
						<t:graphicImage border="0" style="text-decoration: none;vertical-align:bottom" value="/images/x.gif" alt="#{msgs['trans.cancel.fraud']}" />
	                    <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
					</t:commandLink>
				</h:panelGroup>
           </h:column>

		   <t:column rendered="#{user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}">
		 		<f:facet name="header" >
	               <t:outputText value="#{msgs['transactions.action.credit']}"/>
				</f:facet>
				<h:commandButton style="width:70px;height:20px;background-color: #9172EC;cursor:pointer;" rendered="#{v.ccDeposit &amp;&amp; v.creditAvailable &amp;&amp; user.hasAccountingRole}" type="button" value="#{transactionFormater.getAvailableCreditAmountTxt(v)}"
					onclick="window.name='transactionsMain'; var popupWin = window.open('#{facesContext.externalContext.requestContextPath}/jsp/support/creditWithdrawal.jsf?depoTrx=#{v.id}&amp;creditAmount=#{v.availableCreditAmount}&amp;ccId=#{v.creditCardId}','actionWindow','width=400,height=220');if (window.focus) {popupWin.focus();};" />
		  		<h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />
               	<h:outputText rendered="#{v.totalLine>1}" styleClass="#{v.styleColor}" value="#{transactionsForm.currencyAllSelected ? v.baseTotalprofitAmountTxt : v.totalprofitAmountTxt}" />
		  </t:column>

            <h:column >
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.manualRouted']}"/>
               </f:facet>
               <h:outputText rendered="#{v.manualRouted==0}" value="#{msgs['no']}" />
               <h:outputText rendered="#{v.manualRouted==1}" value="#{msgs['yes']}" />
           </h:column>
           
           <f:facet name="detailStamp">
           				 <h:panelGrid class="detailsBGColor" border="0" columns="1" width="100%">

	           				 <h:panelGrid border="0" columns="8" width="60%">

		 			              <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['register.username']}"/>
								  <t:commandLink rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" action="#{user.selectUserNoPopUp}" immediate="true"
									  disabled="#{user.partnerSelected}">
						             <h:outputText styleClass="data_display" value="#{v.userName}"/>
									 <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
						 		  </t:commandLink>

					              <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['register.accountid']}"/>
								  <t:commandLink rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" action="#{user.selectUserNoPopUp}" immediate="true"
								  	 disabled="#{user.partnerSelected}">
						             <h:outputText styleClass="data_display" value="#{v.userId}"/>
									 <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
						 		  </t:commandLink>

				                  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['register.firstname']}"/>
					              <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" styleClass="data_display" value="#{v.userFirstName}"/>

				                  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['register.lastname']}"/>
				                  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" styleClass="data_display" value="#{v.userLastName}"/>
							 </h:panelGrid>

							 <h:panelGrid border="0" columns="8" width="50%">
  								  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['newaccounts.skin.business.case']}"/>
		                  		  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" styleClass="data_display" value="#{transactionFormater.getBusinessCaseNameTxt(v)}"/>

								  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['userstrip.skinname']}"/>
		                  		  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" styleClass="data_display" value="#{v.skin}"/>

								  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['pendingwithdraws.currency']}"/>
		                  		  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" styleClass="data_display" value="#{transactionFormater.getCurrencyTxt(v)}"/>

		                  		  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['pendingwithdraws.amount']}"/>
		                  		  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" styleClass="data_display" value="#{transactionFormater.getAmountTxt(v)}"/>

							 </h:panelGrid>

							 <h:panelGrid border="0" columns="14" width="100%">

  								  <h:outputText value="#{msgs['transactions.ip']}" />
								  <h:outputText styleClass="data_display" value="#{v.ip}" />

   								  <h:outputText value="#{msgs['transactions.timesettled']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transactionFormater.getTimeSettledTxt(v)}" />

								  <h:outputText value="#{msgs['transactions.processedwriter']}" />
								  <h:outputText styleClass="data_display" value="#{transactionFormater.getProcessedWriterName(v)}" />

  								  <h:outputText value="#{msgs['transactions.receipt']}" />
								  <h:outputText styleClass="data_display" value="#{v.receiptNumTxt}" />

								  <h:outputText value="#{msgs['transactions.reference']}" />
								  <t:commandLink action="#{transactionsForm.selectTransactions}" >
									  <h:outputText styleClass="data_display" value="#{v.referenceId}" />
 				                      <f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
				 	    	      </t:commandLink>

  								  <h:outputText value="#{msgs['transactions.authnumber']}" />
								  <h:outputText styleClass="data_display" value="#{v.authNumber}" />
								  
								  <h:outputText value="#{msgs['transactions.epg.id']}" rendered="#{v.epgProvider and null != v.tranReqRespDetails}"/>
								  <h:outputText styleClass="data_display" value="#{v.xorIdAuthorize}" rendered="#{v.epgProvider and null != v.tranReqRespDetails}"/>

							</h:panelGrid>

							<h:panelGrid border="0" columns="2" rendered="#{v.envoyOnlineDeposit || v.envoyWithdraw}">
								<h:outputText value="#{msgs['transactions.envoy.account.num']}" />
							    <h:outputText styleClass="data_display" value="#{v.envoyAccountNum}"/>
							</h:panelGrid>

							<h:panelGrid border="0" columns="2" >
								<h:outputText value="#{msgs['transactions.description']}" />
							    <h:outputText styleClass="data_display" value="#{v.description}" />
							</h:panelGrid>
							
							<h:panelGrid border="0" columns="2" rendered="#{v.epgProvider}">
								<h:outputText value="#{msgs['transactions.payment.details']}" />
							    <h:outputText styleClass="data_display" value="#{v.EPGPaymentDetails}" />
							</h:panelGrid>

							<h:panelGrid border="0" columns="3" >
								<h:outputText value="#{msgs['transactions.comments']}" />
								<h:outputText dir="ltr" styleClass="data_display" value="#{v.comments.replaceAll('CVV\\s=\\s\\d*', '')}" />
  							    <h:panelGroup rendered="#{v.creditCardId!=null &amp;&amp; v.typeId==1 &amp;&amp; (v.statusId == 2 || v.statusId == 7)}" >
  							    	<ui:include src="/jsp/common/credit_card_comments.xhtml">
										<ui:param name="creditCard" value="#{v.creditCard}" />
									</ui:include>
  							    </h:panelGroup>
						    </h:panelGrid>

							<h:outputText styleClass="data_display" rendered="#{v.statusId == 6 &amp;&amp; v.processedWriterId == 0}" value="#{msgs['auto.cancel.withdrawal']}" />

							<h:panelGrid rendered="#{v.payPalEmail != null}" border="0" columns="2" >
								<h:outputText value="#{msgs['paypal.email']}" />
  							   	<h:outputText dir="ltr" styleClass="data_display" value="#{v.payPalEmail}" />
						    </h:panelGrid>

							  <h:panelGrid rendered="#{v.creditCardId!=null}" border="0" columns="8" width="100%">

  								  	<h:outputText value="#{msgs['transactions.ccid']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.creditCard.id}" />

 								    <h:outputText value="#{msgs['transactions.cctype']}" />
								    <h:outputText styleClass="data_display" value="#{v.creditCard.type.name}" />

									<h:outputText value="#{msgs['creditcards.type.by.bin']}" />
								    <h:outputText styleClass="data_display" value="#{v.creditCard.typeNameByBin}" />

									<h:outputText value="#{msgs['creditcards.cc.country']}" />
								    <h:outputText styleClass="data_display" value="#{v.creditCard.countryName}" />

								    <h:outputText value="#{msgs['transactions.ccvisible']}" />
								    <t:selectBooleanCheckbox styleClass="data_display" disabled="true" value="#{v.creditCard.visible}"/>

								    <h:outputText value="#{msgs['creditcards.allowed']}" />
								    <t:selectBooleanCheckbox styleClass="data_display" disabled="true" value="#{v.creditCard.allowed}" />

								    <h:outputText value="#{msgs['transactions.ccnum']}" />
									<h:outputText styleClass="data_display" rendered="#{!utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.creditCard.ccNumberLast4NotMasked}" />
									<h:outputText styleClass="data_display" rendered="#{utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.creditCard.ccNumberXXXX}" />

								    <h:outputText value="#{msgs['transactions.cctimecreated']}" />
								    <h:outputText styleClass="data_display" escape="false" value="#{v.creditCard.timeCreated}">
								    	<f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{v.creditCard.utcOffsetCreated}" />
								    </h:outputText>

								    <h:outputText value="#{msgs['transactions.cctimemodified']}" />
								    <h:outputText styleClass="data_display" escape="false" value="#{v.creditCard.timeModified}">
								    	<f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{v.creditCard.utcOffsetModified}" />
								    </h:outputText>

   								    <h:outputText value="#{msgs['transactions.expdate']}" />
								    <h:outputText styleClass="data_display" value="#{v.creditCard.expMonth}/#{v.creditCard.expYear}" />

								    <h:outputText value="#{msgs['transactions.ccholdername']}" />
								    <h:outputText styleClass="data_display" value="#{v.creditCard.holderName}" />

  								    <h:outputText value="#{msgs['transactions.ccholderidnum']}" />
								    <h:outputText styleClass="data_display" value="#{v.creditCard.holderIdNum}" />

								    <h:outputText value="#{msgs['transactions.cProvider']}" />
								    <h:outputText styleClass="data_display" value="#{v.clearingProviderName}"  rendered="#{!v.epgProvider or null == v.tranReqRespDetails}"/>
								    <h:outputText styleClass="data_display" value="#{v.transactionRequestResponse.paymentSolution}"  rendered="#{v.epgProvider and null != v.tranReqRespDetails}"/>
								    
								    <h:outputText value="#{msgs['transaction.postpone.J4.to']}"/>
								    <h:panelGroup>
									    <t:selectOneMenu id="postponeJ4To" value="#{v.transactionPostponed.numberOfDays}" 
									    			disabled="#{!(user.hasAdminRole || user.hasSAdminRole || user.hasAccountingRole) || !v.isCcDepositAndPending()}">
							        		<f:selectItems value="#{v.transactionPostponed.getPostponedDates(v)}" />
							        		<f:ajax render="submitPostponed"/>
							    	    </t:selectOneMenu>
							    	    <h:commandButton id="submitPostponed" value="#{msgs['transaction.issue.ok']}" onclick="if (!approvePostpone()) {return false;}"
							    	    	rendered="#{(user.hasAdminRole || user.hasSAdminRole || user.hasAccountingRole) and v.isCcDepositAndPending()}" disabled="#{(v.transactionPostponed.numberOfDays == 0 and v.transactionPostponed.id == 0)  || (!transactionsForm.isValidPostponedDate(v))}">
									        <f:ajax listener="#{transactionsForm.insertUpdateTransactionPostponed(v)}" render="transactionsForm:data:#{rowNumber}:detailStampRow transactionsForm:data:#{rowNumber}:test"/>
									    </h:commandButton>
									    <t:message id="test" for="submitPostponed" globalOnly="true" gloreplaceIdWithLabel="true" styleClass="error" />
								    </h:panelGroup>
	 				 	 	 	    
 				 	 	 	    	<h:outputText value="#{msgs['transaction.postpone.by']}" rendered="#{v.transactionPostponed.id > 0}"/>
	 				 	 	 	    <h:outputText escape="false" rendered="#{v.transactionPostponed.id > 0}" styleClass="data_display" value="#{writer.getAllWritersMap().get(v.transactionPostponed.writerId).getUserName()}(#{utils.getDateTimeFormatDisplay(v.transactionPostponed.timeUpdated, writer.utcOffset)})"/>
	 				 	 	 	    
	 				 	 	 	    <h:outputText value="#{msgs['transactions.Gateway']}" />
								    <h:outputText styleClass="data_display" value="#{msgs['transactions.Gateway.epg']}" rendered="#{v.epgProvider and null != v.tranReqRespDetails}"/>
								    <h:outputText styleClass="data_display" value="#{msgs['transactions.Gateway.direct']}" rendered="#{!v.epgProvider or null == v.tranReqRespDetails}"/>
	 				 	 	 	    

 				 	 		      </h:panelGrid>

 				 	 		      <h:panelGrid rendered="#{v.chequeId!=null}" border="0" columns="8" width="100%">

  								  	<h:outputText value="#{msgs['transactions.chequeid']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.cheque.id}" />

 								    <h:outputText value="#{msgs['transactions.chequename']}" />
								    <h:outputText styleClass="data_display" value="#{v.cheque.name}" />

								    <h:outputText value="#{msgs['transactions.chequeaddress']}" />
								    <h:outputText styleClass="data_display" value="#{v.cheque.street} #{v.cheque.streetNo} #{v.cheque.cityName} #{v.cheque.zipCode}" />

  								    <h:outputText value="#{msgs['transactions.chequeidnum']}" />
								    <h:outputText styleClass="data_display" value="#{v.cheque.chequeId}" />

								    <h:outputText rendered="#{v.showFee}"  value="#{msgs['transactions.chequeexistfee']}" />
								    <h:outputText rendered="#{v.showFee}" styleClass="data_display" value="#{transactionFormater.getExistFee(v)}" />

 				 	 		      </h:panelGrid>

 				 	 		 	<h:panelGrid rendered="#{v.wireId!=null}" border="0" columns="8" width="100%">

  								  	<h:outputText value="#{msgs['transactions.wireid']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.wire.id}" />

	 				 	 	 	    <h:outputText rendered="#{v.wire.bankWithdrawName != null}" value="#{msgs['pendingwithdraws.banks']}"/>
				                  	<h:outputText rendered="#{v.wire.bankWithdrawName != null}" styleClass="data_display" value="#{msgs[v.wire.bankWithdrawName]}"/>

 								    <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['bank.wire.beneficiary.name']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.beneficiaryName}" />

								    <h:outputText rendered="#{user.skinId != 1 &amp;&amp; user.skinId != 15}" value="#{msgs['bank.wire.swift']}" />
								    <h:outputText rendered="#{user.skinId != 1 &amp;&amp; user.skinId != 15}" styleClass="data_display" value="#{v.wire.swift}" />

  								    <h:outputText rendered="#{user.skinId != 1 &amp;&amp; user.skinId != 15}" value="#{msgs['bank.wire.iban']}" />
								    <h:outputText rendered="#{user.skinId != 1 &amp;&amp; user.skinId != 15}" styleClass="data_display" value="#{v.wire.iban}" />

				 		 	        <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['bank.wire.account.number']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.accountNum}" />

								    <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['bank.wire.bank.name']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.bankNameTxt}" />

								    <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['bank.wire.branch.number']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.branch}" />
									
									<h:outputText rendered="#{user.skinId == 15}" value="#{msgs['bank.wire.branch.name']}" />
								    <h:outputText rendered="#{user.skinId == 15}" styleClass="data_display" value="#{v.wire.branchName}" />
									
								    <h:outputText rendered="#{user.skinId != 1 &amp;&amp; user.skinId != 15}" value="#{msgs['bank.wire.branch.address']}" />
								    <h:outputText rendered="#{user.skinId != 1 &amp;&amp; user.skinId != 15}" styleClass="data_display" value="#{v.wire.branchAddress}" />

   								    <h:outputText rendered="#{user.skinId != 1}" value="#{msgs['transactions.bankFeeAmount']}" />
								    <h:outputText rendered="#{user.skinId != 1}" styleClass="data_display" value="#{v.wire.bankFeeAmount}" />

									<!-- ETRADER FIELDS -->
									<h:outputText rendered="#{user.skinId == 1}" value="#{msgs['transactions.wirebranch']}" />
								    <h:outputText rendered="#{user.skinId == 1}" styleClass="data_display" value="#{v.wire.branch}" />

								    <h:outputText rendered="#{user.skinId == 1}" value="#{msgs['transactions.wireaccountnum']}" />
								    <h:outputText rendered="#{user.skinId == 1}" styleClass="data_display" value="#{v.wire.accountNum}" />

  								    <h:outputText rendered="#{user.skinId == 1}" value="#{msgs['transactions.wireaccountname']}" />
								    <h:outputText rendered="#{user.skinId == 1}" styleClass="data_display" value="#{v.wire.accountName}" />

				 		 	        <h:outputText rendered="#{user.skinId == 1}" value="#{msgs['transactions.wirebankname']}" />
								    <h:outputText rendered="#{user.skinId == 1}" styleClass="data_display" value="#{v.wire.bankNameTxt}" />

 				 	 			</h:panelGrid>

								<!-- UKASH DETAILS-->
 				 	 			<h:panelGrid rendered="#{(user.adminSelected || user.supportSelected ) &amp;&amp; v.clearingProviderId == 16 &amp;&amp; v.ukashDeposit != null}" border="0" columns="11" width="100%">
  									<h:outputText value="#{msgs['ukash.voucher.number']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.ukash.voucherNumber}" />

  									<h:outputText value="#{msgs['ukash.voucher.value']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{transactionFormater.getVoucherValueTxt(v.ukash)}" />

	 				 	 	 		<h:outputText value="#{msgs['ukash.voucher.currency']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{commonUtil.getUkashCurrency(v.ukash)}" />

	 				 	 	 	   	<h:outputText value="#{msgs['mailbox.email.status']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.ukash.statusMsg}" />

	 				 	 	 		<h:outputText rendered="#{v.ukash.status == 0}" value="#{msgs['ukash.converted.amount']}" />
	 				 	 	 	    <h:outputText rendered="#{v.ukash.status == 0}" styleClass="data_display" value="#{transactionFormater.getConvertedAmountTxt(v.ukash)}" />

	 				 	 	 	    <h:panelGrid border="0" columns="10" width="200px" />
 				 	 			</h:panelGrid>

 				 	 			<!-- MONEYBOOKERS DETAILS  -->
								<h:panelGrid rendered="#{(v.clearingProviderId == 17 || v.clearingProviderId == 34) &amp;&amp; v.moneybookersDetails != null}" border="0" columns="13" width="90%">
  									<h:outputText value="#{msgs['moneybookers.email']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.moneybookersEmail}" />

   									<h:outputText value="#{msgs['moneybookers.customer.id']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.moneybookers.customer_id}" />

	 				 	 	 	    <h:outputText value="#{msgs['moneybookers.status']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.moneybookers.status}" />

  									<h:outputText value="#{msgs['moneybookers.failed.reason.code']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.moneybookers.failed_reason_code}" />

  									<h:outputText value="#{msgs['moneybookers.payment.type']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.moneybookers.payment_type}" />

  									<h:outputText value="#{msgs['moneybookers.mb.amount']}" />
	 				 	 	 	    $<h:outputText styleClass="data_display" value="#{v.moneybookers.mb_amount}" />

								</h:panelGrid>

 				 	 			<!-- WEBMONEY DETAILS  -->
								<h:panelGrid rendered="#{(v.clearingProviderId == 18 || v.clearingProviderId == 19 ||  v.clearingProviderId == 20)  &amp;&amp; transactionsForm.haveWebmoneyDeposit()}" border="0" columns="8" width="80%">
  									<h:outputText value="#{msgs['webmoney.payer.purse']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.webMoneyDeposit.lmi_payer_purse}" />

   									<h:outputText value="#{msgs['webmoney.payer.wmid']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.webMoneyDeposit.lmi_payer_wm}" />

	 				 	 	 	    <h:outputText value="#{msgs['webmoney.inv.no']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.webMoneyDeposit.lmi_sys_invs_no}" />

  									<h:outputText value="#{msgs['webmoney.trans.no']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.webMoneyDeposit.lmi_sys_trans_no}" />
								</h:panelGrid>
								
								<!-- WEBMONEY DETAILS  -->
								<h:panelGrid rendered="#{(v.clearingProviderId == 18 || v.clearingProviderId == 19 ||  v.clearingProviderId == 20)  &amp;&amp; v.webMoneyPurse != null}" border="0" columns="2" width="10%">
  									<h:outputText value="#{msgs['webmoney.payer.purse']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.webMoneyPurse}" />

								</h:panelGrid>
								
								<!-- CDPAY DETAILS  -->
								<h:panelGrid rendered="#{v.clearingProviderId == 30}" border="0" columns="2" width="30%">
  									<h:outputText value="#{msgs['transactions.cProvider']}: " />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{msgs['clearing.provider.cdpay']}" />
	 				 	 	 	    <h:outputText value="#{msgs['bank.code']}: " />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.CDPayDeposit.bankcode}" />
								</h:panelGrid>	
								<!-- DELTAPAY DETAILS  -->
								<h:panelGrid rendered="#{v.clearingProviderId == 22}" border="0" columns="2" width="30%">
  									<h:outputText value="#{msgs['transactions.cProvider']}: " />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{msgs['clearing.provider.deltapay']}" />
								</h:panelGrid>								
								
 				 	 			<!-- BAROPAY DETAILS  -->
								<h:panelGrid rendered="#{(v.clearingProviderId == 31)  &amp;&amp; v.baroPayResponse != null}" border="0" columns="6" width="30%">
  									<h:outputText value="#{msgs['baropay.phone']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.baroPayRequest.phone}" />

   									<h:outputText value="#{msgs['baropay.response.status']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.baroPayResponse.status}" />
	 				 	 	 	    
	 				 	 	 	    <h:outputText value="#{msgs['baropay.sender']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.baroPayRequest.sender}" />	 				 	 	 	    
								</h:panelGrid>								

 				 				<h:panelGrid rendered="#{v.ach!=null}" border="0" columns="10" width="100%">

  									<h:outputText value="#{msgs['transactions.ach.id']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.ach.id}" />

									<h:outputText value="#{msgs['transactions.ach.payee.email']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.ach.payeeEmail}" />

	 				 	 	 	    <h:outputText value="#{msgs['transactions.ach.payee.address']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.ach.payeeAddress}" />

	 				 	 	 	    <h:outputText value="#{msgs['transactions.ach.payee.city']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.ach.payeeCity}" />

	 				 	 	 	    <h:outputText value="#{msgs['transactions.ach.payee.state']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.ach.payeeState}" />

	 				 	 	 	    <h:outputText value="#{msgs['transactions.ach.payee.zip']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.ach.payeeZip}" />

	 				 	 	 	    <h:outputText value="#{msgs['transactions.ach.payee.phone']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.ach.payeePhone}" />

	 				 	 	 	    <h:outputText value="#{msgs['transactions.ach.routing.no']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.ach.routingNo}" />


								</h:panelGrid>

 				 	 		  	<h:panelGrid rendered="#{v.chargeBackId!=null}" border="0" columns="8" width="80%">

  								  	<h:outputText value="#{msgs['transactions.chargebackid']}" />
									<t:commandLink styleClass="data_display" action="#{transactionsForm.editChargeBack}" immediate="true" >
										<h:outputText value="#{v.chargeBack.id}"/>
										<f:setPropertyActionListener target="#{transactionsForm.transaction}" value="#{v}" />
									 </t:commandLink>

 								    <h:outputText value="#{msgs['transactions.chargebacktimecreated']}" />
								    <h:outputText styleClass="data_display" escape="false" value="#{transactionFormater.getCBTimeCreatedTxt(chargeBack)}" />

								    <h:outputText value="#{msgs['transactions.chargebackdescription']}" />
								    <h:outputText styleClass="data_display" value="#{v.chargeBack.description}" />

  								    <h:outputText value="#{msgs['transactions.chargebackstatus']}" />
								    <h:outputText styleClass="data_display" value="#{msgs[v.chargeBack.statusName]}" />

				 		 	        <h:outputText value="#{msgs['transactions.chargebackwriter']}" />
								    <h:outputText styleClass="data_display" value="#{v.chargeBack.writer}" />

 				 	 		      </h:panelGrid>

								<h:panelGrid rendered="#{v.ccDeposit}" border="0" columns="2" width="16%">
				 		 	        <h:outputText value="#{msgs['transactions.credit.amount']}" />
								    <h:outputText styleClass="data_display" value="#{transactionFormater.getCreditAmountTxt(v)}" />								    
								</h:panelGrid>
								
								<h:panelGrid rendered="#{v.rerouted}" border="0" columns="2" width="16%">								    
								    <h:outputText value="#{msgs['transactions.rerouting.from']}" rendered="#{v.ccDepositRerouteFrom}"/>
								    <h:outputText styleClass="data_display" value="#{v.reroutingTranId}" rendered="#{v.ccDepositRerouteFrom}"/>							    
																    
								    <h:outputText value="#{msgs['transactions.rerouting.id']}" rendered="#{v.ccDepositReroute}"/>
								    <h:outputText styleClass="data_display" value="#{v.transactionsReroutConnectedIDById}" rendered="#{v.ccDepositReroute}"/>
								</h:panelGrid>
								
								<h:panelGrid rendered="#{v.ccOrInternalWithdrawal}" border="0" columns="8" width="50%">
				 		 	        <h:outputText value="#{msgs['transactions.splitted.id']}" />
								    <h:outputText styleClass="data_display" rendered="#{v.splittedReferenceId>0}" value="#{v.splittedReferenceId}" />

				 		 	        <h:panelGroup rendered="#{v.creditWithdrawalInternal}">
					 		 	        <h:outputText value="#{msgs['transactions.credit.withdrawal']}" />
									    <h:outputText styleClass="data_display" rendered="#{v.creditWithdrawalInternal}" value="#{msgs['yes']}"/>
	   								    <h:outputText styleClass="data_display" rendered="#{!v.creditWithdrawalInternal}" value="#{msgs['no']}"/>
   								    </h:panelGroup>
   								    
   								    <h:panelGroup rendered="#{v.CFTWithdrawalInternal}">
	   								    <h:outputText value="#{msgs['transactions.CFT.withdrawal']}" />
									    <h:outputText styleClass="data_display" rendered="#{v.CFTWithdrawalInternal}" value="#{msgs['yes']}"/>
	   								    <h:outputText styleClass="data_display" rendered="#{!v.CFTWithdrawalInternal}" value="#{msgs['no']}"/>
   								    </h:panelGroup>
   								    
   								    <h:panelGroup rendered="#{v.howTransactionSplitted > 0 }">
	   								    <h:outputText value="#{msgs['transaction.how.splitted']}" />
	   								    <h:outputText styleClass="data_display" rendered="#{v.howTransactionSplitted == 1}" value="#{msgs['transactions.credit.withdrawal']}"/>
	   								    <h:outputText styleClass="data_display" rendered="#{v.howTransactionSplitted == 2}" value="#{msgs['transactions.CFT.withdrawal']}"/>
									    <h:outputText styleClass="data_display" rendered="#{v.howTransactionSplitted == 3}" value="#{msgs['transaction.split.between']}"/>
   								    </h:panelGroup>

				 		 	        <h:outputText value="#{msgs['transactions.deposit.reference.id']}" />
								    <h:outputText styleClass="data_display" rendered="#{v.depositReferenceId>0}" value="#{v.depositReferenceId}" />

								</h:panelGrid>
								
								 <h:panelGrid columns="2" width="15%" rendered="#{v.withdrawal}">
									<h:outputText value="#{msgs['transactions.withdraw.survey.answer']}" />
	   								<h:outputText styleClass="data_display" value="#{transactionFormater.getWithdrawSurveyAnswer(v)}"/>
   								</h:panelGrid>

							 </h:panelGrid>

			</f:facet>
			
        </t:dataTable>
        
            <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{transactionsForm.listSize>10}">
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
	                
            </t:dataScroller>

        </h:panelGrid>
        
         <t:buffer into="#{transactionsForm.htmlBuffer}">
        	<t:dataTable id="data2"
        	    rendered="#{writer.writer.id == 592 || writer.writer.id == 704}"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_ColumnCentered,standardTable_ColumnstandardTable_ColumnCentered,standardTable_ColumnstandardTable_ColumnCentered,standardTable_ColumnstandardTable_ColumnCentered,standardTable_ColumnstandardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="0"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                varDetailToggler="detailToggler"
                value="#{transactionsForm.transactionsList}"
               >
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.id']}"/>
               </f:facet>
              <h:outputText rendered="#{v.totalLine==0}" value="#{v.id}" />
           </h:column>

		   <t:column rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.username']}"/>
               </f:facet>
               		<h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{v.userName}"/>
			        <h:outputText style="font-weight:bold;color:#000000;" value=" #{v.userCountryCode}" />
           </t:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.timecreated']}"/>
               </f:facet>
               <h:outputText escape="false" rendered="#{v.totalLine==0 || v.totalLine>1 }" value="#{transactionFormater.getTimeCreatedTxt(v)}" />
           </h:column>
           
           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.timesettled']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{transactionFormater.getTimeSettledTxt(v)}" />
           </h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="#{msgs['transactions.ccnum']}"/>
				</f:facet>
				<h:outputText rendered="#{v.creditCardId!=null &amp;&amp; !utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.creditCard.ccNumberLast4NotMasked}" />
				<h:outputText rendered="#{v.creditCardId!=null &amp;&amp; utils.isWriterAllowedToViewCcFirst6Digits()}" value="#{v.creditCard.ccNumberXXXX}" />
			</h:column>
			
           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.type']}"/>
               </f:facet>
               <h:outputText value="#{transactionFormater.getTypeNameTxt(v)}" />
           </h:column>

            <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.status']}"/>
               </f:facet>
               <h:outputText rendered="#{v.totalLine==0}" value="#{msgs[transactionFormater.getStatusName(v)]}" />
               <h:outputText rendered="#{v.totalLine==2}" value="#{msgs['general.totalpage']}" />
                <h:outputText rendered="#{v.totalLine==3}" value="#{msgs['general.totalall']}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.credit']}"/>
               </f:facet>
               <h:outputText dir="ltr" rendered="#{v.credit &amp;&amp; v.totalLine==0}" value="#{transactionsForm.currencyAllSelected ? v.baseAmountTxt : v.amountTxt}" />
               <h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />
               <h:outputText rendered="#{v.totalLine>1}" value="#{transactionsForm.currencyAllSelected ? v.baseTotalCreditAmountTxt : v.totalCreditAmountTxt}" />
           </h:column>
           
           <h:column>           
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.debit']}"/>
               </f:facet>
               <h:outputText dir="ltr" rendered="#{!v.credit &amp;&amp; v.totalLine==0}" value="#{transactionsForm.currencyAllSelected ? v.baseAmountTxt : v.amountTxt}" />
               <h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />
               <h:outputText rendered="#{v.totalLine>1}" value="#{transactionsForm.currencyAllSelected ? v.baseTotalDebtAmountTxt : v.totalDebtAmountTxt}" />               
           </h:column>
           
           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.writername']}"/>
               </f:facet>
               <h:outputText rendered="#{v.totalLine==0}" value="#{transactionFormater.getWriterName(v)}" />
               <h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />
               <h:outputText rendered="#{v.totalLine>1}" styleClass="#{v.styleColor}" value="#{transactionsForm.currencyAllSelected ? v.baseTotalprofitAmountTxt : v.totalprofitAmountTxt}" />
           </h:column>

           <h:column rendered="#{!user.partnerSelected}">
               <f:facet name="header" >
	               <t:outputText value="#{msgs['action']}"/>
               </f:facet>
               		<h:outputText rendered="#{(v.wireDepositAndPending ||v.cashDepositAndPending || v.paypalDepositAndPending) &amp;&amp; (user.accountingSelected || user.supportSelected)}" value="#{msgs['general.approve']}" />
                	<h:outputText rendered="#{v.payPalDepositAndNotChargeBack &amp;&amp; user.accountingSelected}" value="#{msgs['transactions.chargeback']}" />
                    <h:outputText rendered="#{v.ccDepositAndNotChargeBack &amp;&amp; !v.haveCredits}" value="#{msgs['transactions.chargeback']}" />
               		<h:outputText rendered="#{v.ccDepositAndNotChargeBack &amp;&amp; v.haveCredits}" value="#{msgs['transactions.chargeback']}" />
               		<h:outputText rendered="#{v.ccDepositAndChargeBack}" value="#{msgs['transactions.chargebackdetails']}" />
               		<h:outputText rendered="#{v.inatecInProgress}" value="#{msgs['transactions.status.request.call']}" />

				<h:panelGroup rendered="#{(v.achDeposit || v.payPalDeposit || v.wireDeposit || v.cashDeposit || v.envoyBankingDeposit) &amp;&amp; v.statusId == 7}"> 
	               		<h:outputText  value="#{msgs['investments.cancel']}" />
					    <h:outputText rendered="#{user.hasSAdminRole || user.hasAccountingRole}" value="&#160;&#160;|&#160;&#160;" />
					    <h:outputText rendered="#{(user.hasSAdminRole &amp;&amp; (v.wireDeposit || v.cashDeposit))  || writer.writer.id == '16' &amp;&amp; (v.wireDeposit || v.cashDeposit)}" value="&#160;&#160;|&#160;&#160;" />
				</h:panelGroup>
				
				<h:panelGroup rendered="#{v.ccDepositAndPending &amp;&amp; !v.haveCredits}">
	               		<h:outputText rendered="#{v.ccDepositAndPending &amp;&amp; !v.haveCredits}" value="#{msgs['investments.cancel']}" />
					    <h:outputText rendered="#{user.hasSAdminRole || user.hasAccountingRole}" value="&#160;&#160;|&#160;&#160;" />
				</h:panelGroup>
				
				<h:panelGroup rendered="#{v.ccDepositAndPending &amp;&amp; v.haveCredits}">
	               		<h:outputText rendered="#{v.ccDepositAndPending &amp;&amp; v.haveCredits}" value="#{msgs['investments.cancel']}" />
			            <h:outputText rendered="#{user.hasSAdminRole || user.hasAccountingRole}" value="&#160;&#160;|&#160;&#160;" />
				</h:panelGroup>
           </h:column>
        </t:dataTable>
</t:buffer>
        

        </h:form>
    </h:panelGroup>
    

</ui:composition>
</html>
