<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<body>

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="head">
    <SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
</ui:define>
<ui:define name="content">
	<ui:include src="/jsp/suggest.xhtml" />

	<script>

<!--

	function AJAXInteraction(url, callback) {

    	var req = init();
	    req.onreadystatechange = processRequest;

	    function init() {
    		if (window.XMLHttpRequest) {
	        	return new XMLHttpRequest();
	        } else if (window.ActiveXObject) {
	        	return new ActiveXObject("Microsoft.XMLHTTP");
	        }
	    }

	    function processRequest () {
	      // readyState of 4 signifies request is complete
	      if (req.readyState == 4) {
		// status of 200 signifies sucessful HTTP call
	        if (req.status == 200) {
	          if (callback) callback(req.responseXML);
	        }
	      }
	    }

	    this.doGet = function() {
	      // make a HTTP GET request to the URL asynchronously
	      req.open("GET", url, true);
	      req.send(null);
    	}
	}

	/*
		Handles all actions upon country change
	*/
	function handleCountryChange() {
		if (document.getElementById("userForm:countriesRegulatedList")) {
			var countryId = document.getElementById("userForm:countriesRegulatedList").value;
		} else {
			var countryId = document.getElementById("userForm:countriesNotregulatedList").value;
		}

	    var elmStateList = document.getElementById("userForm:statesList");
	    var elmStateLbl = document.getElementById("userForm:statesLabel");

	    if(countryId==220){
		    if(navigator.userAgent.toLowerCase().indexOf("msie") != -1) {
		    	document.getElementById("userForm:statesList").parentNode.parentNode.style.display="block";
		    	document.getElementById("userForm:statesLabel").parentNode.parentNode.style.display="block";
			} else {
		    	document.getElementById("userForm:statesList").parentNode.parentNode.style.display="table-row";
		    	document.getElementById("userForm:statesLabel").parentNode.parentNode.style.display="table-row";
			}
	    } else {
	    	document.getElementById("userForm:statesList").parentNode.parentNode.style.display="none";
	    	document.getElementById("userForm:statesLabel").parentNode.parentNode.style.display="none";

	    }

	    var url = "ajax.jsf?countryId=" + countryId;
	    var ajax = new AJAXInteraction(url, handleCountryChangeCallback);
	    ajax.doGet();
	}

	/*
		callBack function for changePhoneCodeByCountry()
	*/
	function handleCountryChangeCallback(responseXML) {
		changeCountryCode(responseXML);
	}

	/*
	   Change the currencies drop down by the value of the country
	*/
	function changeCountryCode(responseXML) {
		var codeValue = responseXML.getElementsByTagName("phoneCode")[0].firstChild.nodeValue;
		var mobileCodeElm = document.getElementById("userForm:mobileCountryPhoneCode");
   	   	var phoneCodeElm = document.getElementById("userForm:landlineCountryPhoneCode");
   	   	mobileCodeElm.value = codeValue;
	   	phoneCodeElm.value = codeValue;
	}

	/*
		Handles upon currency change
	*/
	function handleCurrencyChange() {
	    var currencyId = document.getElementById("userForm:currenciesList").value;
	    var url = "ajax.jsf?currencyId=" + currencyId;
	    var ajax = new AJAXInteraction(url, handleCurrencyChangeCallback);
	    ajax.doGet();
	}

	/*
		callBack function for handleCurrencyChange()
	*/
	function handleCurrencyChangeCallback(responseXML) {
		var value = responseXML.getElementsByTagName("limitId")[0].firstChild.nodeValue;
		var elm = document.getElementById("userForm:limitId");
  	   	elm.value = value
	}

	function handleUserDisableChange(isUserDisable) {
		if (isUserDisable.checked) {
	    	var isRisky = document.getElementById("userForm:isRisky");
	    	isRisky.checked = true;
	   	}
	}

	function handleIsRiskyChange(isRisky) {
		if (!isRisky.checked) {
	    	var isUserDisable = document.getElementById("userForm:isUserDisable");
	    	isUserDisable.checked = false;
	   	}
	}


-->

</script>


	<t:panelGroup id="body">

		<h:form id="userForm">

		<t:panelGrid border="0" columns="1" width="100%">
            
            <t:panelGrid border="0" columns="1">
            <t:outputLabel  value="#{msgs['regulation.high.risk.account']}" rendered="#{user.skin.isRegulated()}" style="color:red;"/>
            </t:panelGrid>
			<t:panelGrid border="0" columns="2">
				<t:outputLabel  for="skins" value="#{msgs['register.skin']}" rendered="#{((user.hasSAdminRole || user.hasAdminRole || user.hasRetentionMRole || writer.writer.id==11 ) &amp;&amp; writer.skinsSize>1 &amp;&amp; !user.skin.isRegulated())}" />
		     	<t:selectOneMenu id="skins" value="#{editUserForm.skinId}" rendered="#{((user.hasSAdminRole || user.hasAdminRole || user.hasRetentionMRole || writer.writer.id==11 ) &amp;&amp; writer.skinsSize>1 &amp;&amp; !user.skin.isRegulated())}" >
		        	<f:selectItems value="#{writer.skinsNotRegulatedSI}" />
		        </t:selectOneMenu>
		        
		        <t:outputLabel  for="skinsReg" value="#{msgs['register.skin']}" rendered="#{((user.hasSAdminRole || user.hasAdminRole || user.hasRetentionMRole || writer.writer.id==11 ) &amp;&amp; writer.skinsSize>1 &amp;&amp; user.skin.isRegulated())}" />
		     	<t:selectOneMenu id="skinsReg" value="#{editUserForm.skinId}" rendered="#{((user.hasSAdminRole || user.hasAdminRole || user.hasRetentionMRole || writer.writer.id==11 ) &amp;&amp; writer.skinsSize>1 &amp;&amp; user.skin.isRegulated())}" >
		        	<f:selectItems value="#{writer.skinsRegulatedSI}" />
		        </t:selectOneMenu>

				<h:outputLabel styleClass="text_gray_12_bold"  for="countriesRegulatedList" value="#{msgs['register.country']}" rendered="#{user.skin.isRegulated()}"/>
	            <h:selectOneMenu id="countriesRegulatedList" value="#{editUserForm.countryId}" required="true" onchange="handleCountryChange();"  rendered="#{user.skin.isRegulated()}">
	            	<c:if test="${!user.getCountry().isRegulated()}">
		               	<f:selectItem itemLabel="#{msgs[user.countryName]}" itemValue="#{user.countryId}" />
		            </c:if>
	            	<f:selectItems value="#{applicationData.countriesRegulatedList}" />
		        </h:selectOneMenu>
		         
		         <h:outputLabel styleClass="text_gray_12_bold"  for="countriesNotregulatedList" value="#{msgs['register.country']}" rendered="#{!user.skin.isRegulated()}"/> 
	            <h:selectOneMenu id="countriesNotregulatedList" value="#{editUserForm.countryId}" required="true" onchange="handleCountryChange();"  rendered="#{!user.skin.isRegulated()}">
	            	<c:if test="${user.countryId == 220 or user.getCountry().isRegulated()}">
		               	<f:selectItem itemLabel="#{msgs[user.countryName]}" itemValue="#{user.countryId}" />
		            </c:if>
	            	<f:selectItems value="#{applicationData.countriesNotRegulatedList}" />
		        </h:selectOneMenu>

		        <h:outputLabel styleClass="text_gray_12_bold"  for="languagesList" value="#{msgs['register.language']}"/>
	            <h:selectOneMenu id="languagesList" value="#{editUserForm.languageId}" required="true">
	            	<f:selectItems value="#{writer.languagesSI}" />
		        </h:selectOneMenu>

		        <h:outputLabel id="statesLabel" align="right" styleClass="lable_text" for="statesList" value="#{msgs['register.state']}"/>
				<h:panelGrid id="stateGrid" columns="1" border="0">
		            <h:selectOneMenu styleClass="input" id="statesList" value="#{editUserForm.state}" required="true">
	                		<f:selectItems value="#{applicationData.statesList}" />
			        </h:selectOneMenu>
			        <t:message id="stateError" replaceIdWithLabel="true"/>
				</h:panelGrid>

               	<t:outputLabel  for="classId" value="#{msgs['register.class']}"/>
				<t:panelGrid border="0" columns="2">
               		<t:selectOneMenu rendered="#{editUserForm.classId!=0}" immediate="true" disabled="#{!user.hasAdminRole &amp;&amp; !user.hasSAdminRole}" id="classId"
               			valueChangeListener="#{editUserForm.updateClass}"
            			onchange="this.form.submit();"
        				value="#{editUserForm.classId}"  >
    					<f:selectItems value="#{writer.userClassesNoEmptySI}" />
	               	</t:selectOneMenu>
	               	<t:outputText rendered="#{editUserForm.classId==0}" value="#{msgs['user.class.test']}"/>
               		<t:message id="classIdError" for="classId" replaceIdWithLabel="true" styleClass="error"/>
	      		</t:panelGrid>

               	<t:outputText rendered="#{user.writerId != 0}" value="#{msgs['campaigns.writer']}"/>
				<t:outputText rendered="#{user.writerId != 0}" styleClass="data_display" value="#{user.writerName}"/>

				<h:outputLabel rendered="#{editUserForm.classCompany}" styleClass="text_gray_12_bold" for="companyName" value="#{msgs['register.companyname']}"/>
	            <h:panelGrid rendered="#{editUserForm.classCompany}" columns="2" border="0">
	                <h:inputText styleClass="input_text" size="20" maxlength="20" id="companyName" value="#{editUserForm.companyName}" required="true"
						 >
	                </h:inputText>
	                <t:message id="companyNameError" for="companyName" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<h:outputLabel rendered="#{editUserForm.classCompany}" styleClass="text_gray_12_bold"  for="companyId" value="#{msgs['register.companyid']}"/>
	            <h:panelGrid rendered="#{editUserForm.classCompany}" columns="2" border="0">
		            <h:inputText size="10" maxlength="10" dir="ltr" styleClass="input_text" id="companyId" value="#{editUserForm.companyId}" required="true">
	                	<f:validateLongRange/>
		            </h:inputText>
		            <t:message id="companyIdError" for="companyId" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

	            <t:selectBooleanCheckbox rendered="#{user.etrader}" disabled="#{!user.hasAdminRole}" id="taxExemption" value="#{editUserForm.taxExemption}" />
				<h:panelGrid rendered="#{user.etrader}" columns="2" border="0">
	                <h:outputLabel styleClass="text_gray_12_bold" for="taxExemption" value="#{msgs['register.taxexemption']}"/>
	                <t:message id="taxExemptionError" for="taxExemption" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

				<t:outputText value="#{msgs['register.username']}"/>
				<t:outputText styleClass="data_display" value="#{user.userName}"/>
				
				<t:outputText value="#{msgs['user.failedcount']}"/>
				<t:outputText styleClass="data_display" value="#{user.failedCount}"/>

				<t:outputText value="#{msgs['user.lastfailedtime']}"/>
				<t:outputText styleClass="data_display" escape="false" value="#{user.lastFailedTime}">
					<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{user.utcOffset}" />
				</t:outputText>

				<h:outputLabel styleClass="text_gray_12_bold" for="firstName" value="#{msgs['register.firstname']}"/>
	            <h:panelGrid columns="2" border="0">
					<t:inputText disabled="#{!user.hasAdminRole}" styleClass="input_text" size="15" maxlength="15" id="firstName" value="#{editUserForm.firstName}" required="true"
	                	 >
	                </t:inputText>
	                <t:message id="firstNameError" for="firstName" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="lastName" value="#{msgs['register.lastname']}"/>
	            <h:panelGrid columns="2" border="0">
					<t:inputText disabled="#{!user.hasAdminRole}" styleClass="input_text" size="15" maxlength="15" id="lastName" value="#{editUserForm.lastName}" required="true"
	                	 >
	                </t:inputText>
	                <t:message id="lastNameError" for="lastName" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="street" value="#{msgs['register.street']}"/>
	            <h:panelGrid columns="2" border="0">
	            	<t:inputText styleClass="input_text" size="37" maxlength="40" id="street" value="#{editUserForm.street}" required="false"
		            	>
	                </t:inputText>
	                <t:message id="streetError" for="street" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="streetno" value="#{msgs['register.streetno']}"/>
	            <h:panelGrid columns="2" border="0">
	              <t:inputText dir="ltr" size="5" maxlength="6" styleClass="input_text" id="streetno" value="#{editUserForm.streetNo}"
	                 validator="#{utils.validateStreetNo}" >
	                 <f:validateLength maximum='6'/>
                  </t:inputText>
                <t:message id="streetnoError" for="streetno" replaceIdWithLabel="true" styleClass="error"/>
         		</h:panelGrid>

   			    <h:outputLabel styleClass="text_gray_12_bold" for="cityId" value="#{msgs['register.city']}"/>
	            <h:panelGrid columns="2" border="0">
			         <t:inputText size="24" maxlength="24" autocomplete="off" styleClass="input_text" id="cityId" name="cityId" value="#{editUserForm.cityName}" required="false" />
 			  	     <t:message id="cityIdError" for="cityId" replaceIdWithLabel="true" styleClass="error"/>
	        	</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="zipCode" value="#{msgs['register.postcode']}"/>
	            <h:panelGrid columns="2" border="0">
					<t:inputText styleClass="input_text" dir="ltr" maxlength="6" id="zipCode" size="6" value="#{editUserForm.zipCode}" ></t:inputText>
	                <t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

 				<h:outputLabel styleClass="text_gray_12_bold" for="email" value="#{msgs['register.email']}" />
				<h:panelGrid columns="2" border="0" cellspacing="0" cellpadding="0">
					<h:panelGrid columns="4">
						<t:outputText styleClass="data_display" value="#{editUserForm.email}"  rendered="#{((!user.hasAdminRole &amp;&amp; !editUserForm.canEditEmail) &amp;&amp; !(writer.writer.id==43) &amp;&amp; !(writer.writer.id==312))}"/>
		                <t:inputText dir="ltr" size="35" maxlength="50" styleClass="input_text" id="email" value="#{editUserForm.email}" required="true" rendered="#{(editUserForm.canEditEmail || user.hasAdminRole || writer.writer.id==43 || writer.writer.id==312)}">
		                    <f:validator validatorId="org.apache.myfaces.validator.Email"/>
		                </t:inputText>
		                <t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error"/>
			            <h:selectBooleanCheckbox id="contactByEmail" value="#{editUserForm.contactByEmail}" required="true"/>
						<h:panelGrid columns="2" border="0">
			                <h:outputLabel styleClass="data_display" for="contactByEmail" value="#{msgs['register.contactbyemail']}"/>
			                <t:message id="contactByEmailError" replaceIdWithLabel="true" for="contactByEmail" styleClass="error"/>
					   </h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>

				<h:outputText id="birth" styleClass="text_gray_12_bold" value="#{msgs['register.birthdate']}"/>
				<h:panelGrid columns="2" border="0">
					<h:panelGrid dir="RTL" columns="9">
	 					<h:outputLabel styleClass="text_gray_12" for="birthYear" value="#{msgs['register.birthyear']}"/>
	               		<h:selectOneMenu styleClass="input_text" id="birthYear" value="#{editUserForm.birthYear}"  >
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.years}" />
	               		</h:selectOneMenu>
						<t:message id="birthYearError" for="birthYear" replaceIdWithLabel="true" styleClass="error"/>

	                	<h:outputLabel styleClass="text_gray_12" for="birthMonth" value="#{msgs['register.birthmonth']}"/>
	               		<h:selectOneMenu styleClass="input_text" id="birthMonth" value="#{editUserForm.birthMonth}" >
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.months}" />
	               		</h:selectOneMenu>
						<t:message id="birthMonthError" for="birthMonth" replaceIdWithLabel="true" styleClass="error"/>

	               		<h:outputLabel styleClass="text_gray_12" for="birthDay" value="#{msgs['register.birthday']}"/>
	                	<h:selectOneMenu styleClass="input_text" id="birthDay" value="#{editUserForm.birthDay}" >
	                		<f:selectItem  itemLabel="" itemValue="" />
	                		<f:selectItems value="#{applicationData.days}" />
	                	</h:selectOneMenu>
						<t:message id="birthDayError" for="birthDay" replaceIdWithLabel="true" styleClass="error"/>
	    	        </h:panelGrid>
	       		</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="mobilePhone" value="#{msgs['register.mobilephone']}"/>
				<h:panelGrid columns="2" border="0" cellspacing="0" cellpadding="0">

					<h:panelGrid columns="4">
						<h:inputText maxlength="4" styleClass="text_gray_12" style="width:45px;"  disabled="true" id="mobileCountryPhoneCode" value="#{editUserForm.mobileCountryPhoneCode}"  >
		                	<f:validateLongRange/>
		                	<f:validateLength minimum='1' maximum='4'/>
						</h:inputText>

						<h:inputText size="27" maxlength="20" styleClass="text_gray_12" id="mobilePhone" value="#{editUserForm.mobilePhone}" >
							<f:validateLongRange/>
							<f:validateLength minimum='7' maximum='20'/>
	                	</h:inputText>

						<h:selectBooleanCheckbox id="contactSMS" value="#{editUserForm.contactBySMS}" required="true"/>
						<h:panelGrid columns="2" border="0">
							<h:outputLabel styleClass="text_gray_12_bold" for="contactSMS" value="#{msgs['register.contactbysms']}"/>
							<t:message id="contactSMSError" for="contactSMS" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>

					</h:panelGrid>

					<h:panelGrid columns="2">
							<t:message id="mobileCountryPhoneCodeError" for="mobileCountryPhoneCode" replaceIdWithLabel="true" styleClass="error"/>
							<t:message id="mobilePhoneError" for="mobilePhone" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
				</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="landLinePhone" value="#{msgs['register.phone']}"/>
				<h:panelGrid columns="2" border="0" cellspacing="0" cellpadding="0">
					<h:panelGrid columns="2">
						<h:inputText maxlength="4" styleClass="text_gray_12" style="width:45px;" disabled="true" id="landlineCountryPhoneCode" value="#{editUserForm.landlineCountryPhoneCode}" >
							<f:validateLongRange/>
							<f:validateLength minimum='1' maximum='4'/>
						</h:inputText>

	               	   	<h:inputText size="27" maxlength="20" styleClass="text_gray_12" id="landLinePhone" value="#{editUserForm.landLinePhone}" required="false">
	                	  	<f:validateLongRange/>
	                	  	<f:validateLength minimum='7' maximum='20'/>
	                	</h:inputText>
					</h:panelGrid>
					<h:panelGrid columns="2">
						<t:message id="landlineCountryPhoneCodeError" for="landlineCountryPhoneCode" replaceIdWithLabel="true" styleClass="error"/>
						<t:message id="landLinePhoneError" for="landLinePhone" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
				</h:panelGrid>

				<h:panelGrid width="1" rendered="#{!user.contactByPhone}"/>
				<h:panelGrid columns="2" border="0" rendered="#{!user.contactByPhone}">
					<h:selectBooleanCheckbox id="contactPhone" value="#{editUserForm.contactByPhone}" required="true"/>
					<h:outputLabel styleClass="text_gray_12_bold" for="contactPhone" value="#{msgs['register.contactbyphone']}"/>
					<t:message id="contactPhoneError" for="contactPhone" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="gender" value="#{msgs['register.gender']}"/>
	  			<h:panelGrid columns="2" border="0">
	                <t:selectOneRadio styleClass="data_display"  id="gender" value="#{editUserForm.gender}" required="false">
	            		<f:selectItem  itemLabel="#{msgs['register.gender.male']}" itemValue="M" />
						<f:selectItem  itemLabel="#{msgs['register.gender.female']}" itemValue="F" />
	            	</t:selectOneRadio>
	            	<t:message id="genderError" for="gender" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>
	            
	            <h:outputLabel	rendered="#{editUserForm.copyopNickname != null and editUserForm.copyopNickname != ''}" styleClass="text_gray_12_bold" for="gender" value="#{msgs['copyop.nickname']}"/>
	            <t:outputText	rendered="#{!user.hasCopyopDetailsRole and (editUserForm.copyopNickname != null and editUserForm.copyopNickname != '')}" styleClass="data_display" value="#{editUserForm.copyopNickname}"/>
	            <h:panelGrid columns="2" border="0" rendered="#{user.hasCopyopDetailsRole and (editUserForm.copyopNickname != null and editUserForm.copyopNickname != '')}" >	            
	            	<t:inputText id="nickname" size="10" dir="ltr" styleClass="input_text" value="#{editUserForm.copyopNickname}" />
	            	<t:message id="nicknameError" for="nickname" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>	            	

				<h:outputLabel rendered="#{user.etrader}" styleClass="text_gray_12_bold"  for="idNum" value="#{msgs['register.idnum']}"/>
				<h:panelGrid rendered="#{user.etrader}" columns="2" border="0">
					<t:inputText size="10" maxlength="10" dir="ltr" styleClass="input_text" id="idNum" value="#{editUserForm.idNum}" disabled="#{!(user.hasSAdminRole || user.hasAdminRole)}" >
					</t:inputText>
					<t:message id="idNumError" for="idNum" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel  for="comments" value="#{msgs['register.comments']}"/>
				<t:panelGrid border="0" columns="2">
					<t:inputTextarea cols="50" rows="3" id="comments" value="#{editUserForm.comments}"  >
						<f:validateLength maximum="100"/>
					</t:inputTextarea>
					<t:message id="commentsError" for="comments" replaceIdWithLabel="true" styleClass="error"/>
				</t:panelGrid>

				<t:outputText value="#{msgs['register.ip']}"/>
				<t:outputText styleClass="data_display" value="#{user.ip}"/>

	            <h:outputLabel style="#{writer.etrader ? 'display:none':'display:inline'}" styleClass="text_gray_12_bold"
	            		rendered="#{(user.hasSAdminRole || user.hasAdminRole || user.hasSalesMExt) &amp;&amp; !editUserForm.haveApprovedAllClassTypeDeposits || writer.writer.id == 716}"
			            for="currenciesList" value="#{msgs['register.currency']}"/>
				<h:panelGrid style="#{writer.etrader ? 'display:none':'display:inline'}"  columns="2" border="0"
							rendered="#{(user.hasSAdminRole || user.hasAdminRole || user.hasSalesMExt) &amp;&amp; !editUserForm.haveApprovedAllClassTypeDeposits}">
		            <h:selectOneMenu id="currenciesList" value="#{editUserForm.currencyId}" required="true"
			            	onchange="handleCurrencyChange();" >
			        	<f:selectItems value="#{writer.currenciesSI}"/>
			        </h:selectOneMenu>
					<t:message id="currencyIdError" for="currencyId" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

				<t:outputLabel for="limitId" value="#{msgs['register.limit']}"/>
				<t:panelGrid border="0" columns="2">
					<t:selectOneMenu disabled="#{((user.hasSAdminRole || user.hasAdminRole || user.hasSalesMExt) &amp;&amp; !editUserForm.haveApprovedDeposits) ? false : true}" id="limitId" value="#{editUserForm.limitId}" >
						<f:selectItems value="#{editUserForm.limitsBySkins}" />
					</t:selectOneMenu>
					<t:message id="limitIdError" for="limitId" replaceIdWithLabel="true" styleClass="error"/>
				</t:panelGrid>

				<h:outputLabel rendered="false" styleClass="text_gray_12_bold" for="isNextInvOfUs" value="#{msgs['register.nextinvestment.onus']}"/>
        		<h:panelGrid rendered="false" columns="2" border="0">
					<t:selectOneRadio disabled="#{!user.hasAdminRole}" styleClass="data_display"  id="isNextInvOfUs" value="#{editUserForm.isNextInvestOnUs}" required="true">
	            		<f:selectItem  itemLabel="#{msgs['no']}" itemValue="0" />
						<f:selectItem  itemLabel="#{msgs['yes']}" itemValue="1" />
					</t:selectOneRadio>
				</h:panelGrid>

				<h:outputLabel rendered="#{(user.hasSAdminRole || user.hasAdminRole || user.hasRetentionMRole || writer.writer.id == 237)}" styleClass="text_gray_12_bold" for="depositDoc" value="#{msgs['register.deposit.documents']}"/>
				<h:panelGrid rendered="#{(user.hasSAdminRole || user.hasAdminRole || user.hasRetentionMRole || writer.writer.id == 237)}" columns="2" border="0">
					<t:selectOneRadio styleClass="data_display mid_align_children"  id="depositDoc" value="#{editUserForm.sendDepositDocs}" required="true">
						<f:selectItems value="#{writer.yesNoSI}" />
					</t:selectOneRadio>
					<h:outputLabel  styleClass="text_gray_12_bold mid_align" style="margin-left:10px;" escape= "false" value="#{editUserForm.changedSentDepositDoc}"/>
				</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="falseAccount" value="#{msgs['register.false.account']}" rendered="#{user.falseAccount}"/>
				<h:panelGrid columns="2" border="0" rendered="#{user.falseAccount}">
					<h:selectBooleanCheckbox id="falseAccount" value="#{editUserForm.falseAccount}" required="true"/>
					<t:message id="falseAccountError" for="falseAccount" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<h:outputLabel rendered="#{user.skinId != 1 &amp;&amp; user.skinId != 11}" styleClass="text_gray_12_bold" for="authrorized" value="#{msgs['register.email.autorized']}"/>
				<t:selectBooleanCheckbox rendered="#{user.skinId != 1 &amp;&amp; user.skinId != 11}" disabled="#{!(user.hasAdminRole || user.hasRetentionMRole || user.hasSSupportRole)}" id="authrorized" value="#{editUserForm.authorizedMail}" />

				<h:outputLabel rendered="#{user.hasSAdminRole || user.hasASTraderRole || writer.writer.id==16}" styleClass="text_gray_12_bold" for="isRisky" value="#{msgs['register.risky']}"/>
				<t:selectBooleanCheckbox rendered="#{user.hasSAdminRole || user.hasASTraderRole || writer.writer.id==16}" disabled="#{writer.writer.id==16}" id="isRisky" value="#{editUserForm.risky}" onchange="handleIsRiskyChange(this);"/>

				<h:outputLabel rendered="#{user.hasSAdminRole || user.hasASTraderRole || writer.writer.id==16}" styleClass="text_gray_12_bold" for="isUserDisable" value="#{msgs['register.user.disable']}"/>
				<t:selectBooleanCheckbox rendered="#{user.hasSAdminRole || user.hasASTraderRole || writer.writer.id==16}" disabled="#{writer.writer.id==16}" id="isUserDisable" value="#{editUserForm.userDisable}" onchange="handleUserDisableChange(this);"/>


				<h:outputLabel rendered="#{(user.hasSAdminRole || user.hasAdminRole)}" styleClass="text_gray_12_bold" for="depositDoc" value="#{msgs['register.special.care']}"/>
				<h:panelGrid rendered="#{(user.hasSAdminRole || user.hasAdminRole)}" columns="2" border="0">
					<t:selectOneRadio styleClass="data_display"  id="specialCare" value="#{editUserForm.specialCareManualy}" disabled="#{!user.specialCare.canChangeToNo}" required="true">
						<f:selectItems value="#{writer.yesNoSI}" />
					</t:selectOneRadio>
				</h:panelGrid>
				
				<h:outputLabel rendered="#{(user.hasSAdminRole || user.hasAdminRole)}" styleClass="text_gray_12_bold" for="stopReverseWithdrawOption" value="#{msgs['register.stop.reverse.withdraw.option']}"/>
				<t:selectBooleanCheckbox rendered="#{(user.hasSAdminRole || user.hasAdminRole)}" id="stopReverseWithdrawOption" value="#{editUserForm.stopReverseWithdrawOption}" />
				
				<h:outputLabel rendered="#{(user.hasSAdminRole || user.hasAdminRole)}" styleClass="text_gray_12_bold" for="immediateWithdraw" value="#{msgs['register.immediate.withdraw']}"/>
				<t:selectBooleanCheckbox rendered="#{(user.hasSAdminRole || user.hasAdminRole)}" id="immediateWithdraw" value="#{editUserForm.immediateWithdraw}" />
				
				<h:outputLabel  styleClass="text_gray_12_bold" for="waiveDepositsVelocityCheck" value="#{msgs['register.waive.velocity.check']}"/>
				<t:selectBooleanCheckbox id="waiveDepositsVelocityCheck" disabled="true" value="#{editUserForm.waiveDepositsVelocityCheck}" />
				
				<h:outputLabel  styleClass="text_gray_12_bold" for="copyopBlock" value="#{msgs['register.copyop.Block']}"/>
				<t:selectBooleanCheckbox id="copyopBlock" disabled="true" value="#{editUserForm.copyopBlock}" />
				
				<h:outputLabel  styleClass="text_gray_12_bold" for="copyopRemove" value="#{msgs['register.copyop.Remove']}"/>
				<t:selectBooleanCheckbox id="copyopRemove" disabled="true" value="#{editUserForm.copyopRemove}" />
				
				<h:outputLabel  styleClass="text_gray_12_bold" for="copyopRemove" value="#{msgs['register.disable.cc.deposits']}"/>
				<t:selectBooleanCheckbox id="disableCCdeposits" disabled="true" value="#{editUserForm.disableCcDeposits}" />

				<h:outputLabel  styleClass="text_gray_12_bold" for="regularReport" value="#{msgs['register.regular.report.mail']}"/>
				<h:panelGrid rendered="#{(user.hasSAdminRole || user.hasAdminRole)}" columns="2" border="0">
					<t:selectBooleanCheckbox id="regularReport"  value="#{editUserForm.regularReportMail}" />
					<h:outputText value="#{msgs['register.regular.report.mail.suggestion']}" />
				</h:panelGrid>
				
				<h:outputLabel  styleClass="text_gray_12_bold" for="bubblesLevels" value="#{msgs['register.bubbles.pricing.levels']}"/>
				<t:panelGrid border="0" columns="2">
					<t:selectOneMenu id="bubblesLevels" value="#{editUserForm.bubblesPricingLevel}" >
						<f:selectItems value="#{editUserForm.getUserBubblesPricingLevels()}" />
					</t:selectOneMenu>
					<t:message id="bubblesLevelsError" for="bubblesLevels" replaceIdWithLabel="true" styleClass="error"/>
				</t:panelGrid>

				<h:outputLabel  styleClass="text_gray_12_bold" for="showCancelInvestment" value="#{msgs['user.show.cancel.investment']}"/>
				<t:selectBooleanCheckbox id="showCancelInvestment" value="#{editUserForm.showCancelInvestment}" />
				
			</t:panelGrid>

			<t:panelGrid style="text-align:left" columns="1" border="0" width="35%" >
				<t:commandLink  action="#{editUserForm.updateUser}">
					<h:outputText value="#{msgs['button.save']}" />
		 		</t:commandLink>
			</t:panelGrid>

		</t:panelGrid>

		</h:form>

	</t:panelGroup>

	<SCRIPT language="JavaScript">
    	var bEtrader = "#{user.etrader}"=="true";
    	if (bEtrader) {
		    citiesObj = new actb(document.getElementById('userForm:cityId'),citiesArr);
	    }
		handleCountryChange();
	</SCRIPT>

</ui:define>
</ui:composition>
</body>
</html>