<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
	
	 <t:saveState value="#{userDetailsHistoryChanges}" />
    <h:panelGroup >

		<h:form id="userDetailsHistoryChangesForm">

			<h:panelGrid border="0" columns="1" width="100%">			

  			   <h:panelGrid border="0" columns="11" >
  			   
  			   <h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="from" value="#{userDetailsHistoryChanges.from}" maxlength="10" size="9" dir="ltr" required="true" onclick="cal.select(document.forms['userDetailsHistoryChangesForm'].elements['userDetailsHistoryChangesForm:from'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['userDetailsHistoryChangesForm'].elements['userDetailsHistoryChangesForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

		        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
				<h:panelGrid border="0" columns="3">
	  			  <h:inputText styleClass="input_text" id="to" value="#{userDetailsHistoryChanges.to}" maxlength="10" size="9" dir="ltr" required="true" onclick="cal.select(document.forms['userDetailsHistoryChangesForm'].elements['userDetailsHistoryChangesForm:to'],'anchor2','dd/MM/yyyy'); return false;">
	    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			      </h:inputText>
			      <A HREF="#" onClick="cal.select(document.forms['userDetailsHistoryChangesForm'].elements['userDetailsHistoryChangesForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		          </A>
				  <t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

			<h:outputLabel for="type" value="#{msgs['user.history.field']}"/>
	   			<h:selectOneMenu  id="fieldId" value="#{userDetailsHistoryChanges.fieldId}">
	   			<f:selectItem id="all" itemLabel="#{msgs['changed.user.details.all']}" itemValue="0"/>
				<f:selectItems value="#{writer.userHistoryFieldsSI}" />
		   	</h:selectOneMenu>

 			    <h:panelGrid border="0" columns="1" width="20">
			    </h:panelGrid>

	   	        
			<h:outputLabel for="writerId" value="#{msgs['population.entry.writer']}"/>
	   			<h:selectOneMenu  id="writerId" value="#{userDetailsHistoryChanges.writerId}">
	   				<f:selectItems value="#{writer.historyWriters}" />
		   	</h:selectOneMenu>
	  			
				<t:commandLink action="#{userDetailsHistoryChanges.search}">
		                <h:outputText value="#{msgs['button.search']}" />
	  			</t:commandLink>

		       </h:panelGrid>

		   <h:outputText styleClass="general_message" rendered="#{userDetailsHistoryChanges.historyList.size()==0}"
  		   				value="#{msgs['general.no.changes']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="10"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{userDetailsHistoryChanges.historyList}"
           >

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['user.history.id']}"/>
               </f:facet>              
               		<h:outputText value="#{v.id}" />                   
            </h:column>
            
            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['user.history.field']}"/>
               </f:facet>              
               		<h:outputText value="#{v.field}" />                   
            </h:column>
            
			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['user.history.old']}"/>
               </f:facet>              
               		<h:outputText value="#{v.oldValue}" />                   
            </h:column>
            
			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['user.history.new']}"/>
               </f:facet>              
               		<h:outputText value="#{v.newValue}" />                   
            </h:column>
            
			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['user.history.changed']}"/>
               </f:facet>              
               		<h:outputText value="#{v.changedBy}" />                   
            </h:column>
            
			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['user.history.date']}"/>
               </f:facet>              
               		<h:outputText value="#{v.timeCreatedTxt}" />                   
            </h:column>
            
        </t:dataTable>

		 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{userDetailsHistoryChanges.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>        
        
        </h:panelGrid>

        </h:form>

    </h:panelGroup>
</ui:define>
</ui:composition>
</html>
