<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="head">
    <SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
</ui:define>
<ui:define name="content">
	#{withdrawForm.initWebmoneyWithdraw}
	<t:saveState value="#{withdrawForm}" />
    <h:panelGroup>
		<h:form id="withdrawForm">
    		<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />
            <h:panelGrid border="0" columns="1" width="100%">
	            <h:panelGrid columns="2" border="0">
					<h:outputLabel styleClass="text_gray_12_bold" value="#{msgs['envoy.select']}"/>
					<h:panelGrid  columns="2" border="0" styleClass="" align="" >
	      	          	<h:inputText dir="ltr" styleClass="text_gray_12_bold" size="25" maxlength="13" id="accountNumWebmoney" value="#{withdrawForm.webMoneyPurse}" required="true">
	                	</h:inputText>
                    	<t:message id="accountNumError" for="accountNumWebmoney" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGrid>
            		<h:outputLabel for="amount" value="#{msgs['withdraw.amount']}"/>
		            <h:panelGrid columns="3" >
		                <h:inputText size="5" maxlength="9" dir="ltr" id="amount" value="#{withdrawForm.amount}" required="true">
	 						<f:validateDoubleRange />
		                </h:inputText>
		        	<h:outputText value="#{msgs[user.currency.symbol]}"/>
		        	<t:message id="amountError" for="amount" replaceIdWithLabel="true" styleClass="error"/>
	             </h:panelGrid>
          	 </h:panelGrid>
        	 <h:panelGrid style="text-align:left" columns="1" border="0" width="30%" >
        	    <h:panelGrid columns="2"   >
              	<h:outputText value="#{msgs['withdraw.fee.global.exempt']}"/>
               		<t:selectBooleanCheckbox value="#{withdrawForm.feeCancel}" disabled = "#{!user.hasAccountingRole}"/>
             	 <h:outputText/>
             </h:panelGrid>
				<t:commandButton
	         		id="btnImage"
	         		image="/images/submit_u.jpg"
	         		onmouseover="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
	         		onmouseout="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
	         		onclick="gowait('withdrawForm:btnImage','withdrawForm:hiddenWithdraw','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
	         				 return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenWithdraw');" >
	         	</t:commandButton>
	         	<h:commandLink
	         	    id="hiddenWithdraw"
				    action="#{withdrawForm.insertWebMoneyWithdraw}"
				    style="display:none">
			   </h:commandLink>
            </h:panelGrid>
        </h:panelGrid>
 	</h:form>
</h:panelGroup>
</ui:define>
</ui:composition>

</html>
